<div id="helpnav" class="column span-4">
  <div class="quiet box">
    <ul>
      <% for action_name in %w(index getting_started) %>
        <li class="<%= 'current' if current_page?(:action => action_name) %>">
          <%= link_to (action_name == "index" ? "Home / FAQ" : action_name.humanize), :action => action_name %>
        </li>
      <% end %>
      <li>
        <a href="<%= CONFIG.feedback_url %>" title="iNaturalist | Google Groups">Feedback Group</a>
      </li>
    </ul>
  </div>
</div>