<div id="add_batch_dialog" style="display: none" class="modalbox dialog">
  <span class="close corner">&times;</span>
  <h2 class="header">Add a Batch of Taxa</h2>
  <p class="description">Paste in a bunch of names, 1 per line, and hit the button!</p>
  <%= form_tag :action => 'add_taxon_batch', :id => @list do %>
    <label for="names">Names</label>
    <%= text_area_tag :names, '', :style => 'width: 580px' %>
    <%= submit_tag 'Add taxa', :class => 'default button', "data-loading-click" => "Adding..." %>
  <% end %>
</div>