<%- 
  lists ||= @current_user_lists || current_user.lists.all
  if @list
    lists = lists.to_a.delete_if{|l| l.id == @list.id}
  end
  options = [[t(:one_of_your_lists), 0]] + lists.map{|l| [l.title, l.id]}
-%>
<%= form_tag compare_lists_path(@list), :method => :get do %>
  <label for="with"><%=t :compare_with %></label>
  <%= select_tag :with, options_for_select(options, :disabled  => 0, :selected => 0), 
    :onchange => "$(this).parents('form').submit()" %>
<% end %>
