<%- 
  list ||= object ||= @list
  optionscol ||= nil
-%>
<%= error_messages_for :list %>
<% form_for list.becomes(List), :builder => DefaultFormBuilder do |f| -%>
  <%= render :partial => 'form_fields', :locals => {:f => f} %>

  <div class="column span-24">
    <div class="tools buttons">
      <%= f.submit "Save", :class => 'default button', "data-loading-click" => "Saving..." %>
      <%= link_to "Delete", @list, :method => :delete, :confirm => "Are you sure you want to delete this list?", 
        :class => "minor delete button",
        "data-loading-click" => "Deleting..." %>
    </div>
  </div>
<%- end -%>
