<%- optionscol ||= nil -%>
<%- list ||= form_fields ||= @list -%>
<%- content_for(:extracss) do -%>
  <style type="text/css">
    .place_id_field .chooser {width:300px;}
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.place_id_field .chooser').chooser({
        collectionUrl: '/places/autocomplete.json?with_geom=t',
        resourceUrl: '/places/{{id}}.json?partial=autocomplete_item'
      })
    })
  </script>
<%- end -%>
<div class="column span-12">
  <%= f.text_field :title, class: "text", label: t(:title).humanize %>
  <%= f.text_area :description, :label=>t(:description) %>
</div>
<div class="column span-12 last">
  <% if optionscol -%>
    <%= optionscol %>
  <% end -%>
</div>
