<% content_for(:title) do -%>
  New List
<% end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'lists/form' %>
<% end -%>
<% content_for(:extrajs) do -%>
  <%= javascript_include_tag 'lists/form' %>
<% end -%>
<div id="pageheader" class="column span-24 last">
  <span class="breadcrumbs">    
    <%= link_to "Back to #{possessive(@list.user)} lists", 
                lists_by_login_path(:login => @list.user.login),
                :class => 'back crumb' %>
  </span>
  <h2>New List</h2>
</div>

<div class="column span-24">
  <%= render :partial => 'form' %>
</div>
