<% if assessment.sections.blank? -%>
  <div class="description noresults">
    <%=t :no_sections_have_been_added_to_this_assessments_yet %>
  </div>
<% else %>
  <% assessment.sections.each do |section| %>
    <%= render :partial => 'assessment_sections/show', :locals => {:section => section} %>
  <% end %>
<% end %>
