<% url = url_for project_assessment_path(@assessment.project, @assessment) + '?iframe=true' %>
<% url = "#{request.protocol}#{request.host_with_port}#{url}" %>
<div class="assessment-iframe-embed-code">
  <h3><%=t :embed_this_assessment %></h3>
  <p class="ui"><%=t :copy_and_paste_the_following_code_to %></p>

  <% embed_code = "<iframe src=\"#{url}\" style=\"overflow-x: hidden; overflow-y: scroll; width: 600px; height: 600px; border: 1px solid #ccc;\" ></iframe>" %>
  <textarea class="iframe-embed-code-container"><%= embed_code %></textarea>

  <br/>
  <%=t :note_you_can_modify_the_height_attribute %>
</div>
