<% url = url_for project_assessment_path(@assessment.project, @assessment) + '?iframe=true' %>
<% url = "#{request.protocol}#{request.host_with_port}#{url}" %>
<div class="assessment-iframe-embed-code">
  <h3>Embed this assessment</h3>
  <p class="ui">Copy and paste the following code to embed this assessment into another web page.</p>

  <% embed_code = "<iframe src=\"#{url}\" style=\"overflow-x: hidden; overflow-y: scroll; width: 600px; height: 600px; border: 1px solid #ccc;\" ></iframe>" %>
  <textarea class="iframe-embed-code-container"><%= embed_code %></textarea>

  <br/>
  Note: You can modify the 'height' attribute to fit the available space on your web page.
</div>
