<div class="nested-fields">
  <%= f.text_field :title, :class => 'assessment-section-field-title' %> 
  <%= f.text_area :body, :rows => 2, :class => 'assessment-section-field-body' %> 
  <%= f.hidden_field :user_id, :value => current_user.id %> 
  <%= link_to_remove_association t(:remove_this_section), f %>
</div>
