<%- content_for(:title) do -%>
    <%= @title="#{t(:editing)} #{t(:assessment)}" %>
<%- end -%>
<% content_for(:extracss) { stylesheet_link_tag "assessments" } %>

<%# see /app/assets/javascripts for this - added manually instead of via gem since we're not using the asset pipeline - JY %>

<% if params[:iframe].blank? && params[:preview].blank? %>
  <%= link_to t(:back_to_x, :noun => @assessment.display_name).html_safe, project_assessment_path(@assessment.project, @assessment), :class => "back crumb" %>
<% end -%>

<h2><%= "#{t(:editing)} #{@assessment.display_name}".html_safe %></h2>

<div class="clear" style="margin-bottom: 30px;"></div>

<%= render :partial => 'form' %>
