<%- content_for(:title) do -%>
  New assessment
<%- end -%>
<% content_for(:extracss) { stylesheet_link_tag "assessments" } %>

<% if params[:iframe].blank? && params[:preview].blank? %>
  <%= link_to "Back to #{@assessment.project.title} assessments", project_assessments_path(@assessment.project), 
    :class => "back crumb" %>
<% end -%>

<h2>New assessment</h2>
  
<%= render :partial => 'form' %>
