$.fn.userAutocomplete = function( options ) {
  options = options || { };
  if( !options.idEl ) { return; }
  var field = this;

  field.template = function( item ) {
    var wrapperDiv = $( "<div/>" ).addClass( "ac" ).attr( "id", item.id );
    var labelDiv = $( "<div/>" ).addClass( "ac-label" );
    var icon = item.icon || "/attachment_defaults/users/icons/defaults/mini.png";
    labelDiv.append(
      "<img alt='" + item.login + "' title='" + item.login +
        "' class='user_image  usericon' src='" + icon + "'>" );
    labelDiv.append( "<span class='title'>" + item.login + "</span>" );
    wrapperDiv.append( labelDiv );
    return wrapperDiv;
  };

  field.genericAutocomplete( _.extend( options, {
    source: function( request, response ) {
      $.ajax({
        // TODO: check if the API needs to return users given an ID
        url: "<%= CONFIG.node_api_url %>/search?sources=users",
        dataType: "jsonp",
        cache: true,
        jsonpCallback: "projectAutocompleteCallback",
        data: {
          q: request.term,
          per_page: 10,
          order: "activity"
        },
        success: function( data ) {
          response( _.map( data.results, function( r ) {
            r.record.user_id = r.record.id;
            r.record.id = r.record.login;
            r.record.title = r.record.login;
            return r.record;
          }));
        }
      });
    }
  }));

  if ( $( options.idEl ).val( ) ) {
    $.ajax( {
      url: "/users/" + $( options.idEl ).val( ) + ".json",
      dataType: "json",
      data: {
        locale: I18n.locale,
        preferred_place_id: PREFERRED_PLACE ? PREFERRED_PLACE.id : null
      },
      success: function( data ) {
        data.title = data.login;
        field.trigger( "assignSelection", data );
      }
    } );
  }
};
