#pageheader .title {
  margin-bottom: 5px;
}

#pageheader {
  margin-bottom: 5px;
}

input.checkbox, input[type="checkbox"],
input.radio, input[type="radio"] {
  position: relative;
}

#controls {
  float: right;
  margin-top: 7px;
}

#controls ul {
  list-style: none;
  margin: 0;
}

#controls ul li {
  float: left;
  margin: 0;
}

#controls ul li a,
#controls ul li > span {
  padding: 7px 0.75em 9px;
  position: relative;
}

#controls ul li a.modal_link {
  padding: 6px 0.75em 6px 40px;
}

#tablelink {
  background-image: image-url('table-icon-inactive-30px.png');
}

#tablelink.selected,
#tablelink:hover {
  background-image: image-url('table-icon-30px.png');
}

#maplink {
  background-image: image-url('map-icon-inactive-30px.png');
}

#maplink.selected,
#maplink:hover {
  background-image: image-url('map-icon-30px.png');
}

.observations {
  margin-bottom: 5px;
}

.observation .actions .editlink {
  display: none;
}

.observations.table .created_at {
  display: table-cell !important;
}

#noresults {
  padding: 1em;
  font-size: 140%;
  text-align: center;
}

#map input {
  font-size: 100%;
}

#map td {
  border-bottom: 0 none;
}

#pagination {
  margin-top: 10px;
}
#controls #filterslink {display:inline; padding: 5px;}
#filterslink .fa {padding: 0 5px;}
#filterslink .fa-caret-up {display:none;}
.open #filterslink .fa-caret-down {display:none;}
.open #filterslink .fa-caret-up {display:inline;}

#pageheader h2 {margin-right: 10px;}
