.photolabel {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.photolabel img {
  max-width: 24px;
}

.listed_taxa {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.listed_taxa li {
  margin-bottom: 5px;
}

#newobsnav {
  float: right;
  margin-left: 10px;
}

#mobilenav {
  position: relative;
  text-align: right;
  width: 300px;
  float: right;
}

#show_mobile_nav_link,
#mobilenav.open {
  text-align: left;
  background-color: #eee;
  padding: 10px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px #aaa;
}

#show_mobile_nav_link {
  display: inline-block;
}

#hide_mobile_nav_link,
#goto_nav_link {
  display: inline-block;
  float: right;
  padding-right: 5px;
}

.topcontrol {
  padding: 5px 0;
}

#alphanav_letters {
  clear: both;
}

#alphanav_letters a {
  text-align: center;
  display: inline-block;
  width: 10px;
  padding: 4px;
  margin-bottom: 5px;
  background-color: #ccc;
  -webkit-border-radius: 5px;
}