#newobsnav {
  float: none;
  margin: 0;
  font-size: 80%;
}

#pageheader h2 {
  margin-top: 0;
}

#listform {
  background-color: #eee;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

#listform select {
  width: 300px
}

#taxa {
  margin-top: 80px;
}

#taxa.alphabetical {
  margin-top: 130px;
}

#taxaform .buttonrow {
  text-align: center;
}

#taxaform .button {
  display: inline-block;
  float: none;
}

h2 .othernames {
  display: block;
}

h3, h4 { color: #aaa; margin: 0.2em 0;}
ul { margin: 0.5em 0; }
h4 { font-style: italic; }