.photolabel {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.photolabel img {
  max-width: 24px;
}

.listed_taxa {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.listed_taxa li {
  margin-bottom: 5px;
}

#newobsnav {
  float: right;
  margin-left: 10px;
}

#goto_nav_link {
  display: inline-block;
  float: right;
  padding-right: 5px;
}

.topcontrol {
  padding: 5px 0;
}

#alphanav_letters {
  clear: both;
}

#alphanav_letters a {
  text-align: center;
  display: inline-block;
  width: 10px;
  padding: 4px;
  margin-bottom: 5px;
  background-color: #ccc;
  -webkit-border-radius: 5px;
}