.observations.table{margin-bottom:2em;}
.observation.mini{width:200px;}
.observations.table .observation .icon img.marker{cursor:pointer;}
#mapsizectrl{display:none;/* Temporary,for testing */
text-align:right;margin-bottom:0.4em;}
#mapcol{min-height:500px;}
#map{height:500px;overflow:hidden;}
@-moz-document url-prefix(){.button_toggle_menu .togglelink.open{padding-bottom:4px;}}
#feeds span {margin-left: 10px;}
