#Compare {
  .Queries {
    .query {
      margin-bottom: 10px;
      display: flex;
      .name {
        width: 100px;
        margin-right: 10px;
      }
      .params {
        flex: 2;
      }
      > .btn,
      > .btn-group {
        margin-left: 10px;
      }
    }
  }
  .alert-danger {
    padding: 6px 12px;
    margin: 0;
  }
  table {
    th {
      white-space: nowrap;
    }
    .headers {
      th {
        border-top: 0 transparent;
      }
      th.sortable {
        cursor: pointer;
      }
      th.taxon {
        width: 100%;
      }
    }
    .totals {
      font-size: smaller;
      th.total-label {
        text-align: right;
      }
    }
    .sorted {
      background-color: #eee;
    }
    .value {
      text-align: right;
    }
    td.value {
      font-family: "Lucida Console", Monaco, monospace, fixed-width;
    }
  }

  .TaxonMap {
    height: 500px;
  }
}

.compare-popover {
  max-width: 400px;
}

