input.text,
textarea.text {
  width: 239px;
  margin: 0;
}
#observation_description {height: 307px;}

.field label {
  display: inline-block;
  margin-bottom: 0.2em;
}

.field .observation_photos label {
  display:block;
}

input.place_guess { width: 336px; }

#mapcontainer {
  height: 433px;
  position:relative;
}

#map { height: 433px; }

#mapcontainer .description {position:absolute; top: 50%; left: 50%; margin-left: -100px; margin-top: -10px; width: 200px; background-color:black; color: #eee; padding: 5px; border-radius: 10px; text-align:center;}

.latlonfields {
  position: relative;
  background-color: white;
  padding: 0px 10px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
}
.latlonfields.status { background-color: #F6F6F6; padding-bottom: 3px;}
.observationform .latlonfields.status input { width: 118px; }

.latlonfields .button {
  position: absolute;
  top: 2px;
  right: 5px;
}

.photoSelector input.text { width: 178px; }

.photoSelector, .soundSelector { width: 288px; }
.photoSelectorControls .button, .soundSelectorControls .button { padding: 5px; }
.photoSelectorControls .prevlink, .soundSelectorControls .prevlink {
  float: left;
  clear: left;
}
.photoSelectorControls select, .soundSelectorControls select { font-size: 90%; }
.photoSelectorPhotos { margin: 0 auto; min-height:120px; max-height: 440px; overflow-y: auto; overflow-x: visible;}
.photoSelectorAlbums{
  max-height:none;
  overflow: none;
}

.ui-tabs .ui-tabs-panel {
  padding-top: 0px;
  width: 100%;
  margin-right: 0px;
}
.soundSelector, 
.photoSelector {
  padding-top: 1px;
  margin-top: 0;
  margin-right: -3px;
  border-radius: 0;
  border-color: #ccc;
  border-top: none;
}
.nosounds {padding:10px; border: 1px solid #ccc; border-top:none;}
.local_photos .photo_file_field {width:auto;}
.local_photos .photo_file_field label {display:inline;}
.photo .synclink { float: right; }
.photoSelectorControls .findbutton { margin-right: 0; }
#taxonchooser {margin-left: 0;}
fieldset {width: 910px;}
#newobsnav {text-align:right; margin-top:0.25em;}

.ui-tabs .ui-tab-content.hidden {display: none;}
.ui-tabs .ui-tab-control {display: block;}
.ui-tabs .field {clear: both;}
.ui-tabs .ui-tab-control.selected {background-color: #dff4ff;}
