@import "identify/observations_grid_item";
@import "identify/observation_modal";
@import "identify/progress_chart";
@import "identify/filters_button";
@import "../../../../node_modules/react-image-gallery/src/ImageGallery";
@import "../../../../node_modules/react-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min";
@import "../colors";
.btn-checkbox {
  display: inline-block;
}
.btn-checkbox .checkbox {
  margin: 7px 10px 7px 0px;
}

.SplitTaxon {
  display: inline-block;
  font-size: 90%;
}
.SplitTaxon .taxon .display-name {
  color: black;
  font-size: 110%;
}

.ac-chooser {
  display: flex;
  position: relative;
}
.ac-select-thumb {
  line-height: 33px;
}
.ui-autocomplete-input {
  flex: 2;
}
body > div > [role="dialog"] .searchclear.glyphicon,
.searchclear.glyphicon {
  position: absolute;
  right: 10px;
  top: 10px;
  padding-left: 5px;
  color: #ddd;
  background: #fff;
  z-index: 2;
}
input.filter-changed + .searchclear.glyphicon {
  background: none;
  color: #bbb;
}
.searchclear.glyphicon:hover, input.filter-changed + .searchclear.glyphicon:hover {
  color: #666;
  cursor: pointer;
}

.loading .fa-refresh {
  font-size: 2em;
  color: #aaa;
}

.identification.outdated {
  text-decoration: line-through;
}

.mainrow {
  background-color: #DDDDDD;
}

.mainrow,
.main-col {
  box-shadow: inset 0px 10px 10px -10px #aaa;
}

.mainrow .main-col {
  background-color: #EFEFEF;
}

.ObservationsGrid {
  padding-top: 30px;
  min-height: 500px;
}

.bootstrap .sidebar-col {
  padding: 0px;
}
.SideBar {
  padding: 15px;
}

.PaginationControl {
  margin-bottom: 20px;
}

.rc-pagination { padding: 0; }
.rc-pagination li,
.rc-pagination li a {
  display: inline-block;
}
.rc-pagination li a {
  border: 1px solid #aaa;
  background-color: white;
  padding: 3px 5px;
  text-align: center;
  min-width: 2em;
  margin: 0 5px;
  cursor: pointer;
}
.rc-pagination-next a:before {
  content: "\2192"
}
.rc-pagination-prev a:before {
  content: "\2190"
}
.rc-pagination-disabled a,
.rc-pagination-disabled:hover a {
  opacity: 0.5;
  cursor: default;
}
.rc-pagination-jump-prev a:after,
.rc-pagination-jump-next a:after {
  content: "...";
}
li.rc-pagination-item-active a {
  border-color: black;
}

.SearchBar {
  margin-bottom: 20px;
}

.StatsControl {
  padding-left: 15px;
}
.bootstrap .statcol {
  cursor: pointer;
  padding: 0;
}
.statcol .stat-value {
  font-size: 24px;
  overflow: hidden;
}
.statcol .stat {
  text-transform: capitalize;
  padding: 5px 10px;
}
.statcol {
  border-bottom: 4px solid transparent;
  border-right: 1px solid #ccc;
}
.statcol.active {
  border-bottom: 4px solid $inat-green;
}
.BulkActions { margin-bottom: 20px; }
.BulkActions .btn-group-justified > .btn {
  width: 50%;
}

.bootstrap .FiltersButton .dropdown-menu {
  left: -400px;
}
.bootstrap .FiltersButton .checkbox {
  display: block;
}


.quality_grade {
  display: inline-block;
  background-color: #ddd;
  padding: 2px 0px 1px 10px;
  position: relative;
  font-size: 12px !important;
  line-height: 17px !important;
  z-index: 1;
  margin-right: 20px;
}
.quality_grade:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  border: 10px solid #ddd;
  border-right-width: 5px;
  border-right-color: transparent;
  right: -15px;
  z-index: -1;
}

.quality_grade.needs_id {
  background-color: $needs-id-yellow;
  color: $needs-id-yellow-light;
}
.quality_grade.needs_id:after {
  border-color: $needs-id-yellow;
  border-right-color: transparent;
}
.quality_grade.research {
  background-color: $inat-green;
  color:white;
}
.quality_grade.research:after {
  border-color: $inat-green;
  border-right-color: transparent;
}

.IdentifierStats .UserImage {
  margin-right: 5px;
  min-width: 40px;
}
.bootstrap .IdentifierStats .table > thead > tr > th,
.bootstrap .IdentifierStats .table > tbody > tr > td {
  border-color: #aaa;
}
.bootstrap .IdentifierStats .table > thead > tr > th {
  color: #aaa;
  text-transform: uppercase;
  font-size: smaller;
  padding-top: 2px;
  padding-bottom: 2px;
}
.bootstrap .IdentifierStats .table > tbody > tr > td {
  line-height: 40px;
}
.IdentifierStats .identifications {
  text-align: right;
}
.IdentifierStats .user {
  white-space: nowrap;
  width: 100%;
}
.IdentifierStats .user a {
  color: #333;
}
