@import "../shared/full_screen_modal";
@import "identify/observation_modal";
@import "identify/progress_chart";
@import "identify/filters_button";
@import "../../../../node_modules/react-image-gallery/styles/scss/image-gallery";
@import "../../../../node_modules/react-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min";
@import "../colors";
@import "../shared/observations_grid_item";
@import "../shared/split_taxon";
@import "../shared/taxon_photo";
@import "../shared/loading_spinner";
@import "../shared/disagreement_alert";
@import "../shared/flash_message";
@import "../users/user_popover";
@import "identify/blind";
@import "identify/suggestions";

.btn-checkbox {
  display: inline-block;
}
.btn-checkbox .checkbox {
  margin: 7px 10px 7px 0px;
}

body [role="dialog"] .searchclear.glyphicon,
.searchclear.glyphicon {
  position: absolute;
  right: 10px;
  top: 10px;
  padding-left: 5px;
  color: #ddd;
  background: #fff;
  z-index: 2;
}
input.filter-changed + .searchclear.glyphicon {
  background: none;
  color: #bbb;
}
.searchclear.glyphicon:hover, input.filter-changed + .searchclear.glyphicon:hover {
  color: #666;
  cursor: pointer;
}

.loading .fa-refresh {
  font-size: 2em;
  color: #aaa;
}

.identification.outdated {
  text-decoration: line-through;
}

.mainrow {
  background-color: #DDDDDD;
  position: relative;
  overflow: hidden;
}

.mainrow,
.main-col {
  box-shadow: inset 0px 10px 10px -10px #aaa;
}

$sidebar-width: 320px;
.mainrow .main-col {
  background-color: #EFEFEF;
  margin-right: $sidebar-width;
  padding-bottom: 20px;
}

.ObservationsGrid {
  padding: 30px;
  min-height: 500px;
}

.SideBar {
  padding: 15px;
  width: $sidebar-width;
  position: absolute;
  top: 0;
  right: 0px;
  &.sidebar-hidden {
    right: 320px;
  }
  $hide-button-dim: 30px;
  .hide-button {
    width: $hide-button-dim;
    height: $hide-button-dim;
    border: 0;
    background-color: #ddd;
    position: absolute;
    left: -$hide-button-dim;
    top: 9px;
  }
}
.side-bar-hidden {
  .main-col {
    margin-right: 0px;
  }
  .SideBar {
    right: -$sidebar-width;
  }
}

.PaginationControl {
  margin-bottom: 20px;
  .view-more-reviewed {
    .btn {
      margin-left: 10px;
    }
    .btn:first-child {
      margin-left: 0px;
    }
  }
}

.rc-pagination { padding: 0; }
.rc-pagination li,
.rc-pagination li a {
  display: inline-block;
}
.rc-pagination li a {
  border: 1px solid #aaa;
  background-color: white;
  padding: 3px 5px;
  text-align: center;
  min-width: 2em;
  margin: 0 5px;
  cursor: pointer;
}
.rc-pagination-next a:before {
  content: "\2192"
}
.rc-pagination-prev a:before {
  content: "\2190"
}
.rc-pagination-disabled a,
.rc-pagination-disabled:hover a {
  opacity: 0.5;
  cursor: default;
}
.rc-pagination-jump-prev a:after,
.rc-pagination-jump-next a:after {
  content: "...";
}
li.rc-pagination-item-active a {
  border-color: black;
}

.SearchBar {
  margin-bottom: 20px;
}

.StatsControl {
  padding-left: 15px;
}
.bootstrap .statcol {
  cursor: pointer;
  padding: 0;
}
.statcol .stat-value {
  font-size: 24px;
  overflow: hidden;
}
.statcol .stat {
  padding: 5px 10px;
}
.statcol {
  border-bottom: 4px solid transparent;
  border-right: 1px solid #ccc;
}
.statcol.active {
  border-bottom: 4px solid $inat-green;
}
.BulkActions { margin-bottom: 20px; }
.BulkActions .btn-group-justified > .btn {
  width: 50%;
}

.bootstrap .FiltersButton .dropdown-menu {
  left: -400px;
}

.quality_grade {
  display: inline-block;
  background-color: #ddd;
  padding: 2px 0px 1px 10px;
  position: relative;
  font-size: 12px !important;
  line-height: 17px !important;
  z-index: 1;
  margin-right: 20px;
}
.quality_grade:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  border: 10px solid #ddd;
  border-right-width: 5px;
  border-right-color: transparent;
  right: -15px;
  z-index: -1;
}

.quality_grade.needs_id {
  background-color: $needs-id-yellow;
  color: $needs-id-yellow-light;
}
.quality_grade.needs_id:after {
  border-color: $needs-id-yellow;
  border-right-color: transparent;
}
.quality_grade.research {
  background-color: $inat-green;
  color:white;
}
.quality_grade.research:after {
  border-color: $inat-green;
  border-right-color: transparent;
}

.IdentifierStats .UserImage {
  margin-right: 5px;
  min-width: 40px;
}
.bootstrap .IdentifierStats .table > thead > tr > th,
.bootstrap .IdentifierStats .table > tbody > tr > td {
  border-color: #aaa;
}
.bootstrap .IdentifierStats .table > thead > tr > th {
  color: #aaa;
  text-transform: uppercase;
  font-size: smaller;
  padding-top: 2px;
  padding-bottom: 2px;
}
.bootstrap .IdentifierStats .table > tbody > tr > td {
  line-height: 40px;
}
.IdentifierStats .identifications {
  text-align: right;
}
.IdentifierStats .user {
  white-space: nowrap;
  width: 100%;
}
.IdentifierStats .user a {
  color: #333;
}
.bootstrap .AlertModal .modal-dialog,
body > [role="dialog"] .AlertModal .modal-dialog,
.bootstrap .DisagreementAlert .modal-dialog,
body > [role="dialog"] .DisagreementAlert .modal-dialog {
  margin: 170px auto;
}

.dropdown-menu.textcomplete-dropdown {
  z-index: 1050 !important;
}

.disagreement-group {
  label:first-child {
    margin-right: 10px;
  }
  input[type="radio"] {
    margin-right: 3px !important;
  }
}

#Identify .ObservationsGrid.image-size-large {
  .ObservationsGridItem,
  .ObservationsGridItem .media {
    width: 220px;
  }
  .ObservationsGridItem .media {
    height: 220px;
  }
  .ObservationsGridItem .UserImage {
    top: 190px;
  }
}

.ImageSizeControlButton {
  i {
    position: relative;
    top: 2px;
  }
}

.FilterCheckbox.checkbox {
  display: flex;
  justify-content: space-between;
  margin: 7px 0;
  i.fa {
    margin-left: 5px;
  }
}

#Identify {
  .ObservationsGrid {
    .col-xs-12 {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
    }
    .ObservationsGridItem {
      .caption {
        height: auto;
        margin-bottom: 20px;
      }
      .UserImage {
        bottom: auto;
        top: 120px;
      }
      .SplitTaxon > .secondary-name {
        display: flex;
        flex: 1;
      }
      .taxon.has-com-name {
        .secondary-name, .secondary-names {
          white-space: wrap;
        }
      }
    }
  }
}
