@import "identify/observations_grid_item";
@import "identify/observation_modal";
@import "../../../../node_modules/react-image-gallery/src/ImageGallery";
.btn-checkbox {
  display: inline-block;
}
.btn-checkbox .checkbox {
  margin: 7px 10px 7px 0px;
}

.SplitTaxon {
  display: inline-block;
  font-size: 90%;
}
.SplitTaxon .taxon .display-name {
  color: black;
  font-size: 110%;
}

.ac-chooser {
  display: flex;
  position: relative;
}
.ac-select-thumb {
  line-height: 2.1;
}
.ui-autocomplete-input {
  flex: 2;
}
body > div > [role="dialog"] .searchclear.glyphicon,
.searchclear.glyphicon {
  position: absolute;
  right: 10px;
  top: 10px;
  padding-left: 5px;
  color: #ddd;
  background: #fff;
  z-index: 2;
}
input.filter-changed + .searchclear.glyphicon {
  background: none;
  color: #bbb;
}
.searchclear.glyphicon:hover, input.filter-changed + .searchclear.glyphicon:hover {
  color: #666;
  cursor: pointer;
}

.loading .fa-refresh {
  font-size: 2em;
  color: #aaa;
}
