#newobsnav {text-align: right;}
#sharing img {vertical-align: middle;}
#sharing.buttonrow .inter {margin-right:0;}
#sharing label.inter {padding-left: 0; padding-right: 0;}
#sharing .inter label {margin:0; padding:0;}
#accept_terms { margin-bottom: 20px; }
