#header {
  margin-bottom: 0px;
}
#main-container {
  width: 100%;
}
#results {
  width: 100%;
  min-height: 420px;
  background: #eee;
  display: inline-block;
}
#results .btn-group {
  position: absolute;
  z-index: 2;
  margin-top: 11px;
}
#obs-container .observation > .media-body {
  padding: 5px 5px 5px 0;
}
#obs-container .location .fadednowrap {max-width: 200px;}
#result-grid {
  margin-top: 55px;
}
#result-table {
  margin-top: 55px;
}
#result-grid .photo {
  display: block;
  width: 100%;
  height: 262.5px;
  background-size: cover;
  background-position: center;
  margin: 0px auto;
}
#result-grid .caption {
  height: 85px;
  padding: 12px;
}
#result-grid .title {
  display: block;
  margin-bottom: 3px
}
#result-grid .title .display-name {
  font-weight: 700;
  display: block;
  font-size: 15px;
  color: black;
}
#result-grid .title .sciname {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#result-grid .title .display-name {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#result-grid .title .sciname.display-name,
#result-grid .title .noname.display-name {
  margin-bottom: 23px;
}
#result-grid .title .icon {display: none;}
#result-grid .title .sciname:before,
#result-grid .title .sciname:after {
  content: '';
}
#result-grid .user {
  position: absolute;
  right: 30px;
  top: 235px;
  border-radius: 120px;
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
  border: 2px solid white;
}
#result-grid .meta {color: #a3a3a3; font-size: 12px;}
#result-grid .favorites { margin-left: 5px;}
#result-grid .comments {margin-left: 7px;}

.form {
  background: #fff;
}
.ng-cloak { display:none; }
.observation:not(:first-child) {
  border-top: 1px solid #eee;
}
.bootstrap .observation.media { margin-top: 0; }
.media-object {
  display: block;
  min-height: 100px;
  width: 110px;
  height: 110px;
  background-size: cover;
  background-position: center;
}
#map {
  width: 100%;
  /*height: 510px;*/
  background-color: LightBlue;
  position: absolute;
  top: 0;
  left: 0;
}
#obs-container,
#obs-container .container,
#map {
  height: 550px;
}
#obs-container { position: relative; }
#obs {
  background-color: white;
  padding: 0px;
  height: 420px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  top: 60px;
  font-size: 90%;
}
#filters {
  padding: 20px 0;
}
#filters h1 {
  float: left;
}
#filters .pull-right {
  margin-top: 20px;
}

.bootstrap #filter-container > button.btn-default {
  background-color: #727272;
  border-color: #727272;
  color: #eee;
}
.bootstrap #filter-container > button:hover { color: white; }

#filter-dropdown {
  width: 900px;
}
#filters .dropdown-menu { background-color: #eee; padding: 0px;}
#filters .ac-chooser { display: inline-block; }
.bootstrap .primary-filters .form-control {width: 250px;}
.primary-filters > span { margin: 0 5px;}
#filter-container { margin-left: 10px; }
#stats-container,
#stats-container .statcol {
  height: 75px;
}
#stats-container {
  background: #565656;
  color: white;
  font-size: 17px;
  white-space: nowrap;
}
#stats-container > div {
  height: 100%;
}
#stats-container .geo {
  padding: 0px;
  line-height: 75px;
  background: none;
  border: 0px;
  cursor: pointer;
}
#stats-container .geo.active {
  color: #a8cc09;
  font-weight: bold;
}
#stats-container .geo:first-child:after {
  content: "\3009";
  margin: 0 -5px 0 5px;
  color: #aaa;
  width: 1em;
  display: inline-block;
}

#stats-container .stat-title {
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 0.04em;
  color: #eee;
}
#stats-container .stat-value {
  font-weight: bold;
}
#stats-container .statcol {
  cursor: pointer;
}
#stats-container .statcol.active {
  background: #86a91c;
}
#stats-container .stat {
  margin: 15px 0;
  border-right: 1px solid #aaa;
}
#stats-container .statcol.active .stat,
#stats-container .statcol:last-child .stat { border: 0 transparent; }


.obs-attr.media {margin-top: 0;}
.obs-attr.media .media-left .fa { width: 12px; color: #aaa;}
.obs-attr.media .media-left { padding-right: 5px; text-align: center;}
.observation .media-body .actions {margin-left: 4px;}

inat-taxon { white-space: nowrap; }

#filters label {text-transform: capitalize;}
.bootstrap label.sectionlabel {
  display: block;
  font-weight: bold;
}

.bootstrap #filters .radio, 
.bootstrap #filters .checkbox {
  margin: 0px 0 2px;
}

#show-filters {margin-bottom: 8px; }
#filters-categories { margin-bottom: 5px;}
#filters-ranks {margin-bottom: 10px;}
.bootstrap #filters-dates label.radio {display: block; margin-left: 1.5em; margin-bottom: 10px;}
.bootstrap #filters-dates .form-control {width: 100px; height: 20px;display: inline-block;}
.bootstrap #filters-dates #filters-dates-exact.form-control {width: 176px;}

#filters .iconic-taxon {
  font-size: 30px;
  margin: 0 5px 5px 0;
  padding: 0px 6px;
  font-size: 26.8px;
}
#filters .iconic-taxon.last {margin-right: 0;}

#filters-body {
  padding: 10px 0px 15px;
}
#filters-footer {
  background-color: #ccc;
  padding: 10px 0;
}

#filters-more-btn {padding:0;}
#filters-more-btn .fa-caret-up { display: inline;}
#filters-more-btn .fa-caret-down { display: none;}
#filters-more-btn.collapsed .fa-caret-up { display: none; }
#filters-more-btn.collapsed .fa-caret-down { display: inline; }

.dropdown-menu.places {
  width: 400px;
  left: 0px;
  background: #f16f3a;
}
#redo-search {
  color: #fff;
  background: #f16f3a;
  margin-left: 10px;
}