#header {
  margin-bottom: 0px;
}
#main-container {
  width: 100%;
}
#results {
  width: 100%;
  min-height: 420px;
  background: #eee;
  display: inline-block;
}
#results .btn-group {
  position: absolute;
  z-index: 2;
  /*left: 120px;*/
  margin-top: 11px;
}
#result-grid {
  margin-top: 55px;
  display: inline-block;
}
#result-table {
  margin-top: 55px;
}
#result-grid .media-object {
  display: block;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin: 0px auto;
}
#result-grid .details {
  margin: 0px auto;
  background: white;
  width: 200px;
  height: 50px;
  padding: 5px;
}
#result-grid .title {
  font-weight: bold;
  display: block;
}
#result-grid .user {
  float: right;
}
#result-grid .comments:before {
  content: "com:";
}
#result-grid .favorites:before {
  content: "faves:";
}

#result-grid .cell {
  padding: 20px;
}
.form {
  background: #fff;
}
.ng-cloak { display:none; }
.observation:not(:first-child) {
  border-top: 1px solid #eee;
}
.bootstrap .observation.media { margin-top: 0; }
.media-object {
  display: block;
  min-height: 100px;
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
}
#map {
  width: 100%;
  height: 510px;
  background-color: LightBlue;
}
#obs-container { position: relative; }
#obs {
  position: absolute;
  top: 45px;
  right: 100px;
  background-color: white;
  padding: 0px;
  height: 420px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#filters {
  padding: 20px 0;
}
#filters h1 {
  float: left;
}
#filters .pull-right {
  margin-top: 20px;
}

.bootstrap #filter-container > button.btn-default {
  background-color: #727272;
  border-color: #727272;
  color: #eee;
}
.bootstrap #filter-container > button:hover { color: white; }

#filter-dropdown {
  width: 600px;
}
#filters .ac-chooser { display: inline-block; }
.bootstrap .primary-filters .form-control {width: 250px;}
.primary-filters > span { margin: 0 5px;}
#filter-container { margin-left: 10px; }
#stats-container,
#stats-container .statcol {
  height: 75px;
}
#stats-container {
  background: #565656;
  color: white;
  font-size: 17px;
}
#stats-container > div {
  height: 100%;
}
#stats-container .geo {
  padding: 0px;
  line-height: 75px;
  background: none;
  border: 0px;
  cursor: pointer;
}
#stats-container .geo.active {
  color: #a8cc09;
  font-weight: bold;
}
#stats-container .geo:first-child:after {
  content: "\3009";
  margin: 0 -5px 0 5px;
  color: #aaa;
  width: 1em;
  display: inline-block;
}

#stats-container .stat-title {
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 0.04em;
  color: #eee;
}
#stats-container .stat-value {
  font-weight: bold;
}
#stats-container .statcol.active {
  background: #86a91c;
}
#stats-container .stat {
  margin: 15px 0;
  border-right: 1px solid #aaa;
}
#stats-container .statcol.active .stat,
#stats-container .statcol:last-child .stat { border: 0 transparent; }

