@import "../colors";

body {
  min-width: 980px;
}
#header {
  margin-bottom: 0px;
}
#full-width-notice {
  margin-bottom: 0px;
  margin-top: 0px;
}
#main-container {
  width: 100%;
}
#bodywrapper {
  margin-bottom: -180px;
}
#bodywrapper:after {
  height: 180px;
}
#wrapper {
  margin-bottom: 0px;
}
#results {
  width: 100%;
  background: #eee;
  min-height: 450px;
  display: inline-block;
}
#results > .container {
  height: 0px;
}
#view-controls {
  position: absolute;
  z-index: 2;
  margin-top: 15px;
}
#layer-control li {
  padding: 0 10px;
}
#obs-container .location .fadednowrap {max-width: 200px;}
#result-grid,
#taxa-grid,
#result-table {
  margin-top: 60px;
}

#obs-container .taxon.has-com-name .secondary-name {
  color: #333;
}

#result-grid .thumbnail {
  margin-bottom: 30px;
  border: 1px solid #ddd;
}
.grid .taxon-grid-cell {
  width: 194px;
  padding: 0px 10px;
}
.grid .thumbnail {
  position: relative;
  width: 100%;
}
.grid .photo {
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin: 0px auto;
  text-align: center;
  background-color: #ccc;
  position: relative;
}
.grid .photo .icon,
.grid .photo:hover .icon,
.grid .photo:active .icon,
.grid .photo:visited .icon,
.grid .photo:link .icon {
  display: none;
}
.grid .photo.iconic {
  background-color: #ccc;
}
.grid .photo.iconic .icon,
.grid .photo.iconic .icon:hover,
.grid .photo.iconic .icon:active,
.grid .photo.iconic .icon:visited,
.grid .photo.iconic .icon:link {
  color: white;
  display: inline-block;
}
.grid .photo .sound-icon { display: none; }
.grid .photo.sound .sound-icon {
  display: inline-block;
  color: #777;
  font-size: smaller;
}
.grid .photo.has-photo.sound .sound-icon {
  color: white;
  display: block;
  position: absolute;
  inset-inline-end: 0;
  top: 0;
  background-color: rgba( 0, 0, 0, 0.7 );
  padding: 10px;
  font-size: 24px;
}
.grid .photo {
  height: 120px;
  line-height: 110px;
  font-size: 60px;
}
.grid .observation-grid-cell {
  padding: 0px 15px;
  width: 245px;
}
@media (min-width: 768px) {
  .grid .photo {
    height: 157.5px;
    line-height: 140px;
    font-size: 90px;
  }
  #result-grid .caption .userimage {
    top: 120px;
  }
}
@media (min-width: 992px) {
  .grid .photo {
    height: 212.5px;
    font-size: 135px;
    line-height: 200px;
  }
  .grid .taxon-grid-cell {
    width: 192px;
  }
  .grid .observation-grid-cell {
    width: 242.5px;
  }
  #result-grid .caption .userimage {
    top: 175px;
  }
}
@media (min-width: 1200px) {
  .grid .photo {
    height: 262.5px;
    line-height: 240px;
    font-size: 180px;
  }
  .grid .taxon-grid-cell {
    width: 232px;
  }
  .grid .observation-grid-cell {
    width: 292.5px;
  }
  #result-grid .caption .userimage {
    top: 225px;
  }
}

.bootstrap-10 .grid .photo {
  height: 212px;
  line-height: 180px;
  font-size: 75px;
}
@media (min-width: 768px) {
  #taxa-grid.bootstrap-10 .grid {
    .photo {
      height: 128px;
      line-height: 98px;
    }
    .photometa {
      top: 98px;
    }
  }
}
@media (min-width: 992px) {
  #taxa-grid.bootstrap-10 .grid {
    .photo {
      height: 172px;
      line-height: 142px;
      font-size: 112px;
    }
    .photometa {
      top: 142px;
    }
  }
}
@media (min-width: 1200px) {
  #taxa-grid.bootstrap-10 .grid {
    .photo {
      height: 212px;
      line-height: 180px;
      font-size: 112px;
    }
    .photometa {
      top: 182px;
    }
  }
  .bootstrap .container {
    width: 1170px;
  }
}
.grid .caption {
  padding: 12px;
}
.grid .title {
  display: block;
  margin-bottom: 3px
}
@media only screen and (max-width : 1024px)  {
  #filters > h1 {
    font-size: 2.2em;
  }
  #stats-container .statcol .stat-title {
    font-size: 0.7em;
  }
}
inat-taxon.split-taxon .display-name {
  font-weight: bold;
  display: block;
  font-size: 15px;
  color: black;
}
inat-taxon.split-taxon .secondary-name {
  display: block;
  width: 100%;
}

#result-grid inat-taxon.split-taxon .display-name {
  font-size: 18px;
  line-height: 22px;
}
#result-grid inat-taxon.split-taxon .has-com-name .secondary-name {
  line-height: 22px;
}
inat-taxon.split-taxon .icon {display: none;}
.bootstrap .userimage {
  border-radius: 120px;
  width: 48px;
  height: 48px;
  line-height: 45px;
  font-size: 32px;
  background-size: cover;
  background-position: center;
  background-color: #aaa;
  color: white;
  text-align: center;
  border: 2px solid white;
  vertical-align: middle;
}
#result-grid .userimage {
  position: absolute;
  inset-inline-end: 15px;
  top: 82px;
}
.bootstrap .userimage:hover,
.bootstrap .userimage:active {opacity: 1; color: #eee;}
#result-grid .meta {color: #a3a3a3; font-size: 12px; overflow: hidden;}
#result-grid .meta .comments i,
#result-grid .meta .identifications i {font-size: 110%;}
#result-grid .meta .pull-right {
  position: relative;
  top: 2px;
}
#result-grid .favorites { margin-inline-start: 5px;}
#result-grid .comments {margin-inline-start: 5px;}

.form {
  background: #fff;
}
.ng-cloak { display:none; }
.bootstrap .observation.media { margin-top: 0; }
#map {
  width: 100%;
  /*height: 510px;*/
  background-color: #e3eaf6;
  position: absolute;
  top: 0;
  inset-inline-start: 0;
}
#obs-container,
#obs-container .container,
#map, #observations-map {
  height: 550px;
}
#observations-map {
  background-color: #e3eaf6;
}
#obs-container { position: relative; }
#obs {
  background-color: white;
  padding: 0px;
  height: 420px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  top: 15px;
}
#maprow {
  position: relative;
  height: 0;
}
.fullscreen-enabled #maprow,
#obs-container.fullscreen-enabled {
  position: absolute;
  inset-inline-start: 0;
  top: 0;
}
#map-controls {
  position: absolute;
  top: 95px;
  inset-inline-start: 15px;
}
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  position: relative;
  top: -1px;
}
#map-legend-control {
  position: absolute;
  top: 500px;
  inset-inline-start: 15px;
}
#map-legend {
  position: static;
  display: block !important;
  border: 0 transparent;
  box-shadow: none;
  top: -366px;
  inset-inline-start: -320px;
}
#map-legend-control .gmapv3legend { max-width: none; }
#map-legend-control .gmapv3legend .ul-container {
  width: 400px;
}
#map-legend-control .gmapv3legend .ul-container ul.inat-overlay.left,
#map-legend-control .gmapv3legend .ul-container ul.inat-overlay.right {
  float: left;
  width: 200px;
}

[dir="rtl"] #map-legend-control .gmapv3legend .ul-container ul.inat-overlay.left,
#map-legend-control .gmapv3legend .ul-container ul.inat-overlay.right {
  float: right;
  width: 200px;
}

.bootstrap #map-legend-control .label {
  color: black;
  white-space: normal;
  text-align: start;
  font-size: 14px;
  line-height: 14px;
}
.fullscreen-enabled #map-controls {
  top: 20px;
  inset-inline-start: 20px;
}
.fullscreen-enabled #map-legend-control {
  bottom: 40px;
  top: auto;
  inset-inline-start: 20px;
}
.fullscreen-enabled #map-controls,
.fullscreen-enabled #map-legend-control {
  z-index: 1001;
  position: fixed;
}
#map-controls .btn-group {
  display: block;
  margin-bottom: 10px;
}
#map-controls .btn { text-align: center; }
#filters {
  padding: 20px 0;
}
#filters h1 {
  float: left;
}

[dir="rtl"] #filters h1 {
  float: right;
} 

#filter-container,
#filters .primary-filters {
  margin-top: 20px;
}
#filters .form-control {
  display: inline-block;
}

.bootstrap #filter-container > button.btn-default {
  background-color: $btn-grey;
  border-color: $btn-grey;
  color: #eee;
  position: relative;
}
.bootstrap #filter-container > button:hover { color: white; }
.bootstrap #filter-container > button.btn-default .badge {
  background-color: #74ac00;
  position: absolute;
  top: -10px;
  inset-inline-end: -10px;
}

.bootstrap #filter-container .filter-changed,
.bootstrap #filter-container .filter-changed label {
  color: #74ac00;
  font-weight: bold;
}
#filter-container select.filter-changed,
#filter-container button.filter-changed,
#filter-container .form-control.filter-changed {
  color: #74ac00;
  border-color: #74ac00;
  background-color: rgba(16, 172, 0, 0.1);
}

#filter-container .fa-sliders {
  font-size: 120%;
  margin-inline-end: 5px;
}
#filter-container .fa-sliders:before {
  top: 1px;
  position: relative;
}

#filter-dropdown {
  width: 900px;
}
#filters .dropdown-menu { background-color: #eee; padding: 0px;}
.primary-filters .ac-chooser { display: inline-block; }
.bootstrap .primary-filters .form-control {width: 250px;}
.primary-filters > span { margin: 0 5px;}
#filter-container { margin-inline-start: 10px; }
#place-name-input input { margin-inline-start: 4px; }
#stats-container .col-xs-4 {
  overflow: hidden;
}
#stats-container,
#stats-container .statcol {
  height: 75px;
}
#stats-container {
  background: #565656;
  color: white;
  font-size: 17px;
  white-space: nowrap;
}
#stats-container > div {
  height: 100%;
}
#stats-container .geo {
  padding: 0px;
  line-height: 75px;
  background: none;
  border: 0px;
  font-weight: 100;
  color: #eee;
}
#stats-container .geo.selected {
  color: #fff;
  border: 2px solid $btn-orange;
  padding: 5px;
}
#stats-container .glyphicon-remove-sign {
  margin-inline-start: 5px;
  font-size: 0.7em;
}
#stats-container .stat-title {
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 0.04em;
  color: #eee;
  font-size: 14px;
  position: relative;
}
#stats-container .stat-title i {
  line-height: 18px;
  background-color: #999;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
  position: absolute;
  top: 0;
  inset-inline-end: 0;
}
#stats-container .stat-title i:before {
  position: relative;
  inset-inline-start: 0.5px;
}
#stats-container .stat-value {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}
#stats-container .statcol {
  cursor: pointer;
}
#stats-container .statcol.active {
  background: #86a91c;
  margin-inline-end: -1px;
  z-index: 1;
}
#stats-container .stat {
  margin: 15px 0;
  border-inline-start: 1px solid #aaa;
  margin-inline-start: -15px;
  padding-inline-start: 15px;
}
#stats-container .statcol.active .stat,
#stats-container #obsstatcol .stat { border: 0 transparent; }

#obs-container .dateloc,
#obs-container .observation .meta,
#obs-container .observation .has-com-name .secondary-name {
  font-size: 12px;
  line-height: 18px;
}
#obs-container .dateloc {
  padding-inline-end: 36px;
}
#obs-container .observation .date,
#obs-container .observation .location {
  display: inline-block;
  white-space: nowrap;
}
#obs-container .observation .date:before {
  content: '\2022';
  font-weight: bold;
  margin: 0 3px 0 2px;
}
#obs-container .observation .pull-right .date:before {
  content: none;
}
#obs-container .observation { position: relative; }
#obs .observation:hover {
  background-color: #EEF8DE;
}
#obs-container .observation .userimage {
  width: 36px;
  height: 36px;
  border: 2px solid transparent;
  overflow: hidden;
  font-size: 26px;
  line-height: 28px;
  margin-left: 5px;
}
#obs-container .observation .userimage:hover {
  border-color: #74ac00;
}

#obs-container .observation .created_at {
  margin-left: 10px;
}

#obs-container .media-object {
  display: block;
  width: 96px;
  height: 96px;
  background-size: cover;
  background-position: center;
  font-size: 80px;
  line-height: 86px;
  text-align: center;
}
#obs-container .media-object .icon { display: none; }
#obs-container .media-object.iconic .icon {
  display: inline-block;
  color: #aaa;
}
#obs-container .media-object .sound-icon {
  display: none;
}
#obs-container .media-object.sound .sound-icon {
  display: inline-block;
  color: #aaa;
  opacity: 0.8;
  font-size: smaller;
  position: relative;
  top: 3px;
}
#obs-container .media-left {
  padding: 0;
  a {
    outline: none;
  }
}
#obs-container .media-body {
  padding: 5px 10px 26px 10px;
  border-top: 1px solid #eee
}

#obs-container .userimage {
  display: none;
}

@media (min-width: 992px) {
  #obs-container .userimage {
    display: block;
  }
}

#obs-container .observation .meta {
  clear: both;
  position: absolute;
  bottom: 7px;
}

.bootstrap label.sectionlabel {
  display: block;
  font-weight: bold;
  font-size: 16px;
}

.bootstrap #filters .radio,
.bootstrap #filters .checkbox {
  margin: 0px 0 2px;
}

#show-filters {margin-bottom: 8px; }
#filters-categories { margin-bottom: 5px;}
#filters-ranks {margin-bottom: 10px;}
.bootstrap #filters .filters-dates label.radio {display: block; margin-inline-start: 1.5em; margin-bottom: 10px;}
.bootstrap #filters .filters-dates .form-control {
  width: 100px;
  display: inline-block;
}
.bootstrap #filters .filters-dates .filters-dates-exact.form-control {width: 176px;}
.date-type-range,
.date-type-exact {
  position: relative;
  top: -3px;
}
.date-type-month {
  position: relative;
  top: -1px;
}

#filters .iconic-taxon {
  font-size: 30px;
  margin: 0 5px 5px 0;
  padding: 0px 6px;
  font-size: 26.4px;
}

[dir="rtl"] #filters .iconic-taxon {
  margin: 0 0 5px 5px;
}

#filters .iconic-taxon:focus {
  outline: none;
}
#filters .iconic-taxon.last {margin-inline-end: 0;}
#filters-body {
  padding: 10px 0px 15px;
}
#filters-footer {
  background-color: #ddd;
  padding: 10px 0;
}
#filters-footer .btn {margin-inline-start: 12px;}
#filters-footer .btn:first-child {margin-inline-start: 0px;}
#filters-footer .btn-default { border-color: #aaa; }
#footer-links .btn {padding-inline-start: 0; padding-inline-end: 0; color: #333;}
#footer-links .btn:hover { text-decoration: none; }
#footer-links .btn:hover span { text-decoration: underline; }

#filters-center-col {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#filters-more-btn {
  padding:0;
  margin: 12px 0;
}
#filters-more-btn .fa-caret-up { display: inline;}
#filters-more-btn .fa-caret-down { display: none;}
#filters-more-btn.collapsed .fa-caret-up { display: none; }
#filters-more-btn.collapsed .fa-caret-down { display: inline; }

.dropdown-menu.places {
  width: 500px;
  inset-inline-start: 0px;
  background: #f16f3a;
  color: #fff;
  line-height: 1.2em;
}
.dropdown-menu.places .col-xs-6:first-child {
  border-inline-end: 1px solid rgba(0, 0, 0, .15);
}
.dropdown-menu.places h4 {
  font-size: 17px;
  color: rgba(0, 0, 0, .6);
  text-transform: uppercase;
}
.dropdown-menu.places .glyphicon-map-marker {
  font-size: 0.8em;
  margin-inline-end: 3px;
}
.dropdown-menu.places .place {
  cursor: pointer;
  margin-bottom: 8px;
  text-indent: -7px;
  margin-inline-start: 14px;
}
.dropdown-menu.places .name {
  font-weight: 700;
}
.dropdown-menu.places .place:hover {
  text-decoration: underline;
}
.dropdown-menu.places .place:hover .type {
  text-decoration: underline;
  color: #fff;
}
.dropdown-menu.places .place .type {
  text-transform: uppercase;
  font-size: 12px;
  margin-inline-start: 5px;
  color: rgba(0, 0, 0, .5);
}
.dropdown-menu.places .spinner {
  font-size: 1.2em;
  color: white;
  margin: 10px;
}
.shape-buttons {
  display: inline-block;
  margin-inline-end: 2px;
}
#view-controls {
  #subview-controls {
    float: left;
    margin-inline-end: 3px;
    padding-bottom : 2px;
  }

  #primary-map-controls {
    float: left;
    margin-inline-end: 12px;
    padding-bottom: 2px;
  }

  #map-shape-controls {
    padding-top: 1px;
    float: left;
    button {
      color: #fff;
      background: $btn-orange;
      padding: 8px 7px 2px;
      border: 0;
      transition: background-color 0.2s ease-in-out;
      &:focus {
        border: 0;
        outline: 0;
      }
      &:hover {
        background-color: $btn-orange-hover;
      }
      &.disabled:hover {
        background-color: $btn-orange;
      }
    }
    .disabled {
      opacity: 0.4;
      cursor: default;
    }
    button.btn-clear-shape {
      padding: 7px 7px 5px !important;
      color: white;
      background-color: $btn-grey;
      &:hover {
        background-color: $btn-grey;
      }
    }
  }

  embed {
    pointer-events: none;
  }
  .btn-rect {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn-circle {
    margin-inline-start: 0;
    border-inline-start: 1px solid #ffb090 !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .btn-redo-search {
    padding: 7px 7px 5px !important;
    .glyphicon {
      margin-inline-end: 2px;
      color: white;
    }
  }
}

[dir="rtl"] #view-controls {
 #subview-controls {
    float: right;
    margin-inline-end: 3px;
    padding-bottom : 2px;
  }

  #primary-map-controls {
    float: right;
    margin-inline-end: 12px;
    padding-bottom: 2px;
  }
  
  #map-shape-controls {
    padding-top: 1px;
    float: right;
  }
}
.btn .glyphicon {
  top: 3px;
}
#view-controls .btn .glyphicon {
  top: 2px;
}
#subview-controls .btn-default, .btn.places {
  padding: 7px 12px 5px;
}
#view-controls.open .btn-default.places {
  color: #fff;
  background: $btn-orange;
}
#place-name-input {margin-inline-start: 0;}
#place-name-input button {
  background-color: $btn-orange;
  color: white;
  margin-inline-start: 5px;
}
.quality_grade {
  display: inline-block;
  background-color: #ddd;
  padding-block: 2px 1px;
  padding-inline: 10px 0;
  position: relative;
  font-size: 12px !important;
  line-height: 17px !important;
  z-index: 1;
  margin-inline-end: 20px;
}
.quality_grade:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  border: 10px solid #ddd;
  border-inline-end-width: 5px;
  border-inline-end-color: transparent;
  inset-inline-end: -14px;
  z-index: -1;
}
#obs-container .quality_grade {
  padding-block: 1px;
  padding-inline: 5px 0;
  font-size: 10px !important;
  line-height: 14px !important;
  margin-inline-end: 20px;
}

#obs-container .quality_grade:after {
  bottom: 0;
  border-width: 8px;
  border-inline-end-width: 5px;
  inset-inline-end: -10px;
}
.quality_grade.needs_id {
  background-color:#FFEE91;
  color:#85743D;
  display: none; /* no one seems to like this... */
}
.quality_grade.needs_id:after {
  border-color: #FFEE91;
  border-inline-end-color: transparent;
}
.quality_grade.research {
  background-color:#74ac00;
  color:white;
}
.quality_grade.research:after {
  border-color: #74ac00;
  border-inline-end-color: transparent;
}

#result-table th.media {
 width: 5%;
}
#result-table td {
  padding: 10px;
  position: relative;
}
#result-table td.taxon {
  padding: 10px 10px 35px 10px;
}
#result-table {
  .meta {
    position: absolute;
    bottom: 10px;
    .icon-chatbubble {
      position: relative;
      top: -1.2px;
    }
    .icon-identification {
      position: relative;
      top: -1px;
    }
  }
}
.sortable-table th {
  padding: 10px;
  position: relative;
  width: 20%;
}
.bootstrap .sortable-table thead > tr > th {
  border-bottom: 2px solid #ccc;
}
.bootstrap .sortable-table th.sortable {
  cursor: pointer;
  padding-inline-end: 25px;
}
.sortable-table th.sortable:after {
  opacity: 0.2;
  position: absolute;
  inset-inline-end: 10px;
  top: 10px;
  content: '\f0d7';
  display: inline-block;
  font: normal normal normal 18px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.sortable-table th.sorting,
.sortable-table th.sortable:hover {
  font-weight: bold;
  background-color: #D9D9D9;
}
.sortable-table th.sorting:after,
.sortable-table th.sortable:hover:after { opacity: 1; }
.sortable-table th.sorting-asc:after { content: '\f0d8'; }
.sortable-table th.sorting-desc:after { content: '\f0d7'; }
.sortable-table td.sorting {
  background-color: #e1e1e1;
}
.bootstrap .sortable-table tbody > tr > td {
  border-top: 1px solid #ccc;
}

#result-table .img {
  width: 75px;
  height: 75px;
  display: block;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #BABABA;
  text-align: center;
}
#result-table .img i {
  display: none;
}
#result-table .img.iconic i {
  display: inline-block;
  font-size: 50px;
  line-height: 70px;
  color: white;
}
#result-table .img.iconic .sound-icon,
#result-table .img .sound-icon {
  display: none;
}
#result-table .img.sound .sound-icon {
  display: inline-block;
  font-size: 50px;
  line-height: 70px;
  color: #eee;
  opacity: 0.8;
}
$photo-count-square-width: 19px;
$photo-count-square-offset: 3px;
$photo-count-line-width: 1px;
#result-table .img .photo-count,
#result-grid .photo .photo-count {
  position: absolute;
  inset-inline-start: 8px;
  bottom: 8px;
  color: #eee;
  background-color: rgba(0,0,0,0.5);
  padding: 3px;
  font-weight: 500;
  display: block;
  border: $photo-count-line-width solid #eee;
  border-radius: 4px;
  width: $photo-count-square-width;
  height: $photo-count-square-width;
  line-height: $photo-count-square-width / 2 + $photo-count-square-offset;
  font-size: $photo-count-square-width * 0.65;
}
#result-grid .photo .photo-count:after {
  content: "";
  width: $photo-count-square-width;
  height: $photo-count-square-width;
  background-color: rgba(0,0,0,0.5);
  border: $photo-count-line-width solid #eee;
  border-radius: 4px;
  position: absolute;
  inset-inline-start: $photo-count-square-offset;
  bottom: $photo-count-square-offset;
  z-index: 0;
  clip-path: polygon(
    0px 0px,
    $photo-count-square-width 0px,
    $photo-count-square-width $photo-count-square-width,
    ($photo-count-square-width - $photo-count-square-offset - $photo-count-line-width) $photo-count-square-width,
    ($photo-count-square-width - $photo-count-square-offset - $photo-count-line-width) (2 * $photo-count-square-offset),
    ($photo-count-square-width - 2 * $photo-count-square-offset) ($photo-count-square-offset + $photo-count-line-width),
    0px ($photo-count-square-offset + $photo-count-line-width)
  );
  -webkit-clip-path: polygon(
    0px 0px,
    $photo-count-square-width 0px,
    $photo-count-square-width $photo-count-square-width,
    ($photo-count-square-width - $photo-count-square-offset - $photo-count-line-width) $photo-count-square-width,
    ($photo-count-square-width - $photo-count-square-offset - $photo-count-line-width) (2 * $photo-count-square-offset),
    ($photo-count-square-width - 2 * $photo-count-square-offset) ($photo-count-square-offset + $photo-count-line-width),
    0px ($photo-count-square-offset + $photo-count-line-width)
  );
}
#result-table .img .photo-count {
  inset-inline-start: 5px;
  bottom: 5px;
}
#result-table td.user {
  white-space: nowrap;
}
#result-table td.user .userimage,
.plain-table .userimage {
  display: inline-block;
  width: 38px;
  height: 38px;
  font-size: 25px;
  line-height: 37px;
  border: 0 transparent;
  margin-inline-end: 5px;
}

#result-table .date,
#result-table .time {
  display: block;
}

#result-table {
  .place {
    .geoprivacy-icon {
      position: relative;
      top: -2px;
    }
  }
}

#taxa-grid .tooltip-inner { min-width: 200px; }
#filters .tooltip-inner { white-space: nowrap; }
#taxa-grid .corner {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  background-color: #888;
  color: white;
  border-radius: 0;
  inset-inline-end: 0;
  font-weight: 600;
}
#taxa-grid .corner.establishment-means.IN {
  background-color: DeepPink;
}
#taxa-grid .corner.establishment-means.N,
#taxa-grid .corner.establishment-means.E {
  background-color: #84A92F;
}
#taxa-grid .corner.conservation-status {
  background-color:#817134;
}
#taxa-grid .corner.conservation-status.EN,
#taxa-grid .corner.conservation-status.CR {
  background-color:#D12F19;
}

#taxa-grid .photometa {
  position: absolute;
  top: 182px;
  background-color: rgba(0,0,0,0.3);
  color: white;
  width: 100%;
  line-height: 30px;
  padding: 0 9px;
}
#taxa-grid .photometa a {
  color: white;
}
#taxa-grid .photometa:hover {
  cursor: pointer;
  text-decoration: underline;
}
#taxa-grid .photometa .pull-right {
  position: relative;
}

.plain-table {
  margin-top: 20px;
}
.plain-table th { white-space: nowrap; font-weight: bold;}
.plain-table th.user {
  width: 100%;
}
.plain-table .rank { text-align: center; width: 5%; }
.bootstrap table.plain-table > tbody > tr > td { line-height: 40px; }
[ng-click] {
  cursor: pointer;
}
.unclickable {
  cursor: default;
}

.spinner {
  font-family: "FontAwesome" !important;
  text-align: center;
  font-size: 2em;
  margin: 20px;
  color: #646464;
}
#infoWindowSnippet {
  display: none;
}
.bootstrap .infowindow {
  width: 360px;
}
#obs-container .infowindow .observation .media-body {
  padding-top: 1px;
  padding-bottom: 18px;
  border-top: 0px;
}
#obs-container .infowindow .observation .meta {
  bottom: 0px;
}
.infowindow.loading {
  text-align: center;
  line-height: 96px;
}
@-webkit-keyframes fa-spin {
  0% {
    -moz-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes fa-spin {
  0% {
    -moz-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bootstrap .btn-icon-stupidity {
  padding: 4px 10.5px 2px;
}
.bootstrap .btn-icon-stupidity i { font-size: 18px; }
.bootstrap .btn-icon-stupidity i.fa {
  margin: 4px 1.5px;
}
.btn .glyphicon-minus { right: 1px; }

#filters-observation-fields .observation-field,
#filters-observation-fields .observation-field button {
  border-radius: 3px;
  color: white;
}
#filters-observation-fields .observation-field {
  background-color: #999;
  padding: 5px 28px 5px 5px;
  margin-inline-end: 8px;
  position: relative;
}
#filters-observation-fields .observation-field button {
  border: 0;
  background-color: #ccc;
  padding: 0 5px;
  position: absolute;
  inset-inline-end: 2px;
}
#filters-observation-fields .observation-field button:hover {
  background-color: #bbb;
}
.pages {
  text-align: center;
}
#obs .pages {
  padding: 0;
  height: 45px;
}
#obs .pages ul {
  width: 100%;
  margin: 0 0 -5px 0;
  height: 45px;
  line-height: 45px;
}
#obs .pages li {
  width: 50%;
  display: inline-block;
  text-align: center;
  float: left;
  background: #efefef;
}

[dir="rtl"] #obs .pages li {
  width: 50%;
  display: inline-block;
  text-align: center;
  float: right;
  background: #efefef;
}

#obs .pages ul a {
  border: 0;
  padding: 0;
  background-color: inherit;
  color: #333;
  line-height: 45px;
  width: 100%;
}
#obs .pages a:hover {
  opacity: 1;
}
#obs .pages .disabled a {
  opacity: 0.5;
}
#obs .pages li:hover {
  background: rgba(116, 172, 0, 0.15);
}
#obs .pages li.disabled:hover {
  background: #efefef;
}

#obs .pages li:first-child {
  border-inline-end: 2px solid white;
}
