.even{background-color:#f3f3f3;}
#identifications{margin-bottom:1em;}
#identifications h3{margin-bottom:0.5em;}
#identifications .user {display:block;}
.identifications-list .identification.yours{padding:10px;}
#media, #photos, #sounds {max-width:350px;}
#media{margin-right:10px;}
#photos .first, #photos .first img {vertical-align:top;float:left;margin:0 10px 10px 0;max-width:350px;max-height:350px;}
#photos .first img{float:none;margin:0;}
#photos .smallphoto {width:61px; height:61px; overflow:hidden; margin: 0 7px 10px 0;vertical-align:top;}
#photos .smallphoto.last {margin-right:0;}
#photos .smallphoto img {width:61px;}
#photos .smallphoto img.zoom_icon {width:auto;}
#media, #where { float:left;}
#map{height:245px;overflow:hidden;}
#where, #map {width: 100%;}
.has_media #where, .has_maedia #map {width: 310px;}
#observation-description .description{color:#666; overflow:hidden;}
#observation-description img{max-width:500px;height:auto;}
.breadcrumbs{float:left;width:auto;}
#observation-description {margin-top:10px;}
.field .observation_photos label {display:block;}
#where .places .hidden {display:none;}
#app img {position:relative; top:4px;}
#community-identification.box {background-color:#DCEAA3;}
#community-identification {position: relative;}
#community-identification .actions,
#no-community-identification .actions { margin-top:5px; display: block;}
#community-identification .actions .blob,
#no-community-identification .actions .blob {font-weight:bold; color:#333;}
#no-community-identification ul {margin-bottom:10px;}
#community_taxon_summary .agreement {background-color: #e6f3c5;}
#community_taxon_summary .disagreement {background-color: #fdcde7;}
#community_taxon_summary .below_cutoff {opacity:0.5;}
#community_taxon_summary .legend label { padding: 2px 5px;}
#community_taxon_summary .chosen { font-weight: bold; background-color: #eee;}
#community_taxon_summary th.taxon {width:100%;}
#community_taxon_summary td.score {white-space: nowrap;}
.observations.infowindow .observation {width:auto; min-width: 200px;}
.buttonrow.inline #added_to_id_please .inter {float: left;}
