@import "../colors";
@import "../shared/split_taxon";
@import "../shared/annotations";
@import "../shared/observation_fields";
@import "../shared/quality_metrics";
@import "../shared/loading_spinner";
@import "../shared/activity_item";
@import "../shared/taxon_autocomplete";
@import "../../../../node_modules/react-image-gallery/styles/scss/image-gallery";
@import "../../../../node_modules/react-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min";

$bootstrap-link-color: #428BCA;
$other-link-color: #337AB7;
$light-grey: #F7F7F7;
$border-grey: #DDD;
$fail-red: #D9534F;

#react-images-container {
  .content--jss-0-1, .figure--jss-0-4, .easyzoom, .easyzoom > a {
    height: 100%;
  }
  .figureShadow--jss-0-5 {
    display: none;
  }
  .content--jss-0-1 {
    width: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    .easyzoom {
      cursor: default;
      & > a {
        cursor: default;
        img {
          cursor: zoom-in !important;
        }
      }
      .easyzoom-flyout {
        z-index: 2001;
        cursor: zoom-out !important;
        img {
          margin: 0px;
        }
        &.short img {
          margin-top: auto;
          margin-bottom: auto;
        }
        &.narrow img {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

body {
  min-width: 980px;
}

a:hover, a:focus {
  text-decoration: none;
}
a:focus {
  outline: none;
}
.tooltip-inner a {
  color: white;
  font-weight: 700;
}

.input-group.date, .input-group .input-group.date {
  display: none;
}

.linky {
  color: $bootstrap-link-color;
  cursor: pointer;
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right {
  position: absolute;
  top: auto !important;
  left: auto !important;
  right: auto !important;
  bottom: auto !important;
  height: auto;
  margin-top: 37px;
  td span {
    height: auto;
  }
  &:before {
    right: 110px;
  }
  &:after {
    right: 111px;
  }
  .btn {
    box-shadow: none;
  }
}

.gmapv3control.overlaycontrol {
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  border-radius: 2px;
  border: none;
  padding: 5px 5px 0 5px;
  margin-right: 4px;
}

#bodywrapper, #wrapper {
  background: $page-background-grey;
}

#bodywrapper:after {
  height: 200px;
}

#header * {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

#header {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 12px;
}

.bootstrap {
  h1, h2, h3, h4, h5 {
    margin-top: 20px;
    line-height: 30px;
  }
  a {
    color: inherit;
  }
}

tr.disabled td {
  opacity: 0.5;
}

input.failed, textarea.failed {
  border-color: $fail-red !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(217,83,79,.6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(217,83,79,.6) !important;
}

.bold {
  font-weight: bold;
}

.FlashMessage {
  .alert {
    margin-bottom: 10px;
  }
  a {
    color: $other-link-color;
    &.contact {
      color: #a94442;
      text-decoration: underline;
    }
  }
  .message {
    .bold {
      margin-right: 3px;
    }
    .fa {
      margin-right: 5px;
    }
    display: inline-block;
    width: 95%;
  }
  .action {
    display: inline-block;
    float: right;
    .fa {
      font-size: 18px;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}

.ui-autocomplete {
  .ac-result {
    font-family: Whitney, "Trebuchet MS", Arial, sans-serif;
    .ac-label {
      color: #555;
    }
  }
  .ac-thumb i.icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 3px;
  }
}

.UserImage,
a.UserImage,
.bootstrap .UserImage,
.bootstrap a.UserImage {
  &:hover {
    color: #fff;
  }
  display: inline-block;
  border-radius: 120px;
  margin-right: 5px;
  min-width: 40px;
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
  background-color: #aaa;
  color: white;
  text-align: center;
  vertical-align: middle;
  color: white;
  .icon-person {
    font-size: 36px;
    line-height: 40px;
  }
}

.squareIcon {
  border: 1px solid $border-grey;
  padding: 1px;
  display: inline-block;
  margin-right: 5px;
  float: left;
  img {
    width: 40px;
    height: 40px;
    border: 1px solid #B3B2B7;
  }
}

.UserWithIcon {
  .icon {
    float: left;
  }
  .title {
    font-size: 20px;
    line-height: 22px;
    a {
      color: #000;
    }
  }
  .subtitle {
    margin-top: 5px;
    line-height: 18px;
    font-size: 15px;
    i.fa-binoculars {
      font-size: 12px;
      color: $inat-green;
      margin-right: 5px;
    }
    span {
      vertical-align: text-top;
    }
  }
}

#ObservationShow {
  .top_container {
    margin: 0;
    width: auto;
  }
  .title_row {
    margin: 10px 0px 10px;
  }
  .top_row {
    background: #fff;
    border: 1px solid $border-grey;
    .photos_column {
      padding: 0px;
      border-right: 1px solid $border-grey;
      &.empty {
        background-color: #eee;
      }
      .dropzone {
        width: auto;
        height: auto;
        border: none;
        .hover-drop {
          display: none;
          width: 100%;
          text-align: center;
          min-height: 500px;
          line-height: 500px;
          font-size: 20px;
        }
        &.hover {
          cursor: copy !important;
          .hover-drop {
            display: block;
          }
          .PhotoBrowser {
            display: none;
          }
        }
      }
      .PhotoBrowser {
        display: block;
        overflow: hidden;
        width: 100%;
        text-align: center;
        min-height: 500px;
        &.empty {
          font-size: 36px;
          color: #808080;
          text-align: left;
          & > div {
            min-height: 500px;
          }
          & > div > i {
            line-height: 390px;
            display: block;
            text-align: center;
            font-size: 140px;
            color: #ccc;
          }
          span {
            position: absolute;
            top: 280px;
            width: 100%;
            text-align: center;
            font-weight: 100;
          }
          .add-photo-span {
            position: absolute;
            top: auto;
            bottom: 12px;
            .image-gallery-thumbnail {
              width: 38px;
              .fa-plus {
                background: #eee;
              }
            }
          }
        }
        .image-gallery {
          padding: 20px 20px 0px 20px;
        }
        .image-gallery, .image-gallery-content {
          height: 100%;
        }
        .image-gallery-slides {
          display: table;
          width: 100%;
        }
        .image-gallery-slide {
          display: none;
          vertical-align: middle;
          text-align: center;
          &.center {
            display: table-cell;
          }
        }
        .image-gallery-slides img {
          max-height: 420px;
          max-width: 100%;
          width: auto;
          cursor: zoom-in;
          opacity: 1;
          background: #f8f8f8;
        }
        &.no-thumbs .image-gallery-slides img {
          max-height: 460px;
        }
        .image-gallery-slide {
          height: 420px;
          .sound-container {
            position: absolute;
            width: 100%;
            top: 50%; 
          }
          .sound-container.sound-container-soundcloud {
            margin-top: -81px;
          }
          .sound {
            pointer-events: auto;
            width: 100%;
            & > iframe {
              width: 80%;
              height: 130px;
            }
            audio {
              width: 100%;
            }
          }
          .image-gallery-description {
            background: none;
            width: 100%;
            bottom: 0;
            pointer-events: none;
            padding: 6px;
          }
          .image-gallery-image {
            position: relative;
            width: 100%; // needed for IE
          }
          .captions {
            line-height: 18px;
            .captions-box {
              background: rgba(0,0,0,.45);
              padding: 15px;
              border-radius: 50px;
              display: inline-block;
              padding: 5px 9px;
              pointer-events: auto;
            }
            .fa.license {
              vertical-align: middle;
              color: white;
              font-size: 18px;
              cursor: pointer;
              &.fa-copyright {
                font-size: 20px;
              }
            }
            .badge {
              background: white;
              color: rgba(0,0,0,.75);
              margin-left: 5px;
            }
          }
        }
        .image-gallery-thumbnails-wrapper {
          margin: 12px 0;
          .image-gallery-thumbnails {
            z-index: 1;
            width: 100%;
            background: rgba(255,255,255,0.52);
            padding: 0;
            overflow-x: auto;
            .image-gallery-thumbnails-container {
              transform: none !important;
              cursor: default;
              overflow-x: visible;
              height: 36px;
              .image-gallery-thumbnail {
                border: 2px solid transparent;
                width: 34px;
                height: 34px;
                vertical-align: middle;
                cursor: pointer;
                transition: none;
                img {
                  height: 30px;
                  width: 30px;
                }
                &.active {
                  border: 2px solid $inat-green;
                }
                & + .image-gallery-thumbnail {
                  margin-left: 4px;
                }
                .loading_spinner {
                  margin-left: 0;
                  margin-top: 7px;
                  height: 16px;
                  width: 16px;
                }
              }
            }
          }
        }
      }
    }
    .info_column {
      border-left: 1px solid $border-grey;
      margin-left: -1px;
      padding: 20px 0px;
      .user_info {
        padding: 0px 20px 20px 20px;
        border-bottom: 1px solid $border-grey;
        margin: 0px -2px 0px 0px;
        a.UserImage:hover {
          opacity: initial;
        }
      }
      .date_row {
        margin: 20px;
        & > div {
          padding: 0px;
        }
        .bold_label {
          display: block;
          font-weight: bold;
        }
        .date {
          font-size: 13px;
        }
      }
      .stats_row, .faves_row {
        margin: 20px;
      }
      .stats_row {
        margin: 20px;
        .col-xs-4 {
          text-align: center;
          font-size: 22px;
          i {
            margin-right: 8px;
            transform: initial;
            color: #ccc;
          }
        }
      }
      .faves_row {
        margin: 20px 20px 0px 20px;
        & > div {
          padding: 0px;
        }
      }
    }
  }
  .comment_id_panel {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid $border-grey;
    margin-left: 60px;
    margin-bottom: 15px;
    ul.nav-tabs {
      background-color: #f5f5f5;
      margin-bottom: -5px;
      padding-top: 5px;
      border-bottom: 0px;
      li:first-child {
        margin-left: 15px;
      }
      a {
        color: #666;
        outline: none;
        &:hover {
          opacity: 1;
        }
      }
    }
    .tab-content {
      background-color: #fff;
      border-top: 1px solid $border-grey;
      padding: 10px 15px;
      .log-in {
        line-height: 60px;
        a {
          color: $bootstrap-link-color;
        }
      }
      .form-group {
        margin-bottom: 0px;
      }
      .ui-autocomplete .ac-label {
        min-width: 320px;
      }
      textarea {
        min-height: 125px;
        resize: vertical;
        border-radius: 3px;
        background: $light-grey;
      }
      .id_tab {
        input[type="text"] {
          border-radius: 0px 3px 3px 0px;
        }
        textarea {
          min-height: 81px;
          margin-top: 10px;
        }
      }
    }
  }
  .edit-button {
    .btn-group {
      float: right;
      .dropdown-menu > li > a {
        padding: 3px 10px;
      }
      .fa {
        width: 25px;
        text-align: center;
        color: $inat-green;
        &.fa-trash {
          color: $fail-red;
        }
      }
    }
  }
  .middle_left {
    padding-right: 40px;
    h3 {
      margin-bottom: 20px;
    }
  }
  .opposite_activity {
    & > .row > .col-xs-12 > div {
      margin-bottom: 15px;
    }
    h4 {
      margin-top: 15px;
    }
    .CommunityIdentification h4 {
      margin-top: 30px;
    }
  }
  .ObservationTitle {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    white-space: nowrap;
    & > div {
      display: inline-block;
    }
    .SplitTaxon {
      white-space: normal;
      a.sciname {
        font-size: 20px;
        line-height: 24px;
        color: #747474;
        white-space: normal;
      }
      a.display-name, .noname {
        font-size: 32px;
        line-height: 36px;
        color: #000;
        white-space: normal;
      }
    }
  }
  .FollowButton {
    float: right;
    line-height: 32px;
    .unfollow {
      color: #468cc7;
      margin-left: 5px;
    }
    .dropdown-menu {
      min-width: 220px;
    }
  }
  .upper {
    margin-bottom: 40px;
  }
  .data_quality_assessment {
    background: #fff;
    border-top: 1px solid $border-grey;
  }
  .more_from {
    background: #eee;
    border-top: 1px solid $border-grey;
  }
  .other_observations {
    background: #f4f4f4;
    border-top: 1px solid $border-grey;
  }
  div.temporary {
    box-shadow: inset 0 0 0 2px black;
    text-align: center;
    maxheight: 200px !important;
    line-height: 200px;
    font-size: 24px;
    &.d1 {
      maxheight: 100px !important;
      line-height: 100px;
    }
  }
}

.more_from > .container > .row > .col-xs-12 {
  padding: 0;
}

.other_observations > .container > .row > .col-xs-6 {
  padding: 0;
}

h3, h4 {
  &.collapsable {
    i.fa {
      color: $inat-green;
      margin-right: 5px;
    }
    &.collapsable {
      cursor: pointer;
    }
  }
}

.Faves {
  i.fa-star, i.fa-star-o {
    font-size: 16px;
    color: $inat-green;
    margin-right: 8px;
    &:hover {
      cursor: pointer;
    }
  }
  span.user + span.user:before {
    content: ", ";
  }
  a, .others {
    color: #000;
    font-weight: 700;
  }
}

.Projects {
  .projectEntry, .project, .projectFields {
    display: inline-block;
    width: 100%;
  }
  .project .squareIcon {
    margin-right: 8px;
  }
  .projectEntry + .projectEntry {
    margin-top: 15px;
  }
  .panel {
    margin-top: 10px;
  }
  .info {
    float: left;
    width: 80%;
    .fieldLink {
      color: $other-link-color;
      cursor: pointer;
      .fa {
        font-size: 12px;
      }
    }
  }
  .title {
    font-size: 16px;
  }
  .control-group {
    float: right;
    .btn-group button .fa {
      color: #999;
    }
  }
  button.dropdown-toggle {
    border: none;
    background: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    &:hover {
      border: none;
      background: inherit;
    }
    padding: 0;
    line-height: 0px;
  }
  .dropdown {
    .allow {
      display: inline-block;
      padding: 10px 20px 3px 20px;
      input[type="checkbox"] {
        margin-right: 5px;
      }
      .text-muted {
        margin-top: 5px;
      }
      label {
        font-weight: normal;
      }
    }
  }
}

.Map {
  margin: 20px 20px 0px 20px;
  border: 1px solid $border-grey;
  .TaxonMap {
    height: 230px;
    width: 100%;
    background: #e3eaf6;
    &.empty {
      background: none;
    }
  }
  .no_location {
    background: #f8f8f8;
    height: 230px;
    text-align: center;
    font-size: 18px;
    color: #999;
    padding-top: 75px;
    border-bottom: 1px solid $border-grey;;
    .fa {
      display: block;
      font-size: 60px;
      color: #ccc;
    }
  }
  .map_details {
    padding: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    .geoprivacy-icon {
      line-height: 1.3;
      margin-right: 5px;
    }
    .place-guess {
      flex: 2;
      span, div {
        display: inline;
      }
      .place {
        margin-right: 5px;
      }
      .show-more {
        color: $bootstrap-link-color;
        cursor: pointer;
        margin-right: 5px;
      }
      .obscured {
        color: #aaa;
      }
    }
    .dropdown-toggle {
      color: $bootstrap-link-color !important;
      background: none !important;
    }
    .details_menu {
      button {
        margin: 0px 0px 2px 12px;
        padding: 0;
        border: none;
        background: inherit;
      }
      .btn-group.open .dropdown-toggle {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      .dropdown-menu {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.MapDetails {
  min-width: 550px;
  padding: 20px;
  display: inline-block;
  .attr {
    font-weight: 700;
  }
  .places {
    h4 {
      margin-top: 10px;
    }
    .place {
      display: block;
    }
  }
  .type {
    color: #999;
    &:before {
      content: " (";
    }
    &:after {
      content: ")"
    }
  }
  .standard, .community {
    min-width: 40%;
    max-width: 50%;
    float: left;
    .attr, .place {
      display: block;
      margin-bottom: 5px;
    }
  }
  .standard {
    padding-right: 15px;
  }
  .top_info {
    border-bottom: 1px solid $border-grey;
    display: inline-block;
    padding-bottom: 15px;
    width: 100%;
    .info {
      display: block;
      float: left;
      min-width: 110px;
      margin-right: 5px;
    }
  }
}

.Tags, .Projects, .ObservationFields, .Identifiers, .Copyright {
  border-top: 1px solid $border-grey;
}
.top-row .Projects {
  border-top: none;
}

.Tags, .Projects, .ObservationFields, .Annotations, .Identifiers, .Copyright, .QualityMetrics {
  .panel {
    background: none;
    border: 0;
    margin: 0;
    box-shadow: none;
  }
  .panel-body {
    padding: 0;
  }
  .add {
    float: right;
    font-size: 14px;
    color: $bootstrap-link-color;
    cursor: pointer;
  }
}

.Tags {
  .tag {
    background: #f1f6e5;
    border: 1px solid $inat-green;
    border-radius: 2px;
    padding: 3px 7px;
    font-size: 14px;
    line-height: 1.5;
    display: inline-block;
    margin: 0px 8px 6px 0px;
    &.loading {
      color: #808080;
      background: #f6f6f6;
      border: 1px solid #bbb;
    }
    .glyphicon {
      top: 3px;
      margin-left: 5px;
      color: #b2b2b2;
    }
    .glyphicon-remove-circle {
      cursor: pointer;
    }
  }
}

.bootstrap .Activity {
  > .icon {
    float: left;
  }
  $activity-line-width: 4px;
  .UserImage {
    border-width: $activity-line-width;
    width: 52px;
    height: 52px;
    border: $activity-line-width solid $page-background-grey;
    position: relative;
    top: -$activity-line-width;
  }
  .activity {
    position: relative;
    padding-bottom: 20px;
    .icon {
      position: relative;
      z-index: 1;
    }
    .ActivityItem:last-child .panel {
      margin-bottom: 0;
    }
  }
  .activity.empty {
    padding-bottom: 0px;
  }
  .activity:before {
    position: absolute;
    content: " ";
    display: block;
    border-left: $activity-line-width solid $border-grey;
    width: $activity-line-width;
    height: 100%;
    left: 24px;
    top: 0;
    z-index: 0;
  }
  .comment_id {
    margin-left: 60px;
  }
  .review {
    float: right;
    line-height: 34px;
    input {
      margin-right: 5px;
    }
  }
  .ac-select-thumb i {
    vertical-align: auto;
    line-height: 31px;
  }
}

.UsersPopover {
  cursor: pointer;
}

.UsersPopoverOverlay {
  .user {
    display: block;
    .UserImage, .site {
      min-width: 22px;
      width: 22px;
      height: 22px;
      vertical-align: bottom;
      margin-right: 5px;
      .icon-person {
        font-size: 14px;
        line-height: 20px;
      }
    }
    &:not(:first-child) {
      margin-top: 4px;
    }
  }
  .popover-content {
    padding: 12px 20px 12px 10px;
  }
  a {
    color: #000 !important;
    font-weight: 700;
  }
}

.QualityMetrics {
  margin-bottom: 20px;
  padding-right: 20px;
  .grade {
    margin: 15px 0px 25px;
  }
  span[aria-describedby="popover-data-quality"] {
    color: $bootstrap-link-color;
    cursor: pointer;
    i {
      padding: 0px 2px;
    }
  }
}

.DataQualityOverlay {
  max-width: 900px;
}

.ResearchGradeProgress {
  margin-top: 15px;
  .graphic {
    text-align: center;
    .separators {
      position: absolute;
      left: 0;
      width: 100%;
      .left, .right {
        margin: 0;
      }
      .left {
        padding-left: 38px;
      }
      .right {
        padding-right: 38px;
      }
      .separator {
        display: inline-block;
        border: 2px solid $border-grey;
        width: 100%;
        margin: 1px;
        border-style: dashed;
        &.active {
          border-style: solid;
        }
      }
    }
    .checks {
      .col-xs-4 {
        padding: 0;
      }
      .check {
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        background: #DCDCDC;
        border-radius: 20px;
        font-size: 12px;
        &.casual {
          float: left;
        }
        &.research {
          float: right;
        }
        &.needs-id.active {
          background: #E0E000;
          color: #979797;
        }
        &.research.active {
          background: $inat-green;
          color: #fff;
        }
        &.incomplete {
          color: #B3B2B7;
          background: #fff;
          border: 1px solid $border-grey;
          vertical-align: top;
          line-height: 18px;
        }
      }
    }
    .labels {
      & > div {
        display: inline-block;
        width: 115px;
        margin-top: 5px;
      }
      .active {
        font-weight: 600;
      }
      .casual {
        float: left;
        text-align: left;
      }
      .research {
        float: right;
        text-align: right;
      }
    }
  }
  .info {
    margin-top: 35px;
    font-size: 18px;
    line-height: 23px;
  }
  ul.remaining {
    margin-top: 30px;
    padding-left: 15px;
    li {
      list-style-type: none;
      font-size: 16px;
      margin-bottom: 10px;
      &.top_border {
        border-top: 1px solid $border-grey;
        padding-top: 10px;
      }
      .reason_icon {
        float: left;
      }
      .reason, .or {
        margin-bottom: 10px;
      }
      .or {
        margin-left: 40px;
      }
      i.fa {
        font-size: 20px;
        color: $inat-green;
        width: 40px;
        text-align: center;
        &.danger {
          color: $fail-red;
        }
      }
    }
  }
  .outlinks {
    border-top: 1px solid $border-grey;
    padding-top: 15px;
    margin-top: 30px;
    font-size: 16px;
    .intro {
      display: block;
      margin-bottom: 10px;
      .intro-sub {
        display: block;
        font-size: 14px;
      }
    }
    .outlink {
      width: 50%;
      float: left;
      margin-bottom: 15px;
      padding-right: 10px;
    }
  }
}

.MoreFromUser {
  display: inline-block;
  padding-bottom: 30px;
  width: 100%;
  h3 {
    & > span a {
      font-weight: 700;
    }
    .links {
      float: right;
      font-size: 14px;
      a {
        color: $other-link-color;
      }
      .separator {
        margin: 0px 5px;
      }
    }
  }
  .list {
    display: inline-block;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    .col-xs-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .obs {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    border: 1px solid #D0D0D0;
  }
  .photo {
    width: 100%;
    height: 140px;
    a {
      width: 100%;
      height: 100%;
      display: block;
      background-size: cover;
      background-position: center;
      margin: 0px auto;
      text-align: center;
      &:hover {
        opacity: 1;
      }
    }

    .icon, .sound-icon {
      display: none;
      color: #aaa;
      opacity: 0.8;
      font-size: 105px;
      margin-top: 20px;
    }
    a.sound .sound-icon, a.iconic .icon {
      display: inline-block;
    }

  }
  .caption {
    background: #fff;
    padding: 8px;
    min-height: 56px;
    text-align: left;
    a {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: #000;
    }
  }
  .view {
    font-weight: 700;
    margin-right: 5px;
  }
}

.ObservationsHighlight {
  padding-bottom: 30px;
  min-height: 140px;
  h3 {
    a {
      float: right;
      color: $other-link-color;
      font-size: 14px;
    }
  }
  .list {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    .col-xs-2 {
      padding: 5px;
    }
    &.empty {
      text-align: left;
      color: #808080;
      padding-left: 15px;
      padding-top: 2px;
      font-size: 16px;
    }
  }
  .photo {
    width: 100%;
    height: 68px;
    display: inline-block;
    a {
      width: 100%;
      height: 100%;
      display: block;
      background-size: cover;
      background-position: center;
      border-radius: 2px;
      &:hover {
        box-shadow: inset 0 0 0 3px $inat-green;
        opacity: 1;
      }
    }
  }
}
.obs-highlight-link {
  .SplitTaxon {
    a.display-name,
    .noname {
      display: block;
      color: white;
    }
  }
}

.Identifiers {
  .identifier {
    height: 50px;
    width: 50%;
    display: inline-block;
    margin-bottom: 15px;
    .UserWithIcon {
      padding-right: 15px;
      .icon {
        margin-right: 5px;
      }
      .title {
        font-size: 14px;
        line-height: 14px;
        padding-top: 8px;
        font-weight: 700;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
      }
      .subtitle {
        color: #808080;
        font-size: 14px;
        margin-top: 4px;
        i {
          font-size: 12px;
        }
      }
    }
  }
}

.OptOutPopover {
  max-width: 530px;
  width: 530px;
  .popover-content {
    display: inline-block;
    padding: 15px !important;
  }
  .action {
    .reject, .cancel {
      float: left;
    }
    .cancel {
      line-height: 34px;
      margin-left: 20px;
    }
  }
}

.CommunityIdentification {
  .reject {
    float: right;
    font-size: 14px;
  }
  .fa-info-circle {
    color: $other-link-color;
    cursor: pointer;
    margin-left: 4px;
  }
  .opted_out {
    font-size: 14px;
    padding-left: 5px;
  }
  .info {
    border: 1px solid $border-grey;
    background: #fff;
    padding: 15px;
    .badges {
      float: right;
      .ConservationStatusBadge, .EstablishmentMeansBadge {
        display: inline-block;
        margin: 0px 3px;
      }
    }
    .taxon {
      font-size: 16px;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #aaa;
      margin-right: 45px;
      margin-bottom: 5px;
      .display-name {
        color: #000;
        font-weight: 700;
      }
    }
    .photo {
      float: right;
      img {
        width: 40px;
        height: 40px;
      }
      i.taxon-image.icon {
        display: inline-block;
        font-size: 36px;
        line-height: 38px;
        text-align: center;
        opacity: 0.9;
        border: 1px solid $border-grey;
        border-radius: 2px;
        width: 44px;
        height: 44px;
      }
    }
    .TaxonSummaryPopover {
      cursor: pointer;
    }
    .cumulative {
      display: inline-block;
    }
    .graphic {
      margin-top: 15px;
      position: relative;
      .for, .against {
        display: inline-block;
        height: 8px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        cursor: pointer;
      }
      .for {
        background: $inat-green;
      }
      .against {
        background: $fail-red;
      }
      .lines {
        width: 100%;
        height: 15px;
        position: absolute;
        top: 0;
        pointer-events: none;
        .two-thirds {
          margin-left: 66.6%;
          border-left: 1px solid #333;
          width: 0px;
          display: inline-block;
        }
      }
      .numbers {
        width: 100%;
        .first {
          width: 50%;
          text-align: left;
          display: inline-block;
        }
        .two-thirds {
          width: 33.3%;
          text-align: center;
          font-weight: 600;
          display: inline-block;
        }
        .last {
          width: 16.7%;
          text-align: right;
          display: inline-block;
        }
      }
    }
  }
  .action {
    border: 1px solid $border-grey;
    border-top: 0px;
    padding: 17px 12px;
    .btn-space {
      width: 33%;
      display: inline-block;
      text-align: center;
      button {
        width: 90%;
        .fa {
          color: $inat-green;
        }
      }
    }
  }
  .override {
    border: 1px solid $border-grey;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    a {
      color: $bootstrap-link-color;
      font-weight: 200;
    }
    &.in {
    }
    &.out {
      border-color: #faebcc;
      color: #8a6d3b;
      background: #fcf8e3;
      .bold {
        display: block;
      }
      .separator {
        margin: 0px 5px;
      }
    }
  }
}

.CommunityIDPopoverOverlay.PopoverWithHeader {
  max-width: 600px;
  .arrow:after {
    border-top-color: #f8fbf2 !important;
  }
  .header {
    background: #eaf2da;
    .UserImage {
      min-width: 26px;
      width: 26px;
      height: 26px;
      .icon-person {
        font-size: 18px;
        line-height: 24px;
      }
    }
    a {
      color: inherit;
    }
  }
  .contents {
    background: #f8fbf2;
    white-space: nowrap;
    display: inline-block;
    & > ul {
      display: inline-block;
      & > li, & > li > ul > li {
        margin-left: 5px !important;
      }
    }
    .taxonomy {
      ul.last, .boldTaxon > span.taxon {
        font-weight: 700;
      }
      li.child {
        margin-left: 20px;
        &:before {
          content: "\21B3";
          color: #999;
        }
      }
      a.display-name {
        color: #000;
      }
    }
  }
  &.disagree {
    .arrow:after {
      border-top-color: #fcf4f3 !important;
    }
    .header {
      background: #f8e2e1;
    }
    .contents {
      background: #fcf4f3;
    }
  }
}

.CommunityIDInfoOverlay {
  min-width: 400px;
  p:last-child {
    margin-bottom: 0px;
  }
}

.TaxonSummaryPopoverOverlay.popover {
  width: 500px;
  max-width: 500px;
  margin-top: -25px !important;
  .popover-content {
    display: inline-block;
    padding: 15px 15px;
  }
  .photo {
    float: left;
    max-height: 165px;
    width: 165px;
    text-align: center;
    img {
      max-width: 165px;
      max-height: 165px;
    }
    i.taxon-image.icon {
      vertical-align: top;
      font-size: 160px;
      opacity: 0.9;
    }

  }
  .summary {
    margin-left: 175px;
    a.more {
      display: block;
      margin-top: 5px;
      .fa {
        color: $inat-green;
      }
    }
  }
}

.ConfirmModal.confirm, .FlaggingModal.modal {
  &.error {
    font-size: 14px;
    ul {
      margin-top: 10px;
      li {
        margin-bottom: 5px;
      }
    }
    .modal-body {
      color: #333333;
    }
  }
  .modal-dialog {
    width: 500px;
    margin-top: 100px;
  }
  .text {
    line-height: 28px;
    font-size: 1.3em;
    display: inline-block;
    margin-left: 10px;
    .coarse_ids {
      .taxon {
        font-weight: 600;
      }
      .learn {
        margin: 15px 0px 10px;
        display: block;
        font-size: 16px;
      }
      input {
        margin: 0px;
      }
      label {
        font-size: 14px;
        font-weight: 500;
        margin-left: 5px;
        line-height: auto;
        margin: 0px 0px 0px 5px;
        vertical-align: middle;
      }
    }
  }
  .modal-footer {
    padding: 10px;
    .buttons {
      text-align: center;
    }
    button {
      min-width: 100px;
      margin: 0px 10px;
    }
  }
}

.LicensingModal.modal, .CommunityIDModal.modal, .ProjectFieldsModal.modal {
  .modal-dialog {
    width: 90%;
    height: 85%;
    max-width: 950px;
    min-width: 750px;
    .modal-content {
      max-height: none;
      height: 100%;
      padding-bottom: 65px;
      overflow: hidden;
    }
    .modal-body {
      height: 100%;
      overflow-x: auto;
      max-height: none;
    }
  }
}

.CommunityIDModal.no-taxon.modal {
  .modal-dialog {
    .modal-content {
      max-height: none;
      height: auto;
      max-height: 100%;
      padding-bottom: 0px;
    }
  }
}

.LicensingModal.modal, .CommunityIDModal.modal {
  .modal-dialog {
    .modal-body {
      .container {
        width: 100%;
      }
    }
    .license-col {
      margin-bottom: 10px;
      label span {
        margin-left: 3px;
      }
    }
    .preferred {
      background-color: #E6EFC2;
      padding: 3px;
    }
    .info {
      margin-left: 15px;
      color: #777;
    }
    input[type="radio"], input[type="checkbox"] {
      margin-right: 3px;
    }
    .buttons label {
      margin-right: 20px;
    }
  }
}

.CommunityIDModal.modal {
  .modal-dialog {
    h4:not(:first-child) {
      margin: 30px 0px 10px;
    }
    table {
      font-size: 13px;
      th:not(:first-child) {
        max-width: 100px;
      }
      tr {
        &.current-id {
          background: #eee;
          font-weight: 700;
        }
        &.included {
          background: #e6f3c5;
        }
        &.excluded {
          background: #fdcde7;
        }
        &.other-branch {
          td {
            opacity: 0.5;
          }
        }
      }
      td {
        padding: 2px 8px;
        .sciname {
          font-size: 12px;
        }
        .display-name {
          font-size: 13px;
          white-space: nowrap;
        }
        &.score {
          white-space: nowrap;
        }
      }
    }
    .legend {
      font-size: 13px;
      & > span {
        padding: 5px;
        &:not(:first-child) {
          margin-left: 10px;
        }
      }
      .included {
        background: #e6f3c5;
      }
      .excluded {
        background: #fdcde7;
      }
      .other-branch {
        opacity: 0.5;
      }
    }
    dd {
      margin-left: 15px;
    }
  }
}

.FlaggingModal.modal {
  .modal-dialog {
    width: 450px;
    margin-top: 30px;
  }
  .text {
    line-height: inherit;
    font-size: inherit;
  }
  .flagInput {
    .heading {
      input {
        margin: 0px 5px;
      }
      font-size: 16px;
      font-weight: 600;
    }
  }
  .modal-dialog {
    .modal-body {
      textarea {
        min-height: 75px;
        resize: none;
        border-radius: 3px;
        background: $light-grey;
      }
      .glyphicon-remove-circle {
        top: 3px;
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }
}

.ConservationStatusBadge, .EstablishmentMeansBadge {
  .badge {
    min-width: 24px;
  }
  margin-left: 10px;
  cursor: pointer;
  vertical-align: text-bottom;
}

.ConservationStatusBadgePopover, .EstablishmentMeansBadgePopover {
  padding: 0px !important;
  color: white !important;
  max-width: 450px;
  .bold {
    font-weight: 500;
  }
  .popover-content {
    background: #84A92F;
    border-radius: 5px;
  }
  .arrow:after {
    border-bottom-color: #84A92F !important;
  }
}

.ConservationStatusBadge {
  .badge {
    background: #84A92F;
    &.near_threatened, &.vulnerable {
      background: #817134;
    }
    &.endangered, &.critically_endangered {
      background: #D12F19;
    }
    &.extinct_in_the_wild, &.extinct {
      background: black;
    }
  }
}

.ConservationStatusBadgePopover {
  .summary {
    font-size: 12px;
  }
  &.near_threatened, &.vulnerable {
    .popover-content {
      background: #817134;
    }
    .arrow:after {
      border-bottom-color: #817134 !important;
    }
  }
  &.endangered, &.critically_endangered {
    .popover-content {
      background: #D12F19;
    }
    .arrow:after {
      border-bottom-color: #D12F19 !important;
    }
  }
  &.extinct_in_the_wild, &.extinct {
    .popover-content {
      background: black;
    }
    .arrow:after {
      border-bottom-color: black !important;
    }
  }
}

.EstablishmentMeansBadge {
  .badge {
    background: #84A92F;
    &.introduced {
      background: deeppink;
    }
  }
}

.EstablishmentMeansBadgePopover {
  &.introduced {
    .popover-content {
      background: deeppink;
    }
    .arrow:after {
      border-bottom-color: deeppink !important;
    }
  }
}

.Copyright {
  a {
    color: $bootstrap-link-color;
  }
  .ObservationAttribution img {
    display: block;
    margin-top: 5px;
  }
  .app-info {
    display: block;
    margin-top: 25px;
    .application {
      .icon {
        margin-right: 5px;
        img {
          border: 1px solid $border-grey;
        }
      }
      .name {
        vertical-align: middle;
      }
    }
  }
}

.PreviousNextButtons {
  float: right;
  margin-top: 23px;
  .previous {
    float: left;
    padding-right: 3px;
  }
  .next {
    float: left;
    padding-left: 2px;
  }
  .previous, .next {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: $inat-green;
    border-radius: 15px;
    cursor: pointer;
    padding-top: 3px;
    text-align: center;
    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
    &:not(:first-child) {
      margin-left: 8px;
    }
    .fa {
      font-size: 14px;
      color: white;
    }
  }
}

.box.opt-out {
  background: #f8f8f8;
  margin: 30px 0px 27px 0px;
  font-size: 16px;
  button {
    margin-left: 10px;
  }
}

.ProjectFieldsModal.modal {
  .modal-dialog {
    width: 600px;
    min-width: 400px;
    .modal-content {
      padding-bottom: 120px;
    }
  }
  .modal-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #337ab7;
    .modal-title {
      color: white;
    }
    .close {
      color: white;
      opacity: 0.6;
      text-shadow: 0 1px 0 #333333;
      &:hover {
        color: white;
        opacity: 1;
      }
    }
  }
  .modal-body {
    .intro {
      margin-bottom: 15px;
      font-weight: 700;
    }
    .observation-field {
      position: relative;
      margin-bottom: 10px;
      &.editing {
        background: inherit;
        padding: 0;
        button {
          background-color: #5cb85c;
          border-color: #4cae4c;
          &:hover {
            color: white;
            background-color: #449d44;
            border-color: #398439;
          }
        }
      }
      &:not(.dna-field) {
        button.standalone {
          position: absolute;
          top: 34px;
          right: 0px;
        }
      }
      &:not(:first-child) {
        margin-top: 20px;
      }
      .form-group {
        margin-bottom: 0px;
      }
      .field-name {
        font-weight: 600;
        font-size: 15px;
        margin: 0px 0px 4px 0px;
        .required {
          margin-left: 5px;
        }
      }
      .btn.standalone {
        margin: 0;
      }
      .help-block {
        margin-top: 8px;
        margin-bottom: 0px;
      }
    }
  }
}

.add-photo {
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
  position: relative;
  i.fa {
    color: #aaa;
    &.fa-plus {
      position: absolute;
      font-size: 14px;
      bottom: -6px;
      right: -9px;
      background: white;
      padding: 1px 2px;
      border-radius: 40px;
    }
  }
}



.UserText {
  overflow: hidden;
  a {
    color: $bootstrap-link-color;
    cursor: pointer;
  }
  img {
    max-width: 100%;
  }
}





.easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 2;
}
.easyzoom-flyout img {
  vertical-align: bottom;
}
.image-gallery-content .easyzoom-flyout img {
  height: auto;
  width: auto;
  opacity: 1;
  cursor: zoom-out;
}

.easyzoom-zoomed img {
  visibility: hidden;
}


.easyzoom,
.easyzoom > a {
  display: inline-block;
  width: 100%;
  cursor: zoom-in;
}
body > div > [role="dialog"] .easyzoom > a > img {
  vertical-align: bottom;
}

.easyzoom.is-loading img {
  cursor: progress;
}

.easyzoom-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 10em;
  margin: -1em 0 0 -5em;
  line-height: 2em;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px black;
}




.quality_grade {
  display: inline-block;
  background-color: $border-grey;
  padding: 2px 0px 1px 10px;
  position: relative;
  font-size: 12px !important;
  line-height: 17px !important;
  z-index: 1;
  margin-right: 20px;
  // added
  margin-left: 10px;
  vertical-align: text-bottom;
}
.quality_grade:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  border: 10px solid $border-grey;
  border-right-width: 5px;
  border-right-color: transparent;
  right: -15px;
  z-index: -1;
}
.quality_grade.needs_id {
  background-color: $needs-id-yellow;
  color: $needs-id-yellow-light;
}
.quality_grade.needs_id:after {
  border-color: $needs-id-yellow;
  border-right-color: transparent;
}
.quality_grade.research {
  background-color: $inat-green;
  color:white;
}
.quality_grade.research:after {
  border-color: $inat-green;
  border-right-color: transparent;
}

.PopoverWithHeader {
  padding: 0px !important;
  .popover-content {
    padding: 0px !important;
  }
  .header {
    padding: 9px 14px;
    border-radius: 5px 5px 0px 0px;
    background: #eee;
    font-size: 16px;
  }
  .contents {
    padding: 9px 14px;
    border-radius: 0px 0px 5px 5px;
  }
}



.loading_spinner {
  width: 14px;
  height: 14px;
  border: 3px solid $border-grey;
  border-radius: 50%;
  border-top: 3px solid #74ac00;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  vertical-align: text-bottom;
  margin-left: 5px;
  display: inline-block;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#initial-loading .loading_spinner {
  display: inline-block;
  margin: 0px auto;
  margin-top: 150px;
  width: 80px;
  height: 80px;
  border: 15px solid $border-grey;
  border-top: 15px solid #74ac00;
}

.observations.infowindow .observation {
  width: 245px;
}




@media (max-width: 1000px) {
  .bootstrap .container {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .MoreFromUser .photo {
    height: 171px;
    .icon, .sound-icon {
      font-size: 125px;
      margin-top: 25px;
    }
  }
  .ObservationsHighlight .photo {
    height: 84px;
  }
}