@import "../../../../node_modules/react-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min";
@import "../../../../node_modules/react-widgets/dist/css/react-widgets";
@font-face {
  font-family: 'RwWidgets';
  src: url('/fonts/rw-widgets.eot');
  src: url('/fonts/rw-widgets.eot?#iefix') format('embedded-opentype'), url('/fonts/rw-widgets.woff2') format('woff2'), url('/fonts/rw-widgets.woff') format('woff'), url('/fonts/rw-widgets.ttf') format('truetype'), url('/fonts/rw-widgets.svg#glyphicons_halflingsregular') format('svg');
}
#wrapper {
  min-height: 100%;
  background: none;
}
#bodywrapper {
  margin-bottom: 0px;
  background: #E4E4E4;
}
#bodywrapper:after {
  height: 0px;
}
#header {
  margin-bottom: 0px;
}
.control-menu button .glyphicon, .intro button .glyphicon {
  margin-left: 10px;
  top: 3px;
  font-size: 0.9em;
}
.control-menu {
  background: #fff;
  padding: 10px;
  height: 55px;
  button {
    margin: 0px 5px;
    &.save {
      float: right;
    }
  }
}
.row.body {
  display: flex;
}
#imageGrid {
  min-height: 450px;
  flex: 1;
  flex-direction: column;
  display: flex;
  .intro {
    text-align: center;
    height: 300px;
    padding-top: 7%;
    font-size: 1.3em;
    .drag_or_choose {
      padding-bottom: 30px;
    }
    .dropdown {
      border-top: 1px dashed;
      padding: 30px 150px 0px;
    }
    .dropdown-menu {
      margin: 0px 150px;
    }
  }
  .card input {
    display: inline-block;
  }
  .ac-chooser input {
    width: 150px;
    padding-right: 25px;
  }
}
.uploader {
  min-width: 1000px;
  &.populated {
    #imageGrid > div {
      flex: 1;
      flex-direction: column;
      display: inline;
    }
  }
  &.hover {
    opacity: 0.7;
    cursor: copy;
    .intro {
      .start {
        display: none;
      }
      .hover {
        display: block;
      }
    }
    #multiMenu, .control-menu > div {
      display: none;
    }
  }
  .form-group, .rw-datetimepicker, .input-group {
    margin-bottom: 5px;
  }
  .intro .hover {
    display: none;
    p {
      line-height: 150px;
    }
  }
}
.leftColumn {
  width: 250px;
  .ac-chooser {
    .ac-select-thumb {
      position: absolute;
    }
    input[name="taxon_name"] {
      margin-left: 40px;
      width: 85%;
    }
  }
  h4.empty {
    font-style: italic;
  }
  .checkbox {
    label {
      padding: 0px;
    }
    input[type="checkbox"] {
      position: relative;
      margin: 0px 5px 0px 5px;
    }
  }
}
.card {
  background-color: white;
  margin: 5px;
  width: 200px;
  border: 1px solid #666;
  padding: 5px;
  border-radius: 5px;
  cursor: -webkit-grab; cursor: -moz-grab;

  &:hover {
    border: 2px solid #666;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .close, .zoom {
      display: block;
    }
  }
  .close, .zoom {
    display: none;
    cursor: pointer;
    &:hover {
      opacity: 1 !important;
    }
  }


  &.selected {
    border: 2px solid rgba(255, 0, 128, 1);
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  & > .close {
    font-size: 20px;
    margin: -15px -15px -15px 0px;
  }

  .head {
    height: 10px;
  }

  .image {
    width: 100%;
    height: 130px;
    text-align: center;
    padding: 0px 4px;
    margin-bottom: 4px;
    position: relative;

    .placeholder {
      margin: auto;
    }

    .placeholder  .glyphicon , .item >  .glyphicon{
      line-height: 120px;
      font-size: 90px;
      opacity: 0.07;
    }

    img {
      max-height: 115px;
      max-width: 172px;
      width: auto;
    }

    .zoom {
      position: absolute;
      bottom: 25px;
      line-height: 20px;
      right: 32px;
      opacity: 0.5;
    }
  }

  .carousel {
    .item {
      height: 130px;
      line-height: 130px;
      width: 100%;
      &.next, &.active {
        display: inline-block;
      }
      &.left, &.right {
        float: none;
        margin: 0px auto;
      }
    }
    .photoDrag {
      display: inline-block;
      line-height: initial;
      cursor: pointer;
      box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.4);
      margin-left: -1px;

      &:hover {
        border: 1px solid rgba(255, 0, 128, 0.3);
        padding: 0px;
      }
      &.drag {
        border: 1px solid rgba(255, 0, 128, 0.7);
        padding: 0px;
      }
      img {
        display: inline-block;
      }
      .close {
        line-height: 20px;
        color: black;
        float: right;
        width: 0;
        height: 0;
        margin: 2px 17px 0px -17px;
        font-size: 15px;
        opacity: 0.5;
      }
    }
    .carousel-control {
      background: none;
      height: 50px;
      margin-top: 40px;
      span {
        font-size: 20px;
        margin-top: -10px;
      }
    }
    .carousel-indicators {
      bottom: 0px;
      margin-bottom: 5px;
      li {
        border: 1px solid #E4E4E4;
        box-shadow: 0 1px 0 #222;
        &:hover {
          background: #fff;
        }
      }
    }
  }

  textarea {
    resize: none;
  }
}

.date .input-group-addon {
  padding: 6px 11px;
  background: #fff;
  color: #333;
  cursor: pointer;
}

.card button .glyphicon, .leftColumn button .glyphicon {
  top: 3px;
}


.cellDropzone {
  float: left;
}
.cellDropzone.hover .card, .cellDropzone .card.dragOver {
  border: 3px solid green;
  padding: 3px;
}
.cellDropzone .card.dragging {
  border: 3px solid red;
  padding: 3px;
  cursor: no-drop;
}
#multiMenu {
  position: fixed;
  top: 120px;
  width: 220px;
  cursor: auto;
}
.image .badge {
  position: absolute;
  display: block;
  z-index: 2;
}
.modal {
  &.location {
    .modal-header {
      .glyphicon {
        font-size: 0.9em;
        margin-right: 5px;
      }
    }
    .modal-dialog {
      width: 700px;
    }
    .modal-body {
      height: 400px;
      padding: 10px;
    }
    .modal-header {
      padding: 10px 10px 5px 10px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background: #337ab7;

      h4 {
        color: white;
      }
    }
    .modal-footer {
      text-align: center;
      button {
        min-width: 100px;
        margin: 0px 20px;
      }
    }
    .form-group {
      display: inline-block;
      margin: 0px 10px;
      input {
        width: 80px;
        &.notes {
          width: 220px;
        }
      }
    }
  }
  .map {
    height: 310px;
  }
  .form {
    margin-top: 10px;
    display: flex;
    option {
      height: 0px;
    }
  }

  &.confirm {
    .modal-dialog {
      width: 450px;
      margin-top: 150px;
    }
    .text {
      line-height: 28px;
      font-size: 1.3em;
      display: inline-block;
      margin-left: 10px;
    }
    .modal-footer {
      padding: 10px;
      .buttons {
        text-align: center;
      }
      button {
        min-width: 100px;
        margin: 0px 10px;
      }
    }
  }

  &.status .modal-dialog, &.remove .modal-dialog {
    margin-top: 200px;
  }

  &.status {
    h3 {
      margin: 20px;
      text-align: center;
    }
  }
}

.pac-container {
  z-index: 1100;
}
div.fixed:before {
  content: "<div id='thebefore'></div>"
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right {
  position: absolute;
  top: auto !important;
  left: auto !important;
  right: auto !important;
  bottom: auto !important;
  height: auto;
  margin-top: 37px;
  td span {
    height: auto;
  }
  &:before {
    right: 110px;
  }
  &:after {
    right: 111px;
  }
}
