@import "../../../../node_modules/react-image-gallery/src/ImageGallery";
@import "../../../../node_modules/react-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min";
@import "../../../../node_modules/react-widgets/dist/css/react-widgets";
@font-face {
  font-family: 'RwWidgets';
  src: url('/fonts/rw-widgets.eot');
  src: url('/fonts/rw-widgets.eot?#iefix') format('embedded-opentype'), url('/fonts/rw-widgets.woff2') format('woff2'), url('/fonts/rw-widgets.woff') format('woff'), url('/fonts/rw-widgets.ttf') format('truetype'), url('/fonts/rw-widgets.svg#glyphicons_halflingsregular') format('svg');
}
#wrapper {
  min-height: initial;
}
#bodywrapper:after {
  height: 220px;
}
.uploader {
  margin: 0px 20px;
  min-width: 1000px;
}
.conrol-menu button {
  margin: 0px 3px;
}
.conrol-menu button.save {
  float: right;
}

#imageGrid {
  border-style: dashed;
  border-radius: 5px;
  border-width: 2px;
  min-height: 350px;
}
#imageGrid .intro {
  text-align: center;
  height: 300px;
  padding-top: 10%;
  font-size: 1.3em;
}
.conrol-menu button .glyphicon, .intro button .glyphicon {
  margin-left: 10px;
  top: 3px;
  font-size: 0.9em;
}
.card button .glyphicon, .leftColumn button .glyphicon {
  top: 3px;
}
.uploader.hover #imageGrid {
  border-style: solid;
  background-color: #eee;
}
.uploader.populated #imageGrid {
  border-style: solid;
}
.uploader.hover .intro .start {
  display: none;
}
.uploader .intro .hover {
  display: none;
}
.uploader .intro .hover p {
  line-height: 150px;
}
.uploader.hover .intro .hover {
  display: block;
}
.card {
  background-color: white;
  margin: 10px;
  display: inline-block;
  width: 200px;
  border: 1px solid #666;
  padding: 5px;
  border-radius: 5px;
}
.card.blank {
  border: 1px solid #666;
}
.card .move {
  float: left;
  font-size: 15px;
  margin: -13px 0px 0px -13px;
  opacity: 0.2;
  cursor: move;
  display: none;
}
.card .close {
  font-size: 15px;
  margin: -13px -13px 0px 0px;
  display: none;
}
.cellDropzone:hover .move, .cellDropzone:hover .close {
  display: block;
}
.card .move:hover, .card .close:hover {
  opacity: 1;
}
.card .head {
  height: 10px;
}
.card .image {
  width: 100%;
  height: 130px;
  text-align: center;
}
.card .image .placeholder {
  border-style: dashed;
  border-radius: 5px;
  border-width: 1px;
  width: 80px;
  height: 100px;
  margin: auto;
}
.card .image img {
  max-height: 126px;
  max-width: 172px;
  border: 3px solid #bbb;
  width: auto;
}
.card .image-gallery-slides {
  height: 130px;
  line-height: 130px;
}
#imageGrid .card input {
  display: inline-block;
}
.card textarea {
  resize: none;
}
.uploader .form-group, .uploader .rw-datetimepicker {
  margin-bottom: 5px;
}
#imageGrid .ac-chooser input {
  width: 150px;
}
.cell {
  display: inline;
}
.card.selected {
  border: 3px solid #ff0080;
  padding: 3px;
}
.uploader .conrol-menu {
  margin-bottom: 20px;
}
.cellDropzone {
  display: inline-block;
}
.cellDropzone.hover .card {
  border: 4px solid green;
  padding: 2px;
}
.cellDropzone.hover .card.dragging {
  border: 4px solid red;
  padding: 2px;
  cursor: no-drop;
}
.uploader .leftColumn {
  width: 250px;
}
.leftColumn .ac-chooser .ac-select-thumb {
  position: absolute;
}
.leftColumn .ac-chooser input[name="taxon_name"] {
  margin-left: 40px;
  width: 85%;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right {
  top: 231px !important;
  left: auto !important;
  right: auto !important;
}
#multiMenu {
  position: fixed;
  top: 150px;
  width: 220px;
}
.image .badge {
  position: absolute;
  display: block;
  background: pink;
  z-index: 2;
}
.card .image-gallery-left-nav,
.card .image-gallery-right-nav {
  font-size: 3em;
}
.card .image-gallery-content .image-gallery-left-nav:before,
.card .image-gallery-content .image-gallery-right-nav:before {
  padding: 0px 15px;
}
.card .image-gallery-bullets {
  bottom: 0px;
}
.card .image-gallery-bullets .image-gallery-bullet {
  margin: 0px 3px;
  padding: 4px;
}
.modal.status .modal-dialog, .modal.remove .modal-dialog {
  margin-top: 200px;
}
.modal.status h3 {
  margin: 20px;
  text-align: center;
}
.modal.location .modal-dialog {
  width: 700px;
}
.modal.location .modal-body {
  height: 400px;
  padding: 10px;
}
.modal.location .modal-header {
  padding: 10px 10px 5px 10px;
}
.modal.location .form-group {
  display: inline-block;
  margin: 0px 10px;
}
.modal.location .form-group input {
  width: 80px;
}
.modal.location .form-group input.notes {
  width: 160px;
}
.modal.location .map {
  height: 310px;
}
.modal.location .form {
  margin-top: 10px;
  display: flex;
}
.modal.location .form option {
  height: 0px;
}
.pac-container {
  z-index: 1100;
}
.modal.remove .modal-dialog {
  width: 450px;
}
.modal.remove .text {
  line-height: 34px;
  font-size: 1.3em;
  display: inline-block;
  margin-left: 10px;
}
.modal.remove .buttons {
  float: right;
}