@import "../../users/_user_image";
.ObservationsGridItem {
  position: relative;
}
.ObservationsGridItem.reviewed {
  opacity: 0.5;
}
.ObservationsGridItem .thumbnail {
  margin-bottom: 30px;
}
.ObservationsGridItem .thumbnail {
  position: relative;
}
.ObservationsGridItem .photo {
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin: 0px auto;
  text-align: center;
  position: relative;
}
.ObservationsGridItem a.photo {
  opacity: 1;
}
.ObservationsGridItem .photo .icon, 
.ObservationsGridItem .photo:hover .icon,
.ObservationsGridItem .photo:active .icon,
.ObservationsGridItem .photo:visited .icon,
.ObservationsGridItem .photo:link .icon {
  display: none;
}
.ObservationsGridItem .photo.iconic .icon,
.ObservationsGridItem .photo.iconic .icon:hover,
.ObservationsGridItem .photo.iconic .icon:active,
.ObservationsGridItem .photo.iconic .icon:visited,
.ObservationsGridItem .photo.iconic .icon:link {
  color: #eee;
  display: inline-block;
}
.ObservationsGridItem .photo .sound-icon { display: none; }
.ObservationsGridItem .photo.sound .sound-icon {
  display: inline-block;
  color: #aaa;
  opacity: 0.8;
  font-size: 100px;
  margin-top: 20px;
}
$flowedDim: 150px;
.flowed .ObservationsGridItem {
  width: $flowedDim;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.flowed .ObservationsGridItem .photo {
  width: $flowedDim;
  height: $flowedDim;
}
.gridded .ObservationsGridItem .photo {
  height: 120px;
  line-height: 110px;
  font-size: 80px;
}
@media (min-width: 768px) {
  .gridded .ObservationsGridItem .photo {
    height: 157.5px;
    line-height: 140px;
    font-size: 120px;
  }
}
@media (min-width: 992px) {
  .gridded .ObservationsGridItem .photo {
    height: 212.5px;
    font-size: 180px;
  }
}
@media (min-width: 1200px) {
  .gridded .ObservationsGridItem .photo {
    height: 262.5px;
    line-height: 240px;
    font-size: 210px;
  }
}

.bootstrap-10 .ObservationsGridItem .photo {
  height: 212px;
  line-height: 180px;
  font-size: 100px;
}
@media (min-width: 768px) {
  .bootstrap-10 .ObservationsGridItem .photo {
    height: 128px;
    line-height: 98px;
  }
}
@media (min-width: 992px) {
  .bootstrap-10 .ObservationsGridItem .photo {
    height: 172px;
    line-height: 142px;
    font-size: 150px;
  }
}
@media (min-width: 1200px) {
  .bootstrap-10 .ObservationsGridItem .photo {
    height: 212px;
    line-height: 180px;
    font-size: 150px;
  }
}
.ObservationsGridItem .caption {
  height: 85px;
  padding: 12px;
}
.ObservationsGridItem .title {
  display: block;
  margin-bottom: 3px
}

.ObservationsGridItem .UserImage {
  position: absolute;
  right: 10px;
  bottom: 75px;
}

.ObservationsGridItem .meta {color: #a3a3a3; font-size: 12px; overflow: hidden;}
.ObservationsGridItem .meta .comments i,
.ObservationsGridItem .meta .identifications i {font-size: 110%;}
.ObservationsGridItem .meta .pull-right {
  position: relative;
  top: 2px;
}
.ObservationsGridItem .favorites { margin-left: 5px;}
.ObservationsGridItem .comments {margin-left: 5px;}

.ObservationsGridItem .display-name,
.ObservationsGridItem .sciname {
  display: block;
}
.ObservationsGridItem .taxon.has-com-name .sciname:before,
.ObservationsGridItem .taxon.has-com-name .sciname:after {
  display: none;
}

.ObservationsGridItem .controls {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.ObservationsGridItem .SplitTaxon {
  overflow: hidden;
  width: 100%;
}
.taxon.has-com-name .display-name {
  white-space: nowrap;
}

.ObservationsGridItem .reviewed-notice {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5px;
  background-color: rgba( 0, 0, 0, 0.5 );
  color: white;
  z-index: 1;
}
.ObservationsGridItem:hover .reviewed-notice,
.ObservationsGridItem .reviewed-notice.reviewed {
  display: block;
}
.ObservationsGridItem .reviewed-notice label {
  font-weight: normal;
  margin: 0;
}

.ObservationsGridItem .magnifier {
  display: none;
  background-color: rgba( 0, 0, 0, 0.5 );
  color: white;
  font-size: 20px;
  z-index: 1;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
}
.ObservationsGridItem .photo:hover .magnifier {
  display: block;
}
