@import "../../colors";
@import "user_text";

body > div > [role="dialog"] .modal-title {
  line-height: 10px;
}
body > div > [role="dialog"] .modal-header .close {
  margin-top: 0;
}
.ObservationModal .modal-title .SplitTaxon {
  line-height: 20px;
}

.bootstrap .ObservationModal .modal-footer .secondary-actions,
body > div > [role="dialog"] .ObservationModal .modal-footer .secondary-actions {
  text-align: left;
}

.ObservationModal .TaxonMap {
  height: 100px;
}


$image-gallery-height: 380px;
.ObservationModal .image-gallery {
  background-color: #eee;
  position: relative;
}
.ObservationModal .image-gallery-content {
  position: relative
}
.ObservationModal .image-gallery,
.ObservationModal .image-gallery-content,
.ObservationModal .sidebar {
  height: $image-gallery-height;
}
.ObservationModal .image-gallery-content img {
  height: $image-gallery-height;
  display: block;
  margin: 0 auto;
  width: auto;
}
.ObservationModal .image-gallery-thumbnails {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  padding: 5px;
  z-index: 1;
}
.ObservationModal .image-gallery-thumbnail img {
  max-width: 50px !important;
  max-height: 50px !important;
}
.image-gallery-slide {
  text-align: center;
}
.ObservationModal .sidebar {
  overflow-y: auto;
}
.ObservationModal .modal-title {
  font-size: 16px;
}
.ObservationModal .modal-title .datebit {
  color: #bbb;
  margin-left: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.ObservationModal .modal-title .datebit label {
  margin-right: 5px;
}
.ObservationModal .modal-body {
  background-color: #eee;
  min-height: $image-gallery-height + 30px;
}
.ObservationModal .modal-footer .form-group {
  margin-bottom: 0;
}
.DiscussionListItem {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  position: relative;
}
.DiscussionListItem .controls {
  visibility: hidden;
}
.DiscussionListItem:hover .controls {
  visibility: visible;
}
.DiscussionListItem .controls a {
  cursor: pointer;
  margin: 0 5px;
  font-size: smaller;
 }
.DiscussionListItem .identification {
  display: flex;
}
.DiscussionListItem .identification .taxon-image {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 40px;
}
.DiscussionListItem .identification .SplitTaxon {
  flex: 2;
  padding: 5px;
}

.ObservationModal .btn.nav-button {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  border-radius: 100px;
  font-size: 30px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  left: -100px;
}
.ObservationModal .nav-button.next {
  left: auto;
  right: -100px;
}


.ObservationModal .easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.ObservationModal .easyzoom-flyout img {
  vertical-align: bottom;
}
.ObservationModal .image-gallery-content .easyzoom-flyout img {
  height: auto;
  width: auto;
  opacity: 1;
}

.easyzoom-zoomed img {
  visibility: hidden;
}


.easyzoom,
.easyzoom > a {
  display: inline-block;
  width: 100%;
}
body > div > [role="dialog"] .easyzoom > a > img {
  vertical-align: bottom;
}

.easyzoom.is-loading img {
  cursor: progress;
}

.easyzoom-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 10em;
  margin: -1em 0 0 -5em;
  line-height: 2em;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px black;
}

body > div > [role="dialog"] .btn-checkbox label {
  margin: 0;
}
body > div > [role="dialog"] .btn-default.btn-checkbox.checked {
  background-color: $inat-green;
  color: white;
}
dl.keyboard-shortcuts,
.keyboard-shortcuts dt,
.keyboard-shortcuts dd { margin-bottom: 0px !important; }
.keyboard-shortcuts dt {
  width: 30px;
  text-align: center;
  display: inline-block;
}
.keyboard-shortcuts dd {
  display: inline-block;
}

.captive-checkbox-wrapper {
  display: inline-block;
  margin-left: 10px;
}
