@import "../../colors";
@import "../../shared/user_text";

.ObservationModal .modal-dialog {
  width: 90% !important;
  height: 90%;
  display: flex;
}
.ObservationModal .modal-dialog .modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body > div > [role="dialog"] .modal-title {
  line-height: 45px;
  padding: 0 20px;
}
body > div > [role="dialog"] .modal-header {
  position: relative;
}
body > div > [role="dialog"] .modal-header .close {
  margin-top: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 45px;
  padding-right: 10px;
}
.ObservationModal .modal-title .SplitTaxon {
  line-height: 20px;
}

.bootstrap .ObservationModal .modal-footer .secondary-actions,
body > div > [role="dialog"] .ObservationModal .modal-footer .secondary-actions {
  text-align: left;
}

.ObservationModal .modal-body {
  display: flex;
  flex: 2;
}
.ObservationModal .modal-body > div {
  width: 50%;
}
.ObservationModal .modal-body .image-gallery,
.ObservationModal .modal-body .image-gallery-content,
.ObservationModal .modal-body .image-gallery-content > div,
.ObservationModal .modal-body .image-gallery-slides,
.ObservationModal .modal-body .image-gallery-slide,
.ObservationModal .modal-body .easyzoom,
.ObservationModal .modal-body .easyzoom > a,
.ObservationModal .modal-body .easyzoom > a img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.ObservationModal .modal-body .easyzoom > a img {
  object-position: 50% 50%;
}

.ObservationModal .TaxonMap {
  height: 100px;
}

.ObservationModal .image-gallery {
  background-color: #eee;
  position: relative;
}
.ObservationModal .image-gallery-content {
  position: relative
}
.ObservationModal .image-gallery,
.ObservationModal .image-gallery-content,
.ObservationModal .sidebar {
}
.ObservationModal .image-gallery-content img {
  display: block;
  margin: 0 auto;
  width: auto;
}
.ObservationModal .image-gallery-thumbnails {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(238,238,238,0.3);
  padding: 5px;
  z-index: 1;
}
.ObservationModal .image-gallery-thumbnail img {
  max-width: 50px !important;
  max-height: 50px !important;
}
.image-gallery-slide {
  text-align: center;
}
.ObservationModal .media {
  padding-right: 20px;
}
.ObservationModal .sidebar {
  overflow-y: auto;
  border-left: 1px solid #ddd;
  padding-left: 20px;
}
.ObservationModal .modal-title {
  font-size: 16px;
}
.ObservationModal .modal-title .titlebit {
  color: #aaa;
  margin-left: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.ObservationModal .modal-title .titlebit label {
  margin-right: 5px;
}
.ObservationModal .modal-body {
  background-color: #eee;
  max-height: none !important;
  height: 100%;
}
.ObservationModal .modal-footer .form-group {
  margin-bottom: 0;
}
.DiscussionListItem {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  position: relative;
}
.DiscussionListItem .controls {
  visibility: hidden;
}
.DiscussionListItem:hover .controls {
  visibility: visible;
}
.DiscussionListItem .controls a {
  cursor: pointer;
  margin: 0 5px;
  font-size: smaller;
 }
.DiscussionListItem .identification {
  display: flex;
}
.DiscussionListItem .identification .taxon-image {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 40px;
}
.DiscussionListItem .identification .SplitTaxon {
  flex: 2;
  padding: 5px;
  overflow: hidden;
}
.DiscussionListItem .identification .display-name {
  display: block;
}
.DiscussionListItem .identification .actions {
  padding-top: 3px;
}

.ObservationModal .btn.nav-button {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  font-size: 30px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  left: -50px;
  color: white;
  background-color: transparent;
  border: 0 transparent;
}
.ObservationModal .btn.nav-button:hover,
.ObservationModal .btn.nav-button:active,
.ObservationModal .btn.nav-button:focus,
.ObservationModal .btn.nav-button:active:focus {
  background-color: transparent;
  border: 0 transparent;
  color: white;
}
.ObservationModal .nav-button.next {
  left: auto;
  right: -50px;
}


.ObservationModal .easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.ObservationModal .easyzoom-flyout img {
  vertical-align: bottom;
}
.ObservationModal .image-gallery-content .easyzoom-flyout img {
  height: auto;
  width: auto;
  opacity: 1;
  cursor: zoom-out;
}

.easyzoom-zoomed img {
  visibility: hidden;
}


.easyzoom,
.easyzoom > a {
  display: inline-block;
  width: 100%;
  cursor: zoom-in;
}
body > div > [role="dialog"] .easyzoom > a > img {
  vertical-align: bottom;
}

.easyzoom.is-loading img {
  cursor: progress;
}

.easyzoom-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 10em;
  margin: -1em 0 0 -5em;
  line-height: 2em;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px black;
}

body > div > [role="dialog"] .btn-checkbox label {
  margin: 0;
}
body > div > [role="dialog"] .btn-default.btn-checkbox.checked {
  background-color: $inat-green;
  color: white;
}
dl.keyboard-shortcuts,
.keyboard-shortcuts dt,
.keyboard-shortcuts dd { margin-bottom: 0px !important; }
.keyboard-shortcuts dt {
  width: 30px;
  text-align: center;
  display: inline-block;
}
.keyboard-shortcuts dd {
  display: inline-block;
}

.captive-checkbox-wrapper {
  display: inline-block;
  margin-left: 10px;
}

.ObservationModal .photos.sounds .image-gallery {
  margin-bottom: 10px;
}
.ObservationModal .photos.sounds .image-gallery,
.ObservationModal .photos.sounds .image-gallery-content,
.ObservationModal .photos.sounds .image-gallery-content img {
  height: 260px;
}
.ObservationModal .place {
  background-color: #DDDDDD;
}
.ObservationModal .place-guess {
  text-align: center;
  padding: 5px;
  font-size: smaller;
}

.UserText .content:after {
  content: " ";
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), #eee);
}
.UserText.truncated .content:after {
  display: block;
}

.ObservationModal .sidebar .test {
  position: relaitve;
  top: -20px;
  background-color: deeppink;
}

body > div > [role="dialog"] .inat-tabs,
.inat-tabs {
  display: flex;
  list-style: none;
  padding: 0 20px;
  margin: 0;
  float: right;
}
body > div > [role="dialog"] .inat-tabs li,
.inat-tabs li {
  text-align: center;
  flex: 1;
  display: flex;
}
body > div > [role="dialog"] .inat-tabs li a,
.inat-tabs li a {
  border: 0 transparent;
  border-bottom: 2px solid transparent;
  color: #555;
  font-weight: bold;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  flex: 1;
  line-height: 45px;
}
body > div > [role="dialog"] .inat-tabs li a:focus,
.inat-tabs li a:focus {
  text-decoration: none;
}
body > div > [role="dialog"] .inat-tabs li.active a,
.inat-tabs li.active a {
  border-bottom: 2px solid #74ac00;
}


body > div > [role="dialog"] .ObservationModal .modal-header {
  min-height: 45px;
  padding: 0;
  display: flex;
}
.ObservationModal .modal-title {
  width: 50%;
}
.ObservationModal .inat-tabs {
  width: 50%;
}

.ObservationModal .inat-tab {
  display: none;
}
.ObservationModal .inat-tab.active {
  display: block;
}

.ObservationModal .map-and-details {
  display: flex;
}
.ObservationModal .map-and-details .TaxonMap,
.ObservationModal .map-and-details .details {
  width: 50%;
}
.ObservationModal .map-and-details .details {
  list-style: none;
  padding-left: 10px;
}
.ObservationModal .map-and-details .details li {
  position: relative;
  padding-left: 20px;
}
.ObservationModal .map-and-details .details i {
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  text-align: center;
  display: block;
}

body > div > [role="dialog"] .ObservationModal .modal-body {
  overflow: initial;
}