.UserText a {
  cursor: pointer;
}
.UserText .content {
  position: relative;
  overflow: hidden;
}
.UserText .content:after {
  content: " ";
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), #eee);
}
.UserText.truncated .content:after {
  display: block;
}

.UserText .content img {
  max-width: 100%;
}
