- content_for :title do
  Geo Model
- content_for :extrajs do
  = javascript_include_tag "geo-model-index-webpack"
- content_for :extracss do
  = stylesheet_link_tag "geo_model/index"
#app
  #initial-loading.text-center
    .loading_spinner
