%ul
  - if @messages.blank?
    %li.meta.nobr
      %span=t :no_new_messages
  - for message in @messages
    %li
      %a{:href => url_for(message)}
        = user_image(message.from_user, :size => 'thumb')
        %span.inlineblock
          %span.small.meta
            - date = compact_date(message.created_at)
            - from_user_name = message.from_user.try(:login) || t(:deleted_user)
            - if message.created_at.today?
              =t :message_from_user_at_time, user: from_user_name, time: date
            - else
              =t :message_from_user_on_date, user: from_user_name, date: date
          %br/
          = message.subject
  %li
    %center
      = link_to t(:view_your_inbox), messages_url, :class => 'readmore'
