<%-
  listed_taxon = object || resource
  updates ||= []
  updates = updates.sort_by{|u| u.notifier.created_at}
-%>

<div class="updatecontent">
  <%= render :partial => "observations/activity_item", :collection => updates.map{|u| u.notifier}.compact %>
  
  <%= link_to "View listed taxon", listed_taxon, :class => "readmore" %>
</div>
