#taxon_photos {
  padding: 1em;
  border: 1px solid #eee;
}
.photo {
  float: left;
  margin-right: 10px;
  width: 75px;
  text-align: center;
}

#parent_name {
  margin-top: 0;
  margin-left: 0;
  width: 300px;
}

textarea {
  margin: 0;
}

fieldset.column {
  margin-bottom: 1em;
}

.taxon_name_fields {
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

#summary_refresh_loading {
  display: inline;
}
.conservation_status input.text {width: 400px;}
.conservation_status .description_field input.text,
.conservation_status .url_field input.text {width: 800px;}
