.taxa.grid .taxon{float:none;vertical-align:top;overflow:visible;}
.taxa.grid .taxonimage {height:auto;}
.taxa.big.grid .taxonimage { min-height: 206px; }
.taxa.big.grid .taxon img { max-height: 206px;}

.taxa.medium.grid .taxon img  { max-height: 160px;}

.taxa.grid .taxon .image.nophoto, 
.taxa.grid .taxon .image.nophoto a {
  text-align: center;
}
.taxa.big.grid .taxon .image .iconic { margin: 80px; }

.taxon .name { display: block; 
  font-family: Georgia, serif; font-size: 140%;
}
.taxon .othernames { display: block;}

.taxa.fluid.grid .taxon { width: auto; }
.taxa.fluid.grid .taxon .name { font-size: 120%; }
.taxa.fluid.grid .taxon .comname { white-space: nowrap; }
.taxa.fluid.big.grid .taxon  { max-height: 237px; }
.taxa.fluid.medium.grid .taxon  { max-height: 191px; }
.taxa.fluid.grid .taxonimage { width: auto; }
.taxa.fluid.grid .taxonimage a { height: 100px; }
.taxa.fluid.medium.grid .taxonimage a { height: 160px; }

.listed_taxon { position: relative; }
.listed_taxon .firstobs, .listed_taxon .upperleft {
  position: absolute;
  padding: 2px 5px;
  top: 5px;
  left: 5px;
  background-color: #84A92F;
  color: white;
  opacity: 0.7;
  font-size: smaller;
  border-radius: 10px;
  line-height: 0;
  white-space: nowrap;
  z-index: 1;
}
.listed_taxon:hover .firstobs, .listed_taxon:hover .upperleft { opacity: 1; box-shadow: #222 0 1px 2px; }
.listed_taxon .firstobs span, .listed_taxon .upperleft span  { display: none;}
.listed_taxon:hover .firstobs span, .listed_taxon:hover .upperleft span { display: inline;}
.listed_taxon .firstobs img, .listed_taxon .upperleft .ui-icon {vertical-align:middle;width:12px;height: 12px; top:0;}
.listed_taxon .upperleft .ui-icon-help { background-position: -50px -146px; }
.listed_taxon .upperleft .ui-icon-flag { background-position: -17px -115px; }
.listed_taxon .confirmobs {background-color:#FFEE91;color:#60542B;}
.listed_taxon .upperleft span { top: 1px; position: relative;}

.listed_taxon .upperright {
  position: absolute;
  top: 5px;
  right: 5px;
}
.listed_taxon .upperright .blob {
  padding: 2px 5px;
  color: white;
  opacity: 0.7;
  font-size: smaller;
  border-radius: 10px;
  line-height: 1;
  white-space: nowrap;
  margin-bottom: 5px;
}
.listed_taxon:hover .upperright .blob { opacity: 1; box-shadow: #222 0 1px 2px; }
.listed_taxon .upperright .blob.endemic {background-color:#84A92F;color:#B7EC3F;}
.listed_taxon .upperright .blob.introduced {background-color:DeepPink;color:pink;}
.listed_taxon .upperright .ui-icon {vertical-align:middle;width:12px;height:12px;top:0;}
.listed_taxon .upperright .ui-icon-star { background-position: -226px -114px; }
.listed_taxon .upperright .ui-icon-notice { background-position: -34px -146px; }
.listed_taxon .upperright .blob.conservation_status {padding: 3px 5px;}

.listed_taxon .monthstats {position: absolute; left: 5px; bottom: 5px;  border-radius: 10px; padding: 3px 5px;}
.listed_taxon:hover .monthstats {background-color: #111;}
.listed_taxon .monthstats .month, .listed_taxon .monthstats .count { display: none;}
.listed_taxon .monthgraph .bar { background-color: white; min-height: 1px; width: 2px;}
.listed_taxon .monthgraph { margin: 0; height: 9px;}
.listed_taxon .monthgraph .month_0 { display:none;}
.taxa.grid .taxon{vertical-align:baseline;}
.listed_taxon{vertical-align:top;}
.unlabeled.taxa.grid .info,
.unlabeled.taxa.grid .upperleft,
.unlabeled.taxa.grid .upperright,
.unlabeled.taxa.grid .monthstats {display:none;}
