#taxa-table td.name {
  width: 40%;
  font-size: 120%;
}

.iconic_taxon {
  display: block;
  width: 231px;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.iconic_taxon.first {
  clear: left;
}

div.iconic_taxon:hover {
  background-color: #eee;
}

.iconic_taxon .photos a {
  display: block;
  float: left;
  width: 75px;
  height: 75px;
  margin: 0 3px 3px 0;
}
.iconic_taxon .photos a.last {
  margin-right: 0;
}

.iconic_taxon .photos img {
  border: 0;
  margin: 0;
}

.iconic_taxon .photos {
  margin-bottom: 0.5em;
}

.iconic_taxon h3 {
  padding-left: 30px;
  min-height: 30px;
}

#Plantae a, #Plantae a:hover {
  color: #73AC13;
}

#Plantae h3 {
  background: url('/images/iconic_taxa/plantae-74ac00-20px.png') 5px 2px no-repeat;
}

#Fungi a, #Fungi a:hover {
  color: #f06;
}

#Fungi h3 {
  background: url('/images/iconic_taxa/fungi-ff0066-20px.png') 5px 0 no-repeat;
}


#Mollusca a, #Mollusca a:hover,
#Arachnida a, #Arachnida a:hover,
#Insecta a, #Insecta a:hover {
  color: #ff4500;
}

#Mollusca h3 {
  background: url('/images/iconic_taxa/mollusca-ff4500-20px.png') 0 0 no-repeat;
}

#Arachnida h3 {
  background: url('/images/iconic_taxa/arachnida-ff4500-20px.png') 2px 0 no-repeat;
}

#Insecta h3 {
  background: url('/images/iconic_taxa/insecta-ff4500-20px.png') 2px 3px no-repeat;
}

#Animalia a, #Animalia a:hover,
#Reptilia a, #Reptilia a:hover,
#Amphibia a, #Amphibia a:hover,
#Aves a, #Aves a:hover,
#Mammalia a, #Mammalia a:hover {
  color: #1e90ff;
}

#Animalia h3 {
  background: url('/images/iconic_taxa/animalia-1e90ff-20px.png') 2px 0 no-repeat;
}

#Amphibia h3 {
  background: url('/images/iconic_taxa/amphibia-1e90ff-20px.png') 2px 0 no-repeat;
}

#Reptilia h3 {
  background: url('/images/iconic_taxa/reptilia-1e90ff-20px.png') 2px 0 no-repeat;
}

#Aves h3 {
  background: url('/images/iconic_taxa/aves-1e90ff-20px.png') 2px 0 no-repeat;
}

#Mammalia h3 {
  background: url('/images/iconic_taxa/mammalia-1e90ff-20px.png') 2px 0 no-repeat;
}

#Actinopterygii h3 {
  background: url('/images/iconic_taxa/actinopterygii-1e90ff-20px.png') 2px 0 no-repeat;
}

#Protozoa a, #Protozoa a:hover {
  color: #691776;
}
#Protozoa h3 {
  background: url('/images/iconic_taxa/protozoa-20px.png') 2px 0 no-repeat;
}

#Chromista a, #Chromista a:hover {
  color: #993300;
}
#Chromista h3 {
  background: url('/images/iconic_taxa/chromista-20px.png') 2px 0 no-repeat;
}

.iconic_taxon .taxon