<% content_for(:extracss) do %>
  <%= stylesheet_link_tag 'taxa', 'taxa/form', 'taxon_browser' %>
  <style type="text/css" media="screen">
    #taxon_name {width: 300px;}
  </style>
<% end %>

<% content_for(:extrajs) do %>
<%= javascript_include_tag 'jquery/plugins/jquery.string.1.0', 
                           "jquery/plugins/jqModal",
                           "taxon_browser" %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {    
    $('#taxon_name').simpleTaxonSelector({
      taxonIDField: $('#taxon_change_taxon_id'),
      isActive: 'any',
      includeID: true
    })
    
    // Setup taxon browser
    $('body').append(
      $('<div id="taxonchooser" class="clear modalbox dialog"></div>').append(
        $('<div id="taxon_browser" class="clear"></div>').append(
          $('<div class="loading status">Loading...</div>')
        )
      ).hide()
    )

    $('#taxonchooser').jqm({
      onShow: function(h) {
        h.w.fadeIn(500);
        if (h.w.find('#taxon_browser > .loading').length == 1) {
          h.w.find('#taxon_browser').load(
            '/taxa/search?partial=browse&js_link=true&is_active=any',
            function() {TaxonBrowser.ajaxify()});
        }
      }
    })
  })
  
  function handleTaxonClick(e, taxon) {
    $.fn.simpleTaxonSelector.selectTaxon($('.simpleTaxonSelector:first'), taxon)
    $('#taxonchooser').jqmHide()
  }
  
</script>
<% end %>