<% content_for(:title) do %>New Taxonomic Change (Draft)<% end %>

<%= render :partial => 'form_head' %>

<h2>New Taxonomic Change (Draft)</h2>
<p class="description">Use this form to create a new draft taxonomic change describing a proposed split, merge or swap on active taxa to be later committed.</p>

<%= render :partial => 'form' %>
