#wrapper { width: auto; padding: 0 10px; position: relative;}
.taxon .wikipedia_summary { display: none; }

#sidecol { width: 230px; position: absolute; }
#maincol { padding-left: 250px;}
#pageheader { position: relative; }
#pageheader h2 { background-color: white; opacity: 0.8; position: absolute; bottom: 51px; padding: 10px;}
#placephotos { position: absolute; bottom: 5px; left: 5px;}
#placephotos img { height: 40px; margin-right: 10px; box-shadow: 0 2px 5px #666; border: 1px solid transparent;}
#placephotos img:hover { border: 1px solid white;}

.colorfield label { padding: 2px 5px; margin-right: 5px; border-radius: 5px;}
.colorfield.black   label { color: lightgrey;  border: 1px solid transparent; background-color: black;}
.colorfield.white   label { color: grey;       border: 1px solid #eee; background-color: white;}
.colorfield.red     label { color: lightpink;  border: 1px solid transparent; background-color: red;}
.colorfield.green   label { color: lightgreen; border: 1px solid transparent; background-color: green;}
.colorfield.blue    label { color: lightblue;  border: 1px solid transparent; background-color: blue;}
.colorfield.purple  label { color: violet;     border: 1px solid transparent; background-color: purple;}
.colorfield.yellow  label { color: goldenrod;  border: 1px solid transparent; background-color: yellow;}
.colorfield.grey    label { color: lightgrey;  border: 1px solid transparent; background-color: grey;}
.colorfield.orange  label { color: chocolate;  border: 1px solid transparent; background-color: orange;}
.colorfield.brown   label { color: peru;       border: 1px solid transparent; background-color: saddlebrown;}
.colorfield.pink    label { color: deeppink;   border: 1px solid transparent; background-color: pink;}

#sidecol .barchart { width: 230px; float: none;}
#browsingtaxa { background-color: #eee; padding: 5px 0; }
#browsingtaxa ul { margin: 0; }
#browsingtaxa ul ul { margin-left: 20px;}
#browsingtaxa a.taxon { 
  display: block; 
  padding: 5px 10px 5px 30px;
  background-position: 5px 50%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#browsingtaxa a.taxon:hover { background-color: #f6f6f6;}
#browsingtaxa a.taxon.selected { background-color: white;}
