#wrapper { width: auto; padding: 0 10px; position: relative;}
.taxon .wikipedia_summary { display: none; }
#metalinks {position:relative; z-index:1; margin-top: 3px;}
#pageheader { position: relative; }
#pageheader h2 { background-color: white; opacity: 0.8; position: absolute; bottom: 51px; height: 29px; padding: 10px;}
#pageheader h2 a {color:black;}
#placephotos { position: absolute; bottom: 5px; left: 5px;}
#placephotos img { height: 40px; margin-right: 10px; box-shadow: 0 2px 5px #666; border: 1px solid transparent;}
#placephotos img:hover { border: 1px solid white;}
#observationstab .morelink { margin-top: 20px;}
#abouttab .photos img { max-width: 310px; }
.wikipedia_description table, .wikipedia_description .tright, .wikipedia_description .infobox { float: right; clear: right; margin: 0 0 10px 10px;}
.wikipedia_description .tleft { float: left; clear: left; margin: 0 10px 10px 0;}
.wikipedia_description .dablink, .wikipedia_description .mainarticle { margin: 10px 0; color: #888; font-style: italic; }
.wikipedia_description .editsection { display: none; }
.wikipedia_description table.navbox { display: none; }
.wikipedia_description .infobox { width: 300px; }
.wikipedia_description .thumb, .wikipedia_description .thumb img { max-width: 230px; }

