<%= form_for @observation, :html => {:multipart => true} do |f| %>
  <%= f.hidden_field :species_guess %>
  <div class="observation_photos stacked">
    <%= render :partial => "photos/photo_list_form", :locals => { 
      :photos => @observation.photos, 
      :checked => true,
      :index => @observation.id,
      # :synclink_base => edit_observation_path(@observation),
      :photo_identity => @photo_identities.first,
      :local_photos => @photo_identities.blank? || @observation.photos.first && @observation.photos.first.is_a?(LocalPhoto)
    } %>
  </div>
  <%= f.submit t(:save_photos), :class => "default button", "data-loading-click" => t(:saving) %>
<% end -%>
