<%- observation ||= object || @observation -%>
Location: 
<%= observation_place_guess observation %>
<% if observation.latitude and observation.longitude %>
<div>
  <% if observation.coordinates_obscured? && is_not_me?(observation.user) -%>
    Public coordinates obscured for threatened species.
  <% else %>
    <span class="latitude">
      Lat: <%= observation.latitude %>
    </span>,
    <span class="longitude">
      Lon: <%= observation.longitude %>
    </span>
    <% unless observation.positional_accuracy.blank? -%>
      <div class="positional_accuracy">
        Accuracy: <%= observation.positional_accuracy %>m
      </div>
    <% end -%>
    <%- if observation.coordinates_obscured? -%>
      <div>
        Exact coordinates hidden from public view for protected species.
      </div>
    <% end %>
  <% end -%>
</div>
<% end %>
