<div id="newobsnav" class="readable">
  <span class="meta"><%=t :add %>:</span>
  <% links = [
    ['new', link_to(t(:single_observation), new_observation_path, :title => t(:add_a_single_observation))],
    ['new_batch', link_to(t(:batch), new_observation_batch_path, :title => t(:add_several_observations_at_once))],
    ['add_from_list', link_to(t(:from_list), add_observations_from_list_path, :title => t(:add_observations_by_checking_off))],
    ['import', link_to(t(:import), import_observations_path, :title =>  t(:import_observations_from_a_photo))],
    ['upload', link_to(t(:from_photos), upload_observations_path, :title =>  t(:from_photos))]
  ].reject {|action, link| controller.action_name == action} -%>
  <%= links.map(&:last).join(' <span class="meta">&middot;</span> ').html_safe %>
</div>
