<%- observation ||= @observation -%>
<%- top = capture do %>
<% unless observation.photos.empty? -%>
  <div class="bigphotos">
    <%= render :partial => 'observations/photos', :object => observation %>
  </div>
<% end -%>
<%- end -%>
<%= render :partial => "observations/observation_component", :object => observation, :locals => {
  :top => top
} %>

<% if @observaiton %>
<%= render :partial => "comments/comments", :locals => { :parent => @observation } %>
<% end %>
