:ruby
  a = {
    taxon_layers: [ { 
      taxon: @observation.taxon,
      observations: { observation_id: @observation.id },
      places: { disabled: true },
      gbif: { disabled: true },
    } ],
    observations: [ @observation ],
    zoom_level: @observation.map_scale || 8
  }
#map.stacked{ setup_map_tag_attrs(a) }
