  <div class="column span-8">
    <h3>Preview</h3>
    <div id="preview"><%= render :partial => "widget_code" %></div>
  </div>

  <div class="last column span-8">
    <h3>Widget Code</h3>
    <p class="description">Copy and paste this into your own HTML.</p>
    <textarea id="code"><%= render :partial => "widget_code" %></textarea>
  </div>
  