<%- place ||= @place
    taxon ||= @taxon
    project ||= @project -%>
<div class="column span-9">
  <h3>
    Preview
    <span id="background_color_wrapper" class="ui">
      <label for="background_color">BG Color</label>
      <input type="text" name="background_color" value="white" id="background_color" class="text">
    </span>
    
  </h3>
  <div id="preview"><%= render :partial => "widget_code" %></div>
</div>

<div class="last column span-9">
  <h3>Widget Code</h3>
  <p class="description">Copy and paste this into your own HTML.</p>
  <textarea id="code" onclick="$(this).select()"><%= render :partial => "widget_code", :locals => {:place => place, :taxon => taxon, :project => project} %></textarea>
</div>
