- content_for :extrajs do
  = javascript_include_tag "observations-compare-webpack"
- content_for :extracss do
  = stylesheet_link_tag "observations/compare"
#app
  #initial-loading.text-center
    .loading_spinner
