- content_for :extrajs do
  = javascript_include_tag "observations-identify-bundle"
- content_for :extracss do
  = stylesheet_link_tag "observations/identify"
- content_for :extrahead do
  %meta{ name: "config:node_api_host", content: CONFIG.node_api_host }
#app
