<%-
  @headless = @footless = true
  @user_scalable = false
-%>
<%- content_for(:title) do -%>
  <%= @project.title %> Map
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #map { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" charset="utf-8">
    $(window).ready(function() {
      window.map = new google.maps.Map(document.getElementById("map"), {
        mapTypeId: google.maps.MapTypeId.TERRAIN,
        center: new google.maps.LatLng(38, -122),
        zoom: 8
      });
      // var lyr = new google.maps.KmlLayer('http://inaturalist.org/attachments/taxon_ranges/15.kml')
      // lyr.setMap(window.map)
      
      var obsLyr = new google.maps.KmlLayer('<%= project_observations_url(@project, :format => "kml", :per_page => 100) %>', {
        // preserveViewport: true
      })
      obsLyr.setMap(window.map)
    })
  </script>
<%- end -%>

<div id="map"></div>
