<%-
  @headless = @footless = true
  @user_scalable = false
-%>
<%- content_for(:title) do -%>
  <%= @project.title %> Map
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #map { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= google_maps_js :sensor => true %>
  <script type="text/javascript" charset="utf-8">
    $(window).ready(function() {
      window.map = new google.maps.Map(document.getElementById("map"), {
        mapTypeId: google.maps.MapTypeId.TERRAIN,
        center: new google.maps.LatLng(38, -122),
        zoom: 8,
        streetViewControl: false
      });
      var lyr;
      <%- for kml_asset in @kml_assets %>
      lyr = new google.maps.KmlLayer('<%= root_url.gsub(/\/$/, "") + kml_asset.asset.url %>');
      lyr.setMap(window.map);
      <% end %>
      
      var obsLyr = new google.maps.KmlLayer('<%= project_observations_url(@project, :format => "kml") %>', {
        preserveViewport: true
      });
      obsLyr.setMap(window.map);
    })
  </script>
<%- end -%>

<div id="map"></div>
