#identifiers-table.container{ "infinite-scroll": "showMoreIdentifiers( )", "infinite-scroll-disabled": "!viewing('identifiers')", "infinite-scroll-distance": 1 }
  %table.table.table-striped.plain-table
    %thead
      %tr
        %th.rank
          {{ shared.t( 'rank' )}}
        %th.user
          {{ shared.t( 'user' )}}
        %th
          %i.icon-identification
          {{ shared.t( 'identifications' )}}
    %tbody
      %tr{ "ng-repeat": "u in identifiers | limitTo: numberIdentifiersShown" }
        %td.rank
          {{ $index + 1 }}
        %td
          %a.user.userimage{ href: "/people/{{ u.login }}", "ng-style": "{{!!u.icon_url}} && { 'background-image': \"url('{{ u.icon_url }}')\" }", title: "{{ u.login }}" }
            %i.icon-person{"ng-hide" => "u.icon_url"}
          %a{ href: "/people/{{ u.login }}", title: "{{ u.login }}" }
            {{ u.login }}
        %td {{ u.resultCount }}
