#identifiers-table.sortable-table.container{ "infinite-scroll": "showMoreIdentifiers( )", "infinite-scroll-disabled": "!viewing('identifiers')", "infinite-scroll-distance": 1 }
  %table.table.table-striped.plain-table
    %thead
      %tr
        %th.rank
          {{ shared.t( 'rank_position' )}}
        %th.user
          {{ shared.t( 'user' )}}
        %th
          {{ shared.t( 'identifications' )}}
    %tbody
      %tr{ "ng-repeat": "u in identifiers | limitTo: numberIdentifiersShown" }
        %td.rank
          {{ shared.numberWithCommas( $index + 1 ) }}
        %td
          %user-icon{ u: "u" }
          %user-login{ u: "u" }
        %td {{ shared.numberWithCommas( u.resultCount ) }}
  .spinner.ng-cloak{ "ng-show": "pagination.searching || identifiersPagination.searching" }
    %span.fa.fa-spin.fa-refresh
  .noresults.text-muted.ng-cloak{ "ng-show": "noIdentifiers( )" }
    {{ shared.t( 'no_results_found' ) }}
