#obs-container{:class => "{{ fullscreen ? 'fullscreen-enabled' : '' }}"}
  #map{ enable_show_all_layer: 'false', :class => "{{ fullscreen ? 'fullscreen' : '' }}"}
  .container.container-fixed
    #maprow.row
      #map-controls
        .btn-group-vertical.btn-group.btn-group-stateless.clearfix
          %button.btn.btn-default{ "ng-click": "zoomIn( )", title: "{{ shared.t('zoom_in') }}" }
            %i.glyphicon.glyphicon-plus
          %button.btn.btn-default{ "ng-click": "zoomOut( )", title: "{{ shared.t('zoom_out') }}" }
            %i.glyphicon.glyphicon-minus
        #user-location-control.btn-group.btn-group-stateless.clearfix
          %button.btn.btn-default.btn-icon-stupidity{ "ng-click": "findUserLocation( )", title: "{{ shared.t('find_your_current_location') }}" }
            %i.icon-locate{"ng-hide": "findingUserLocation"}
            %i.fa.fa-refresh.fa-spin{"ng-show": "findingUserLocation", "ng-class": "{ 'fa-spin': findingUserLocation }"}
        #user-location-full-screen.btn-group.btn-group-stateless.clearfix
          %button.btn.btn-default.btn-icon-stupidity{ "ng-click": "toggleFullscreen( )", title: "{{ shared.t('full_screen') }}" }
            %i{ :class => "icon icon-arrows-{{ fullscreen ? 'in' : 'out' }}" }
      #map-legend-control
        .btn-group.btn-group-stateless.dropup
          %button.btn.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}}
            {{ shared.t('map_legend') }}
            %span.caret
          .dropdown-menu
            #map-legend-container
      .col-xs-4.col-xs-offset-8
        #obs
          .div{ "infinite-scroll": "showMoreObservations( )", "infinite-scroll-disabled": "!viewing('observations', 'map') || pagination.searching || pagination.stopped", "infinite-scroll-parent": "true" }
            %observation-snippet{ "ng-repeat": "o in observations", o: "o", "ng-mouseover": "showInfowindow( o )", "ng-mouseleave": "hideInfowindow( )" }
          .spinner.ng-cloak{ "ng-show": "pagination.searching" }
            %span.fa.fa-spin.fa-refresh
          .noresults.text-muted.ng-cloak{ "ng-show": "noObservations( )" }
            {{ shared.t( 'no_results_found' ) }}
          .pages.col-xs-12.ng-cloak{ "ng-show": "showPages( )" }
            %uib-pagination{ "ng-model": "pagination.page", "previous-text": "‹ Previous", "next-text": "Next ›", "total-items": "pagination.total", "items-per-page": "pagination.perPage", "max-size": 0 }
#infoWindowSnippet
  .infowindow.obs-container
    %observation-snippet{ o: "infoWindowObservation" }
