#obs-container
  #map{ enable_show_all_layer: 'false' }
  .container.container-fixed
    .row
      .col-xs-4.col-xs-offset-8
        #obs
          .div{ "infinite-scroll": "nextPage( )", "infinite-scroll-disabled": "!viewing('observations', 'map') || busy", "infinite-scroll-parent": "true", "infinite-scroll-distance": 0 }
            .media.observation{ "ng-repeat": "o in observations" }
              .media-left
                %a{:href => "/observations/{{ o.id }}"}
                  .media-object{style: "background-image: url({{ o.photo( ) }})"}
              .media-body
                %inat-taxon{taxon: "o.taxon", url: "/observations/{{ o.id }}"}
                .username.ng-cloak.media.obs-attr
                  .media-left
                    %i.fa.fa-user
                  .media-body
                    {{ o.user.login }}
                .date.ng-cloak.media.obs-attr
                  .media-left
                    %i.fa.fa-calendar
                  .media-body
                    {{ (o.observed_on | date : 'short') || shared.t('unknown') }}
                .location.ng-cloak.media.obs-attr
                  .media-left
                    %i.fa.fa-map-marker
                  .media-body
                    .fadednowrap
                      {{ o.place_guess || [o.latitude, o.longitude].joins(',') || shared.t('unknown') }}
                .actions.ng-cloak
                  %span.identifications{"ng-show" => "o.identifications.length > 0"}
                    {{ o.identifications.length || 0 }}
                    %span{"ng-show" => "o.identifications.length == 1"}
                      {{ shared.t('id') }}
                    %span{"ng-show" => "o.identifications.length != 1"}
                      {{ shared.t('ids') }}
                  %span.comments{"ng-show" => "o.comments_count > 0"}
                    ???
                    %i.fa.fa-comment-o
                  %span{:class => "quality_grade {{ o.quality_grade }}", "ng-hide" => "o.quality_grade == 'casual'"}
                    {{ shared.t(o.quality_grade) | capitalize }}
                  %a.taxon.pull-right{href: "/observations/{{ o.id }}"}
                    %i.icon-arrow-right
