#result-table.sortable-table.container
  %table.table.table-striped
    %thead
      %tr
        %th.media
          {{ shared.t('media') | capitalize }}
        %th.name
          {{ shared.t('name') | capitalize }}
        %th.user
          {{ shared.t('user') | capitalize }}
        %th{ :class => "observed sortable {{ params.order_by == 'observed_on' ? (params.order == 'asc' ? 'sorting sorting-asc' : 'sorting sorting-desc') : '' }}", "ng-click" => "orderBy('observed_on')" }
          {{ shared.t('observed') | capitalize }}
        %th.place
          {{ shared.t('place') | capitalize }}
        %th{ :class => "added sortable {{ params.order_by == 'observations.id' ? (params.order == 'asc' ? 'sorting sorting-asc' : 'sorting sorting-desc') : ''}}", "ng-click" => "orderBy( 'observations.id' )" }
          {{ shared.t('added') | capitalize }}
    %tbody{ "infinite-scroll": "showMoreObservations( )", "infinite-scroll-disabled": "!viewing('observations', 'table') || pagination.searching || pagination.stopped", "infinite-scroll-distance": 1 }
      %tr{ "ng-repeat": "o in observations" }
        %td
          %a{ href: "/observations/{{ o.id }}", "ng-style": "shared.backgroundIf( o.photo( ) )", target: "_self", :class => "img {{ o.hasMedia( ) ? '' : 'iconic'}} {{ o.hasSound( ) ? 'sound' : '' }}" }
            %i{ :class => "icon icon-iconic-{{ o.taxon.iconicTaxonName( ) | lowercase }}" }
            %i{ :class => "sound-icon fa fa-volume-up" }
            %span.photo-count.ng-cloak{ "ng-show" => "o.photos.length > 1", title: "{{ shared.t( 'x_photos', { count: o.photos.length } )}}" }
              {{ o.photos.length }}
        %td
          %inat-taxon.split-taxon{ taxon: "o.taxon", url: "/observations/{{ o.id }}" }
          .meta
            %span{:class => "quality_grade {{ o.quality_grade }}"}
              {{ o.qualityGrade( ) }}
            %span.identifications{"ng-show" => "o.identifications_count > 0", title: "{{ shared.t('x_identifications', {count: o.identifications_count}) }}" }
              %i.icon-identification
              {{ o.identifications_count }}
            %span.comments{"ng-show" => "o.comments_count > 0", title: "{{ shared.t('x_comments', {count: o.comments_count}) }}"}
              %i.icon-chatbubble
              {{ o.comments_count }}
            %span.favorites{"ng-show" => "o.faves_count > 0", title: "{{ shared.t('x_faves', {count: o.faves_count}) }}"}
              %i.fa.fa-star
              {{ o.faves_count }}
        %td.user
          %a.user.userimage{ href: "/people/{{ o.user.login }}", "ng-style": "shared.backgroundIf( o.user.icon_url )", title: "{{ o.user.login }}", target: "_self" }
            %i.icon-person{"ng-hide" => "o.user.icon_url"}
          %a{ href: "/people/{{ o.user.login }}", title: "{{ o.user.login }}", target: "_self" }
            {{ o.user.login }}
        %td{ :class => "{{ params.order_by == 'observed_on' ? 'sorting' : '' }}" }
          %inat-calendar-date{ date: "o.observed_on_details.date", timezone: "o.observed_time_zone", time: "o.time_observed_at", obscured: "o.obscured && !o.private_geojson" }
        %td.place
          %span{ "ng-bind-html": "o.placeIcon() | sanitize" }
          {{ o.displayPlace( ) }}
        %td{ :class => "{{ params.order_by == 'observations.id' ? 'sorting' : '' }}" }
          %inat-calendar-date{ date: "o.created_at_details.date", timezone: "o.created_time_zone", time: "o.created_at", obscured: "o.obscured && !o.private_geojson" }
  .spinner.ng-cloak{ "ng-show": "pagination.searching" }
    %span.fa.fa-spin.fa-refresh
  .noresults.text-muted.ng-cloak{ "ng-show" => "noObservations( )" }
    {{ shared.t( 'no_results_found' ) }}
  .pages.col-xs-12.ng-cloak{ "ng-show": "showPages( )" }
    %uib-pagination{ "ng-model": "pagination.page", "previous-text": "‹", "next-text": "›", "first-text": "«", "last-text": "»", "total-items": "pagination.total", "items-per-page": "pagination.perPage", "max-size": 10 }
