#result-grid.grid.container.container-fixed{ "infinite-scroll": "showMoreObservations( )", "infinite-scroll-disabled": "!viewing('observations', 'grid') || pagination.searching", "infinite-scroll-distance": 1 }
  .row
    .col-xs-3{ "ng-repeat": "o in observations" }
      .thumbnail.borderless
        %a{ href: "/observations/{{ o.id }}", "ng-style": "shared.backgroundIf( o.photo( ) )", target: "_self", :class => "photo {{ o.photo( ) ? '' : 'iconic'}}" }
          %i{:class => "icon icon-iconic-{{ o.taxon.iconicTaxonName( ) | lowercase }}"}
        .caption
          %a.userimage{ href: "/people/{{ o.user.login }}", "ng-style": "shared.backgroundIf( o.user.icon_url )", title: "{{ o.user.login }}", target: "_self" }
            %i.icon-person{"ng-hide" => "o.user.icon_url"}
          %inat-taxon.title.split-taxon{taxon: "o.taxon", url: "/observations/{{ o.id }}"}
          .meta
            %span{:class => "quality_grade {{ o.quality_grade }}"}
              {{ shared.t( o.quality_grade ) | capitalize }}
            %span.identifications{"ng-show" => "o.identifications_count > 0", title: "{{ shared.t('x_identifications', {count: o.identifications_count}) }}"}
              %i.icon-identification
              {{ o.identifications_count }}
            %span.comments{"ng-show" => "o.comments_count > 0", title: "{{ shared.t('x_comments', {count: o.comments_count}) }}"}
              %i.icon-chatbubble
              {{ o.comments_count }}
            %span.favorites{"ng-show" => "o.faves_count > 0", title: "{{ shared.t('x_faves', {count: o.faves_count}) }}"}
              %i.fa.fa-star
              {{ o.faves_count }}
            %span.pull-right{"am-time-ago" => "o.observed_on", title: "{{ shared.t('observed_on') + ' ' + o.observed_on }}"}
    .spinner.ng-cloak{ "ng-show": "pagination.searching" }
      %span.fa.fa-spin.fa-spinner
