#result-grid.grid.container.container-fixed{ "infinite-scroll": "showMoreObservations( )", "infinite-scroll-disabled": "!viewing('observations', 'grid') || busy" }
  .row
    .col-xs-3{ "ng-repeat": "o in observations" }
      .thumbnail.borderless
        %a.photo{ href: "/observations/{{ o.id }}", style: "background-image: url({{ o.photo( ) }})", target: "_self" }
        .caption
          %a.userimage{ href: "/observations/{{ o.id }}", style: "background-image: url('{{ o.user.icon_url }}')", title: "{{ o.user.login }}", target: "_self" }
            %i.fa.fa-user{"ng-hide" => "o.user.icon_url"}
          %inat-taxon.title.split-taxon{taxon: "o.taxon", url: "/observations/{{ o.id }}"}
          .meta
            %span{:class => "quality_grade {{ o.quality_grade }}", "ng-show" => "o.quality_grade != 'needs_id'"}
              {{ shared.t( o.quality_grade ) | capitalize }}
            %span.identifications{"ng-show" => "o.identifications_count > 0"}
              %i.icon-identification
              {{ o.identifications_count }}
            %span.comments{"ng-show" => "o.comments_count > 0"}
              %i.icon-chatbubble
              {{ o.comments_count }}
            %span.favorites{"ng-show" => "o.faves_count > 0"}
              %i.fa.fa-star
              {{ o.faves_count }}
            %span.pull-right{"am-time-ago" => "o.observed_on", title: "{{ o.observed_on }}"}
