#taxa-grid.container.bootstrap-10{ "infinite-scroll": "showMoreTaxa( )", "infinite-scroll-disabled": "!viewing('species')" }
  .row.grid
    .col-xs-2.cell{ "ng-repeat": "t in taxa | limitTo: numberTaxaShown" }
      .thumbnail.borderless
        %a{ :class => "photo {{ t.photo( ) ? '' : 'iconic'}}", href: "/taxa/{{ t.id }}", style: "background-image: url({{ t.photo( ) }})" }
          %i{:class => "icon icon-iconic-{{ t.iconicTaxonName( ) | lowercase }}"}
        %div{"ng-show" => "t.conservationStatusCode()", :class => "corner conservation-status {{ t.conservationStatusCode( ) }}", title: "{{ t.conservationStatus( ) }}"}
          {{ t.conservationStatusCode() }}
        %div{"ng-show" => "t.establishmentMeansCode() && !t.conservationStatusCode()", :class => "corner establishment-means {{ t.establishmentMeansCode( ) }}", title: "{{ t.establishmentMeansCode( ) }}"}
          {{ t.establishmentMeansCode() }}
        .photometa
          {{ shared.t('x_observations', {count: t.resultCount}) }}
        .caption
          %inat-taxon.title.split-taxon{taxon: "t", url: "/taxa/{{ t.id }}"}
