#taxa-grid.container.bootstrap-10{ "infinite-scroll": "showMoreTaxa( )", "infinite-scroll-disabled": "!viewing('species') || speciesPagination.searching || speciesPagination.stopped", "infinite-scroll-distance": 1 }
  .row.grid.d-flex.flex-wrap
    .taxon-grid-cell.d-flex{ "ng-repeat": "t in taxa" }
      .thumbnail.borderless
        %a{ :class => "photo {{ t.photo( ) ? '' : 'iconic'}}", href: "/taxa/{{ t.id }}", "ng-style": "shared.backgroundIf( t.photo( ) )", target: "_self" }
          %i{ :class => "icon icon-iconic-{{ t.iconicTaxonName( ) | lowercase }}" }
        %div{ "ng-show" => "t.conservationStatus( )", :class => "corner conservation-status {{ t.conservation_status.status }}", title: "{{ shared.taxonStatusTitle( t ) }}" }
          {{ t.conservation_status.status }}
        %div{ "ng-show" => "t.establishmentMeansCode( ) && !t.conservationStatus( )", :class => "corner establishment-means {{ t.establishmentMeansCode( ) }}", title: "{{ shared.taxonMeansTitle( t ) }}" }
          {{ t.establishmentMeansCode( ) }}
        %div{ class: "corner context-menu" }
          %details.btn.btn-nostyle
            %summary
              %i.fa.fa-sliders
            %div.menu
              %ul
                %li
                  Add / Subtract Ancestor Taxa
                  %ul
                    %li{ "ng-repeat": "a in t.ancestors" }
                      %button.btn.btn-primary.btn-xs{ "ng-click": "addTaxon(a)", "ng-disabled": "{{ a.id === params.taxon_id }}" }
                        %i.fa.fa-plus
                      %button.btn.btn-default.btn-xs{ "ng-click": "subtractTaxon(a)", "ng-disabled": "{{ a.id !== params.taxon_id && selectedTaxon.ancestor_ids.indexOf( a.id ) >= 0 }}" }
                        %i.fa.fa-minus
                      {{ a.name }}
        .photometa
          %a{ "ng-href": "{{ extendBrowserLocation({ taxon_id: t.id, view: null, page: null }) }}", target: "_self"  }
            {{ shared.t( 'x_observations', { count: (t.resultCount == 1 ? t.resultCount : shared.numberWithCommas( t.resultCount ) ) } ) }}
          .pull-right
            .photo-license{ "uib-tooltip" => "{{ t.localizedPhotoAttribution( ) }}", "tooltip-popup-delay" => 500 }
              {{ t.photoLicenseShort( ) }}
        .caption
          %inat-taxon.title.split-taxon{ taxon: "t", url: "/taxa/{{ t.id }}" }
  .spinner.ng-cloak{ "ng-show": "speciesPagination.searching && !noTaxa( )" }
    %span.fa.fa-spin.fa-refresh
  .noresults.text-muted.ng-cloak{ "ng-show": "noTaxa( )" }
    {{ shared.t( 'no_results_found' ) }}
