#taxa-grid.container.bootstrap-10{ "infinite-scroll": "showMoreTaxa( )", "infinite-scroll-disabled": "!viewing('species')", "infinite-scroll-distance": 1 }
  .row.grid
    .col-xs-2.cell{ "ng-repeat": "t in taxa | limitTo: numberTaxaShown" }
      .thumbnail.borderless
        %a{ :class => "photo {{ t.photo( ) ? '' : 'iconic'}}", href: "/taxa/{{ t.id }}", "ng-style": "shared.backgroundIf( t.photo( ) )", target: "_self" }
          %i{ :class => "icon icon-iconic-{{ t.iconicTaxonName( ) | lowercase }}" }
        %div{ "ng-show" => "t.conservationStatus( )", :class => "corner conservation-status {{ t.conservation_status.status }}", title: "{{ shared.taxonStatusTitle( t ) }}" }
          {{ t.conservation_status.status }}
        %div{ "ng-show" => "t.establishmentMeansCode( ) && !t.conservationStatus( )", :class => "corner establishment-means {{ t.establishmentMeansCode( ) }}", title: "{{ shared.taxonMeansTitle( t ) }}" }
          {{ t.establishmentMeansCode( ) }}
        .photometa
          %a{ "ng-href": "{{ extendBrowserLocation({ taxon_id: t.id, view: null, page: null }) }}", target: "_self"  }
            {{ shared.t( 'x_observations', { count: (t.resultCount == 1 ? t.resultCount : shared.numberWithCommas( t.resultCount ) ) } ) }}
          .pull-right
            .photo-license{ "uib-tooltip" => "{{ t.localizedPhotoAttribution( ) }}", "tooltip-popup-delay" => 500 }
              {{ t.photoLicenseShort( ) }}
        .caption
          %inat-taxon.title.split-taxon{ taxon: "t", url: "/taxa/{{ t.id }}" }
  .spinner.ng-cloak{ "ng-show": "pagination.searching" }
    %span.fa.fa-spin.fa-refresh
  .noresults.text-muted.ng-cloak{ "ng-show": "noTaxa( )" }
    {{ shared.t( 'no_results_found' ) }}
