<div class='photoSelectorFriends friendSelector'>
  <h4>Select a friend</h4>
  <% if @friends.blank? -%>
    <div class="nocontent">You don't have any Google friends yet.</div>
  <% else %>
    <table>
      <% @friends.each do |friend| %>
        <tr class='friend' data-friend_id='<%= friend['id'] %>'>
          <td><%= link_to(image_tag(friend['pic_url']), '') %></td>
          <td><%= link_to(friend['name'], '') %></td>
        </tr>
      <% end %>
    </table>
  <% end -%>
</div>
