{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "es6": false
  },
  "ignorePatterns": [
    "*-webpack.js",
    "*-webpack-*.js"
  ],
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "comma-dangle": [2, "never"],
    "func-names": 0,
    "quotes": [2, "double"],
    "prefer-object-spread": 0,
    "space-in-parens": [2, "always"]
  }
}
