{
  "parser": "@babel/eslint-parser",
  "plugins": [
    "ignore-erb"
  ],
  "parserOptions": {
    "requireConfigFile": false,
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "es6": false
  },
  "ignorePatterns": [
    "*-webpack.js",
    "*-webpack-*.js",
    "*min.js",
    "**/i18n/translations*",
    "**/ie7-js/",
    "**/jquery/",
    "**/leaflet*/",
    "**/shramov-leaflet-plugins/",
    "app/javascripts/webpack",
    "cocoon.js",
    "detectIncognito.min.js",
    "geoRssOverlay.js",
    "iso8601.js",
    "jquery.textcomplete.js",
    "jrails.js",
    "leaflet.js",
    "markerGroup.js",
    "modernizr.js",
    "rails.js",
    "torque.full.uncompressed.js",
    "wax.g.js",
    "ym4r-gm.js"
  ],
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "comma-dangle": [2, "never"],
    "func-names": 0,
    "quotes": [2, "double"],
    "prefer-object-spread": 0,
    "space-in-parens": [2, "always"]
  }
}
