backup/
config/config.yml
config/database.yml
config/geoip.yml
config/gmaps_api_key.yml
config/smtp.yml
log/*
cache/
tmp/
db/sphinx/
config/*.sphinx.conf
*.DS_Store
config/*.mapnik.xml
config/*.ogr.vrt
public/observations
