*.DS_Store
*.orig
*.rails2
*.swo
*.swp
*.dbf
*.prj
*.shp
*.shx
*.zip
*~
*~
.bundle
.bundle
.byebug_history
.capistrano
.ruby-gemset
.rvmrc
.vagrant
.vscode
app/assets/javascripts/*-webpack.js
app/assets/javascripts/*-webpack.js.LICENSE.txt
backup/
cache/
config/*.mapnik.xml
config/*.ogr.vrt
config/config.yml
config/database.yml
config/deploy
config/deploy.rb
config/environments/development.rb
config/geoip.yml
config/gmaps_api_key.yml
config/newrelic.yml
config/puma.rb
config/s3.yml
config/schedule.rb
config/secrets.yml
config/settings.yml
config/smtp.yml
config/tilestache.cfg
coverage/
db/*.sqlite3
docker-compose.override.yml
elasticsearch
GeoLiteCity.dat
lib/ratatosk/spec/debug.log
lib/ratatosk/spec/fixtures/catalogue_of_life/
lib/ratatosk/spec/fixtures/eol_service/
log/*
log/*
node_modules
notes.txt
public/assets
public/attachments
public/guides
public/lists
public/observations
public/places
public/taxa
spec/fixtures/combined*
spec/fixtures/timezones-with-oceans*
tmp/
vendor/plugins/ratatosk/spec/debug.log
xmp.xml
