backup/
config/config.yml
config/database.yml
config/geoip.yml
config/gmaps_api_key.yml
config/s3.yml
config/newrelic.yml
config/smtp.yml
config/sphinx.yml
log/*
cache/
tmp/
db/sphinx/
config/*.sphinx.conf
*.DS_Store
config/*.mapnik.xml
config/*.ogr.vrt
public/observations
public/attachments
.rvmrc
.bundle
Gemfile.lock
*.rails2
*.orig
*.swp
*.swo
GeoLiteCity.dat
