- content_for :title do
  Create Your Own Fundraiser and Support Biodiversity
- content_for :extracss do
  = stylesheet_link_tag :donate, media: "all", cache: true
  :css
    #header {
      margin-bottom: 0px;
    }
    #img-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      width: 100%;
      height: 100%;
      background-image: url('https://static.inaturalist.org/misc/donate/20250205-toucan.jpg'), url('https://static.inaturalist.org/misc/donate/20250205-toucan@2x.jpg');
      background-size: cover;
      background-position: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;
    }
    #img-wrapper h1 {
      color: white;
      text-align: center;
      font-size: 300%;
      max-width: 800px;
      font-weight: bold;
      text-shadow: #333 0 0 30px;
      letter-spacing: 0.3vh;
    }
    @media (min-width: 768px) {
      #img-wrapper h1 {
        font-size: 400%;
      }
    }
- content_for :extrajs do
  :javascript
    (function(w,d,s,n,a){if(!w[n]){var l='call,catch,on,once,set,then,track,openCheckout'
    .split(','),i,o=function(n){return'function'==typeof n?o.l.push([arguments])&&o
    :function(){return o.l.push([n,arguments])&&o}},t=d.getElementsByTagName(s)[0],
    j=d.createElement(s);j.async=!0;j.src='https://cdn.fundraiseup.com/widget/'+a+'';
    t.parentNode.insertBefore(j,t);o.s=Date.now();o.v=5;o.h=w.location.href;o.l=[];
    for(i=0;i<8;i++)o[l[i]]=o(l[i]);w[n]=o}
    })(window,document,'script','FundraiseUp','ACSSCSPN');
    $( document ).ready( function() {
      $( "#wrapper" ).css( "min-height", $( "#wrapper" ).height( ) );
    } );
#img-wrapper
  %h1 Create Your Own Fundraiser and Support Biodiversity
  %a{href: "#XNJVUDXC", style: "display: none"}
