- content_for :title do
  Create Your Own Fundraiser and Support Biodiversity
- content_for :extracss do
  = stylesheet_link_tag :donate, media: "all", cache: true
  :css
    #header {
      margin-bottom: 0px;
    }
    #img-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      width: 100%;
      height: 100%;
      background-image: url('https://static.inaturalist.org/misc/donate/20250205-toucan.jpg'), url('https://static.inaturalist.org/misc/donate/20250205-toucan@2x.jpg');
      background-size: cover;
      background-position: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;
    }
    #img-wrapper h1 {
      color: white;
      text-align: center;
      font-size: 300%;
      max-width: 800px;
      font-weight: bold;
      text-shadow: #333 0 0 30px;
      letter-spacing: 0.3vh;
    }
    @media (min-width: 768px) {
      #img-wrapper h1 {
        font-size: 400%;
      }
    }
- content_for :extrajs do
  = fundraise_up_js
  :javascript
    $( document ).ready( function() {
      $( "#wrapper" ).css( "min-height", $( "#wrapper" ).height( ) );
    } );
#img-wrapper
  %h1 Create Your Own Fundraiser and Support Biodiversity
  %a{href: "#XNJVUDXC", style: "display: none"}
