---
http_interactions:
- request:
    method: get
    uri: http://api.gbif.org/v1/species/match?name=Pseudacris&phylum=Chordata
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"usageKey":2428124,"scientificName":"Pseudacris Fitzinger, 1843","canonicalName":"Pseudacris","rank":"GENUS","status":"ACCEPTED","confidence":97,"matchType":"HIGHERRANK","kingdom":"Animalia","phylum":"Chordata","order":"Anura","family":"Hylidae","genus":"Pseudacris","kingdomKey":1,"phylumKey":44,"classKey":131,"orderKey":952,"familyKey":6735,"genusKey":2428124,"class":"Amphibia"}'
  recorded_at: Fri, 03 Apr 2026 16:07:43 GMT
- request:
    method: get
    uri: http://api.gbif.org/v1/species/match?name=Sorberacea&phylum=Chordata
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"usageKey":44,"scientificName":"Chordata","canonicalName":"Chordata","rank":"PHYLUM","status":"ACCEPTED","confidence":100,"matchType":"HIGHERRANK","kingdom":"Animalia","phylum":"Chordata","kingdomKey":1,"phylumKey":44}'
  recorded_at: Fri, 03 Apr 2026 16:07:44 GMT
- request:
    method: get
    uri: http://api.gbif.org/v1/species/match?name=Dugongidae&phylum=Chordata
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"usageKey":9462,"scientificName":"Dugongidae","canonicalName":"Dugongidae","rank":"FAMILY","status":"ACCEPTED","confidence":97,"matchType":"HIGHERRANK","kingdom":"Animalia","phylum":"Chordata","order":"Sirenia","family":"Dugongidae","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":802,"familyKey":9462,"class":"Mammalia"}'
  recorded_at: Fri, 03 Apr 2026 16:07:45 GMT
- request:
    method: get
    uri: http://api.gbif.org/v1/species/match?name=Dugongidae&phylum=Chordata
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"usageKey":9462,"scientificName":"Dugongidae","canonicalName":"Dugongidae","rank":"FAMILY","status":"ACCEPTED","confidence":97,"matchType":"HIGHERRANK","kingdom":"Animalia","phylum":"Chordata","order":"Sirenia","family":"Dugongidae","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":802,"familyKey":9462,"class":"Mammalia"}'
  recorded_at: Fri, 03 Apr 2026 16:07:45 GMT
recorded_with: VCR 6.2.0
