---
http_interactions:
- request:
    method: get
    uri: http://api.gbif.org/v1/species/match?name=Pseudacris&phylum=Chordata
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"usageKey":2428124,"scientificName":"Pseudacris Fitzinger, 1843","canonicalName":"Pseudacris","rank":"GENUS","status":"ACCEPTED","confidence":97,"matchType":"HIGHERRANK","kingdom":"Animalia","phylum":"Chordata","order":"Anura","family":"Hylidae","genus":"Pseudacris","kingdomKey":1,"phylumKey":44,"classKey":131,"orderKey":952,"familyKey":6735,"genusKey":2428124,"class":"Amphibia"}'
  recorded_at: Fri, 03 Apr 2026 16:07:43 GMT
- request:
    method: get
    uri: http://api.gbif.org/v1/species/match?name=Sorberacea&phylum=Chordata
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"usageKey":44,"scientificName":"Chordata","canonicalName":"Chordata","rank":"PHYLUM","status":"ACCEPTED","confidence":100,"matchType":"HIGHERRANK","kingdom":"Animalia","phylum":"Chordata","kingdomKey":1,"phylumKey":44}'
  recorded_at: Fri, 03 Apr 2026 16:07:44 GMT
- request:
    method: get
    uri: http://api.gbif.org/v1/species/match?name=Dugongidae&phylum=Chordata
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"usageKey":9462,"scientificName":"Dugongidae","canonicalName":"Dugongidae","rank":"FAMILY","status":"ACCEPTED","confidence":97,"matchType":"HIGHERRANK","kingdom":"Animalia","phylum":"Chordata","order":"Sirenia","family":"Dugongidae","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":802,"familyKey":9462,"class":"Mammalia"}'
  recorded_at: Fri, 03 Apr 2026 16:07:45 GMT
[...]
- request:
    method: put
    uri: http://host.docker.internal:9200/test_taxa/_doc/1
    body:
      encoding: UTF-8
      string: '{"id":1,"rank":"phylum","rank_level":60.0,"iconic_taxon_id":null,"ancestor_ids":[1],"is_active":true,"min_species_taxon_id":1,"name":"Chordata","parent_id":null,"ancestry":null,"min_species_ancestry":"1","names":[{"name":"Chordata","locale":"sci","lexicon":"scientific-names","position":0,"place_taxon_names":[],"is_valid":true,"name_autocomplete":"Chordata","exact":"Chordata","exact_ci":"Chordata"}],"statuses":[],"extinct":false,"provisional":false,"created_at":"2026-06-26T20:30:50.566Z","default_photo":null,"colors":[],"taxon_changes_count":0,"taxon_schemes_count":0,"observations_count":0,"photos_locked":false,"universal_search_rank":0,"flag_counts":{"resolved":0,"unresolved":0},"current_synonymous_taxon_ids":null,"place_ids":[],"listed_taxa":[],"taxon_photos":[],"atlas_id":null,"complete_species_count":null,"wikipedia_url":null}'
    headers:
      X-Elastic-Client-Meta:
      - es=8.14.0,rb=3.3.7,t=8.3.5,fd=2.14.2,nh=0.9.1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Elastic-Product:
      - Elasticsearch
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_index":"test_taxa","_id":"1","_version":72,"result":"updated","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":3615,"_primary_term":1}'
  recorded_at: Fri, 26 Jun 2026 20:30:50 GMT
- request:
    method: post
    uri: http://host.docker.internal:9200/test_taxa/_refresh
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Elastic-Client-Meta:
      - es=8.14.0,rb=3.3.7,t=8.3.5,fd=2.14.2,nh=0.9.1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Elastic-Product:
      - Elasticsearch
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_shards":{"total":2,"successful":1,"failed":0}}'
  recorded_at: Fri, 26 Jun 2026 20:30:50 GMT
[...]
