<p>Hi <%= @user.name.blank? ? @user.login : @user.name %></p>
<p>Your bulk import of <%= @filename %> has been successful. Your observations are now being processed and will soon be up on the website.</p>
<p>Yours nature-ally<br/>
The NatureWatch NZ team</p>
