<%- 
  parent ||= comments
  hide_form ||= false
  remote ||= nil 
-%>
<h3>Comments</h3>
<% if parent.comments.empty? %>
  <p class="noresults">No comments yet.</p>
<% end %>
<% for comment in parent.comments.sort {|a,b| a.created_at <=> b.created_at } %>
  <div class="<%= cycle('odd', 'even') %>">
    <%= render :partial => 'shared/activity_item', :object => comment %>
  </div>
<%- end -%>
<%- unless hide_form -%>
  <div id="new-comment">
    <h3>Add a Comment</h3>
    <%= render :partial => 'comments/comment_form', :locals => { 
      :comment => Comment.new(:parent => parent, :user => logged_in? ? current_user : nil),
      :remote => remote
    } %>
  </div><!-- end new comment -->
<% end -%>
