<%- content_for(:title) do -%>
  Edit Comment
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag 'jquery',
                             'jquery/plugins/jqModal' %>
<%- end -%>
<div class="last column prepend-7 span-10 append-7">
  <h2>Edit Your Comment</h2>
  <%= render :partial => "comment_form", :locals => { :comment => @comment } %>
</div>
