<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "comments" %>
<%- end -%>

<h2>Comments by <%= @display_user.login %></h2>

<%= render :partial => 'listing', :collection => @comments %>
<%= will_paginate @paging_comments %>
