:ruby
  taxon_framework ||= show_downstream_deviations[:taxon_framework] || @taxon_framework
  downstream_deviations_counts ||= show_downstream_deviations[:downstream_deviations_counts] ||= @downstream_deviations_counts
- downstream_deviations_counts.each do |downstream_deviations_count|
  - if downstream_deviations_count[:count] > 0
    %p
      - if downstream_deviations_counts.count == 1
        = "#{ t(:downstream_deviations) }:"
      - else
        = t :downstream_deviations_for_taxon, taxon: downstream_deviations_count[:internal_taxon].name
      = link_to |
      downstream_deviations_count[:count], |
      taxon_framework_relationships_path( TaxonFrameworkRelationship::RELATIONSHIPS.select{ |r| r!="match" && r!="alternate_position" }.map{ |r| [r, "1"] }.to_h.merge( { taxon_id: downstream_deviations_count[:internal_taxon].id, taxon_framework_id: taxon_framework.id } ) ) |
