#typescol .description {
  margin-left: 27px;
  display: block;
  font-weight: normal;
}

#typescol {
  margin-bottom: 1em;
}

.field {
  width: 100%;
}
input.text, textarea {
  margin-top: 0;
}

.type_fields {
  margin-bottom: 20px;
}

#taxon_input_1 { width: 300px; }
