#wrapper {
  min-height: 300px;
}

#pageheader {
  margin-bottom: 0;
}

#empty {
  margin: 1em auto;
  width: 80%;
  text-align: center;
}

#description p {
  margin-bottom: 0.5em;
}

#sidebar {
  width: 270px;
  background-color: white;
}

#add {
  background-color: #efefef;
  padding: 10px;
}

#add .buttonrow .inter {
  padding-top: 0px;
}

#sidebar h3 {
  margin: 0;
}

#sidebar h3 a {
  outline: none;
  font-weight: normal;
  display: block;
}

#addlink {
  padding-left: 20px;
  background: image-url('silk/add.png') 0 50% no-repeat;
}

#new_listed_taxon {
  margin-top: 0.5em;
}

#species_guess {
  width: 235px;
  padding: inherit 5px;
}

#stats {
  background-color: #ddd;
  padding: 0 0 10px 0;
}

#stats h3 {
  padding: 10px;
  margin-bottom: 0;
}

.stat {
  display: block;
  position: relative;
  padding: 5px 10px;
  outline: none;
  clear: both;
}

.stat:hover {
  background-color: #eee;
}

.stat.current,
.stat.current:hover {
  background-color: white;
}

.stat.current,
.stat:hover {
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  background-image: image-url('toggle_arrow_left.png');
  background-position: 5px 50%;
  background-repeat: no-repeat;
  left: -10px;
}
.stat.no-toggle:hover{
  background-image: none;
  background-color: white;
}

.stat.current .title,
.stat.current .barchart,
.stat:hover .title,
.stat:hover .barchart {
  position: relative;
  left: 10px;
}

.stat .barchart .remainder,
.stat.hover .barchart .remainder {
  background-color: transparent;
}

.stat.total .barchart .remainder,
.stat.total:hover .barchart .remainder {
  background-color: #ccc;
}

.stat .title {
  width: 0px;
  height: 25px;
  float: left;
  clear: left;
}

.stat .title a {
  display: block;
  visibility: hidden;
  width: 25px;
  height: 25px;
}

.stat.total .barchart .value {
  background-color: #999;
  color: white;
}

#toppagination .pagination {
  font-size: 100%;
}

#justadded h2 {
  margin-bottom: 0;
}

.check_list_taxon {
  margin: 1em 0;
}

.modal_link,
.buttonrow .modal_link {
  padding-left: 28px;
  margin-left: 5px;
}

#view_controls {
  float: right;
  clear: right;
  margin: 10px 0;
}
#view_controls label {
  padding-top: 8px;
}

#plain_view_link:hover,
#plain_view_link:active,
#plain_view_link.selected {
  background-image: image-url('checklist-icon.png');
}

#taxonomic_view_link:hover,
#taxonomic_view_link:active,
#taxonomic_view_link.selected {
  background-image: image-url('taxonomy-icon.png');
}

#photo_view_link:hover,
#photo_view_link:active,
#photo_view_link.selected {
  background-image: image-url('silk/picture.png');
}

#plain_view_link {
  background-image: image-url('checklist-icon-gray.png');
}

#taxonomic_view_link {
  background-image: image-url('taxonomy-icon-gray.png');
}

#photo_view_link {
  background-image: image-url('silk/picture-gray.png');
}

#maincol {
  min-height: 500px;
}

.taxonomic_view ul {
  margin-bottom: 0;
  margin-right: 0;
}

.toolset form { vertical-align: top; }
.toolset.buttonrow select,
.toolset.buttonrow input.text,
.toolset.buttonrow input.button,
.toolset.buttonrow label {
  margin-top: 0;
  padding-top: 1px;
  padding-bottom: 1px;
}

#pageheader h2 { margin-bottom: 5px; }

#refresher.error.status,
#refresher.success.status {
  padding: 5px 10px;
}
span.taxonfilterbutton {display:none;}
.containertaxon:hover > span.taxonfilterbutton {display:inline;}
