-# TODO: is this really useful?
.wv2-store-badges
  = link_to ios_url, target: "_blank", rel: "noopener" do
    = image_tag "https://static.inaturalist.org/wiki_page_attachments/414-original.png", alt: "Download on the App Store", class: "wv2-store-badge", width: 304, height: 90
  = link_to android_url, target: "_blank", rel: "noopener" do
    = image_tag "https://static.inaturalist.org/wiki_page_attachments/412-original.png", alt: "Get it on Google Play", class: "wv2-store-badge", width: 304, height: 90
