.observations.medium.grid .observation, .observations.medium.grid .photos, .observations.medium.grid .icon {
  width: 170px;
  height: 170px;
}
#sidenav {
  width: 175px;
  padding: 0;
  background-color: #fff;
}
@media (min-width: 992px) {
  #sidenav {
    width: 210px;
  }
}
@media (min-width: 1200px) {
  #sidenav {
    width: 275px;
  }
}
#sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
#sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
#sidenav > li > a {
  display: block;
  width: 210px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.observationcontrols {margin-top:10px;}
