<%- taxon_change_taxon ||= nested_form_fields -%>
<%- taxon_change ||= taxon_change_taxon.taxon_change -%>
<%- fields_for "taxon_change_taxa[]", taxon_change_taxon, :builder => DefaultFormBuilder do |n| -%>
  <%= render :partial => "shared/taxon", :object => taxon_change_taxon.taxon, 
    :locals => {:link_url => taxon_change_taxon.taxon} %>
  <%= n.text_field :taxon_id, :class => "text" %>
    
  <%- unless taxon_change_taxon.new_record? -%>
    <div class="clear buttonrow">
      <%= link_to "Edit taxon", edit_taxon_change_taxon_path(:taxon_change => taxon_change, :taxon_change_taxon => taxon_change_taxon), :class => 'button' %>
      <%= link_to 'Remove taxon', taxon_change_taxon_path(taxon_change, taxon_change_taxon),
                  :method => :delete,
                  :data => {:confirm => "Are you sure you want to remove this taxon?"},
                  :class => 'minor delete button' %>
    </div>
  <%- end -%>
<% end %>
