<% content_for(:title) do -%>
  Editing Taxon for Taxon Change
<% end -%>

<%= render :partial => 'form_head' %>

<div id="pageheader" class="last column span-24">
  <span class="breadcrumbs">    
    <%= link_to "Back to taxon change", @taxon_change, :class => 'back crumb' %>
  </span>
  <h2>
    Editing Taxon for <%= link_to "Taxon Change", @taxon_change %>
  </h2>

</div>

<%= render :partial => 'form' %>
