- content_for :extrajs do
  = google_maps_js
  = javascript_include_tag "atlases/map"

- content_for :extracss do
  = stylesheet_link_tag "atlases/map"

#pageheader.last.column.span-24
  .clear
    %h2
      = render partial: "shared/taxon", locals: { taxon: @atlas.taxon, named_ancestor: true }

- atlas_data = {                                      |
  atlas_id: @atlas.id,                                |
  taxon_id: @atlas.taxon_id,                          |
  place_ids: @atlas.presence_places.pluck(:id),       |
  exploded_places: Hash[@atlas.exploded_atlas_places. |
    map{ |e| [ e.place_id, e.id ] }].to_json }        |

#top
  #left
    #map{ data: atlas_data }
  #right
    This is the right panel
#bottom
