- terms.each do | term |
  %h3
    %a{ name: term, href: "##{term}" }
      %code= term
  %table.table.term-table
    %tr
      %th=t :definition
      %td=define_term.call term
    %tr
      %th URI
      %td= link_to terminology_term_url( term: term, host: Site.default.url ), terminology_term_url( term: term, host: Site.default.url )
