.carousel {
  --carousel-slide-count: 1;
  --carousel-chunk-size: 1;
  width: 100%;
  clear: both;
}

.carousel__title {
  margin: 0;
  margin-bottom: 10px;
  width: fit-content;
}

.carousel__body {
  display: flex;
  align-items: center;
  gap: 10px;
  /* width: fit-content; */
}

.carousel__slides {
  flex: 1;
  overflow: hidden;
}

.carousel__track {
  display: flex;
  width: calc(var(--carousel-slide-count) * 100%);
  transition: transform 0.3s ease-in-out;
}

.carousel__slide {
  display: grid;
  grid-template-columns: repeat(var(--carousel-chunk-size), 1fr);
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.carousel__navbtn {
  width: 40px;
  align-self: stretch;
  border: none;
  background-color: #74ac00;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__navbtn:hover,
.carousel__navbtn:focus,
.carousel__navbtn:active {
  background-color: #a8cc09;
  outline: none;
}

.carousel__navbtn:disabled {
  opacity: 0.4;
  cursor: default;
}

.carousel__navbtn:disabled:hover,
.carousel__navbtn:disabled:focus,
.carousel__navbtn:disabled:active {
  background-color: #74ac00;
}
