@import "../shared/split_taxon";

@font-face {
  font-family: Whitney;
  src: url('/fonts/Whitney-Book-Pro.otf') format("opentype");
}

body {
  font-family: Whitney, "Trebuchet MS", Arial, sans-serif;
}

a {
  color: #4990E2;
}

.uploader {
  min-width: 0;
  margin-top: 0;
}

.loading_spinner {
  width: 14px;
  height: 14px;
  border: 3px solid #fff;
  border-radius: 50%;
  border-top: 3px solid #5cb85c;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left: 5px;
  display: inline-block;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

.statement, .photo {
  a {
    color: #333;
  }
  a:hover {
    text-decoration: none;
  }
}


.navbar {
  position: relative;
  margin-top: 0;
}
.navbar-header {
  height: auto;
  .logo {
    display: inline;
  }
  .navbar-brand {
    height: auto;
  }
  .title {
    display: inline-block;
    font-size: 20px;
    margin: 12px 0px;
    border-left: 1px solid #ddd;
    padding-left: 15px;
    font-weight: 500;
  }
}
.intro {
  max-width: 450px;
  margin: 0px auto;
  padding: 0px;
  .start {
    margin-top: 10%;
  }
  .drag_or_choose {
    margin: 0 4%;
    h1 {
      font-size: 32px;
      margin: 0;
    }
    p {
      padding: 10px 0;
      margin: 0 0 5px;
    }
  }
}
.about {
  max-width: 420px;
  margin: 0px auto;
  margin-top: 40px;
  padding: 0px;
  text-align: center;
  font-size: 16px;
  border-top: 1px solid #ccc;
  padding: 20px 20px 50px 20px;
  .logos {
    width: 100%;
    margin-top: 30px;
    .logo {
      width: 33.3%;
      display: inline-block;
      img {
        max-width: 100%;
      }
    }
  }
}

.results {
  text-align: center;
  .classify {
    button {
      min-width: 150px;
      div {
        display: inline-block;
      }
    }
  }
}
.thumbnail {
  width: 220px;
  display: inline-block;
  text-align: left;
  .caption {
    padding: 0 9px;
    .photo-count {
      text-align: center;
    }
  }
  .img-container {
    text-align: center;
    height: 144px;
    line-height: 144px;
    .placeholder .glyphicon {
      line-height: 144px;
      font-size: 100px;
      opacity: 0.07;
    }
    .gallery-item > .glyphicon, .gallery-item > .failed > .glyphicon {
      line-height: 144px;
      font-size: 40px;
      opacity: 0.07;
    }
    .gallery-item > .failed {
      width: 180px;
      line-height: 180px;
      & > .glyphicon {
        color: red;
        opacity: 0.2;
        line-height: 1;
      }
    }
    img {
      max-height: 142px;
      max-width: 180px;
      width: auto;
      margin-bottom: 10px;
      box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
    }
  }
  &.completed {
    pointer-events: none;
    .caption {
      opacity: 0.5;
    }
  }
}

.vision-results {
  text-align: left;
  .statement {
    font-size: 32px;
    margin-bottom: 10px;
    display: inline-block;
  }
  .result {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    .photos {
      margin-bottom: 30px;
      margin-left: -1.5%;
      .col-xs-2 {
        padding: 0 1.5%;
      }
    }
    .title {
      margin-bottom: 10px;
      .SplitTaxon {
        a:hover {
          text-decoration: none;
        }
        .sciname {
          font-size: 14px;
          color: #626262;
          line-height: 13px;
        }
        .display-name {
          font-size: 24px;
          color: #333;
          line-height: 24px;
        }
        .species {
          font-style: italic
        }
      }
      .summary {
        float: right;
        font-weight: 700;
      }
    }
    .photo {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background-size: cover;
      background-position: center;
      display: inline-block;
      border-radius: 2px;
    }
  }
}

.next-steps {
  border-bottom: 1px solid #ccc;
  padding: 15px 0 30px;
  h3 {
    font-size: 32px;
  }
  .suggestions {
    padding: 20px 0 0 20px;
    .suggestion {
      font-size: 18px;
      margin-bottom: 15px;
      .icon {
        float: left;
          width: 50px;
          text-align: center;
          font-size: 24px;
        i {
          color: #74AC00;
          vertical-align: top;
        }
      }
      .text {
        padding-left: 50px;
      }
    }
  }
}

.try-again {
  padding-top: 40px;
  text-align: center;
  button, .btn-default {
    margin: 0px 15px;
  }
}

@media (max-width: 800px) {
  .vision-results {
    .statement {
      font-size: 28px;
    }
  }
  .next-steps {
    h3 {
      font-size: 28px;
    }
  }
}

@media (max-width: 720px) {
  .navbar {
    min-height: auto;
  }
  .navbar-header {
    .navbar-brand {
      padding: 7px 10px 4px 0;
      img {
        height: 20px;
      }
    }
    .title {
      margin: 7px 5px 4px 0;
      font-size: 15px;
      font-weight: normal;
      padding-left: 10px;
    }
  }
  .intro {
    .start {
      margin-top: 5%;
      .drag_or_choose {
        h1 {
          font-size: 24px;
        }
      }
    }
  }
  .about {
    padding: 20px 20px 50px 20px;
    font-size: 13px;
  }
  .vision-results {
    .statement {
      font-size: 22px;
    }
    .result {
      .col-xs-2 {
        width: 33.333333%;
        margin-bottom: 3%;
      }
      .title {
        .SplitTaxon .display-name {
          font-size: 22px;
        }
        .summary {
          float: none;
        }
      }
    }
  }
  .next-steps {
    h3 {
      font-size: 24px;
    }
    .suggestions {
      padding: 20px 0 0 0;
    }
  }
}

@media (max-width: 500px) {
  .try-again {
    max-width: 300px;
    margin: 0px auto;
    button {
      margin-bottom: 30px;
    }
  }
}