<h2>
  <%= link_to "Curate Observations", :controller => "observations", :action =>"curation" %> 
  <br />
  <%= link_to "Curate Taxa", :controller => "taxa", :action =>"curation" %>
  <br />
  <%= link_to "Curate Users", :controller => "users", :action => "curation" %>
</h2>