<ul>
  <% @obs.keys.sort.each do |k| %>
  <li><h3><%= link_to @obs[k][:login], :controller => 'observations', :action => 'by_login', :login => @obs[k][:login] %></h3><img src="http://chart.apis.google.com/chart?cht=lc&chs=300x125&chd=t:<%= @obs[k][:weeks].join(',') %>&chxt=x,y&chxr=0,0,52" /></li>
  <% end %>
<!-- http://chart.apis.google.com/chart?cht=lc&chs=200x125&chd=s:fooZaroo -->
</ul>
