@import "../colors";
@import "../shared/loading_spinner";

.TaxonMap {
  height: 500px;
}

#TaxonGeoExplain {
  min-width: 980px;
}

.bootstrap h1 {
  font-size: 30px;
  .SplitTaxon {
    font-weight: 300;
    &.taxon.has-com-name > .secondary-name,
    &.taxon a {
      color: inherit;
    }
  }
}

.bootstrap strong {
  font-weight: 600;
}

.tab-description {
  font-size: 16px;
  line-height: 1.8em;
  margin-top: 30px;
  p.figure {
    text-align: center;
    img {
      width: 85%;
    }
    &.comparison img {
      width: 75%;
    }
  }
  .row.color-legend > div {
    margin-left: 20px;
  }
  .row.stat-description {
    margin-bottom: 10px;
    line-height: 24px;
  }
  .evaluation-header {
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 10px;
    .taxon a {
      color: inherit;
    }
  }
  .strong-label {
    font-weight: 600;
  }
}

.color-box {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  display: inline-block;
  top: 4px;
  position: relative;
  margin-right: 6px;
}
