.PhotoBrowser {
  .photos {
    margin: -2.5px;
    line-height: 0;
  }
  .TaxonPhoto {
    display: inline-block;
    margin: 2.5px;
  }
  .TaxonPhoto .actions {
    margin-top: -60px;
  }
  .loading {
    color: #999;
    font-size: 150%;
    margin: 20px;
    text-align: center;
    width: 100%;
  }
}

.PhotoBrowser.fluid {
  .photos {
    display: flex;
    flex-wrap: wrap; 
  }
  .TaxonPhoto {
    flex-grow: 1;
  }
}

#controls {
  margin-bottom: 20px;

  .btn-group.open .dropdown-toggle {
    box-shadow: none;
  }

  .control-group {
    margin-right: 20px;
  }
  .control-group,
  button {
    text-transform: capitalize;
  }
}

#hero {
  min-height: 500px;
}

.photo-group {
  margin-bottom: 20px;
  h3 { margin-top: 40px; }
  h3 .SplitTaxon {
    text-transform: none;
  }
  h3 .taxon .display-name {
    color: black;
  }
}
.photo-group.first h3 { margin-top: 0px; }
