@import "../breakpoints";

.PhotoBrowser {
  @include container-padding;
  max-width: 1300px;
  margin: 0 auto;
  min-height: 500px;
  .photos {
    margin: -2.5px;
    line-height: 0;
  }
  .TaxonPhoto {
    display: inline-block;
    margin: 2.5px;
  }
  .TaxonPhoto .actions {
    margin-top: -60px;
  }
  .loading {
    color: #999;
    font-size: 150%;
    margin: 20px;
    text-align: center;
    width: 100%;
  }
}

.PhotoBrowser.fluid {
  .photos {
    display: flex;
    flex-wrap: wrap; 
  }
  .TaxonPhoto {
    flex-grow: 1;
    max-width: 100% !important;
  }
}

#controls {
  display: flex;
  margin-bottom: 20px;

  .btn-group.open .dropdown-toggle {
    box-shadow: none;
  }

  #layout-control {
    min-width: 80px;
    .btn-default {
      padding: 6px 12px 9px;
    }
  }

  #filters {
    line-height: 30px;
  }

  .control-group {
    margin-right: 20px;
  }
  .btn.btn-link {
    color: black;
    margin: 0;
    padding: 0;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.photo-group {
  margin-bottom: 20px;
  .photo-group-header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  h3 .SplitTaxon {
    text-transform: none;
  }
  h3 .taxon .display-name {
    color: black;
  }
}
.photo-group.first h3 { margin-top: 0px; }

.PhotoBrowser.grid {
  .photos {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( 160px, 1fr ) );
    margin: 0;
    gap: 5px;

    @media ( max-width: $sm-max ) {
      grid-template-columns: repeat( auto-fill, minmax( 130px, 1fr ) );
    }
  }
}

@media ( max-width: $sm-max ) {
  .PhotoBrowser {
    padding-bottom: 30px;
  }

  #controls {
    flex-direction: column;

    #layout-control {
      margin-bottom: 10px;
    }

    #filters {
      display: flex;
      flex-wrap: wrap;
      line-height: normal;

      .control-group {
        margin-bottom: 5px;
      }
    }
  }

}
