.PhotoBrowser {
  margin: -5px;
  line-height: 0;
  .TaxonPhoto {
    display: inline-block;
    width: 170px;
    margin: 5px;
  }
  .loading {
    color: #999;
    font-size: 150%;
    margin: 20px;
    text-align: center;
  }
}
