@import "../colors";
@import "show/wikipedia";
@import "../shared/user_text";

#TaxonHeader h1 {
  margin-top: 10px;
}

#TaxonHeader .taxon .display-name {
  color: black;
  font-weight: bold;
}

#TaxonHeader .has-com-name .sciname {
  font-size: 80%;
}

#TaxonHeader .PlaceChooser {
  margin-top: 20px;
}

#TaxonHeader .PlaceChooser .fa-map-marker, {
  color: #aaa;
}

#TaxonHeader .PlaceChooser a, {
  color: #333;
}

#hero {
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  margin-top: 10px;
  // margin-bottom: 20px;
}

#charts {
  background-color: #e6e6e6;
  border-radius: 4px 4px 0 0;
  border: 1px solid #ddd;
}

#charts a {
  color: #333;
}

#charts .nav-tabs {
  margin-bottom: 0;
  margin-top: -1px;
}
#charts .nav-tabs > li {
  margin-left: -1px;
}
#charts .tab-content {
  background-color: white;
  padding: 20px;
}

#charts a:focus,
#charts a:active {   
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

.SeasonalityChart .c3-line {
  stroke-width: 3px;
}
.FrequencyChart .c3-axis line,
.FrequencyChart .c3-axis path {
  stroke: #aaa;
}
.FrequencyChart .c3-axis text {
  fill: #aaa;
}
.FrequencyChart .c3-axis-x .tick line {
   display: none;
}

.SeasonalityChart .c3-target-verifiable path {
  stroke-dasharray: 5, 5;
}
.HistoryChart .c3-target-verifiable path {
  stroke-dasharray: 1, 1;
}

.FrequencyChart .c3-region {
  fill: #999;
  opacity: 1;
}

.TaxonMap {
  height: 600px;
}

.TaxonCrumbs {
  color: #aaa;
  padding: 0;
  margin: 0 10px 0 0;
  line-height: 28px;
  display: inline-block;
}
.TaxonCrumbs .inner {
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
}
.TaxonCrumbs.contracted .inner {
  max-width: 0;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}
.TaxonCrumbs.expanded .inner {
  max-width: 2048px;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
}
.TaxonCrumbs.contracted .expand-control {
  display: inline-block;
}
.TaxonCrumbs.expanded .expand-control {
  display: none;
}
.TaxonCrumbs.contracted .contract-control {
  display: none;
}
.TaxonCrumbs.expanded .contract-control {
  display: inline-block;
}
.TaxonCrumbs .inner ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.TaxonCrumbs .taxon a {
  color: #337ab7;
}
.TaxonCrumbs li {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.TaxonCrumbs li div {
  display: inline-block;
}
.TaxonCrumbs li:after {
  content: '\203A';
  margin: 0px 5px;
}
.TaxonCrumbs li:last-child:after {
  display: none;
}

.TaxonCrumbs .has-com-name .sciname {
  display: none;
}

.TaxonCrumbs .contract-control {
  margin-left: 10px;
}

#taxon-crumbs-children .taxon a {
  color: #333;
}
#taxon-crumbs-children .taxon.has-com-name .sciname {
  color: #aaa;
}
#taxon-crumbs-children .SplitTaxon:before {
  content: '\021B3';
  margin-right: 5px;
  color: #aaa;
}

.preheader .glyphicon-link {
  transform: rotate(45deg);
}

.preheader .ac-select-thumb {
  line-height: 28px;
}
.preheader .ac-select-thumb i {
  font-size: 22px;
}
.preheader .form-group {
  margin: 0;
}

.LeaderItem {
  margin: 20px 0 30px;
}
.LeaderItem .img-wrapper i {
  font-size: 32px;
  margin: auto;
  line-height: 40px;
  color: #666;
}
.LeaderItem .img-wrapper {
  border-radius: 100px;
  border: 1px solid #bbb;
  width: 45px;
  height: 45px;
  text-align: center;
  overflow: hidden;
}
.LeaderItem h4 {
  margin: 3px 0;
  text-transform: none;
}
.LeaderItem .name,
.LeaderItem .extra a {
  font-weight: bold;
}
.LeaderItem .value {
  margin-right: 3px;
}
.LeaderItem .extra a:after {
  content: '\0020 \00BB';
}
.LeaderItem .extra i {
  color: #666;
}
.NumObservations .img-wrapper i {
  font-size: 24px;
}


$photoPreviewThumbDim: 92px;
$photoPreviewThumbGutter: 1px;
$photoPreviewThumbGutterTop: 3px;
.PhotoPreview {
  position: relative;
  overflow: hidden;
}
.PhotoPreview ul.others {
  width: 100%;
  background-color: rgba(0,0,0,0.25);
}
.PhotoPreview.gallery ul.others{
  position: absolute;
  bottom: 0;
  margin: 0;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* New - everyone else */
  flex-wrap: nowrap;
}
.PhotoPreview ul.others li {
  overflow: hidden;
  text-align: center;
  display: inline-block;
}
.PhotoPreview.gallery ul.others li {
  flex: 1;
  flex-grow: 1;
  vertical-align: middle;
  width: $photoPreviewThumbDim;
  height: $photoPreviewThumbDim;
  line-height: $photoPreviewThumbDim;
  margin: $photoPreviewThumbGutterTop $photoPreviewThumbGutter / 2;
}
.PhotoPreview.grid .others {
  line-height: 0;
}
.PhotoPreview.grid li {
  width: 33.3333333333%;
}
.PhotoPreview .others a {
  color: white;
  font-weight: bold;
}
.PhotoPreview.grid .viewmore {
  display: block;
  height: 50px;
  line-height: 50px;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.CoverImage {
  opacity: 0;
  transition: opacity 0.5s linear;
}
.CoverImage.loaded {
  opacity: 1;
}


.SplitTaxon > *:after {
  content: '\0020';
}
.SplitTaxon > *:first-child {
  content: '';
}

.TaxonomyTab .taxonomy {
  list-style: none;
}
.TaxonomyTab .taxonomy li {
  margin-left: 15px;
  margin-top: 5px;
}
.TaxonomyTab .taxonomy li:before,
.TaxonomyTab .taxonomy .SplitTaxon.has-com-name .sciname {
  content: '\21B3';
  color: #999;
}
.TaxonomyTab .taxonomy li.root {
  margin-left: 0;
}
.TaxonomyTab .taxonomy li.root:before {
  content: '';
}
.TaxonomyTab .taxonomy .taxon a {
  color: #333;
}

.TaxonomyTab .taxonomy li.current > .SplitTaxon {
  font-weight: bold;
}

.TaxonomyTab .taxonomy .SplitTaxon.has-com-name .sciname,
.TaxonomyTab .taxonomy i {
  font-size: smaller;
}

.tab-links a {
  display: block;
  color: #333;
}
.tab-links a:before {
  content: '\203A';
  float: right;
  font-weight: bold;
  font-size: 20px;
  line-height: 17px;
  color: #999;
  margin-left: 5px;
}
.tab-links i {
  color: $inat-green;
  margin-right: 10px;
}

.NamesTab {
  margin-bottom: 20px;
}

.NamesTab .sciname {
  font-style: italic;
}

.StatusTab .media-body {
  width: auto;
}

h2, h3, h4, h5 {
  text-transform: capitalize;
}

.StatusHeader strong {
  text-transform: capitalize;
}
.StatusHeader a {
  text-decoration: underline;
  color: inherit;
}
$leastConcernColor: #73AC13;
$vulnerableColor: #817134;
$endangeredColor: #D12F19;
.StatusHeader.iucn-least-concern {
  background-color: transparentize( $leastConcernColor, 0.90 );
  border-color: transparentize( $leastConcernColor, 0.80 );
  color: $leastConcernColor;
}
.StatusHeader.iucn-near-threatened,
.StatusHeader.iucn-vulnerable {
  background-color: transparentize( $vulnerableColor, 0.90 );
  border-color: transparentize( $vulnerableColor, 0.80 );
  color: $vulnerableColor;
}
.StatusHeader.iucn-endangered,
.StatusHeader.iucn-critically-endangered {
  background-color: transparentize( $endangeredColor, 0.90 );
  border-color: transparentize( $endangeredColor, 0.80 );
  color: $endangeredColor;
}

.TaxonPageTabs .tab-content {
  border-top: 1px solid #ccc;
}

.TaxonPageTabs .nav.nav-tabs {
  border: 0 transparent;
  margin-bottom: 0px;
}

.TaxonPageTabs .nav-tabs > li > a {
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 30px 16px;
}
.TaxonPageTabs .nav-tabs > li > a {
  border: 0 transparent;
  border-bottom: 2px solid transparent;
}
.TaxonPageTabs .nav-tabs > li.active > a,
.TaxonPageTabs .nav-tabs > li > a:hover,
.TaxonPageTabs .nav-tabs > li > a:focus,
.TaxonPageTabs .nav-tabs > li.active > a:hover,
.TaxonPageTabs .nav-tabs > li.active > a:focus {
  border: 0 transparent;
  border-bottom: 2px solid $inat-green;
  background-color: inherit;
  color: black;
  font-weight: 800;
}

.HighlightsTab, .InteractionsTab, .TaxonomyTab, .NamesTab {
  padding-top: 20px;
}

.ArticlesTab .taxon_description_header {
  display: none;
}

.HighlightsTab .trending,
.HighlightsTab .rare {
  line-height: 0;
}
.HighlightsTab .trending a,
.HighlightsTab .rare a {
  display: inline-block;
  width: 100px;
  margin: 0 10px 10px 0;
  vertical-align: top;
  text-align: center;
}
.HighlightsTab .trending i,
.HighlightsTab .rare i {
  font-size: 100px;
}
