@import "../colors";

#TaxonHeader h1 {
  margin-top: 10px;
}

#TaxonHeader .taxon .display-name {
  color: black;
  font-weight: bold;
}

#TaxonHeader .has-com-name .sciname {
  font-size: 80%;
}

#TaxonHeader .PlaceChooser {
  margin-top: 20px;
}

#TaxonHeader .PlaceChooser .fa-map-marker, {
  color: #aaa;
}

#TaxonHeader .PlaceChooser a, {
  color: #333;
}

#hero {
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

#charts {
  background-color: #e6e6e6;
  border-radius: 4px 4px 0 0;
  border: 1px solid #ddd;
}

#charts a {
  color: #333;
}

#charts .nav-tabs {
  margin-bottom: 0;
  margin-top: -1px;
}
#charts .nav-tabs > li {
  margin-left: -1px;
}
#charts .tab-content {
  background-color: white;
  padding: 20px;
}

#charts a:focus,
#charts a:active {   
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

.SeasonalityChart .c3-line {
  stroke-width: 3px;
}
.FrequencyChart .c3-axis line,
.FrequencyChart .c3-axis path {
  stroke: #aaa;
}
.FrequencyChart .c3-axis text {
  fill: #aaa;
}
.FrequencyChart .c3-axis-x .tick line {
   display: none;
}

.SeasonalityChart .c3-target-verifiable path {
  stroke-dasharray: 5, 5;
}
.HistoryChart .c3-target-verifiable path {
  stroke-dasharray: 1, 1;
}

.FrequencyChart .c3-region {
  fill: #999;
  opacity: 1;
}

.TaxonMap {
  height: 600px;
}

.TaxonCrumbs {
  color: #aaa;
  padding: 0;
  margin: 0 10px 0 0;
  display: inline-block;
}
.TaxonCrumbs .taxon a {
  color: #337ab7;
}
.TaxonCrumbs li {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.TaxonCrumbs li div {
  display: inline-block;
}
.TaxonCrumbs li:after {
  content: '\203A';
  margin: 0px 5px;
}
.TaxonCrumbs li:last-child:after {
  display: none;
}

.TaxonCrumbs .has-com-name .sciname {
  display: none;
}

.TaxonCrumbs .contract-control {
  margin-left: 10px;
}

#taxon-crumbs-children .taxon a {
  color: #333;
}
#taxon-crumbs-children .taxon.has-com-name .sciname {
  color: #aaa;
}
#taxon-crumbs-children .SplitTaxon:before {
  content: '\021B3';
  margin-right: 5px;
  color: #aaa;
}

.preheader .glyphicon-link {
  transform: rotate(45deg);
}


.preheader .ac-select-thumb {
  line-height: 28px;
}
.preheader .ac-select-thumb i {
  font-size: 22px;
}
