<%- 
  project ||= @project
  taxon_id ||= nil
-%>
<% if project.matching_project_observation_rules.count > 0 -%>
  <span class="button">
    <%= link_to t(:add_all_your_matching_obs_to_this_project), add_matching_to_project_url(project.id),
      :class => "add_matching_link" %>
  </span>
<% elsif taxon_id %>
  <span class="button">
    <%= link_to t(:add_all_your_matching_obs_of_this_taxon), add_matching_to_project_url(project.id, :taxon_id => taxon_id),
      :class => "add_matching_link" %>
  </span>
<% end -%>
