:ruby
  loading ||= "Working..."
  redirect_url ||= root_url
- case @status
- when "error"
  .error.status.ui-state-error.big.centered
    Something went wrong generating your file:
    = @error_msg
- when "start", "working"
  .status.big.centered.anno
    %span.bigloading.loading.status
      = loading
  :javascript
    var tries = #{@tries.inspect};
    function progress() {
      if (window.location.href.match(/tries=\d+/)) {
        window.location.href = window.location.href.replace(/tries=\d+/, 'tries='+(tries+1))
      } else if (window.location.href.match(/\?/)) {
        window.location.href += '&tries='+(tries+1)
      } else {
        window.location.href += '?tries='+(tries+1)
      }
    }
    setTimeout('progress()', 5000)
- when "done"
  .success.status.big.centered
    Done! Redirecting...
    :javascript
      window.location = #{redirect_url.inspect.html_safe}

