%h2
  Running
  = succeed '...' do
    = @flow_task.class.name.underscore.humanize.downcase.gsub(/flow task/, '')
= render :partial => "delayed_progress", :locals => {:redirect_url => flow_task_redirect_url(@flow_task)}
