#map {
  width: 100%;
  height: 450px;
}
#left {
  width: 60%;
  float: left;
  display: inline-block;
}
#right {
  width: 15%;
  display: inline-block;
  padding: 10px;
}
#farright {
  width: 15%;
  display: inline-block;
  padding: 5px;
}
#top {
  width: 100%;
  display: inline-block;
}
