body {
  background: #fcfcfa;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}
v
.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.country {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .5px;
}

.country:hover {
  stroke: #000;
  stroke-width: 2px;
}

#alter {
  opacity: 0;
}

#map {
  width: 100%;
  height: 450px;
}