{
  // I want to use babel-eslint for parsing!
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "extends": "airbnb",
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true,
    "jquery": true,
    "es6": true
  },
  "globals": {
    I18n: true,
    CURRENT_USER: true,
    PREFERRED_PLACE: true,
    PREFERRED_SEARCH_PLACE: true,
    google: true,
    iNaturalist: true,
    SITE: true,
    iNatModels: true,
    OFFICIAL_APP_IDS: true
  },
  // To give you an idea how to override rule options:
  // "rules": {
  //   "quotes": [2, "double"],
  //   "eol-last": [0],
  //   "no-mixed-requires": [0],
  //   "no-underscore-dangle": [0]
  // }
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "comma-dangle": [2, "never"],
    "consistent-return": [2, { "treatUndefinedAsUnspecified": true }],
    "func-names": 0,
    "no-alert": 0,
    "no-underscore-dangle": 0,
    "no-void": 0,
    "prefer-destructuring": [2, { "object": true, "array": false }],
    "quotes": [2, "double"],
    "space-in-parens": [2, "always"],
    "no-restricted-globals": 0,
    "no-restricted-syntax": [
      "error",
      // This disallows things like `photo.constructor.name === "Photo"`
      // because webpack's minifier will abbreviate `constructor.name` to
      // something like `p` so we can't rely on that value. Instead do
      // something like `photo.constuctor === Photo`.
      // https://stackoverflow.com/a/49610802
      "MemberExpression[object.property.name='constructor'][property.name='name']"
    ],
    "no-param-reassign": 0,
    "prefer-const": [2, { "destructuring": "all" }],
    "react/forbid-prop-types": 0,
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
    "react/require-default-props": 0,
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/media-has-caption": "off",
    "react/no-find-dom-node": 0,
    "react/destructuring-assignment": 0,
    "default-param-last": 0
  }
}
