/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.new-assessment-link {float: right; margin-top: 3px;}

.assessment-section-list {
  float: left;
  width: 520px;
}

.assessment-section-list-item {
  border-left: 1px solid #ccc;
  margin-left: 10px;
  padding-left: 10px;
}
.assessment-section-list-item.first {
  border-left: 0 transparent;
  margin-left: 0px;
  padding-left: 0px;
}

.assessment-show .page-section {
  border: 1px solid #ccc;
  padding: 10px 20px 10px 10px;
}

.assessment-show .edit-button {
  float: right;
  display: block;
}

.assessment-iframe .column.span-1,
.assessment-iframe .column.span-2,
.assessment-iframe .column.span-3,
.assessment-iframe .column.span-4,
.assessment-iframe .column.span-5,
.assessment-iframe .column.span-6,
.assessment-iframe .column.span-7,
.assessment-iframe .column.span-8,
.assessment-iframe .column.span-9,
.assessment-iframe .column.span-10,
.assessment-iframe .column.span-11,
.assessment-iframe .column.span-12,
.assessment-iframe .column.span-13,
.assessment-iframe .column.span-14,
.assessment-iframe .column.span-15,
.assessment-iframe .column.span-16,
.assessment-iframe .column.span-17,
.assessment-iframe .column.span-18,
.assessment-iframe .column.span-19,
.assessment-iframe .column.span-20,
.assessment-iframe .column.span-21,
.assessment-iframe .column.span-22,
.assessment-iframe .column.span-23,
.assessment-iframe .column.span-24  { float:none; width: auto; margin:0;}

input.assessment-section-field-title {
  width: 100%;  
}

textarea.assessment-section-field-body {
  height: 140px;
  width: 100%;  
}

.iframe-embed-code-container {
  height: 100px;
  width: 610px;
}
.assessment-section-comments {margin-left: 20px; padding-left: 20px; border-left: 2px solid #eee;}
.commentform textarea {width: 95%; height: 100px;}
.assessment-section {margin-bottom: 20px;}
.nophoto {padding: 30px; text-align: center;}
.medium.photo {max-width: 310px;}
.assessment-taxon-listing {border-bottom: 1px solid #eee;padding-bottom: 10px;}
.assessment_form .nested-fields {padding-bottom: 20px; border-bottom: 1px solid #eee; margin-bottom: 20px;}

#statuses .selected {font-weight: bold; background-color: #eee;}
#statuses a:hover {background-color: #ccc;}
#statuses a {display: block; padding: 5px 10px; border-radius: 5px;}
#filters_q {width: 90%; font-size: 100%;}
