body {background-color:black;color: #eee;}
.button, a.button, input.button {background-color: #333; border-color:#111;}
body.mobile #footer{background-color:#333;}
body.mobile #footer ul{list-style:none;margin:0; padding:0;}
body.mobile #footer li a{border-bottom:1px dotted #666;}
body.mobile #footer li a.box {border-bottom:1px dotted #999;background-color:#222;}
.readmore {color:#36C;}
.box {color: #333;}
.comment {border-bottom: 1px solid #333;}
body.mobile .taxonimage, 
body.mobile .taxa.grid .taxon .image.nophoto, 
body.mobile .taxa.grid .taxon .image.nophoto a {background-color: #333;}
body.mobile .taxa.grid .taxon .image, 
body.mobile .taxa.grid .taxon .image a {background-color: black;}
