h2{line-height:1;margin:0;float:left;}
.commentitem{border-bottom:1px solid #ccc;margin-bottom:10px;}
.commenttype{margin-bottom:10px;}
.commenttype img{vertical-align:middle;}
.observations.mini .observation{border:0 transparent;}
.comment{border-bottom:1px solid #eee;}
.comment .meta{padding-left:53px;width:140px;position:relative;min-height:48px;}
.comment .body{padding-left:203px;}
.comment .meta img{position:absolute;left:0;}
.ui-tabs ul{margin-bottom:10px;}
.ui-tabs .ui-tabs-nav li{float:right;}
