.modal_photo .native_page_url {
  float: right;
  font-weight: bold;
}

.modal_box .modal_photo .photo_wrapper {
  overflow: auto; 
  clear: both; 
  height: 520px;
  margin-bottom: 5px;
}

.modal_photo .photo_wrapper img {
  float: none;
  display: block;
  margin: 0 auto;
}

.modal_photo .tabs .selected a {
  font-weight: bold;
  border-bottom: 1px dotted;
  outline: none;
}

.modal_image_link {
  position: relative;
  display: inline-block;
/*  float: left;*/
}

.modal_image_link .zoom_icon {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 0 none !important;
  opacity: 0.5;
}

.modal_image_link:hover .zoom_icon {
  opacity: 1;
}

#modal_image_box {
  position: absolute;
  top: 5%;
  left: 50%;

  margin-left: -350px;
  width: 700px;
  height: 580px;
  

  background-color: white;
  border: 2px solid #ccc;
  padding: 10px;
}
