.bootstrap input.sortable-position { 
  border-radius: 500px;
  color:white;
  font-weight: bold;
  padding:5px;
  line-height:0;
  display:inline-block;
  width:auto;
  border: 0 transparent;
  width:1.5em;text-align:center;
  background-color: #ccc;
  margin-bottom:0;
}
.bootstrap .media-object [class^="icon-"], .bootstrap .media-object [class*=" icon-"] {width: 70px; height:70px; text-align:center;}
.bootstrap .media-object a {text-decoration: none;}
.recent_tags {line-height: 2.5;}
.bootstrap .btn i {vertical-align: middle;}
.draft.badge {text-transform: uppercase;}
.sorttarget { height: 100px;border: 3px dashed #aaa;border-radius: 10px;}
