.bootstrap input.sortable-position { 
  border-radius: 500px;
  color:white;
  font-weight: bold;
  padding:5px;
  line-height:0;
  display:inline-block;
  width:auto;
  border: 0 transparent;
  width:1.5em;text-align:center;
  background-color: #ccc;
  margin-bottom:0;
}
.sorttarget { height: 100px;border: 3px dashed #aaa;border-radius: 10px;}
