#header {
  margin: 0px 10px 1em;
  height: 29px;
  line-height: 1.25em;
  border-bottom: 1px dotted #ccc;
  min-width: 900px;
}

#header ul {
  list-style: none;
}
#header .navtabs {
  display: inline;
  padding: 0;
  margin: 0;
}

#header .navtabs li {
  position: relative;
  background-color: white;
}

#header .navtabs li,
#header .navtabs .inter {
  display: block;
  float: left;
}

#header .navtabs a,
#header .navtabs .inter {
  display: block;
  padding: 7px 5px;
}

#header .navtabs .inter {
  padding: 7px 0px 0;
  color: #777;
}

#header .navtabs .inter a {
  float: none;
  padding: 0;
  display: inline;
}

#mainnav a:hover{background-color:lightyellow;}
#mainnav li.current{background-color:lightyellow;}
#mainnav a.subnavlink:hover{background-color:transparent;}
#mainnav .logolink{margin-right:10px;}
#mainnav .logolink:hover{background-color:transparent;}
#header .navtabs a.logolink{padding:3px 0 4px;}

#header .subnavwrapper {z-index: 10;}
#header .subnav {
  position: absolute;
  top: 30px;
  right: 0px;
  margin: 0;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-left: 1px solid #ccc;
  z-index: 1000;
}

#header .navtabs .subnav li,
#header .navtabs .subnav a {
  float: none;
}

#header .navtabs .subnav li {
  border-top: 1px solid #eee;
}

#mainnav.navtabs .subnav a {
  padding-right: 25px;
}

#header .navtabs .observationstab .subnav a,
#header .navtabs .projectstab .subnav a {
  background-image: url('/images/logo-eee-15px.png');
  background-position: 148px center;
  background-repeat: no-repeat;
}

#header .navtabs .subnav li:first-child,
#header .navtabs .subnav li li {
  border-top: 0 none;
}

#header .subnav ul {
  margin: 0 0 0 20px;
}

#header .navtabs .subnav ul a {
  padding: 2px 10px;
}

#mainnav a {
  font-weight: bold;
  font-size: 14px;
}

#mainnav .subnav li { text-align: right; }

#usernav {
  float: right;
}

#header .navtabs a.togglelink {
  background-position: right 50%;
  padding-right: 15px;
}

#header .navtabs .subnavtab {
  border-right: 2px solid transparent;
  border-left: 1px solid transparent;
}

#header .navtabs .open {
  border-right: 2px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom:1px solid white;
}

#header .navtabs .subnavtab a {
  float: left;
}

#header .navtabs .subnavtab a:first-child {
  padding-right: 5px;
}

#header .navtabs .subnavtab .subnavlink {
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  outline: 0;
}

#usersubnav li a {
  display: block;
  width: auto;
  min-height: 15px;
  background: url('/images/logo-eee-15px.png') 5px 50% no-repeat;
}

#usersubnav li a:hover {
  background: url('/images/logo-15px.png') 5px 50% no-repeat;
}

#header .navtabs #usersubnav a {
  padding-left: 28px;
}

#usersubnav .observations_link {
  background-image: url('/images/notebook-icon-eee-15px.png');
  background-position: 7px 40%;
  background-attachment: no-repeat;
}

#header .navtabs .observations_link:hover {
  background: url('/images/notebook-icon-color-15px.png') 7px 45% no-repeat;
}

#header .navtabs .lists_link {
  background: url('/images/checklist-icon-eee-15px.png') 5px 50% no-repeat;
}

#header .navtabs .lists_link:hover {
  background: url('/images/checklist-icon-color-15px.png') 5px 50% no-repeat;
}

#header .navtabs .profile_link {
  padding-left: 20px;
  background: url(/attachment_defaults/users/icons/defaults/mini.png) 7px 50% no-repeat;
}

#header .navtabs .profile_link:hover {
  background: url(/attachment_defaults/users/icons/defaults/mini-color.png) 7px 50% no-repeat;
}

#header .navtabs .journal_link {
  padding-left: 20px;
  background: url(/images/silk/book-gray.png) 7px 50% no-repeat;
}
#header .navtabs .journal_link:hover { background: url(/images/silk/book-light.png) 7px 50% no-repeat; }
#header .formwrapper { padding: 10px; }
#header form { min-width: 148px; }

#header form .button,
#header form label,
#header form input {
  margin-bottom: 0;
}

#header form input.text {
  width: 100px;
}

#header form .button {
  margin-right: 0;
  background: url(/images/silk/magnifier.png) 50% 50% no-repeat;
  width: 25px;
}

#header .navtabs .subnav.taxon_links li a.taxon {
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: 145px center;
}

#header .inter.user {padding: 0;}
#header .inter.user strong {position:relative; top: 1px;}
#header .inter.user img {height: 29px;}
#header .navtabs .subnavtab a.updates:first-child,
#header .navtabs a.updates,
#header .updates {
  display:block;
  padding: 0;
  float:left;
  padding: 7px 7px 0px 2px;
  height: 22px;
}
#header .updates .count {color: inherit;}
#header .navtabs #updatessubnav.subnav ul a {display:block; padding:5px;}
#updatessubnav {display:none; background-color:white;padding:0px;max-height: 400px; overflow-y: auto; overflow-x: hidden;}
#updatessubnav .loadingwrapper {padding: 10px;}
#updatessubnav img {max-width: 32px;}
#header #updatessubnav.subnav ul {list-style:none; padding: 0; margin: 0;}
#updatessubnav li a {white-space:nowrap;}
#updatessubnav:hover, #updatessubnav:hover li a { background-color: #FBFBFB;}
#updatessubnav li:hover a { background-color: white;}
#updatesnav .ui-icon {float: left; position:relative; top: -2px;}
