#header .navtabs .subnavtab .subnavlink{padding-top:4px;}
#header .navtabs a.logolink{padding-bottom:0;}
.button{padding:4px 10px 4px 7px;}
.readmore:after,.prev:before,.next:after,.back.crumb:before{content:'';}
#breadcrumbs ul li:after{content:' ';}
#header .inter.user strong {position:relative; top: -1px;}
#updatessubnav {min-width:400px;}
