@import 'header.css';
@import 'buttons.css';
@import 'jquery/plugins/inat/photo_selectors.css';
@import 'statuses.css';
@import 'prevnext.css';
@import 'flickr_photos.css';
@import 'projects.css';

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  margin-bottom: 0.5em;
}

h3{line-height:1.3;}
em{background:none;}
img,
p img{margin:0;float:none;}
tfoot, tfoot td { font-style: normal; font-weight: bold; }
.small{margin-bottom:0; line-height: 1.4;}
.large{margin-bottom:0; line-height: 2;}

/* Container Types */
.wide.container {
  width: 98%;
  margin: 1em;
}

/* Link Styles */
a {
  color: #36C;
  text-decoration: none;
}

a:hover {
  color: #039;
}


/* Tabs List Skeleton */
.tabs > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs > ul li {
  float: left;
  position: relative;
  margin: 0;
  padding: 0 1em;
  padding-top: 7px;
  padding-bottom: 8px;
}

/* UI Elements -- Labels, button text, that kind of thing */
.ui, .ui p { font-family: "Trebuchet MS", Arial, sans-serif; }
p.ui, .ui p { font-size: 100%; }
p.ui { margin-bottom: 10px; }
.ui-tooltip p, .qtip p, .qtip-content p { font-size: 100%; font-family: "Trebuchet MS", Arial, sans-serif; }

.tinyui {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 8pt;
}

/* Readable Elements -- anything that is meant to be read */
.readable, p {
  font-family: Georgia, serif;
  font-size: 125%;
}

.readable p {
  font-size: 100%;
}

/* In-text floats */
.left,
.button.left {
  float: left;
  clear: left;
  margin-right: 10px;
  margin-left: 0;
}

.right,
.button.right {
  float: right;
  clear: right;
  margin-left: 10px;
  margin-right: 0;
}

/* Default Form Styles */
textarea.text,
input.text,
input.file,
.select {
  border: 1px solid #ccc;
  width: auto;
  background-color: #f6f6f6;
  margin: 0;
}

textarea,
input.text,
input.file,
.select {
  padding: 0.4em;
  font-size: 125%;
}

.select { padding: 0; }
select { width: auto; max-width: 200px; }

textarea:focus,
input.text:focus,
input.file:focus,
input[type="text"]:focus,
input[type="file"]:focus {
  background-color: white;
  border-color: #ccc;
}

input,select,textarea{font-family:"Trebuchet MS",Arial,sans-serif;}
form .field{margin-bottom:10px;}
.required{color:deeppink;}
.label { margin-bottom: 0.2em;}
form .field .description { margin-bottom: 0.5em;}
.label .fieldWithErrors{display:inline;}
.stacked{margin-bottom:10px;}
.fieldWithErrors {
  padding: 2px;
  background-color: lightpink;
  display: table;
}


/* Page Headers */
#pageheader{margin-bottom:10px;}
#pageheader h2{margin-bottom:0;line-height:1.2;}
#pageheader a .usericon{float:left;margin-right:10px;border:2px solid white;}
#pageheader .usericon:hover{border-color:#ddd;}
#pageheader .breadcrumbs{margin-bottom:5px;}

img.mini.usericon {
  vertical-align: middle;
}

#subnav {
  list-style: none;
  padding: 0;
  margin: 0 0 0.5em 0;
}

#subnav li {
  width: auto;
  float: left;
}
#subnav li a {
  display: block;
  width: auto;
  min-height: 15px;
  padding: 0 10px 0 18px;
  background: url('/images/logo-eee-15px.png') 0% 50% no-repeat;
}
#subnav li a.active { color: #333; }

#subnav li a:hover{
  background: url('/images/logo-15px.png') 0% 50% no-repeat;
}

#subnav #observations_link {
  background: url('/images/notebook-icon-eee-15px.png') 0% 40% no-repeat;
}

#subnav #observations_link:hover,
#subnav #observations_link.active {
  background: url('/images/notebook-icon-color-15px.png') 0% 45% no-repeat;
}

#subnav #calendar_link {
  background: url('/images/silk/date-gray.png') 0% 40% no-repeat;
}

#subnav #calendar_link:hover,
#subnav #calendar_link.active {
  background: url('/images/silk/date.png') 0% 45% no-repeat;
}

#subnav #lists_link {
  padding-left: 22px;
  background: url('/images/checklist-icon-eee-15px.png') 0% 50% no-repeat;
}

#subnav #lists_link:hover,
#subnav #lists_link.active {
  background: url('/images/checklist-icon-color-15px.png') 0% 50% no-repeat;
}

#subnav #profile_link {
  padding-left: 22px;
  background: url(/attachment_defaults/users/icons/defaults/mini.png) 0% 50% no-repeat;
}

#subnav #profile_link:hover,
#subnav #profile_link.active {
  background: url(/attachment_defaults/users/icons/defaults/mini-color.png) 0% 50% no-repeat;
}

#subnav #journal_link {
  padding-left: 20px;
  background: url(/images/silk/book-gray.png) 0% 50% no-repeat;
}

#subnav #journal_link:hover,
#subnav #journal_link.active {
  background: url(/images/silk/book-light.png) 0% 50% no-repeat;
}

#subnav #identifications_link {
  padding-left: 20px;
  background: url(/images/silk/help-gray.png) 0% 50% no-repeat;
}

#subnav #identifications_link:hover,
#subnav #identifications_link.active {
  background: url(/images/silk/help.png) 0% 50% no-repeat;
}

#subnav #follow_button {
  padding-left: 20px;
  background: url(/images/follow-icon-eee-15px.png) 0% 50% no-repeat;
}

#subnav #follow_button:hover,
#subnav #follow_button.active {
  background: url(/images/follow-icon-nm-15px.png) 0% 50% no-repeat;
}

#breadcrumbs {
  color: #999;
  margin: 0;
  font-family: Georgia, serif;
}

#breadcrumbs ul {
  margin-left: 0;
  padding-left: 0;
  display: inline;
  border: none;
}

#breadcrumbs ul li {
  margin-left: 0;
  padding-left: 2px;
  border: none;
  list-style: none;
  display: inline;
}

#breadcrumbs ul li:after {
  content: "\0020 \203A"; /* space and a single right-pointing angle quotation mark */
  color: #999;
}

.back.crumb {
  font-weight: bold;
}

.back.crumb:before {
  content: "\00AB \0020";
}

/* Autocomplete fields */

.auto_complete {
  z-index: 1000;
  background-color: white;
}

.auto_complete ul {
  list-style: none;
  margin: 0;
  position: relative;
  top: -1px;
  padding-top: 0.4em;
  background-color: white;
  border-left: 1px solid #666;
  border-right: 1px inset #666;
  border-bottom: 1px inset #666;
  border-top: 1px dashed #999;
}

.auto_complete li {
  min-height: none;
  padding: 0 0 0 0.6em;
}

.auto_complete .selected {
  background-color: #ffc;
}

.auto_complete .description { font-size: 80%; }

/* Button Styles */
span.button {
  color: blue;
  text-decoration: underline;
  font-size: smaller;
  margin: 0 0.5em;
  cursor: pointer;
}

/* Notices, Flashes, Attention Grabbers */
#flash, .flash {
    padding: 0.2em 0.5em;
    width: 40%;
    margin: 0.5em auto;
    text-align: center;
    background-color: #ffc;
    border: none;
}

#flash.notice{background-color:#ffc;}
.notice a{color:#36C;text-decoration:none;}
.notice a:hover{color:#039;}
.description{font-style:italic;color:#888;}
.description em{font-style:normal;color:#333;}
.meta{color:#888;}


.status .success {
  color: green;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.errorExplanation {
  background-color: #ffc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 1em 1em;
  margin-bottom: 0.5em;
}

.errorExplanation, 
.errorExplanation p, 
.errorExplanation h2, 
.errorExplanation li {
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.errorExplanation h2 {
  font-size: 180%;
}

.errorExplanation li,
.formError {
  color: DeepPink;
}

a .taxon:hover {
  color: #36c;
  text-decoration: underline;
}

.species .sciname,
.genus .sciname,
.sciname.genus,
.sciname.species,
.sciname.infraspecies {
  font-style: italic;
}

.taxon .othernames {
  font-size: 80%;
  color: #888;
  line-height: 1.1;
}
.taxon img.iconic { vertical-align: middle; }

ul.leafylist {
  padding: 0 0 0 0.6em;
}

ul.leafylist li {
  list-style-image: url('/images/logo-15px.png');
  margin-bottom: 0.4em;
  line-height: 120%;
}

ul.leafylist li li:first-child {
  margin-top: 0.4em;
}

.column-separator {
  position: relative;
  width: 90%;
  height: 1px;
  border-top: 1px solid #eee;
  margin: 2em auto;
  overflow: visible;
}

.column-separator img {
  display: block;
  position: relative;
  margin: 0 auto;
  top: -6px;
  width: 15px;
  height: 11px;
  background-color: white;
}

/* Boxes */
.box {
  background-color: #FFFEE6;
  padding: 10px;
  margin-bottom: 10px;
}

.quiet.box {
  background-color: #eee;
}

.notice.box {
  border: 0 none;
  background-color: #FFEE91;
}

.identification.box {padding:0;}
.identification.box .boxbody {padding:10px 10px 0 10px;}
.identification.box .boxheader{background-color:#EFEFC7; padding:5px 10px;}
.identification.quiet.box .boxheader{background-color:#dedede;}

/* Navigation */
.pagination a,
.pagination span {
  border: 1px solid #ccc;
  padding: 1px 5px;
}

.pagination .disabled {
  color: #888;
  border: 0 none;
}

.pagination .gap {
  border: 0 none;
}

.pagination .current {
  background-color: #FFC;
  border: 1px solid #FF9;
}

.pagination {
  font-size: 120%;
  text-align: center;
}

.readmore {
  font-weight: bold;
  white-space: nowrap;
  color: #039;
}

.readmore:after {
  content: '\0020 \00BB';
}

.next, .prev {
  font-weight: bold;
  white-space: nowrap;
}
.next:after {
  content: '\0020 \00BB';
}

.prev:before {
  content: '\00AB \0020';
}

#version_info {
  margin-left: 1em;
  margin-bottom: 1em;
}

/* Footer (give it its own stylesheet if this gets too big) */
#footer {
  border-top: 1px dotted #ccc;
  margin: 2em auto;
  padding: 0.5em;
  text-align: center;
  width: 80%;
}
#footer img { vertical-align:middle; }
#mobiletogglelink {font-size: 400%;margin-bottom:10%;}


.compactfield {
  padding: 10px;
  border: 1px solid #ccc;
}

.compactfieldlink,
.togglelink {
  font-weight: bold;
  background: url(/images/toggle_arrow_right.png) no-repeat 5px 50%;
  padding-left: 15px;
  outline: none;
}

.compactfieldlink {
  display: block;
}

.compactfield.open .compactfieldlink,
.togglelink.open {
  background: url(/images/toggle_arrow_down.png) no-repeat 0 50%;
}

.toggle_menu {
  position: relative;
  padding: 0;
  border: 0 none;
  z-index:1;
}

.toggle_menu .togglelink {
  display: block;
  padding-left: 16px;
}
  
.toggle_menu .togglelink.open {
  position: relative;
  z-index: 10;
  background-color: white;
  color: #36C;
  border-color: #ccc;
  border-bottom: 1px solid white;
  background-position: 3px 50%;  
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

@-moz-document url-prefix() {
  .button_toggle_menu .togglelink.open {
    padding-bottom: 6px;
  }
}


.toggle_menu .menu {
  position: absolute;
  z-index: 1;
  top: 26px;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5em;
  -webkit-box-shadow: 0px 1px 2px #888;
  -moz-box-shadow: 0px 1px 2px #888;
  box-shadow: 0px 1px 2px #888;
}

.button_toggle_menu .menu { top: 31px; }

.toggle_menu_list .menu ul {
  list-style: none;
  margin: 0;
}
.toggle_menu_list .menu li {
  white-space: nowrap;
  margin-bottom: 5px;
}
.toggle_menu_list .button {
  min-width: 45px;
}

.modalbox {
    display: none;
    
    position: absolute;
    top: 10%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    max-height: 600px;
    overflow: auto;
    
    background-color: white;
    border: 2px solid #ccc;
    padding: 10px;
}

.modalbox .close.corner {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  background-color: #ccc;
  color: #333;
  text-align: center;
}
.modalbox .close:hover {
  color: white;
  cursor: pointer;
}
.modalbox .header {
  margin: 0;
}
.modalbox p:last-child { margin-bottom: 0; }

.jqmOverlay { background-color: #000; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .modalbox {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}


/* Comments */
#new_comment #comment_body{width:100%;height:150px;}
.comment{padding:10px;}
#new-comment{position:relative;}
#new-comment textarea{margin-top:0;}
#new-comment .meta{position:absolute;left:0;}
.comment .meta{float:left;width:110px;margin-right:10px;}
.comment .body{padding-left:120px;}
.comment.preview .body{padding-left:0;}
.comment .body ul{font-family:Georgia,serif;font-size:125%;}
.comment .body img{max-width:100%;height:auto;}
.comment .comment_actions{font-size:90%;}

.item.comment {padding:0;}
.item.comment .meta {float:none; width:auto; margin:0;}
.item.comment .body{padding-left:0;}

#pageheader #tools{margin-top:0.5em;}
.count { color: #74AC00; }
.good  { color: #74AC00; }
.bad  { color: deeppink; }

.feeds a {
  background: url(/images/silk/feed.png) no-repeat 0 50%;
  padding: 2px 0px 2px 20px;
  margin-right: 0.25em;
}
a.kmllink{background-image:url(/images/google_earth.png);}
a.csvlink{background-image:url(/images/silk/table.png);}


/* Modal Links */
.modal_link,
.buttonrow .modal_link {
  padding: 6px 0.75em;
  border-top: 1px solid white;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid white;
  background-position: 5px 50%;
  background-repeat: no-repeat;
  background-color: white;
  color: #888;
}

.modal_link:active,
.selected.modal_link,
.buttonrow .modal_link:active,
.buttonrow .selected.modal_link {
  border-top: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #ccc;
  background-color: #eee;
  color: #36C;
}


/* Taxon Selectors */
.simpleTaxonSelector .matches {
  margin: 0;
  list-style: none;
}

.simpleTaxonSelector .taxon {
  display: inline-block;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 0px 3px;
  margin-bottom: 2px;
  background-image: url('/images/logo-15px.png');
}

.simpleTaxonSelectorImage {
  width: 31px;
  float: left;
  margin-right: 5px;
}

.simpleTaxonSelector .taxon.Unknown          { color: inherit;  background-image: url('/images/iconic_taxa/unknown-15px.png'); }
.simpleTaxonSelector .taxon.Protozoa         { color: #691776;  background-image: url('/images/iconic_taxa/protozoa-15px.png'); }
.simpleTaxonSelector .taxon.Plantae          { color: #73AC13;  background-image: url('/images/iconic_taxa/plantae-15px.png'); }
.simpleTaxonSelector .taxon.Fungi            { color: DeepPink; background-image: url('/images/iconic_taxa/fungi-15px.png'); }
.simpleTaxonSelector .taxon.Animalia         { color: #1E90FF;  background-image: url('/images/iconic_taxa/animalia-15px.png'); }
.simpleTaxonSelector .taxon.Mollusca         { color: #FF4500;  background-image: url('/images/iconic_taxa/mollusca-15px.png'); background-position: 0px 0px;}
.simpleTaxonSelector .taxon.Arachnida        { color: #FF4500;  background-image: url('/images/iconic_taxa/arachnida-15px.png'); }
.simpleTaxonSelector .taxon.Insecta          { color: #FF4500;  background-image: url('/images/iconic_taxa/insecta-15px.png'); }
.simpleTaxonSelector .taxon.Amphibia         { color: #1E90FF;  background-image: url('/images/iconic_taxa/amphibia-15px.png'); }
.simpleTaxonSelector .taxon.Reptilia         { color: #1E90FF;  background-image: url('/images/iconic_taxa/reptilia-15px.png'); }
.simpleTaxonSelector .taxon.Aves             { color: #1E90FF;  background-image: url('/images/iconic_taxa/aves-15px.png'); }
.simpleTaxonSelector .taxon.Mammalia         { color: #1E90FF;  background-image: url('/images/iconic_taxa/mammalia-15px.png'); }
.simpleTaxonSelector .taxon.Actinopterygii   { color: #1E90FF;  background-image: url('/images/iconic_taxa/actinopterygii-15px.png'); }
.simpleTaxonSelector .taxon.Chromista        { color: #993300;  background-image: url('/images/iconic_taxa/chromista-15px.png'); }

.taxon_links .taxon {
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 0px 3px;
  background-image: url('/images/logo-15px.png');
}

.taxon_links .taxon.Unknown          { color: inherit;  background-image: url('/images/iconic_taxa/unknown-15px.png'); }
.taxon_links .taxon.Protozoa         { color: #691776;  background-image: url('/images/iconic_taxa/protozoa-15px.png'); }
.taxon_links .taxon.Plantae          { color: #73AC13;  background-image: url('/images/iconic_taxa/plantae-15px.png'); }
.taxon_links .taxon.Fungi            { color: DeepPink; background-image: url('/images/iconic_taxa/fungi-15px.png'); }
.taxon_links .taxon.Animalia         { color: #1E90FF;  background-image: url('/images/iconic_taxa/animalia-15px.png'); }
.taxon_links .taxon.Mollusca         { color: #FF4500;  background-image: url('/images/iconic_taxa/mollusca-15px.png'); }
.taxon_links .taxon.Arachnida        { color: #FF4500;  background-image: url('/images/iconic_taxa/arachnida-15px.png'); }
.taxon_links .taxon.Insecta          { color: #FF4500;  background-image: url('/images/iconic_taxa/insecta-15px.png'); }
.taxon_links .taxon.Amphibia         { color: #1E90FF;  background-image: url('/images/iconic_taxa/amphibia-15px.png'); }
.taxon_links .taxon.Reptilia         { color: #1E90FF;  background-image: url('/images/iconic_taxa/reptilia-15px.png'); }
.taxon_links .taxon.Aves             { color: #1E90FF;  background-image: url('/images/iconic_taxa/aves-15px.png'); }
.taxon_links .taxon.Mammalia         { color: #1E90FF;  background-image: url('/images/iconic_taxa/mammalia-15px.png'); }
.taxon_links .taxon.Actinopterygii   { color: #1E90FF;  background-image: url('/images/iconic_taxa/actinopterygii-15px.png'); }
.taxon_links .taxon.Chromista        { color: #993300;  background-image: url('/images/iconic_taxa/chromista-15px.png'); }

/* Users table */

table.user-table td {
  vertical-align: top;
  padding: 4px 20px;
}

.taxon_names .scientific_names {
  font-style: italic;
}

.taxon_names .invalid {
  text-decoration: line-through;
}

ul.taxonomic_tree li.Protozoa          { list-style-image: url('/images/iconic_taxa/protozoa-15px.png'); }
ul.taxonomic_tree li.Plantae          { list-style-image: url('/images/iconic_taxa/plantae-15px.png'); }
ul.taxonomic_tree li.Fungi            { list-style-image: url('/images/iconic_taxa/fungi-15px.png'); }
ul.taxonomic_tree li.Animalia         { list-style-image: url('/images/iconic_taxa/animalia-15px.png'); }
ul.taxonomic_tree li.Mollusca         { list-style-image: url('/images/iconic_taxa/mollusca-15px.png'); }
ul.taxonomic_tree li.Arachnida        { list-style-image: url('/images/iconic_taxa/arachnida-15px.png'); }
ul.taxonomic_tree li.Insecta          { list-style-image: url('/images/iconic_taxa/insecta-15px.png'); }
ul.taxonomic_tree li.Actinopterygii   { list-style-image: url('/images/iconic_taxa/actinopterygii-15px.png'); }
ul.taxonomic_tree li.Amphibia         { list-style-image: url('/images/iconic_taxa/amphibia-15px.png'); }
ul.taxonomic_tree li.Reptilia         { list-style-image: url('/images/iconic_taxa/reptilia-15px.png'); }
ul.taxonomic_tree li.Aves             { list-style-image: url('/images/iconic_taxa/aves-15px.png'); }
ul.taxonomic_tree li.Mammalia         { list-style-image: url('/images/iconic_taxa/mammalia-15px.png'); }
ul.taxonomic_tree li.Chromista         { list-style-image: url('/images/iconic_taxa/chromista-15px.png'); }
ul.taxonomic_tree li.unknown          { list-style-image: url('/images/iconic_taxa/unknown-15px.png'); }
ul.taxonomic_tree .taxon .othernames {
  display: block;
}

form.edit_preferences .field {
  margin-bottom: 5px;
}
.edit_preferences select {
  width: auto;
}

.nocontent,
.noresults {
  margin: 1em auto;
  width: 80%;
  text-align: center;
}

#map, .map, #mapcontainer { overflow: hidden; }
#map input[type=text], .map .input[type=text] { padding: 2px; }

.fadednowrap { 
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.fadednowrap:before {
  content: '\0020';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  background-color: white;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, from(rgba(255, 255, 255, 0)), to(white));
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), white);
}

.fadednowrap_eee:before {
  background-color: #eee;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, from(rgba(238, 238, 238, 0)), to(#eee));
  background: -moz-linear-gradient(left, rgba(238, 238, 238, 0), #eee);
}

.fadednowrap_ddd:before {
  background-color: #ddd;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, from(rgba(221, 221, 221, 0)), to(#ddd));
  background: -moz-linear-gradient(left, rgba(221, 221, 221, 0), #ddd);
}

/* oh google */
.gmnoprint .gels { border: 1px solid #eee; }
.gmnoprint input { padding: 1px 0; }

.inplaceedit:hover { background-color: #FFFEE6; }

.photo_view .nophoto {
  border: 1px dashed #eee;
  padding: 10px;
  text-align: center;
}

.photo_view .nophoto img {
  margin-bottom: 1em;
}

form.inline, 
form.inline .field,
form.inline .label {
  display: inline-block;
  margin-bottom: 0;
}

.helptip {
  display:inline-block;
  width: 16px;
  height: 16px;
  background: url(/images/silk/help-gray.png) no-repeat;
  vertical-align: middle;
  position:relative;
  top:-2px;
}
.helptip:hover {
  background: url(/images/silk/help.png) no-repeat;
}

.flag.resolved {
  text-decoration: line-through;
}

.iconic_taxon_sprite {
  background: url(/images/iconic_taxa/unknown-sprite.png) no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: -16px 0px;
}
.iconic_taxon_sprite:hover,
.iconic_taxon_sprite.selected {
  background-position: 0 0;
}
.iconic_taxon_sprite.animalia { background-image: url(/images/iconic_taxa/animalia-sprite.png); }
.iconic_taxon_sprite.actinopterygii { background-image: url(/images/iconic_taxa/actinopterygii-sprite.png); }
.iconic_taxon_sprite.amphibia { background-image: url(/images/iconic_taxa/amphibia-sprite.png); }
.iconic_taxon_sprite.reptilia { background-image: url(/images/iconic_taxa/reptilia-sprite.png); }
.iconic_taxon_sprite.aves { background-image: url(/images/iconic_taxa/aves-sprite.png); }
.iconic_taxon_sprite.mammalia { background-image: url(/images/iconic_taxa/mammalia-sprite.png); }
.iconic_taxon_sprite.mollusca { background-image: url(/images/iconic_taxa/mollusca-sprite.png); }
.iconic_taxon_sprite.arachnida { background-image: url(/images/iconic_taxa/arachnida-sprite.png); }
.iconic_taxon_sprite.insecta { background-image: url(/images/iconic_taxa/insecta-sprite.png); }
.iconic_taxon_sprite.fungi { background-image: url(/images/iconic_taxa/fungi-sprite.png); }
.iconic_taxon_sprite.protozoa { background-image: url(/images/iconic_taxa/protozoa-sprite.png); }
.iconic_taxon_sprite.plantae { background-image: url(/images/iconic_taxa/plantae-sprite.png); }
.iconic_taxon_sprite.chromista { background-image: url(/images/iconic_taxa/chromista-sprite.png); }

.gmapv3control {
  color: black;
  padding: 1px 6px;
  background-color: white;
  border: 1px solid #717B87;
  font-size: 13px;
  font-family: Arial,sans-serif;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  min-height:19px;
}
.gmapv3control:hover {
  background: -moz-linear-gradient(center top, #ffffff, #e6e6e6) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(230,230,230))) repeat scroll 0 0 transparent;
}
.gmapv3control .ui-icon {background-image: url(/images/jquery-ui/ui-icons_222222_256x240.png); }
.fullscreen {
  position: fixed !important;
  width:100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1000 !important;
}
.nobr { white-space: nowrap; }
.inlineblock,
.ui-multiselect {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

.box.conservation_status { text-align: center; padding: 5px 10px; margin-bottom: 0; }
.near_threatened { background-color: #817134 ; color: #FFF6BF; }
.vulnerable, .endangered, .critically_endangered { background-color: #D12F19; color: #FBE3E4; }
.extinct_in_the_wild, .extinct { background-color: black; color: white; }

.providerlink, .button.providerlink { padding-left: 28px; background: url(/images/favicon.png) no-repeat 5px 50%; }
ul .providerlink, ul .button.providerlink { width: 190px; }
.providerlink.facebook { background-image: url(/images/external/facebook_favicon.png); }
.providerlink.twitter { background-image: url(/images/external/twitter_favicon.png); }
.providerlink.google { background-image: url(/images/external/google_favicon.png); }
.providerlink.yahoo { background-image: url(/images/external/yahoo_favicon.png); }
.providerlink.flickr { background-image: url(/images/external/flickr_favicon.png); }

.quality_assessment .loading.status { padding-left: 16px;}
.quality_assessment .status { margin: 0;}
.quality_assessment td table {margin: 0;}
.quality_assessment td:last-child {padding-right: 0;}
.quality_assessment td table tr:last-child td {border-bottom: 1px solid transparent;}
.quality_assessment .percent {text-align: right;}

.loadingclick {
  cursor: default;
  background-image: url(/images/spinner-small.gif);
  background-position: 5px 50%;
  background-repeat: no-repeat;
  color: #888;
}
.pale.loadingclick {
  background-image: url(/images/spinner-small-ffffff_on_dedede.gif);
}

.glaucous.loadingclick {
  background-image: url(/images/spinner-small-ffffff_on_aaaaaa.gif);
}

abbr.date {border:0 transparent;}
.date a:hover { border-bottom: 1px dotted #36c;}

.monthgraph {
  height: 20px; 
  margin: 20px 0;
}
.monthgraph .bar {
  opacity: 0.8;
  display: inline-block;
  background-color: #74AC00; /*#7E9739;*/
  margin-right: 1px;
  width: 20px;
  font-size: smaller;
  vertical-align: bottom;
  text-align: center;
  position: relative;
  color: inherit;
}
.monthgraph .bar:hover {opacity: 1;}
.monthgraph .bar .count {
  width: 100%;
  display: block;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  margin-top: 5px;
  position: absolute;
  top: -20px;
  -webkit-transform: rotate(-45deg);
  font-size: smaller;
}
.monthgraph .month {
  position: absolute;
  bottom: -15px;
  width: 100%;
  display: block;
  text-align: center;
}

.research_grade_notice,.id_please_notice, .comprehensive_notice{-webkit-border-radius:5px;-moz-border-radius:5px;border:0 transparent;border-radius:10px;padding:2px 5px; white-space: nowrap;}
.research_grade_notice, .comprehensive_notice{background-color:#DCEAA3;color:#529214;}
a.research_grade_notice:hover{color:#326412;}
.id_please_notice{background-color:#FFEE91;color:#85743D;}
a.id_please_notice:hover{color:#584925;}

.ui-tooltip, .qtip{ max-width: 500px; line-height: 1.5;}

.overlaycontrol { text-align: right; }
.overlaycontrol ul { list-style: none; margin: 0; text-align: left;}

.shades { position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index:10;}
.shades .underlay {background-color: black; opacity: 0.5;filter:Alpha(Opacity=50); position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.shades .overlay {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.shades .status.loading{background:url("/images/spinner-small.gif") no-repeat scroll 5px 50% white;padding:2px 5px 2px 25px;border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;box-shadow:0 0 20px #aaa;-webkit-box-shadow:0 0 20px #aaa;-moz-box-shadow:0 0 20px #aaa;}
.shades .status.loading.bigloading{background:url("/images/spinner.gif") no-repeat scroll 10px 50% white;font-size:14pt;line-height:2;padding:5px 10px 5px 50px;border-radius:25px;-moz-border-radius:25px;-webkit-border-radius:25px;box-shadow:0 0 30px #aaa;-webkit-box-shadow:0 0 30px #aaa;-moz-box-shadow:0 0 30px #aaa;}
.floating { border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;box-shadow:0 0 20px #aaa;-webkit-box-shadow:0 0 20px #aaa;-moz-box-shadow:0 0 20px #aaa;}
.floating.dark { border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;box-shadow:0 0 20px #333;-webkit-box-shadow:0 0 20px #333;-moz-box-shadow:0 0 20px #333;}


.ui-chooser-input, .ui-chooser-choice { 
  font-family: "Trebuchet MS", Arial, sans-serif;
  padding: 6px 5px 5px; 
  margin: 0; 
  border-color: #ccc; 
  border-right: 0 transparent; 
  overflow: hidden; 
  vertical-align: middle;
  line-height: 1;
}

.ui-widget-content.ui-chooser-choice { background: #eee; }
.ui-chooser-button {float: none; padding: 0; margin: 0; border-color: #ccc; vertical-align: middle; }
.ui-multiselect { margin: 0; }

.ui-icon-loading {
  background-image: url(/images/spinner-small-on_eeeeee.gif);
  background-position: center center;
  background-repeat: no-repeat;
}

.inat-icon,
.ui-widget-content .inat-icon {
  background-image: url(/images/sprites-222222.png);
  background-repeat: no-repeat;
}
a:hover .inat-icon, .inat-icon:hover { background-image: url(/images/sprites-222222.png) !important; }
.disabled .inat-icon, .inat-icon.disabled {background-image: url(/images/sprites-888888.png);}
.ui-icon-grid { background-position: 0 0;}
.ui-icon-list { background-position: -16px 0;}
.ui-icon-map { background-position: -32px 0;}

.source_nested_form_fields .ui-chooser-choice { max-width: 300px; padding: 5px 10px; }
.ui-tabs li.ui-corner-top, .ui-tabs ul.ui-corner-all { -moz-border-radius: 0px; -webkit-border-radius: 0px; -khtml-border-radius: 0px; border-radius: 0px;}
table.plain td, table.plain th { border: 0 transparent; }
table .numeric { text-align: center; }

.observedgraph .monthgraph .bar { background-color: #aaa; }
.observedgraph .monthgraph .bar .count { color: #aaa; }
.statsgraphs { position: relative; height: 50px; }
.statsgraphs .observedgraph, .statsgraphs .confirmedgraph { position: absolute; top: 0; left: 0;}
.statsgraphs .confirmedgraph .count, .statsgraphs .confirmedgraph .month {display:none;}

.ui-tooltip-error .ui-tooltip-titlebar,
.ui-tooltip-error .ui-tooltip-content{border-color:deeppink;color:white;}
.ui-tooltip-error .ui-tooltip-content{background-color:deeppink;}
.ui-tooltip-error .ui-tooltip-titlebar{background-color:deeppink;}
.ui-tooltip-notice .ui-tooltip-titlebar,
.ui-tooltip-notice .ui-tooltip-content{border-color:#FFEE91;color:#85743D;}
.ui-tooltip-notice .ui-tooltip-content{background-color:#FFEE91;}
.ui-tooltip-notice .ui-tooltip-titlebar{background-color:#FFEE91;}
.ui-tooltip-success .ui-tooltip-titlebar,
.ui-tooltip-success .ui-tooltip-content{border-color:#84A92F;color:#E0EDC3}
.ui-tooltip-success .ui-tooltip-content{background-color:#84A92F;}
.ui-tooltip-success .ui-tooltip-titlebar{background-color:#84A92F;}
.ui-tooltip-near_threatened .ui-tooltip-titlebar,
.ui-tooltip-near_threatened .ui-tooltip-content{border-color:#817134;color:#FFF6BF;}
.ui-tooltip-near_threatened .ui-tooltip-content{background-color:#817134;}
.ui-tooltip-near_threatened .ui-tooltip-titlebar{background-color:#817134;}
.ui-tooltip-vulnerable .ui-tooltip-titlebar,
.ui-tooltip-vulnerable .ui-tooltip-content,
.ui-tooltip-endangered .ui-tooltip-titlebar,
.ui-tooltip-endangered .ui-tooltip-content,
.ui-tooltip-critically_endangered .ui-tooltip-titlebar,
.ui-tooltip-critically_endangered .ui-tooltip-content{border-color:#D12F19;color:#FBE3E4;}
.ui-tooltip-vulnerable .ui-tooltip-content,
.ui-tooltip-endangered .ui-tooltip-content,
.ui-tooltip-critically_endangered .ui-tooltip-content{background-color:#D12F19;}
.ui-tooltip-vulnerable .ui-tooltip-titlebar,
.ui-tooltip-endangered .ui-tooltip-titlebar,
.ui-tooltip-critically_endangered .ui-tooltip-titlebar{background-color:#D12F19;}
.ui-tooltip-black .ui-tooltip-titlebar,
.ui-tooltip-black .ui-tooltip-content,
.ui-tooltip-extinct .ui-tooltip-titlebar,
.ui-tooltip-extinct .ui-tooltip-content,
.ui-tooltip-extinct_in_the_wild .ui-tooltip-titlebar,
.ui-tooltip-extinct_in_the_wild .ui-tooltip-content{border-color:black;color:white;}
.ui-tooltip-black .ui-tooltip-content,
.ui-tooltip-extinct .ui-tooltip-content,
.ui-tooltip-extinct_in_the_wild .ui-tooltip-content{background-color:black;}
.ui-tooltip-black .ui-tooltip-titlebar,
.ui-tooltip-extinct .ui-tooltip-titlebar,
.ui-tooltip-extinct_in_the_wild .ui-tooltip-titlebar{background-color:black;}

.admin {
  border-width: 2px;
  border-style: dotted;
  position: relative;
}
.admin:before {
  content: 'Admin only';
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
}

#zoomable_dialog .close {display: none;}
.zoomified {position:relative;}
.zoomified .zoom_icon {position:absolute; top: 5px; right: 5px; opacity: 0.5;}
.zoomified:hover .zoom_icon {opacity: 1;}

.verticalmiddle img {vertical-align:middle;}
.licensechoices div.description { margin-left: 20px; }
.licensechoices .status.preferred {padding: 2px 5px;}

#redo_search_in_map_area_button{background:0% 50% url(/images/silk/arrow_refresh.png) no-repeat;padding-left:20px;}
#redo_search_in_map_area_loading.loading{display:inline;}

.item_user{width:48px;}
.item_content{width:532px;}
.item_content .identification_image{margin-right:0.5em;}
.item_content .identification_image,
.item_content .identification_body{
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  float:none;
}
.item_content .identification_body { margin-top: 7px; }
.item_content .identification_image img{width:32px;vertical-align:middle;}
.item_content .identification{padding:0.5em;background-color:#eee;margin-bottom:0.5em;}
.item_content p{margin-bottom:0.5em;}

.alert, .alert:hover {background-color: #cd0a0a; color: white; }
.alert .ui-icon { background-image: url(/images/jquery-ui/ui-icons_ffffff_256x240.png); }

.notmonth { color: #ccc;}
.calendar { width: 230px; }
.calendar tbody td, .calendar th { color: #ccc;}
.calendar tbody td a { font-weight: bold; }
.calendar tbody td.notmonth { color: #eee;}
.calendar.first { clear: left; }
.calendar caption { background-color: transparent; text-transform: uppercase; letter-spacing: 0.4em; text-align:center;}
.calendar td, .calendar th { border: 0 transparent; text-align: center;}
.calendar th { font-weight: normal; }
.calendar .daylink {
  width: 22px; height: 22px; 
  background-color: #eee; border-radius: 11px;text-align:center;line-height:1.9; cursor:pointer;
}

.iconic_taxon_sprite { vertical-align:middle;}
.taxon.chooseritem { white-space: nowrap; }
.taxon.chooseritem .othernames { display:inline; }
#taxonchooser_chooser .ui-chooser-choice { padding: 4px 5px 3px;}
#taxonchooser_chooser .ui-chooser-choice { padding: 5px 5px 4px;}

.subscriptionsettings .ui-icon {
  background-image: url(/images/jquery-ui/ui-icons_888888_256x240.png);
  border: 0 none;
}
.subscriptionsettings .ui-icon:hover {
  background-image: url(/images/jquery-ui/ui-icons_222222_256x240.png);
}

.edit_subscription_inline {
  list-style: none;
  margin: 0;
  padding: 0;
}

.edit_subscription_inline .taxonchooser {width: 200px;}
.edit_subscription_inline .simpleTaxonSelectorImage {
  width: 27px;
}

ul.plain {list-style:none;margin:0;padding:0}
.small.photo {max-width:240px;}
.medium.photo {max-width:500px;}
.large.photo {max-width:1024px;}
