body.mobile,
p,.p,h1,h2,h3,h4,h5,h6,.readable{font-family:"Trebuchet MS",Arial,sans-serif;font-weight:bold;}
p,.p,.readable{font-size:100%;}
body.mobile #wrapper,
body.mobile #header,
body.mobile #footer{width:310px;min-width:310px;padding:5px;}
body.mobile select{max-width:310px;}
body.mobile #header{margin:0;height:auto;line-height:1.4;height:22px;}
input.button,
input[type=button],
input[type=text],
input[type=password]{float:none;display:inline-block;width:290px;}
/* Cribbed from blueprint */
.clear{display:inline-block;}
.clear:after,.container:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .clear{height:1%;}
.clear{display:block;}
#flash{width:80%;}
.pagination{line-height:200%;}
.pagination .prev_page,
.pagination .next_page{white-space:nowrap;}
#mobiletogglelink{font-size:300%;}
.default.button { margin: 0 auto; float:none; display:block;}