.photo_invite .invite_comment {
  margin: 20px 0;
}
.photo_invite textarea {
  height: 18px;
  margin-top: 5px;
  width: 100%;
}
.observation_photos {
  margin-bottom: 20px;
}
.photo_invite .button.disabled {
  background-color: #8BB0FC;
}
