#list-summaries {
  font-family: Georgia, serif;
  font-size: 110%;
}
#list-summaries h3 {
  font-size: 180%;
  margin-bottom: 0;
}

#list-summaries ul {
  margin-right: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: 0;
}

#list-summaries p.view {
  margin-bottom: 0;
  text-align: right;
}

#lifelist.box {
  padding: 0.8em;
  background-color: #ffc;
}

.count {
  color: #74AC00;
}

#list-summaries li,
#list-summaries .totalcount {
  display: block;
  position: relative;
  padding-left: 3em;
}

#list-summaries li .count,
#list-summaries .totalcount .count {
  display: block;
  position: absolute;
  left: 0;
  width: 2.6em;
  text-align: right;
}

.totalcount {
  font-weight: bold;
}

#list-titles p {
  margin-bottom: 0.4em;
}


/* Taxonomic Tree Styles */
.taxonomic_tree {
  list-style: none;
}
.taxonomic_tree li .node {
  color: #999;
  font-size: 80%;
}

.taxonomic_tree .node img {
  float: left;
  margin-right: 1em;
}

.taxonomic_tree .terminal.node {
  font-family: Georgia, serif;
  font-size: 100%;
}

.taxonomic_tree .terminal.node .taxon {
  font-size: 120%;
}

.taxonomic_tree .terminal.node .observation {
  font-size: 80%;
}

.button.checklist {
  padding-left: 25px;
  background: 5px 4px url('/images/checklist-icon.png') no-repeat;
}

.button.taxonomy {
  padding-left: 25px;
  background: 5px 4px url('/images/taxonomy-icon.png') no-repeat;
}

#summary {
  margin: 1em 0;
}
#summary #total {
  font-size: 220%;
}

.listed_taxon .column.image {
  width: 50px;
  height: 50px;
  background-image: url('/images/iconic_taxa/unknown-32px.png');
  background-color: white;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.listed_taxon .column.image a {
  border: 1px solid #eee;
  display: block;
  width: 50px;
  height: 50px;
}

.listed_taxon .column.image img {
  width: 50px;
  height: 50px;
}

.listed_taxon .column.image img.zoom_icon {
  width: 16px;
  height: 16px;
  top: 2px;
  right: 2px;
}

.listed_taxon .column.image a:hover {
  border: 1px solid #BACEF1;
}

.listed_taxon .seenitwrapper {
  width: 165px;
}

.listed_taxon .has_seenit {
  visibility: hidden;
}

.listed_taxon .has_seenit .button {
  margin: 0;
}

.seenit.status {
  padding: 0.5em;
}

.listed_taxon {
  padding: 0.5em 0 0.5em 0.5em;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.listed_taxon:hover {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #F7F7F7;
}

.Protozoa,        .stat.Protozoa a        { color: #691776;  }
.Plantae,         .stat.Plantae a         { color: #73AC13;  }
.Fungi,           .stat.Fungi a           { color: DeepPink; }
.Animalia,        .stat.Animalia a        { color: #1E90FF;  }
.Mollusca,        .stat.Mollusca a        { color: #FF4500;  }
.Arachnida,       .stat.Arachnida a       { color: #FF4500;  }
.Insecta,         .stat.Insecta a         { color: #FF4500;  }
.Amphibia,        .stat.Amphibia a        { color: #1E90FF;  }
.Reptilia,        .stat.Reptilia a        { color: #1E90FF;  }
.Aves,            .stat.Aves a            { color: #1E90FF;  }
.Mammalia,        .stat.Mammalia a        { color: #1E90FF;  }
.Actinopterygii,  .stat.Actinopterygii a  { color: #1E90FF;  }
.Chromista,       .stat.Chromista a  { color: #993300;  }

.Protozoa:hover  { color: #691776;  }
.Plantae:hover   { color: #73AC13;  }
.Fungi:hover     { color: DeepPink; }
.Animalia:hover  { color: #1E90FF;  }
.Mollusca:hover  { color: #FF4500;  }
.Arachnida:hover { color: #FF4500;  }
.Insecta:hover   { color: #FF4500;  }
.Amphibia:hover  { color: #1E90FF;  }
.Reptilia:hover  { color: #1E90FF;  }
.Aves:hover      { color: #1E90FF;  }
.Mammalia:hover  { color: #1E90FF;  }
.Actinopterygii:hover  { color: #1E90FF;  }
.Chromista:hover  { color: #993300;  }

.listed_taxon.Unknown   .column.image { background-image: url('/images/iconic_taxa/unknown-32px.png'); }
.listed_taxon.Protozoa  .column.image { background-image: url('/images/iconic_taxa/protozoa-32px.png'); }
.listed_taxon.Plantae   .column.image { background-image: url('/images/iconic_taxa/plantae-32px.png'); }
.listed_taxon.Fungi     .column.image { background-image: url('/images/iconic_taxa/fungi-32px.png'); }
.listed_taxon.Animalia  .column.image { background-image: url('/images/iconic_taxa/animalia-32px.png'); }
.listed_taxon.Mollusca  .column.image { background-image: url('/images/iconic_taxa/mollusca-32px.png'); }
.listed_taxon.Arachnida .column.image { background-image: url('/images/iconic_taxa/arachnida-32px.png'); }
.listed_taxon.Insecta   .column.image { background-image: url('/images/iconic_taxa/insecta-32px.png'); }
.listed_taxon.Amphibia  .column.image { background-image: url('/images/iconic_taxa/amphibia-32px.png'); }
.listed_taxon.Reptilia  .column.image { background-image: url('/images/iconic_taxa/reptilia-32px.png'); }
.listed_taxon.Aves      .column.image { background-image: url('/images/iconic_taxa/aves-32px.png'); }
.listed_taxon.Mammalia  .column.image { background-image: url('/images/iconic_taxa/mammalia-32px.png'); }
.listed_taxon.Actinopterygii  .column.image { background-image: url('/images/iconic_taxa/actinopterygii-32px.png'); }
.listed_taxon.Chromista  .column.image { background-image: url('/images/iconic_taxa/chromista-32px.png'); }


.listed_taxa_group .title {
  padding-left: 50px;
  margin-bottom: 0.5em;
  background-repeat: no-repeat;
  background-position: 0px 50%;
}

.listed_taxa_group.Unknown   .title { background-image: url('/images/iconic_taxa/unknown-32px.png'); }
.listed_taxa_group.Protozoa  .title { color: #691776;  background-image: url('/images/iconic_taxa/protozoa-32px.png'); padding-left: 40px; }
.listed_taxa_group.Plantae   .title { color: #73AC13;  background-image: url('/images/iconic_taxa/plantae-32px.png'); }
.listed_taxa_group.Fungi     .title { color: DeepPink; background-image: url('/images/iconic_taxa/fungi-32px.png'); padding-left: 40px; }
.listed_taxa_group.Animalia  .title { color: #1E90FF;  background-image: url('/images/iconic_taxa/animalia-32px.png'); }
.listed_taxa_group.Mollusca  .title { color: #FF4500;  background-image: url('/images/iconic_taxa/mollusca-32px.png'); }
.listed_taxa_group.Arachnida .title { color: #FF4500;  background-image: url('/images/iconic_taxa/arachnida-32px.png'); padding-left: 45px; }
.listed_taxa_group.Insecta   .title { color: #FF4500;  background-image: url('/images/iconic_taxa/insecta-32px.png'); padding-left: 60px; }
.listed_taxa_group.Amphibia  .title { color: #1E90FF;  background-image: url('/images/iconic_taxa/amphibia-32px.png'); }
.listed_taxa_group.Reptilia  .title { color: #1E90FF;  background-image: url('/images/iconic_taxa/reptilia-32px.png'); }
.listed_taxa_group.Aves      .title { color: #1E90FF;  background-image: url('/images/iconic_taxa/aves-32px.png'); }
.listed_taxa_group.Mammalia  .title { color: #1E90FF;  background-image: url('/images/iconic_taxa/mammalia-32px.png'); }
.listed_taxa_group.Actinopterygii  .title { color: #1E90FF;  background-image: url('/images/iconic_taxa/actinopterygii-32px.png'); }
.listed_taxa_group.Chromista .title { color: #993300;  background-image: url('/images/iconic_taxa/chromista-32px.png'); }

.listed_taxa_group .title .small.description {
  font-size: 60%;
}

.listed_taxon .taxon {
  font-family: Georgia, serif;
  font-size: 140%;
  line-height: 1.2;
}

.stat .title {
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 0px 50%;
}

.stat                 .title { color: #74AC00;  background-image: url('/images/logo-grey-15px.png'); }
.stat.Unknown         .title { color: inherit;  background-image: url('/images/iconic_taxa/unknown-15px.png'); }
.stat.Protozoa        .title { color: #691776;  background-image: url('/images/iconic_taxa/protozoa-15px.png'); }
.stat.Plantae         .title { color: #73AC13;  background-image: url('/images/iconic_taxa/plantae-15px.png'); }
.stat.Fungi           .title { color: DeepPink; background-image: url('/images/iconic_taxa/fungi-15px.png'); }
.stat.Animalia        .title { color: #1E90FF;  background-image: url('/images/iconic_taxa/animalia-15px.png'); }
.stat.Mollusca        .title { color: #FF4500;  background-image: url('/images/iconic_taxa/mollusca-15px.png'); }
.stat.Arachnida       .title { color: #FF4500;  background-image: url('/images/iconic_taxa/arachnida-15px.png'); }
.stat.Insecta         .title { color: #FF4500;  background-image: url('/images/iconic_taxa/insecta-15px.png'); }
.stat.Amphibia        .title { color: #1E90FF;  background-image: url('/images/iconic_taxa/amphibia-15px.png'); }
.stat.Reptilia        .title { color: #1E90FF;  background-image: url('/images/iconic_taxa/reptilia-15px.png'); }
.stat.Aves            .title { color: #1E90FF;  background-image: url('/images/iconic_taxa/aves-15px.png'); }
.stat.Mammalia        .title { color: #1E90FF;  background-image: url('/images/iconic_taxa/mammalia-15px.png'); }
.stat.Actinopterygii  .title { color: #1E90FF;  background-image: url('/images/iconic_taxa/actinopterygii-15px.png'); }
.stat.Chromista       .title { color: #993300;  background-image: url('/images/iconic_taxa/chromista-15px.png'); }

.stat.Protozoa        .barchart .value { background-color: #691776;  }
.stat.Plantae         .barchart .value { background-color: #73AC13;  }
.stat.Fungi           .barchart .value { background-color: DeepPink; }
.stat.Animalia        .barchart .value { background-color: #1E90FF;  }
.stat.Mollusca        .barchart .value { background-color: #FF4500;  }
.stat.Arachnida       .barchart .value { background-color: #FF4500;  }
.stat.Insecta         .barchart .value { background-color: #FF4500;  }
.stat.Amphibia        .barchart .value { background-color: #1E90FF;  }
.stat.Reptilia        .barchart .value { background-color: #1E90FF;  }
.stat.Aves            .barchart .value { background-color: #1E90FF;  }
.stat.Mammalia        .barchart .value { background-color: #1E90FF;  }
.stat.Actinopterygii  .barchart .value { background-color: #1E90FF;  }
.stat.Chromista       .barchart .value { background-color: #993300;  }

.pagination {
  margin: 1em 0;
}

a.stat.total .remainder .label {
  color: #888;
}

.life_list_taxon img {
  vertical-align: middle;
  height: 20px;
}
