body {line-height: 1.4 !important; font-size: 80%;}
body.mobile,
p,.p,h1,h2,h3,h4,h5,h6,.readable{font-family:"Trebuchet MS",Arial,sans-serif;font-weight:bold;}
body.mobile #wrapper,
body.mobile #header,
body.mobile #footer{padding:5px;width:auto;}
body.mobile #footer{text-align:left;}
body.mobile #footer ul{ background-color:#eee;list-style:none;margin:0 0 10px 0; padding:0;}
body.mobile #footer li a{display:block;padding:20px;border-bottom:1px dotted #ccc;margin:0;}
body.mobile #footer li a.box {border-bottom:1px dotted #aaa;background-color:#ddd;}
body.mobile #footer_text {text-align:center;}
body.mobile #header { width: auto; }
body.mobile #header{margin:0;height:auto;line-height:1.4;height:22px;}
input.button,
input[type=button],
input[type=text],
input[type=password]{float:none;display:inline-block;}
/* Cribbed from blueprint */
.clear{display:inline-block;}
.clear:after,.container:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .clear{height:1%;}
.clear{display:block;}
#flash{width:80%;}
.pagination{line-height:200%;}
.pagination .prev_page,
.pagination .next_page{white-space:nowrap;}
#mobiletogglelink{font-size:300%;}
.default.button { margin: 0 auto; float:none; display:block;}
h2 {margin: 0 0 0.5em;}
.description label, .meta label {color:#666;}
.small {font-size: 0.8em;}
.comment {padding:0; margin-bottom:10px;}
.comment .meta {float:none; width:auto;}
.comment .body {padding:0;}
.item_content{width:auto;}
.comment_actions {display:inline;}
#new-comment {margin-bottom:10px;padding-bottom:10px;}
#new_comment #comment_body {width:auto;}
#new-comment .meta {position:relative;}
#new-comment .previewbutton {display:none;}

@media all and (orientation: landscape) {
  textarea {max-width:460px;max-height:200px;}
  body.mobile #wrapper,
  body.mobile #header,
  body.mobile #footer{min-width:470px;}
  body.mobile select{max-width:470px;}
  input.select,
  input.button,
  input.text,
  input[type=button],
  input[type=text],
  input[type=password],
  textarea{width:450px !important;}
  .button.full { width:450px; }
  .iconified.button.full { width:428px; }
  .comment.item .item_content {width:400px;}
}

@media all and (orientation: portrait) {
  textarea {max-width:300px;max-height:200px;}
  body.mobile #wrapper,
  body.mobile #header,
  body.mobile #footer{min-width:310px;}
  body.mobile select{max-width:310px;}
  input.select,
  input.button,
  input.text,
  input[type=button],
  input[type=text],
  input[type=password],
  textarea{width:290px !important;}
  .button.full { width:290px; }
  .iconified.button.full { width:268px; }
  .comment.item .item_content {width:250px;}
}
.comment.item {white-space: nowrap;}
.comment.item .item_user { vertical-align: top; margin-right:5px;}
.comment.item .item_user, .comment.item .item_content {white-space: normal; display:inline-block; float:none;}
.comment.item .item_content p {margin-top:0;}
