.observations.infowindow .observation {
  width: 220px;
}
.observations.infowindow .observation .attribute.icon,
.observations.infowindow .observation .attribute.actions,
.observations.infowindow .observation .attribute.details {
  display: none;
}

.observations.infowindow .species_guess,
.observations.infowindow .actions,
.observations.infowindow .details {
  padding-left: 0px;
}

.observations.infowindow .user,
.observations.infowindow .observed_on,
.observations.infowindow .created_at,
.observations.infowindow .place {
  padding-left: 60px;
}

.observations.infowindow .user .label,
.observations.infowindow .observed_on .label,
.observations.infowindow .created_at .label,
.observations.infowindow .place .label {
  left: 0px;
}

.observations.mini ul {
  padding: 0;
}