table.taxa td {
  vertical-align: middle;
}

table.taxa .taxon_name {
  display: block;
}

#pagination {
  margin-bottom: 1em;
}

.taxa.grid .taxon {
  float: left;
  margin: 0 10px 10px 0;
  width: 100px;
}

.taxa.grid .taxon .image,
.taxa.grid .taxon .image a {
  text-align: center;
  background-color: white;
}
.taxa.grid .taxon .image.nophoto,
.taxa.grid .taxon .image.nophoto a {
  background-color: #f1f1f1;
}
.taxa.grid .taxon .image .iconic { margin: 30px; }
.taxa.grid .first { clear: left; }
.taxa.grid .last { margin-right: 0; }
.taxa.grid .infolink { display: none; }

/* big grid */
.taxa.big.grid .taxon { width: 310px; }
.taxa.big.grid .taxon img { max-width: 310px; }

/* small grid */
.taxa.medium.grid .taxon img { max-width: 240px; }

/* list */

.taxa.list .taxon_list_taxon { margin-bottom: 10px; }
.taxa.list .taxonimage {
  float: left;
  margin: 0 10px 10px 0;
  width: 240px;
  text-align: center;
}
.taxa.list .nophoto {
  background-color: #eee;
  width: 220px;
  height: 32px;
  padding: 10px;
}
.taxa.list .moreimages { 
  float: left;
  width: 400px;
}
.taxa.list .info { display: none; }

.taxa.guide .info { display: block; }

.amphibiaweb table,
.amphibiaweb tr,
.amphibiaweb td { vertical-align: top; }

.taxonimage { position: relative; }
.taxonimage .attribution {
  position: absolute; 
  right: 5px; 
  bottom: 5px;
  color: white;
  background-color: black;
  opacity: 0.5;
  font-size: smaller;
  border-radius: 10px;
  padding: 0 5px;
}
.taxonimage:hover .attribution { opacity: 1; }

