.wiki_form .text, .wiki_form textarea {width:615px;}
.preview {background-color: lightyellow;}
code {white-space:normal;}
.wiki_page_attachment textarea {width: 500px; height: 50px;}
.wiki_content, .wiki_diff, .wiki_history {
  border: 1px dotted #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.wiki_history {width: 100%;}
.wiki_diff span.added {
  background-color:#73AC13;
  color:white;
}
.wiki_diff span.removed {
  background: deeppink;
  color: white;
}
.wiki_history .author, .wiki_history .version {white-space: nowrap;}
