@import "../colors";

.ActivityItem,
body > div > [role="dialog"] .ActivityItem {
  .identification {
    display: inline-block;
    width: 100%;
    > .taxon {
      display: flex;
      overflow: hidden;
    }
  }
  .buttons {
    float: right;
  }
  .taxon-image {
    width: 44px;
    height: 44px;
    border: 1px solid $border-grey;
    border-radius: 2px;
    float: left;
    margin-right: 15px;
    display: inline-block;
  }
  span.taxon {
    & > a.display-name,
    & > .display-name {
      color: #000;
    }
    a.sciname,
    .sciname {
      color: #000;
    }
    &.has-com-name .member-group:before {
      content: " - ";
    }
    .member-group {
      display: inline;
      font-style: normal;
      .sciname {
        font-style: normal;
        &.genus,
        &.species,
        &.subspecies,
        &.hybrid
        &.variety,
        &.form,
        &.infrahybrid {
          font-style: italic;
        }
      }
      a.display-name,
      .display-name {
        color: #000;
        font-weight: normal;
      }
    }
  }
  .time {
    margin-right: 12px;
    color: #999999;
  }
  .panel-title {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    .title_text {
      flex: 2;
      margin-right: 20px;
    }
    a.user {
      font-weight: bold;
      color: black;
    }
    .item-status {
      margin-right: 15px;
     .fa {
        width: 20px;
        text-align: center;
      }
    }
    .ident-inactive {
      color: $bootstrap-link-color;
    }
  }
  .panel.flagged .panel-heading {
    background: #fcf8e3;
    .item-status {
      color: #8a6d3b;
    }
  }
  .panel.maverick .panel-heading {
    background: rgba(216, 84, 79, 0.05);
    .item-status {
      color: $fail-red;
    }
  }
  .panel.improving .panel-heading {
    background: rgba(116, 173, 0, 0.05);
    .item-status {
      color: $inat-green;
    }
  }
  .panel.leading .panel-heading {
    .item-status.ident-category {
      color: $inat-green;
      i {
        margin-right: 2px;
        position: relative;
        bottom: 2px;
      }
    }
  }
  .panel-body {
    padding: 0px;
    line-height: 1;
    .taxon-change {
      padding: 7px 15px;
      background: #FCF8E3;
      color: #8A6D3B;
      a {
        color: $bootstrap-link-color;
      }
    }
    .contents {
      padding: 15px;
      line-height: 1;
      .content {
        display: block;
        overflow: hidden;
      }
      .UserText {
        line-height: 20px;
        img {
          max-width: 100%;
        }
      }
    }
    span.taxon {
      display: inline-block;
      a.secondary-name {
        font-size: 14px;
        line-height: 16px;
        // This is weird but it allows the secondary-name to be on a new line
        // without like it would if it was a block, but without filling the
        // width of the available space like it would with a span or inline-
        // block
        display: table;
      }
      & > a.display-name,
      & > .display-name {
        font-size: 20px;
        line-height: 25px;
      }
      .member-group {
        display: table;
        .taxon,
        .secondary-name {
          display: inline;
        }
        a.display-name,
        .display-name {
          font-size: 14px;
          font-weight: normal;
          display: inline;
          line-height: 14px;
        }
      }
    }
  }
  .panel-footer {
    background-color: white;
    a {
      font-weight: bold;
      color: black;
    }
    .SplitTaxon {
      display: inline;
    }
  }
  .icon {
    float: left;
  }
  .buttons {
    button {
      margin-left: 10px;
      .fa {
        color: $inat-green;
      }
    }
  }
  button.comment_id {
    margin-left: 60px;
  }
  i.taxon-image.icon {
    font-size: 36px;
    line-height: 38px;
    opacity: 0.9;
    text-align: center;
    padding-left: 1px
  }
  .panel {
    margin-left: 60px;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .id_body {
    margin-top: 15px;
  }
}

.ActivityItem.withdrawn,
body > div > [role="dialog"] .ActivityItem.withdrawn {
  .title_text, .time {
    opacity: 0.5;
  }
  .title_text {
    text-decoration: line-through;
  }
  .panel-body {
    background-color: #f8f8f8;
    .taxon-image,
    .taxon .sciname,
    .taxon .comname {
      opacity: 0.5;
    }
    .taxon {
      .comname,
      .sciname {
        text-decoration: line-through;
      }
    }
  }
}

.ActivityItemMenu,
body > div > [role="dialog"] .ActivityItemMenu {
  border-left: 1px solid $border-grey;
  .search {
    line-height: 24px;
    white-space: nowrap;
    .fa {
      color: $inat-green;
      margin-right: 5px;
    }
    a {
      color: inherit;
    }
  }
  .control-group {
    .dropdown.btn-group {
      button {
        margin: 0px 0px 2px 12px;
        padding: 0;
        border: none !important;
        background: none !important;
        box-shadow: none !important;
        &[disabled] {
          opacity: 0.5;
        }
      }
      .btn-group.open .dropdown-toggle {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      .dropdown-menu {
        margin-right: -10px;
        .search-links {
          padding: 3px 20px 5px 20px;
          min-width: 200px;
        }
      }
    }
  }
}
