$nav-btn-dim: 40px;
$carousel-item-width: 100px;
$carousel-item-gap: 10px;

.Carousel {
  width: 100%;
  clear: both;
  .carousel-body {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .carousel-slides {
    flex: 1;
    min-width: 0;
  }
  .carousel-slide {
    display: none;
    &.active {
      display: grid;
      grid-template-columns: repeat(auto-fill, $carousel-item-width);
      gap: $carousel-item-gap;
      justify-content: center;
    }
  }
  .nav-btn {
    width: $nav-btn-dim;
    align-self: stretch;
    border: none;
    background-color: $inat-green;
    color: white;
    font-weight: bold;
    font-size: $nav-btn-dim / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover, &:focus, &:active {
      background-color: $inat-green-light;
      outline: none;
    }
    &[disabled] {
      opacity: 0.4;
      cursor: default;
      &:hover, &:focus, &:active {
        background-color: $inat-green;
      }
    }
  }
}
