#ConfirmationBanner {
  text-align: center;
  background: #74ac00;
  color: white;
  font-size: 14px;
  line-height: 18px;
  display: block;
  & > div > div {
    padding: 10px;
  }
  .email {
    font-weight: 700;
  }
  a {
    color: white;
    text-decoration: underline;
  }
  button {
    border: none;
    background: inherit;
    padding: 0;
    text-decoration: underline;
    color: white;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
  }
}

.ConfirmModal.EmailConfirmation {
  .modal-dialog {
    width: 500px;
    margin-top: 100px;
  }
  .text {
    margin-left: 10px;
    & > p:first-child {
      font-size: 18px;
    }
  }
  .buttons {
    text-align: center;
    button {
      min-width: 100px;
      margin: 0px 10px;
    }
  }
}

.confirm-to-interact {
  background: #f5f5f5;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  .confirm-button {
    padding-top: 15px;
  }
}