@import "../users/_user_image";
@import "../colors";

.ObservationsGridItem {
  position: relative;

  .SplitTaxon {
    display: inline-block;
    font-size: 90%;
  }
  .SplitTaxon.taxon .display-name {
    color: black;
    font-size: 110%;
  }
}
.ObservationsGridItem.borderless.thumbnail {
  border: 1px solid #ddd;
}
.ObservationsGridItem.reviewed {
  opacity: 0.5;
}
.ObservationsGridItem .thumbnail {
  margin-bottom: 30px;
  position: relative;
}
.ObservationsGridItem .media {
  display: block;
  width: 100%;
  min-height: 20px;
  background-size: cover;
  background-position: center;
  margin: 0px auto;
  text-align: center;
  position: relative;
}
.ObservationsGridItem a.media {
  opacity: 1;
}
.ObservationsGridItem .media .icon,
.ObservationsGridItem .media:hover .icon,
.ObservationsGridItem .media:active .icon,
.ObservationsGridItem .media:visited .icon,
.ObservationsGridItem .media:link .icon {
  display: none;
}
.ObservationsGridItem .media.iconic .icon,
.ObservationsGridItem .media.iconic .icon:hover,
.ObservationsGridItem .media.iconic .icon:active,
.ObservationsGridItem .media.iconic .icon:visited,
.ObservationsGridItem .media.iconic .icon:link {
  color: #eee;
  display: inline-block;
}
.ObservationsGridItem .media .sound-icon { display: none; }
.ObservationsGridItem .media.sound .sound-icon {
  display: inline-block;
  color: #aaa;
  opacity: 0.8;
  font-size: 100px;
  margin-top: 20px;
}
$flowedDim: 150px;
.flowed .ObservationsGridItem {
  width: $flowedDim;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.flowed .ObservationsGridItem .media {
  width: $flowedDim;
  height: $flowedDim;
}
.gridded .ObservationsGridItem .media {
  height: 120px;
  line-height: 110px;
  font-size: 80px;
}
@media (min-width: 768px) {
  .gridded .ObservationsGridItem .media {
    height: 157.5px;
    line-height: 140px;
    font-size: 120px;
  }
}
@media (min-width: 992px) {
  .gridded .ObservationsGridItem .media {
    height: 212.5px;
    font-size: 180px;
  }
}
@media (min-width: 1200px) {
  .gridded .ObservationsGridItem .media {
    height: 262.5px;
    line-height: 240px;
    font-size: 210px;
  }
}

.bootstrap-10 .ObservationsGridItem .media {
  height: 212px;
  line-height: 180px;
  font-size: 100px;
}
@media (min-width: 768px) {
  .bootstrap-10 .ObservationsGridItem .media {
    height: 128px;
    line-height: 98px;
  }
}
@media (min-width: 992px) {
  .bootstrap-10 .ObservationsGridItem .media {
    height: 172px;
    line-height: 142px;
    font-size: 150px;
  }
}
@media (min-width: 1200px) {
  .bootstrap-10 .ObservationsGridItem .media {
    height: 212px;
    line-height: 180px;
    font-size: 150px;
  }
}
.ObservationsGridItem .caption {
  height: 85px;
  padding: 12px;
}
.ObservationsGridItem .title {
  display: block;
  margin-bottom: 3px
}

.ObservationsGridItem .UserImage {
  position: absolute;
  right: 10px;
  bottom: 75px;
}

.ObservationsGridItem .meta {color: #a3a3a3; font-size: 12px; overflow: hidden;}
.ObservationsGridItem .meta .comments i,
.ObservationsGridItem .meta .identifications i {font-size: 110%;}
.ObservationsGridItem .meta .pull-right {
  position: relative;
  top: 2px;
}
.ObservationsGridItem .favorites { margin-left: 5px;}
.ObservationsGridItem .comments {margin-left: 5px;}

.ObservationsGridItem .display-names,
.ObservationsGridItem .SplitTaxon > .display-name,
.ObservationsGridItem .sciname {
  display: block;
}
.ObservationsGridItem .taxon.has-com-name .sciname:before,
.ObservationsGridItem .taxon.has-com-name .sciname:after {
  display: none;
}

.ObservationsGridItem .controls {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.ObservationsGridItem .SplitTaxon {
  overflow: hidden;
  width: 100%;
}

.ObservationsGridItem .reviewed-notice {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5px;
  background-color: rgba( 0, 0, 0, 0.5 );
  color: white;
  z-index: 1;
}
.ObservationsGridItem:hover .reviewed-notice,
.ObservationsGridItem .reviewed-notice.reviewed {
  display: block;
}
.ObservationsGridItem .reviewed-notice label {
  font-weight: normal;
  margin: 0;
}

.ObservationsGridItem .magnifier {
  display: none;
  background-color: rgba( 0, 0, 0, 0.5 );
  color: white;
  font-size: 20px;
  z-index: 1;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
}
.ObservationsGridItem .media:hover .magnifier {
  display: block;
}
.ObservationsGridItem {
  .taxon .display-name {
    color: black;
    font-size: 120%;
    font-weight: bold;
  }

  .taxon .secondary-name {
    white-space: normal;
  }

  $photo-count-square-width: 19px;
  $photo-count-square-offset: 3px;
  $photo-count-line-width: 1px;
  .photo-count {
    position: absolute;
    left: 8px;
    bottom: 8px;
    color: #eee;
    background-color: rgba(0,0,0,0.5);
    padding: 3px;
    font-weight: 500;
    display: block;
    border: $photo-count-line-width solid #eee;
    border-radius: 4px;
    width: $photo-count-square-width;
    height: $photo-count-square-width;
    line-height: $photo-count-square-width / 2 + $photo-count-square-offset;
    font-size: $photo-count-square-width * 0.65;
    &:after {
      content: "";
      width: $photo-count-square-width;
      height: $photo-count-square-width;
      background-color: rgba(0,0,0,0.5);
      border: $photo-count-line-width solid #eee;
      border-radius: 4px;
      position: absolute;
      left: $photo-count-square-offset;
      bottom: $photo-count-square-offset;
      z-index: 0;
      clip-path: polygon(
        0px 0px,
        $photo-count-square-width 0px,
        $photo-count-square-width $photo-count-square-width,
        ($photo-count-square-width - $photo-count-square-offset - $photo-count-line-width) $photo-count-square-width,
        ($photo-count-square-width - $photo-count-square-offset - $photo-count-line-width) (2 * $photo-count-square-offset),
        ($photo-count-square-width - 2 * $photo-count-square-offset) ($photo-count-square-offset + $photo-count-line-width),
        0px ($photo-count-square-offset + $photo-count-line-width)
      );
      -webkit-clip-path: polygon(
        0px 0px,
        $photo-count-square-width 0px,
        $photo-count-square-width $photo-count-square-width,
        ($photo-count-square-width - $photo-count-square-offset - $photo-count-line-width) $photo-count-square-width,
        ($photo-count-square-width - $photo-count-square-offset - $photo-count-line-width) (2 * $photo-count-square-offset),
        ($photo-count-square-width - 2 * $photo-count-square-offset) ($photo-count-square-offset + $photo-count-line-width),
        0px ($photo-count-square-offset + $photo-count-line-width)
      );
    }
  }

  .identifications-count,
  .comments-count {
    color: $text-grey;
    line-height: 22px;
    font-size: 12px;
    i {
      position: relative;
      top: -1px;
    }
  }

  .all-photos-preview {
    display: none;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    overflow: hidden;
    img {
      width: 50%;
      height: 50%;
    }
  }
}
.ObservationsGridItem:hover {
  .photo-count {
    background-color: rgba(0,0,0,0.5);
  }
  .photo.sound {
    .sound-icon {
      display: none;
    }
  }
  .all-photos-preview {
    display: flex;
  }
}
