@import "../colors";

.PlaceChooserPopoverTrigger {
  cursor: pointer;
  white-space: nowrap;
}
.PlaceChooserPopoverTrigger:hover {
  opacity: 0.8;
}
.PlaceChooserPopoverTrigger .pre-icon {
  margin-right: 5px;
}
.PlaceChooserPopoverTrigger.chosen .pre-icon {
  color: $inat-green;
}
.PlaceChooserPopoverTrigger .post-icon {
  margin-left: 5px;
}
.PlaceChooserPopover {
  max-width: 200px;
}
.PlaceChooserPopover.popover .popover-content {
  padding: 10px;
}
.PlaceChooserPopover a {
  color: #333;
}
.PlaceChooserPopover.popover .form-group {
  margin-bottom: 5px;
}
.PlaceChooserPopover.popover ul {
  margin-bottom: 0;
  cursor: pointer;
}
.PlaceChooserPopover.popover .media {
  margin: 0;
}
.PlaceChooserPopover.popover .media-left {
  padding: 0;
}
.PlaceChooserPopover li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}
.PlaceChooserPopover li:last-child {
  border-bottom: 0 transparent;
}
.PlaceChooserPopover li i {
  color: #999;
  width: 20px;
  text-align: center;
  margin-top: 2px;
}
.PlaceChooserPopover li.current {
  background-color: #eee;
}
.PlaceChooserPopover li .place-type {
  text-transform: capitalize;
}
.PlaceChooserPopover .pinned {
  border-bottom: 2px solid #ddd;
  font-weight: bold;
}
