@import "../colors";
@import "./flag_an_item";

.QualityMetrics {
  margin-bottom: 40px;
  .metric_title .fa {
    font-size: 18px;
    color: #999999;
    padding: 0px 5px;
    width: 35px;
    text-align: center;
  }
  .grade {
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0px 25px;
  }
  .flag_link {
    color: $other-link-color;
    cursor: pointer;
  }
  .text {
    font-size: 16px;
  }
  tr.flags.flagged {
    background: #F2DEDE;
    .metric_title .fa {
      color: $fail-red;
    }
    a {
      color: $other-link-color;
      margin-left: 10px;
    }
  }
  tr.improve {
    .inputs {
      margin-top: 5px;
      .yes, .no {
        display: inline-block;
      }
      .yes {
        width: 150px;
      }
      label {
        margin-inline-start: 5px;
        font-weight: normal;
        &.bold {
          font-weight: bold;
        }
      }
    }
    div.grid-container {
      display: grid;
      grid-template-columns: auto 1fr;
    }
    .current-community-taxon {
      .SplitTaxon > span {
        color: #333;
      }
    }
  }
  tbody tr:nth-child(even) {
    background: $light-grey;
  }
  // have to specify both because the identify modal has a light-gray background by default
  tbody tr:nth-child(odd) {
    background: white;
  }
  h3 {
    margin-top: 30px;
    display: inline-block;
  }
  .popover-data-quality-link {
    font-size: 18px;
  }
  table {
    margin-top: 15px;
  }
  thead {
    background: $light-grey;
    th {
      font-weight: 600;
      border-bottom: 1px !important;

    }
  }
}
