@import "../colors";

.RecordChooserPopoverTrigger {
  cursor: pointer;
  white-space: nowrap;
  .pre-icon {
    margin-right: 5px;
  }
  .post-icon {
    margin-left: 5px;
  }
}
.RecordChooserPopoverTrigger:hover {
  opacity: 0.8;
}
.RecordChooserPopoverTrigger.chosen .pre-icon {
  color: $inat-green;
}
.RecordChooserPopover.popover {
  max-width: 200px;
  a {
    color: #333;
  }
  .popover-content {
    padding: 0px;
  }
  .form-group {
    margin-bottom: 0px;
    padding: 10px 10px 0 10px;
  }
  ul.list-unstyled {
    margin-bottom: 0;
    cursor: pointer;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
  }
  .media {
    margin: 0;
  }
  .media-left {
    padding: 0;
    min-width: 5px;
  }
  li {
    > button.btn.btn-nostyle {
      padding: 5px 0;
      border-bottom: 1px solid #ddd;
      text-align: left;
      width: 100%;
      i {
        color: #999;
        width: 20px;
        text-align: center;
        margin-top: 2px;
        line-height: 1;
      }
    }
    &:last-child > button.btn.btn-nostyle {
      border-bottom: 0 transparent;
    }
  }
  li.current {
    background-color: #eee;
  }
  .pinned {
    border-bottom: 2px solid #ddd;
    font-weight: bold;
  }
}
