@import "../colors";

.SavedLocationChooser {
  position: absolute;
  font-family: Whitney, "Trebuchet MS", Arial, sans-serif;
  z-index: 0;
  top: 16px;
  left: 440px;
  width: 270px;

  .accessory {
    position: absolute;
    right: 2px;
    top: 1px;
    padding: 1px 3px;
    background-color: white;
  }

  input,
  .menu {
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 14px;
    outline: none; 
  }
  // Note: this is not standard css (https://css-tricks.com/almanac/selectors/p/placeholder/)
  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #777;
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: #777;
  }
  input:-ms-input-placeholder { /* IE 10+ */
    color: #777;
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: #777;
  }

  input {
    border: 1px solid transparent;
    padding: 0px 12px;
    // height: 28.5px;
    height: 26px;
  }
  .menu {
    z-index: -1;
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        margin: 0;
        padding: 3px 12px;
        border-top: 1px solid #eee;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -moz-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        &.current {
          background-color: #FAFAFA;
        }
        .choose-button {
          text-align: left;
          text-decoration: none;
          line-height: 1.3;
          white-space: inherit;
          .small {
            margin: 0;
            dt {
              display: inline-block;
              opacity: 0.8;
              margin-right: 3px;
              font-weight: 600;
              &:after {
                content: ":";
              }
            }
            dd {
              display: inline-block;
              margin-right: 5px;
            }
          }
        }
        .remove-button {
          padding: 0;
          border: 0 transparent;
          color: $text-grey;
          background-color: transparent;
          &:hover {
            color: red;
          }
          margin-left: 10px;
        }
      }
    }
  }
}
@media (max-width: 880px) {
  .SavedLocationChooser {
    top: 60px;
    left: 20px;
  }
}
