.SplitTaxon > *:first-child {
  content: '';
}
.taxon.has-com-name .sciname {
  color: #aaa;
  white-space: nowrap;
}
.taxon.has-com-name .sciname:before { content: '('; display: inline-block; }
.taxon.has-com-name .sciname:after { content: ')'; display: inline-block; }
.taxon.has-com-name.no-parens .sciname:before { content: ''; display: inline-block; }
.taxon.has-com-name.no-parens .sciname:after { content: ''; display: inline-block; }
.taxon .altname { color: #aaa; }
