.TaxonAutocomplete,
body > [role="dialog"] .TaxonAutocomplete {
  .ui-autocomplete {
    font-size: 1.0em;
    li {
      width: 100%;
    }
  }
  li.warning {
    background: #e66666;
    text-align: center;
    cursor: default;
    list-style: none;
  }
  li.ui-state-focus {
    background: #f6f6f6;
  }
  .ac-select-thumb {
    margin: 0;
    padding: 0;
    height: 34px;
    width: 34px;
    text-align: center;
    .glyphicon-search {
      top: 3px;
      left: 1px;
    }
  }
}
