.TaxonAutocomplete,
body > div > [role="dialog"] .TaxonAutocomplete {
  .ui-autocomplete {
    font-size: 1.0em;
    li {
      width: 100%;
    }
    .ac-label {
      padding: 0px 9px;
    }
  }
  .ac-select-thumb {
    margin: 0;
    padding: 0;
    height: 34px;
    width: 34px;
    text-align: center;
    .glyphicon-search {
      top: 3px;
      left: 1px;
    }
  }
}
