.UserText a {
  cursor: pointer;
}
.UserText .content {
  position: relative;
  overflow: hidden;
  transition: height 2s;
  overflow-wrap: break-word;
}

.UserText .content img {
  max-width: 100%;
}
