.UserText {
  &.inline {
    display: inline;
    p {
      display: inline;
    }
  }
  a {
    cursor: pointer;
  }
  .content {
    position: relative;
    overflow: hidden;
    transition: height 2s;
    overflow-wrap: break-word;
    img {
      max-width: 100%;
    }
    > p:last-child,
    > ul:last-child,
    > ol:last-child,
    > blockquote:last-child {
      margin-bottom: 0;
    }
  }
  .btn-nostyle.linky {
    vertical-align: top;
  }
}
