- taxon = listed_taxon.taxon
.col-md-3
  .thumbnail
    = link_to "", taxon, class: "scaledimg", style: "background-image: url('#{taxon_image_url(taxon, size: "medium")}')"
    .caption
      = render( partial: "shared/taxon", object: taxon, locals: { truncate: true, link_url: taxon } )
