.col-md-3.col-sm-3
  .media
    .media-left
      = link_to(image_tag(friend.icon.url(:thumb), :class => 'media-object img-circle', :style => "max-width:50px;max-height:50px;", :width => 50), person_by_login_path(friend.login))                                          
    .media-body
      %h4.media-heading= link_to friend.login, person_by_login_path(friend.login)
      / %span.glyphicon.glyphicon-eye-open{"aria-hidden" => "true"}
      %i.fa.fa-binoculars{"aria-hidden" => "true"}
      = link_to friend.observations.count, observations_by_login_path(friend.login)