<%- content_for(:extrajs) do -%>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.time_zone_select').selectLocalTimeZone()
      $('#license_all').click(function() {
        $('.license_fields input[type=checkbox]').click()
      })
    })    
  </script>
<%- end -%>

<input type="checkbox" id="license_all" checked="checked"/>
<span class="label">
  <label for="license_all">Yes, license my photos and observations so scientists can use my data!</label>
</span>
<div class="stacked description">
  Check this box if you want to apply a
  <a href='http://creativecommons.org/licenses/by-nc/3.0/' target='_blank'>Creative Commons Attribution-NonCommercial license</a>
  to your photos. You can choose a different license or remove the license
  later, but this is the best license for sharing with researchers.
</div>
<div class="license_fields" style="display:none;">
  <%= builder.check_box :preferred_observation_license, {:checked => true}, Observation::CC_BY_NC,
    :label => false %>
  <%= builder.check_box :preferred_photo_license, {:checked => true}, Observation::CC_BY_NC, 
    :label => false %>
</div>
