<%-
  observations = if @update_cache && @update_cache[:observations]
    updates.map{|u| @update_cache[:observations][u.notifier_id]}
  end.compact
  observations = updates.map{|u| u.notifier}.compact if observations.blank?
  
  update = updates.last
  resource = if @update_cache && @update_cache[update.resource_type.underscore.pluralize.to_sym]
    @update_cache[update.resource_type.underscore.pluralize.to_sym][update.resource_id]
  end
  resource ||= update.resource
  login = resource.login
  
  target_id = bootstrapTargetID
-%>

<div class="timeline-body">
  <%= render partial: 'observations/observations_component_for_dashboard', locals: {observations: observations, target_id: target_id} %>
</div>
<%- if observations.count > 1 %>
  <%- 
    created_at_times = observations.map{|o| o.created_at.blank? ? nil : o.created_at }.compact.uniq.sort
    created_d1 = created_at_times.min.strftime("%Y-%m-%dT%H:%M:%S%z")
    created_d2 = created_at_times.max.strftime("%Y-%m-%dT%H:%M:%S%z")
  -%>
  <div class="timeline-footer">
    <%= link_to t(:view_observations), observations_path({user_id: login, created_d1: created_d1, created_d2: created_d2, subview: "grid"}), class: "btn btn-sm btn-primary" %>
    <% if observations.count > 4 -%>
      <button type="button" class="btn btn-sm btn-default btn_expand collapsed pull-right" data-toggle="collapse" data-target="<%="#expand#{target_id}" %>" aria-pressed="false" autocomplete="off">
        <span class="expand_inactive"><i class="glyphicon glyphicon-collapse-down"></i> Show More...</span>
        <span class="expand_active"><i class="glyphicon glyphicon-collapse-up"></i> Show Less</span>
      </button>
    <% end -%>    
  </div>
<% end %>
