<%-
  @observation_columns = 3
-%>
<%- content_for(:title) do -%>
  <%= @title = t(:recent_updates) %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .updatecontent p:first-child { margin-top: 0; }
    @media all and (orientation: portrait) {
      .updatecontent td { max-width: 210px; overflow:hidden; }
    }
    @media all and (orientation: landscape) {
      .updatecontent td { max-width: 360px; overflow:hidden; }
    }
  </style>
<%- end -%>
<h2><%= @title %></h2>
<%= render_in_format :html, :partial => 'shared/updates_table' %>
<div class="pagination upstacked">
  <%= link_to(t(:more), url_for_params(:from => @pagination_updates.last.id), :class => "readmore") unless @pagination_updates.blank? %>
</div>
