<% content_for(:title) do %>
  <%= @title = params.has_key?('following') ? "People #{h @user.login} Follows" : "People Following #{h @user.login}"%>
<% end %>
<% content_for(:extracss) do %>
<style type="text/css" media="screen">
  table {width: 100%;}
  td .usericon{vertical-align:middle;}
  td{vertical-align:middle;}
  td .description{display:block;}
</style>
<% end %>

<div id="pageheader" class="column span-24">
  <div class="breadcrumbs">
    <%= link_to "Back to #{possessive(@user)} profile", 
                person_path(@user),
                :class => 'back crumb' %>
  </div><!-- /#breadcrumbs -->
  <h2><%= @title %></h2>
</div>

<div class="column span-24">
  <%= render :partial => 'table' %>
</div>
