<h2><%= possessive @selected_user, :capitalize => true %> Profile</h2>

<center>
  <%= user_image @selected_user, :size => "medium" %>
</center>

<%= formatted_user_text @selected_user.description %>

<ul>
  <li><%= link_to "Observations", observations_by_login_path(@selected_user.login) %></li>
</ul>
