%h2=t :forgot_your_password

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :builder => DefaultFormBuilder, 
    :html => { :method => :post, :class => "clear" }) do |f|
  - if resource.errors[:email] && resource.errors[:email] == ["not found"]
    .notice.box= t :we_couldnt_find_a_user
  - else
    = devise_error_messages!
  = f.email_field :email, :class => "text full"
  %button.full.default.button=t(:send_me_reset_password_instructions)
