version: "2"
services:

  redis:
    container_name: redis
    image: redis:6.0.3
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

  memcached:
    container_name: memcached
    image: memcached:1.6.6
    ports:
      - 11211:11211

  pg:
    container_name: pg
    image: postgis/postgis:12-3.0
    environment:
      POSTGRES_USER: 'inaturalist'
      POSTGRES_PASSWORD: 'inaturalist'
    ports:
      - 5432:5432
    volumes:
      - pg_data:/var/lib/postgresql/data

  es:
    container_name: es
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.5
    environment:
      - discovery.type=single-node
    ports:
      - 9200:9200
    volumes:
      - es_data:/usr/share/elasticsearch/data
    command: >
      /bin/sh -c "bin/elasticsearch-plugin list | grep -q analysis-kuromoji
      || bin/elasticsearch-plugin install analysis-kuromoji;
      /usr/local/bin/docker-entrypoint.sh"

  rails:
    container_name: rails
    image: rails:1.0
    environment:
      RAILS_ENV: development
      INAT_DB_HOST: pg
      INAT_DB_USER : 'inaturalist'
      INAT_DB_PASS: 'inaturalist'
    ports:
      - 3000:3000

  api:
    container_name: api
    image: api:1.0
    environment:
      NODE_ENV: development
      INAT_DB_HOST: pg
      INAT_DB_USER : 'inaturalist'
      INAT_DB_PASS: 'inaturalist'
      INAT_ES_HOST: es
      INAT_REDIS_HOST: redis
      INAT_WEB_HOST: host.docker.internal
    ports:
      - 4000:4000
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  redis_data:
  pg_data:
  es_data:
