- content_for(:extracss) do
  = stylesheet_link_tag "shared/404"
- content_for(:title) do
  404 Not Found
#wrapper.clear
  %img{ src: asset_path("404mole.png") }
  #message
    %h1= t("views.shared.not_found.sorry_that_doesnt_exist")
    .readable.description
      = t("views.shared.not_found.even_our_dedicated_search_mole_couldnt")
