- content_for(:extracss) do
  = stylesheet_link_tag "shared/404"
- content_for(:title) do
  404 Not Found
#wrapper.clear
  %img{ src: asset_path("404mole.png") }
  #message
    %h1 Sorry, that doesn't exist!
    .readable.description
      Even our dedicated search mole couldn't find anything!
