<%# Renders a barchart, expects data to be an array of label/value pairs, 
    like [['donuts', 12], ['americanos', 45]]
%>
<%- 
  max = data.map(&:last).max
  min_remainder_label_width ||= nil
  min_value_label_width ||= nil
-%>
<div class="barchart">
  <% if !data.blank? %>
    <% for label_text, value in data %>
      <%= render :partial => "shared/barchart_datum", :locals => { 
        :value => value, 
        :max => max, 
        :label_text => label_text,
        :min_remainder_label_width => min_remainder_label_width,
        :min_value_label_width     => min_value_label_width
      } %>
    <% end %>
  <% end %>
</div>