<div id="footer" class="clear">
	<div id="footer_text">
		<a href="/about">About iNaturalist</a> &nbsp;
		<a href="/faq">FAQ</a> &nbsp;
		<a href="http://groups.google.com/group/inaturalist">Feedback</a> &nbsp;
    <a href="http://inaturalist.org/terms.html">Terms of Service</a> &nbsp;
    <a href="http://inaturalist.org/privacy.html">Privacy Policy</a> &nbsp;
    <span class="description">|&nbsp; Follow us on</span>
    <a href="http://twitter.com/inaturalist">Twitter</a> <span class="description">&amp;</span>
    <a href="http://www.facebook.com/pages/iNaturalistorg/63336575498">Facebook</a> &nbsp;
    
    <p style="margin: 10px 0">
      <a href="http://conferences.oreilly.com/where">
        <img src="http://assets.en.oreilly.com/1/event/34/where2010_spkr_210x60.jpg" width="210" height="60"  border="0"  alt="Where 2.0 Conference 2010" title="Where 2.0 Conference 2010" />
      </a>
    </p>
	</div>
</div>
<%# if logged_in? && is_mobile_device? && @mobilized && current_user.is_admin? -%>
<%- if is_mobile_device? && @mobilized -%>
  <div class="flash notice">
    <%= link_to "Mobile view available", toggle_mobile_path, :id => "mobiletogglelink" %>
  </div>
<% end -%>
