<div id="footer" class="clear">
	<div id="footer_text">
		<a href="/about">About iNaturalist</a> &nbsp;
		<a href="/faq">FAQ</a> &nbsp;
		<a href="http://groups.google.com/group/inaturalist">Feedback</a> &nbsp;
    <a href="http://inaturalist.org/terms.html">Terms of Service</a> &nbsp;
    <a href="http://inaturalist.org/privacy.html">Privacy Policy</a> &nbsp;
    <span class="description">|&nbsp; Follow us on</span>
    <a href="http://twitter.com/inaturalist">Twitter</a> <span class="description">&amp;</span>
    <a href="http://www.facebook.com/pages/iNaturalistorg/63336575498">Facebook</a> &nbsp;
	</div>
</div>
<% if logged_in? && current_user.is_admin? && @mobilized -%>
  <div class="flash notice">
    <%= link_to "Mobile view available", toggle_mobile_path %>
  </div>
<% end -%>
