<div id="footer" class="clear">
	<div id="footer_text">
		<a href="/about">About iNaturalist</a> &nbsp;
		<a href="/faq">FAQ</a> &nbsp;
		<a href="http://groups.google.com/group/inaturalist">Tell Us What You Think!</a> &nbsp;
    <a href="http://inaturalist.org/terms.html">Terms of Service</a> &nbsp;
    <a href="http://inaturalist.org/privacy.html">Privacy Policy</a>
	</div>
</div>
