<div id="footer" class="clear">
  <p><%= link_to "View non-mobile site", toggle_mobile_path %></p>
  <% if logged_in? -%>
    <p class="meta">(<%= link_to "Sign Out", logout_path, :class => "meta" %>)</p>
  <% end -%>
</div>