- site = @site || CONFIG
- if defined?(is_mobile_device?) && is_mobile_device? && @mobilized
  .box.notice.centered
    = link_to t(:mobile_view_available), toggle_mobile_path, :id => "mobiletogglelink"
#footer.bootstrap
  .container
    .row
      .col-xs-2
        %p
          %a{ href: site.about_url }=t :about
        %p
          %a{ href: site.help_url }=t :help
        %p
          %a{ href: site.feedback_url }=t :feedback
        - unless site.press_url.blank?
          %p
            %a{ href: site.press_url }=t :press
      .col-xs-2
        - unless site.blog_url.blank?
          %p
            %a{ href: site.press_url }=t :our_blog
        %p
          %a{ href: site.developers_url }=t :developers
        %p
          %a{ href: site.terms_url }=t :terms_service
        %p
          %a{ href: site.privacy_url }=t :privacy
      .col-xs-1
        :ruby
          pieces = []
          pieces << link_to(t(:facebook), site.facebook_url, :class => "social-media-link facebook") unless site.facebook_url.blank?
          pieces << link_to(t(:twitter), site.twitter_url, :class => "social-media-link twitter") unless site.twitter_url.blank?
        - if pieces.blank?
          &nbsp;
        - else
          - pieces.each do |link|
            = link
      .col-xs-1
        &nbsp;
      = raw site.custom_footer if site.custom_footer
#inatnotice.bootstrap
  .container
    .row
      .col-xs-12
        =t :member_of_the_inaturalist_network_html, url: "/pages/network"
        &nbsp;
        |
        &nbsp;
        =t :powered_by_inaturalist_open_source_software_html
