<div id="header" class="clear">
  <% if logged_in? -%>
    <%= link_to( t(:welcome, :login => "#{current_user.login}"), dashboard_path, :class => "right") %>
  <% else %>
    <%= link_to(t(:sign_in), new_user_session_path, :class => "right") %>
  <% end -%>
  <a href="/" title="<%= APP_CONFIG[:site_name] %>" class="logolink">
    <img src="/images/logo-small.gif" alt="iNaturalist logo" width="118" height="22"/>
  </a>
</div>
