<div id="header" class="clear">
  <% if logged_in? -%>
    <%= link_to("Welcome, #{current_user.login}", dashboard_path, :class => "right") %>
  <% else %>
    <%= link_to("Sign in", new_user_session_path, :class => "right") %>
  <% end -%>
  <a href="/" title="<%= APP_CONFIG[:site_name] %>" class="logolink">
    <%= image_tag INAT_CONFIG['logo'] || 'logo-small.gif', :alt => SITE_NAME, :width => 118 %>
  </a>
</div>
