<%- paginator ||= page_results -%>
<span class="description">
  <% if paginator.total_entries > 0 -%>
    <%= t(:x_of_y,
      x: "#{paginator.offset == 0 ? 1 : paginator.offset} &ndash; #{[paginator.offset + paginator.per_page, paginator.total_entries].min}",
      y: "<span class=\"count\">#{number_with_delimiter paginator.total_entries}</span>".html_safe
    ).html_safe %>
  <% else %>
    <span class="count"><%= number_with_delimiter paginator.total_entries %></span>
  <% end -%>
</span>
