<%- first ||= false %>
<span class="assessment-section-list-item inlineblock <%= 'first' if first %>">
	<%
	link_text = <<EOT
			<span class="ui-icon ui-icon-comment inlineblock"> </span>
			#{section.comments.count}
EOT
%>
	<%= link_to truncate(section.title, :length => 15), project_assessment_path(section.assessment.project, section.assessment, :anchor => section.to_param), :class => 'assessment-section-list-item-name' %>
	<%= link_to link_text.html_safe, project_assessment_path(section.assessment.project, section.assessment, :anchor => section.to_param), :class => 'assessment-section-list-item-comment-count' %>
</span>
