<%- 
  first ||= false
  assessment ||= section.assessment
  project ||= section.assessment.project
  comment_count ||= @comment_counts ? @comment_counts[section.id] : section.comments.count
-%>
<span class="assessment-section-list-item inlineblock <%= 'first' if first %>">
	<% link_text = <<EOT
			<span class="ui-icon ui-icon-comment inlineblock"> </span>
			#{comment_count}
EOT
%>
	<%= link_to truncate(section.title, :length => 15), project_assessment_path(project, assessment, :anchor => section.to_param), :class => 'assessment-section-list-item-name' %>
	<%= link_to link_text.html_safe, project_assessment_path(project, assessment, :anchor => section.to_param), :class => 'assessment-section-list-item-comment-count' %>
</span>
