%h2
  Step 1: Sample Generation and Assignment

%p
  From the iNaturalist database of observations (A), we generated a random sample (B). Subsamples were assigned to candidate validators based on the criteria described below. We aimed to assign each sample observation to multiple candidate validators ( "Target validator redundancy" ).