#new_flag {
  .flag-reason-input {
    max-width: 300px;
  }
  .comment-description {
    clear: both;
  }
  .initial-comment-body {
    height: 150px;
  }
  .submit-flag-button {
    margin: 140px 0 50px 0;
  }
}
