<% content_for(:title) do %>
  A Community for Naturalists
<% end %>

<ul style="width: 100%">
  <li><%= link_to "Nearby observations", nearby_observations_path %></li>
  <li><%= link_to "Add an observation", new_observation_path %></li>
  <% if logged_in? -%>
    <li><%= link_to "Add observations from a list", add_observations_from_list_path %></li>
  <% end -%>
</ul>
