th, td {
  vertical-align: top;
}
.photocell {
  min-width: 500px;
}
.mini.observations .observation {
  border: 0 transparent;
}
th {
  border-bottom: 1px solid #DDD;
}
.button.rotateleft {
  padding-left: 25px;
  background: image-url( "silk/arrow_turn_left.png" ) 5px 5px no-repeat;
}
.button.rotateright {
  padding-left: 25px;
  background: image-url( "silk/arrow_turn_right.png" ) 5px 5px no-repeat;
}
h3.content-hidden {
  text-align: center;
  margin-top: 100px;
  & > span {
    cursor: pointer;
  }
}
.popover {
  border: 1px solid rgba( 0, 0, 0, 0.23);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.2 );
  box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.2 );
  background-color: #fff;
  font-size: 14px;
  max-width: 276px;
  text-align: left;
  line-height: 1.5em;
  &.top {
    margin-top: -10px;
  }
  .arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    bottom: -11px;
    margin-left: -11px;
    border-width: 11px;
    border-top-color: rgba( 0, 0, 0, 0.25 );
    border-bottom-width: 0;
    &:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 10px;
      bottom: 1px;
      margin-left: -10px;
      content: " ";
      border-top-color: #fff;
      border-bottom-width: 0;
    }
  }
  p {
    font-size: 100%;
    font-family: inherit;
  }
  .popover-content {
    padding: 9px 14px;
  }
}
