<div class='photoSelectorFriends facebookGroups groupSelector'>
  <h4>Select a group</h4>
  <table>
    <% @groups.each do |group| %>
      <tr class='group' data-group_id='<%= group['id'] %>'>
        <td><%= link_to(image_tag("https://graph.facebook.com/#{group['id']}/picture"), '') %></td>
        <td><%= link_to(group['name'], '') %></td>
      </tr>
    <% end %>
  </table>
</div>
