<h2>Your Facebook Account Information</h2>

<!-- options info -->
<div class="column span-13">
<% if @user.facebook_identity -%>
  <p>
    <% @album_cover_photos.each do |photo| -%>
      <img src="<%= photo['cover_photo_src'] -%>" />
    <% end -%>
  </p>
  <p>
    Your iNaturalist account is currently linked to your Facebook account.
  </p>
  <p>
    Keeping your iNaturalist account linked to your Facebook account allows you to
    add multiple photos to your observations.  Of course, if you ever want
    iNaturalist and Facebook to break up, we won't stop you, you just won't be
    able to add photos. Sometimes this might be for the best, like if you create
    a new Facebook account that you want to link iNaturalist to.
  </p>
<% else -%>
<h3>Your iNaturalist account is not linked to your Facebook account :(</h3>
<p class="description">
  To connect Facebook with iNat, click the link on the right and sign into
  Facebook.com. 
</p>
<p class="description">
  We will never ask you for your Facebook password (but Facebook might, check the
  url that the button sends you and make sure it's Facebook.com). We will also
  won't change your Facebook data unless you want us to. We're the good guys!
</p>

<p class="description">
  Also, keep in mind that if you log in to iNat via Facebook, we will
  automatically re-link your iNat and Facebook accounts. Seems reasonable that
  if you use Facebook you'll want to be able to import Facebook photos, right?
</p>
<% end -%>

<hr/>

<%
=begin
%>
<p><!-- auto import from Facebook into your queue -->
<% if @user.facebook_identity && @user.facebook_identity.auto_import %>
<!-- You currently have your iNaturalist account setup to import from your Facebook account automatically. -->
<% elsif @user.facebook_identity && !@user.facebook_identity.auto_import %>
<!-- You currently do not have your iNaturalist account setup to import from your Facebook account. -->
<% end %>
</p>
<%
=end
%>
</div>

<!-- options actions-->
<div class="column span-10 last">
<p>
<% if @user.facebook_identity %>
  <%= link_to 'Unlink your Facebook and iNaturalist Accounts', 
    omniauth_disconnect_path('facebook'), :class => 'delete button', 
    :style=>'font-size:13px;', :method => 'delete' %>
<% else %>
  <%= link_to 'Yes, take me to Facebook!', "/auth/facebook", 
              :onclick => "$('.facebook-button').toggle();", :class => 'facebook-button default button' %>
  <div class="facebook-button" style="display:none;">
    <span class="loading status">Connecting to Facebook...</span>
  </div>
<% end %>
</p>
</div>
