- content_for :extrahead do
  = stylesheet_link_tag "charts/week_stats"
  = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"
  = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"
  = javascript_include_tag "charts/week_stats"
