<p>
  La evaluación de la calidad de los datos es un resumen de la exactitud de
  una observación. Todas las observaciones comienzan con el grado de
  <strong>"casual"</strong> y alcanzan el grado de
  <strong>"investigación"</strong> cuando
</p>

<ul>
  <li>
    la comunidad «Bioexplorador» <strong> está de acuerdo con la
    identificación de un observador</strong>, toda vez que una identificación
    "en acuerdo" es la que concuerda exactamente o es un taxón hijo de la
    identificación del observador. Por ejemplo, si Scott dice que es un
    mamífero y Ken-ichi dice que es un <em>Homo sapiens</em>, entonces Ken-
    ichi está de acuerdo con Scott.
  </li>
  <li>la observación <strong>tiene una fecha</strong></li>
  <li>la observación <strong>está geo referenciada</strong> (es decir, tiene coordenadas de lat/lon)</li>
  <li>la observación <strong>tiene fotos o sonidos</strong></li>
</ul>

<p>Las observaciones volverán al grado "casual" si no se cumplen las condiciones anteriores o</p>

<ul>
  <li>a comunidad acuerda que la <strong>ubicación no parece ser acertada</strong> (es decir, monos en medio del océano, hipopótamos en edificios, etc.)</li>
  <li>la comunidad acuerda que el <strong>organismo no es salvaje/naturalizado</strong> (es decir, cautivo o cultivado por humanos o alienígenas espaciales inteligentes)</li>
</ul>
