  <p>
    The data quality assessment is a summary of an observation's accuracy. All
    observations start as <strong>"casual"</strong> grade, and achieve
    <strong>"research"</strong> grade when
  </p>
  
  <ul>
    <li>
      the <%= CONFIG.site_name_short %> <strong>community agrees with the observer's ID</strong>, where an "agreeing"
      identification is one that matches exactly or is of a child taxon of the
      observer's ID. For example, if Scott says it's a mammal and Ken-ichi
      says it's <em>Homo sapiens</em>, then Ken-ichi agrees with Scott.
    </li>
    <li>the observation <strong>has a date</strong></li>
    <li>the observation <strong>is georeferenced</strong> (i.e. has lat/lon coordinates)</li>
    <li>the observation <strong>has a photo</strong></li>
  </ul>
  
  <p>Observations will revert to "casual" grade if the above conditions aren't met or</p>
  
  <ul>
    <li>the community agrees the <strong>location doesn't looks accurate</strong> (e.g. monkeys in the middle of the ocean, hippos in office buildings, etc.)</li>
    <li>the community agrees the <strong>organism isn't wild/naturalized</strong> (e.g. captive or cultivated by humans or intelligent space aliens)</li>
  </ul>