<p>
  La evaluación de la calidad de los datos es un resumen de la presición de
  una observación. Todas las observaciones comienzan con el grado de
  <strong>"casual"</strong> y alcanzan el grado de
  <strong>"investigación"</strong> cuando:
</p>

<ul>
  <li>
    La comunidad de <%= CONFIG.site_name_short %> <strong> está de acuerdo con la
    identificación de un observador</strong>, toda vez que una identificación
    "en acuerdo" concuerde exactamente o es un clase o especie hijo de la
    identificación del observador. Por ejemplo, si Scott dice que es un
    mamífero y Ken-ichi dice que es un <em>Homo sapiens</em>, entonces Ken-
    ichi está de acuerdo con Scott.
  </li>
  <li>La observación <strong>tiene una fecha</strong></li>
  <li>La observación <strong>está georeferenciada</strong> (es decir, tiene coordenadas de latitud y longitud)</li>
  <li>La observación <strong>tiene una foto</strong></li>
</ul>

<p>Las observaciones volverán al grado "casual" si las anteriores condiciones no se cunplen o:</p>

<ul>
  <li>La comunidad de <%= CONFIG.site_name_short %> acuerda que la <strong>ubicación no parece ser acertada</strong> (es decir, monos en medio del océano, hipopótamos en edificios, etc.)</li>
  <li>La comunidad de <%= CONFIG.site_name_short %> acuerda que el <strong>organismo no estaba en cautiverio o fue cultivado(a) </strong>
        (no estaba en un jardín, zoológico, acuario o alguna otra situación en la que sólo estaba presente porque los seres humanos la destinarón a estar allí)</li>
</ul>
