= content_for :title do
  = @title = t(:x_does_not_exist, :x => @page.title).html_safe
%h2= wt @title
.nocontent.meta
  - if edit_allowed?
    =(t :no_such_wiki_page_html, new_url: wiki_page_new_path ).html_safe
  - else
    =(t :no_such_wiki_page ).html_safe
