- content_for :title do
  = @title = @page.title
- content_for :extrajs do
  :javascript
    $(document).ready(function() {
      $('#tabs, .tabs').tabs()
    })
%h2=h @title
  
= wiki_content @page.content

.meta.ui
  - if is_curator?
    .right
      = wiki_page_actions
  = wiki_page_info
