.wikipedia_description {
  overflow: hidden;
  width: 100%;
  line-height: 1.6em;

  p {
    line-height: 1.8em;
  }

  .infobox, 
  .infobox_v2,
  table.infobox, 
  .infobox_v2,
  table.infobox_v2,
  .tright,
  .tleft {
    float: right;
    clear: right;
    background-color: #eee;
    border-left: 20px solid white;
    border-bottom: 20px solid white;
    padding: 10px;
  }

  ul.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .gallerybox {
    .thumb {
      float: none;
      margin: 0;
      margin-bottom: 0.6em;
      padding: 0;
      background-color: #eee;
      > div {
        padding: 10px;
        text-align: center;
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 140px;
      }
    }
    .gallerytext {
      font-size: smaller;
    }
  }

  .sisterproject {
    width: 200px;
  }

  .sisterproject .floatleft {
    width: auto;
    float: left;
  }

  h1,
  h2,
  h3,
  h4 {
    border-bottom: 1px solid #eee;
  }

  h3 {
    line-height: 1.5;
  }

  .dablink,
  .rellink {
    margin: 1em;
    font-style: italic;
  }

  .thumbimage {
    margin-bottom: 0.6em;
  }

  .thumbcaption {
    font-style: italic;
    font-size: smaller;
    line-height: 1.6;
  }

  .thumbcaption,
  .noprint {
    color: #888;
  }

  .magnify {
    width: auto;
    float: right;
    margin-left: 1em;
  }

  table,
  tr,
  td,
  th {
    border: 0 none;
  }

  th {
    background-color: #e3e3e3 !important;
  }

  th, td {
    padding: 10px;
  }

  .toc {
    line-height: 1.8;
  }
  .toccolours {
    background: #f8f9fa;
  }

  a.new {
    color: #ba0000;
  }

}
