<%- 
  taxon ||= classification_li || @taxon 
  taxon_class = Taxon::ICONIC_TAXA_BY_ID[taxon.iconic_taxon_id].try(:name)
  link_method ||= lambda {|taxon| taxon.name == "Life" ? taxa_path : taxon_path(taxon)}
  url ||= link_method.call(taxon)
-%>
<li class="<%= taxon_class %>">
  <%= render :partial => 'shared/taxon', 
             :object => taxon,
             :locals => { :include_parens => false, :link_url => url } %>
</li>
