<% content_for(:extracss) do %>
  <%= stylesheet_link_tag 'taxa', 'taxa/form', 'taxon_browser' %>

  <style type="text/css" media="screen">
    .jqmWindow {
      display: none;
      position: fixed;
      top: 10%;
      left: 50%;
      margin-left: -350px;
      width: 700px;
      background-color: #EEE;
      color: #333;
      border: 1px solid black;
      padding: 20px;
    }

    .jqmOverlay { background-color: #000; }

    * html .jqmWindow {
      position: absolute;
      top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
    }

    .small {
      font-size:  100;
    }

    .potential_clashes {
      margin-bottom: 10px;
      display:  none;
    }
    td.fig20 {
      width: 20%
    }
    td.fig10 {
      width: 10%
    }
  </style>
<% end %>

<% content_for(:extrajs) do %>
<%= javascript_include_tag 'jquery/plugins/jquery.string.1.0', 
                           "jquery/plugins/inat/photo_selectors.js",
                           "jquery/plugins/jqModal",
                           "taxon_browser" %>

<script type="text/javascript" charset="utf-8">
var CONSERVATION_STATUS_AUTHORITIES = <%=json_escape @conservation_status_authorities.to_json.html_safe %>
  $(document).ready(function() {
    $('#parent_name').simpleTaxonSelector({
      taxonIDField: $('#taxon_parent_id')
    })
    
    // Setup taxon browser
    $('body').append(
      $('<div id="taxonchooser" class="clear modalbox dialog"></div>').append(
        $('<div id="taxon_browser" class="clear"></div>').append(
          $('<div class="loading status">Loading...</div>')
        )
      ).hide()
    );

    $('#taxonchooser').jqm({
      overlay: 30,
      onShow: function(h) {
        if (h.c.overlay > 0) {
          h.o.prependTo('body');
        }
        h.w.fadeIn(500);
        if (h.w.find('#taxon_browser > .loading').length == 1) {
          h.w.find('#taxon_browser').load(
            '/taxa/search?partial=browse&js_link=true',
            function() {TaxonBrowser.ajaxify()});
        }
      }
    });

    $('#conservation_statuses .conservation_status').conservationStatus()
    $('#conservation_statuses').bind('cocoon:before-remove', function(e, item) {
      $(this).data('remove-timeout', 1000)
      item.slideUp()
    })
    $('#conservation_statuses').bind('cocoon:after-insert', function(e, item) {
      $(item).css('display', 'none')
      $(item).slideDown(function() {
        $(item).conservationStatus()
      })
    });
    $("#conservation_statuses a.add_fields").
      data("association-insertion-method", 'before').
      data("association-insertion-node", 'this');

    $('#taxon_photos').sortable({
      items: "> .taxon_photo",
      cursor: "move",
      placeholder: 'taxon_photo sorttarget',
      update: function(event, ui) {
        $selection = $('.taxon_photo')
        $selection.each(function() {
          $('input[name*="position"]', this).val($selection.index(this) + 1)
        })
      }
    });

    $('#taxon_complete').change(function() {
      if ( $(this).get(0).checked ) {
        $('.field.complete_rank_field').show( );
      } else {
        $('.field.complete_rank_field').hide( );
      }
    });

    $( document ).on( "change", "#taxon_parent_id", function( ) {
      var old_ancestors = $( "#taxon-ancestor-id" ).val( ).split( "/" );
      var old_parent = old_ancestors[old_ancestors.length - 1];
      var new_parent = $( "#taxon_parent_id" ).val( );
      if( $.isNumeric( new_parent ) ){
        $.ajax( {
          type: "get",
          dataType: "json",
          url: "/taxa/" + new_parent,
          success: function( s ) {
            var ancestry_string = s.ancestry;
            if( ancestry_string == null ){
              var ancestry = [];
            }else{
              var ancestry = ancestry_string.split( "/" );
            }
            ancestry.push(new_parent)
            if( ancestry.indexOf( old_parent ) == -1 ){
              $( '.potential_clashes' ).show();
              $( '#dialog' ).jqm( { ajax: 'clashes?context=taxon&new_parent_id=' + new_parent , trigger: 'a.potential_clashes_link' } );
            }else{
              $( '.potential_clashes' ).hide();
            }
          },
          error: function( e ) {
            $( '.potential_clashes' ).hide();
          }
        } );
      }
    } );
  });

  $.fn.conservationStatus = function() {
    this.each(function() {
      $('.place_id_field input', this).chooser({
        collectionUrl: '/places/autocomplete.json',
        resourceUrl: '/places/{{id}}.json?partial=autocomplete_item'
      })
    })
  }
  
  function handleTaxonClick(e, taxon) {
    $.fn.simpleTaxonSelector.selectTaxon($('.simpleTaxonSelector:first'), taxon);
    $('#taxonchooser').jqmHide();
  }
  
  function afterFindPlaces() {
    TaxonBrowser.ajaxify('#find_places')
  }
</script>
<% end %>
