<% content_for(:extracss) do %>
  <%= stylesheet_link_tag 'taxa', 'taxa/form', 'taxon_browser' %>
<% end %>

<% content_for(:extrajs) do %>
<%= javascript_include_tag 'jquery/plugins/jquery.string.1.0', 
                           "jquery/plugins/inat/photo_selectors.js",
                           "jquery/plugins/jqModal",
                           "taxon_browser" %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#taxon_photos').photoSelector({
      defaultQuery: '<%= @taxon.name %>',
      urlParams: {
        authenticity_token: encodeURIComponent(<%= form_authenticity_token.inspect %>),
        limit: 16
      }
    });
    
    $('#parent_name').simpleTaxonSelector({
      taxonIDField: $('#taxon_parent_id')
    });
    
    // Setup taxon browser
    $('body').append(
      $('<div id="taxonchooser" class="clear modalbox dialog"></div>').append(
        $('<div id="taxon_browser" class="clear"></div>').append(
          $('<div class="loading status">Loading...</div>')
        )
      ).hide()
    );

    $('#taxonchooser').jqm({
      onShow: function(h) {
        h.w.fadeIn(500);
        if (h.w.find('#taxon_browser > .loading').length == 1) {
          h.w.find('#taxon_browser').load(
            '/taxa/search?partial=browse&js_link=true',
            {}, function() {TaxonBrowser.ajaxify()});
        }
      }
    });
  });
  
  function handleTaxonClick(e, taxon) {
    $.fn.simpleTaxonSelector.selectTaxon($('.simpleTaxonSelector:first'), taxon);
    $('#taxonchooser').jqmHide();
  }
  
  function afterFindPlaces() {
    TaxonBrowser.ajaxify('#find_places')
  }
</script>
<% end %>