<% if photo.is_a?(Photo) %>
  <% if photo.id -%>
    <%= modal_image(photo, :size => :square) %>
  <% else %>
    <%= link_to image_tag(photo.square_url, :width => 75, :height => 75, :title => photo.attribution), photo.native_page_url %>
  <% end -%>
<% else %>
  <% photo_url = "http://flickr.com/photos/#{photo.photo_xml[:owner]}/#{photo.id}" %>
  <a href="<%= photo_url %>">
    <%= image_tag(photo.source_url(:square), :width => 75, :height => 75, :title => "Photo: #{photo.photo_xml['ownername']}") %>
  </a>
<% end %>
