<%- css_class ||= 'clear buttonrow' %>
<%= form_tag({:action => 'search'}, :method => :get, :class => css_class) do %>
  <label for="q"><%= t(:search) %></label>
  <%= text_field_tag 'q', params[:q], :class => 'text' %>
  <input type="submit" class="default button" value="<%= t(:find_species) %>" />
<% end %>
