- @no_footer_gap = true
- content_for :title do
  = render "taxa/taxon.txt.erb", taxon: @taxon
- content_for :extrajs do
  :javascript
    var TAXON = #{ @node_taxon_json.encode }.results[0];
  = javascript_include_tag "taxa-photos-webpack"
- content_for :extracss do
  = stylesheet_link_tag "taxa/show2", "taxa/photos"
- content_for :extrahead do
  %meta{ name: "config:inaturalist_api_host", content: CONFIG.node_api_host }
  %meta{ name: "config:inaturalist_write_api_host", content: CONFIG.node_api_host }
#app
