- @no_footer_gap = true
- content_for :title do
  = render "taxa/taxon.txt.erb", taxon: @taxon
- content_for :extrajs do
  :javascript
    var TAXON = {
      "observations_count": 735,
      "is_active": true,
      "iconic_taxon_id": 40151,
      "taxon_photos": [{
        "photo": {
          "square_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg",
          "native_page_url": "http://www.flickr.com/photos/34353483@N00/2462240546",
          "small_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_m.jpg",
          "attribution": "(c) Vicki & Chuck Rogers, some rights reserved (CC BY-NC-SA)",
          "medium_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301.jpg",
          "id": 2487,
          "license_code": "cc-by-nc-sa",
          "large_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_b.jpg",
          "url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg",
          "original_dimensions": null
        },
        "taxon": {
          "observations_count": 735,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2008-03-19T00:36:57+00:00",
          "rank_level": 10,
          "parent_id": 41859,
          "name": "Enhydra lutris",
          "rank": "species",
          "id": 41860,
          "default_photo": {
            "square_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg",
            "attribution": "(c) Vicki & Chuck Rogers, some rights reserved (CC BY-NC-SA)",
            "medium_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301.jpg",
            "id": 2487,
            "license_code": "cc-by-nc-sa",
            "url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Sea Otter",
          "conservation_status": {
            "iucn": 40,
            "authority": "IUCN Red List",
            "geoprivacy": "obscured",
            "source_id": 37,
            "place_id": null,
            "status": "en"
          }
        }
      }, {
        "photo": {
          "square_url": "http://static.inaturalist.org/photos/2558888/square.jpg?1445581038",
          "native_page_url": "http://www.inaturalist.org/photos/2558888",
          "small_url": "http://static.inaturalist.org/photos/2558888/small.jpg?1445581038",
          "attribution": "(c) Robin Agarwal, some rights reserved (CC BY-NC)",
          "medium_url": "http://static.inaturalist.org/photos/2558888/medium.jpg?1445581038",
          "id": 2558888,
          "license_code": "cc-by-nc",
          "large_url": "http://static.inaturalist.org/photos/2558888/large.jpg?1445581038",
          "url": "http://static.inaturalist.org/photos/2558888/square.jpg?1445581038",
          "original_dimensions": {
            "width": 1921,
            "height": 1610
          }
        },
        "taxon": {
          "observations_count": 735,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2008-03-19T00:36:57+00:00",
          "rank_level": 10,
          "parent_id": 41859,
          "name": "Enhydra lutris",
          "rank": "species",
          "id": 41860,
          "default_photo": {
            "square_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg",
            "attribution": "(c) Vicki & Chuck Rogers, some rights reserved (CC BY-NC-SA)",
            "medium_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301.jpg",
            "id": 2487,
            "license_code": "cc-by-nc-sa",
            "url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Sea Otter",
          "conservation_status": {
            "iucn": 40,
            "authority": "IUCN Red List",
            "geoprivacy": "obscured",
            "source_id": 37,
            "place_id": null,
            "status": "en"
          }
        }
      }, {
        "photo": {
          "square_url": "http://static.inaturalist.org/photos/3159879/square.jpg?1458057358",
          "native_page_url": "https://www.flickr.com/photos/23660854@N07/25705188901/",
          "small_url": "http://static.inaturalist.org/photos/3159879/small.jpg?1458057358",
          "attribution": "(c) Marshal Hedin, some rights reserved (CC BY-SA)",
          "medium_url": "http://static.inaturalist.org/photos/3159879/medium.jpg?1458057358",
          "id": 3159879,
          "license_code": "cc-by-sa",
          "large_url": "http://static.inaturalist.org/photos/3159879/large.jpg?1458057358",
          "url": "http://static.inaturalist.org/photos/3159879/square.jpg?1458057358",
          "original_dimensions": {
            "width": 2048,
            "height": 1366
          }
        },
        "taxon": {
          "observations_count": 735,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2008-03-19T00:36:57+00:00",
          "rank_level": 10,
          "parent_id": 41859,
          "name": "Enhydra lutris",
          "rank": "species",
          "id": 41860,
          "default_photo": {
            "square_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg",
            "attribution": "(c) Vicki & Chuck Rogers, some rights reserved (CC BY-NC-SA)",
            "medium_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301.jpg",
            "id": 2487,
            "license_code": "cc-by-nc-sa",
            "url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Sea Otter",
          "conservation_status": {
            "iucn": 40,
            "authority": "IUCN Red List",
            "geoprivacy": "obscured",
            "source_id": 37,
            "place_id": null,
            "status": "en"
          }
        }
      }, {
        "photo": {
          "square_url": "http://static.inaturalist.org/photos/3159880/square.jpg?1458057360",
          "native_page_url": "https://www.flickr.com/photos/23660854@N07/25169790524/",
          "small_url": "http://static.inaturalist.org/photos/3159880/small.jpg?1458057360",
          "attribution": "(c) Marshal Hedin, some rights reserved (CC BY-SA)",
          "medium_url": "http://static.inaturalist.org/photos/3159880/medium.jpg?1458057360",
          "id": 3159880,
          "license_code": "cc-by-sa",
          "large_url": "http://static.inaturalist.org/photos/3159880/large.jpg?1458057360",
          "url": "http://static.inaturalist.org/photos/3159880/square.jpg?1458057360",
          "original_dimensions": {
            "width": 1846,
            "height": 1500
          }
        },
        "taxon": {
          "observations_count": 735,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2008-03-19T00:36:57+00:00",
          "rank_level": 10,
          "parent_id": 41859,
          "name": "Enhydra lutris",
          "rank": "species",
          "id": 41860,
          "default_photo": {
            "square_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg",
            "attribution": "(c) Vicki & Chuck Rogers, some rights reserved (CC BY-NC-SA)",
            "medium_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301.jpg",
            "id": 2487,
            "license_code": "cc-by-nc-sa",
            "url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Sea Otter",
          "conservation_status": {
            "iucn": 40,
            "authority": "IUCN Red List",
            "geoprivacy": "obscured",
            "source_id": 37,
            "place_id": null,
            "status": "en"
          }
        }
      }, {
        "photo": {
          "square_url": "http://static.inaturalist.org/photos/2851341/square.jpg?1452068963",
          "native_page_url": "https://www.flickr.com/photos/jmaughn/24096529112/",
          "small_url": "http://static.inaturalist.org/photos/2851341/small.jpg?1452068963",
          "attribution": "(c) J. Maughn, some rights reserved (CC BY-NC), uploaded by James Maughn",
          "medium_url": "http://static.inaturalist.org/photos/2851341/medium.jpg?1452068963",
          "id": 2851341,
          "license_code": "cc-by-nc",
          "large_url": "http://static.inaturalist.org/photos/2851341/large.jpg?1452068963",
          "url": "http://static.inaturalist.org/photos/2851341/square.jpg?1452068963",
          "original_dimensions": {
            "width": 1920,
            "height": 1440
          }
        },
        "taxon": {
          "observations_count": 735,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2008-03-19T00:36:57+00:00",
          "rank_level": 10,
          "parent_id": 41859,
          "name": "Enhydra lutris",
          "rank": "species",
          "id": 41860,
          "default_photo": {
            "square_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg",
            "attribution": "(c) Vicki & Chuck Rogers, some rights reserved (CC BY-NC-SA)",
            "medium_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301.jpg",
            "id": 2487,
            "license_code": "cc-by-nc-sa",
            "url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Sea Otter",
          "conservation_status": {
            "iucn": 40,
            "authority": "IUCN Red List",
            "geoprivacy": "obscured",
            "source_id": 37,
            "place_id": null,
            "status": "en"
          }
        }
      }, {
        "photo": {
          "square_url": "http://static.inaturalist.org/photos/1031154/square.jpg?1444283479",
          "native_page_url": "https://www.flickr.com/photos/jmaughn/14833500005/",
          "small_url": "http://static.inaturalist.org/photos/1031154/small.jpg?1444283479",
          "attribution": "(c) J. Maughn, some rights reserved (CC BY-NC), uploaded by James Maughn",
          "medium_url": "http://static.inaturalist.org/photos/1031154/medium.jpg?1444283479",
          "id": 1031154,
          "license_code": "cc-by-nc",
          "large_url": "http://static.inaturalist.org/photos/1031154/large.jpg?1444283479",
          "url": "http://static.inaturalist.org/photos/1031154/square.jpg?1444283479",
          "original_dimensions": {
            "width": 1200,
            "height": 1600
          }
        },
        "taxon": {
          "observations_count": 735,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2008-03-19T00:36:57+00:00",
          "rank_level": 10,
          "parent_id": 41859,
          "name": "Enhydra lutris",
          "rank": "species",
          "id": 41860,
          "default_photo": {
            "square_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg",
            "attribution": "(c) Vicki & Chuck Rogers, some rights reserved (CC BY-NC-SA)",
            "medium_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301.jpg",
            "id": 2487,
            "license_code": "cc-by-nc-sa",
            "url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Sea Otter",
          "conservation_status": {
            "iucn": 40,
            "authority": "IUCN Red List",
            "geoprivacy": "obscured",
            "source_id": 37,
            "place_id": null,
            "status": "en"
          }
        }
      }, {
        "photo": {
          "square_url": "http://static.inaturalist.org/photos/84801/square.jpg?1444935178",
          "native_page_url": "http://www.flickr.com/photos/10048778@N00/5997340539",
          "small_url": "http://static.inaturalist.org/photos/84801/small.jpg?1444935178",
          "attribution": "(c) Irv, all rights reserved",
          "medium_url": "http://static.inaturalist.org/photos/84801/medium.jpg?1444935178",
          "id": 84801,
          "license_code": null,
          "large_url": "http://static.inaturalist.org/photos/84801/large.jpg?1444935178",
          "url": "http://static.inaturalist.org/photos/84801/square.jpg?1444935178",
          "original_dimensions": {
            "width": 784,
            "height": 1024
          }
        },
        "taxon": {
          "observations_count": 735,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2008-03-19T00:36:57+00:00",
          "rank_level": 10,
          "parent_id": 41859,
          "name": "Enhydra lutris",
          "rank": "species",
          "id": 41860,
          "default_photo": {
            "square_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg",
            "attribution": "(c) Vicki & Chuck Rogers, some rights reserved (CC BY-NC-SA)",
            "medium_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301.jpg",
            "id": 2487,
            "license_code": "cc-by-nc-sa",
            "url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Sea Otter",
          "conservation_status": {
            "iucn": 40,
            "authority": "IUCN Red List",
            "geoprivacy": "obscured",
            "source_id": 37,
            "place_id": null,
            "status": "en"
          }
        }
      }, {
        "photo": {
          "square_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg",
          "native_page_url": "http://www.flickr.com/photos/7604548@N07/1430014835",
          "small_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_m.jpg",
          "attribution": "(c) Sara, some rights reserved (CC BY-NC)",
          "medium_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd.jpg",
          "id": 165142,
          "license_code": "cc-by-nc",
          "large_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd.jpg",
          "url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg",
          "original_dimensions": null
        },
        "taxon": {
          "observations_count": 451,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859/41860",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2011-08-16T12:37:57-07:00",
          "rank_level": 5,
          "parent_id": 41860,
          "name": "Enhydra lutris nereis",
          "rank": "subspecies",
          "id": 117520,
          "default_photo": {
            "square_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg",
            "attribution": "(c) Sara, some rights reserved (CC BY-NC)",
            "medium_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd.jpg",
            "id": 165142,
            "license_code": "cc-by-nc",
            "url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860, 117520],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Southern Sea Otter"
        }
      }, {
        "photo": {
          "square_url": "http://farm5.static.flickr.com/4121/4906943860_02e6602c3d_s.jpg",
          "native_page_url": "http://www.flickr.com/photos/77762547@N00/4906943860",
          "small_url": "http://farm5.static.flickr.com/4121/4906943860_02e6602c3d_m.jpg",
          "attribution": "(c) Martha de Jong-Lantink, some rights reserved (CC BY-NC-ND)",
          "medium_url": "http://farm5.static.flickr.com/4121/4906943860_02e6602c3d.jpg",
          "id": 177937,
          "license_code": "cc-by-nc-nd",
          "large_url": "http://farm5.static.flickr.com/4121/4906943860_02e6602c3d_b.jpg",
          "url": "http://farm5.static.flickr.com/4121/4906943860_02e6602c3d_s.jpg",
          "original_dimensions": null
        },
        "taxon": {
          "observations_count": 24,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859/41860",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2012-07-04T18:45:15-10:00",
          "rank_level": 5,
          "parent_id": 41860,
          "name": "Enhydra lutris kenyoni",
          "rank": "subspecies",
          "id": 133061,
          "default_photo": {
            "square_url": "http://farm5.static.flickr.com/4121/4906943860_02e6602c3d_s.jpg",
            "attribution": "(c) Martha de Jong-Lantink, some rights reserved (CC BY-NC-ND)",
            "medium_url": "http://farm5.static.flickr.com/4121/4906943860_02e6602c3d.jpg",
            "id": 177937,
            "license_code": "cc-by-nc-nd",
            "url": "http://farm5.static.flickr.com/4121/4906943860_02e6602c3d_s.jpg"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860, 133061],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Northern Sea Otter",
          "conservation_status": {
            "iucn": 40,
            "authority": "NatureServe",
            "geoprivacy": "obscured",
            "source_id": 8,
            "place_id": null,
            "status": "g4t2t3"
          }
        }
      }, {
        "photo": {
          "square_url": "http://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/MSU_V2P1b_-_Enhydra_lutris_sketch.png/75px-MSU_V2P1b_-_Enhydra_lutris_sketch.png",
          "native_page_url": "http://commons.wikimedia.org/wiki/File:MSU_V2P1b_-_Enhydra_lutris_sketch.png",
          "small_url": "http://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/MSU_V2P1b_-_Enhydra_lutris_sketch.png/240px-MSU_V2P1b_-_Enhydra_lutris_sketch.png",
          "attribution": "(c) A. N. Komarov, some rights reserved (CC BY)",
          "medium_url": "http://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/MSU_V2P1b_-_Enhydra_lutris_sketch.png/240px-MSU_V2P1b_-_Enhydra_lutris_sketch.png",
          "id": 2246565,
          "license_code": "cc-by",
          "large_url": "http://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/MSU_V2P1b_-_Enhydra_lutris_sketch.png/240px-MSU_V2P1b_-_Enhydra_lutris_sketch.png",
          "url": "http://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/MSU_V2P1b_-_Enhydra_lutris_sketch.png/75px-MSU_V2P1b_-_Enhydra_lutris_sketch.png",
          "original_dimensions": null
        },
        "taxon": {
          "observations_count": 1,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859/41860",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2012-07-05T04:44:12+00:00",
          "rank_level": 5,
          "parent_id": 41860,
          "name": "Enhydra lutris lutris",
          "rank": "subspecies",
          "id": 133060,
          "default_photo": {
            "square_url": "http://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/MSU_V2P1b_-_Enhydra_lutris_sketch.png/75px-MSU_V2P1b_-_Enhydra_lutris_sketch.png",
            "attribution": "(c) A. N. Komarov, some rights reserved (CC BY)",
            "medium_url": "http://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/MSU_V2P1b_-_Enhydra_lutris_sketch.png/240px-MSU_V2P1b_-_Enhydra_lutris_sketch.png",
            "id": 2246565,
            "license_code": "cc-by",
            "url": "http://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/MSU_V2P1b_-_Enhydra_lutris_sketch.png/75px-MSU_V2P1b_-_Enhydra_lutris_sketch.png"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860, 133060],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Asian Sea Otter"
        }
      }, {
        "photo": {
          "square_url": "http://static.inaturalist.org/photos/1160430/square.jpg?1444439310",
          "native_page_url": "https://www.flickr.com/photos/jmaughn/15257809689/",
          "small_url": "http://static.inaturalist.org/photos/1160430/small.jpg?1444439310",
          "attribution": "(c) J. Maughn, some rights reserved (CC BY-NC), uploaded by James Maughn",
          "medium_url": "http://static.inaturalist.org/photos/1160430/medium.jpg?1444439310",
          "id": 1160430,
          "license_code": "cc-by-nc",
          "large_url": "http://static.inaturalist.org/photos/1160430/large.jpg?1444439310",
          "url": "http://static.inaturalist.org/photos/1160430/square.jpg?1444439310",
          "original_dimensions": {
            "width": 2048,
            "height": 1665
          }
        },
        "taxon": {
          "observations_count": 451,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859/41860",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2011-08-16T12:37:57-07:00",
          "rank_level": 5,
          "parent_id": 41860,
          "name": "Enhydra lutris nereis",
          "rank": "subspecies",
          "id": 117520,
          "default_photo": {
            "square_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg",
            "attribution": "(c) Sara, some rights reserved (CC BY-NC)",
            "medium_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd.jpg",
            "id": 165142,
            "license_code": "cc-by-nc",
            "url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860, 117520],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Southern Sea Otter"
        }
      }, {
        "photo": {
          "square_url": "http://static.inaturalist.org/photos/1165845/square.jpg?1444444895",
          "native_page_url": "https://www.flickr.com/photos/jmaughn/15474526952/",
          "small_url": "http://static.inaturalist.org/photos/1165845/small.jpg?1444444895",
          "attribution": "(c) J. Maughn, some rights reserved (CC BY-NC), uploaded by James Maughn",
          "medium_url": "http://static.inaturalist.org/photos/1165845/medium.jpg?1444444895",
          "id": 1165845,
          "license_code": "cc-by-nc",
          "large_url": "http://static.inaturalist.org/photos/1165845/large.jpg?1444444895",
          "url": "http://static.inaturalist.org/photos/1165845/square.jpg?1444444895",
          "original_dimensions": {
            "width": 2048,
            "height": 1646
          }
        },
        "taxon": {
          "observations_count": 451,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859/41860",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2011-08-16T12:37:57-07:00",
          "rank_level": 5,
          "parent_id": 41860,
          "name": "Enhydra lutris nereis",
          "rank": "subspecies",
          "id": 117520,
          "default_photo": {
            "square_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg",
            "attribution": "(c) Sara, some rights reserved (CC BY-NC)",
            "medium_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd.jpg",
            "id": 165142,
            "license_code": "cc-by-nc",
            "url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860, 117520],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Southern Sea Otter"
        }
      }, {
        "photo": {
          "square_url": "http://static.inaturalist.org/photos/658746/square.jpg?1444431426",
          "native_page_url": "http://www.flickr.com/photos/jmaughn/12244146225/",
          "small_url": "http://static.inaturalist.org/photos/658746/small.jpg?1444431426",
          "attribution": "(c) J. Maughn, some rights reserved (CC BY-NC), uploaded by James Maughn",
          "medium_url": "http://static.inaturalist.org/photos/658746/medium.jpg?1444431426",
          "id": 658746,
          "license_code": "cc-by-nc",
          "large_url": "http://static.inaturalist.org/photos/658746/large.jpg?1444431426",
          "url": "http://static.inaturalist.org/photos/658746/square.jpg?1444431426",
          "original_dimensions": {
            "width": 2048,
            "height": 754
          }
        },
        "taxon": {
          "observations_count": 451,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859/41860",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2011-08-16T12:37:57-07:00",
          "rank_level": 5,
          "parent_id": 41860,
          "name": "Enhydra lutris nereis",
          "rank": "subspecies",
          "id": 117520,
          "default_photo": {
            "square_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg",
            "attribution": "(c) Sara, some rights reserved (CC BY-NC)",
            "medium_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd.jpg",
            "id": 165142,
            "license_code": "cc-by-nc",
            "url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860, 117520],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Southern Sea Otter"
        }
      }, {
        "photo": {
          "square_url": "http://static.inaturalist.org/photos/382013/square.jpg?1444662415",
          "native_page_url": "http://www.flickr.com/photos/jmaughn/9103210187/",
          "small_url": "http://static.inaturalist.org/photos/382013/small.jpg?1444662415",
          "attribution": "(c) J. Maughn, some rights reserved (CC BY-NC), uploaded by James Maughn",
          "medium_url": "http://static.inaturalist.org/photos/382013/medium.jpg?1444662415",
          "id": 382013,
          "license_code": "cc-by-nc",
          "large_url": "http://static.inaturalist.org/photos/382013/large.jpg?1444662415",
          "url": "http://static.inaturalist.org/photos/382013/square.jpg?1444662415",
          "original_dimensions": {
            "width": 1506,
            "height": 2016
          }
        },
        "taxon": {
          "observations_count": 451,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859/41860",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2011-08-16T12:37:57-07:00",
          "rank_level": 5,
          "parent_id": 41860,
          "name": "Enhydra lutris nereis",
          "rank": "subspecies",
          "id": 117520,
          "default_photo": {
            "square_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg",
            "attribution": "(c) Sara, some rights reserved (CC BY-NC)",
            "medium_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd.jpg",
            "id": 165142,
            "license_code": "cc-by-nc",
            "url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860, 117520],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Southern Sea Otter"
        }
      }, {
        "photo": {
          "square_url": "http://static.inaturalist.org/photos/1031154/square.jpg?1444283479",
          "native_page_url": "https://www.flickr.com/photos/jmaughn/14833500005/",
          "small_url": "http://static.inaturalist.org/photos/1031154/small.jpg?1444283479",
          "attribution": "(c) J. Maughn, some rights reserved (CC BY-NC), uploaded by James Maughn",
          "medium_url": "http://static.inaturalist.org/photos/1031154/medium.jpg?1444283479",
          "id": 1031154,
          "license_code": "cc-by-nc",
          "large_url": "http://static.inaturalist.org/photos/1031154/large.jpg?1444283479",
          "url": "http://static.inaturalist.org/photos/1031154/square.jpg?1444283479",
          "original_dimensions": {
            "width": 1200,
            "height": 1600
          }
        },
        "taxon": {
          "observations_count": 451,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859/41860",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2011-08-16T12:37:57-07:00",
          "rank_level": 5,
          "parent_id": 41860,
          "name": "Enhydra lutris nereis",
          "rank": "subspecies",
          "id": 117520,
          "default_photo": {
            "square_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg",
            "attribution": "(c) Sara, some rights reserved (CC BY-NC)",
            "medium_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd.jpg",
            "id": 165142,
            "license_code": "cc-by-nc",
            "url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860, 117520],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Southern Sea Otter"
        }
      }, {
        "photo": {
          "square_url": "http://static.inaturalist.org/photos/2886385/square.JPG?1452901008",
          "native_page_url": "http://www.inaturalist.org/photos/2886385",
          "small_url": "http://static.inaturalist.org/photos/2886385/small.JPG?1452901008",
          "attribution": "(c) karinakilldeer, some rights reserved (CC BY-NC)",
          "medium_url": "http://static.inaturalist.org/photos/2886385/medium.JPG?1452901008",
          "id": 2886385,
          "license_code": "cc-by-nc",
          "large_url": "http://static.inaturalist.org/photos/2886385/large.JPG?1452901008",
          "url": "http://static.inaturalist.org/photos/2886385/square.JPG?1452901008",
          "original_dimensions": {
            "width": 2048,
            "height": 1536
          }
        },
        "taxon": {
          "observations_count": 451,
          "is_active": true,
          "ancestry": "48460/1/2/355675/40151/41573/41770/41859/41860",
          "min_species_ancestry": "48460,1,2,355675,40151,41573,41770,41859,41860",
          "iconic_taxon_id": 40151,
          "created_at": "2011-08-16T12:37:57-07:00",
          "rank_level": 5,
          "parent_id": 41860,
          "name": "Enhydra lutris nereis",
          "rank": "subspecies",
          "id": 117520,
          "default_photo": {
            "square_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg",
            "attribution": "(c) Sara, some rights reserved (CC BY-NC)",
            "medium_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd.jpg",
            "id": 165142,
            "license_code": "cc-by-nc",
            "url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg"
          },
          "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860, 117520],
          "iconic_taxon_name": "Mammalia",
          "preferred_common_name": "Southern Sea Otter"
        }
      }],
      "rank_level": 10,
      "parent_id": 41859,
      "name": "Enhydra lutris",
      "rank": "species",
      "id": 41860,
      "default_photo": {
        "square_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg",
        "attribution": "(c) Vicki & Chuck Rogers, some rights reserved (CC BY-NC-SA)",
        "medium_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301.jpg",
        "id": 2487,
        "license_code": "cc-by-nc-sa",
        "url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg"
      },
      "ancestor_ids": [1, 2, 355675, 40151, 41573, 41770, 41859],
      "iconic_taxon_name": "Mammalia",
      "preferred_common_name": "Sea Otter",
      "conservation_status": {
        "taxon_id": 41860,
        "status": "EN",
        "authority": "IUCN Red List",
        "iucn": 40,
        "url": "http://www.iucnredlist.org/details/7750/0",
        "description": "",
        "place": null
      },
      "ancestors": [{
        "observations_count": 2284984,
        "is_active": true,
        "iconic_taxon_id": 1,
        "rank_level": 70,
        "parent_id": 48460,
        "name": "Animalia",
        "rank": "kingdom",
        "id": 1,
        "default_photo": {
          "square_url": "http://farm3.staticflickr.com/2188/2124709826_fd4ba36d1b_s.jpg",
          "attribution": "(c) David Midgley, some rights reserved (CC BY-NC-ND)",
          "medium_url": "http://farm3.staticflickr.com/2188/2124709826_fd4ba36d1b.jpg",
          "id": 169,
          "license_code": "cc-by-nc-nd",
          "url": "http://farm3.staticflickr.com/2188/2124709826_fd4ba36d1b_s.jpg"
        },
        "ancestor_ids": [48460, 1],
        "iconic_taxon_name": "Animalia",
        "preferred_common_name": "Animals"
      }, {
        "observations_count": 1259835,
        "is_active": true,
        "iconic_taxon_id": 1,
        "rank_level": 60,
        "parent_id": 1,
        "name": "Chordata",
        "rank": "phylum",
        "id": 2,
        "default_photo": {
          "square_url": "http://farm4.staticflickr.com/3272/2997294997_a68027cebb_s.jpg",
          "attribution": "(c) Michael Gat, some rights reserved (CC BY-NC-ND)",
          "medium_url": "http://farm4.staticflickr.com/3272/2997294997_a68027cebb.jpg",
          "id": 48283,
          "license_code": "cc-by-nc-nd",
          "url": "http://farm4.staticflickr.com/3272/2997294997_a68027cebb_s.jpg"
        },
        "ancestor_ids": [48460, 1, 2],
        "iconic_taxon_name": "Animalia",
        "preferred_common_name": "Chordates"
      }, {
        "observations_count": 1258087,
        "is_active": true,
        "iconic_taxon_id": 1,
        "rank_level": 57,
        "parent_id": 2,
        "name": "Vertebrata",
        "rank": "subphylum",
        "id": 355675,
        "default_photo": {
          "square_url": "https://farm8.staticflickr.com/7424/12697095094_9026812838_s.jpg",
          "attribution": "(c) Wildlife Wanderer, some rights reserved (CC BY-NC-ND)",
          "medium_url": "https://farm8.staticflickr.com/7424/12697095094_9026812838.jpg",
          "id": 952676,
          "license_code": "cc-by-nc-nd",
          "url": "https://farm8.staticflickr.com/7424/12697095094_9026812838_s.jpg"
        },
        "ancestor_ids": [48460, 1, 2, 355675],
        "iconic_taxon_name": "Animalia",
        "preferred_common_name": "Vertebrates"
      }, {
        "observations_count": 147340,
        "is_active": true,
        "iconic_taxon_id": 40151,
        "rank_level": 50,
        "parent_id": 355675,
        "name": "Mammalia",
        "rank": "class",
        "id": 40151,
        "default_photo": {
          "square_url": "https://farm8.staticflickr.com/7389/11312098116_e14b1f6e65_s.jpg",
          "attribution": "(c) Drriss & Marrionn, some rights reserved (CC BY-NC-SA)",
          "medium_url": "https://farm8.staticflickr.com/7389/11312098116_e14b1f6e65.jpg",
          "id": 2930470,
          "license_code": "cc-by-nc-sa",
          "url": "https://farm8.staticflickr.com/7389/11312098116_e14b1f6e65_s.jpg"
        },
        "ancestor_ids": [48460, 1, 2, 355675, 40151],
        "iconic_taxon_name": "Mammalia",
        "preferred_common_name": "Mammals"
      }, {
        "observations_count": 40345,
        "is_active": true,
        "iconic_taxon_id": 40151,
        "rank_level": 40,
        "parent_id": 40151,
        "name": "Carnivora",
        "rank": "order",
        "id": 41573,
        "default_photo": {
          "square_url": "http://media.eol.org/content/2013/02/14/15/52392_98_68.jpg",
          "attribution": "John Storr, no known copyright restrictions (public domain)",
          "medium_url": "http://media.eol.org/content/2013/02/14/15/52392_580_360.jpg",
          "id": 2696468,
          "license_code": "pd",
          "url": "http://media.eol.org/content/2013/02/14/15/52392_98_68.jpg"
        },
        "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573],
        "iconic_taxon_name": "Mammalia",
        "preferred_common_name": "Carnivorans"
      }, {
        "observations_count": 4391,
        "is_active": true,
        "iconic_taxon_id": 40151,
        "rank_level": 30,
        "parent_id": 41573,
        "name": "Mustelidae",
        "rank": "family",
        "id": 41770,
        "default_photo": {
          "square_url": "http://farm4.staticflickr.com/3218/2775288104_bef48045fa_s.jpg",
          "attribution": "(c) Keven Law, some rights reserved (CC BY-SA)",
          "medium_url": "http://farm4.staticflickr.com/3218/2775288104_bef48045fa.jpg",
          "id": 4173,
          "license_code": "cc-by-sa",
          "url": "http://farm4.staticflickr.com/3218/2775288104_bef48045fa_s.jpg"
        },
        "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770],
        "iconic_taxon_name": "Mammalia",
        "preferred_common_name": "Mustelids"
      }, {
        "observations_count": 705,
        "is_active": true,
        "iconic_taxon_id": 40151,
        "rank_level": 20,
        "parent_id": 41770,
        "name": "Enhydra",
        "rank": "genus",
        "id": 41859,
        "default_photo": {
          "square_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg",
          "attribution": "(c) Vicki & Chuck Rogers, some rights reserved (CC BY-NC-SA)",
          "medium_url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301.jpg",
          "id": 2487,
          "license_code": "cc-by-nc-sa",
          "url": "http://farm4.staticflickr.com/3133/2462240546_3d99d51301_s.jpg"
        },
        "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859],
        "iconic_taxon_name": "Mammalia"
      }],
      "children": [{
        "observations_count": 451,
        "is_active": true,
        "iconic_taxon_id": 40151,
        "rank_level": 5,
        "parent_id": 41860,
        "name": "Enhydra lutris nereis",
        "rank": "subspecies",
        "id": 117520,
        "default_photo": {
          "square_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg",
          "attribution": "(c) Sara, some rights reserved (CC BY-NC)",
          "medium_url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd.jpg",
          "id": 165142,
          "license_code": "cc-by-nc",
          "url": "http://farm2.staticflickr.com/1168/1430014835_fedd5456fd_s.jpg"
        },
        "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860, 117520],
        "iconic_taxon_name": "Mammalia",
        "preferred_common_name": "Southern Sea Otter"
      }, {
        "observations_count": 24,
        "is_active": true,
        "iconic_taxon_id": 40151,
        "rank_level": 5,
        "parent_id": 41860,
        "name": "Enhydra lutris kenyoni",
        "rank": "subspecies",
        "id": 133061,
        "default_photo": {
          "square_url": "http://farm5.static.flickr.com/4121/4906943860_02e6602c3d_s.jpg",
          "attribution": "(c) Martha de Jong-Lantink, some rights reserved (CC BY-NC-ND)",
          "medium_url": "http://farm5.static.flickr.com/4121/4906943860_02e6602c3d.jpg",
          "id": 177937,
          "license_code": "cc-by-nc-nd",
          "url": "http://farm5.static.flickr.com/4121/4906943860_02e6602c3d_s.jpg"
        },
        "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860, 133061],
        "iconic_taxon_name": "Mammalia",
        "preferred_common_name": "Northern Sea Otter",
        "conservation_status": {
          "iucn": 40,
          "authority": "NatureServe",
          "geoprivacy": "obscured",
          "source_id": 8,
          "place_id": null,
          "status": "g4t2t3"
        }
      }, {
        "observations_count": 1,
        "is_active": true,
        "iconic_taxon_id": 40151,
        "rank_level": 5,
        "parent_id": 41860,
        "name": "Enhydra lutris lutris",
        "rank": "subspecies",
        "id": 133060,
        "default_photo": {
          "square_url": "http://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/MSU_V2P1b_-_Enhydra_lutris_sketch.png/75px-MSU_V2P1b_-_Enhydra_lutris_sketch.png",
          "attribution": "(c) A. N. Komarov, some rights reserved (CC BY)",
          "medium_url": "http://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/MSU_V2P1b_-_Enhydra_lutris_sketch.png/240px-MSU_V2P1b_-_Enhydra_lutris_sketch.png",
          "id": 2246565,
          "license_code": "cc-by",
          "url": "http://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/MSU_V2P1b_-_Enhydra_lutris_sketch.png/75px-MSU_V2P1b_-_Enhydra_lutris_sketch.png"
        },
        "ancestor_ids": [48460, 1, 2, 355675, 40151, 41573, 41770, 41859, 41860, 133060],
        "iconic_taxon_name": "Mammalia",
        "preferred_common_name": "Asian Sea Otter"
      }],
      "conservation_statuses": [{
        "taxon_id": 41860,
        "status": "EN",
        "authority": "IUCN Red List",
        "iucn": 40,
        "url": "http://www.iucnredlist.org/details/7750/0",
        "description": "",
        "place": null
      }, {
        "taxon_id": 41860,
        "status": "N3",
        "authority": "NatureServe",
        "iucn": 30,
        "url": "http://explorer.natureserve.org/servlet/NatureServe?searchName=Enhydra+lutris",
        "description": "",
        "place": {
          "id": 6712,
          "name": "Canada",
          "display_name": "Canada",
          "admin_level": 0,
          "ancestor_place_ids": [9853, 6712]
        }
      }, {
        "taxon_id": 41860,
        "status": "S3",
        "authority": "NatureServe",
        "iucn": 30,
        "url": "http://explorer.natureserve.org/servlet/NatureServe?searchName=Enhydra+lutris",
        "description": "",
        "place": {
          "id": 7085,
          "name": "British Columbia",
          "display_name": "British Columbia, CA",
          "admin_level": 1,
          "ancestor_place_ids": [9853, 6712, 7085]
        }
      }],
      "listed_taxa": [{
        "id": 3012621,
        "taxon_id": 41860,
        "establishment_means": "native",
        "place": {
          "id": 14,
          "name": "California",
          "display_name": "California, US",
          "admin_level": 1,
          "ancestor_place_ids": [9853, 1, 14]
        },
        "list": {
          "id": 63646,
          "title": "California Carnivorans"
        }
      }, {
        "id": 6045,
        "taxon_id": 41860,
        "establishment_means": "native",
        "place": {
          "id": 14,
          "name": "California",
          "display_name": "California, US",
          "admin_level": 1,
          "ancestor_place_ids": [9853, 1, 14]
        },
        "list": {
          "id": 312,
          "title": "California Check List"
        }
      }, {
        "id": 9663,
        "taxon_id": 41860,
        "establishment_means": "native",
        "place": {
          "id": 1,
          "name": "United States",
          "display_name": "United States",
          "admin_level": 0,
          "ancestor_place_ids": [9853, 1]
        },
        "list": {
          "id": 299,
          "title": "United States Check List"
        }
      }, {
        "id": 1291885,
        "taxon_id": 41860,
        "establishment_means": "native",
        "place": {
          "id": 46,
          "name": "Washington",
          "display_name": "Washington, US",
          "admin_level": 1,
          "ancestor_place_ids": [9853, 1, 46]
        },
        "list": {
          "id": 344,
          "title": "Washington Check List"
        }
      }, {
        "id": 5536083,
        "taxon_id": 41860,
        "establishment_means": "native",
        "place": {
          "id": 6712,
          "name": "Canada",
          "display_name": "Canada",
          "admin_level": 0,
          "ancestor_place_ids": [9853, 6712]
        },
        "list": {
          "id": 187791,
          "title": "NatureServe Canada"
        }
      }]
    };
  = javascript_include_tag "taxa-show-webpack"
- content_for :extracss do
  = stylesheet_link_tag "c3", "taxa/show2"
- content_for :extrahead do
  / %meta{ name: "config:inaturalist_api_host", content: CONFIG.node_api_host }
  / %meta{ name: "config:inaturalist_write_api_host", content: CONFIG.node_api_host }
  %meta{ name: "config:inaturalist_api_host", content: "api.inaturalist.org/v1" }
  %meta{ name: "config:inaturalist_write_api_host", content: "api.inaturalist.org/v1" }
#app
