.bootstrap input.sortable-position {background-color: orange;padding:2px;}
.names > li.sorttarget { height: 2em;border: 3px dotted #ccc;}
.names > li { border: 3px dotted transparent;border-radius: 500px; padding:3px; padding-right:5px;}
.names > li:hover { border: 3px dotted #eee; cursor:move;}
.names li:first-child { background-color:#DCEAA3;}
.names li .badge {line-height: 19px; border-radius: 500px;}
.names li .badge.pull-right {display:none;}
.names li:first-child .badge {display:inline-block;}
ul.plain{margin:0;padding:0;}
