<ul id="subnav" class="clear">
  <li>
    <%= link_to t(:project_home), project_path(@display_project.slug), :class => "#{'active' if current_page?(:controller => "users", :action => "dashboard")}" %>
  </li>
  <li>
    <%= link_to t(:project_observations), observations_path( project_id: @display_project ),
      :id => "observations_link", 
      :class => "#{'active' if current_page?(controller: :observations)}" %>
  </li>
  <li>
    <%= link_to t(:project_post), project_journal_path(@display_project),
      :id => "journal_link",
      :class => "#{'active' if request.fullpath =~ /\/journal/}" %>
  </li>
  <li>
    <%= link_to t(:project_assessments), project_assessments_path(@display_project),
      :id => "assessments_link",
      :class => "#{'active' if request.fullpath =~ /\/assessments/}" %>
  </li>
</ul>
