:ruby
  project = update_your_observations_added || resource
  updates ||= []
  observations = updates.map do |u|
    next unless u.notifier
    o = if @update_cache && @update_cache[:observations]
      @update_cache[:observations][u.notifier.observation_id]
    end
    o || u.notifier.observation
  end
.timeline-body
  - compact do
    = render partial: 'observations/observations_component_for_dashboard', locals: {observations: observations[0...12]}    
