- project ||= update_curator_change
.timeline-body
  - for update in updates
    :ruby
      project_user = update.notifier
      user = project_user.user
      role = if project_user.user_id == project_user.project.user_id
        "the <strong>admin</strong>".html_safe
      elsif project_user.role.to_s =~ /^[aeiou]/
        "an <strong>#{project_user.role}</strong>".html_safe
      else
        "a <strong>#{project_user.role}</strong>".html_safe
      end
    %ul
      %li
        - if is_me?( user )
          - if project_user.user_id == project_user.project.user_id
            =t :you_are_now_the_admin_for_project_html, project: project.title
          - elsif project_user.role == ProjectUser::CURATOR
            =t :you_are_now_a_curator_for_project_html, project: project.title
          - elsif project_user.role == ProjectUser::MANAGER
            =t :you_are_now_a_manager_for_project_html, project: project.title
        - else
          - if project_user.user_id == project_user.project.user_id
            =t :user_is_now_the_admin_for_project_html, user: link_to_user( user ), project: project.title
          - elsif project_user.role == ProjectUser::CURATOR
            =t :user_is_now_a_curator_for_project_html, user: link_to_user( user ), project: project.title
          - elsif project_user.role == ProjectUser::MANAGER
            =t :user_is_now_a_manager_for_project_html, user: link_to_user( user ), project: project.title
        - unless user.description.blank? || is_me?(user)
          %blockquote= truncate(strip_tags(user.description), length: 100, escape: false)
        - if user.id == current_user.id && project.user_id == current_user.id
          .notice.status.box
            =t "views.users.dashboard.new_project_admin_html", site_name: @site.preferred_site_name_short, help_email: @site.email_help
  %p.alert.alert-info
    =t :just_a_reminder
  