<table>
<% for project_user in @top_contributors %>
  <tr class="inat-contributor">
    <td class="inat-contributor-image" valign="top" align="center">
      <%= link_to user_image(project_user.user, :size => :thumb), project_show_contributor_url(@project, project_user) %>
      <div class="inat-value">
        <%= link_to truncate(project_user.user.login, :length => 10), project_show_contributor_url(@project, project_user) %>
      </div>
    </td>
    <td class="inat-contributor-body" valign="top">
      <span class="inat-value"><b><%= project_user.taxa_count %></b> species<br /><b><%= project_user.observations_count %></b> observations</span>
    </td>
  </tr>
<% end %>
</table>
