<%- content_for(:title) do -%>
  <%= @title = "Editing #{@project.title}" %>
<%- end -%>
<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo #{h @project.title}", @project, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  <h2><%= @title %></h2>
</div>

<%= render :partial => 'form' %>
