<%- content_for(:title) do -%>
  <%= t(:confirm_membership) %>
<%- end -%>
<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo #{h @project.title}".html_safe, @project, class: "crumb" %></strong>
  </div><!-- /#breadcrumbs -->
  <h2><%=t :join_project?, project: @project.title %></h2>
</div>

<%= render "join" %>
