<div style="border-top: 1px solid #eee; margin-top: 10px; padding-top:10px; color: #777; font-size:smaller;">
  <p>
    <%=t :edit_your_settings_to_unsubscribe_html, :url => generic_edit_user_url %>
  </p>

  <a href="<%= root_url %>"><img valign="middle" src="<%= image_path CONFIG.logo %>" alt="<%= CONFIG.site_name %>"/></a>
</div>
