<%-
  site_logo = @site.logo.url if @site
  site_logo = @user.site.logo.url if @user.site
  site_logo ||= CONFIG.logo 
  img_url = if site_logo =~ /http/
    site_logo
  else
    FakeView.uri_join(root_url, image_path(site_logo))
  end
-%>
<div style="border-top: 1px solid #eee; margin-top: 10px; padding-top:10px; color: #777; font-size:smaller;">
  <p>
    <%=t :edit_your_settings_to_unsubscribe_html, :url => generic_edit_user_url %>
  </p>

  <a href="<%= root_url %>"><img valign="middle" src="<%= img_url %>" alt="<%= CONFIG.site_name %>"/></a>
</div>
