New updates in the last 24 hours from <%= CONFIG.site_name %>

<%= render :partial => 'shared/updates_table' %>

<p>
  <%= link_to "View your dashboard", dashboard_url %> for more recent updates.
</p>

<%= render 'footer' %>
