- unless flags.blank?
  %h3= t :existing_flags
  %ul.list-unstyled
    - if flags.empty?
      %li.text-muted= t :no_flags
    - for flag in flags
      %li
        = render partial: "flag", object: flag
