<% unless flags.blank? %>
  <h3>Existing Flags</h3>
  <ul>
    <% if flags.empty? %>
      <li class="quiet description">No flags at this time!</li>
    <% end %>

    <% for flag in flags %>
      <li>
        <%= render :partial => 'flag', :object => flag %>
      </li>
    <% end %>
  </ul>

<% end %>
