- content_for(:title) do
  - @title = @user ? t(:flags_on_users_content, user: @user.login) : t(:flags)

#pageheader.column.span-24
  %h2= @title

.description
  %p= t(:flags_explanation, site_name: CONFIG.site_name)

#ul
  = render :partial => "flag_list", :locals => { :flags => @flags }
- if @flags.respond_to?(:total_pages)
  = will_paginate @flags