<% content_for(:title) do -%>
  New Taxon Name for <%= default_taxon_name @taxon %>
<% end -%>
<h2>
  New Taxon Name for
  <%= render :partial => "shared/taxon", :object => @taxon, :locals => { :link_url => url_for(@taxon) } %>
</h2>

<%= render :partial => 'form' %>
