# Example services and site config. Keys in all caps are globally scoped
# You must replace these values with ones tailored to your own site.
# For external services, follow the link in the note to go to the signup
# page for the service.

base: &base

    priority_zones:
      - US
      - Arizona
      - Indiana
      - Hawaii
      - Alaska

    rest_auth:
        # See vendor/plugins/restful_authentication/notes/Tradeoffs.txt for more info
        REST_AUTH_SITE_KEY: 09af09af09af09af09af09af09af09af09af09af
        REST_AUTH_DIGEST_STRETCHES: 10

    rails:
        # Issue {rake secret} to get a new one
        session_key: _yoursite_session
        secret: 09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af09af

    # google_analytics:
    #     # http://www.google.com/analytics/sign_up.html
    #     tracker_id: UA-090909-9
    #     domain_name: yoursite.org

    ubio:
        # http://www.ubio.org/index.php?pagename=form
        key: 09af09af09af09af09af09af09af09af09af09af

    yahoo_dev_network:
        # first need Yahoo account: https://edit.yahoo.com/registration
        # then need to sign up for Yahoo Developers Network app interface:
        # https://developer.apps.yahoo.com/wsregapp/
        app_id: 09azAZ09azAZ09azAZ09azAZ09azAZ09azAZ09az09azAZ09azAZ09azAZ09

    airbrake:
        # https://airbrake.io/
        # disable: false
        api_key: 09af09af09af09af09af09af09af09af09af09af

    tile_servers:
        # EXPERIMENTAL: These endpoints should return map tiles when hit with
        # requests like /{Z}/{X}/{Y}.png.
        # See http://bitbucket.org/springmeyer/tilelite/
        observations: 'http://localhost:8000'
        tilestache: 'http://localhost:8080'
        elasticsearch: http://localhost:4000

    google_webmaster:
        verification: abiglongkey

    s3_bucket: yourbucketname
    s3_protocol: https
    s3_region: us-east-1

    memcached: localhost

    # Key for spam filtering with akismet. See http://akismet.com/development/api/
    rakismet:
      key: abc123
      site_url: http://www.yoursite.com

    # facebook:
    #     app_id: 00000000000
    #     app_secret: 09af09af09af09af09af09af09af09af09af09af
    #     # facebook user IDs of people who can admin pages on the site
    #     admin_ids: [1,2]
    #     namespace: appname # your facebook app's namespace, used for open graph tags

    # twitter:
    #     key: 09af09af09af09af09af09af09af09af09af09af
    #     secret: 09af09af09af09af09af09af09af09af09af09af
    #     username: your_twitter_username

    # cloudmade:
    #     key: 09af09af09af09af09af09af09af09af09af09af

    # bing:
    #     # http://www.bingmapsportal.com/
    #     key: 09af09af09af09af09af09af09af09af09af09af

    flickr:
        # http://www.flickr.com/services/api/keys/apply/
        key: 09af09af09af09af09af09af09af09af
        shared_secret: 09af09af09af09af

    soundcloud:
        # http://soundcloud.com/you/apps/new
        client_id: 09af09af09af09af09af09af09af09af
        secret: 09af09af09af09af09af09af09af09af

    google:
        # https://developers.google.com/maps/documentation/javascript/get-api-key#get-an-api-key
        browser_api_key: 09af09af09af09af09af09af09af09af

    metadata_provider:

    creator:

    # natureserve:
    #     key: 0x0x0x0x0x0x0x0x
    
    # wkhtmltopdf is an HTML-to-PDF converter that we use to generate PDFs.
    # You'll need to have it installed somewhere on your system. We highly
    # recommend using one of the static binaries.
    # https://code.google.com/p/wkhtmltopdf/
    wkhtmltopdf_path: '/usr/local/bin/wkhtmltopdf'

    # config.action_dispatch.x_sendfile_header. Most servers use X-Sendfile, but nginx prefers X-Accel-Redirect
    x_sendfile_header: 'X-Sendfile'

    # # GBIF login credentials. Currently only used in 
    # # tools/gbif_observation_links.rb, so only useful if you send data 
    # # to GBIF
    # gbif:
    #     username: yourusername
    #     password: yourpassword
    #     notification_address: you@you.com
    
    # Elastic search for search indexing, other performance improvements
    # ES also runs a syncing service on port 9300 by default. You want to use 
    # the API port. See 
    # http://stackoverflow.com/questions/19510659/java-io-streamcorruptedexception-invalid-internal-transport-message-format 
    # for more details
    elasticsearch_host: http://localhost:9200

    # An instance of https://github.com/inaturalist/iNaturalistAPI, the
    # same code running at CONFIG.tile_servers.elasticsearch
    node_api_url: http://localhost:4000/v1

development:
    <<: *base

test:
    <<: *base

production:
    <<: *base
