# Example of a local database setup.
login: &login
  host: <%= ENV["DB_HOST"] || "localhost" %>
  username: <%= ENV["DB_USER"] || "inaturalist" %>
  password: <%= ENV["DB_PASSWORD"] || "inaturalist" %>
  encoding: utf8
  adapter: postgis
  template: template_postgis

development:
  <<: *login
  database: inaturalist_development

test:
  <<: *login
  database: inaturalist_test

