# Example deploy.rb
# Like the Capfile, this is basically what we use for www.inaturalist.org
default_run_options[:pty] = true

set :application, "inaturalist"
set :domain,      "inaturalist.org"
default_run_options[:pty] = true
set :repository,  "git@github.com:inaturalist/inaturalist.git"
set :scm, "git"
set :user, "inaturalist"
set :branch, "main"
set :deploy_via, :remote_cache

# Don't use sudo, execute all commands as inaturalist
set :use_sudo, false
set :user, "inaturalist"

stage = fetch(:stage, 'production')
case stage
when 'test'
  set :deploy_to, "/home/#{application}/deployment/test/"
  set :port_num, 9001
when 'dev', 'development'
  set :deploy_to, "/home/#{application}/deployment/development/"
  set :port_num, 9002
else
  set :deploy_to, "/home/#{application}/deployment/production/"
  set :port_num, 9000  
end

set :inat_config_shared_path, "#{deploy_to}.."

set :num_listeners, 1

# Config for multiple servers. Should all be set to the same server if you only have one
role :app, "clarkia.inaturalist.org", "sequoia.inaturalist.org"
role :web, "clarkia.inaturalist.org"
role :db,  "sequoia.inaturalist.org", :primary => true
role :bg,  "sequoia.inaturalist.org"

set :rvm_ruby_string, 'default'
set :rvm_type, :system

require './config/boot'
require "rvm/capistrano"

set :bundle_flags,    "--deployment"
require "bundler/capistrano"

set :whenever_command, "bundle exec whenever"
set :whenever_roles, [:bg]
set :whenever_identifier, "inaturalist"
require "whenever/capistrano"
