# Whenever cron tasks, in case you use cron.  Check out
# http://github.com/javan/whenever Since this is fairly site-specific, you
# should place this in the inat_config_shared_path specified in deploy.rb. The
# Capfile is configured to look there for schedule.rb and symlink it into the
# deployed code. The whenever cap tasks will take it from there.

job_type :nice_rake, "cd :path && RAILS_ENV=:environment nice bundle exec rake :task --silent :output"

every 8.hours do
  nice_rake "denormalize:windshaft"
end

every :day, :at => "04:00" do
  command "nice pg_dump -Fc inaturalist_production -f $HOME/backup/inaturalist_production.daily.csql"
end

every :day, :at => "06:30" do
  runner "Update.email_updates"
end
