- content_for :extrajs do
  :javascript
    $( function( ) {
      $( ".kill a" ).each( function( ) {
        var link = $( this );
        var validation = $( "<p/>" ).append(
          $( "<input type='text' id='comfirm_validation' />" )
        );
        link.confirmModal( {
          additionalContent: validation,
          text: function( ) {
            return "Are you sure you want to kill this query? Type \"yes\" to continue:";
          },
          confirmValidation: function( ) {
            return $( "#comfirm_validation" ).val( ) === "yes";
          },
          onConfirm: function( ) {
            window.location = link.data( "url" );
          }
        } );
      } );
    } );

= render partial: "queries_table", locals: { queries: @queries, title: "Primary Queries" }
