- content_for :title do
  = @title = t(:editing_x_in_y, :x => @guide_taxon.name, :y => @guide.title)
.container-fluid
  %ul.breadcrumb
    %li
      = link_to t(:back_to_x, :noun => @guide.title), edit_guide_path(@guide), :class => "back"
  %h2= @title
  = render 'form'
