%span{:class => "taxon {{ taxon.rank }} {{ iconicTaxonNameForID(taxon.iconic_taxon_id) }} {{ secondaryNames().length > 0 ? 'has-com-name' : 'no-com-name'}}"}
  %a{:class => "icon icon-iconic-{{ iconicTaxonNameForID(taxon.iconic_taxon_id) | lowercase }}", href: "{{ url || '/taxa/'+taxon.id }}", target: "_self" }
  %a{:class => "noname {{ taxon.id ? '' : 'display-name' }}", href: "{{ url }}", "ng-show": "!taxon.id", target: "_self" }
    {{ shared.t('unknown') }}
  %a{ class: "display-name {{ secondaryNames().length === 0 || user.prefers_scientific_name_first ? 'sciname' : 'comname' }}", href: "{{ url }}", target: "_self", "ng-show" => "taxon.id" }
    %span.rank{"ng-show" => "(secondaryNames().length === 0 || user.prefers_scientific_name_first) && showRank()"}><
      {{ rank() | capitalize }}<span> </span>
    {{ displayNames().join( " · ") }}
  %a{ class: "secondary-name", href: "{{ url }}", target: "_self", "ng-show" => "taxon.id && secondaryNames().length > 0" }
    %span{ class: "comname", "ng-show" => "user.prefers_scientific_name_first" }><
      {{ secondaryNames().join( " · ") }}
    %span{ class: "sciname", "ng-show" => "!user.prefers_scientific_name_first" }><
      %span.rank{"ng-show" => "taxon.preferred_common_name && showRank()"}><
        {{ rank() | capitalize }}<span> </span>
      {{ secondaryNames().join( " · ") }}

