body {
  background-color: white;
  color: black;
}

a, a:hover, a:active, a:focus {
  color: inherit;
  text-decoration: none;
}

.navbar {
  background-color: rgba(0,0,0,0.03);
  img {
    height: auto;
  }
  .navbar-title {
    border-left: 1px solid rgba(0,0,0,.12);
    .dates {
      padding-left: 1vw;
      font-size: 1.7vw;
      color: #74ac00;
      font-weight: 500;
    }
  }
}
.map-slide {
  .row-fluid {
    background: #E9F3DA;
    .value {
      color: #74AC00;
    }
  }
}

.people-slide, .species-slide {
  .heading {
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
}

.people-slide .person, .species-slide div.species {
  background-color: rgba(0,0,0,0.07);
  .meta .count {
    color: black;
  }
}

.photos-slide .cell .SplitTaxon {
  color: white;
}

