@import "../colors";
@import "../c3";

.chart svg {
  width: 100%;
  min-height: 50px;
}

.DateHistogram {
  .chart svg {
    min-height: 300px;
  }
  circle {
    fill: rgba( 0, 0, 0, 0 );
    stroke: rgba( 0, 0, 0, 0 ) !important;
  }
}

$tip-opacity: 1;
.d3-tip {
  line-height: 1;
  padding: 5px;
  background: rgba(0, 0, 0, $tip-opacity);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, $tip-opacity);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.Summary {
  .chart svg {
    min-height: 300px;
  }
  .summary-panel {
    width: 100%;
    .count {
      color: $inat-green;
    }
    .main {
      text-align: center;
      border-bottom: 3px solid $inat-green;
      padding: 10px;
      margin-bottom: 10px;
      text-transform: uppercase;
      .count {
        display: block;
        font-size: 300%;
        margin-bottom: 10px;
        font-weight: bold;
      }
    }
  }
}

.TorqueMap {
  position: relative;
  .map {
    height: 400px;
  }
  .legend {
    position: absolute;
    width: 100%;
    bottom: 25px;
    z-index: 1000;
    .date {
      background: white;
      width: 150px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 18px;
      line-height: 30px;
    }
  }
}
