.project_form .title_field,
.project_form .description_field,
.project_form .project_type_field{margin-right:20px;}
.project_form .description_field,
.project_form .terms_field,
.project_form .title_field, 
.project_form .project_type_field{float:left;width:465px;}
#icon_fields{float:left;width:465px;}
.project_form .description_field,.project_type_field{clear:left;}
.project_form .title_field input{width:390px;}
.project_form .description_field textarea,.terms_field textarea{width:450px;}
#place_q,#taxon_q{width:300px;}
.observationrules{clear:left;}
.project_observation_fields {list-style: none;margin-left:0;}
.new_observation_field .field {width:auto;}
li.project_observation_field {position: relative; margin-left:0; padding-left: 20px; cursor: move;}
.project_observation_field .title {font-weight:bold;}
.project_observation_field .ui-icon {position:absolute; left: 0;top: 0;}
.sortabletarget { height: 100px; border: 2px dashed #ccc;}
#map {width:100%; height:400px;}
#map_search {width:600px;}
.location input[disabled] {padding: 0; border: 0 transparent; background-color: transparent;}
#project_event_url {width: 98%;}
.static_value{ font-size: 1.3em; line-height: 30px; }
#last_aggregated_at{ margin-bottom: 20px; }
