@import "../colors";
@import "../shared/loading_spinner";
@import "../users/user_image";
@import "../shared/taxon_photo";
@import "../../../../node_modules/react-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min";

body {
  min-width: 980px;
}

.bootstrap {
  a {
    color: inherit;
  }
}
#header {
  margin-bottom: 0px;
}
#bodywrapper, #wrapper {
 background: $page-background-grey;
}
#app {
  margin-top: 15px;
}

.loading_spinner.huge {
  display: block;
  margin: 0px auto;
  margin-top: 60px;
}

.bootstrap {
  h1 {
    margin: 30px 0px 30px;
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  .form-group {
    margin: 0;
    .error {
      float: right;
      color: $fail-red;
      font-size: 14px;
    }
  }
  .has-error .form-control {
    border-color: $fail-red;
    &:focus {
      border-color: $fail-red;
    }
  }
  .btn.done {
    color: white;
    background: #74ac00;
    &[disabled] {
      background: #cccccc;
      &:hover {
        background: #cccccc;
      }
    }
  }
}

button.btn-white {
  font-weight: 700;
  padding: 6px 15px;
  border-radius: 3px;
  background: white;
  border: 1px solid $border-grey;
  .fa {
    color: $inat-green;
    margin-right: 5px;
  }
}

button.btn-green {
  font-weight: 500;
  color: white;
  padding: 12px 30px;
  border-radius: 30px;
  background: #74ac00;
  border: none;
  font-size: 18px;
}

button[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}

#ProjectsForm {
  background: $page-background-grey;
  min-height: 100%;
  font-size: 16px;
  line-height: 24px;
  a {
    color: $other-link-color;
  }
  h4 {
    margin-top: 25px;
  }
  img.preview-img {
    margin-top: 50px;
    width: 100%;
  }
  .intro {
    font-size: 20px;
    line-height: 28px;
  }
  ul {
    padding: 20px;
    margin-bottom: 0px;
    li {
      list-style: none;
      min-height: 35px;
      i.fa {
        float: left;
        width: 35px;
        color: $inat-green;
        font-size: 20px;
        margin-top: 2px;
      }
      div {
        display: table-cell;
      }
    }
  }
  .intro-row ul {
    padding-left: 0px;
  }
  .types-row ul {
    padding-top: 0px;
  }
  .btn-div {
    font-size: 18px;
    button {
      float: left;
      padding: 12px 50px;
    }
    .view-sample {
      display: inline-block;
      line-height: 48px;
      margin-left: 15px;
      i {
        margin-right: 5px;
      }
    }
  }
  .contact {
    margin-top: 50px;
  }
  .separator {
    width: 100%;
    border-bottom: 1px solid $border-grey;
    margin: 20px 0px 10px;
  }
}


body>div>.popover[role="tooltip"].popover-error {
  background: #D9534F;
  color: white;
  .arrow::after {
    border-top-color: #D9534F;
  }
}

.Form {
  h1 {
    button.delete {
      float: right;
      font-size: 14px;
      .fa {
        color: $fail-red;
      }
    }
  }
  .row {
    padding-bottom: 20px;
    &.text {
      padding: 0;
    }
  }
  label {
    display: block;
    font-size: 16px;
    font-weight: 700;
    &.inline {
      display: inline-block;
      font-size: 14px;
      line-height: 34px;
    }
  }
  input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
  }
  label.inline + input[type="radio"], label.inline + input[type="checkbox"] {
    margin-left: 20px;
  }
  .icon-previews {
    margin-top: 15px;
    .badge-div {
      & + .badge-div {
        margin-top: 3px;
      }
      .badge {
        font-size: 14px;
        padding: 5px 12px;
        border-radius: 20px;
        font-weight: 500;
        .fa {
          margin-left: 5px;
          opacity: 0.3;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .icon-preview {
    line-height: 30px;
    & > span {
      max-width: 80%;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > .fa {
      float: right;
      margin-left: 6px;
      cursor: pointer;
      vertical-align: middle;
      line-height: 30px;
    }
    & + .icon-preview {
      margin-top: 3px;
    }
    .icon, .banner, img {
      height: 30px;
      background-size: contain;
      float: left;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .icon, img {
      width: 30px;
    }
    .banner {
      width: 72px;
    }
    .taxon {
      a {
        color: inherit;
      }
    }
  }
  .icon-cell {
    button {
      margin-right: 5px;
    }
    &.banner {
      .icon-preview > span {
        max-width: 64%;
      }
    }
  }
  .help-text {
    color: #666;
    margin-bottom: 15px;
  }
  .input-group-addon.color {
    padding: 5px 10px;
    .color-preview {
      width: 20px;
      height: 20px;
    }
  }
  .date-row {
    padding-bottom: 5px;
    & > div > div {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      margin-left: 5px;
    }
    .input-group.date {
      width: 190px;
      .form-control:first-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      .input-group-addon {
        display: none
      }
    }
    label[for="project-date-type-exact"] + div .input-group.date {
      width: 120px;
    }
    .date-range-col .help-text {
      display: block;
      margin-bottom: 3px;
      margin-left: 0px;
    }
  }
  .buttons {
    margin-top: 15px;
    button + button {
      margin-left: 10px;
    }
  }
}

body > div > .popover.color-picker {
  border: 0;
  background: none;
  box-shadow: none;
  margin-top: 0;
  .arrow {
    display: none;
  }
  .popover-content {
    padding: 0;
  }
}

#project-description {
  min-height: 115px;
  resize: vertical;
  &:focus {
    box-shadow: none;
  }
}


.dropzone {
  width: auto;
  height: auto;
  border: none;
  .hover-drop {
    display: none;
    text-align: center;
    font-size: 20px;
  }
  &.hover {
    cursor: copy !important;
    .icon-cell {
      opacity: 0.3;
    }
  }
}

.ac-chooser {
  width: 100%;
  .ac-select-thumb {
    float: inherit;
    padding: 0px;
    width: 39px;
    margin-right: 0;
    line-height: 32px;
    &.input-sm {
      width: 33px;
      img {
        width: 30px;
        height: 30px;
      }
    }
    &:contains('img') {
      border: none;
      background: none;
    }
    &.has-photo {
      border: none;
      background: none;
      padding: 0px;
    }
  }
}

.row.project-type {
  h2 {
    border-top: 1px solid $border-grey;
    padding-top: 30px;
  }
}

.preview {
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-grey;
}

.ui-autocomplete {
  opacity: 0;
  display: none;
  transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  min-width: 300px;
  &.open {
    opacity: 1;
  }
  .ac-result.taxon {
    font-size: 0.9em;
  }
}

.ConfirmModal.confirm {
  .modal-dialog {
    width: 500px;
    margin-top: 100px;
  }
  .text {
    line-height: 28px;
    font-size: 1.3em;
    display: inline-block;
    margin-left: 10px;
  }
  .modal-footer {
    padding: 10px;
    .buttons {
      text-align: center;
    }
    button {
      min-width: 100px;
      margin: 0px 10px;
    }
  }
}

.admins-row {
  .UserAutocomplete input {
    max-width: 250px;
  }
}

.admin-tools {
  border: 1px solid $border-grey;
  padding: 15px;
  background: white;
}

@media (min-width: 768px) {
  .bootstrap .container {
    width: auto;
  }
}

@media (min-width: 992px) {
  .bootstrap .container {
    width: 970px;
  }
}

@media (min-width: 1200) {
  .bootstrap .container {
    width: 1170px;
  }
}
