@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
@font-face {
  font-family: Whitney;
  src: url('/fonts/Whitney-Book-Pro.otf') format("opentype");
}
@font-face {
  font-family: Whitney;
  font-weight: 100;
  src: url('/fonts/Whitney-Light-Pro.otf') format("opentype");
}
@font-face {
  font-family: Whitney;
  font-weight: 700;
  src: url('/fonts/Whitney-Semibold-Pro.otf') format("opentype");
}
html, body, #app, #app > div, .navbar > div, .navbar > div > div, .navbar a,
.row-fluid > div, .stats-bar {
  height: 100%;
  overflow: hidden;
  display: block;
}
body {
  font-family: Whitney, "Trebuchet MS", Arial, sans-serif;
  color: white;
  background-color: black;
}
#app {
  transition: opacity 2s ease;
  &.transition {
    opacity: 0 !important;
  }
  &.color0 {
    @include linearGradient(#A52317, #CF632D);
    opacity: 1;
  }
  &.color1 {
    @include linearGradient(#412BAB, #A45BC6);
    opacity: 1;
  }
  &.color2 {
    @include linearGradient(#15685B, #5CA451);
    opacity: 1;
  }
  &.color3 {
    @include linearGradient(#293492, #50A3B7);
    opacity: 1;
  }
  &.color4 {
    @include linearGradient(#981939, #C75C99);
    opacity: 1;
  }
  &.top-projects {
    @include linearGradient(#09012D, #385F6D);
    opacity: 1;
  }
}
#main-container {
  transition: background-color 2s ease;
  &.phase1 {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &.phase2 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &.phase3 {
    background-color: rgba(0, 0, 0, 0.4);
  }
  &.phase4 {
    background-color: rgba(0, 0, 0, 0.6);
  }
  &.phase5 {
    background-color: rgba(0, 0, 0, 0.9);
  }
}
.col-md-5 {
  width: 41.66666667% !important;
  float: left;
}
.col-md-6 {
  width: 50% !important;
  float: left;
  padding: 1vw;
  margin: 0;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.navbar {
  min-height: 0px;
  height: 5vw;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1vw 0;
  .navbar-left {
    text-align: left;
    margin: 0;
    padding: 0 2vw;
    width: 15vw;
  }
  .navbar-right {
    text-align: center;
    margin: 0;
    padding: 0 2vw 0 0;
    width: 8vw;
    &.natgeo {
      width: 14vw;
      padding: 0;
    }
  }
  .navbar-title {
    font-weight: 100;
    font-size: 2vw;
    line-height: 3.2vw;
    margin: 0;
    width: 62vw;
    padding: 0 2vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 1px solid rgba(255,255,255,0.25);
    .dates {
      text-transform: uppercase;
      font-size: 1.5vw;
      opacity: 0.85;
      padding-left: 2vw;
    }
  }
  img {
    height: 100%;
    max-width: 100%;
    vertical-align: top;
  }
  a {
    display: inline;
    color: inherit;
    text-decoration: none;
  }
}
.slide {
  position: absolute;
  width: 100%;
  height: 50vw;
  padding: 0 1vw;
  display: none;
}

.map-slide {
  .left {
    width: 29%;
    float: left;
  }
  .right {
    width: 71%;
    & > div {
      height: 100%;
      width: 100%;
      background: transparent;
    }
  }
  .value {
    font-size: 3.1vw;
    font-weight: 700;
    line-height: 1;
    height: 60%;
  }
  .stat {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.7vw;
    height: 40%;
  }
  .row-fluid {
    height: 24%;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5vw 2vw;
  }
  .container-fluid {
    margin: 10% 5% 10% 20%;
    padding: 0;
    height: 70%;
  }
  &.umbrella-map-slide {
    .container-fluid {
      height: 80%;
    }
    .row-fluid {
      height: 19%;
      padding: 1.2vw 2vw;
    }
  }
}

.vertical-barchart {
  text-align: center;
  h2 {
    font-weight: 100;
    font-size: 2.8vw;
    text-transform: uppercase;
    margin: 2vw;
  }
  .chart {
    height: 80%;
    margin: 0 5%;
    & > div {
      float: left;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      padding: 1.2vw;
      i.icon {
        font-size: 3.9vw;
        line-height: 2.3vw;
        margin-top: 0.6vw;
      }
      .value {
        font-size: 1.6vw;
        line-height: 2.24vw;
      }
      .taxon {
        font-size: 1.6vw;
        font-weight: 200;
        margin: 0px -30%;
        color: rgba(255, 255, 255, 0.7);
      }
    }
    .bar {
      background-color: white;
      @include linearGradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.15));
    }
  }
}

.photos-slide {
  img {
    width: 20%;
    float: left;
  }
  & > div {
    height: 100%;
    padding: 0.8vw;
  }
  .cell {
    height: 30%;
    width: 19%;
    margin: 0.5%;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 35%;
    position: relative;
    .caption {
      position: absolute;
      bottom: 0px;
      height: 20%;
      width: 100%;
      background: rgba(0,0,0,0.65);
      padding: 2% 15% 2% 4%;
      font-size: 1.6vw;
      line-height: 2.5vw;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .user-icon {
      height: 2.8vw;
      width: 2.8vw;
      border: 1px solid white;
      border-radius: 2.8vw;
      bottom: 1.7vw;
      right: 1vw;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #AAAAAA;
      text-align: center;
      i {
        font-size: 2vw;
        line-height: 3.3vw;
      }
    }
  }
}

.people-slide {
  .heading {
    height: 4vw;
    line-height: 5.6vw;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 1.5% 0.5% 0.5%
  }
  .half {
    height: 85%;
  }
  .person {
    width: 32%;
    height: 49%;
    margin: 0.5%;
    float: left;
    background-color: rgba(255,255,255,0.1);
    .image {
      text-align: center;
      height: 70%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 20%;
      background-color: rgba(255,255,255,0.2);
      i {
        font-size: 12.8vw;
        opacity: 0.6;
      }
    }
    .meta {
      padding: 0.7vw;
      .name, .count {
        display: block;
        font-size: 1.6vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .count {
        color: rgba(255,255,255,0.75);
        font-size: 1.5vw;
        font-weight: 300;
     }
    }
  }
}

.species-slide {
  .heading {
    height: 4vw;
    line-height: 5vw;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 1% 0.5% 0.5%
  }
  .top {
    height: 50%;
    margin-bottom: 2%;
  }
  .bottom-half {
    height: 40%;
  }
  .top > div, .bottom-half > div {
    height: 100%;
  }
  .species {
    width: 15.6%;
    height: 85%;
    margin: 0.5%;
    float: left;
    background-color: rgba(255,255,255,0.1);
    .image {
      text-align: center;
      height: 70%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 20%;
      background-color: rgba(255,255,255,0.2);
      i {
        font-size: 10vw;
        line-height: 17.4vw;
      }
    }
    .meta {
      padding: 0.4vw 0.6vw;
      .name, .count {
        display: block;
        font-size: 1.6vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .count {
        color: rgba(255,255,255,0.75);
        font-size: 1.5vw;
        font-weight: 300;
      }
    }
  }
  .bottom-half {
    .heading {
      height: 20%;
      margin: 0 0.5% 0.5% 0.5%
    }
    .species {
      width: 49%;
      height: 38%;
    }
    .image {
      height: 100%;
      float: left;
      width: 32%;
      i {
        font-size: 5.6vw;
        line-height: 10vw;
      }
    }
    .meta {
      padding-left: 35%;
    }
  }
}

.top-projects-slide {
  .center {
    width: 100% !important;
  }
  table {
    height: 95%;
    font-weight: 100;
    font-size: 1.7vw;
    th {
      font-weight: 600;
      font-size: 1.5vw;
      text-transform: uppercase;
      border-bottom: 3px solid rgba(255,255,255,0.15) !important;
      padding: 0 !important;
    }
    td {
      border-top: 1px solid rgba(255,255,255,0.2) !important;
      padding: 0.5vw !important;
      margin: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle !important;
      &.index {
        text-align: center;
        font-size: 2.2vw;
        font-weight: 200;
        width: 3vw;
      }
      &.index, &.observations, &.species {
        text-overflow: initial;
      }
      &.title div {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 30vw;
      }
    }
  }
}

@media (min-width: 1px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav>li {
    float: left;
    margin: 0;
  }
  .navbar-right {
    float: right!important;
    margin-right: -15px;
  }
  .container-fluid>.navbar-header {
    margin-right: 0;
    margin-left: 0;
    float: left;
  }
}
