@import "../shared/linear_gradient";

@font-face {
  font-family: Lato;
  src: url("fonts/Lato/Lato-Light.eot"); /* IE9 Compat Modes */
  src: url("fonts/Lato/Lato-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/Lato/Lato-Light.woff2") format("woff2"), /* Modern Browsers */
       url("fonts/Lato/Lato-Light.woff") format("woff"), /* Modern Browsers */
       url("fonts/Lato/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Lato;
  src: url("fonts/Lato/Lato-LightItalic.eot"); /* IE9 Compat Modes */
  src: url("fonts/Lato/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/Lato/Lato-LightItalic.woff2") format("woff2"), /* Modern Browsers */
       url("fonts/Lato/Lato-LightItalic.woff") format("woff"), /* Modern Browsers */
       url("fonts/Lato/Lato-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Lato;
  src: url("fonts/Lato/Lato-Regular.eot"); /* IE9 Compat Modes */
  src: url("fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/Lato/Lato-Regular.woff2") format("woff2"), /* Modern Browsers */
       url("fonts/Lato/Lato-Regular.woff") format("woff"), /* Modern Browsers */
       url("fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Lato;
  src: url("fonts/Lato/Lato-Italic.eot"); /* IE9 Compat Modes */
  src: url("fonts/Lato/Lato-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/Lato/Lato-Italic.woff2") format("woff2"), /* Modern Browsers */
       url("fonts/Lato/Lato-Italic.woff") format("woff"), /* Modern Browsers */
       url("fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Lato;
  src: url("fonts/Lato/Lato-Medium.eot"); /* IE9 Compat Modes */
  src: url("fonts/Lato/Lato-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/Lato/Lato-Medium.woff2") format("woff2"), /* Modern Browsers */
       url("fonts/Lato/Lato-Medium.woff") format("woff"), /* Modern Browsers */
       url("fonts/Lato/Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Lato;
  src: url("fonts/Lato/Lato-MediumItalic.eot"); /* IE9 Compat Modes */
  src: url("fonts/Lato/Lato-MediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/Lato/Lato-MediumItalic.woff2") format("woff2"), /* Modern Browsers */
       url("fonts/Lato/Lato-MediumItalic.woff") format("woff"), /* Modern Browsers */
       url("fonts/Lato/Lato-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Lato;
  src: url("fonts/Lato/Lato-Bold.eot"); /* IE9 Compat Modes */
  src: url("fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/Lato/Lato-Bold.woff2") format("woff2"), /* Modern Browsers */
       url("fonts/Lato/Lato-Bold.woff") format("woff"), /* Modern Browsers */
       url("fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Lato;
  src: url("fonts/Lato/Lato-BoldItalic.eot"); /* IE9 Compat Modes */
  src: url("fonts/Lato/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/Lato/Lato-BoldItalic.woff2") format("woff2"), /* Modern Browsers */
       url("fonts/Lato/Lato-BoldItalic.woff") format("woff"), /* Modern Browsers */
       url("fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Lato;
  src: url("fonts/Lato/Lato-Heavy.eot"); /* IE9 Compat Modes */
  src: url("fonts/Lato/Lato-Heavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/Lato/Lato-Heavy.woff2") format("woff2"), /* Modern Browsers */
       url("fonts/Lato/Lato-Heavy.woff") format("woff"), /* Modern Browsers */
       url("fonts/Lato/Lato-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Lato;
  src: url("fonts/Lato/Lato-HeavyItalic.eot"); /* IE9 Compat Modes */
  src: url("fonts/Lato/Lato-HeavyItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/Lato/Lato-HeavyItalic.woff2") format("woff2"), /* Modern Browsers */
       url("fonts/Lato/Lato-HeavyItalic.woff") format("woff"), /* Modern Browsers */
       url("fonts/Lato/Lato-HeavyItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

html, body, #app, #app > div, .navbar > div, .navbar > div > div, .navbar a,
.row-fluid > div, .stats-bar {
  height: 100%;
  overflow: hidden;
  display: block;
}
body {
  font-family: Lato, "Trebuchet MS", Arial, sans-serif;
  color: white;
  background-color: black;
}
#app {
  transition: opacity 2s ease;
  &.transition {
    opacity: 0 !important;
  }
  &.color0 {
    @include linearGradient(#A52317, #CF632D);
    opacity: 1;
  }
  &.color1 {
    @include linearGradient(#412BAB, #A45BC6);
    opacity: 1;
  }
  &.color2 {
    @include linearGradient(#15685B, #68A742);
    opacity: 1;
  }
  &.color3 {
    @include linearGradient(#293492, #50A3B7);
    opacity: 1;
  }
  &.color4 {
    @include linearGradient(#981939, #C75C99);
    opacity: 1;
  }
  &.top-projects {
    @include linearGradient(#09012D, #385F6D);
    opacity: 1;
  }
}
#main-container {
  transition: background-color 2s ease;
  &.phase1 {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &.phase2 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &.phase3 {
    background-color: rgba(0, 0, 0, 0.4);
  }
  &.phase4 {
    background-color: rgba(0, 0, 0, 0.6);
  }
  &.phase5 {
    background-color: rgba(0, 0, 0, 0.9);
  }
}
.col-md-5 {
  width: 41.66666667% !important;
  float: left;
}
.col-md-6 {
  width: 50% !important;
  float: left;
  padding: 1vw;
  margin: 0;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.navbar {
  min-height: 0px;
  height: 5vw;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.8vw 0;
  .container-fluid {
    display: flex;
    justify-content: space-between;
  }
  .navbar-left {
    text-align: left;
    margin: 0;
    padding: 0 2vw;
    width: 20vw;
    height: 3vw;
  }
  .navbar-right {
    text-align: center;
    margin: 0;
    // width: 6.5vw;
    padding: 0 2vw 0 0;
    img {
      // width: 11vw;
      // height: auto;
      // width: auto;
      height: 3vw;
      object-fit: contain;
    }
  }
  .navbar-title {
    font-weight: 400;
    font-size: 2vw;
    line-height: 3.2vw;
    margin: 0;
    // width: 65vw;
    flex-grow: 2;
    width: 100%;
    padding: 0.2vw 0 0 2vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 1px solid rgba(255,255,255,0.25);
    .dates {
      text-transform: uppercase;
      font-size: 1.5vw;
      opacity: 0.85;
      padding-left: 2vw;
    }
  }
  img {
    width: 100%;
    max-height: 100%;
    height: 3.1vw;
    vertical-align: top;
    filter: invert(100%) saturate(0%) brightness(1000%) contrast(1000%);
  }
  a {
    display: inline;
    color: inherit;
    text-decoration: none;
  }
}
.slide {
  position: absolute;
  width: 100%;
  height: 50vw;
  padding: 0 1vw;
  display: none;
}

.map-slide {
  .left {
    width: 29%;
    float: left;
  }
  .right {
    width: 71%;
    & > div {
      height: 100%;
      width: 100%;
      background: transparent;
    }
  }
  .value {
    font-size: 3.1vw;
    font-weight: 700;
    line-height: 1;
    height: 60%;
  }
  .stat {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.7vw;
    height: 40%;
  }
  .row-fluid {
    height: 24%;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5vw 2vw;
  }
  .container-fluid {
    margin: 10% 5% 10% 20%;
    padding: 0;
    height: 70%;
  }
  &.umbrella-map-slide {
    .container-fluid {
      height: 80%;
    }
    .row-fluid {
      height: 19%;
      padding: 1.2vw 2vw;
    }
  }
}

.vertical-barchart {
  text-align: center;
  h2 {
    font-weight: 400;
    font-size: 2.8vw;
    text-transform: uppercase;
    margin: 2vw;
  }
  .chart {
    height: 80%;
    margin: 0 5%;
    & > div {
      float: left;
      height: 100%;
      display: -webkit-flex;
      display: flex;
      flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
      padding: 1.2vw;
      i.icon {
        font-size: 3.9vw;
        line-height: 2.3vw;
        margin-top: 0.6vw;
      }
      .value {
        font-size: 1.6vw;
        line-height: 2.24vw;
      }
      .taxon {
        font-size: 1.4vw;
        font-weight: 400;
        margin: 0px -30%;
        color: rgba(255, 255, 255, 0.7);
        width: 160%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .bar {
      background-color: white;
      @include linearGradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.15));
    }
  }
}

.photos-slide {
  img {
    width: 20%;
    float: left;
  }
  & > div {
    height: 100%;
    padding: 0.8vw;
  }
  .cell {
    height: 30%;
    width: 19%;
    margin: 0.5%;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 35%;
    position: relative;
    .SplitTaxon {
      position: absolute;
      bottom: 0px;
      height: 20%;
      width: 100%;
      background: rgba(0,0,0,0.65);
      padding: 2% 15% 2% 4%;
      font-size: 1.6vw;
      line-height: 2.5vw;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .user-icon {
      height: 2.8vw;
      width: 2.8vw;
      border: 1px solid white;
      border-radius: 2.8vw;
      bottom: 1.7vw;
      right: 1vw;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #AAAAAA;
      text-align: center;
      i {
        font-size: 2vw;
        line-height: 3.3vw;
      }
    }
  }
}

.people-slide {
  .heading {
    height: 4vw;
    line-height: 5.6vw;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 1.5% 0.5% 0.5%
  }
  .half {
    height: 85%;
  }
  .person {
    width: 32%;
    height: 49%;
    margin: 0.5%;
    float: left;
    background-color: rgba(255,255,255,0.1);
    .image {
      text-align: center;
      height: 70%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 20%;
      background-color: rgba(255,255,255,0.2);
      i {
        font-size: 12.8vw;
        opacity: 0.6;
      }
    }
    .meta {
      padding: 0.7vw;
      .name, .count {
        display: block;
        font-size: 1.6vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .count {
        color: rgba(255,255,255,0.75);
        font-size: 1.5vw;
        font-weight: 400;
     }
    }
  }
}

.species-slide {
  .heading {
    height: 4vw;
    line-height: 5vw;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 1% 0.5% 0.5%
  }
  .top {
    height: 50%;
    margin-bottom: 2%;
  }
  .bottom-half {
    height: 40%;
  }
  .top > div, .bottom-half > div {
    height: 100%;
  }
  div.species {
    width: 15.6%;
    height: 85%;
    margin: 0.5%;
    float: left;
    background-color: rgba(255,255,255,0.1);
    .image {
      text-align: center;
      height: 70%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 20%;
      background-color: rgba(255,255,255,0.2);
      i {
        font-size: 10vw;
        line-height: 17.4vw;
      }
    }
    .meta {
      padding: 0.4vw 0.6vw;
      .name, .SplitTaxon, .count {
        display: block;
        font-size: 1.6vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .count {
        color: rgba(255,255,255,0.75);
        font-size: 1.5vw;
        font-weight: 400;
      }
    }
  }
  .bottom-half {
    .heading {
      height: 20%;
      margin: 0 0.5% 0.5% 0.5%
    }
    div.species {
      width: 49%;
      height: 38%;
      .image {
        height: 100%;
        float: left;
        width: 32%;
        i {
          font-size: 5.6vw;
          line-height: 10vw;
        }
      }
      .meta {
        padding-left: 35%;
      }
    }
  }
}

.top-projects-slide {
  .center {
    width: 100% !important;
  }
  table {
    height: 95%;
    font-weight: 400;
    font-size: 1.7vw;
    th {
      font-weight: 600;
      font-size: 1.5vw;
      text-transform: uppercase;
      border-bottom: 3px solid rgba(255,255,255,0.15) !important;
      padding: 0 !important;
    }
    td {
      border-top: 1px solid rgba(255,255,255,0.2) !important;
      padding: 0.5vw !important;
      margin: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle !important;
      &.index {
        text-align: center;
        font-size: 2.2vw;
        font-weight: 400;
        width: 3vw;
      }
      &.index, &.observations, &.species {
        text-overflow: initial;
      }
      &.title div {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 30vw;
      }
    }
  }
}

.SplitTaxon.taxon {
  .rank, .secondary-name {
    display: none;
  }
}

@media (min-width: 1px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav>li {
    float: left;
    margin: 0;
  }
  .navbar-right {
    float: right!important;
    margin-right: -15px;
  }
  .container-fluid>.navbar-header {
    margin-right: 0;
    margin-left: 0;
    float: left;
  }
}

.nocontent,
.noresults {
  margin: 1em auto;
  width: 80%;
  text-align: center;
}
