var TaxonGuide = {
  IGNORE_PARAMS: ['test', 
    'utf8',
    'size',
    'grid',
    'labeled',
    'bgcolor',
    'multiselect_colorsFilter', 
    'multiselect_colorsFilter[]', 
    'multiselect_colorchooser',
    'multiselect_colorchooser[]',
    'multiselect_establishmentFilter'],
  OVERRIDE_EXISTING: 0,
  RESPECT_EXISTING: 1,
  REPLACE_EXISTING: 2,
  
  cleanParamString: function(s) {
    s = decodeURIComponent(s)
    var re
    for (var i = TaxonGuide.IGNORE_PARAMS.length - 1; i >= 0; i--){
      re = new RegExp(TaxonGuide.IGNORE_PARAMS[i]+'=[^\&]*\&?', 'g')
      s = s.replace(re, '')
    }
    if ($.trim(s) == '') { return s }
    var params = s.split('&')
    var uniqueParams = {}
    var muiltiParams = []
    for (var i = 0; i < params.length; i++) {
      var kv = params[i].split('=')
      if (kv[0].match(/\[.*\]/)) {
        muiltiParams.push(params[i])
      } else {
        uniqueParams[kv[0]] = kv[1]
      }
    }
    s = $.param(uniqueParams)
    if (muiltiParams.length > 0) s += '&' + muiltiParams.join('&')
    return s
  },
  
  init: function(context, options) {
    options = options || {}
    window.taxa = window.taxa || {}
    jQuery.param.fragment.noEscape(",/[]");
    
    $('#observedchart').parent().hide()
    $('#filters select[multiple]').multiselect({
      header: false,
      noneSelectedText: I18n.t('colors'),
      minWidth: 130,
      height: 'auto',
      selectedText: function(selected, total, elts) {
        if (selected > 2) {
          return '<strong>'+selected+ ' ' +I18n.t('colors')+'</strong>'
        }
        var html = ''
        for (var i=0; i < elts.length; i++) {
          html += '<span class="colorfield '+elts[i].value+'">'+I18n.t(elts[i].value)+'</span>'
        }
        return html
      }
    })
    $('#filters .establishmentfilter select').multiselect({
      header: false,
      noneSelectedText: "Native/endemic/inroduced",
      minWidth: 110,
      height: 'auto',
      multiple: false,
      selectedText: function(selected, total, elts) {
        if (elts[0].value) {
          return "<strong>"+elts[0].title+"</strong>"
        } else {
          return elts[0].title
        }
      }
    })

    $('#filters select, #filters input:checkbox, #filters .inter').siblings('input.button').hide()
    $('#filters select, #filters input:checkbox').change(function() {
      $(this).parents('form:first').submit()
    })
    
    
    // ensure controls change url state
    function replaceParams() {
      var href = $(this).attr("href") || $(this).serialize()
      href = href.match(/\?(.+)/)[1]
      href = TaxonGuide.cleanParamString(href)
      var state = href.match(/[\?\&=]/) ? $.deparam.querystring(href) : {}
      $.bbq.pushState(state, TaxonGuide.REPLACE_EXISTING)
      return false
    }
    function filterParams() {
      var href = $(this).attr("href") || $(this).serialize()
      href = TaxonGuide.cleanParamString(href)
      $.bbq.pushState($.deparam.querystring(href))
      return false
    }
    function underrideParams() {
      var href = $(this).attr("href") || $(this).serialize()
      href = TaxonGuide.cleanParamString(href)
      $.bbq.pushState($.deparam.querystring(href), TaxonGuide.RESPECT_EXISTING)
      return false
    }
    $('#browsingtaxa a, #controls form.searchfilter a').click(replaceParams)
    $('#controls form').each(function() {
      if ($(this).hasClass('searchfilter')) {
        $(this).submit(replaceParams)
      } else {
        $(this).submit(filterParams)
      }
    })
    $('#controls form.colorfilter a').click(function() {
      $.bbq.removeState('colors')
      return false
    })
    
    $('#controls form.establishmentfilter a').click(function() {
      $.bbq.removeState('establishment_means')
      return false
    })
    
    $('#controls form.threatenedfilter input:checkbox').change(function() {
      if (!this.checked) { $.bbq.removeState('threatened') }
      return false
    })
    
    // ensure url state changes update controls
    $(window).bind("hashchange", function(e) {
      var taxon = $.bbq.getState('taxon')
      $('#browsingtaxa a').removeClass('selected')
      if (taxon) {
        $('#browsingtaxa a.taxon_'+taxon).addClass('selected')
      } else {
        $('#browsingtaxa a.default_taxon').addClass('selected')
      }
      $('#controls form.searchfilter input[type=text]').val($.bbq.getState('q'))
      $('#controls form.colorfilter select').val($.bbq.getState('colors'))
      $('#controls form.establishmentfilter select').val($.bbq.getState('establishment_means'))
      $('#controls form.threatenedfilter input:checkbox').prop('checked', $.bbq.getState('threatened') == '1')
      $('#controls select:hidden').multiselect('refresh')
      if ($.bbq.getState('colors')) {
        $('#controls form.colorfilter .pale.button').show()
      } else {
        $('#controls form.colorfilter .pale.button').hide()
      }
      if ($.bbq.getState('establishment_means')) {
        $('#controls form.establishmentfilter .pale.button').show()
      } else {
        $('#controls form.establishmentfilter .pale.button').hide()
      }
      if ($.bbq.getState('q')) {
        $('#controls form.searchfilter .pale.button').show()
      } else {
        $('#controls form.searchfilter .pale.button').hide()
      }
      
      // updated observed link
      $('#sidecol .extralabel a').querystring($.bbq.getState(), TaxonGuide.REPLACE_EXISTING)
    })
    
    $(window).bind("hashchange", function(e) {
      TaxonGuide.load(context, options)
    })
    if ($('.listed_taxon', context).length > 0) {
      TaxonGuide.ajaxify(context)
    }
    var cleanQueryString = TaxonGuide.cleanParamString($.param.querystring())
    if (cleanQueryString != '' && $.param.fragment() == '') {
      $.bbq.pushState(cleanQueryString)
    } else if ($('.listed_taxon', context).length == 0) {
      $(window).trigger('hashchange')
    }
  },
  load: function(context, options) {
    $(context).shades('open', {
      css: {'background-color': 'white'}, 
      content: '<center style="margin: 100px;"><span class="loading bigloading status inlineblock">'+I18n.t('loading')+'</span></center>'
    })
    var options = options || {}
    var url = options.url || $(context).attr('data-guide-url')
    if (!url) {
      pieces = window.location.pathname.split('/')
      placeId = pieces[pieces.length-1]
      url = window.location.origin + '/places/guide/'+placeId
    }
    var data = $.param.fragment()
    if (data.length == 0 && options.cached_guide) {
      url = url.replace('guide', 'cached_guide')
    }
    if (TaxonGuide.lastRequest) {
      TaxonGuide.lastRequest.abort()
    }
    TaxonGuide.lastRequest = $.ajax({
      url: url,
      type: 'GET',
      data: data,
      dataType: 'html'
    }).done(function(html) {
      $('#taxa .guide_taxa').infinitescroll('destroy')
      $(context).html(html)
      TaxonGuide.lastRequest = null
      TaxonGuide.ajaxify(context)
      if ($('#taxa .guide_taxa .pagination').length > 0) {
        $('#taxa .guide_taxa').infinitescroll({
          navSelector  : ".pagination",
          nextSelector : ".pagination .next_page",
          itemSelector : ".guide_taxa .listed_taxon",
          bufferPx: 1000,
          loading: {
            img: '<%= image_path('spinner-small.gif') %>',
            msgText: '',
            finishedMsg: '<span class="meta">'+I18n.t('no_more_taxa_to_load')+'</span>'
          }
        }, function() {
          TaxonGuide.ajaxify(context)
        })
      }
    })
  },
  updateConfirmedChart: function(context) {
    TaxonGuide.updateBarchart(context, '#confirmedchart', 'data-confirmed-listed-taxa-count', {extraLabel: I18n.t('confirmed')})
  },
  updateObservedChart: function(context) {
    values = TaxonGuide.updateBarchart(context, '#observedchart', 'data-current-user-observed-count')
    if (!values) { 
      $('#observedchart').parent().hide()
      return
    }
    $('#sidecol .extralabel .value').text(values.valueWidth)
    $('#observedchart').parent().show()
  },
  updateBarchart: function(context, selector, countAttr, options) {
    options = options || {}
    var count = $('.guide_taxa', context).attr(countAttr)
    if (!count) { return false }
    var total = $('.guide_taxa', context).attr('data-listed-taxa-count') || $(selector).attr('data-original-total') || 0,
        labelText = ' ' + I18n.t('of') + ' ' + total,
        valueWidth = Math.round(total == 0 ? 0 : (count / total)*100),
        remainderWidth = 100 - valueWidth,
        valueLabel = '',
        remainderLabel = ''
    if (options.extraLabel) { labelText += ' ' + options.extraLabel}
    if (valueWidth > 10) {
      valueLabel += count
      if (remainderWidth < 50) {
        valueLabel += ' ' + labelText
      }
    } else {
      remainderLabel += count
    }
    if (remainderWidth >= 50) {
      remainderLabel += labelText
    }
    
    if (valueLabel.replace(/\s+/, '') == '') { valueLabel = "&nbsp;"}
    if (remainderLabel.replace(/\s+/, '') == '') { remainderLabel = "&nbsp;"}
    
    $('.value', selector).width((count / total)*100 + '%').find('.label').html(valueLabel)
    $('.remainder', selector).width(100-(count / total)*100 + '%').find('.label').html(remainderLabel)
    return {count: count, total: total, valueWidth: valueWidth}
  },
  ajaxify: function(context) {
    var jsonContainer = $(context).find('code.json')
    var newTaxa = $.parseJSON(jsonContainer.text())
    if (newTaxa) {
      window.taxa = $.extend({}, window.taxa, newTaxa)
    }
    jsonContainer.remove()
    
    TaxonGuide.updateConfirmedChart(context)
    TaxonGuide.updateObservedChart(context)
    $('[data-tip]', context).each(autoTip)
    $('.pagination a', context).click(function() {
      var href = $(this).attr("href")
      $.bbq.pushState($.deparam.querystring(href))
      return false
    })
    $('.listed_taxon', context).not('.ajaxified').each(function() {
      $(this).addClass('ajaxified')
      var matches = $(this).attr('href').match(/listed_taxa\/(\d+)/)
      if (!matches) { return }
      var listedTaxonId = matches[1]
      if (!listedTaxonId) { return }
      var dialogId = 'listed_taxon_dialog_'+listedTaxonId,
          dialog = $('#'+dialogId),
          taxonElt = $(this).find('.taxon[id*="taxon_"]').get(0),
          taxonId = taxonElt ? $(taxonElt).attr('id').split('_')[1] : null,
          taxon = window.taxa[taxonId]
      if (dialog.length == 0) {
        dialog = $('<div id="'+dialogId+'"></div>').addClass('dialog')
        $('body').append(dialog)
        dialog.hide()
      }
      var title = 'Taxon'
      if (taxon) {
        if (taxon.common_name) {
          title = taxon.common_name.name + ' (<i>'+taxon.name+'</i>)'
        } else {
          title = '<i>'+taxon.name+'</i>'
        }
      }
      if (typeof(PLACE) != 'undefined' && PLACE) {
        title += ' in ' + PLACE.display_name
      }
      
      $('#taxa').not('.fluid').find('.taxonimage img', this).not('.iconic').not('.centeredInContainer').waypoint(function() {
        $(this).centerInContainer({container: '.taxonimage:first'})
      }, {
        offset: '100%',
        triggerOnce: true
      })

      $(dialog).dialog({
        autoOpen: false,
        width: '90%',
        title: title,
        
        // faking modal behavior to make sure google maps links are clickable
        open: function() {
          $(document.body).shades()
        },
        close: function(event, ui) {
          $(document.body).shades('close')
        }
      })
      $(this).click(function() {
        var dialog = $('#'+dialogId)
        $(dialog).dialog('open')
        if ($(dialog).html() == '') {
          $(dialog).append($('<span class="loading status">' + I18n.t('loading') + '</span>'))
          $(dialog).load($(this).attr('href') + '?partial=guide', function(foo) {
            var dialog = $('#'+dialogId)
            $(dialog).centerDialog()
            $('.map', this).taxonMap()
            $('.side .photos a', this).has('img').click(function() {
              $(this).parents('.listed_taxon_guide').find('.tabs').tabs('select', 1)
              $(this).parents('.dialog:first').scrollTo('.tabs a[href="'+$(this).attr('href')+'"] img')
              return false
            })
            
            if ($('.desc', this).width() < $('.side', this).width()) {
              $('.listed_taxon_guide', this).addClass('compact')
              google.maps.event.trigger($('.map', this).data('taxonMap'), 'resize')
            }

            $('.comments', this).hide()
            
            $('.tabs', this).tabs({
              ajaxOptions: {
                data: "partial=cached_component"
              },
              load: function(event, ui) {
                if ($(ui.panel).text() == '') {
                  $(ui.panel).append(
                    $('<span>'+I18n.t('no_observations_from_this_place_yet')+'</span>').addClass('noresults meta')
                  )
                } else {
                  $(ui.panel).append(
                    $('<a rel="nofollow">'+I18n.t('view_more')+'</a>').addClass('readmore').attr('href', $(ui.tab).attr('href'))
                  )
                }
              }
            })
          })
        }
        return false
      })
    })
  }
}
