<%-
  @url_options ||= {}
  msg = if @reauthorization_needed
    "#{CONFIG.site_name_short} needs you to authorize more permissions from #{@provider.capitalize} to proceed:"
  else
    "First, connect your #{@provider.capitalize} account to #{CONFIG.site_name}:"
  end

  link_text = if @reauthorization_needed
    "Authorize permissions from #{@provider.capitalize}"
  else
    "Connect to #{@provider.capitalize}"
  end
-%>
<div id="providercol" class="stacked">
  <h4><%= msg %></h4>
  <br />
  <ul>
    <li class="clear">
      <%= link_to link_text, (@auth_url || auth_url_for(@provider, @url_options)), :class => "providerlink #{@provider} button" %>
    </li>
  </ul>
  <p class="ui description">
    Connecting your <%= CONFIG.site_name_short %> account to accounts on other sites will allow you
    to import photos and login to <%= CONFIG.site_name_short %> using your credentials from those sites.
  </p>
</div>
