<%-
  @url_options ||= {}
  msg = if @reauthorization_needed
    t(:your_site_needs_your_to_authorize_more_permissions_from_provider, :provider => @provider.capitalize, :site_name => @site.preferred_site_name_short)
  else
    t(:first_connect_your_provider_account_to_your_site, :provider => @provider.capitalize, :site_name => @site.preferred_site_name_short)
  end

  link_text = if @reauthorization_needed
    t(:authorize_permissions_from_provider, :provider => @provider.capitalize)
  else
    t(:connect_to_provider, :provider => @provider.capitalize)
  end
-%>
<div id="providercol" class="stacked">
  <h4><%= msg %></h4>
  <br />
  <ul>
    <li class="clear">
      <%= link_to link_text, (@auth_url || auth_url_for(@provider, @url_options)), :class => "providerlink #{@provider} button", method: :post %>
    </li>
  </ul>
  <p class="ui description">
    <%= t(:connecting_your_inat_account_to_accounts_other_sites, :site_name => @site.preferred_site_name_short) %>
  </p>
</div>
