<div class="breadcrumbs">
  <% if @parent.is_a?(Project) %>
  <%= link_to t(:back_to_x_journal, :user => @display_project.title),
              project_journal_path(@parent_slug),
              :class => 'back crumb' %>
  <% elsif current_user and current_user.login == @display_user.login %>
  <%= link_to t(:back_to_your_journal),
              journal_by_login_path(current_user.login),
              :class => 'back crumb' %>
  <% else %>
  <%= link_to t(:back_to_x_journal, :user => @display_user.login),
              journal_by_login_path(@display_user.login),
              :class => 'back crumb' %>
  <% end %>
</div><!-- /#breadcrumbs -->
