<%- posts ||= @posts -%>
    <% for date, day_posts in posts.group_by{|p| p.published_at.to_date} %>
      <h2 class="date grouped_date"><%=l date, :format=>:long %></h2>
      
      <div class="posts">
        <% for post in day_posts %>
          <%= render :partial => 'post', :locals => {:post => post} %>
          <% unless post == posts.last -%>
            <div class="column-separator">
              <img src="<%= image_path('logo-eee-15px.png') %>">
            </div>
          <% end -%>
        <% end %>        
      </div>
    <% end %>
