.taxon .rank {
  color: #888;
}

ul.listed_taxa {
  margin: 0 0 0 1.5em;
}

ul.taxonomic_view {
  list-style: none;
}

ul.first {
  margin-left: 0px;
}

.listed_taxa .actions {
  float: right;
  width: 115px;
  text-align: right;
  margin: 0 0.5em 0 0;
}

.listed_taxa .actions .seenit {
  clear: both;
  font-weight: bold;
}

.listed_taxa .removelink {
  display: block;
  float: right;
  padding: 2px 3px;
  line-height: 1;
}

.listed_taxa .removelink:hover {
  background-color: #eee;
}

.plain_view .listed_taxon .details {
  width: 437px;
}

.taxonomic_view .listed_taxon .details {
  float: none;
  padding-left: 60px;
}
