<p id="notice"><%= notice %></p>

<p>
  <b>Guide taxon:</b>
  <%= @guide_range.guide_taxon_id %>
</p>


<%= link_to 'Edit', edit_guide_range_path(@guide_range) %> |
<%= link_to 'Back', guide_ranges_path %>
