$mobile-max:  767px;
$desktop-min: 768px;

$sm:  576px;
$md:  768px;
$lg:  992px;
$xl:  1200px;
$xxl: 1400px;

$sm-max:  575.98px;
$md-max:  767.98px;
$lg-max:  991.98px;
$xl-max:  1199.98px;
$xxl-max: 1399.98px;
