$mobile-max:  767px;
$desktop-min: 768px;

$sm:  576px;
$md:  768px;
$lg:  992px;
$xl:  1200px;
$xxl: 1400px;

$sm-max:  575.98px;
$md-max:  767.98px;
$lg-max:  991.98px;
$xl-max:  1199.98px;
$xxl-max: 1399.98px;

@mixin container-padding {
  padding-left: 60px;
  padding-right: 60px;

  @media ( max-width: $md-max ) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media ( max-width: $sm-max ) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
