#header {
  margin-bottom: 0px;
}
.dashboard .sidebar {
  padding-top: 10px;
  background-color: #f9f9f9;
}
.dashboard .sidebar li > a {
  padding: 5px 10px;
}
.dashboard .sidebar .subitem {
  margin: 2px 0px 2px 20px;
  line-height: 15px;
  font-size: 0.9em;
}
.dashboard .sidebar .active a {
  color: #fff;
  background-color: #428bca;
}
.dashboard .sidebar .active a:hover {
  color: #fff;
  background-color: #428bca;
  opacity: 1;
}
.dashboard .main {
  padding-top: 5px;
  margin-left: 0px;
}
.dashboard h1.page-header {
  margin: 0px;
}
.dashboard .sidebar-head {
  font-size: 24px;
  line-height: 60px;
  padding: 15px;
}
