/* ...
*= require jquery-ui
*= require jquery/plugins/jquery.qtip.min
*= require jquery/ui.tabs
*= require jquery/plugins/jquery.multiselect
*= require jquery/plugins/jquery.autocomplete
*= require index
*= require observations
*= require autocomplete
*/