/* Styles form simple HTML/CSS bar charts */
.barchart {
  position: relative;
  float: left;
  width: 215px;
/*  height: 25px;*/
  background-color: transparent;
}

.barchart .datum .value,
.barchart .datum .remainder {
  position: relative;
  float: left;
  overflow: hidden;
}

.barchart .value {
  background-color: #aaa;
}

.barchart .remainder {
  background-color: #ddd;
}

.barchart .label {
  line-height: 1;
  font-family: "Trebuchet MS";
  width: auto;
  padding: 0.5em;
  text-align: right;
/*  white-space: nowrap;*/
  z-index: 999;
}

.barchart .remainder .label {
  text-align: left;
}

.barchart .value .label {
  color: white;
}
