@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

html, body, #app, #app > div, .navbar > div, .navbar > div > div, .navbar a,
.row-fluid > div, .stats-bar {
  height: 100%;
  overflow: hidden;
  display: block;
}
body {
  @include linearGradient(#4c30ae, #a25bc6);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
}
nav {
  height: 10%;
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar-nav {
  width: 20%;
}
.navbar-right {
  text-align: right;
  margin: 0px;
  width: 10%;
}
.content {
  height: 90%;
}
.navbar a {
  padding: 3%;
  margin: 0;
}
.navbar img {
  height: 100%;
  max-width: 100%;
}
.navbar-title {
  font-weight: 100;
  margin: 0px;
  font-size: 7vh;
  min-width: 60%;
  margin-left: 3%;
  white-space: nowrap;
}
.slide {
  position: absolute;
  width: 100%;
  height: 88%;
  padding-right: 30px;
}
#map {
  height: 100%;
  background: transparent;
  width: 100%;
}
.map-stats {
  letter-spacing: 0.1em;
  .value {
    font-size: 6vh;
    display: block;
    font-weight: 600;
  }
  .stat {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 3vh;
  }
  .row-fluid {
    height: 24%;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 5%;
  }
  .container-fluid {
    margin: 10% 5% 10% 20%;
    padding: 0;
    height: 70%;
  }
}
.vertical-barchart {
  text-align: center;
  h2 {
    font-weight: 100;
    font-size: 5vh;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .chart {
    height: 80%;
    margin: 0 5%;
    & > div {
      float: left;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      padding: 2%;
      i.icon {
        font-size: 7vh;
        line-height: 4vh;
      }
      .value {
        font-size: 2vh;
      }
      .taxon {
        font-size: 2.5vh;
        font-weight: 200;
        letter-spacing: 0.1em;
        margin: 0px -30%;
        opacity: 0.7;
      }
    }
    .bar {
      background-color: white;
      @include linearGradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.8));
    }
  }
}

#photos-slide {
  img {
    width: 20%;
    float: left;
  }
  & > div {
    height: 100%;
    & > div {
      height: 30%;
      width: 19%;
      margin: 0.5%;
      float: left;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: top;
    }
  }
}

#people-slide {
  .heading {
    height: 10%;
    line-height: 10vh;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    font-size: 3vh;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.05em;
  }
  .half {
    height: 85%;
  }
  .person {
    width: 32%;
    height: 49%;
    margin: 0.5%;
    float: left;
    background-color: rgba(0,0,0,0.1);
    .image {
      text-align: center;
      height: 70%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 20%;
      i {
        font-size: 23vh;
        opacity: 0.6;
      }
    }
    .meta {
      padding: 5%;
      .name, .count {
        display: block;
        font-size: 2.8vh;
      }
      .count {
        font-weight: 100;
        opacity: 0.8;
        font-size: 2.5vh;
       letter-spacing: 0.05em;
     }
    }
  }
}

#species-slide {
  .heading {
    height: 15%;
    line-height: 9vh;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    font-size: 2.5vh;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.05em;
  }
  .top {
    height: 50%;
    margin-bottom: 2%;
  }
  .bottom-half {
    height: 40%;
  }
  .top > div, .bottom-half > div {
    height: 100%;
  }

  .species {
    width: 15.6%;
    height: 85%;
    margin: 0.5%;
    float: left;
    background-color: rgba(0,0,0,0.1);
    .image {
      text-align: center;
      height: 70%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 20%;
      i {
        font-size: 23vh;
        opacity: 0.6;
      }
    }
    .meta {
      padding: 2%;
      .name, .count {
        display: block;
        font-size: 2.8vh;
      }
      .count {
        font-weight: 100;
        opacity: 0.8;
        font-size: 2.5vh;
        letter-spacing: 0.05em;
      }
    }
  }
  .bottom-half {
    .heading {
      height: 20%;
    }
    .species {
      width: 49%;
      height: 40%;
    }
    .image {
      height: 100%;
      float: left;
      width: 32%;
    }
    .meta {
      padding-left: 35%;
    }
  }
}