/* Overrides to the Blueprint button plugin */
a.button,
.button, 
input[type='button'].button,
button.button {
/*  Lifted from Blueprint plugin, which doesn't support <input type="button">*/
  display:block;
  float:left;
  margin:0 0.583em 0.667em 0;
  
  vertical-align: top;
  
/*  Blueprint overrides*/
  padding: 7px 10px 7px 7px;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 110%;
  border:1px solid #dedede;
  text-decoration:none;
  font-weight:bold;
  cursor:pointer;
  color: #36C;
  background-color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

input.button:hover {
  background-color:#dff4ff;
  border:1px solid #c2e1ef;
  color:#336699;
}

input[type='button']:active,
input[type='submit']:active,
input.button:active {
  background-color:#6299c5;
  border:1px solid #6299c5;
  color:#fff;
}

.buttonrow > label,
.buttonrow > .inter,
.buttonrow > input.text,
.buttonrow > .buttoncontainer label,
.buttonrow > .buttoncontainer .inter,
.buttonrow > .buttoncontainer input.text {
  display: block;
  float: left;
  width: auto;
  padding: 6px 0;
  margin: 0pt 0.583em 0.667em 0pt;
}

.buttonrow .inter {padding: 7px 0;}
.buttonrow .inter.right {float:right;}

.buttonrow .select {
  margin: 0pt 0.583em 0.667em 0pt;
}


.buttonrow input.text,
.buttonrow > .buttoncontainer input.text {
 padding: 6px 0.4em; 
}

.buttonrow label,
.buttonrow .inter {
  font-size: 100%;
}

.centered.buttonrow {
  text-align: center;
}

.centered.buttonrow .button,
.centered.buttonrow .inter,
.centered.buttonrow input.text {
  float: none;
  display: inline;
}

.buttonrow.inline .button,
.buttonrow.inline .inter,
.buttonrow.inline form,
.buttonrow.inline input.text,
.buttonrow.inline label {
  float: none;
  margin-right: 5px;
  margin-bottom: 0;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

.buttonrow.inline .button,
.buttonrow.inline .inter,
.buttonrow.inline input.text {
  padding: 5px;
}

button {
  padding: 2px 10px 1px 7px;   /* IE6 */
}

button[type] {
  line-height:15px;           /* Safari */
}

*:first-child+html button[type] {
  padding:2px 10px 1px 7px;   /* IE7 */
}

.button.default,
.button.default:hover, 
input[type='button'].default,
input[type='button'].default:hover,
input.button.default,
input.button.default:hover,
button.default,
button.default:hover {
  color: #f3f3f3;
  background-color: #36C;
  border-color: #36C;
}

.button.default:hover, 
input[type='button'].default:hover,
input.button.default:hover,
button.default:hover,
.ui-dialog.confirm-modal button:hover {
  color: white;
}

.button.default.disabled,
.button.default[disabled=disabled] {
  background-color: #999;
  color: #eee;
  border-color: #999;
  border: 0 none;
}
.button.disabled { opacity: 0.5; cursor: default;}
.button.disabled:hover { opacity: 0.5; background-color: inherit;}

.okcancel.buttons {
  clear: both;
}

.minor.button {
  border: 1px solid transparent; 
  font-weight: normal;
  margin-right: 0;
}

.button.delete {
  color: #999;
}

.inline.button {
  display: inline;
  float: none;
}

span.button {
  display: inline;
  padding: 0;
  border: 0;
  float: none;
  background-color: transparent;
}

.link {
  color: #3366CC;
  border: 0;
  background-color: transparent;
  display: inline;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

input[type='submit'].link:hover {
  color: #003399;
  border: 0;
  background-color: transparent;
  display: inline;
  font-size: 1em;
  cursor: hand;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.button.pale,
.button.pale.disabled:hover {
  border-color: #dedede;
  background-color: #dedede;
  color: white;
  text-align: center;
  padding: 5px;
}

.button.pale:hover {
  background-color: #aaa;
  border-color: #aaa;
  color: white;
}

.button.glaucous,
.button.glaucous.disabled:hover {
  background-color: #aaa;
  border-color: #aaa;
  color: white;
  text-align: center;
  padding: 5px;
}

.button.glaucous:hover {
  background-color: #777;
  border-color: #777;
  color: white;
}

.success .button.glaucous,
.success .button.glaucous.disabled:hover {
  background-color: #529214;
  border-color: #529214;
  color: white;
  text-align: center;
  padding: 5px;
}

.success .button.glaucous:hover {
  background-color: #3a8011;
  border-color: #3a8011;
  color: white;
}

.button.delete.pale {
  background-color: #eee;
  border-color: #eee;
  color: white;
  text-align: center;
  padding: 5px;
}

.button.delete.pale:hover {
  background-color: #ddd;
  border-color: #ddd;
  color: white;
}

.buttonrow.smallbuttons .button,
.buttonrow.smallbuttons input.text,
.buttonrow.smallbuttons label,
.buttonrow.smallbuttons .inter,
.buttonrow.smallbuttons.inline .inter {
  padding: 1px 3px;
  font-size: 100%;
  margin-bottom: 0;
}

@-moz-document url-prefix() {
  .buttonrow.smallbuttons input.button {
    padding: 0px 3px;
  }
}

.buttonrow.smallbuttons .button,
.buttonrow.smallbuttons a.button:hover,
.buttonrow.smallbuttons input.button:hover
.buttonrow.smallbuttons input[type='button']:hover,
.buttonrow.smallbuttons input[type='submit']:hover,
.buttonrow.smallbuttons input[type='button']:active,
.buttonrow.smallbuttons input[type='submit']:active {
  font-weight: normal;
}

.buttonrow.inline form.last,
.buttonrow.inline .button.last { margin-right: 0; }

@-moz-document url-prefix() {
  input.button { padding: 6px 6px 7px 6px;}
}

.button.last { margin-right: 0; }
