$inat-green: #74ac00;
$inat-green-light: #a8cc09;
$needs-id-yellow: #FFEE91;
$needs-id-yellow-light: #85743D;
$bootstrap-link-color: #428BCA;
$other-link-color: #337AB7;
$light-grey: #F7F7F7;
$border-grey: #DDD;
$text-grey: #999;
$fail-red: #D9534F;
$page-background-grey: #f8f8f8;
$alert-red: #cd0a0a;
$facebook-blue: #1877f2;
$google-red: #d74837;
$twitter-blue: #1C8EEF;
$yahoo-purple: #5622CA;
$linkedin-blue: #046293;
$btn-orange: #f16f3a;
$btn-orange-hover: #ec5f26;
$btn-grey: #727272;
$btn-grey-hover: #727272;
