@import "colors";
@import "responsive";
@import "donorbox-iframe";

.bootstrap h1 {
  margin: 40px 0 20px;
  font-size: 33px;
}

.sharing {
  margin: 50px 0;
  text-align: center;
  .btn {
    i {
      margin-right: 3px;
    }
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    letter-spacing: 1.5;
  }
  .btn.btn-facebook,
  .btn.btn-facebook:active,
  .btn.btn-facebook:active:focus,
  .btn.btn-facebook:focus {
    background-color: $facebook-blue;
    border-color: $facebook-blue;
    margin-right: 20px;
  }
  .btn.btn-twitter,
  .btn.btn-twitter:active,
  .btn.btn-twitter:active:focus,
  .btn.btn-twitter:focus {
    background-color: $twitter-blue;
    border-color: $twitter-blue;
    margin-right: 20px;
  }
  .btn.btn-linkedin,
  .btn.btn-linkedin:active,
  .btn.btn-linkedin:active:focus,
  .btn.btn-linkedin:focus {
    background-color: $linkedin-blue;
    border-color: $linkedin-blue;
  }
}
