@import "colors";
@import "responsive";

#donorbox-iframe {
  min-width: 310px;
  max-height: none!important;
  height: 685px;
  display: block;
  margin: 0 auto;
}
@media (min-width: 992px) {
  #donorbox-iframe {
    width: 100%;
    margin: 0;
  }
}

.sharing {
  margin: 50px 0;
  text-align: center;
  .btn {
    margin-right: 20px;
    i {
      margin-right: 3px;
    }
    font-weight: bold;
    letter-spacing: 1.5;
  }
  .btn.btn-facebook,
  .btn.btn-facebook:active,
  .btn.btn-facebook:active:focus,
  .btn.btn-facebook:focus {
    background-color: $facebook-blue;
    border-color: $facebook-blue;
  }
  .btn.btn-twitter,
  .btn.btn-twitter:active,
  .btn.btn-twitter:active:focus,
  .btn.btn-twitter:focus {
    background-color: $twitter-blue;
    border-color: $twitter-blue;
  }
  .btn.btn-linkedin,
  .btn.btn-linkedin:active,
  .btn.btn-linkedin:active:focus,
  .btn.btn-linkedin:focus {
    background-color: $linkedin-blue;
    border-color: $linkedin-blue;
  }
}
