#donorbox-iframe {
  min-width: 345px;
  max-height: none!important;
  height: 685px;
  display: block;
  margin: 0 auto 20px;
}
@media (min-width: 992px) {
  #donorbox-iframe {
    width: 100%;
    margin: 0;
  }
}
