@charset "UTF-8";

@font-face {
  font-family: "inaturalisticons";
  src:asset-data-url("inaturalisticons.eot");
  src:asset-url("inaturalisticons.eot?#iefix") format("embedded-opentype"),
    asset-data-url("inaturalisticons.woff") format("woff"),
    asset-data-url("inaturalisticons.ttf") format("truetype"),
    asset-url("inaturalisticons.svg#inaturalisticons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "inaturalisticons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "inaturalisticons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-inat-wordmark:before {
  content: "\65";
}
.icon-arrow-down:before {
  content: "\61";
}
.icon-arrow-left:before {
  content: "\62";
}
.icon-arrow-right:before {
  content: "\63";
}
.icon-arrow-up:before {
  content: "\64";
}
.icon-lifebuoy:before {
  content: "\67";
}
.icon-species-unknown:before {
  content: "\66";
}
.icon-ios-calendar-outline:before {
  content: "\68";
}
.icon-captive:before {
  content: "\69";
}
.icon-chatbubble:before {
  content: "\79";
}
.icon-identification:before {
  content: "\78";
}
.icon-person:before {
  content: "\7a";
}
.icon-iconic-amphibia:before {
  content: "\6a";
}
.icon-iconic-animalia:before {
  content: "\6b";
}
.icon-iconic-arachnida:before {
  content: "\6c";
}
.icon-iconic-aves:before {
  content: "\6d";
}
.icon-iconic-actinopterygii:before {
  content: "\6e";
}
.icon-iconic-unknown:before {
  content: "\6f";
}
.icon-iconic-reptilia:before {
  content: "\70";
}
.icon-iconic-protozoa:before {
  content: "\71";
}
.icon-iconic-plantae:before {
  content: "\72";
}
.icon-iconic-mollusca:before {
  content: "\73";
}
.icon-iconic-mammalia:before {
  content: "\74";
}
.icon-iconic-chromista:before {
  content: "\75";
}
.icon-iconic-insecta:before {
  content: "\76";
}
.icon-iconic-fungi:before {
  content: "\77";
}
