@charset "UTF-8";

@font-face {
  font-family: "inaturalisticons";
  src:url("inaturalisticons.eot");
  src:url("inaturalisticons.eot?#iefix") format("embedded-opentype"),
    url("inaturalisticons.woff") format("woff"),
    url("inaturalisticons.ttf") format("truetype"),
    url("inaturalisticons.svg#inaturalisticons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "inaturalisticons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "inaturalisticons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-inat-wordmark:before {
  content: "\e000";
}
.icon-arrow-down:before {
  content: "\e001";
}
.icon-arrow-left:before {
  content: "\e002";
}
.icon-arrow-right:before {
  content: "\e003";
}
.icon-species-unknown:before {
  content: "\e004";
}
.icon-ios-calendar-outline:before {
  content: "\e005";
}
.icon-chatbubble:before {
  content: "\e007";
}
.icon-identification:before {
  content: "\e008";
}
.icon-person:before {
  content: "\e009";
}
.icon-iconic-animalia:before {
  content: "\e00a";
}
.icon-iconic-arachnida:before {
  content: "\e00b";
}
.icon-iconic-actinopterygii:before {
  content: "\e00d";
}
.icon-iconic-reptilia:before {
  content: "\e00e";
}
.icon-iconic-protozoa:before {
  content: "\e00f";
}
.icon-iconic-plantae:before {
  content: "\e010";
}
.icon-iconic-mollusca:before {
  content: "\e011";
}
.icon-iconic-mammalia:before {
  content: "\e012";
}
.icon-iconic-chromista:before {
  content: "\e013";
}
.icon-iconic-insecta:before {
  content: "\e014";
}
.icon-iconic-fungi:before {
  content: "\e015";
}
.icon-locate:before {
  content: "\e017";
}
.icon-arrows-out:before {
  content: "\e018";
}
.icon-arrows-in:before {
  content: "\e019";
}
.icon-iconic-unknown:before {
  content: "\e01a";
}
.icon-iconic-amphibia:before {
  content: "\e01b";
}
.icon-icn-id-help:before {
  content: "\e01c";
}
.icon-no-location:before {
  content: "\e01d";
}
.icon-arrow-up:before {
  content: "\e01e";
}
.icon-icn-location-obscured:before {
  content: "\e01f";
}
.icon-icn-location-private:before {
  content: "\e020";
}
.icon-layers:before {
  content: "\e021";
}
.icon-link:before {
  content: "\e016";
}
.icon-photo-grid:before {
  content: "\e022";
}
.icon-photo-quilt:before {
  content: "\e023";
}
.icon-link-external:before {
  content: "\e024";
}
.icon-icn-captive:before {
  content: "\e006";
}
.icon-icn-dna:before {
  content: "\e025";
}
.icon-icn-wild:before {
  content: "\e026";
}
.icon-icn-taxa-birds:before {
  content: "\e00c";
}
.icon-icn-leading-id:before {
  content: "\e027";
}
