.bootstrap .container .media-object [class^="icon-"], .bootstrap .media-object [class*=" icon-"] {width: 70px; height:70px; text-align:center;}
.bootstrap .container .media-object a {text-decoration: none;}
.recent_tags {line-height: 2.5;}
.bootstrap .container .btn i {vertical-align: middle;}
.draft.badge {text-transform: uppercase;}
.sorttarget { height: 100px;}
#guides-funding img { max-height: 18px; position: relative; bottom: 2px; }
