td.subject {
  width:100%;
}
.unread .subject {font-weight:bold;}
.unread td {background-color: lightyellow;}
.tools {position:relative; z-index: 1;}
.messages {
  .message {
    td.user {
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;
      padding-inline-end: 30px;
      .user_image {
        width: 16px;
        height: 16px;
      }
      > a:last-child {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .user-search-link {
      visibility: hidden;
      position: absolute;
      right: 10px;
    }
    .meta {
      text-align: end;
    }
  }
  .message:hover {
    .user-search-link {
      visibility: visible;
    }
  }
}

[dir="rtl"] {
  .messages {
    .message {
      .user-search-link {
        right: inherit;
        left: 10px;
      }
    }
  }
}
