/* IE-specific styles for observations.  Sigh. */
.table .observation,
.table .headerrow {
  width: 100%;
  border-bottom: 1px solid #eee;
}

.table .headerrow {
  border-bottom: 1px solid #ccc;
}

.table .observation:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: auto;
  content: '.';
}

.observations.table .header,
.observations.table .observation .attribute {
  display: block;
  float: left;
  margin: 0;
  border: none;
  border-width: 0px;
  line-height: 1.2;
  position: static;
}

.table .observation h4 {
  display: none;
}

.table .icon {
  width: 5%;
}

.table .photos {
  width: 80px;
}

.table .species_guess {
  width: 30%;
}

.table .user {
  width: 10%;
}

.table .observed_on {
  width: 10%;
}

.table .place {
  width: 10%;
}

.table .actions {
  width: 10%;
}

.mini .attribute {
  float: none;
  line-height: 1.2;
}

.mini .photos {
  float: right;
  width: 80px;
}

.mini .user,
.mini .observed_on,
.mini .place,
.mini .details,
.mini .user .label,
.mini .observed_on .label,
.mini .place .label {
  position: static;
  line-height: 1.2;
}

.mini .user .label,
.mini .observed_on .label,
.mini .place .label {
  display: inline;
  margin-right: 1em;
}

.mini .user,
.mini .observed_on,
.mini .place {
  padding-left: 30px;
}

.observations.table .project_observation_extra {display:none;}
