#bodywrapper {
  margin-bottom: 0;
  &:after {
    height: 0;
  }
  display: flex;
  flex-direction: column;

  #wrapper {
    display: flex;
    flex: 2;

    .flexrow {
      display: flex;
      flex: 2;
    }
  }
}

#header {
  #initiative-branding {
    position: relative;
    top: 2px;
  }
  @media (max-width: 767.99px) {
    #mainnav,
    #headersearch,
    .add-obs,
    #usernav .messages,
    #usernav .updates,
    #usernav .signedout {
      display: none;
    }
  }
}
