.vis {
  height: 300px;
}
.bootstrap .container.vis {
  padding-left: 0;
  padding-right: 0;
}
.spark {
  width: 100%;
  height: 40px;
}
.spark path {
  stroke: deeppink;
  stroke-width: 1;
  fill: none;
}
.sparks label {
  text-align: center;
  font-size: smaller;
  color: #777;
}
