#taxon_browser .facet {
  margin-bottom: 1em;
  padding: 10px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#taxon_browser .facet h3 {
  margin-bottom: 0.5em;
}

#taxon_browser .facet .selected {
  font-weight: bold;
  background-color: #ffc;
}

#taxon_browser .facet .selected {
  padding: 4px 5px;
}

.taxon_links a.taxon {
  padding-top: 2px;
  padding-bottom: 2px;
}

#taxon_browser .facet_value .icon {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border: 1px solid transparent;
}

#taxon_browser .facet_value.black  .icon { background-color: black;}
#taxon_browser .facet_value.white  .icon { background-color: white; border-color: #eee;}
#taxon_browser .facet_value.red    .icon { background-color: red;}
#taxon_browser .facet_value.green  .icon { background-color: green;}
#taxon_browser .facet_value.blue   .icon { background-color: blue;}
#taxon_browser .facet_value.purple .icon { background-color: purple;}
#taxon_browser .facet_value.yellow .icon { background-color: yellow;}
#taxon_browser .facet_value.grey   .icon { background-color: grey;}
#taxon_browser .facet_value.orange .icon { background-color: orange;}
#taxon_browser .facet_value.brown  .icon { background-color: saddlebrown;}
#taxon_browser .facet_value.pink   .icon { background-color: pink;}

#taxon_browser .color {
  padding: 2px 4px;
}
#taxon_browser .color.black  { color: lightgrey;  background-color: black;}
#taxon_browser .color.white  { color: grey;       background-color: #f6f6f6;}
#taxon_browser .color.red    { color: lightpink;  background-color: red;}
#taxon_browser .color.green  { color: lightgreen; background-color: green;}
#taxon_browser .color.blue   { color: lightblue;  background-color: blue;}
#taxon_browser .color.purple { color: violet;     background-color: purple;}
#taxon_browser .color.yellow { color: goldenrod;  background-color: yellow;}
#taxon_browser .color.grey   { color: lightgrey;  background-color: grey;}
#taxon_browser .color.orange { color: chocolate;  background-color: orange;}
#taxon_browser .color.brown  { color: peru;       background-color: saddlebrown;}
#taxon_browser .color.pink   { color: deeppink;   background-color: pink;}

#taxon_browser .facet ul {
  list-style: none;
  margin: 0 0 0 15px;
}

#taxon_browser .place_type { white-space: nowrap; }

#external_search {
  margin-top: 20px;
}

#taxon_browser .facet .togglelink {
  position: relative;
  left: -5px;
}

#taxon_browser .taxon .wikipedia_summary {
  display: none;
}

.ui-tooltip-content .name {
  font-family: Georgia, serif;
  font-size: 140%;
}

.ui-tooltip-content .wikipedia_summary {
  display: block;
}

.ui-tooltip-content .image {
  display: none;
}

.ui-tooltip-content .info {
  float: left;
  width: 300px;
}

#taxonchooser {
  width: 965px;
  margin-left: -483px;
}
#taxon_list.empty { margin: 0 auto; }

#taxon_browser .taxon_search_form .loading {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 2px solid #CCC;
  border-bottom: 2px solid #CCC;
  padding: 5px;
  padding-left: 25px;
  background-color: white;
  margin: 0 0 0 10px;
  background-position: 5px 50%;
}
