#welcomecol {
  margin-bottom: 1em;
}

#welcomecol h1,
#welcomecol h2 {
  margin-bottom: 0.2em;
}

#welcomecol .button {
  text-align: center;
  float: none;
  margin: 0.4em auto;
}

#learnmore, #signup, #addobs {
  font-size: 120%;  
  border-width: 2px;
  padding: 0.4em 1em;
}

#more {
  padding-left: 20px;
}

#more img {
  display: inline;
  float: none; 
  margin: 0; 
  vertical-align: bottom;
  position: relative;
  top: 0.1em;
}

#contentcol h3 {
  margin-bottom: 0.4em;
}

#observations {
  padding: 0 1em 0 0;
  background: none;
}

#groupscol h4 {
  padding-left: 60px;
  position: relative;
  margin-bottom: 0.4em;
}

#groupscol h4 img {
  position: absolute;
  left: 0;
  margin: 0;
}

#groupscol li p {
  margin: 0;
}

.mini.observation {
  width: 400px;
}


.mini.observation .description {
  margin-bottom: 1em;
}

ul#last-five {
  padding: 0;
  margin: 0;
}

ul#last-five li {
  list-style: none;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

#goalcol .box {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

#goal_chart {
  background-color: #D9CACF;
  position: relative;
  height: 40px;
}

#goal_chart .series {
  position: relative;
  height: 40px;
}

#goal_chart .series .label {
  position: absolute;
  top: 20%;
  line-height: 1;
  font-family: "Trebuchet MS";
  font-size: 14pt;
  width: auto;
  white-space: nowrap;
  z-index: 999;
}

#goal_chart .series.firsthalf .label {
  left: 100%;
  color: #FF60AF;
  margin-left: 10px;
}

#goal_chart .series.secondhalf .label {
  right: 10px;
  color: white;
}

#goal_chart .tick {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  border-right: 1px solid #FCEDF2;
}

.tick .label {
  position: absolute;
  bottom: 0px;
  right: 2px;
  color: #FCEDF2;
  font-size: 6pt;
}

#first_goal {
  background-color: #FF64B1;
}

#last-five li {
  cursor: pointer;
  color: #666;
  margin-bottom: 1em;
}

#map {
  width: 100%;
  height: 500px;
}
