.homesection {
  color: #575757;
}
#hero, #how { margin-bottom: 60px; }
.bootstrap .homesection h1 {
  margin: 0 0 30px;
}
.bootstrap .homesection h2 {
  font-weight: bold; 
  font-size: 22px;
  color: #353535;
  text-align: left;
  line-height: 31 px;
}
.bootstrap .homesection p { 
  font-size: 18px;
}
.bootstrap [class*='col-'].bleedcol { padding: 0; }
.bootstrap [class*='col-'].bigpadded { padding: 60px; }
#header {margin-bottom: 0;}
#wrapper { margin-bottom: 0; min-width: 980px; }
#hero { 
  overflow:hidden; 
  background-color: black;
  position: relative;
}
#hero,
#hero .carousel .item,
#hero .carousel .statcol {
  height: 450px;
}
#hero, #hero a {color: white;}
#hero .heroimage {
  width: 100%; 
  width: 100%;
  height: 450px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: transparent;
}
.herobox-container {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
}
.herobox { background-color: #f27134; }
#obs-stats-container .herobox { background-color: #5D5ACC; }
#species-stats-container .herobox { background-color: #B72EA7; }
#people-stats-container .herobox { background-color: #E2A203; }
.bootstrap .homesection .herobox h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
#obs-stats-container .herobox h1,
#species-stats-container .herobox h1,
#people-stats-container .herobox h1 {
  font-size: 40px;
  margin-bottom: 0px;
}
.herobox p {
  font-size: 17px;
  margin: 0;
}
#obs-stats-container .herobox p,
#species-stats-container .herobox p,
#people-stats-container .herobox p {
  font-size: 20px;
}
.herobox embed {
  width: 72px;
  height: 72px;
}
.herobox .herotext, .herobox .morelink {
  padding: 30px 30px;
}
.herolinks { 
  display: flex; 
  width: 100%;
  font-size: 16px;
}
.morelink {
  font-size: 130%;
  display: inline-block;
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 20px;
  flex-grow: 1;
  font-weight: bold;
  text-transform: uppercase;
}
.morelink:first-child {
  border-right: 1px solid rgba(0,0,0,0.2);
}
.herofooter { 
  background: rgba(0,0,0,0.5);
  font-size: 18px;
  line-height:25.2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.herofooter [class*='col-'] { 
  height: 48px; 
  line-height: 48px;
  position: relative; 
  white-space: nowrap;
}
.herofooter img { 
  width: 58px; 
  height: 58px; 
  border-radius: 500px; 
  border: 2px solid white;
  position: absolute; 
  bottom: 10px;
}
.herofooter a:hover img { 
  opacity: 1;
}
.herofooter .obstext {
  padding-left: 70px;
}
.herofooter .username,
.herofooter .taxonname {
  font-weight: bold;
}
.herofooter .taxonname:before {
  content: '\007E';
  margin: 0 10px;
  font-weight: normal;
}
.container-fixed { margin: 0 auto; min-width: 980px;}
#science .container-fixed {min-width: auto; max-width: 530px; width: auto;}
#how [class*='col-'] {
  text-align: center;
  white-space: nowrap;
  min-width: 255px;
}
#how img, #how embed { margin: 0 auto; }
#how embed {
  max-width: 80%;
  height: 247px;
}
#how label {
  display: block;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  margin: 0 auto 30px;
  color: white;
  background-color: #74ac00;
  border: 3px solid white;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
}
#how .txtrow { position: relative; }
#how .txtrow:before {
  content: ' ';
  display: block;
  height: 4px;
  background-color: #BED989;
  width: 69%;
  margin: 0 auto;
  top: 17px;
  position: relative;
}
#how p { font-size: 24px; }
#science > .row {
  background-color: black;
  color: white;
}
#science .bigpadded,
#science .bleedcol .img {
  height: 350px;
}
#science .bleedcol .img {
  width: 100%; 
  background: url(/assets/homepage-science.jpg) 50% 50%; 
  background-size: cover;
}
#value > .row {
  background-color: #EAF3D8;
}
#value h1, #who h1 { text-align: center; margin-top: 60px;}
#value h2 {
  font-size: 22px;
  margin-top: 0;
}
#value [class*='col-'] {margin-bottom: 30px; }
#value > .row:last-child { padding-bottom: 30px;}
#value embed { width: 99px; max-height: 80px; margin: 0 auto; display:block;}
#value .media-left { padding-right: 30px;}
#value .second-col { margin-left: 15px; }
#mobile { background-color: #74ac00; }
#mobile .bleedcol { padding: 30px; text-align: center;}
#mobile .bleedcol embed { margin: 0 auto; max-height: 250px; width: 100%;}
#mobile .bigpadded { background-color: white; }
#mobile .bigpadded img {margin-right: 30px;}
#mobile .bigpadded p {margin-bottom: 30px;}
#who > .row { background-color: #eee;}
#who .bigpadded { padding-top: 0; }
#who blockquote {
  font-size: 24px;
  line-height: 38px;
  padding: 0;
  border: 0 transparent;
}
#who blockquote:before {content: '\201C';}
#who blockquote:after {content: '\201D';}
#who .name {
  font-weight: bold;
  font-size: 24px;
  color: #74ac00;
  line-height: 28.8px;
}
#who .role {
  color: #575757;
  line-height: 26px;
}
#who .location {
  color: #727272;
  line-height: 26px;
}
#who .item {padding-bottom: 20px; height: 430px;}
#call .row {
  background-color: black;
  color: white;
  font-size: 42px;
  line-height: 50.4px;
  font-weight: 500;
}
#call .btncol {
  padding-top: 60px;
}
#call .btn {
  border: 0 transparent;
  background-color: #74ac00;
  border-radius: 30px;
  color: white;
  font-size: 30px;
  width: 100%;
  text-transform: uppercase;
}
.bootstrap .carousel-control { width: 5%; z-index: 1; }

/*#stats .statcol {display: block;}
#stats .obsstats { background-color: #6fa501; }
#stats .speciesstats { background-color: #8dbb2d; }
#stats .peoplestats { background-color: #83b51d; }

#stats {
  font-size: 150%;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.05em;
}
#stats a { display: block; }
#stats embed { width: 120px; height: 120px; margin: 100px 0 40px; }
#stats .stat {font-size: 200%; margin-bottom: 20px; }*/

.bootstrap .carousel-control.left,
.bootstrap .carousel-control.right { 
  font-size: 200%;
  background: none;
  margin-top: -1em;
}
