#newobsnav {
  float: none;
  margin: 0;
  font-size: 80%;
}

#pageheader h2 {
  margin-top: 0;
}

#listform {
  background-color: #eee;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

#listform select {
  width: 300px
}

#taxaform {
  margin-top: 65px;
}

#taxaform .buttonrow {
  text-align: center;
}

#taxaform .button {
  display: inline-block;
  float: none;
}

#mobilenav {
/*  position: relative;
  text-align: right;*/
  width: 300px;
}

#show_mobile_nav_link,
#mobilenav.open {
  text-align: left;
  background-color: #eee;
  padding: 5px;
/*  -webkit-border-radius: 5px;
  -webkit-border-top-left-radius
  -webkit-border-top-right-radius*/
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px #aaa;
}

#show_mobile_nav_link {
  display: inline-block;
}

#hide_mobile_nav_link,
#goto_nav_link {
  display: inline-block;
  float: right;
  padding: 5px;
}

#alphanav_letters a {
  text-align: center;
  display: inline-block;
  width: 10px;
  padding: 4px;
  margin-bottom: 5px;
  background-color: #ccc;
  -webkit-border-radius: 5px;
}

#taxasearch {
  background-color: #eee;
}
