input.text,
textarea.text {
  width: 239px;
  margin: 0;
}
#observation_description {height: 307px;}

.field label {
  display: inline-block;
  margin-bottom: 0.2em;
}

.field .observation_photos label {
  display:block;
}

input.place_guess { width: 336px; }

#mapcontainer {
  height: 433px;
  position:relative;
}

#map { height: 433px; }

#mapcontainer .description {position:absolute; top: 50%; left: 50%; margin-left: -100px; margin-top: -10px; width: 200px; z-index:10000; background-color:black; color: #eee; padding: 5px; border-radius: 10px; text-align:center;}

.latlonfields {
  position: relative;
  background-color: white;
  padding: 0px 10px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
}
.latlonfields.status { background-color: #F6F6F6; padding-bottom: 3px;}
.observationform .latlonfields.status input { width: 118px; }

.latlonfields .button {
  position: absolute;
  top: 2px;
  right: 5px;
}

.photoSelector { width: 285px; }
.photoSelectorControls .button { padding: 5px; }
.photoSelectorControls .prevlink {
  float: left;
  clear: left;
}
.photoSelectorControls select { font-size: 90%; }
.photoSelectorPhotos { margin: 0 auto; height: 440px; overflow: auto;}
.photoSelectorAlbums{
  max-height:none;
  overflow: none;
}

form .species_guess_field { margin-bottom: 0px; }
.photo .synclink { float: right; }
.photoSelectorControls .findbutton { margin-right: 0; }

.observation_field { border-bottom: 1px solid #eee; padding-bottom:10px;}
.observation_field.disabled {opacity: 0.5;}
#morefields .buttonrow .button, #morefields .buttonrow label { padding-top: 4px; padding-bottom:3px;vertical-align:top;}
#morefields {margin-bottom:20px;}

