#filters{clear:both;color:#888;margin-bottom:5px;padding:1em;border:1px solid #eee;}
#search_filter label{padding:0.7em 0;}
#search_filter input{width:575px;}
#search_filter label,
#attributes_filters_label,
#iconic_taxon_filters_label{display:block;float:left;}
.iconic_taxon_filter,
#iconic_taxon_filters_label{float:left;}
#search_on{font-size:125%;padding:5px;}
.iconic_taxon_filter{margin-right:5px;}
.iconic_taxon_filter input{display:block;float:left;position:relative;top:2px;}
#filters fieldset{display:inline;border:none;padding:0;margin:0;line-height:1;margin-right:1em;}
#search_filter,
#attribute_filters{margin-bottom:5px;}
#iconic_taxon_filters{margin-bottom:15px;}
#iconic_taxon_filters input.checkbox,
#iconic_taxon_filters input[type=checkbox]{margin-top:0;}
#iconic_taxon_filters label{position:relative;display:block;float:left;width:0;background:url('/images/logo-cccccc-20px.png') 5px 2px no-repeat;padding-left:30px;height:20px;color:#ccc;cursor:pointer;vertical-align:middle;}
#iconic_taxon_filters label.selected{background:url('/images/logo-20px.png') 5px 2px no-repeat;}
#iconic_taxon_filters label:hover,
#iconic_taxon_filters label.selected{color:#73AC13;}
#iconic_taxon_filters label span{display:none;font-weight:normal;}
#iconic_taxon_filters label:hover span{display:block;position:absolute;top:20px;width:60px;left:-20px;background-color:white;padding:5px;z-index:999;text-align:center;}
#iconic_taxon_animalia label{background-image:url('/images/iconic_taxa/animalia-cccccc-20px.png');}
#iconic_taxon_animalia label.selected{background-image:url('/images/iconic_taxa/animalia-20px.png');}
#iconic_taxon_animalia label.selected,
#iconic_taxon_animalia label:hover{color:#1e90ff;}
#iconic_taxon_plantae label{background-image:url('/images/iconic_taxa/plantae-cccccc-20px.png');}
#iconic_taxon_plantae label.selected{background-image:url('/images/iconic_taxa/plantae-20px.png');}
#iconic_taxon_fungi label{background:url('/images/iconic_taxa/fungi-cccccc-20px.png') 5px 0 no-repeat;}
#iconic_taxon_fungi label.selected{background:url('/images/iconic_taxa/fungi-20px.png') 5px 0 no-repeat;color:#f06;}
#iconic_taxon_fungi label.selected,
#iconic_taxon_fungi label:hover{color:#f06;}
#iconic_taxon_aves label{background:url('/images/iconic_taxa/aves-cccccc-20px.png') 0 0 no-repeat;padding-left:30px;}
#iconic_taxon_aves label.selected{background:url('/images/iconic_taxa/aves-20px.png') 0 0 no-repeat;}
#iconic_taxon_aves label.selected,
#iconic_taxon_aves label:hover{color:#1e90ff;}
#iconic_taxon_mollusca label{background:url('/images/iconic_taxa/mollusca-cccccc-20px.png') 0 0 no-repeat;}
#iconic_taxon_mollusca label.selected{background:url('/images/iconic_taxa/mollusca-20px.png') 0 0 no-repeat;}
#iconic_taxon_mollusca label.selected,
#iconic_taxon_mollusca label:hover{color:#ff4500;}
#iconic_taxon_arachnida label{background:url('/images/iconic_taxa/arachnida-cccccc-20px.png') 2px 0 no-repeat;}
#iconic_taxon_arachnida label.selected{background:url('/images/iconic_taxa/arachnida-20px.png') 2px 0 no-repeat;}
#iconic_taxon_arachnida label.selected,
#iconic_taxon_arachnida label:hover{color:#ff4500;}
#iconic_taxon_amphibia label{background:url('/images/iconic_taxa/amphibia-cccccc-20px.png') 2px 0 no-repeat;}
#iconic_taxon_amphibia label.selected{background:url('/images/iconic_taxa/amphibia-20px.png') 2px 0 no-repeat;}
#iconic_taxon_amphibia label.selected,
#iconic_taxon_amphibia label:hover{color:#1e90ff;}
#iconic_taxon_reptilia label{background:url('/images/iconic_taxa/reptilia-cccccc-20px.png') 2px 0 no-repeat;}
#iconic_taxon_reptilia label.selected{background:url('/images/iconic_taxa/reptilia-20px.png') 2px 0 no-repeat;}
#iconic_taxon_reptilia label.selected,
#iconic_taxon_reptilia label:hover{color:#1e90ff;}
#iconic_taxon_insecta label{background:url('/images/iconic_taxa/insecta-cccccc-20px.png') 2px 3px no-repeat;}
#iconic_taxon_insecta label.selected{background:url('/images/iconic_taxa/insecta-20px.png') 2px 3px no-repeat;}
#iconic_taxon_insecta label.selected,
#iconic_taxon_insecta label:hover{color:#ff4500;}
#iconic_taxon_mammalia label{background:url('/images/iconic_taxa/mammalia-cccccc-20px.png') 2px 0 no-repeat;}
#iconic_taxon_mammalia label.selected{background:url('/images/iconic_taxa/mammalia-20px.png') 2px 0 no-repeat;}
#iconic_taxon_mammalia label.selected,
#iconic_taxon_mammalia label:hover{color:#1e90ff;}
#iconic_taxon_actinopterygii label{background:url('/images/iconic_taxa/actinopterygii-cccccc-20px.png') 2px 0 no-repeat;}
#iconic_taxon_actinopterygii label.selected{background:url('/images/iconic_taxa/actinopterygii-20px.png') 2px 0 no-repeat;}
#iconic_taxon_actinopterygii label.selected,
#iconic_taxon_actinopterygii label:hover{color:#1e90ff;}
#iconic_taxon_protozoa label{background:url('/images/iconic_taxa/protozoa-cccccc-20px.png') 2px 0 no-repeat;}
#iconic_taxon_protozoa label.selected{background:url('/images/iconic_taxa/protozoa-20px.png') 2px 0 no-repeat;}
#iconic_taxon_protozoa label.selected,
#iconic_taxon_protozoa label:hover{color:#691776;}
#iconic_taxon_chromista label{background:url('/images/iconic_taxa/chromista-cccccc-20px.png') 2px 2px no-repeat;}
#iconic_taxon_chromista label.selected{background:url('/images/iconic_taxa/chromista-20px.png') 2px 2px no-repeat;}
#iconic_taxon_chromista label.selected,
#iconic_taxon_chromista label:hover{color:#993300;}
#iconic_taxon_unknown label{background-image:url('/images/iconic_taxa/unknown-cccccc-20px.png');}
#iconic_taxon_unknown label.selected{background-image:url('/images/iconic_taxa/unknown-000000-20px.png');}
#iconic_taxon_unknown label.selected,
#iconic_taxon_unknown label:hover{color:black;}
#order_filters select{width:auto;}
#submit_filters_button{margin-bottom:0;}
#attribute_filters{clear:left;}
#attribute_filters label{font-weight:normal;}
#filters .row{clear:left;}
#filters .row .label{float:left;width:70px;font-size:95%;}
#filters .row .left{clear:none;}
#obs_filter_taxon_name{width:250px;}
#taxon_filter .button,
#taxon_filter input.text,
#taxon_filter input[type=text]{font-size:95%;margin-top:0;}
#taxon_filter .button{padding:0 5px;}
#taxon_filter .simpleTaxonSelectorImage{margin-top:0;}
