.help_out textarea {
  width: 220px;
  height: 80px;
  margin-right: 0;
}

#column_headers {
  border-bottom: 2px solid #eee;
  margin-bottom: 1em;
  font-size: 120%;
  font-weight: bold;
}

#column_headers .description {
  font-size: 80%;
  font-weight: normal;
}

.observation.row {
  border-bottom: 2px solid #eee;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.where .map {
  width: 230px; 
  height: 230px;
  overflow: hidden;
}

.identifications,
.comments_wrapper {
  margin-bottom: 1em;
  clear: both;
}

.identifications .other_ids {
  clear: both;
  margin-top: 0.2em;
}

.identification.yours {
  padding: 1em;
}

.what_field {
  width: 145px;
  margin-right: 10px;
}

.what_field input.taxa_search_form_taxon_name {
  padding: 6px 6px 5px;
  width: 131px;
  margin-right: 0;
}

.what_field .taxa_search_form_indicator {
  right: 6px;
}

.what_field button {
  margin: 0;
}

.observations.mini .observation .details {
  margin-top: 0.5em;
}

.observations.mini .observation {
  border: 0 none;
}
