#pageheader .title {
  margin-bottom: 5px;
}

#pageheader {
  margin-bottom: 5px;
}

input.checkbox, input[type="checkbox"],
input.radio, input[type="radio"] {
  position: relative;
}

#controls {
  float: right;
  margin-top: 7px;
}

#controls ul {
  list-style: none;
  margin: 0;
}

#controls ul li {
  float: left;
  margin: 0;
}

#controls ul li a,
#controls ul li > span {
  padding: 7px 0.75em 9px;
  position: relative;
  bottom: -1px;
  outline: none;
}

#controls a:focus {
  -moz-outline-style: none;
}

#controls ul li a.toggle {
  padding-left: 17px;
  background: 7px 10px url('/images/toggle_arrow_right.png') no-repeat;
}

#controls ul li.open a.toggle {
  background: 5px 12px url('/images/toggle_arrow_down.png') no-repeat;
}

#controls ul li a.modal_link {
  padding: 6px 0.75em 6px 40px;
}

#tablelink {
  background-image: url(/images/table-icon-inactive-30px.png);
}

#tablelink.selected,
#tablelink:hover {
  background-image: url(/images/table-icon-30px.png);
}

#maplink {
  background-image: url(/images/map-icon-inactive-30px.png);
}

#maplink.selected,
#maplink:hover {
  background-image: url(/images/map-icon-30px.png);
}

.filters.tab a {
  border: 1px solid transparent;
  background-color: white;
}

.filters.tab.open a {
  border: 1px solid #eee;
  border-bottom: 1px solid white;
}

.observations {
  margin-bottom: 5px;
}

.observation .actions .editlink {
  display: none;
}

.observations.table .created_at {
  display: table-cell !important;
}

#noresults {
  padding: 1em;
  font-size: 140%;
  text-align: center;
}

#map input {
  font-size: 100%;
}

#map td {
  border-bottom: 0 none;
}

#pagination {
  margin-top: 10px;
}
