= render "emailer/header"

%p Please click the link below to activate your iNaturalist account:
%p= link_to "Activate my account", confirmation_url( @resource, confirmation_token: @token )
%p If you did not sign up for an iNaturalist account, please ignore this email.

= render "emailer/footer"
