= render "emailer/header"

%p=t :devise_reset_password_instructions_hello_email, email: @resource.email
%p=t :devise_reset_password_instructions_someone_has_requested_a_link_to_change_your_password
%p= link_to t(:change_password), edit_password_url( @resource, reset_password_token: @token )
%p=t :devise_reset_password_instructions_if_you_didnt_request_this
%p=t :devise_reset_password_instructions_your_password_wont_change_until

= render "emailer/footer"
