= render "emailer/header"

%p=t :devise_reset_password_instructions_hello_email, email: @resource.email
%p=t :devise_unlock_instructions_your_account_has_been_locked
%p=t :devise_unlock_instructions_click_the_link
%p= link_to t(:devise_unlock_instructions_unlock), unlock_url( @resource, unlock_token: @token )

= render "emailer/footer"
