<div class='photoSelectorFriends friendSelector'>
  <h4>Select a friend</h4>
  <% if @friends.blank? -%>
    <div class="nocontent">You don't have any Flickr friends yet.</div>
  <% else %>
    <table>
      <% @friends.each do |friend| %>
        <tr class='friend' data-friend_id='<%= friend['nsid'] %>'>
          <td><%= link_to(image_tag(flickr_buddyicon(friend['iconfarm'], friend['iconserver'], friend['nsid'])), '') %></td>
          <td><%= link_to(friend['username'], '') %></td>
        </tr>
      <% end %>
    </table>
  <% end -%>
</div>
