<%= link_to t(:take_me_flickr!), flickr_url, 
  id: 'flickr-link-a', class: "default button", method: :post %>
<div id="flickr-waiting-alert" style="display:none;">
  <span class="loading status"> <%=t :connecting_flickr %></span>
</div>
<script type="text/javascript" charset="utf-8">
  $('#flickr-link-a').click(function(event){
    $('#flickr-link-a').hide();
    $('#flickr-waiting-alert').show();
  })
</script>
