<div class="column span-13 append-1">
  <h3>Link your Flickr account with iNaturalist so you can add photos of your
  observations.</h3>
  <p>Flickr is an online photo hosting service, maybe you already know about
  it!</p>
  <p>In order to authorize your Flickr account to work with iNaturalist, you
  need to click on the button to the right and either create a Flickr account
  or sign into Flickr.com. Flickr will ask you if you want to give iNaturalist
  permission to read from your Flickr account and will then redirect you back
  to us.</p>
  <h3>We Care About Your Privacy!</h3>
  <ul class="readable">
    <li>
      <strong>We will never ask you for your Flickr password</strong> (but
      Flickr might, check the url that the button sends you and make sure it's
      Flickr.com).
    </li>
    <li>
      <strong>We will never store copies of your photos or change your Flickr
      data (unless you ask us to), ever.</strong> We care too much about birds, bugs and slugs to
      want to mess with your information!
    </li>
  </ul>
</div>

<div id="flickr-link" class="column last span-6">
  <div class="box buttonrow">
    <%= render :partial => 'link_to_flickr', :locals => {:flickr_url => @flickr_url} -%>
    <span class="inter">or</span>
    <%= link_to "No, I'd rather not.", 
                { :controller => 'observations', :action => current_user.login },
                :class => 'button' %>
  </div>
</div>