# This directory contains translations in JS that get generated on every
# release, so there's no need to check them in (and in fact, checking them in
# will probably lead to a lot of annoying conflict resolution in the future).
# You can generate these files locally with
# rake inaturalist:generate_translations_js
*
# We want this file to remain
!.gitignore
