// Modified from https://www.w3schools.com/howto/howto_css_switch.asp
.ToggleSwitch {
  .switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 27px;
    min-width: 43px;
    min-height: 27px;
  }

  label {
    margin-left: 7px;
    margin-right: 7px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #74ac00;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #74ac00;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 21px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}