.flex-no-wrap {
  display: flex;
  align-items: center;
}

.space-between-items {
  justify-content: space-between;
}

.underline {
  text-decoration: underline;
}

.help-text {
  margin-bottom: 13px;
}

.remove-photo-margin {
  margin-top: 5px !important;
}

.custom-dropdown-width {
  min-width: 275px;
}

.default-license {
  display: inline-block;
  vertical-align: middle;
  min-width: 275px;
  min-height: 63px;
}

.inat-affiliation-logo-size {
  max-height: 33px;
  max-width: 135px;
}

.inat-affiliation-network-margin {
  margin-left: 12px;
}

.blue-checkmark {
  color: #2e78b8;
  position: absolute;
  right: 6px
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-item {
  margin-bottom: 23px;
}

.menu {
  margin-top: 12px;
}

button.left-nav-item {
  padding: 6px 12px;
  line-height: 1.42857143;
  white-space: nowrap;
  border: 1px solid transparent;
  background-color: #fff;

  &:focus {
    color: #74ac00;
    font-weight: 600;
    text-decoration: none;
    outline:none;
  }
}

.vl {
  border-left: 1px solid #eee;
  height: 522px;
}

.wrap-white-space {
  white-space: normal;
}

.license {
  width: 115px;
  margin-left: 15px;
  text-align: left;
}

.default-license-label {
  padding-top: 15px;
}

.default-license-image {
  padding-bottom: 21px;
}

.user-photo {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.margin-left {
  margin-left: 9px;
  display: inline !important;
}

.margin-right {
  margin-right: 8px;
  white-space: nowrap;
}

.description-margin-left {
  margin-left: 20px;
}

.row-margin {
  margin-bottom: 21px;
}

.profile-photo-margin {
  margin-top: 20px;
}

.divider {
  border-bottom: 1px solid #d8d8d8;
}

.relationship-row-margin {
  margin-bottom: 11px;
}

.ToggleSwitch {
  .switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 27px;
    min-width: 43px;
    min-height: 27px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #74ac00;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #74ac00;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 21px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}

.hide-button {
  position: absolute;
  right: 0px;
  top: 0px;
}

.RevokeAccessModal.modal {
  .modal-dialog {
    .modal-content {
      padding-top: 22px;
      padding-left: 32px;
      padding-right: 32px;
      min-height: 218px;
      min-width: 502px;
    }
    .modal-body {
      padding-bottom: 25px;
    }
  }
}

.Pagination {
  margin-top: 22px;
  margin-bottom: 53px;

  .rc-pagination { padding: 0; }
  .rc-pagination li,
  .rc-pagination li a {
    display: inline-block;
  }
  .rc-pagination li a {
    border: 1px solid #aaa;
    background-color: white;
    padding: 3px 5px;
    text-align: center;
    min-width: 2em;
    margin: 0 5px;
    cursor: pointer;
  }
  .rc-pagination-next a:before {
    content: "\2192"
  }
  .rc-pagination-prev a:before {
    content: "\2190"
  }
  .rc-pagination-disabled a,
  .rc-pagination-disabled:hover a {
    opacity: 0.5;
    cursor: default;
  }
  .rc-pagination-jump-prev a:after,
  .rc-pagination-jump-next a:after {
    content: "...";
  }
  li.rc-pagination-item-active a {
    border-color: black;
  }
}