#Column {
  flex-flow: column nowrap;
}

.left-nav {
  margin-left: 54px;
}

@media (max-width: 767px) {
  .left-nav {
    margin-left: 38px;
  }
}

#Row {
  display: flex;
  flex-direction: row;

  .center {
    align-items: center;
  }

  .settings-row {
    margin-left: 54px;
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
}

#UserSettingsHeader h2 {
  color: #333;
  font-weight: bold;
  margin-right: 349px;
}

#UserSettingsMenu {
  margin-top: 38px;
  font-size: 15px;

  a {
    color: #333;
    line-height: 17px;

    &:focus {
      color: #74ac00;
      line-height: 17px;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

.vl {
  border-left: 1px solid #eee;
  height: 522px;
  margin-left: 44px;
  margin-top: 26px;
}

@media (min-width: 768px) {
  .two-column {
    display: flex;
    flex-flow: column wrap;
    column-gap: 89px;
    max-height: 611px;
  }
}

#SettingsContainer {
  margin-top: 36px;
  margin-left: 50px;
}

#SettingsItem {
  margin-bottom: 23px;
}

#Header {
  font-weight: bold;
  line-height: 17px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;

  .asterisk {
    color: #ca5c53;
    margin-left: 3px;
  }

  .small {
    font-size: 12px;
    margin-bottom: 7px;
  }
  
  .downward-caret {
    color: #bbbbbb;
    margin-left: 6px;
  }
}

#Time {
  color: #777777;
  text-decoration: underline;
  font-size: 14px;
}

.blue-button {
  height: 26px;
  width: 115px;
  border-radius: 7px;
  border-color: transparent;
  background-color: #2e78b8;
}

.blue-button-text {
  color: #fff;
  font-size: 12px;
}

.blue-button-caps {
  height: 26px;
  border-radius: 7px;
  border-color: transparent;
  background-color: #2e78b8;
  padding-left: 10px;
  padding-right: 10px;
}

.blue-button-text-caps {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1.1px;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gray-button {
  margin-top: 11px;
  border-color: transparent;
  background-color: transparent;
}

.gray-button-text {
  color: #d8d8d8;
  text-decoration: underline;
  font-size: 12px;
}

#InputSmall {
  border-color: #bbbbbb;
  border-width: 1px;
  background-color: #fafafa;
  width: 155px;
  height: 26px;
  z-index: 1;
}

#InputMedium {
  border-color: #bbbbbb;
  border-width: 1px;
  background-color: #fafafa;
  width: 205px;
  height: 26px;
  z-index: 1;
}

#InputLarge {
  border-color: #bbbbbb;
  border-width: 1px;
  background-color: #fafafa;
  width: 317px;
  height: 137px;
  z-index: 1;
}

#Checkbox {
  border-color: #bbbbbb;
  border-width: 1px;
  background-color: #f7f7f7;
  width: 14px;
  height: 14px;
  margin-right: 11px;
  border-radius: 0px;
}

.italic-text {
  max-width: 257px;
  font-size: 12px;
  font-style: italic;
  line-height: 1.17;
  color: #656665;
  margin-bottom: 13px;
}

.profile-picture {
  margin-top: 20px;
}

.user-photo {
  margin-right: 25px;
}

.margin-medium {
  margin-bottom: 17px;
}

.margin-medium-small {
  margin-bottom: 13px;
}

.time-margin {
  margin-right: 16px;
}