@import "../colors";

#view_more_btn_container {
  margin-top:15px;
}

#followee-row {
  margin-top:15px;
}

#favorites .scaledimg {
  display: block;
  width: 100%;
  min-height: 150px;
  background-size: cover;
  background-position: center;
}

.list-group .glyphicon,
.list-group .icon,
.list-group .fa,
.dropdown-toggle .glyphicon {
  margin-right: 0.5em;
  color: $inat-green;
}

#nodescription textarea {
  height: 200px;
}

.caption {
  text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.user_image {
  width: 100%;
}

h1 {
  .btn {
    margin-left: 10px;
  }

  small {
    white-space: nowrap;
  }
}

.page-header {
  text-transform: capitalize;
}

#description img {
  max-width: 100%;
}

#significant-dates {
  i {
    color: #555;
    margin-right: 3px;
  }
  .date {
    margin-right: 20px;
  }
}
