#view_more_btn_container {
  margin-top:15px;
}

#followee-row {
  margin-top:15px;
}

#favorites .scaledimg {
  display: block;
  width: 100%;
  min-height: 150px;
  background-size: cover;
  background-position: center;
}

.list-group .glyphicon,
.list-group .icon,
.list-group .fa,
.dropdown-toggle .glyphicon {
  margin-right: 0.5em;
}

#nodescription textarea {
  height: 200px;
}
