@import "../colors";

#view_more_btn_container {
  margin-top:15px;
}

#followee-row {
  margin-top:15px;
}

#favorites .scaledimg {
  display: block;
  width: 100%;
  min-height: 150px;
  background-size: cover;
  background-position: center;
}

.list-group .glyphicon,
.list-group .icon,
.list-group .fa,
.dropdown-toggle .glyphicon {
  margin-right: 0.5em;
  color: $inat-green;
}

#nodescription textarea {
  height: 200px;
}

.caption {
  text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.user_image {
  width: 100%;
}

h1 {
  display: flex;
  align-items: center;
  gap: 10px;

  small.role {
    white-space: nowrap;
    a.site {
      color: inherit;
      text-decoration: underline;
    }
  }
}

#description img {
  max-width: 100%;
}

#user-subheader {
  i {
    color: #555;
    margin-right: 3px;
  }
  > span {
    margin-right: 20px;
    a { color: #333; }
  }
  .monthly-supporter,
  .monthly-supporter a {
    color: $inat-green;
    white-space: nowrap;
    i {
      color: $inat-green;
      position: relative;
      top: -1px;
      font-size: 20px;
    }
  }

}
#elsewhere {
  .orcid-icon {
    width: 18px;
    height: 18px;
    position: relative;
    top: -1px;
    margin-right: 2px;
  }
}
