<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Få mere at vide om netværkstilknytning</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/1659-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Overblik</a></li>
      <li><a href="#Examples">Eksempler på netværksmedlemmers datanvendelse</a></li>
      <li><a href="#About">Om netværket</a></li>
    </ul>
    <h3><a name="Overview">Overblik</a></h3>
    <p>
      <a href="/sites/network">iNaturalist-netværket</a> er en samling af lokaliserede websteder i det <a href="https://www.inaturalist.org">globale iNaturalist-fællesskab</a>. Netværkswebsteder understøttes af lokale institutioner, som fremmer lokal brug og faciliterer anvendelsen af data fra iNaturalist mhp. at gavne lokal biodiversitet.
    </p>
    <p>
      To gange årligt deler iNaturalist nogle skjulte koordinater (dvs. offentligt skjult eller fortrolige koordinater) med iNaturalist Network-medlemmer mhp. at faciliterer anvendelsen af iNaturalist-data til forskning, bevarelse samt håndtering i deres respektive lande. De to måder, hvorpå koordinater kan skjules, deles forskelligt, som beskrevet nedenfor.
    </p>
    <p>
      <br><i>Automatisk skjulte koordinater (skjulte eller fortrolige grundet “takson geofortrolighed”)</i>
       iNaturalist skjuler automatisk koordinaterne for visse arter mhp. at beskytte disse mod forstyrrelse, indsamling eller krybskytteri. Er observationskoordinaterne kun automatisk skjulte for at beskytte arter, deler iNaturalist de reelle koordinater for alle observationer fra deres respektive lande med netværksmedlemmer.
    </p>
    <p>
      <br><i>Bruger-skjulte koordinater (skjulte eller fortrolige grundet indstillingen "geofortrolighed"</i></br>
        Observationer med skjulte koordinater grundet den enkelte brugers valg deles på en meget mere begrænset og specifik måde.  Ved at tilknytte et netværkswebsted vil iNaturalist dele de nøjagtige koordinater for observationer med geofortrolighed, som du har indstillet til skjulte eller fortrolige, ud over dem, som er offentligt skjulte eller fortrolige grundet takson geofortrolighed, med dette websteds administratorer. Dette tilfører dine observationer større værdi ift. lokale bevaringsindsatser.
    </p>
    <p>
      Bor du i eller gæster ofte et land, der er medlem af netværket, opfordres du til at vælge det som din tilknytning for at gøre datadeling mere relevant. Du kan tjekke eller ændre din tilknytning i dine <a href="/users/edit">kontoindstillinger</a>.
    </p>
    <p>
      Du kan se den aktuelle medlemsliste for <a href="/sites/network">Naturalist-netværket</a>.
    </p>
    <h3><a name="Examples">Eksempler</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> muliggør integration af data fra iNaturalist i sikre systemer på provinsniveau administreret af Conservation Data Centers (CDC). Disse systemer benyttes, når der udføres vurderinger (to gange årligt) for at bestemme arterens risikoforhold, såvel som til bestemmelse af det kritiske levested for truede arter.   Som et resultat heraf har det også været muligt at lokalisere og afbøde hotspots for vejdødelighed for arter, som er i fare; afgrænse og i yderste instans beskytte centrale biodiversitetsområder, samt genbekræfte tilstedeværelsen af arter, som ikke er indrapporteret i årtier.
    </p>
    <p>
      Portugals iNaturalist-netværksmedlem, <a href="https://www.biodiversity4all.org/">BioDiversity4All</a>, delte optegnelsesdata for det portugisiske atlas af trækfugle, for atlas over pattedyr samt flere andre portugisiske videnskabelige forskningsartikler.
    </p>
    <h3><a name="About">Mere om netværket</a></h3>

    <p>
      Er din organisation interesseret i at tage del i iNaturalist-netværket, finder du yderligere oplysninger <a href="/pages/network-join">hér</a>.
    </p>
  </div>
</div>
