<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Lue lisää verkostojen toiminnasta</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/1659-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Yleistä</a></li>
      <li><a href="#Examples">Esimerkkejä tiedon käytöstä</a></li>
      <li><a href="#About">Verkosto</a></li>
    </ul>
    <h3><a name="Overview">Yleistä</a></h3>
    <p>
      <a href="/sites/network">iNaturalist-verkosto</a> muodostuu paikallisista verkkopalveluista <a href="https://www.inaturalist.org"> iNaturalistin maailmanlaajuisessa yhteisössä</a>. iNaturalist-verkkopalveluita ylläpidetään paikallisten toimijoiden voimin tavoitteena osallistaa paikallista väestöä ja edistää kertyvän tiedon käyttöä alueellisen luonnon monimuotoisuuden tueksi.
    </p>
    <p>
      Kahdesti vuodessa iNaturalist jakaa paikallisen verkoston ylläpitäjälle käyttäjien muuttamat tai piilottamat tarkat paikkatiedot, millä pyritään siihen, että tietoa voidaan luotettavasti käyttää tukemaan tutkimista, luonnonsuojelua ja kestävää luonnonvarojen käyttöä kussakin maassa. Kaksi tapaa, jolla karkeisttua tai piilotettua tietoa jaetaan on kuvattu tässä.
    </p>
    <p>
      <br><i>Automaattisesti piilotettavat koordinaatit (karkeistettu tai piilotettu perustuen sensitiivisten lajien luetteloon)</i>
      iNaturalist karkeistaa automaattisesti erillisen lajiluettelon mukaan välttääkseen näihin lajeihin kohdistuvan mahdollisen häirinnän kuten keräyksen tai salametsästysen. Jos havainnon koordinaatit on vain piilotettu automaattisesti suojellakseen ko. lajia häirinnältä, iNaturalisti jakaa alkuperäiset tiedot kaikista näistä havainnoista paikallisen verkkopalvelun ylläpitäjän kanssa, koskien heidän maan omia havaintoja.
    </p>
    <p>
      <br><i>Käyttäjän muuttamat koordinaatit (karkeistettu tai piilotettu käyttäjän toimesta)</i></br>
      Havaintojen, joiden paikkatieto on karkeistettu käyttäjän toimesta jaetaan alkuperäisessä muodossa paikallisen verkkopalvelun ylläpitäjälle rajoitetulla, erikseen määritetyllä tavalla.  Paikallisen iNaturalist-verkkopalvelun ylläpitäjä saa tarkat paikkatiedot havainnoistasi, joiden tietoja olet karkeistanut tai piilottanut, automaattisesti julkisesta näkymästä muutettujen tai piilotettujen tietojen lisäksi. Tämä edesauttaa tallentamasi tiedon arvokasta käyttöä maasi luonnon monimuotoisuuden hyväksi.
    </p>
    <p>
      Jos asut tai jatkuvasti vieralet maassa, jolla on paikallinen iNaturalist-verkkopalvelu, suosittelemme sinun liitävän tilisi siihen verkostoon, mikä auttaa tiedon arvokasta käyttöä ja jakamista. Voit katsoa tai muuttaa omia verkostoasetuksia <a href="/users/edit">tilin asetuksista</a>.
    </p>
    <p>
      Voit nähdä voimassa olevan jäsenluettelon <a href="/sites/network">iNaturalist-verkostosta</a>.
    </p>
    <h3><a name="Examples">Esimerkkejä</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> enables data from iNaturalist to be incorporated into secure, provincial-level systems managed by Conservation Data Centers (CDCs). These systems are  used when assessments are carried out (twice per year) to determine the at-risk status of species, as well in determining the critical habitat of threatened and endangered species.   As a result, it has also been possible to locate and mitigate hotspots of road mortality for species at risk; delineate and eventually protect Key Biodiversity Areas, and; reconfirm the presence of species that had not been reported for decades.
    </p>
    <p>
      Portugal’s iNaturalist network member <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> shared records data for the Portuguese atlas of migratory birds, for the atlas of mammals, as well as several other Portuguese scientific research papers.
    </p>
    <h3><a name="About">Lisää tietoa verkostosta</a></h3>

    <p>
      If your organization is interested in joining the iNaturalist Network, you can find more details <a href="/pages/network-join">here</a>.
    </p>
  </div>
</div>
