<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Erfahre mehr über die Netzwerk-Zugehörigkeit</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Übersicht</a></li>
      <li><a href="#More">Mehr Informationen über Datenaustausch</a></li>
      <li><a href="#Examples">Beispiele für die Verwendung von Daten durch Netzwerk-Mitglieder</a></li>
      <li><a href="#About">Über das Netzwerk</a></li>
    </ul>
    <h3><a name="Overview">Übersicht</a></h3>
    <p>
      Das <a href="/sites/network">iNaturalist-Netzwerk</a> ist eine Sammlung von regionalen Websites innerhalb der <a href="https://www.inaturalist.org">globalen iNaturalist-Community</a>. Netzwerk-Websites werden von lokalen Institutionen unterstützt, die die regionale Nutzung fördern und die erleichterte Nutzung der Daten von iNaturalist ermöglichen, um die örtliche biologische Vielfalt zu unterstützen.
    </p>
    <p>
      Wenn du einem Mitglied des iNaturalist-Netzwerkes angehörst, werden deine E-Mail-Adresse und die wahren Standorte der verdeckten und privaten Beobachtungen mit dem Netzwerk-Mitglied geteilt. Dadurch werden deine Beobachtungen wertvoller für die lokalen Naturschutzmaßnahmen. Wenn du in einem Land lebst oder eines häufig besuchst, das Mitglied des Netzwerks ist, dann überlege doch, dich mit diesem Netzwerk zu verknüpfen, um den Datenaustausch zu erleichtern. 
    </p>
    <p>
      Du kannst dich weiterhin über iNaturalist.org oder über die netzwerk-spezifische Website anmelden. Unabhängig von deiner Mitgliedschaft werden alle deine Daten am gleichen Ort gehostet und du wirst weiterhin in der Lage sein, mit der breiteren internationalen iNaturalist-Community zu interagieren. Jedes iNaturalist-Konto kann nur einem Netzwerk-Mitglied zugeordnet werden. Du kannst deine Zugehörigkeit in den <a href="/users/edit">Kontoeinstellungen</a> überprüfen oder ändern.
    </p>
    <p>
      Um Forschung und Naturschutz in den jeweiligen Ländern voranzutreiben, können Mitglieder des Netzwerks Daten von iNaturalist teilen. Diese Organisationen sind dafür verantwortlich, die Richtigkeit und Zweckmäßigkeit von Datenanfragen und deren mögliche Auswirkungen zu bewerten; schriftlich die Verantwortung übertragen, auch die Sicherheit solcher Daten zu gewährleisten und sie in keiner Weise öffentlich zugänglich zu machen oder teilen oder sie über ihren ursprünglichen Zweck hinaus zu verwenden; alle Fälle zu dokumentieren, die mit den zugehörigen Ergebnissen, Ergebnissen oder Verwendungszwecken geteilt werden; und jährlich an iNaturalist Bericht zu erstatten.
    </p>
    <p>
      Du kannst die aktuelle Mitgliederliste des <a href="/sites/network">iNaturalistNetzwerks</a> einsehen.
    </p>
    <h3><a name="More">Beispiele</a></h3>
    <p>
      Zweimal pro Jahr teilt iNaturalist Email-Adressen und einige versteckte Koordinaten (d.h. öffentlich verdeckte oder private Koordinaten) mit den Mitgliedern des iNaturalist-Netzwerks, um die Verwendung von iNaturalist-Daten für Forschung, Naturschutz und Management in ihren jeweiligen Ländern zu erleichtern. Die zwei Möglichkeiten, wie Koordinaten verdeckt werden können, werden unterschiedlich geteilt - wie unten beschrieben.
    </p>
    <p>
      <i>Automatisch versteckte Koordinaten (verdeckt oder privat aufgrund von "Taxon-Geoprivatsphäre)</i><br/>
      iNaturalist versteckt automatisch die Koordinaten für einige Arten um sie vor Störungen, Sammlern oder Wilderei zu schützen. Wenn die Beobachtungskoordinaten nur automatisch versteckt wurden, um Arten zu schützen, teilt iNaturalist die wahren Koordinaten aller Beobachtungen aus ihren jeweiligen Ländern mit den Netzwerk-Mitgliedern.
    </p>
    <p>
      <i>Benutzer-versteckte Koordinaten (verdeckt oder privat aufgrund der "Geoprivatsphäre"-Einstellung)</i><br/>
      Beobachtungen mit versteckten Koordinaten aufgrund der individuellen Auswahl des Benutzers werden auf eine viel beschränktere und spezifischere Art und Weise geteilt.  Durch die Verknüpfung mit einer Netzwerk-Website wird iNaturalist die genauen Koordinaten der Beobachtungen, die du über die Geo-Privatshäre verdeckt oder privat gemacht hast, teilen - zusätzlich zu denen, die öffentlich verdeckt oder privat sind aufgrund der Taxon-Geoprivatsphäre. Dadurch werden deine Beobachtungen wertvoller für die lokalen Naturschutzmaßnahmen.
    </p>
    <p>
      E-Mail-Adressen werden ausschließlich zum Zwecke der Kommunikation mit den Mitgliedern des Netzwerks weitergegeben.
    </p>
    <h3><a name="Examples">Beispiele</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> ermöglicht die Einbindung von Daten aus iNaturalist in sichere Systeme auf Provinzebene, die von den Conservation Data Centers (CDCs) verwaltet werden. Diese Systeme werden verwendet, wenn Beurteilungen durchgeführt werden (zweimal jährlich), um den Gefährdungszustand von Arten zu ermitteln, sowie bei der Bestimmung von kritischen Habitaten bedrohter und gefährdeter Arten.   Infolgedessen war es auch möglich, Hotspots für Straßenverkehrsopfer von gefährdeten Arten zu lokalisieren und abzumildern; die Erfassung und schlussendlich den Schutz von Schlüsselgebieten der biologischen Vielfalt zu veranlassen, sowie das Vorkommen von Arten zu bestätigen, die seit Jahrzehnten nicht gemeldet wurden.
    </p>
    <p>
      Portugals iNaturalist-Netzwerkmitglied <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> teilt Daten für den portugiesischen Atlas von Zugvögeln, für den Atlas der Säugetiere, sowie mehrere andere wissenschaftliche portugiesiche Forschungsprojekte.
    </p>
    <p>
      Mexikos Beobachtungen von <a href="https://www.naturalista.mx/">Naturalista</a> fließen in das Nationale Informationssystem für biologische Vielfalt (CONABIO, die Nationale Komission für biologische Vielfalt) zusammen mit Datensätzen von eBird. In <a href="www.enciclovida.mx">Enciclovida</a> sind sowohl wissenschaftliche wie auch Citizen Science-Beobachtungen zu finden. 
      </p>
    <p>
      Beobachtungen von <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a> fließen in die Nationaldatenbank für Biodiversität Ecuadors (BNDB) ein – ein großes Datenarchiv aus wissenschaftlichen Daten und Citizen Science-Meldungen. Ziel ist es, das Wissen und die Daten zu integrieren, die dazu beitragen, das Umweltverständnis der Flora und Fauna Ecuadors zu stärken.
    </p>
    <h3><a name="About">Mehr über das Netzwerk</a></h3>

    <p>
      Wenn Ihre Organisation daran interessiert ist, dem iNaturalist-Netzwerk beizutreten, finden Sie weitere Details <a href="/pages/network-join">hier</a>.
    </p>
  </div>
</div>
