<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Méi iwwert d'iNaturalist Netzwierk-Affiliatioun gewuer ginn</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Iwwersiicht</a></li>
      <li><a href="#More">Méi iwwert Deele vun Donnéeën</a></li>
      <li><a href="#Examples">Beispiller vum Notze vun Donnéeën duerch Membere vum Netzwierk</a></li>
      <li><a href="#About">Iwwert d'Netzwierk</a></li>
    </ul>
    <h3><a name="Overview">Iwwersiicht</a></h3>
    <p>
      D'<a href="/sites/network">iNaturalist Netzwierk</a> ass eng Serie vu lokaliséierte Websäiten déi mat der <a href="https://www.inaturalist.org">globaler iNaturalist Gemeinschaft</a> verbonne sinn. Netzwierksäite gi vu lokalen Institutiounen ënnerstëtzt déi lokal Participatioun promovéieren an d'Notzung vun iNaturalist Donnéeën erliichtere vun deem déi lokal Biodiversitéit profitéiert.
    </p>
    <p>
      Wann Dir Iech engem lokalen iNaturalist Netzwierk Member affiliéiert, gëtt Är E-Mail Adress an di genau Koordinate vun Observatiounen déi Dir ob verstoppt oder privat gesat hutt mam Netzwierk Member gedeelt. Dëst erméiglecht et datt Är Observatioune méi wäertvoll gi fir lokal Conservatiounsefforten. Wann Dir an engem Land wunnt oder dacks besicht dat e Member vum Netzwierk ass, sidd Dir encouragéiert des als Zougehéieregkeet ze wielen fir d'Deelen ze erliichteren. 
    </p>
    <p>
      Dir kënnt Iech weider iwwer iNaturalist.org oder iwwer Är Netzwierkspezifesch Websäit umellen . Egal wat Är Affiliatioun ass, all Är Donnéeë ginn op der selwechter Plaz gehost an Dir kënnt weiderhi mat der gesamter internationaler iNaturalist Gemeinschaft interagéieren. Een iNaturalist Kont ka mat nëmmen engem Netzwierk Member verbonne sinn. Dir kennt Är Affiliatioun iwwerpréiwen oder änneren an äre <a href="/users/edit">Kontoastellungen</a>.
    </p>
    <p>
      Fir Fuerschung a Ëmweltschutz an hire jeeweilege Länner virunzebréngen, kënnen Netzwierkmemberen Daten aus dem iNaturalist deelen. They have a responsibility to assess the validity and appropriateness of data requests and their potential outcomes; convey in writing the responsibility to also ensure the security of such data and not to expose it publicly in any way, or share or use it beyond its original intended purpose; to document all instances of sharing along with the associated results, outcomes, or intended uses; and to report annually to iNaturalist.
    </p>
    <p>
      Hei kënnt Dir déi aktuell Memberslëscht vum <a href="/sites/network">iNaturalist Network</a> gesinn.
    </p>
    <h3><a name="More">Méi iwwert Deele vun Donnéeën</a></h3>
    <p>
      Twice per year, iNaturalist shares email addresses of affiliated accounts and some hidden coordinates (i.e. coordinates publicly obscured or private) with the iNaturalist Network Members to facilitate the use of iNaturalist data for research, conservation, and management in their respective countries. The two ways that coordinates can be hidden are shared differently, as described below.
    </p>
    <p>
      <i>Automatically hidden coordinates (obscured or private due to “taxon geoprivacy”)</i><br/>
      iNaturalist automatically hides the coordinates for some species to protect them from disturbance, collection, or poaching. If the observation coordinates have only been hidden automatically to protect species, iNaturalist shares  the true coordinates of all observations from their respective countries with Network Members.
    </p>
    <p>
      <i>User-hidden coordinates (obscured or private due to “geoprivacy” setting)</i><br/>
      Observations with hidden coordinates due to individual user's choices are shared in a much more limited and specific way.  By affiliating with a Network site, iNaturalist will share with that site’s administrators the precise coordinates of observations with geoprivacy that you have set to obscured or private, in addition to those which are publicly obscured or private due to taxon geoprivacy. This allows your observations to become more valuable to local conservation efforts.
    </p>
    <p>
      Email addresses are shared with Network Members solely for the purposes of communications related to the site.
    </p>
    <h3><a name="Examples">Beispiller</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> enables data from iNaturalist to be incorporated into secure, provincial-level systems managed by Conservation Data Centers (CDCs). These systems are  used when assessments are carried out (twice per year) to determine the at-risk status of species, as well in determining the critical habitat of threatened and endangered species.   As a result, it has also been possible to locate and mitigate hotspots of road mortality for species at risk; delineate and eventually protect Key Biodiversity Areas, and; reconfirm the presence of species that had not been reported for decades.
    </p>
    <p>
      Portugal’s iNaturalist network member <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> shared records data for the Portuguese atlas of migratory birds, for the atlas of mammals, as well as several other Portuguese scientific research papers.
    </p>
    <p>
      Mexico’s <a href="https://www.naturalista.mx/">Naturalista</a> observations feed into the National Biodiversity Information System (at CONABIO, the National Biodiversity Commision)  together with records from eBird. People can find both scientific and citizen science records in <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a> feeds into the National Database of Biodiversity of Ecuador – BNDB – a large repository of data from scientific records as well as citizen science. The purpose is to integrate the knowledge and data that helps strengthen the environmental understanding of the flora and fauna of Ecuador.
    </p>
    <h3><a name="About">Méi iwwert d'Netzwierk</a></h3>

    <p>
      Wann Är Organisatioun interesséiert ass sech dem iNaturalist Netzwierk unzeschléissen, kënnt Dir <a href="/pages/network-join">hei</a> méi Detailer fannen.
    </p>
  </div>
</div>
