<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>ทำความรู้จักเครือข่าย iNaturalist</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">ภาพรวม</a></li>
      <li><a href="#More">เป็นมากกว่าเพียงการแบ่งปัน</a></li>
      <li><a href="#Examples">ตัวอย่างของการใช้ข้อมูลโดยสมาชิกในเครือข่าย</a></li>
      <li><a href="#About">เกี่ยวกับเครือข่าย</a></li>
    </ul>
    <h3><a name="Overview">ภาพรวม</a></h3>
    <p>
      The <a href="/sites/network">iNaturalist Network</a> is a collection of localized websites in the <a href="https://www.inaturalist.org">global iNaturalist community</a>. โดยเครือข่ายในแต่ละภูมิภาคได้รับการสนับสนุนจากสถาบันการศึกษาและวิจัยในพื้นที่เพื่อส่งเสริมและอำนวยความสะดวกในการมีส่วนร่วมและใช้ฐานข้อมูลจากเครือข่าย iNaturalist เพื่อประโยชน์ต่อความหลากหลายทางชีวภาพในแต่ละพื้นที่
    </p>
    <p>
      เมื่อคุณเข้าเป็นสมาชิกกับเครือข่าย iNaturalist อีเมลของคุณและตำแหน่งที่ตั้งของคุณจะถูกแบ่งปันกับสมาชิกเครือข่าย สิ่งเหล่านี้ช่วยให้ความพยายามในการสังเกตสิ่งต่าง ๆ ของคุณมีคุณค่ามากขึ้นสำหรับการเป็นส่วนหนึ่งของการอนุรักษ์ในระดับท้องถิ่น แต่ถ้าหากคุณอาศัยอยู่หรือไปเยี่ยมเยียนหนึ่งในประเทศที่เป็นสมาชิกของเครือข่ายบ่อยครั้ง เราขอแนะนำให้คุณควรเลือกประเทศเหล่านั้นเป็นส่วนหนึ่งในการมีส่วนร่วมของคุณในการแบ่งปันข้อมูลที่คุณได้ค้นพบเพื่อช่วยอำนวยความสะดวกแก่สมาชิกในเครือข่าย 
    </p>
    <p>
      โดยคุณสามารถเข้าสู่ระบบผ่านเว็บไซต์ iNaturalist.org หรือผ่านเว็บไซต์เฉพาะของเครือข่ายในแต่ละภูมิภาคก็ได้ ไม่ว่าคุณจะอยู่ในเครือข่ายใด ข้อมูลทั้งหมดของคุณจะถูกเก็บรวบรวมไว้ในพื้นที่เดียวกันและคุณยังสามารถปฏิสัมพันธ์และแลกเปลี่ยนความรู้กับสมาชิกในชุมชน iNaturalist จากหลากหลายประเทศได้ โดยบัญชีสมาชิก iNaturalist จะสามารถเชื่อมโยงกับสมาชิกในเครือข่ายได้เพียงคนเดียวเท่านั้น ซึ่งคุณสามารถตรวจสอบหรือเปลี่ยนแปลงการเชื่อมโยงของคุณได้ในคำสั่ง<a href="/users/edit">การตั้งค่าบัญชี</a>ของคุณ
    </p>
    <p>
      เพื่อสนับสนุนและพัฒนางานวิจัยและการอนุรักษ์ภายในแต่ละประเทศที่เข้าร่วม สมาชิกสามารถเข้าถึงและแบ่งปันข้อมูลจากเครือข่าย iNaturalist ได้ เหล่าผู้ดูแลระบบจะทำหน้าที่ในการประเมินความถูกต้องและความเหมาะสมต่อคำร้องขอเพื่อเข้าถึงข้อมูลและผลลัพธ์ที่สามารถเกิดขึ้นได้จากชุดข้อมูล โดยมีการออกเอกสารเป็นลายลักษณ์อักษรในการรับประกันถึงความปลอดภัยของชุดข้อมูลและป้องกันการรั่วไหลสู่สาธารณะหรือนอกเหนือจากขอบเขตที่ได้ตกลงกันไว้ เพื่อจัดทำบันทึการร้องขอแบ่งปันข้อมูล วัตถุประสงค์การใช้งานและผลลัพธ์ที่เกิดขึ้นไปรายงานต่อเครือข่าย iNaturalist เป็นประจำในทุกปี
    </p>
    <p>
      คุณสามารถดูรายชื่อสมาชิกปัจจุบันของเครือข่ายได้ที่ <a href="/sites/network"> iNaturalist Network </a>
    </p>
    <h3><a name="More">เป็นมากกว่าเพียงการแบ่งปัน</a></h3>
    <p>
      สองครั้งต่อปีที่ iNaturalist จะทำการแบ่งปันอีเมลของบัญชีผู้ประสานงานและพิกัดที่ปกปิดไว้ (ข้อมูลจากบัญชีส่วนตัวหรือปกปิดจากสาธารณะ) กับสมาชิกในเครือข่ายเพื่ออำนวยความสะดวกในการเข้าใช้ฐานข้อมูลสำหรับงานวิจัย งานอนุรักษ์และการจัดการในประเทศของสมาชิก โดยมีสองวิธีที่ทำให้พิกัดของข้อมูลที่ถูกปกปิดไว้สามารถถูกแบ่งปันได้มีดังนี้
    </p>
    <p>
      <i> พิกัดที่ซ่อนโดยอัตโนมัติ (ปิดบังหรือเป็นส่วนตัวเนื่องจาก Taxon Geoprivacy) </i><br/>
       iNaturalist จะซ่อนพิกัดของสิ่งมีชีวิตบางสายพันธุ์โดยอัตโนมัติเพื่อปกป้องพวกมันจากการรบกวน การถูกเก็บรวบรวมหรือการรุกล้ำ หากมีการระบุพิกัดการถูกสังเกตพบก็จะถูกซ่อนโดยอัตโนมัติเพื่อปกป้องสายพันธุ์ดังกล่าว โดย iNaturalist จะแบ่งบันพิกัดที่แท้จริงของการสังเกตการณ์ทั้งหมดในประเทศที่เกี่ยวข้องแก่สมาชิกในเครือข่ายเท่านั้น
    </p>
    <p>
      <i> พิกัดที่ซ่อนโดยผู้ใช้ (ปิดบังหรือถูกตั้งค่า "ความเป็นส่วนตัวของพิกัด") </i><br/>
       พิกัดของการสังเกตที่ถูกซ่อนอยู่เนื่องจากบัญชีของผู้ใช้งานระบุวิธีการในการแบ่งปันข้อมูลที่จำกัดและเฉพาะเจาะจงเพื่อความปลอดภัย  โดยการเข้าเป็นส่วนหนึ่งกับเครือข่าย iNaturalist จะได้รับการแบ่งปันพิกัดของการสังเกตการณ์ที่ถูกปกปิดไว้ เนื่องจากถูกตั้งค่าเป็นส่วนตัวโดยบัญชีผู้ใช้หรือการปกปิดเพื่อปกป้องสายพันธุ์จากการพิจารณาอนุมัติโดยผู้ดูแลฐานข้อมูลในภูมิภาคนั้น สิ่งเหล่านี้จะช่วยให้การสังเกตของคุณมีคุณค่ามากขึ้นสำหรับความพยายามในการอนุรักษ์ในระดับท้องถิ่น
    </p>
    <p>
      อีเมลจะถูกแบ่งปันแก่สมาชิกในเครือข่ายเพื่อวัตถุประสงค์ในการติดต่อสื่อสารที่เกี่ยวข้องกับงานเท่านั้น
    </p>
    <h3><a name="Examples">ตัวอย่างของการใช้ข้อมูลจากเครือข่าย</a></h3>
    <p>
      <a href="https://inaturalist.ca/"> iNaturalist Canada </a> สามารถจัดการรวบรวมข้อมูลจาก iNaturalist ไว้ในหมวดหมู่ระดับจังหวัดที่มีความปลอดภัย ด้วยการบริหารโดย Conservation Data Centers (CDCs) ระบบเหล่านี้ใช้เมื่อมีการประเมิน (ปีละสองครั้ง) เพื่อพิจารณาและกำหนดสถานะของสายพันธุ์สิ่งมีชีวิตและรวมไปถึงความเสี่ยงของถิ่นที่อยู่ที่อยู่อาศัยที่สำคัญในสายพันธุ์ที่ถูกคุกคามและใกล้สูญพันธุ์   เป็นผลให้สามารถระบุพื้นที่อันเป็นจุดเสี่ยงต่อการตายบนท้องถนนและลดอัตราดังกล่าวในสายพันธุ์ที่มีความเสี่ยง วิเคราะห์และปกป้องพื้นที่อันเป็นแหล่งความหลากหลายทางชีวภาพที่สำคัญในที่สุดและสามารถช่วยยืนยันการปรากฏตัวของสายพันธุ์ที่ไม่มีการรายงานมานานหลายทศวรรษ
    </p>
    <p>
      สมาชิกในเครือข่าย iNaturalist ของประเทศโปรตุเกสที่มีชื่อว่า <a href="https://www.biodiversity4all.org/"> BioDiversity4All </a> ได้แชร์ข้อมูลบันทึกแผนที่เส้นทางของนกอพยพ, สัตว์เลี้ยงลูกด้วยนม ตลอดจนเอกสารการวิจัยทางวิทยาศาสตร์อื่น ๆ ของประเทศโปรตุเกส
    </p>
    <p>
      เครือข่าย  <a href="https://www.naturalista.mx/">Mexico’s Naturalista</a> ของประเทศเม็กซิโก ได้ป้อนข้อมูลการสังเกตการณ์พร้อมกับบันทึกจาก eBird เข้าสู่ระบบข้อมูลความหลากหลายทางชีวภาพแห่งชาติ (ที่ CONABIO หรือ คณะกรรมการความหลากหลายทางชีวภาพแห่งชาติ) ผู้คนสามารถค้นหาบันทึกทางวิทยาศาสตร์และวิทยาศาสตร์พลเมืองจาก <a href="www.enciclovida.mx">Enciclovida</a> 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/"> iNaturalist Ecuador </a> ได้ป้อนข้อมูลเข้าสู่ฐานข้อมูลความหลากหลายทางชีวภาพแห่งชาติของเอกวาดอร์ (Base Nacional de Datos de Biodiversidad del Ecuador: BNDB) อันเป็นที่เก็บข้อมูลทางวิทยาศาสตร์และวิทยาศาสตร์พลเมืองขนาดใหญ่ เพื่อบูรณาการความรู้และให้ข้อมูลที่ช่วยเสริมสร้างความเข้าใจด้านสิ่งแวดล้อมของพืชและสัตว์ในประเทศเอกวาดอร์
    </p>
    <h3><a name="About">เพิ่มเติมเกี่ยวกับเครือข่าย</a></h3>

    <p>
      หากองค์กรของคุณสนใจเข้าร่วมเครือข่าย iNaturalist สามารถดูรายละเอียดเพิ่มเติมได้ <a href="/pages/network-join"> ที่นี่ </a>
    </p>
  </div>
</div>
