<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Máis Información Sobre A Afiliación Á Rede</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="Overview">Sinopsis</a></li>
      <li><a href="More">Máis Sobre Compartir</a></li>
      <li><a href="Examples">Exemplos de Uso de Dados polos Membros da Rede</a></li>
      <li><a href="Acerca de">Acerca da Rede</a></li>
    </ul>
    <h3><a name="Overview">Sinopse</a></h3>
    <p>
      A <a href="/sites/network"> Rede iNaturalist</a> é un conxunto de sitios web localizados na <a href="https://www.inaturalist.org"> comunidade global iNaturalist</a>. Os sitios da Rede son apoiados por institucións locais que promoven a participación local e facilitan o uso de dados de iNaturalist para o beneficio da biodiversidade local.
    </p>
    <p>
      Cando te afilias con un Membro da Rede iNaturalist, o teu enderezo de correo electrónico e as localizacións verdadeiras das túas localizacións escurecidas e privadas son compartidas có Membro da Rede. Isto permite que as túas observacións sexan máis valiosas para os esforzos de conservación locais. Se vives ou visitas frecuentemente un país que é un membro da Rede, animámoste a escollelo como túa filiación para facilitar o compartimento de dados. 
    </p>
    <p>
      Podes continuar iniciando sesión vía iNaturalist ou a través da túa páxina específica da rede. Non importa a túa filiación: tódolos teus dados serán aloxados no mesmo sitio e poderás seguir interactuando cá comunidade internacional iNaturalist. Cada conta de iNaturalist poderá ser afiliada só con un Membro da Rede. Podes revisar ou mudar a túa afiliación na <a href="/users/edit">configuración da conta</a>.
    </p>
    <p>
      Para avanzar a investigación e conservación nos seus respectivos países, os Membros da Rede poden compartir dados de iNaturalist. Teñen a responsabilidade de avaliar a validez e pertinencia dos pedidos de dados e dos potenciais resultados, transmitir por escrito a responsabiliade de asegurar a seguridade destes dados e non expoñelos públicamente de ningún xeito, ou compartilos ou usalos alén do seu propósito orixinal, de documentar tódalas instancias de compartimento xunto cós resultados asociados, consecuencias ou propósito de usos, e informar anualmente a iNaturalist.
    </p>
    <p>
      Podes consultar a lista de membros actuais da <a href="/sites/network">Rede iNaturalist</a>.
    </p>
    <h3><a name="More">Máis Sobre Compartir</a></h3>
    <p>
      Dúas veces ó ano, iNaturalista comparte enderezos de contas afiliadas e algunhas coordenadas agochadas (i.e. coordenadas escurecidas ó público ou privadas) cós Membros da Rede de iNaturalist para faciliar o uso dos dados de iNaturalist para investigación, conservación e xestión nos países correspondentes. As dúas maneiras de agochar as coordendas poden ser compartidos de xeito diferente, como se describe a seguir.
    </p>
    <p>
      <i>As coordenadas agochadas automáticamente (escurecidas ou privadas debido á "xeoprivacidade do taxon")</i><br/>
      iNaturalist agocha automáticamente as coordenadas para algunhas especies para protexelas de perturbacións, recolleita ou furtivismo. Se as coordenadas de observación foron só agochadas automáticamente para protexer especies, iNaturalist comparte as verdadeiras coordenadas para tódalas observacións nos respectivos países con Membros da Rede.
    </p>
    <p>
      <i>Coordenadas agochadas polos usuarios (escurecidas ou privadas pola configuración de xeoprivacidade)</i><br/>
      As observacións con coordenadas agochadas polas escollas individuais dos usurios son compartidas dun xeito moito máis limitado e específico.  Afiliandose cun sitio da Rede, iNaturalist compartirá cós administradores do sitio as coordenadas precisas de observacións con xeoprivacidade que configuraches como escurecida ou privada, ademáis daquelas que están escurecidas para o público ou privadas por xeoprivacidade de taxón. Isto permite que as túas observacións sexan máis valiosas para os esforzos de conservación locais.
    </p>
    <p>
      Os enderezos de correo electrónico son compartidos cós Membros da Rede unicamente para comunicacións relacionadas có sitio.
    </p>
    <h3><a name="Examples">Exemplos</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> permite que dados de iNaturalist sexan incorpordados en sistemas seguros de nivel provincial, xeridos por Centros de Conservación de Dados (CDCs) Estes sistemas son usados cando se fan avaliacións (dúas veces ó ano) para determinar o estado de risco de especies, así como determinar o hábitat crítico de especies ameazadas e en perigo.   Como resultado, tamén foi posible localizar e mitigar puntos de alta mortalidade rodoviaria para especies en risco, delinear e finalmente protexer Áreas Clave para a Biodiversidade e confirmar a presencia de especies que non foran detectadas durante décadas.
    </p>
    <p>
      O Membro de Rede iNaturalist de Portugal <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> compartíu dados para o atlas portugués de aves migratorias, para o atlas de mamíferos e para moitos outros artigos de investigación científica portugueses.
    </p>
    <p>
      As observacións de <a href="https://www.naturalista.mx/">Naturalista</a> de México alimentan o Sistema de Información de Biodiversidade Nacional (en CONABIO, Comisión Nacional de Biodiversidad) xunto cós rexistros de eBird. Pódense encontrar rexistros científicos e de ciencia cidadá en <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a> incorpora dados na Base de Dados Nacional de Diversidade de Ecuador - BNDB -, un repositorio de dados de rexistros científicos así como de ciencia cidadá. O propósito é integrar o coñecemento e dados que axuden a fortalecer o entendemento medioambiental da flora e da fauna de Ecuador.
    </p>
    <h3><a name="About">Máis sobre a Rede</a></h3>

    <p>
      Se a túa organización está interesada en xuntarse á Rede iNaturalist, podes encontrar máis detalles <a href="/pages/network-join">aquí</a>.
    </p>
  </div>
</div>
