<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Få mere at vide om netværkstilknytning</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Overblik</a></li>
      <li><a href="#More">Yderligere Om Deling</a></li>
      <li><a href="#Examples">Eksempler på Netværksmedlemmers datanvendelse</a></li>
      <li><a href="#About">Om netværket</a></li>
    </ul>
    <h3><a name="Overview">Overblik</a></h3>
    <p>
      <a href="/sites/network">iNaturalist-netværket</a> er en samling af lokaliserede websteder i det <a href="https://www.inaturalist.org">globale iNaturalist-fællesskab</a>. Netværkswebsteder understøttes af lokale institutioner, som fremmer lokalt brug og faciliterer anvendelsen af data fra iNaturalist mhp. at gavne lokal biodiversitet.
    </p>
    <p>
      Når du tilknyttes et iNaturalist-netværksmedlem, deles din e-mailadresse samt de reelle placeringer af dine slørede og fortrolige placeringer med netværksmedlemmet. Dette tilfører dine observationer større værdi ift. lokale bevaringsindsatser. Bor du i eller gæster hyppigt et land, der er medlem af netværket, opfordres du til at vælge dette som din tilknytning for at gøre datadeling mere relevant. 
    </p>
    <p>
      Du kan fortsætte med at logge ind via iNaturalist.org eller via din netværksspecifikke websted. Uanset din tilknytning, bliver alle dine data hostet på samme sted, og du vil fortsat kunne interagere med det bredere internationale iNaturalist-fællesskab. Hver iNaturalist-konto kan kun tilknyttes ét netværksmedlem. Du kan tjekke eller ændre din tilknytning i dine <a href="/users/edit">kontoindstillinger</a>.
    </p>
    <p>
      For at fremme forskning og bevaring i deres respektive lande vil netværksmedlemmer kunne dele data fra iNaturalist. De har et ansvar for at vurdere gyldigheden og hensigtsmæssigheden af dataanmodninger og deres potentielle resultater: Skriftligt formidle ansvaret for også at garantere sikkerheden af sådanne data og ikke på nogen måde at afsløre dem offentligt eller dele/anvende dem ud over deres oprindelige formål, dokumentere alle tilfælde af deling sammen med de tilhørende resultater eller tilsigtede anvendelser samt årligt at afrapportere til iNaturalist.
    </p>
    <p>
      Du kan se den aktuelle medlemsliste for <a href="/sites/network">Naturalist-netværket</a>.
    </p>
    <h3><a name="More">Yderligere Om Deling</a></h3>
    <p>
      To gange årligt deler iNaturalist e-mailadresser på tilknyttede konti og nogle skjulte koordinater (dvs. offentligt skjulte eller fortrolige koordinater) med iNaturalist Network-medlemmer mhp. at faciliterer anvendelsen af iNaturalist-data til forskning, bevarelse samt håndtering i deres respektive lande. De to måder, hvorpå koordinater kan skjules, deles forskelligt, som beskrevet nedenfor.
    </p>
    <p>
      <i>Automatisk skjulte koordinater (skjulte eller fortrolige grundet “takson geofortrolighed”)</i><br/>
       iNaturalist skjuler automatisk koordinaterne for visse arter mhp. at beskytte disse mod forstyrrelse, indsamling eller krybskytteri. Er observationskoordinaterne kun skjult automatisk for at beskytte arter, deler iNaturalist de reelle koordinater for alle observationer fra deres respektive lande med netværksmedlemmer.
    </p>
    <p>
      <i>Bruger-skjulte koordinater (skjulte eller fortrolige grundet indstillingen "geofortrolighed"</i><br/>
        Observationer med skjulte koordinater grundet den enkelte brugers valg deles på en meget mere begrænset og bestemt vis.  Ved at tilknytte et netværkswebsted vil iNaturalist dele de nøjagtige koordinater for observationer med geofortrolighed, som du har indstillet til skjulte eller fortrolige, ud over dem, som er offentligt skjulte eller fortrolige grundet takson-geofortrolighed, med dette websteds administratorer. Dette tilfører dine observationer større værdi ift. lokale bevaringsindsatser.
    </p>
    <p>
      E-mailadresser deles udelukkende med netværksmedlemmer mhp. kommunikation relateret til webstedet.
    </p>
    <h3><a name="Examples">Eksempler</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> muliggør integration af data fra iNaturalist i sikre systemer på provinsniveau administreret af Conservation Data Centers (CDC). Disse systemer benyttes, når der udføres vurderinger (to gange årligt) mhp. bestemmelse af arters risikoforhold, såvel som til bestemmelse af det kritiske levested for truede arter.   Som et resultat heraf har det også været muligt at lokalisere og afbøde hotspots for vejdødelighed for arter, som er i fare; afgrænse og i yderste instans beskytte centrale Nøglebiodiversitetsområder, samt genbekræfte tilstedeværelsen af arter, som ikke er indrapporteret i årtier.
    </p>
    <p>
      Portugals iNaturalist-netværksmedlem, <a href="https://www.biodiversity4all.org/">BioDiversity4All</a>, har delt optegnelsesdata for det portugisiske atlas over trækfugle, for atlas over pattedyr samt flere andre portugisiske videnskabelige forskningsartikler.
    </p>
    <p>
      Mexicos <a href="https://www.naturalista.mx/">Naturalista</a> observationer føder National Biodiversity Information System (ved CONABIO, National Biodiversity Commision) sammen med optegnelser fra eBird. Folk kan finde både videnskabelige og borgervidenskabelige optegnelser i <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a> føder den Nationale Database for Biodiversitet i Ecuador – BNDB – et stort arkiv over data fra videnskabelige optegnelser såvel som borgervidenskab. Formålet er at integrere viden og data, som er med til at styrke miljøforståelsen for Ecuadors flora og fauna.
    </p>
    <h3><a name="About">Mere om netværket</a></h3>

    <p>
      Er din organisation interesseret i at tage del i iNaturalist-netværket, kan du finde yderligere oplysninger <a href="/pages/network-join">hér</a>.
    </p>
  </div>
</div>
