<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Μάθετε Περισσότερα Για Τη Συνεργασία Των Δικτύων</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Επισκόπηση</a></li>
      <li><a href="#More">Σχετικά Με Κοινή Χρήση</a></li>
      <li><a href="#Examples">Παραδείγματα Xρήσης Δεδομένων Από Μέλη Δικτύου</a></li>
      <li><a href="#About">Σχετικά με το Δίκτυο</a></li>
    </ul>
    <h3><a name="Overview">Επισκόπηση</a></h3>
    <p>
      Το <a href="/sites/network">Δίκτυο iNaturalist</a> είναι μια συλλογή τοπικών ιστοσελίδων στην <a href="https://www.inaturalist.org">παγκόσμια κοινότητα του iNaturalist</a>. Οι δικτυακοί τόποι υποστηρίζονται από τοπικούς φορείς που προωθούν την τοπική συμμετοχή και διευκολύνουν τη χρήση δεδομένων από το iNaturalist για να ωφελήσουν την τοπική βιοποικιλότητα.
    </p>
    <p>
      Όταν συνεργάζεστε με ένα μέλος του iNaturalist δικτύου, η διεύθυνση email σας και οι αληθείς τοποθεσίες των επισκιασμένων και ιδιωτικών σας τοποθεσιών κοινοποιούνται με το μέλος δικτύου. Αυτό επιτρέπει στις παρατηρήσεις σας να γίνουν πιο πολύτιμες για τις τοπικές προσπάθειες διατήρησης. Αν ζείτε ή επισκέπτεστε συχνά μια χώρα που είναι μέλος του Δικτύου, σας καλούμε να επιλέξετε το συχετισμό σαςμε αυτή προς διευκόλυνση της κοινής χρήσης δεδομένων. 
    </p>
    <p>
      Μπορείτε να συνεχίσετε να συνδεθείτε μέσω του iNaturalist.org ή μέσω του δικτυακού σας τόπου. Δεν έχει σημασία ο συχετισμός σας, όλα τα δεδομένα σας θα φιλοξενηθούν στο ίδιο μέρος και θα συνεχίσετε να είστε σε θέση να αλληλεπιδράσετε με την ευρύτερη διεθνή κοινότητα iNaturalist. Κάθε λογαριασμός iNaturalist μπορεί να συνδεθεί με μόνο ένα Μέλος του Δικτύου. Μπορείτε να αναθεωρήσετε ή να αλλάξετε το συχετισμό σας στις<a href="/users/edit">ρυθμίσεις του λογαριασμού σας</a>.
    </p>
    <p>
      Για την προώθηση της έρευνας και της διατήρησης στις χώρες τους, τα μέλη του δικτύου μπορούν να μοιράζονται δεδομένα από το iNaturalist. Είναι υπεύθυνες για την αξιολόγηση της εγκυρότητας και την καταλληλότητας των αιτημάτων δεδομένων και των δυνητικών αποτελεσμάτων τους· είναι υπεύθυνες να γνωστοποιούν γραπτώς την ευθύνη να διασφαλίζουν επίσης την ασφάλεια των δεδομένων αυτών και να μην τα εκθέτουν με οποιονδήποτε τρόπο στο κοινό, ή να τα κοινοποιούν ή να τα χρησιμοποιούν πέρα από τον αρχικό σκοπό του· να τεκμηριώνουν όλες τις περιπτώσεις κοινής χρήσης μαζί με τα σχετικά αποτελέσματα ή σκοπούμενες χρήσεις, και να καταθέτουν αναφορές ετησίως στο iNaturalist.
    </p>
    <p>
      Μπορείτε να δείτε την τρέχουσα λίστα μελών για το <a href="/sites/network">iNaturalist Network</a>.
    </p>
    <h3><a name="More">Σχετικά Με Κοινή Χρήση</a></h3>
    <p>
      Δύο φορές το χρόνο, το iNaturalist κοινοποιοεί διευθύνσεις emails των συνδεδεμένων λογαριασμών και μερικές κρυφές συντεταγμένες (δηλ. συντεταγμένες δημοσίως επισκιασμένες ή ιδιωτικές) με τα Μέλη του Δικτύου iNaturalist για να διευκολύνει τη χρήση των δεδομένων του iNaturalist για έρευνα, προστασία και διαχείριση στις αντίστοιχες χώρες τους. Οι δύο τρόποι απόκρυψης των συντεταγμένων κοινοποιούνται διαφορετικά, όπως περιγράφεται παρακάτω.
    </p>
    <p>
      <i>Αυτομάτως κρυφές συντεταγμένες (επισκιασμένες ή ιδιωτικές λόγω του «γεωαπορρήτου ταξινομικής μονάδας»)</i><br/>
      το iNaturalist αποκρύπτει αυτόματα τις συντεταγμένες για ορισμένα είδη για να τις προστατεύσει από διαταραχή, συλλογή ή λαθροθηρία. Εάν οι συντεταγμένες της παρατήρησης έχουν αποκρυφτεί αυτόματα για την προστασία του είδους, το iNaturalist κοινοποιεί τις πραγματικές συντεταγμένες όλων των παρατηρήσεων από τις αντίστοιχες χώρες τους με τα Μέλη του Δικτύου.
    </p>
    <p>
      <i>Οι κρυφές συντεταγμένες του χρήστη (επισκιασμένες ή ιδιωτικές λόγω της ρύθμισης «γεωαπόρρητο»)</i><br/>
      Παρατηρήσεις με κρυφές συντεταγμένες λόγω των επιλογών του ατομικού χρήστη κοινοποιούνται με πολύ πιο περιορισμένο και συγκεκριμένο τρόπο.  Με τη συσχέτιση με μια τοποθεσία δικτύου, το iNaturalist θα κοινοποιεί με τους διαχειριστές αυτού του ιστότοπου τις ακριβείς συντεταγμένες των παρατηρήσεων με γεωαπόρρητο που έχετε ρυθμίσει σε κρυφές ή ιδιωτικές, εκτός από εκείνες που είναι δημόσια επισκιασμένες ή ιδιωτικές λόγω του γεωαπορρήτου της ταξινομικής μονάδας. Αυτό επιτρέπει στις παρατηρήσεις σας να γίνουν πιο πολύτιμες για τις τοπικές προσπάθειες διατήρησης.
    </p>
    <p>
      Οι διευθύνσεις email κοινοποιούνται με τα Μέλη του Δικτύου αποκλειστικά για σκοπούς επικοινωνίας που σχετίζονται με τον ιστότοπο.
    </p>
    <h3><a name="Examples">Παραδείγματα</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Καναδά</a> επιτρέπει στα δεδομένα από το iNaturalist να ενσωματωθούν σε ασφαλή, επαρχιακού επιπέδου συστήματα που διαχειρίζονται τα Κέντρα Δεδομένων Διατήρησης (CDCs). Τα συστήματα αυτά χρησιμοποιούνται κατά τη διεξαγωγή αξιολογήσεων (δύο φορές ετησίως) για τον προσδιορισμό της κατάστασης κινδύνου των ειδών, καθώς και για τον καθορισμό του κρίσιμου βιότοπου των απειλούμενων και κινδινεύοντων ειδών.   Ως εκ τούτου, κατέστη επίσης δυνατός ο εντοπισμός και ο μετριασμός σημείων αιχμής οδικής θνησιμότητας για είδη που διατρέχουν κίνδυνο· η οριοθέτηση και τελικά η προστασία των Βασικών Περιοχών Βιοποικιλότητας και· η επανεπιβεβαίωση παρουσίας ειδών που δεν είχαν αναφερθεί εδώ και δεκαετίες.
    </p>
    <p>
      Το μέλος του δικτύου iNaturalist της Πορτογαλίας <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> κοινοποίησε δεδομένα αρχείων για τον πορτογαλικό άτλαντα αποδημητικών πτηνών, για τον άτλαντα θηλαστικών, καθώς και διάφορα άλλες πορτογαλικές επιστημονικές ερευνητικές εργασίες.
    </p>
    <p>
      Οι παρατηρήσεις του Μεξικανικού <a href="https://www.naturalista.mx/">Naturalista</a> τροφοδοτούν το Εθνικό Σύστημα Πληροφοριών για τη Βιοποικιλότητα (στο CONABIO, την Εθνική Επιτροπή για τη Βιοποικιλότητα) μαζί με τα αρχεία του eBird. Μπορεί κανείς να βρει τόσο επιστημονικά όσο και αρχεία από επισήμη των πολιτών στην <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">Το iNaturalist Εκουαδόρ</a> τροφοδοτεί την Εθνική Βάση Δεδομένων της Βιοποικιλότητας του Εκουαδόρ– BNDB – ένα μεγάλο αποθετήριο δεδομένων από επιστημονικά αρχεία, καθώς και αρχεί προερχόμενα από την επιστήμη των πολιτών. Σκοπός είναι να ενσωματωθούν οι γνώσεις και τα δεδομένα που συμβάλλουν στην ενίσχυση της περιβαλλοντικής κατανόησης της χλωρίδας και της πανίδας του Εκουαδόρ.
    </p>
    <h3><a name="About">Σχετικά με το Δίκτυο</a></h3>

    <p>
      Αν ο οργανισμός σας ενδιαφέρεται να ενταχθεί στο iNaturalist Network, μπορείτε να βρείτε περισσότερες λεπτομέρειες <a href="/pages/network-join">εδώ</a>.
    </p>
  </div>
</div>
