<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Další informace o přiřazování k síti</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Přehled</a></li>
      <li><a href="#More">Další informace o sdílení</a></li>
      <li><a href="#Examples">Příklady využití dat členy sítě</a></li>
      <li><a href="#About">O Síti</a></li>
    </ul>
    <h3><a name="Overview">Přehled</a></h3>
    <p>
      <a href="/sites/network">iNaturalist Network</a> je kolekce lokalizovaných webových stránek v <a href="https://www.inaturalist.org">globální komunitě iNaturalist</a>. Stránky sítě jsou podporovány místními institucemi, které podněcují zapojení místních a usnadňují využívání údajů z iNaturalist ve prospěch místní biologické rozmanitosti.
    </p>
    <p>
      Když se připojíte k Členské síti iNaturalist, Vaše e-mailová adresa a skutečná poloha vašich přibližných a soukromých míst jsou sdíleny s Členskou sítí. Díky tomu se vaše pozorování stanou cennějšími pro místní úsilí o ochranu. Pokud žijete nebo často navštěvujete zemi, která je členem sítě, pak Vás vyzýváme, abyste si ji zvolili k přidružení, což usnadní sdílení údajů. 
    </p>
    <p>
      Můžete se nadále přihlásit prostřednictvím iNaturalist.org nebo prostřednictvím svých webových stránek. Bez ohledu na vaši příslušnost, všechna vaše data budou hostována na stejném místě a budete i nadále moci komunikovat s širší mezinárodní komunitou iNaturalist. Každý účet iNaturalist může být přidružen pouze k jedné Členské síti. Své přidružení můžete zkontrolovat nebo změnit v <a href="/users/edit">nastavení účtu</a>.
    </p>
    <p>
      Za účelem pokroku ve výzkumu a uchovávání ve svých příslušných zemích mohou členové sítě sdílet údaje od iNaturalist. jsou odpovědní za posouzení platnosti a vhodnosti žádostí o údaje a jejich možných důsledků; přenáší písemnou odpovědnost za zajištění bezpečnosti těchto údajů a nevystavuje je žádným způsobem veřejnosti, nebo je sdílet nebo využívat mimo svůj původní zamýšlený účel; dokumentovat všechny případy sdílení spolu s příslušnými výsledky, výsledky nebo zamýšleným použitím a každoročně podávat zprávu iNaturalist.
    </p>
    <p>
      Podívejte se na aktuální seznam členů <a href="/sites/network">Sítě iNaturalist</a>.
    </p>
    <h3><a name="More">Více o sdílení</a></h3>
    <p>
      Dvakrát ročně sdílí iNaturalist e-mailové adresy připojených účtů a některé neveřejné souřadnice (tj. souřadnice pro veřejnost přibližné nebo soukromé) s členy Sítě iNaturalist, s cílem usnadnit využívání dat iNaturalist pro výzkum, ochranu přírody a řízení ve svých zemích. Každý ze dvou způsobů, kterými mohou být souřadnice skryty, je sdílen odlišně, jak je popsáno níže.
    </p>
    <p>
      <i>Automaticky skryté souřadnice (přibližné nebo soukromé kvůli zachování soukromí zeměpisné polohy taxonu)</i><br/>
      iNaturalist automaticky skryje souřadnice pro některé druhy, aby byly chráněny před rušením, sběrem, nebo pytláctvím. Pokud byly souřadnice pozorování skryty pouze automaticky za účelem ochrany druhů, iNaturalist sdílí skutečné souřadnice všech pozorování ze svých zemí s členy sítě.
    </p>
    <p>
      <i>Uživatelem skryté souřadnice (přibližné nebo soukromé kvůli nastavení Soukromí zeměpisné polohy)</i><br/>
      Pozorování se skrytými souřadnicemi kvůli volbám jednotlivých uživatelů jsou sdílena mnohem omezenějším a konkrétnějším způsobem.  Přiřazením k členské síti bude iNaturalist sdílet s jejími administrátory přesné souřadnice pozorování se zachováním soukromí zeměpisné polohy, které jste nastavili na přibližné nebo soukromé, včetně zachování těch, které jsou pro veřejnost přibližné nebo soukromé z důvodu zeměpisného soukromí taxonů. Díky tomu se vaše pozorování stanou hodnotnějšími v místním úsilí o ochranu přírody.
    </p>
    <p>
      E-mailové adresy jsou sdíleny s členy sítě pouze pro účely komunikace týkající se daného webu.
    </p>
    <h3><a name="Examples">Příklady</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> umožňuje začlenění dat z iNaturalist do bezpečných, provinciálních systémů spravovaných Conservation Data Centers (CDCs). Tyto systémy se používají při provádění posouzení (dvakrát za rok) s cílem určit rizikový stav druhů, a rovněž při určování kritického stanoviště ohrožených druhů.   V důsledku toho bylo možné najít a zmírnit kritická místa silniční úmrtnosti u ohrožených druhů; vymezit a případně chránit klíčové oblasti biologické rozmanitosti a znovu potvrdit přítomnost druhů, které nebyly po desetiletí hlášeny.
    </p>
    <p>
      člen sítě iNaturalist v Portugalsku <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> sdílel záznamy o portugalských atlasech stěhovavých ptáků, pro atlasy savců a několik dalších portugalských vědeckých vědeckých dokumentů.
    </p>
    <p>
      Pozorování mexické <a href="https://www.naturalista.mx/">Naturalista</a> je začleněno do Národního informačního systému o biologické rozmanitosti (na CONABIO, Národního společenství pro biologickou rozmanitost) spolu s záznamy od eBirdu. Lidé mohou najít vědecké i občanské vědecké záznamy v <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a> se zapojuje do Národní databáze biologické rozmanitosti Ekvádoru – BNDB – do velkého množství dat z vědeckých záznamů a také do vědy občanů. Účelem je integrovat znalosti a údaje, které pomáhají posílit environmentální porozumění Ekvádoru a fauně Ekvádoru.
    </p>
    <h3><a name="About">Více o Síti</a></h3>

    <p>
      Pokud má vaše organizace zájem o připojení se k síti iNaturalist, můžete najít další podrobnosti <a href="/pages/network-join">zde</a>.
    </p>
  </div>
</div>
