<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Ağ Bağlılığıyla İlgili Daha Çok Bilgi Edinin</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Genel Bakış</a></li>
      <li><a href="#More">Paylaşım Hakkında Fazlası</a></li>
      <li><a href="#Examples">Ağ Üyeleri Tarafından Veri Kullanımı Örnekleri</a></li>
      <li><a href="#About">Ağ Hakkında</a></li>
    </ul>
    <h3><a name="Overview">Genel Bakış</a></h3>
    <p>
      <a href="/sites/network">iNaturalist Ağı</a>, <a href="https://www.inaturalist.org">küresel iNaturalist topluluğundaki</a> yerelleştirilmiş web sitelerinin bir araya gelmesinden oluşur. Ağ siteleri, yerel katılımı teşvik eden ve yerel biyoçeşitlilikten yararlanmak için iNaturalist'ten gelen verilerin kullanımını kolaylaştıran yerel kurumlar tarafından desteklenmektedir.
    </p>
    <p>
      iNaturalist Ağı Üyesi olduğunda, eposta adresin, gizlenmiş veya özel konumlarının gerçek konumları Ağ Üyesiyle paylaşılır. Bu, gözlemlerinizin yerel koruma çabaları için daha değerli olmasını sağlar. Ağın üyesi olan bir ülkede yaşıyorsanız ya da sık sık ziyaret ediyorsanız, veri paylaşımını kolaylaştırmak için bu ülkeyi bağlılık olarak seçmeniz önerilir. 
    </p>
    <p>
      Senin ağına özel web sitesi üzerinden veya iNaturalist üzerinden giriş yapmaya devam edebilirsin. Üyelik bağın nereden olursa olsun, tüm verilerin aynı yerde tutulacak ve uluslararası iNaturalist topluluğu genelinde kullanmaya devam edebileceksin. Her bir iNaturalist hesabı sadece bir Topluluk Üyesi ile bağlantılanabilir. Bağlılığınızı <a href="/users/edit">hesap ayarlarınızda</a> gözden geçirebilir ya da değiştirebilirsiniz.
    </p>
    <p>
      Ağ Üyeleri, kendi ülkelerindeki araştırmaları geliştirmek veya korumak amacıyla iNaturalist'ten veri paylaşabilirler. They have a responsibility to assess the validity and appropriateness of data requests and their potential outcomes; convey in writing the responsibility to also ensure the security of such data and not to expose it publicly in any way, or share or use it beyond its original intended purpose; to document all instances of sharing along with the associated results, outcomes, or intended uses; and to report annually to iNaturalist.
    </p>
    <p>
      <a href="/sites/network">iNaturalist Ağı</a> için mevcut üye listesini görebilirsiniz.
    </p>
    <h3><a name="More">Çerçeve Hakkında Fazlası</a></h3>
    <p>
      iNaturalist; verileri kendi ülkelerinde araştırma, koruma ve yönetim için kullanılmasını kolaylaştırmak üzere iNaturalist Ağı Üyeleri ile yılda iki kez, hesaplara bağlı eposta adreslerini ve bazı gizli koordinatları (örneğin, kamuya kapalı olarak gizlenmiş veya özel koordinatları) paylaşır. Koordinatların gizlenebileceği iki yol, aşağıda açıklandığı gibi farklı şekilde paylaşılır.
    </p>
    <p>
      <i>Otomatik olarak gizlenen koordinatlar ("sınıf coğrafi gizliliği" nedeniyle gizlenmiş ya da özel)</i><br/>
      iNaturalist, bazı türlerin koordinatlarını rahatsızlıktan, toplamaktan ya da kaçak avlanmadan korumak için otomatik olarak gizler. Gözlem koordinatları yalnızca türleri korumak için otomatik olarak gizlenmişse, iNaturalist kendi ülkelerinden tüm gözlemlerin gerçek koordinatlarını Ağ Üyeleri ile paylaşır.
    </p>
    <p>
      <i>Kullanıcı tarafından gizlenen koordinatlar ("coğrafi gizlilik" ayarı nedeniyle gizlenmiş ya da özel)</i><br/>
      Bireysel kullanıcının tercihleri nedeniyle gizli koordinatlara sahip gözlemler çok daha sınırlı ve spesifik bir şekilde paylaşılır.  Bir Ağ sitesine bağlanarak, iNaturalist, sınıf coğrafi gizliliği nedeniyle herkese açık olan ya da gizli olanlara ek olarak, gizlenmiş ya da gizli olarak belirlediğiniz coğrafi gizlilikle ilgili gözlemlerin kesin koordinatlarını o sitenin yöneticileriyle paylaşacaktır. Bu, gözlemlerinizin yerel koruma çabaları için daha değerli olmasını sağlar.
    </p>
    <p>
      Eposta adresleri sadece Topluluk Üyeleriyle, site ile ilgili iletişim amacıyla paylaşılmaktadır.
    </p>
    <h3><a name="Examples">Örnekler</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a>, iNaturalist'ten gelen verilerin Veri Koruma Merkezleri (CDC'ler) tarafından yönetilen güvenli, il düzeyindeki sistemlere eklenmesini sağlar. Bu sistemler, değerlendirmeler yapıldığında (yılda iki kez) türlerin risk altındaki durumunun belirlenmesi ve ayrıca tehdit altındaki ve nesli tükenmekte olan türlerin kritik habitatının belirlenmesinde kullanılır.   Sonuç olarak, risk altındaki türler için karayolundaki ölümlerinin odak noktalarını bulmak ve azaltmak da olanaklı olmuştur; Önemli Biyoçeşitlilik Alanlarını betimlemek, sonucunda korumak ve onlarca yıldır rapor edilmeyen türlerin varlığını yeniden doğruladı.
    </p>
    <p>
      Portekiz’in iNaturalist ağ üyesi <a href="https://www.biodiversity4all.org/">BioDiversity4All</a>, Portekiz göçmen kuş atlası, memelilerin atlası ve diğer birkaç Portekiz bilimsel araştırma makalesi için kayıt verilerini paylaştı.
    </p>
    <p>
      Meksika'nın <a href="https://www.naturalista.mx/">Naturalista</a> gözlemleri, eBird'den gelen kayıtlarla birlikte Ulusal Biyoçeşitlilik Bilgi Sistemi'ni (CONABIO, Ulusal Biyoçeşitlilik Komisyonu) besler. Hem bilimsel hem de vatandaş bilimi kayıtlarına <a href="www.enciclovida.mx">Enciclovida</a> üzerinden erişilebilir. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>, bilimsel ve vatandaş bilimi kayıtlarının barındığı çok büyük bir veri deposu olan National Database of Biodiversity of Ecuador'u besler – BNDB – Amaç, Ekvator'a ait bitki örtüsü ve faunası ile ilgili bilgi ve veriyi birleştirerek çevresel anlayışı güçlendirmek.
    </p>
    <h3><a name="About">Ağ ile ilgili daha çok bilgi</a></h3>

    <p>
      Kuruluşunuz iNaturalist Ağı'na katılmakla ilgileniyorsa, daha ayrıntılı bilgiye <a href="/pages/network-join">buradan</a> ulaşabilirsiniz.
    </p>
  </div>
</div>
