<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Узнать больше о сетевой принадлежности</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Обзор</a></li>
      <li><a href="#More">Подробнее о структуре</a></li>
      <li><a href="#Examples">Примеры использования данных участниками сети</a></li>
      <li><a href="#About">О сети</a></li>
    </ul>
    <h3><a name="Overview">Обзор</a></h3>
    <p>
      <a href="/sites/network">iNaturalist Network</a>- это набор локализованных веб-сайтов в <a href="https://www.inaturalist.org">глобальном сообществе iNaturalist</a>. Сетевые сайты поддерживаются местными организациями, которые способствуют участию местного населения и облегчают использование данных iNaturalist в интересах местного биоразнообразия.
    </p>
    <p>
      Когда вы сотрудничаете с членом сети iNaturalist, ваш адрес электронной почты и истинные места вашего скрытого и закрытого местоположения являются общими с Сетевым членом. Это позволяет вашим наблюдениям стать более ценными для местных природоохранных усилий. Если вы живете в стране или часто посещаете страну, которая является членом сети, вам рекомендуется выбрать сетевую принадлежность к ней для облегчения обмена данными. 
    </p>
    <p>
      Вы можете входить в систему через iNaturalist.org или через ваш сетевой веб-сайт. Независимо от вашей принадлежности, все ваши данные будут размещены в одном месте, и вы будете продолжать иметь возможность взаимодействовать с более широким международным сообществом iNaturalist. Каждая учетная запись iNaturalist может быть связана только с одним членом сети. Вы можете просмотреть или изменить свою сетевую принадлежность в <a href="/users/edit">настройках аккаунта</a>.
    </p>
    <p>
      Для улучшения исследовательской и природоохранной деятельности в своих странах участники сети могут обмениваться данными iNaturalist. Они обязаны оценивать обоснованность и уместность запросов о предоставлении данных и их возможных результатах; выражая в письменном виде ответственность за обеспечение безопасности таких данных и не разглашать их публично, или разделить или использовать его сверх своей первоначальной намеченной цели; документировать все случаи обмена результатами, результатами или предполагаемыми видами использования; и ежегодно сообщать iNaturalist.
    </p>
    <p>
      Вы можете увидеть текущий список участников<a href="/sites/network">сети iNaturalist</a>.
    </p>
    <h3><a name="More">Подробнее о структуре</a></h3>
    <p>
      Дважды в год iNaturalist делится некоторыми скрытыми координатами (то есть координирует публично скрытые или частные) с членами сети iNaturalist, чтобы облегчить использование данных iNaturalist в исследованиях, а также для природоохранных и организационных задач в соответствующих странах. Два способа, которыми могут быть скрыты координаты, используются по-разному, как описано ниже.
    </p>
    <p>
      <i>Автоматически скрываемые координаты (скрытые или частные, вследствие «геоприватности таксона»)</i><br/>
      iNaturalist автоматически скрывает координаты некоторых видов, чтобы защитить их от нарушения экологической среды, а также от сбора или браконьерства. Если координаты наблюдений были скрыты автоматически только для защиты видов, iNaturalist делится истинными координатами всех наблюдений из соответствующих стран с членами Сети.
    </p>
    <p>
      <i>Скрытые пользователем координаты (скрытые или частные из-за настройки «геоприватность»)</i><br/>
      Наблюдения со скрытыми координатами, обусловленными индивидуальным выбором пользователя, передаются гораздо более ограниченным и специфическим образом.  Присоединяя сайт в качестве члена сети, iNaturalist будет делиться с администраторами этого сайта точными координатами наблюдений с геоприватностью, для которых вы установили настройки "скрытый" или "частный", в дополнение к тем, которые являются публично скрытыми или частными из-за геоприватности таксона. Это позволяет вашим наблюдениям стать более ценными для местных природоохранных усилий.
    </p>
    <p>
      Адреса электронной почты сообщаются членам сети исключительно для коммуникационных целей, связанных с сайтом.
    </p>
    <h3><a name="Examples">Примеры</a></h3>
    <p>
      <a href="https://inaturalist.ca/"> iNaturalist Canada</a> позволяет включать данные iNaturalist в защищённые системы провинциального уровня, управляемые природоохранными центрами (CDC). Эти системы используются при проведении оценок (дважды в год) для определения статуса видов, находящихся в зоне риска, а также для определения критической среды обитания исчезающих и находящихся под угрозой исчезновения видов.   В результате удалось также выявить и уменьшить количество горячих точек смертности на дорогах для видов, находящихся в зоне риска; очертить и в конечном итоге защитить ключевые районы биоразнообразия, а также подтвердить присутствие видов, о которых не сообщалось десятилетиями.
    </p>
    <p>
      Португальский член сети iNaturalist <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> поделился данными о португальских атласе перелетных птиц, атласе млекопитающих, а также нескольких других португальских научных исследовательских работах.
    </p>
    <p>
      Наблюдения <a href="https://www.naturalista.mx/">Naturalista</a> в Мексике поступают в национальную информационную систему по биоразнообразию (в CONABIO, Comisión Nacional para el Conocimiento y Uso de la Biodiversidad) вместе с записями из eBird. Люди могут найти как научные, так и и гражданские научные записи в <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a> передаёт данные в Национальную базу данных биоразнообразия Эквадора – BNDB – большое хранилище данных научных, а также гражданских научных записей. Цель состоит в том, чтобы объединить знания и данные, которые помогают улучшить экологическое понимание флоры и фауны Эквадора.
    </p>
    <h3><a name="About">Подробнее о сети</a></h3>

    <p>
      Если ваша организация заинтересована в присоединении к сети iNaturalist, вы можете найти более подробную информацию <a href="/pages/network-join">здесь</a>.
    </p>
  </div>
</div>
