<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Lue lisää verkostojen toiminnasta</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Yleistä</a></li>
      <li><a href="#More">Havaintotiedon jakamisesta</a></li>
      <li><a href="#Examples">Esimerkkejä tiedon käytöstä</a></li>
      <li><a href="#About">Lisää tietoa verkostosta</a></li>
    </ul>
    <h3><a name="Overview">Yleistä</a></h3>
    <p>
      <a href="/sites/network">iNaturalist-verkosto</a> muodostuu paikallisista jäsensivustoista <a href="https://www.inaturalist.org">maailmanlaajuisessa iNaturalist-yhteisössä</a>. Jäsensivustoja ylläpitävät paikalliset toimijat, joiden tavoitteena on osallistaa paikallisia ihmisiä ja edistää kertyvän luontotiedon käyttöä luonnon monimuotoisuuden hyväksi.
    </p>
    <p>
      Kun liität tunnuksesi iNaturalist-verkoston jäsensivustoon, sähköpostiosoitteesi ja piilotettujen sekä yksityisten havaintojesi sijaintitiedot jaetaan jäsensivuston ylläpitäjälle. Tämän avulla havainnoistasi tulee entistä arvokkaampia paikallisen luonnonsuojelun kannalta. Suosittelemme sinun liittävän käyttäjätilisi Suomen iNaturalist-jäsensivustoon, sillä se auttaa tiedon käyttöä ja jakamista. iNaturalist Suomi -jäsensivustosta vastaa Suomen Lajitietokeskus, joka toimii Luonnontieteellisen keskusmuseon alaisuudessa. 
    </p>
    <p>
      Voit jatkaa kirjautumista iNaturalist.orgin kautta tai verkostosi verkkosivuston kautta. Jäsensivustosta riippumatta kaikki tuottamasi tieto tallentuu samaan paikkaan ja voit olla vuorovaikutuksessa laajan, kansainvälisen iNaturalist-yhteisön kanssa. Jokainen iNaturalist-käyttäjätili voi liittyä vain yhteen jäsensivustoon. Voit tarkastella tai muuttaa paikallissivuston jäsenyyttäsi <a href="/users/edit">käyttäjätilisi asetuksissa</a>.
    </p>
    <p>
      Jotta tutkimusta ja luonnonsuojelua voidaan edistää kussakin verkoston maassa, jäsensivustot voivat jakaa havaintotietoa iNaturalistista eteenpäin. Niiden vastuulla on arvioida tietopyyntöjen paikkansapitävyyttä ja asianmukaisuutta ja niiden mahdollisia tuloksia; varmistaa tiedonjakamisen turvallisuus, jotta jaettua tietoa ei paljasteta julkisesti millään tavalla, tai jaeta tai käytetä alkuperäisen käyttötarkoituksen vastaisella tavalla; dokumentoida kaikki jakamistapaukset ja niihin liittyvät tulokset, vaikutukset tai suunnitellut käyttötarkoitukset; ja raportoida näistä vuosittain iNaturalistille.
    </p>
    <p>
      Voit nähdä voimassa olevan jäsenluettelon <a href="/sites/network">iNaturalist-verkostosta</a>.
    </p>
    <h3><a name="More">Havaintotiedon jakamisesta</a></h3>
    <p>
      iNaturalist jakaa kahdesti vuodessa paikallisen jäsensivuston ylläpitäjälle jäsensivustoon liittyneiden sähköpostiosoitteet sekä joitakin piilotettujen havaintojen sijaintitietoja (eli sellaisten havaintojen koordinaatit, jotka on automaattisesti piilotettu kaikilta käyttäjiltä tai koordinaatit, jotka käyttäjä itse on salannut). Tämä tehdään, jotta tietoa voidaan käyttää tutkimuksen, luonnonsuojelun ja kestävän luonnonvarojen käytön edistämiseksi. Kahdella tavalla piilotettuja koordinaatteja jaetaan eri tavoin, kuten alla kuvataan.
    </p>
    <p>
      <i>Automaattisesti piilotettavat koordinaatit (karkeistettu tai piilotettu perustuen sensitiivisten lajien luetteloon)</i><br/>
      iNaturalist karkeistaa automaattisesti havainnot erillisen lajiluettelon mukaan suojellakseen näitä lajeja mahdolliselta häirinnältä, keräykseltä tai salametsästykseltä. Jos havainnon koordinaatit on vain piilotettu automaattisesti suojelusyistä, iNaturalist jakaa tarkat sijaintitiedot kaikista näistä havainnoista paikallisen jäsensivuston ylläpitäjän kanssa koskien tämän maan omia havaintoja.
    </p>
    <p>
      <i>Käyttäjän piilottamat koordinaatit (karkeistettu tai yksityistetty käyttäjän toimesta)</i><br/>
      Havainnot, joiden sijainti on piilotettu käyttäjän toimesta, jaetaan rajoitetulla tavalla.  Liittymällä osaksi paikallista iNaturalist-jäsensivustoa sivuston ylläpitäjä saa tarkat paikkatiedot havainnoistasi, joiden tietoja olet karkeistanut tai yksityistänyt - automaattisesti piilotettujen sensitiivisten lajihavaintojen sijaintitietojen lisäksi. Näin havaintosi hyödyttävät paremmin paikallisia luonnonsuojelutoimia.
    </p>
    <p>
      Sähköpostiosoitteet jaetaan jäsensivustoille ainoastaan sivustoon liittyvää viestintää varten.
    </p>
    <h3><a name="Examples">Esimerkkejä tiedon käytöstä</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> mahdollistaa iNaturalistin kautta syntyneen tiedon lisäämisen paikallisen Conservation Data Centerin järjestelmiin. Näitä järjestelmiä käytetään, kun tehdään arviointeja lajien uhanalaisuusriskin määrittämiseksi sekä selvitetään uhanalaisten lajien kriittisiä elinympäristöjä ja lajien uhanalaisuusasemaa.   Tämän seurauksena on ollut mahdollista paikantaa ja vähentää uhanalaisten lajien tieliikennekuolleisuuspaikkoja, tarkentaa ja lopulta suojella keskeisiä luonnon monimuotoisuusalueita, ja vahvistaa sellaisten lajien esiintymisiä, joita ei ole havaittu vuosikymmeniin.
    </p>
    <p>
      Portugalin jäsensivusto<a href="https://www.biodiversity4all.org/">BioDiversity4All</a> on jakanut tietoja Portugalin muuttolintuatlakseen, nisäkäsatlakseen sekä useisiin tieteellisiin artikkeleihin.
    </p>
    <p>
      <a href="https://www.naturalista.mx/">Naturalistan</a>, Meksikon jäsensivuston, havainnot syötetään kansalliseen biologista monimuotoisuutta koskevaan tietojärjestelmään (CONABIO, National Biodiversity Commision) yhdessä eBirdin tietojen kanssa. Ihmiset voivat löytää sekä tieteellisiä että kansalaistieteen tuottamia havaintoja <a href="www.enciclovida.mx">Enciclovidasta</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuadorin</a> havaintotietojen tallennuspaikka on National Database of Biodiversity of Ecuador (BNDB), joka on laaja tietokanta sekä tieteellisistä että kansalaistieteen tuottamista havainnoista. Tavoitteena on yhdistää havaintotiedot, jonka avulla ymmärrys Ecuadorin lajistosta vahvistuu.
    </p>
    <h3><a name="About">Lisää tietoa verkostosta</a></h3>

    <p>
      Jos järjestösi on kiinnostunut liittymään iNaturalist-verkostoon, löydät lisätietoja <a href="/pages/network-join">täältä</a>.
    </p>
  </div>
</div>
