<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Aprèn més sobre l'Afiliació a la Xarxa</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Informació general</a></li>
      <li><a href="#More">Más Sobre la Compartició</a></li>
      <li><a href="#Examples">Exemples d'Ús de Dades per membre de la xarxa</a></li>
      <li><a href="#About">Sobre la Xarxa</a></li>
    </ul>
    <h3><a name="Overview">Informació general</a></h3>
    <p>
      La <a href="/sites/network">Xarxa iNaturalist</a> és un conjunt de llocs web locals a la <a href="https://www.inaturalist.org">comunitat global iNaturalist</a>. Els llocs de la xarxa són sostinguts per institucions locals que promouen la seva utilització local i faciliten l'ús de les dades d'iNaturalist per beneficiar la diversitat local.
    </p>
    <p>
      Cuando te afilias a uno de los sitios miembro de la Red iNaturalist, tu dirección de correo electrónico y las coordenadas verdaderas de los registros oscurecidos y privados, son compartidas con el miembro de la red. Això permet que les vostres observacions siguin més valuoses pels esforços locals de conservació. Si viviu o visiteu amb freqüència un país membre de la Xarxa, et recomanem que l'escolliu com la vostra afiliació per facilitar la compartició de les dades. 
    </p>
    <p>
      Podeu continuar connectant-vos a través d'iNaturalist.org o a través de la pàgina web específica de la xarxa de cada país. No importa la vostra afiliació, totes les dades estan emmagatzemades en el mateix lloc i podeu continuar perquè pugueu interactuar a la xarxa internacional de la comunitat iNaturalist. Cada compte d'iNaturalist pot estar afiliat únicament amb una Xarxa participant. Podeu revisar o canviar la vostra afiliació a la <a href="/users/edit">configuració del vostre compte</a>.
    </p>
    <p>
      Per avançar en la recerca i conservació en eles seus respectius països, els Membres de la Xarxa poden compartir dades d'iNaturalist. Tenen la responsabilitat d'avaluar la validesa i idoneïtat dels requeriments de dades i els resultats possibles, transmetre per escrit la responsabilitat de garantir la seguretat de les dades i la no exposició al públic, compartir-los o emprar-los més enllà del seu propòsit original. A més de documentar els resultats o usos prevists associats i reportar anualment a iNaturalist.
    </p>
    <p>
      Podeu veure la llista actual de membres de la <a href="/sites/network">Xarxa d'iNaturalist</a>.
    </p>
    <h3><a name="More">Més Sobre Compartir</a></h3>
    <p>
      Dues vegades l'any, iNaturalist comparteix les adreces de correu electrònic de comptes d'afiliats i algunes coordenades ocultes (p.e. coordenades públicament enfosquides o privades) amb Membres de la Xarxa iNaturalist per facilitar l'ús de dades d'iNaturalist per a la recerca, conservació i gestió en els seus respectius països. Les dues formes com les coordenades es poden ocultar-se són compartides de forma diferent, com es descriu a sota.
    </p>
    <p>
      <i>Coordenades ocultes automàticament (enfosquides o privades a causa de la "geoprivacitat del tàxon")</i><br/>
      iNaturalist automàticament oculta les coordenades d'algunes espècies per protegir-les de les molèsties, els col·leccionistes o la caça furtiva. Si les coordenades de l'observació han estat ocultes automàticament únicament per a protegir l'espècie, iNaturalist comparteix les coordenades reals de totes les observacions dels seus respectius països amb els membres de la Xarxa.
    </p>
    <p>
      <i>Coordenades ocultes per l'usuari (enfosquides o privades a causa de les condicions de "geoprivacitat")</i><br/>
      Les observacions amb coordenades ocultes a causa de la selecció personal de l'usuari són compartides de forma més limitada i específica.  Afiliant-vos a un lloc de la xarxa, iNaturalist compartirà amb els administradors d'aquest lloc les coordenades precises de les observacions amb geoprivacitat que heu enfosquit o fet privades, a més de les que s'han ocultat públicament o de forma privada a causa de la geoprivacitat del tàxon. Això permet que les vostres observacions siguin més valuoses pels esforços locals de conservació.
    </p>
    <p>
      Les adreces de correu electrònic són compartides amb Membres de la Xarxa únicament amb l'objectiu de permetre comunicacions relatives a aquest lloc.
    </p>
    <h3><a name="Examples">Exemples</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> permet que les dades d'iNaturalist s'incorporin a sistemes segurs a escala provincial gestionats pels Conservation Data Centers (CDCs). Aquests sistemes s'utilitzen quan es realitzen avaluacions (dues vegades l'any) per a determinar l'estat de risc de les espècies, així com per a determinar l'hàbitat crític de les espècies amenaçades i en perill d'extinció.   Resultat d'això ha estat possible localitzar i corregir punts conflictius per la mortalitat per carreteres d'espècies en risc, delimitar i eventualment protegir Àrees Clau per a la Biodiversitat (KBA) i confirmar la presència d'espècies que no havien estat localitzades en dècades.
    </p>
    <p>
      El membre de la xarxa d'iNaturalist a Portugal <a href="https://www.biodiversity4all.org/">BioDiversity4All</a>comparteix dades per l'atles portuguès d'aus migratòries, l'atles de mamífers, així com per diversos articles portuguesos d'investigació científica.
    </p>
    <p>
      Les observacions de <a href="https://www.naturalista.mx/">Naturalista</a>, de Mèxico, alimenten el Sistema Nacional d'Informació sobre la Biodiversitat (a CONABIO, la Comissió Nacional de Biodiversitat) junt amb els registres d'eBird. Tothom pot accedir a registres científics i de ciència ciutadana a <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Equador</a> alimenta la Base Nacional de Dades de Biodiversitat de l'Equador – BNDB – un gran repositori de dades de registres científics i de ciència ciutadana. El seu objectiu és integrar les dades que ajuden a enfortir el coneixemento de la flora i fauna de l'Equador.
    </p>
    <h3><a name="About">Més sobre la Xarxa</a></h3>

    <p>
      Si la vostra organització està interessada a unir-se a la Xarxa iNaturalist, podeu trobar més detalls <a href="/pages/network-join">aquí</a>.
    </p>
  </div>
</div>
