<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Meer informatie over netwerkverbondenheid</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Overzicht</a></li>
      <li><a href="#More">Meer over delen</a></li>
      <li><a href="#Examples">Voorbeelden van gebruik van gegevens door leden van het netwerk</a></li>
      <li><a href="#About">Meer over het netwerk</a></li>
    </ul>
    <h3><a name="Overview">Overzicht</a></h3>
    <p>
      Het <a href="/sites/network">iNaturalist Network</a> is een verzameling gelokaliseerde websites in de <a href="https://www.inaturalist.org">global iNaturalist community</a>. Netwerksites worden ondersteund door lokale instellingen die lokaal gebruik bevorderen en het gebruik van gegevens van iNaturalist vergemakkelijken ten behoeve van de lokale biodiversiteit.
    </p>
    <p>
      Wanneer je lid bent van een partner van een iNaturalist netwerk wordt jouw e-mailadres en de echte locaties van uw verborgen en privé locaties gedeeld met het Netwerk partner. Hierdoor kunnen je waarnemingen waardevoller worden voor de lokale instandhoudingsinspanningen. Als je in een land woont of het vaak bezoekt dat lid is van het netwerk wordt je aangemoedigd om dat als jouw affiliatie kiezen om het delen van gegevens te faciliteren. 
    </p>
    <p>
      Je kan inloggen via iNaturalist.org of via jouw organisatiespecifieke website. Onafhankelijk van jouw lidmaatschap worden al jouw gegevens dezelfde plek gehost en zal je in staat blijven om te communiceren met de bredere internationale iNaturalist gemeenschap. Elk iNaturalist account kan worden geassocieerd met slechts één netwerklid. U kunt uw lidmaatschap beoordelen of wijzigen in uw <a href="/users/edit">accountinstellingen</a>.
    </p>
    <p>
      Om onderzoek en instandhouding in hun respectieve landen te bevorderen kunnen Networkleden gegevens van iNaturalist delen. Zij hebben de verantwoordelijkheid om de geldigheid en geschiktheid van verzoeken om gegevens en hun mogelijke resultaten te beoordelen; de schriftelijke verantwoordelijkheid om ook de veiligheid van dergelijke gegevens te waarborgen en niet in het openbaar aan de kaak te stellen of gebruik anders dan het oorspronkelijk beoogde doel; om alle dataopvraagverzoeken samen met de bijbehorende resultaten, uitkomsten of beoogde toepassingen te documenteren en die jaarlijks te rapporteren aan iNaturalist.
    </p>
    <p>
      Je kunt de huidige ledenlijst van het <a href="/sites/network">iNaturalist Netwerk </a> bekijken.
    </p>
    <h3><a name="More">Meer over delen</a></h3>
    <p>
      Twee keer per jaar deelt iNaturalist emailadressen van gekoppelde accounts en een aantal een verborgen coördinaten (d.w.z. coördinaten die vervaagd of verborgen zijn) met iNaturalist Network Members om het gebruik van iNaturalist gegevens voor onderzoek, behoud en beheer in hun respectieve landen te vergemakkelijken. De twee manieren waarop coördinaten verborgen kunnen worden, worden verschillend gedeeld zoals hieronder beschreven.
    </p>
    <p>
      <i>Automatisch verborgen coördinaten (vervaagd of verborgen door "taxon geoprivacy")</i><br/>
      iNaturalist verbergt automatisch de coördinaten voor sommige soorten om ze te beschermen tegen verstoring, verzamelen of stroperij. Als de waarnemingscoördinaten alleen automatisch zijn verborgen om soorten te beschermen deelt iNaturalist de echte coördinaten van alle waarnemingen van hun respectieve landen met netwerkleden.
    </p>
    <p>
      <i>Gebruikersverborgen coördinaten (vervaagd of verborgen door de "geoprivacy"-instelling)</i><br/>
      Waarnemingen met verborgen coördinaten door de keuze van  individuele gebruiker worden op een veel beperktere en meer specifieke manier gedeeld.  Door je binden aan een netwerksite zal iNaturalist de exacte coördinaten van waarnemingen delen met de beheerders van die site met de geoprivacy die je hebt ingesteld op vervaagd of verborgen, naast die welke openbaar verborgen of privé zijn vanwege de geoprivacy van het taxon. Hierdoor kunnen je waarnemingen waardevoller worden voor de lokale instandhoudingsinspanningen.
    </p>
    <p>
      E-mailadressen worden gedeeld met leden van het netwerk uitsluitend voor communicatie met betrekking tot de site.
    </p>
    <h3><a name="Examples">Voorbeelden</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> stelt gegevens an iNaturalist beschikbaar om te worden opgenomen in de veilige, provinciale systemen beheerd door Conservation Data Centers (CDCs). Deze systemen worden gebruikt bij het uitvoeren (twee keer per jaar) van beoordelingen om de status van bedreigde soorten vast te stellen en bij het bepalen van de kritieke leefomgeving van bedreigde diersoorten.   Als gevolg daarvan is het ook mogelijk geweest hotspots van verkeerssterfte voor bedreigde soorten te lokaliseren en te beperken; afbakening en uiteindelijk bescherming bieden aan de belangrijkste biodiversiteitsgebieden en de aanwezigheid van soorten die decennialang niet zijn gerapporteerd opnieuw bevestigen.
    </p>
    <p>
      Portugal's iNaturalist netwerklid <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> deelde gegevens voor de Portugese atlas van trekvogels, voor de atlas van zoogdieren en diverse andere Portugese wetenschappelijke onderzoeksdocumenten.
    </p>
    <p>
      <a href="https://www.naturalista.mx/">De Natura</a>-observaties van Mexico voeden het National Biodiversity Information System (op CONABIO, het National Biodiversity Commision) samen met records uit eBird. Mensen kunnen zowel wetenschappelijke als burgerwetenschappelijke records vinden in <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a> deelt gegevens met de National Database of Biodiversity of Ecuador – BNDB – een grote verzameling van gegevens uit wetenschappelijke data en burgerwetenschap. Het doel is de kennis en gegevens te integreren die bijdragen aan een beter begrip van het milieu van de flora en fauna van Ecuador.
    </p>
    <h3><a name="About">Meer over het netwerk</a></h3>

    <p>
      Als jouw organisatie geïnteresseerd is in toetreding tot het iNaturalist Netwerk kan je <a href="/pages/network-join">hier</a> meer details vinden.
    </p>
  </div>
</div>
