<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Erfahre mehr über die Netzwerk-Zugehörigkeit</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/1659-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Übersicht</a></li>
      <li><a href="#Examples">Beispiele der Verwendung von Daten durch Netzwerk-Mitglieder</a></li>
      <li><a href="#About">Über das Netzwerk</a></li>
    </ul>
    <h3><a name="Overview">Übersicht</a></h3>
    <p>
      Das <a href="/sites/network">iNaturalist-Netzwerk</a> ist eine Sammlung von regionalen Websites innerhalb der <a href="https://www.inaturalist.org">globalen iNaturalist-Community</a>. Netzwerk-Websites werden von lokalen Institutionen unterstützt, die die regionale Nutzung fördern und die erleichterte Nutzung der Daten von iNaturalist ermöglichen, um die örtliche biologische Vielfalt zu unterstützen.
    </p>
    <p>
      Zweimal pro Jahr teilt iNaturalist einige versteckte Koordinaten (d.h. öffentlich verdeckte oder private Koordinaten) mit den Mitgliedern des iNaturalist-Netzwerks, um die Verwendung von iNaturalist-Daten für Forschung, Naturschutz und Management in ihren jeweiligen Ländern zu erleichtern. Die zwei Möglichkeiten, wie Koordinaten verdeckt werden können, werden unterschiedlich geteilt - wie unten beschrieben.
    </p>
    <p>
      <i>Automatisch versteckte Koordinaten (verdeckt oder privat aufgrund von "Taxon-Geoprivatsphäre)</i>
      iNaturalist versteckt automatisch die Koordinaten für einige Arten um sie vor Störungen, Sammlern oder Wilderei zu schützen. Wenn die Beobachtungskoordinaten nur automatisch versteckt wurden, um Arten zu schützen, teilt iNaturalist die wahren Koordinaten aller Beobachtungen aus ihren jeweiligen Ländern mit den Netzwerk-Mitgliedern.
    </p>
    <p>
      <i>Benutzer-versteckte Koordinaten (verdeckt oder privat aufgrund der "Geoprivatsphäre"-Einstellung)</i>
      Beobachtungen mit versteckten Koordinaten aufgrund der individuellen Auswahl des Benutzers werden auf eine viel beschränktere und spezifischere Art und Weise geteilt.  Durch die Verknüpfung mit einer Netzwerk-Website wird iNaturalist die genauen Koordinaten der Beobachtungen, die du über die Geo-Privatshäre verdeckt oder privat gemacht hast, teilen - zusätzlich zu denen, die öffentlich verdeckt oder privat sind aufgrund der Taxon-Geoprivatsphäre. Dadurch werden deine Beobachtungen wertvoller für die lokalen Naturschutzmaßnahmen.
    </p>
    <p>
      Wenn du in einem Land lebst oder eines häufig besuchst, das Mitglied des Netzwerks ist, dann überlege doch, dich mit diesem Netzwerk zu verknüpfen, um den Datenaustausch zu erleichtern. Du kannst deine Zugehörigkeit in den <a href="/users/edit">Kontoeinstellungen</a> überprüfen oder ändern.
    </p>
    <p>
      Du kannst die aktuelle Mitgliederliste des <a href="/sites/network">iNaturalistNetzwerks</a> sehen.
    </p>
    <h3><a name="Examples">Beispiele</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> ermöglicht die Einbindung von Daten aus iNaturalist in sichere Systeme auf Provinzebene, die von den Conservation Data Centers (CDCs) verwaltet werden. Diese Systeme werden verwendet, wenn Beurteilungen durchgeführt werden (zweimal jährlich), um den Gefährdungszustand von Arten zu ermitteln, sowie bei der Bestimmung von kritischen Habitaten bedrohter und gefährdeter Arten.   Infolgedessen war es auch möglich, Hotspots für Straßenverkehrsopfer von gefährdeten Arten zu lokalisieren und abzumildern; die Erfassung und schlussendlich den Schutz von Schlüsselgebieten der biologischen Vielfalt zu veranlassen, sowie das Vorkommen von Arten zu bestätigen, die seit Jahrzehnten nicht gemeldet wurden.
    </p>
    <p>
      Portugals iNaturalist-Netzwerkmitglied <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> teilt Daten für den portugiesischen Atlas von Zugvögeln, für den Atlas der Säugetiere, sowie mehrere andere wissenschaftliche portugiesiche Forschungsprojekte.
    </p>
    <h3><a name="About">Mehr über das Netzwerk</a></h3>

    <p>
      Wenn Ihre Organisation daran interessiert ist, dem iNaturalist-Netzwerk beizutreten, finden Sie weitere Details <a href="/pages/network-join">hier</a>.
    </p>
  </div>
</div>
