<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Läs mer om Nätverksanknytning</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Översikt">Översikt</a></li>
      <li><a href="#Mer">Mer om delning</a></li>
      <li><a href="#Exempel">Exempel på dataanvändning av nätverksmedlemmar</a></li>
      <li><a href="#Om">Om nätverket</a></li>
    </ul>
    <h3><a name="Overview">Översikt</a></h3>
    <p>
      <a href="/sites/network">iNaturalist-nätverket</a> är en samling lokala webbplatser i den <a href="https://www.inaturalist.org">globala iNaturalist-communityn</a>. Nätverkssajter stöds av lokala institutioner som främjar lokalt deltagande och underlättar användningen av data från iNaturalist så att den gynnar lokal biologisk mångfald.
    </p>
    <p>
      När du anknyter till en av iNaturalist-nätverkets medlemmar, delas din e-postadress och de verkliga fyndplatserna för dina diffuserade och privata fyndplatser med nätverksmedlemmen. Detta gör att dina fynd kan bli mer värdefulla för lokala naturvårdssatsningar. Om du bor i eller ofta besöker ett land som är medlem i nätverket uppmuntras du att välja det som din anknytning för att underlätta delning av data. 
    </p>
    <p>
      Du kan fortsätta att logga in via iNaturalist.org eller via din nätverksspecifika webbplats. Oavsett din anknytning kommer alla dina data att sparas på samma ställe och du kommer fortsatt att kunna interagera med den bredare internationella iNaturalist-communityn. Varje iNaturalist-konto kan kopplas till endast en Nätverksmedlem. Du kan granska eller ändra din anknytning i dina <a href="/users/edit">kontoinställningar</a>.
    </p>
    <p>
      För att främja forskning och bevarande i sina respektive länder kan nätverksmedlemmar dela data från iNaturalist. De har ett ansvar att bedöma giltigheten och lämpligheten av förfrågningar om uppgifter och dess potentiella resultat; skriftligen förmedla ansvaret för att säkerställa säkerheten för sådana uppgifter och inte avslöja dem offentligt på något sätt, eller dela eller använda dem utöver dess ursprungligen avsedda syfte; dokumentera alla fall av delning tillsammans med tillhörande resultat eller avsedda användningsområden, samt årligen rapportera till iNaturalist.
    </p>
    <p>
      Du kan se den aktuella medlemslistan för <a href="/sites/network">iNaturalist-nätverket</a>.
    </p>
    <h3><a name="More">Mer om delning</a></h3>
    <p>
      Två gånger per år delar iNaturalist e-postadresser till anknutna konton och några dolda koordinater (dvs. publikt diffuserade eller privata koordinater) med iNaturalist-nätverkets medlemmar för att underlätta användningen av iNaturalist-data för forskning, bevarande och förvaltning i respektive länder. De två sätt som koordinater kan döljas delas på olika sätt, beskrivet nedan.
    </p>
    <p>
      <i>Automatiskt dolda koordinater (diffuserade eller privata beroende på “taxons geosekretess”)</i><br/>
      iNaturalist döljer automatiskt koordinaterna för vissa arter för att skydda dem från störning, insamling eller tjuvjakt. Om fyndkoordinaterna bara har dolts automatiskt för att skydda arter, delar iNaturalist de verkliga koordinaterna för alla fynd från sina respektive länder med nätverksmedlemmar.
    </p>
    <p>
      <i>Koordinater dolda av användaren (diffuserade eller privata på grund av ”koordinatsekretess”-inställningen)</i><br/>
      Fynd med dolda koordinater på grund av enskilda användares val delas på ett mycket mer begränsat och specifikt sätt.  Genom att anknyta till ett nätverks webbplats, kommer iNaturalist att dela de exakta koordinaterna, för fynd med koordinatsekretess som du har satt till diffuserad eller privat, med den webbplatsens administratörer, utöver de som är offentligt diffuserade eller privata på grund av taxon-koordinatsekretess. Detta gör att dina fynd kan bli mer värdefulla för lokala naturvårdssatsningar.
    </p>
    <p>
      E-postadresserna delas med nätverksmedlemmar enbart för kommunikation som är relaterad till webbplatsen.
    </p>
    <h3><a name="Examples">Exempel</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> gör det möjligt för data från iNaturalist att införlivas i säkra, provinsiella system som hanteras av Conservation Data Centers (CDCs). Dessa system används när bedömningar görs (två gånger om året) för att fastställa arters riskstatus, samt för att bestämma den kritiska livsmiljön för hotade arter.   Som ett resultat har det också varit möjligt att hitta och begränsa hotspots för trafikdödlighet för arter i riskzonen; avgränsa och så småningom skydda Nyckelområden för biologisk mångfald, och; bekräfta förekomsten av arter som inte rapporterats på årtionden.
    </p>
    <p>
      Portugals iNaturalist-nätverketsmedlem <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> delade fynddata för den portugisiska atlasen över flyttfåglar, för atlasen över däggdjur tillsammans med flera andra portugisiska vetenskapliga forskningsartiklar.
    </p>
    <p>
      Mexikos <a href="https://www.naturalista.mx/">Naturalista</a>-fynd matas in i National Biodiversity Information System (vid CONABIO, National Biodiversity Commision) tillsammans med poster från eBird. Användare kan hitta både vetenskapliga och medborgarvetenskapliga poster i <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a> kopplas vidare till den nationella databasen över biologisk mångfald i Ecuador – BNDB – ett stort arkiv av data från vetenskapliga poster såväl som medborgarvetenskap. Syftet är att integrera kunskap och data som bidrar till att stärka förståelsen av miljön för Ecuadors flora och fauna.
    </p>
    <h3><a name="About">Mer om nätverket</a></h3>

    <p>
      Om din institution är intresserad av att gå med i iNaturalist-nätverket, kan du hitta mer information <a href="/pages/network-join">här</a>.
    </p>
  </div>
</div>
