<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>En savoir plus sur l'affiliation au réseau</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/1659-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Vue d'ensemble</a></li>
      <li><a href="#Examples">Exemples d'utilisation des données par les membres du réseau</a></li>
      <li><a href="#About">À propos du réseau</a></li>
    </ul>
    <h3><a name="Overview">Vue d'ensemble</a></h3>
    <p>
      Le <a href="/sites/network">réseau iNaturalist</a> est un ensemble de sites Web locaux dans la <a href="https://www.inaturalist.org">communauté mondiale iNaturalist</a>. Les sites du réseau sont soutenus par des institutions locales qui promeuvent la participation du public et facilitent l'utilisation des données d'iNaturalist au profit de la biodiversité locale.
    </p>
    <p>
      Deux fois par an, iNaturalist partage certaines coordonnées cachées (par . ex. des coordonnées publiquement masquées ou privées) avec les membres du réseau iNaturalist pour faciliter l'utilisation des données iNaturalist à des fins de recherche, de protection et de gestion de la nature dans leurs pays respectifs. Il existe deux façons dont les coordonnées masquées sont partagées, comme décrit ci-dessous.
    </p>
    <p>
      <br><i>Automatically hidden coordinates (obscured or private due to “taxon geoprivacy”)</i></br>
      iNaturalist automatically hides the coordinates for some species to protect them from disturbance, collection, or poaching. Si les coordonnées de l’observation n’ont été masquées qu'automatiquement pour protéger les espèces, iNaturalist partage les véritables coordonnées de toutes les observations de leurs pays respectifs avec les membres du réseau.
    </p>
    <p>
      <br><i>User-hidden coordinates (obscured or private due to “geoprivacy” setting)</i></br>
      Observations with hidden coordinates due to individual user's choices are shared in a much more limited and specific way.  By affiliating with a Network site, iNaturalist will share with that site’s administrators the precise coordinates of observations with geoprivacy that you have set to obscured or private, in addition to those which are publicly obscured or private due to taxon geoprivacy. This allows your observations to become more valuable to local conservation efforts.
    </p>
    <p>
      If you live in or frequently visit a country that is a member of the Network, you are encouraged to choose that as your affiliation to facilitate data sharing. You may review or change your affiliation in your <a href="/users/edit">account settings</a>.
    </p>
    <p>
      You can see the current member list for the <a href="/sites/network">iNaturalist Network</a>.
    </p>
    <h3><a name="Examples">Exemples</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> enables data from iNaturalist to be incorporated into secure, provincial-level systems managed by Conservation Data Centers (CDCs). These systems are  used when assessments are carried out (twice per year) to determine the at-risk status of species, as well in determining the critical habitat of threatened and endangered species.   As a result, it has also been possible to locate and mitigate hotspots of road mortality for species at risk; delineate and eventually protect Key Biodiversity Areas, and; reconfirm the presence of species that had not been reported for decades.
    </p>
    <p>
      Portugal’s iNaturalist network member <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> shared records data for the Portuguese atlas of migratory birds, for the atlas of mammals, as well as several other Portuguese scientific research papers.
    </p>
    <h3><a name="About">En savoir plus sur le réseau</a></h3>

    <p>
      If your organization is interested in joining the iNaturalist Network, you can find more details <a href="/pages/network-join">here</a>.
    </p>
  </div>
</div>
