<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Pelajari Lebih Lanjut Tentang Afiliasi Jaringan</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Ikhtisar</a></li>
      <li><a href="#More">Lebih Lanjut Perihal Pembagian</a></li>
      <li><a href="#Examples">Contoh Penggunaan Data Oleh Anggota Jaringan</a></li>
      <li><a href="#About">Tentang Jaringan</a></li>
    </ul>
    <h3><a name="Overview">Ikhtisar</a></h3>
    <p>
      <a href="/sites/network">Jaringan iNaturalist</a> merupakan kumpulan situs-situs yang dilokalisasi di dalam <a href="https://www.inaturalist.org">komunitas global iNaturalist</a>. Jaringan situs-situs ini didukung oleh institusi-institusi lokal yang mempromosikan partisipasi orang-orang lokal dan memfasilitasi penggunaan data dari iNaturalist untuk kebaikan keanekaragaman hayati lokal.
    </p>
    <p>
      Ketika kamu berafiliasi dengan Anggota Jaringan iNaturalist, alamat surelmu dan lokasimu yang sebenarnya, yaitu lokasi yang dikaburkan serta lokasi yang disimpan secara pribadi, dibagikan dengan Anggota Jaringan. Hal ini memungkinkan pengamatanmu menjadi semakin berguna dalam mendukung upaya konservasi lokal. Jika kamu tinggal atau kerap kali mengunjungi negara yang merupakan anggota jaringan ini, kamu didorong untuk memilih negara tersebut sebagai afiliasimu untuk mendukung pembagian data. 
    </p>
    <p>
      Kamu bisa melanjutkan dengan masuk melalui iNaturalist.org atau melalui situs jaringanmu. Semua datamu akan disimpan di tempat yang sama dan kamu dapat terus berinteraksi dengan komunitas iNaturalist internasional yang lebih luas, tidak peduli apa afiliasimu. Setiap akun iNaturalist hanya dapat diafiliasikan dengan satu Anggota Jaringan. Kamu dapat mempertimbangkan kembali atau mengganti afiliasimu di <a href="/users/edit">pengaturan akun</a>.
    </p>
    <p>
      Untuk mendorong riset dan konservasi di negara-negara yang terkait, Anggota Jaringan dapat membagikan data dari iNaturalist. Mereka memiliki tanggung jawab untuk menilai keabsahan dan kecocokan permohonan data beserta hasil yang bisa didapatkan; menyatakan dengan menulis tanggung jawab untuk memastikan keamanan data tersebut dan tidak mengungkapkannya dengan cara apapun, maupun membagikannya atau menggunakannya di luar tujuan yang dimaksud; mendokumentasikan semua hal yang berkaitan dengan pembagian beserta hasil dan penggunaan yang dimaksud; dan melapor tiap tahunnya kepada iNaturalist.
    </p>
    <p>
      Kamu dapat melihat daftar anggota yang terkini untuk <a href="/sites/network">Jaringan iNaturalist</a>.
    </p>
    <h3><a name="More">Lebih Lanjut Perihal Pembagian</a></h3>
    <p>
      iNaturalist membagikan alamat surel akun-akun yang terafiliasi dan koordinat yang disembunyikan (seperti koordinat yang dikaburkan untuk publik atau koordinat pribadi) tiap dua tahun sekali dengan Anggota Jaringan iNaturalist untuk mendukung penggunaan data iNaturalist untuk penelitian, konservasi, dan manajemen di negara yang terkait. Dua cara koordinat dapat disembunyikan dibagikan dengan cara yang berbeda, yang akan dijelaskan di bawah ini.
    </p>
    <p>
      <i>Koordinat yang disembunyikan secara otomatis (dikaburkan atau dibuat hanya untuk pribadi akibat "geoprivasi takson")</i><br/>      iNaturalist secara otomatis menyembunyikan koordinat untuk beberapa spesies untuk melindungi mereka dari gangguan, upaya koleksi, maupun perburuan ilegal. Jika koordinat pengamatan hanya disembunyikan secara otomatis dengan tujuan untuk melindungi spesies, iNaturalist membagikan koordinat sebenarnya untuk semua pengamatan dari negara yang terkait dengan Anggota Jaringan.
    </p>
    <p>
      <i>Koordinat yang disembunyikan oleh pengguna (dikaburkan atau dibuat hanya untuk pribadi akibat pengaturan "geoprivasi")</i><br/>      Pengamatan dengan koordinat yang disembunyikan dikarenakan pilihan pengguna akan dibagikan dengan cara yang lebih terbatas dan spesifik.  Dengan berafiliasi dengan situs Jaringan tertentu, iNaturalist akan membagikan dengan pengelola situs koordinat yang tepat daripada pengamatan dengan geoprivasi yang sudah kamu atur untuk dikaburkan atau dibuat hanya untuk pribadi, selain pengamatan-pengamatan lainnya yang dikaburkan untuk publik atau dibuat hanya untuk pribadi akibat geoprivasi takson. Hal ini memungkinkan pengamatanmu menjadi semakin berguna dalam mendukung upaya konservasi lokal.
    </p>
    <p>
      Alamat surel dibagikan kepada Anggota Jaringan hanya untuk tujuan komunikasi yang berkaitan dengan situs.
    </p>
    <h3><a name="Examples">Contoh</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Kanada</a> mengizinkan data dari iNaturalist untuk dimasukkan ke sistem provinsi yang aman yang dikelola oleh Pusat Data Konservasi (CDC). Sistem-sistem ini dipakai ketika penilaian sedang dilakukan (dua kali setahun) untuk menentukan status spesies yang berada dalam bahaya, serta menentukan habitat kritis yang dihuni oleh spesies berstatus terancam maupun genting.   Hasilnya, hal ini memungkinkan penemuan dan mitigasi titik-titik di mana terjadi banyak tabrakan jalanan untuk spesies yang terancam; penggambaran dan perlindungan Area Keanekaragaman Kunci, dan; pemastian kembali keberadaan spesies yang belum pernah dilaporkan sejak puluhan tahun yang lampau.
    </p>
    <p>
      Anggota jaringan iNaturalist Portugal <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> membagikan data catatan untuk atlas migrasi burung Portugis, atlas mamalia, juga untuk beberapa dokumen penelitian ilmiah Portugis lainnya.
    </p>
    <p>
      Pengamatan <a href="https://www.naturalista.mx/">Naturalista</a> Meksiko dimasukkan ke dalam Sistem Informasi Keanekaragaman Hayati Nasional (di CONABIO, Komisi Keanekaragaman Hayati Nasional) bersama catatan dari eBird. Orang-orang dapat menemukan catatan ilmiah maupun sains sipil di <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Ekuador</a> memasukkan data ke Basis Data Keanekaragaman Hayati Nasional Ekuador – BNDB – sebuah penyimpanan data yang besar yang berisi catatan-catatan ilmiah maupun sains sipil. Tujuannya adalah untuk mengintegrasi pengetahuan dan data yang membantu memperkuat pemahaman lingkungan flora dan fauna Ekuador.
    </p>
    <h3><a name="About">Lebih Lanjut Tentang Jaringan</a></h3>

    <p>
      Jika organisasi Anda tertarik untuk bergabung dengan Jaringan iNaturalist, Anda bisa mendapatkan info lebih lanjut di <a href="/pages/network-join">sini</a>.
    </p>
  </div>
</div>
