<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>En savoir plus sur l'affiliation au réseau</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/1659-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Vue d'ensemble</a></li>
      <li><a href="#Examples">Exemples de l'utilisation des données par les membres du réseau</a></li>
      <li><a href="#About">À propos du réseau</a></li>
    </ul>
    <h3><a name="Overview">Vue d'ensemble</a></h3>
    <p>
      Le <a href="/sites/network">réseau iNaturalist</a> est un ensemble de sites Web locaux dans la <a href="https://www.inaturalist.org">communauté mondiale iNaturalist</a>. Les sites du réseau sont soutenus par des institutions locales qui promeuvent la participation du public et facilitent l'utilisation des données d'iNaturalist au profit de la biodiversité locale.
    </p>
    <p>
      Deux fois par an, iNaturalist partage certaines coordonnées cachées (par . ex. des coordonnées publiquement masquées ou privées) avec les membres du réseau iNaturalist pour faciliter l'utilisation des données iNaturalist à des fins de recherche, de protection et de gestion de la nature dans leurs pays respectifs. Il existe deux façons dont les coordonnées masquées sont partagées, comme il est décrit ci-dessous.
    </p>
    <p>
      <i>Coordonnées masquées automatiquement (masquées ou privées en raison de la "géoconfidentialité du taxon")</i><br/>
      iNaturalist masque automatiquement les coordonnées de certaines espèces pour les protéger des perturbations, des collectes, ou du braconnage. Si les coordonnées de l’observation n’ont été masquées qu'automatiquement pour protéger les espèces, iNaturalist partage les véritables coordonnées de toutes les observations de leurs pays respectifs avec les membres du réseau.
    </p>
    <p>
      <i>Coordonnées cachées par l'utilisateur (masquées ou privées en raison du paramètre "géoconfidentialité")</i><br/>
      Les observations avec des coordonnées masquées en raison des choix de l'utilisateur sont partagées de manière beaucoup plus limitée et spécifique.  En s’affiliant à un site du réseau, iNaturalist partagera, avec les administrateurs de ce site, les coordonnées précises des observations "géoconfidentielles" qui furent masquées ou rendues privées par l’utilisateur, en plus des coordonnées publiquement masquées ou privées en raison de la géoconfidentialité du taxon. Ainsi, vos observations deviennent encore plus utiles aux efforts de conservation locaux.
    </p>
    <p>
      Si vous habitez dans ou visitez fréquemment un pays qui est membre du Réseau, nous vous encourageons à vous affilier à celui-ci, dans le but de faciliter le partage des données. Vous pouvez vérifier ou modifier votre affiliation dans vos <a href="/users/edit">paramètres de compte</a>.
    </p>
    <p>
      Consultez la liste des membres actuels du <a href="/sites/network">réseau iNaturalist</a>.
    </p>
    <h3><a name="Examples">Exemples</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> permet d'intégrer les données d'iNaturalist aux systèmes sécurisés qui sont gérés par les Centres de données sur la conservation (CDC) provinciaux et territoriaux. Ces systèmes sont utilisés lorsque des évaluations sont effectuées (deux fois par an) pour déterminer le statut des espèces en péril, ainsi que pour déterminer l’habitat critique des espèces menacées et en voie de disparition.   Par conséquent, il a également été possible de localiser et d'atténuer les points chauds de la mortalité routière des espèces menacées, de délimiter et protéger les Zones Clés pour la Biodiversité, et de confirmer à nouveau la présence d'espèces qui n'avaient pas été signalées depuis des décennies.
    </p>
    <p>
      Le membre du réseau iNaturalist du Portugal <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> a partagé des données avec l'atlas portugais des oiseaux migrateurs, l'atlas des mammifères, ainsi qu’avec plusieurs autres articles de recherche scientifique portugais.
    </p>
    <h3><a name="About">En savoir plus sur le réseau</a></h3>

    <p>
      Si votre organisation souhaite se joindre au réseau iNaturalist, vous trouverez plus de détails <a href="/pages/network-join">ici</a>.
    </p>
  </div>
</div>
