<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>更多關於國際網路所屬成員的內容</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">概覽</a></li>
      <li><a href="#More">更多關於分享的內容</a></li>
      <li><a href="#Examples">國際網路成員使用資料的範例</a></li>
      <li><a href="#About">關於國際網路</a></li>
    </ul>
    <h3><a name="Overview">概要</a></h3>
    <p>
      <a href="/sites/network">iNaturalist 國際網路(iNaturalist Network)</a>是在<a href="https://www.inaturalist.org">全球 iNaturalist 社群</a>中的在地化網站。 附屬網路的網站是由當地的相關單位所支持，旨在推廣在地群眾的參與，和促進使用 iNaturalist 資料來對當地的生物多樣性有所助益。
    </p>
    <p>
      當您是某個 iNaturalist 國際網路的成員時，您的 email、遮蔽與私有的觀察記錄座標將會和所屬網路的成員(註：應為管理者)分享。 您的觀察記錄會對當地的保育更有價值。 如果您長住或時常拜訪一個國際網路成員的國家，我們鼓勵您選擇您的所屬國際網路為該國家，以促進資料的共享。 
    </p>
    <p>
      您還是可以繼續透過 iNaturalist.org 網址來登入，或是透過您特定所屬國際網路的網站。 不管您的附屬網路為何，您所有的資料都會存放在同一個位置，而您也能夠和更大的國際 iNaturalist 社群持續互動。 每個 iNaturalist 帳號都只能夠和一個所屬國際網路連結。 您可以在您的<a href="/users/edit">帳號設定</a>中檢視或更改您所屬的國際網路。
    </p>
    <p>
      為了在個別的國家推展研究和保育工作，國際網路成員可從 iNaturalist 網站中共享資料。 他們有責任評估資料需求的正確性和合適性與其潛在結果；以書面形式傳達責任來確保這類資料的安全性，而不會以任何方式公開曝光，或是超出原目的分享和使用這些資料；記錄所有分享的情況和相關結果、成效與預期用途，並且每年定期回報給 iNaturalist。
    </p>
    <p>
      您可以在 <a href="/sites/network">iNaturalist 國際網路</a>連結中參閱目前的成員列表。
    </p>
    <h3><a name="More">更多關於共享的內容</a></h3>
    <p>
      iNaturalist 和所屬國際網路的成員每年有兩次會共享附屬帳號的電子郵件和模糊化的座標(即：遮蔽或私有的座標)，以達到促進應用 iNaturalist 資料在各自國家的研究、保育和經營管理上。 兩種不同類型的隱藏座標以不同的方式共享，如下所述。
    </p>
    <p>
      <i>自動隱藏的座標（「地理資訊隱私權」中的遮蔽或不公開）</i><br/> 
     iNaturalist 為了保護部分物種免於干擾、採集或盜獵而自動隱藏座標。 如果該觀察記錄僅針對保護的物種自動隱藏其座標，iNaturalist 會從相對應的國家中的國際網路成員共享其真實座標。
    </p>
    <p>
      <i>使用者隱藏的座標（「地理資訊隱私權」中的遮蔽或不公開）</i><br/>
      基於個別使用者選擇隱藏觀察記錄的座標會以更侷限和特定的方式來共享。  若附屬於某個國際網路之成員網站，iNaturalist 將會和該網站的管理者共享您設定觀察記錄中地理資訊隱私權為遮蔽或私有的精確座標，以及那些因為分類群地理資訊隱私權設置為遮蔽或私有的觀察記錄。 這會讓您的觀察記錄用來提昇當地保育工作的價值。
    </p>
    <p>
      與國際網路成員共享的電子郵件位址僅會使用於跟本站相關的聯絡目的。
    </p>
    <h3><a name="Examples">範例</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a>把 iNaturalist 的資料納入由保育資料中心(Conservation Data Centers; CDCs)管理的省級系統。 這些系統在評估受脅物種啟動時(兩年一次)會使用來決定物種的風險狀態，在決定受脅和瀕危物種的關鍵棲地也是如此。   因此，也能夠定位和降低受脅物種路殺的熱點；劃設並建立最終關鍵生物多樣性保護區，還有重新確認近十年來未被報導過的物種出現紀錄。
    </p>
    <p>
      葡萄牙的 iNaturalist 網路成員 <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> 共享葡萄牙候鳥地圖、哺乳類動物地圖的資料，以及數篇葡萄牙的科學研究論文。
    </p>
    <p>
      墨西哥<a href="https://www.naturalista.mx/">Naturalista</a>觀察記錄和 eBird 的都會一起被匯入國家生物多樣性資訊系統(於國家生物多樣性委員會, CONABIO [National Biodiversity Commision]) 大家可以在<a href="www.enciclovida.mx">Enciclovida</a>中同時找到科學研究和公民科學的紀錄。 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>的資料會匯入至厄瓜多國家生物多樣性資料庫(National Database of Biodiversity of Ecuador) – BNDB – 一個來自科學研究和公民科學紀錄的大型資料庫。 其目的是整合生物多樣性知識與資料，並協助強化厄瓜多對於動植物相環境的了解。
    </p>
    <h3><a name="About">更多關於國際網路</a></h3>

    <p>
      如果您的組織單位對於加入 iNaturalist 國際網路有興趣的話，您可以在<a href="/pages/network-join">此</a>閱讀更多的細節。
    </p>
  </div>
</div>
