<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Дізнатися більше про партнерську мережу</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Огляд</a></li>
      <li><a href="#More">Детальніше про поширення даних</a></li>
      <li><a href="#Examples">Приклади використання даних учасниками партнерської мережі</a></li>
      <li><a href="#About">Детальніше про мережу</a></li>
    </ul>
    <h3><a name="Overview">Огляд</a></h3>
    <p>
      Мережа <a href="/sites/network">iNaturalist</a> - це низка локалізованих веб-сайтів у <a href="https://www.inaturalist.org">глобальній спільноті iNaturalist</a>. Сайти мережі підтримуються місцевими установами, які сприяють участі місцевих громад та полегшують використання даних з iNaturalist з метою збереження місцевого біорізноманіття.
    </p>
    <p>
      Якщо ви афілійовані з Учасником мережі iNaturalist, Учасникові будуть доступні ваша електронна адреса та справжні координати вашої розмитої і приватної локації. Це робить ваші спостереження ціннішими для місцевих природоохоронних ініціатив. Якщо ви часто відвідуєте країну, яка є членом мережі, або живете у ній, вам рекомендовано обрати її як місце вашої афіліації для полегшення обміну даними. 
    </p>
    <p>
      Ви можете продовжувати здійснювати вхід через iNaturalist.org або входити через веб-сайт вашої мережі. Незалежно від афіліації, усі ваші дані будуть розміщені в одному місці, і ви як і раніше матимете можливість взаємодіяти з численною світовою спільнотою iNaturalist. Кожен обліковий запис iNaturalist може бути афілійований лише з одним Учасником мережі. Ви можете переглянути або змінити афіліацію в <a href="/users/edit">налаштуваннях облікового запису</a>.
    </p>
    <p>
      Учасники мережі можуть обмінюватися даними від iNaturalist задля підтримки дослідницьких та природоохоронних зусиль у своїх країнах. Вони несуть відповідальність за оцінку обґрунтованості та доцільності запитів щодо даних та їхніх потенційних наслідків; у письмовій формі роз'яснюють необхідність убезпечувати такі дані, і ні в якому разі не передавати їх публічно, не ділитися і не використовувати дані поза основною, первинно декларованою метою; документують усі рази обміну та пов'язані з тим результати, наслідки чи випадки цільового використання; щорічно звітують iNaturalist.
    </p>
    <p>
      Список поточних Учасників мережі <a href="/sites/network">iNaturalist</a>.
    </p>
    <h3><a name="More">Детальніше про поширення даних</a></h3>
    <p>
      Двічі на рік iNaturalist поширює адреси електронної пошти афілійованих облікових записів і деякі приховані координати (тобто приватні або розмиті) поміж Учасників мережі iNaturalist для полегшення використання даних iNaturalist для досліджень, охорони природи та управління у відповідних країнах. Координати, приховані у два різних способи, поширюються по-різному, див. нижче.
    </p>
    <p>
      <i>Автоматично приховані координати (розмиті або приватні через “конфіденційність геоданих для таксона”)</i><br/>
      iNaturalist автоматично приховує координати деяких видів для їхнього захисту від турбування, збору чи браконьєрства. Якщо координати спостереження були автоматично приховані тільки для захисту видів, iNaturalist поширюватиме справжні координати всіх спостережень з відповідних країн з Учасниками мережі з цих країн.
    </p>
    <p>
      <i>Координати, приховані користувачами (розмиті або приватні через налаштування “конфіденційності геоданих”)</i><br/>
      Спостереження з координатами, прихованими через вибір користувача, поширюються у значно більш обмежений та специфічний спосіб.  Прийняття сайту до складу мережі означає, що для адміністраторів цього сайту iNaturalist поширюватиме точні координати спостережень, для яких ви встановили налаштування як розмиті чи приватні, на додаток до тих, які є публічно розмитими або приватними через конфіденційність геоданих для таксона. Це робитиме ваші спостереження ціннішими для місцевих природоохоронних ініціатив.
    </p>
    <p>
      Адреси електронної пошти поширюються між Учасниками мережі виключно з метою комунікації, яка стосується сайту.
    </p>
    <h3><a name="Examples">Приклади</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> уможливлює включення даних з iNaturalist до безпечних систем обласного рівня під управлінням Центрів даних щодо збереження природи (Conservation Data Centers, CDC). Ці системи використовують під час оцінювань, які проводяться двічі на рік з метою визначення природоохоронних статусів видів, а також під час виокремлення оселищ, критично важливих для загрожуваних та зникаючих видів.   В результаті також з'явилася можливість визначити "гарячі точки" смертності на дорогах для видів, що знаходяться під загрозою, та пом'якшити їхній вплив; виокремити і, зрештою, захистити ключові для біорізноманіття ділянки; та повторно підтвердити присутність видів, про які не повідомлялося десятиліттями.
    </p>
    <p>
      Учасник мережі з Португалії <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> надав дані для атласу міграційних птахів Португалії, для атласу ссавців, а також для інших дослідницьких праць у цій країні.
    </p>
    <p>
      У Мексиці спостереження з <a href="https://www.naturalista.mx/">Naturalista</a>, разом із записами з eBird, потрапляють до Національної інформаційної системи біорізноманіття (у CONABIO, Національній комісії з біорізноманіття). Люди можуть ознайомитися як з науковими, так і з громадськими спостереженнями у <a href="www.enciclovida.mx">Enclovida</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Еквадор</a> передає дані до Національної бази даних біорізноманіття Еквадору – BNDB – великого репозиторію даних наукових досліджень та громадської науки. Метою цього є поєднання знань та даних задля розвитку екологічного розуміння флори та фауни Еквадору.
    </p>
    <h3><a name="About">Детальніше про мережу</a></h3>

    <p>
      Якщо ваша організація зацікавлена у приєднанні до мережі iNaturalist, більш детальну інформацію можна знайти <a href="/pages/network-join">за посиланням</a>.
    </p>
  </div>
</div>
