<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Lue lisää verkostojen toiminnasta</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2193-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Yleistä</a></li>
      <li><a href="#Examples">Esimerkkejä tiedon käytöstä</a></li>
      <li><a href="#About">Verkosto</a></li>
    </ul>
    <h3><a name="Overview">Yleistä</a></h3>
    <p>
      <a href="/sites/network">iNaturalist-verkosto</a> muodostuu paikallisista jäsensivustoista <a href="https://www.inaturalist.org">maailmanlaajuisessa iNaturalist-yhteisössä</a>. Jäsensivustoja ylläpitävät paikalliset toimijat, joiden tavoitteena on osallistaa paikallisia ihmisiä ja edistää kertyvän luontotiedon käyttöä luonnon monimuotoisuuden hyväksi.
    </p>
    <p>
      iNaturalist jakaa kahdesti vuodessa paikallisen jäsensivuston ylläpitäjälle joitakin piilotettujen havaintojen sijaintitietoja (eli sellaisten havaintojen koordinaatit, jotka on automaattisesti piilotettu kaikilta käyttäjiltä tai koordinaatit, jotka käyttäjä itse on salannut). Tämä tehdään, jotta tietoa voidaan käyttää tutkimuksen, luonnonsuojelun ja kestävän luonnonvarojen käytön edistämiseksi. Kahdella tavalla piilotettuja koordinaatteja jaetaan eri tavoin, kuten alla kuvataan.
    </p>
    <p>
      <i>Automaattisesti piilotettavat koordinaatit (karkeistettu tai piilotettu perustuen sensitiivisten lajien luetteloon)</i><br/>
      iNaturalist karkeistaa automaattisesti havainnot erillisen lajiluettelon mukaan suojellakseen näitä lajeja mahdolliselta häirinnältä, keräykseltä tai salametsästykseltä. Jos havainnon koordinaatit on vain piilotettu automaattisesti suojelusyistä, iNaturalist jakaa tarkat sijaintitiedot kaikista näistä havainnoista paikallisen jäsensivuston ylläpitäjän kanssa koskien tämän maan omia havaintoja.
    </p>
    <p>
      <i>Käyttäjän piilottamat koordinaatit (karkeistettu tai yksityistetty käyttäjän toimesta)</i><br/>
      Havainnot, joiden sijainti on piilotettu käyttäjän toimesta, jaetaan rajoitetulla tavalla.  Liittymällä osaksi paikallista iNaturalist-jäsensivustoa sivuston ylläpitäjä saa tarkat paikkatiedot havainnoistasi, joiden tietoja olet karkeistanut tai yksityistänyt - automaattisesti piilotettujen sensitiivisten lajihavaintojen sijaintitietojen lisäksi. Näin havaintosi hyödyttävät paremmin paikallisia luonnonsuojelutoimia.
    </p>
    <p>
      Jos asut tai vieralet usein maassa, jolla on paikallinen iNaturalist-jäsensivusto, suosittelemme sinun liittävän käyttäjätilisi tähän sivustoon, sillä se auttaa tiedon käyttöä ja jakamista. Suomessa iNaturalist Suomesta vastaa Suomen Lajitietokeskus, joka toimii Luonnontieteellisen keskusmuseon alaisuudessa. Voit tarkastella tai muuttaa paikallissivuston jäsenyyttäsi <a href="/users/edit">käyttäjätilisi asetuksissa</a>.
    </p>
    <p>
      Voit nähdä voimassa olevan jäsenluettelon <a href="/sites/network">iNaturalist-verkostosta</a>.
    </p>
    <h3><a name="Examples">Esimerkkejä</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> mahdollistaa iNaturalistin kautta syntyneen tiedon lisäämisen paikallisen Conservation Data Centerin järjestelmiin. Näitä järjestelmiä käytetään, kun tehdään arviointeja lajien uhanalaisuusriskin määrittämiseksi sekä selvitetään uhanalaisten lajien elinympäristöjä.   Tämän seurauksena on ollut mahdollista paikantaa ja vähentää uhanalaisten lajien tieliikennekuolleisuuden kannalta haastavia paikkoja, tarkentaa ja lopulta suojella keskeisiä luonnon monimuotoisuusalueita, ja vahvistaa sellaisten lajien esiintymisiä, joita ei ole havaittu vuosikymmeniin.
    </p>
    <p>
      Portugalin jäsensivusto<a href="https://www.biodiversity4all.org/">BioDiversity4All</a> on jakanut tietoja Portugalin muuttolintuatlakseen, nisäkäsatlakseen sekä useisiin tieteellisiin artikkeleihin.
    </p>
    <h3><a name="About">Lisää tietoa verkostosta</a></h3>

    <p>
      Jos järjestösi on kiinnostunut liittymään iNaturalist-verkostoon, löydät lisätietoja <a href="/pages/network-join">täältä</a>.
    </p>
  </div>
</div>
