<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Saiba Mais Sobre a Afiliação à Rede</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/1659-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Visão Geral</a></li>
      <li><a href="#Examples">Exemplos de Uso de Dados por Membros da Rede</a></li>
      <li><a href="#About">Sobre a Rede</a></li>
    </ul>
    <h3><a name="Overview">Visão Geral</a></h3>
    <p>
      A <a href="/sites/network">Rede iNaturalist </a> é uma coleção de sites regionalizados na <a href="https://www.inaturalist.org">comunidade global iNaturalist</a>. Os sites da rede são apoiados por instituições locais que promovem a participação local e facilitam a utilização de dados do iNaturalist para beneficiar a biodiversidade local.
    </p>
    <p>
      Duas vezes por ano, o iNaturalist compartilha coordenadas ocultas (ou seja, coordenadas publicamente obscurecidas ou privadas) com os membros da Rede iNaturalist para facilitar o uso de dados do iNaturalist para pesquisa, conservação e gestão nos respectivos países. As duas maneiras pelas quais as coordenadas podem ser ocultadas são compartilhadas de forma diferente, conforme descrito abaixo.
    </p>
    <p>
      <i>Coordenadas automaticamente escondidas (ocultas ou privadas devido à “geoprivacidade do táxon”)</i><br/>
      iNaturalist esconde automaticamente as coordenadas de algumas espécies para protegê-las de distúrbios, coleta ou caça. Se as coordenadas da observação só foram ocultadas automaticamente para proteger as espécies, o iNaturalist compartilha as coordenadas verdadeiras de todas as observações de seus respectivos países com membros da Rede.
    </p>
    <p>
      <i>Coordenadas escondidas pelos usuários (ocultas ou privadas devido à configuração de "geoprivacidade")</i><br/>
      Observações com coordenadas escondidas devido às escolhas individuais dos usuários são compartilhadas de forma muito mais limitada e específica.  Ao se associar a um site da Rede, o iNaturalist irá compartilhar com os administradores desse site as coordenadas precisas das observações com geoprivacidade que você definiu como oculta ou privada, além daquelas que são publicamente obscurecidas ou privadas devido à geoprivacidade do táxon. Isso permite que suas observações se tornem mais valiosas para os esforços locais de conservação.
    </p>
    <p>
      Se você mora ou visita frequentemente um país que é membro da Rede, você é encorajado a escolhê-lo como sua afiliação para facilitar o compartilhamento de dados. Você pode revisar ou mudar sua afiliação nas suas <a href="/users/edit">configurações da conta</a>.
    </p>
    <p>
      Você pode ver a lista atual de membros da <a href="/sites/network">Rede iNaturalist </a>.
    </p>
    <h3><a name="Examples">Exemplos</a></h3>
    <p>
      O <a href="https://inaturalist.ca/">iNaturalist Canada</a> permite que os dados do iNaturalist sejam incorporados em sistemas seguros e de nível provincial, geridos pelos Conservation Data Centers (CDCs). Estes sistemas são usados quando as avaliações são utilizadas (duas vezes por ano) para determinar o status de risco das espécies, além de determinar o habitat crítico das espécies ameaçadas e vulneráveis.   Como resultado, também foi possível localizar e mitigar focos de mortalidade rodoviária das espécies em risco; delinear e eventualmente proteger as principais Áreas de Biodiversidade, e; reconfirmar a presença de espécies que não tinham sido reportadas há décadas.
    </p>
    <p>
      O membro da rede iNaturalist de Portugal <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> compartilhou dados dos atlas portugueses de aves migratórias e de mamíferos, bem como vários outros documentos científicos portugueses.
    </p>
    <h3><a name="About">Mais sobre a Rede</a></h3>

    <p>
      Se a sua organização está interessada em aderir à Rede iNaturalist, você pode encontrar mais detalhes <a href="/pages/network-join">aqui</a>.
    </p>
  </div>
</div>
