<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>En savoir plus sur l'affiliation au réseau</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Vue d'ensemble</a></li>
      <li><a href="#More">En savoir plus sur le partage des données</a></li>
      <li><a href="#Examples">Exemples de l'utilisation des données par les membres du réseau</a></li>
      <li><a href="#About">À propos du réseau</a></li>
    </ul>
    <h3><a name="Overview">Vue d'ensemble</a></h3>
    <p>
      Le <a href="/sites/network">réseau iNaturalist</a> est un ensemble de sites Web locaux dans la <a href="https://www.inaturalist.org">communauté iNaturalist mondiale</a>. Les sites du réseau sont soutenus par des institutions locales qui promeuvent la participation du public et facilitent l'utilisation des données d'iNaturalist au profit de la biodiversité locale.
    </p>
    <p>
      Lorsque vous vous affiliez à un membre du réseau iNaturalist, votre adresse courriel et les véritables emplacements de vos emplacements cachés et privés sont partagés avec ce membre du réseau. De cette façon, vos observations deviennent encore plus utiles aux efforts de conservation locaux. Si vous habitez ou allez fréquemment dans un pays membre du réseau, nous vous encourageons à le sélectionner lors du choix de votre affiliation pour faciliter le partage des données. 
    </p>
    <p>
      Vous pouvez vous connecter via le site iNaturalist.org ou le site du réseau auquel vous êtes affilié. Peu importe votre affiliation, toutes vos données seront hébergées au même endroit et vous pourrez continuer à interagir avec la communauté internationale iNaturalist. Chaque compte iNaturalist ne peut être affilié qu'à un seul membre du réseau. Vous pouvez voir ou modifier votre affiliation dans les <a href="/users/edit">paramètres</a> de votre compte.
    </p>
    <p>
      Afin de faire progresser la recherche et la conservation dans leurs pays respectifs, les membres du réseau peuvent partager les données d'iNaturalist. Ils ont la responsabilité : 1) d'évaluer la validité et la pertinence des demandes de données et leurs résultats potentiels; 2) de transmettre par écrit la responsabilité d'assurer également la sécurité de ces données et de ne pas les exposer publiquement de quelque manière que ce soit, les partager ou les utiliser au-delà de l’objectif initial; 3) de documenter toutes les situations de partage de données avec les résultats associés, retombées ou les utilisations prévues; 4) et de remettre un rapport annuellement à iNaturalist.
    </p>
    <p>
      Consultez la liste des membres actuels du <a href="/sites/network">réseau iNaturalist</a>.
    </p>
    <h3><a name="More">En savoir plus sur le partage des données</a></h3>
    <p>
      Deux fois par an, iNaturalist partage les adresses électroniques des comptes affiliés et certaines coordonnées cachées (p. ex. coordonnées masquées au public ou privées) avec les membres du réseau iNaturalist pour faciliter l'utilisation des données iNaturalist à des fins de recherche, de conservation et de gestion de la nature dans leurs pays respectifs. Le partage se fait différemment pour les deux types de coordonnées cachées, comme décrit ci-dessous.
    </p>
    <p>
      <i>Coordonnées automatiquement masquées (masquées ou privées en raison de la « géoconfidentialité des taxons »)</i><br/>
      iNaturalist masque automatiquement les coordonnées de certaines espèces pour les protéger des perturbations, de la collecte, ou du braconnage. Si les coordonnées des observations ont été masquées automatiquement pour protéger les espèces, iNaturalist partage avec les membres du réseau les véritables coordonnées de toutes les observations de leurs pays respectifs.
    </p>
    <p>
      <i>Coordonnées cachées par l'utilisateur (masquées ou privées en raison du paramètre «géoconfidentialité»)</i><br/>
      Les observations avec des coordonnées masquées en raison des choix de l'utilisateur sont partagées de manière beaucoup plus limitée et spécifique.  Si un utilisateur s’affilie à un site du réseau, iNaturalist partage avec les administrateurs de ce site les coordonnées précises des observations géoconfidentielles qu'il a masquées ou rendues privées, en plus des coordonnées masquées au public ou privées en raison de la géoconfidentialité du taxon. De cette façon, vos observations deviennent encore plus utiles aux efforts de conservation locaux.
    </p>
    <p>
      Les adresses courriel sont partagées avec les membres du réseau uniquement pour pouvoir communiquer au sujet du site.
    </p>
    <h3><a name="Examples">Exemples</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> permet l'intégration des données d'iNaturalist dans les systèmes sécurisés provinciaux et territoriaux gérés par les Centres de données sur la conservation (CDC). Ces systèmes sont utilisés lorsque des évaluations sont effectuées (deux fois par an) pour déterminer le statut des espèces en péril, ainsi que pour déterminer l’habitat essentiel des espèces menacées ou en voie de disparition.   Par conséquent, il a également été possible de localiser des points de forte mortalité routière des espèces en péril et de prendre des mesures d'atténuation, de délimiter à des fins de protection des zones clés pour la biodiversité et de confirmer la présence d'espèces qui n'avaient pas été signalées depuis des décennies.
    </p>
    <p>
      Le membre du réseau iNaturalist du Portugal, <a href="https://www.biodiversity4all.org/">BioDiversity4All</a>, a partagé des données avec l'atlas portugais des oiseaux migrateurs, l'atlas des mammifères, ainsi qu’avec plusieurs autres articles de recherche scientifique au Portugal.
    </p>
    <p>
      Au Mexique, les observations de <a href="https://www.naturalista.mx/">Naturalista</a> alimentent le système national d'information sur la biodiversité (de la CONABIO, la commission nationale pour la connaissance et l'utilisation de la biodiversité) avec les données d'eBird. On trouve à la fois des données scientifiques et des données de science citoyenne dans <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Équateur</a> alimente la base de données nationale sur la biodiversité de l’Équateur – BNDB – un important référentiel de données provenant des registres scientifiques ainsi que de la science citoyenne. Le but est d'intégrer les connaissances et les données qui aident à renforcer la compréhension environnementale de la flore et de la faune de l'Équateur.
    </p>
    <h3><a name="About">À propos du réseau</a></h3>

    <p>
      Si votre organisation souhaite se joindre au réseau iNaturalist, vous trouverez plus de détails <a href="/pages/network-join">ici</a>.
    </p>
  </div>
</div>
