<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Saiba mais sobre a afiliação à rede</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Visão geral</a></li>
      <li><a href="#More">Mais sobre partilha</a></li>
      <li><a href="#Examples">Exemplos de uso de dados por membros da Rede</a></li>
      <li><a href="#About">Sobre a rede</a></li>
    </ul>
    <h3><a name="Overview">Visão geral</a></h3>
    <p>
      A <a href="/sites/network">Rede iNaturalist</a> é uma coleção de sites localizados na <a href="https://www.inaturalist.org">comunidade global iNaturalist</a>. Os sites da rede são apoiados por instituições locais que promovem a participação local e facilitam a utilização de dados do iNaturalist para beneficiar a biodiversidade local.
    </p>
    <p>
      Quando você se associa a um membro da rede iNaturalist o seu endereço de e-mail e as verdadeiras localizações das suas localizações ocultas e privadas são compartilhadas com o membro da Rede. Isto permite que suas observações se tornem mais valiosas para os esforços locais de conservação. Se você morar ou visitar frequentemente um país que é membro da Rede, encorajamos escolher esse membro como afiliação para facilitar a partilha de dados. 
    </p>
    <p>
      Você pode continuar a fazer o login através de iNaturalist.org ou através do seu site específico da rede. Não importa sua afiliação, todos os seus dados serão hospedados no mesmo lugar e você continuará capaz de interagir com a comunidade internacional iNaturalist. Cada conta iNaturalist pode ser afiliada apenas com um Membro Local da Rede. Você pode rever ou alterar a sua afiliação nas configurações da <a href="/users/edit">conta</a>.
    </p>
    <p>
      A fim de promover a pesquisa e conservação nos seus países respectivos, os membros da rede podem partilhar dados do iNaturalist. Têm a responsabilidade de avaliar a validade e a adequação das solicitações de dados e dos seus potenciais resultados; garantir por escrito a responsabilidade de garantir também a segurança desses dados e de não os expor publicamente, seja de que forma for, ou partilhá-los ou usá-los além do seu propósito original; documentar todas as instâncias de partilha, juntamente com os resultados ou usos pretendidos; e reportar anualmente ao iNaturalist.
    </p>
    <p>
      Pode ver a lista atual de membros da <a href="/sites/network">Rede iNaturalist</a>.
    </p>
    <h3><a name="More">Mais sobre partilha</a></h3>
    <p>
      Duas vezes por ano, o iNaturalist partilha endereços de e-mail de contas afiliadas e algumas coordenadas ocultas (por exemplo, coordenadas obscurecidas ou privadas publicamente) com os membros da Rede iNaturalist para facilitar o uso de dados do iNaturalist para pesquisa, conservação e gestão nos respectivos países. As duas maneiras pelas quais as coordenadas podem ser ocultadas são partilhadas de forma diferente, conforme descrito abaixo.
    </p>
    <p>
      <i>Coordenadas automaticamente ocultas (obscurecidas ou privadas devido à “geoprivacidade do taxon”)</i><br/>
      iNaturalist esconde automaticamente as coordenadas de algumas espécies para protegê-las de perturbação, colecção ou caça. Se as coordenadas de observação só foram ocultadas automaticamente para proteger as espécies, o iNaturalist partilha as coordenadas verdadeiras de todas as observações dos seus respectivos países com membros da Rede.
    </p>
    <p>
      <i>Coordenadas ocultas do utilizador (ocultas ou privadas devido à configuração de "geoprivacidade")</i><br/>
      Observações com coordenadas ocultas devido às opções individuais do utilizador são partilhadas de uma forma muito mais limitada e específica.  Ao associar-se a um site da Rede, O iNaturalist irá partilhar com os administradores desse membro da Rede as coordenadas precisas das observações com geoprivacidade que você definiu para obscurecido ou privado, para além daqueles que são publicamente obscurecidos ou privados devido à geoprivacidade de táxon. Isto permite que as suas observações se tornem mais valiosas para os esforços locais de conservação.
    </p>
    <p>
      Os endereços de e-mail são partilhados com os Membros da Rede apenas para fins de comunicações relacionadas com o site.
    </p>
    <h3><a name="Examples">Exemplos</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> permite que dados do iNaturalist sejam incorporados em sistemas seguros e de nível provincial, geridos pelos Centros de Dados da Conservação (CDCs). Estes sistemas são usados quando as avaliações são realizadas (duas vezes por ano) para determinar o estado de risco das espécies, para além de determinar o habitat crítico das espécies ameaçadas.   Como resultado, também foi possível localizar e mitigar focos de mortalidade rodoviária das espécies em risco; delinear e eventualmente proteger as principais Áreas de Biodiversidade, e reconfirmar a presença de espécies que não tinham sido reportadas há décadas.
    </p>
    <p>
      A rede iNaturalist de Portugal <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> partilhou dados para os atlas portugueses de aves migratórias, para o atlas de mamíferos, bem como para vários outros documentos de investigação científica portugueses.
    </p>
    <p>
      O "<a href="https://www.naturalista.mx/">Naturalista</a>" do México contribui observações para o Sistema Nacional de Informação sobre Biodiversidade (na CONABIO, a Comissão Nacional de Biodiversidade), juntamente com registos do eBird. Podem encontrar-se registros tanto de ciência cidadã como científicos na <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      O <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a> alimenta a base de dados nacional da biodiversidade do Equador – BNDB – um grande repositório de dados de registros científicos e de ciência cidadã. O objectivo é integrar o conhecimento e os dados que ajudam a reforçar a compreensão ambiental da flora e da fauna do Equador.
    </p>
    <h3><a name="About">Sobre a rede</a></h3>

    <p>
      Se a sua organização estiver interessada em participar na rede iNaturalist, você poderá encontrar mais detalhes <a href="/pages/network-join">aqui</a>.
    </p>
  </div>
</div>
