<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Läs mer om Nätverksanknytning</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/1659-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Översikt</a></li>
      <li><a href="#Examples">Exempel på dataanvändning av nätverksmedlemmar</a></li>
      <li><a href="#About">Om Nätverket</a></li>
    </ul>
    <h3><a name="Overview">Översikt</a></h3>
    <p>
      <a href="/sites/network">iNaturalist-nätverket</a> är en samling lokaliserade webbplatser i den <a href="https://www.inaturalist.org">globala iNaturalist-gemenskapen</a>. Nätverkswebbplatser stöds av lokala institutioner som främjar lokalt deltagande och underlättar att data från iNaturalist används för att gynna lokal biologisk mångfald.
    </p>
    <p>
      Två gånger om året delar iNaturalist vissa dolda koordinater (dvs. koordinater som är publikt diffuserade eller privata) med iNaturalist-nätverkets medlemmar för att underlätta användningen av iNaturalist-data för forskning, bevarande och förvaltning i deras respektive länder. De två sätt på vilka koordinater kan döljas delas vidare olika, som angivet nedan.
    </p>
    <p>
      <br><i>Automatiskt dolda koordinater (diffuserade eller privata på grund av ett "taxons geosekretess")</i></br>
      iNaturalist döljer automatiskt koordinaterna för vissa arter för att skydda dem från störning, insamling eller tjuvjakt. Om observationskoordinaterna bara har dolts automatiskt för att skydda arter, delar iNaturalist de verkliga koordinaterna för alla observationer från deras respektive länder med nätverksmedlemmar.
    </p>
    <p>
      <br><i>Koordinater dolda av användaren (diffuserade eller privata på grund av ”geosekretess”-inställningen)</i></br>
      Observationer med dolda koordinater på grund av enskilda användares val delas på ett mycket mer begränsat och specifikt sätt.  Genom att anknyta till en nätverkswebbplats kommer iNaturalist att dela de exakta koordinaterna, för observationer med geosekretess som du har satt till diffuserade eller privata, med den webbplatsens administratörer, utöver de som redan är offentligt diffuserade eller privata på grund av ett taxons geosekretess. Detta möjliggör dina observationer att bli mer värdefulla för lokala bevarandeinsatser.
    </p>
    <p>
      Om du bor i eller ofta besöker ett land som är medlem i Nätverket ombeds du att välja det som din anknytning för att underlätta delning av data. Du kan granska eller ändra din anknytning i dina <a href="/users/edit">kontoinställningar</a>.
    </p>
    <p>
      Du kan se den aktuella medlemslistan för <a href="/sites/network">iNaturalist-nätverket</a>.
    </p>
    <h3><a name="Examples">Exempel</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> gör det möjligt för data från iNaturalist att införlivas i säkra, provinsiella system som hanteras av Conservation Data Centers (CDCs). Dessa system används när bedömningar görs (två gånger om året) för att fastställa arters riskstatus, samt för att bestämma den kritiska livsmiljön för hotade arter.   Som ett resultat har det också varit möjligt att identifiera och åtgärda hotspots för trafikdödlighet för utsatta arter; avgränsa och på sikt skydda Nyckelområden för biologisk mångfald, och; bekräfta förekomsten av arter som inte har rapporterats på årtionden.
    </p>
    <p>
      Portugals iNaturalist-nätverketsmedlem <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> delade observationsdata för den portugisiska atlasen över flyttfåglar, för atlasen över däggdjur tillsammans med flera andra portugisiska vetenskapliga forskningsartiklar.
    </p>
    <h3><a name="About">Mer om Nätverket</a></h3>

    <p>
      Om din institutionär intresserad av att gå med i iNaturalist-nätverket, kan du hitta mer information <a href="/pages/network-join">här</a>.
    </p>
  </div>
</div>
