<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Obtené más información sobre la Afiliación a la red</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Resumen</a></li>
      <li><a href="#More">Más información sobre Compartir</a></li>
      <li><a href="#Examples">Ejemplos de uso de datos por miembros de la red</a></li>
      <li><a href="#About">Acerca de la Red</a></li>
    </ul>
    <h3><a name="Overview">Resumen</a></h3>
    <p>
      La <a href="/sites/network">Red iNaturalist</a> es un conjunto de sitios web localizados incluidos en la <a href="https://www.inaturalist.org">comunidad global de iNaturalist</a>. Los sitios web de la red son respaldados por instituciones locales que promueven la participación local y facilitan el uso de datos de iNaturalist para beneficiar la biodiversidad local.
    </p>
    <p>
      Cuando te afilias a uno de los miembros de la red de iNaturalist, se comparten tu dirección de correo electrónico y las ubicaciones verdaderas de tus ubicaciones oscurecidas y privadas con el miembro de la red. Esto permite que tus observaciones se tornen más valiosas para los esfuerzos de conservación locales. Si vives o visitas con frecuencia un país que es miembro de la red, te recomendamos que lo elijas como tu afiliación para facilitar el intercambio de datos. 
    </p>
    <p>
      Podés continuar para iniciar sesión a través de iNaturalist.org o mediante el sitio Web específico de tu red. Sin importar cuál es tu afiliación, todos tus datos se albergarán en el mismo lugar y podrás continuar interactuando con la comunidad internación más amplia de iNaturalist. Cada cuenta de iNaturalist puede afiliarse solamente con un Miembro de la Red. Es posible que quieras revisar o cambiar tu afiliación en tu <a href="/users/edit">configuración de la cuenta</a>.
    </p>
    <p>
      Con el fin de promover la investigación y la conservación en sus respectivos países, los miembros de la red pueden compartir datos de iNaturalist. Tienen la responsabilidad de evaluar la validez y la idoneidad de las solicitudes de datos y sus posibles resultados; transmitir por escrito la responsabilidad de garantizar la seguridad de dichos datos y no exponerlos públicamente, compartirlos o utilizarlos más allá de su propósito original. Además de documentar los resultados o usos previstos asociados e informar anualmente a iNaturalist.
    </p>
    <p>
      Puedes consultar la lista de miembros actuales de la <a href="/sites/network">red de iNaturalist</a>.
    </p>
    <h3><a name="More">Más información sobre Compartir</a></h3>
    <p>
      Dos veces al año, iNaturalist comparte las direcciones de correo electrónico de cuentas afiliadas y algunas coordenadas ocultas (p. ej., coordenadas públicas difuminadas o privadas) con los miembros de la Red de iNaturalist para facilitar el uso de los datos de iNaturalist para la investigación, la conservación y la gestión en sus respectivos países. Las dos maneras diferentes en que se comparten las coordenadas ocultas se describen a continuación.
    </p>
    <p>
      <i>Coordenadas automáticamente ocultas (ocultas o privadas debido a la "geoprivacidad del taxón")</i><br/>
      iNaturalist oculta automáticamente las coordenadas de algunas especies para protegerlas de los disturbios, la recolección o la caza furtiva. Si las coordenadas de observación se han ocultado automáticamente solo para proteger las especies, iNaturalist comparte las verdaderas coordenadas de todas las observaciones de sus respectivos países solamente con el administrador local de cada miembro de la red.
    </p>
    <p>
      <i>Coordenadas ocultas por el usuario (oscurecidas o privadas debido a la configuración de "geoprivacidad")</i><br/>
      Las observaciones con coordenadas ocultas debido a la configuración particular del usuario se comparten de una manera mucho más limitada y específica.  Al afiliarse con un sitio de la red, iNaturalist compartirá con los administradores de ese sitio las coordenadas exactas de las observaciones con geoprivacidad deliberadamente elegida como oscurecida o privada, además de las que están ocultas o privadas públicamente debido a la geoprivacidad del taxón. Esto permite que tus observaciones sean más valiosas para los esfuerzos locales de conservación.
    </p>
    <p>
      Se comparten las direcciones de correo electrónico con los administradores locales, miembros de la red, únicamente con el propósito de facilitar la comunicación relacionada con iNaturalist, en el caso de que sea necesario.
    </p>
    <h3><a name="Examples">Ejemplos</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> permite que los datos de iNaturalist se incorporen a sistemas seguros de nivel provincial gestionados por los Centros de Datos de Conservación (CDC). Estos sistemas se usan cuando se realizan evaluaciones (dos veces al año) para determinar el grado de amenaza de las especies y el hábitat crítico de las especies amenazadas y en peligro de extinción.   Como resultado, también ha sido posible localizar y mitigar puntos conflictivos de mortalidad viales para las especies en riesgo; delimitar y proteger las Áreas Clave para la Biodiversidad (KBA) y confirmar la presencia de especies que no habían sido detectadas durante décadas.
    </p>
    <p>
      El miembro de la red iNaturalist <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> de Portugal compartió datos de registros para el atlas portugués de aves migratorias, el atlas de mamíferos y varios artículos de investigación científica portugueses.
    </p>
    <p>
      Las observaciones de <a href="https://www.naturalista.mx/">Naturalista</a>, de México, alimentan el Sistema Nacional de Información sobre la Biodiversidad (en CONABIO, la Organización Nacional de la Biodiversidad) junto con los registros de eBird. Se pueden encontrar tanto registros científicos como de ciencia ciudadana en <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a> alimenta la Base Nacional de Datos de Biodiversidad del Ecuador – BNDB – un gran repositorio de datos de registros científicos y de ciencia ciudadana. El propósito es integrar los conocimientos y datos que ayudan a fortalecer el conocimiento de la flora y fauna del Ecuador.
    </p>
    <h3><a name="About">Más información sobre la Red</a></h3>

    <p>
      Si tu organización está interesada en unirse a la Red iNaturalist, puedes encontrar más detalles <a href="/pages/network-join">aquí</a>.
    </p>
  </div>
</div>
