<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Learn More About Network Affiliation</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2193-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">概覽</a></li>
      <li><a href="#More">更多關於分享的內容</a></li>
      <li><a href="#Examples">國際附屬網路成員使用資料的範例</a></li>
      <li><a href="#About">關於國際附屬網路</a></li>
    </ul>
    <h3><a name="Overview">概要</a></h3>
    <p>
      <a href="/sites/network">iNaturalist 國際附屬網路(iNaturalist Network)</a>是在<a href="https://www.inaturalist.org">全球 iNaturalist 社群</a>中的在地化網站。 附屬網路的網站是由當地的相關單位所支持，旨在推廣在地群眾的參與，和促進使用 iNaturalist 資料來對當地的生物多樣性有所助益。
    </p>
    <p>
      當您是某個 iNaturalist 國際附屬網路的成員時，您的 email、遮蔽與私有的觀察記錄座標將會和附屬網路的成員(註：應為管理者)分享。 您的觀察記錄會對當地的保育更有價值。 如果您長住或時常拜訪一個附屬網路成員的國家，我們鼓勵您選擇您的附屬網路為該國家，以促進資料的共享。 
    </p>
    <p>
      您還是可以繼續透過 iNaturalist.org 網址來登入，或是透過您特定附屬網路的網站 不管您的附屬網路為何，您所有的資料都會存放在同一個位置，而您也能夠和更大的國際 iNaturalist 社群持續互動。 每個 iNaturalist 帳號都只能夠和一個國際附屬網路連結。 您可以在您的<a href="/users/edit">帳號設定</a>中檢視或更改您的國際附屬網路。
    </p>
    <p>
      In order to advance research and conservation in their respective countries, Network Members may share data from iNaturalist. They have a responsibility to assess the validity and appropriateness of data requests and their potential outcomes; convey in writing the responsibility to also ensure the security of such data and not to expose it publicly in any way, or share or use it beyond its original intended purpose; to document all instances of sharing along with the associated results, outcomes, or intended uses; and to report annually to iNaturalist.
    </p>
    <p>
      You can see the current member list for the <a href="/sites/network">iNaturalist Network</a>.
    </p>
    <h3><a name="More">More About Sharing</a></h3>
    <p>
      Twice per year, iNaturalist shares email addresses of affiliated accounts and some hidden coordinates (i.e. coordinates publicly obscured or private) with the iNaturalist Network Members to facilitate the use of iNaturalist data for research, conservation, and management in their respective countries. The two ways that coordinates can be hidden are shared differently, as described below.
    </p>
    <p>
      <i>Automatically hidden coordinates (obscured or private due to “taxon geoprivacy”)</i><br/>
      iNaturalist automatically hides the coordinates for some species to protect them from disturbance, collection, or poaching. If the observation coordinates have only been hidden automatically to protect species, iNaturalist shares  the true coordinates of all observations from their respective countries with Network Members.
    </p>
    <p>
      <i>User-hidden coordinates (obscured or private due to “geoprivacy” setting)</i><br/>
      Observations with hidden coordinates due to individual user's choices are shared in a much more limited and specific way.  By affiliating with a Network site, iNaturalist will share with that site’s administrators the precise coordinates of observations with geoprivacy that you have set to obscured or private, in addition to those which are publicly obscured or private due to taxon geoprivacy. This allows your observations to become more valuable to local conservation efforts.
    </p>
    <p>
      Email addresses are shared with Network Members solely for the purposes of communications related to the site.
    </p>
    <h3><a name="Examples">Examples</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> enables data from iNaturalist to be incorporated into secure, provincial-level systems managed by Conservation Data Centers (CDCs). These systems are  used when assessments are carried out (twice per year) to determine the at-risk status of species, as well in determining the critical habitat of threatened and endangered species.   As a result, it has also been possible to locate and mitigate hotspots of road mortality for species at risk; delineate and eventually protect Key Biodiversity Areas, and; reconfirm the presence of species that had not been reported for decades.
    </p>
    <p>
      Portugal’s iNaturalist network member <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> shared records data for the Portuguese atlas of migratory birds, for the atlas of mammals, as well as several other Portuguese scientific research papers.
    </p>
    <p>
      Mexico’s Naturalista observations feed into the National Biodiversity Information System (at CONABIO, the National Biodiversity Commision)  together with records from eBird. People can find both scientific and citizen science records in <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      iNaturalist Ecuador feeds into the National Database of Biodiversity of Ecuador – BNDB – a large repository of data from scientific records as well as citizen science. The purpose is to integrate the knowledge and data that helps strengthen the environmental understanding of the flora and fauna of Ecuador.
    </p>
    <h3><a name="About">More about the Network</a></h3>

    <p>
      If your organization is interested in joining the iNaturalist Network, you can find more details <a href="/pages/network-join">here</a>.
    </p>
  </div>
</div>
