<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Erfahre mehr über die Netzwerk-Zugehörigkeit</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2193-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Übersicht</a></li>
      <li><a href="#More">More About Sharing</a></li>
      <li><a href="#Examples">Examples of Data Use by Network Members</a></li>
      <li><a href="#About">Über das Netzwerk</a></li>
    </ul>
    <h3><a name="Overview">Übersicht</a></h3>
    <p>
      Das <a href="/sites/network">iNaturalist-Netzwerk</a> ist eine Sammlung von regionalen Websites innerhalb der <a href="https://www.inaturalist.org">globalen iNaturalist-Community</a>. Netzwerk-Websites werden von lokalen Institutionen unterstützt, die die regionale Nutzung fördern und die erleichterte Nutzung der Daten von iNaturalist ermöglichen, um die örtliche biologische Vielfalt zu unterstützen.
    </p>
    <p>
      When you affiliate with an iNaturalist Network Member, your email address and the true locations of your obscured and private locations are shared with the Network Member. This allows your observations to become more valuable to local conservation efforts. Wenn du in einem Land lebst oder eines häufig besuchst, das Mitglied des Netzwerks ist, dann überlege doch, dich mit diesem Netzwerk zu verknüpfen, um den Datenaustausch zu erleichtern. 
    </p>
    <p>
      You can continue to log in through iNaturalist.org or through your network-specific website. No matter your affiliation, all your data will be hosted in the same place and you’ll continue to be able to interact with the broader international iNaturalist community. Jedes iNaturalist-Konto kann nur einem Netzwerk-Mitglied zugeordnet werden. Du kannst deine Zugehörigkeit in den <a href="/users/edit">Kontoeinstellungen</a> überprüfen oder ändern.
    </p>
    <p>
      In order to advance research and conservation in their respective countries, Network Members may share data from iNaturalist. They have a responsibility to assess the validity and appropriateness of data requests and their potential outcomes; convey in writing the responsibility to also ensure the security of such data and not to expose it publicly in any way, or share or use it beyond its original intended purpose; to document all instances of sharing along with the associated results, outcomes, or intended uses; and to report annually to iNaturalist.
    </p>
    <p>
      Du kannst die aktuelle Mitgliederliste des <a href="/sites/network">iNaturalistNetzwerks</a> einsehen.
    </p>
    <h3><a name="More">More About Sharing</a></h3>
    <p>
      Zweimal pro Jahr teilt iNaturalist Email-Adressen und einige versteckte Koordinaten (d.h. öffentlich verdeckte oder private Koordinaten) mit den Mitgliedern des iNaturalist-Netzwerks, um die Verwendung von iNaturalist-Daten für Forschung, Naturschutz und Management in ihren jeweiligen Ländern zu erleichtern. Die zwei Möglichkeiten, wie Koordinaten verdeckt werden können, werden unterschiedlich geteilt - wie unten beschrieben.
    </p>
    <p>
      <i>Automatically hidden coordinates (obscured or private due to “taxon geoprivacy”)</i><br/>
      iNaturalist automatically hides the coordinates for some species to protect them from disturbance, collection, or poaching. If the observation coordinates have only been hidden automatically to protect species, iNaturalist shares  the true coordinates of all observations from their respective countries with Network Members.
    </p>
    <p>
      <i>Benutzer-versteckte Koordinaten (verdeckt oder privat aufgrund der "Geoprivatsphäre"-Einstellung)</i><br/>
      Beobachtungen mit versteckten Koordinaten aufgrund der individuellen Auswahl des Benutzers werden auf eine viel beschränktere und spezifischere Art und Weise geteilt.  Durch die Verknüpfung mit einer Netzwerk-Website wird iNaturalist die genauen Koordinaten der Beobachtungen, die du über die Geo-Privatshäre verdeckt oder privat gemacht hast, teilen - zusätzlich zu denen, die öffentlich verdeckt oder privat sind aufgrund der Taxon-Geoprivatsphäre. Dadurch werden deine Beobachtungen wertvoller für die lokalen Naturschutzmaßnahmen.
    </p>
    <p>
      Email addresses are shared with Network Members solely for the purposes of communications related to the site.
    </p>
    <h3><a name="Examples">Examples</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> ermöglicht die Einbindung von Daten aus iNaturalist in sichere Systeme auf Provinzebene, die von den Conservation Data Centers (CDCs) verwaltet werden. Diese Systeme werden verwendet, wenn Beurteilungen durchgeführt werden (zweimal jährlich), um den Gefährdungszustand von Arten zu ermitteln, sowie bei der Bestimmung von kritischen Habitaten bedrohter und gefährdeter Arten.   Infolgedessen war es auch möglich, Hotspots für Straßenverkehrsopfer von gefährdeten Arten zu lokalisieren und abzumildern; die Erfassung und schlussendlich den Schutz von Schlüsselgebieten der biologischen Vielfalt zu veranlassen, sowie das Vorkommen von Arten zu bestätigen, die seit Jahrzehnten nicht gemeldet wurden.
    </p>
    <p>
      Portugals iNaturalist-Netzwerkmitglied <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> teilt Daten für den portugiesischen Atlas von Zugvögeln, für den Atlas der Säugetiere, sowie mehrere andere wissenschaftliche portugiesiche Forschungsprojekte.
    </p>
    <p>
      Mexikos Beobachtungen von Naturalista fließen in das Nationale Informationssystem für biologische Vielfalt (CONABIO, die Nationale Komission für biologische Vielfalt) zusammen mit Datensätzen von eBird. In <a href="www.enciclovida.mx">Enciclovida</a> sind sowohl wissenschaftliche wie auch Citizen Science-Beobachtungen zu finden. 
      </p>
    <p>
      Beobachtungen von iNaturalist Ecuador fließen in die Nationaldatenbank für Biodiversität Ecuadors (BNDB) ein – ein großes Datenarchiv aus wissenschaftlichen Daten und Citizen Science-Meldungen. Ziel ist es, das Wissen und die Daten zu integrieren, die dazu beitragen, das Umweltverständnis der Flora und Fauna Ecuadors zu stärken.
    </p>
    <h3><a name="About">Mehr über das Netzwerk</a></h3>

    <p>
      Wenn Ihre Organisation daran interessiert ist, dem iNaturalist-Netzwerk beizutreten, finden Sie weitere Details <a href="/pages/network-join">hier</a>.
    </p>
  </div>
</div>
