<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Läs mer om Nätverksanknytning</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2193-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Översikt</a></li>
      <li><a href="#Examples">Exempel på dataanvändning av nätverksmedlemmar</a></li>
      <li><a href="#About">Om Nätverket</a></li>
    </ul>
    <h3><a name="Overview">Översikt</a></h3>
    <p>
      <a href="/sites/network">iNaturalist-nätverket</a> är en samling lokala webbplatser i den <a href="https://www.inaturalist.org">globala iNaturalist-gemenskapen</a>. Nätverkswebbplatser stöds av lokala institutioner som främjar lokalt deltagande och underlättar användningen av data från iNaturalist så att den gynnar lokal biologisk mångfald.
    </p>
    <p>
      Två gånger om året delar iNaturalist vissa dolda koordinater (dvs. publikt diffuserade eller privata) med iNaturalist-nätverkets medlemmar för att underlätta användning av iNaturalist-data för forskning, bevarande och förvaltning i sina respektive länder. De två sätt som koordinater kan döljas delas på olika sätt, beskrivet nedan.
    </p>
    <p>
      <i>Automatiskt dolda koordinater (diffuserade eller privata beroende på “taxons geosekretess”)</i><br/>
      iNaturalist döljer automatiskt koordinaterna för vissa arter för att skydda dem från störning, insamling eller tjuvjakt. Om observationskoordinaterna bara har dolts automatiskt för att skydda arter, delar iNaturalist de verkliga koordinaterna för alla observationer från sina respektive länder med nätverksmedlemmar.
    </p>
    <p>
      <i>User-hidden coordinates (obscured or private due to “geoprivacy” setting)</i><br/>
      Observations with hidden coordinates due to individual user's choices are shared in a much more limited and specific way.  By affiliating with a Network site, iNaturalist will share with that site’s administrators the precise coordinates of observations with geoprivacy that you have set to obscured or private, in addition to those which are publicly obscured or private due to taxon geoprivacy. This allows your observations to become more valuable to local conservation efforts.
    </p>
    <p>
      If you live in or frequently visit a country that is a member of the Network, you are encouraged to choose that as your affiliation to facilitate data sharing. You may review or change your affiliation in your <a href="/users/edit">account settings</a>.
    </p>
    <p>
      Du kan se den aktuella medlemslistan för <a href="/sites/network">iNaturalist-nätverket</a>.
    </p>
    <h3><a name="Examples">Exempel</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> enables data from iNaturalist to be incorporated into secure, provincial-level systems managed by Conservation Data Centers (CDCs). These systems are  used when assessments are carried out (twice per year) to determine the at-risk status of species, as well in determining the critical habitat of threatened and endangered species.   As a result, it has also been possible to locate and mitigate hotspots of road mortality for species at risk; delineate and eventually protect Key Biodiversity Areas, and; reconfirm the presence of species that had not been reported for decades.
    </p>
    <p>
      Portugals iNaturalist-nätverketsmedlem <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> delade observationsdata för den portugisiska atlasen över flyttfåglar, för atlasen över däggdjur tillsammans med flera andra portugisiska vetenskapliga forskningsartiklar.
    </p>
    <h3><a name="About">Mer om Nätverket</a></h3>

    <p>
      Om din institutionär intresserad av att gå med i iNaturalist-nätverket, kan du hitta mer information <a href="/pages/network-join">här</a>.
    </p>
  </div>
</div>
