<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Información sobre la afiliación a la red</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Resumen</a></li>
      <li><a href="#More">Más Sobre el Esquema</a></li>
      <li><a href="#Examples">Ejemplos de uso de datos por miembros de la red</a></li>
      <li><a href="#About">Acerca de la Red</a></li>
    </ul>
    <h3><a name="Overview">Resumen</a></h3>
    <p>
      La <a href="/sites/network">Red iNaturalist</a> es un conjunto de sitios web incluidos en la <a href="https://www.inaturalist.org">comunidad global iNaturalist</a>. Los sitios web afiliados son administrados por instituciones locales que promueven la participación local y facilitan el uso de datos de iNaturalist para beneficiar la biodiversidad local.
    </p>
    <p>
      Cuando te afilias a uno de los sitios miembro de la Red iNaturalist, tu dirección de correo electrónico y las coordenadas verdaderas de tus registros que fueron configurados como oscurecidas y privadas, son compartidas con el nodo nacional, miembro de la red. Esto permite facilitar el uso de los datos de iNaturalist para la investigación, conservación, y gestión en los respectivos países que son miembros de la red. Si vives o visitas con frecuencia un país que es miembro de la red, te recomendamos que lo elijas como tu afiliación para facilitar el intercambio de datos. 
    </p>
    <p>
      Puedes continuar conectándote a través de iNaturalist.org o a través de la página web específica para la red de cada país. No importa tu afiliación, todos tus datos estarán alojados en el mismo lugar y podrás seguir interactuando con toda la comunidad internacional iNaturalist. Cada cuenta de iNaturalist puede estar afiliada con un solo miembro de la red. Puedes revisar o cambiar tu afiliación en tu <a href="/users/edit">configuración de cuenta</a>.
    </p>
    <p>
      Con el fin de promover la investigación y la conservación en sus respectivos países, los miembros de la red pueden compartir datos de iNaturalist. Los administradores locales tienen la responsabilidad de evaluar la validez y la idoneidad de las solicitudes de datos y sus posibles resultados; transmitir por escrito la responsabilidad de garantizar la seguridad de dichos datos y no exponerlos públicamente, compartirlos o utilizarlos más allá de su propósito original. Además de documentar los resultados o usos previstos asociados y reportar anualmente a iNaturalist.
    </p>
    <p>
      Es posible consultar la lista de miembros actuales de la <a href="/sites/network">red de iNaturalist</a>.
    </p>
    <h3><a name="More">Más Sobre el Esquema</a></h3>
    <p>
      Dos veces al año, iNaturalist comparte las direcciones de correo electrónico de cuentas afiliadas y algunas coordenadas ocultas (p.ej. coordenadas públicas difuminadas o privadas) con los miembros de la Red iNaturalist para facilitar el uso de los datos de iNaturalist para la investigación, conservación, y gestión en sus respectivos países. Las dos maneras en que se comparten las coordenadas ocultas se describen a continuación.
    </p>
    <p>
      <i>Coordenadas automáticamente ocultas (ocultas o privadas debido a la "geoprivacidad del taxón")</i><br/>
      iNaturalist oculta automáticamente las coordenadas de algunas especies para protegerlas de la perturbación, colecta, o caza furtiva. Si las coordenadas de observación se han ocultado automáticamente sólo para proteger las especies, iNaturalist comparte las verdaderas coordenadas de todas las observaciones de sus respectivos países únicamente con el administrador local de cada miembro de la red.
    </p>
    <p>
      <i>Coordenadas ocultas por el usuario (difuminadas o privadas debido a la configuración de "geoprivacidad")</i><br/>
      Las observaciones con coordenadas ocultas debido a la configuración particular del usuario se comparten de una manera mucho más limitada y específica.  Al afiliarse con un sitio de la red, iNaturalist compartirá con los administradores de ese sitio las coordenadas exactas de las observaciones con geoprivacidad deliberadamente elegida como difuminada o privada, además de las que están ocultas o privadas públicamente debido a la geoprivacidad del taxón. Esto permite que tus observaciones sean más valiosas para los esfuerzos locales de conservación.
    </p>
    <p>
      Las direcciones de correo electrónico se comparten con los administradores locales, miembros de la red, únicamente con el propósito de facilitar la comunicación relacionada con iNaturalist, en el caso de que sea necesario.
    </p>
    <h3><a name="Examples">Ejemplos</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> permite que los datos de iNaturalist se incorporen a sistemas seguros de nivel provincial gestionados por los Centros de Datos de Conservación (CDCs). Estos sistemas se utilizan cuando se realizan evaluaciones (dos veces al año) para determinar el grado de amenaza de las especies, así como para determinar el hábitat crítico de las especies amenazadas y en peligro de extinción.   Como resultado de ello, ha sido posible localizar y mitigar puntos conflictivos de mortalidad por atropellos en carretera para las especies en riesgo; delimitar y proteger las Áreas Clave para la Biodiversidad (KBA) y confirmar la presencia de especies que no habían sido detectadas durante décadas.
    </p>
    <p>
      En Portugal, el miembro de la red iNaturalist <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> compartió datos para el atlas portugués de aves migratorias, para el atlas de mamíferos, así como para varios artículos de investigación científica portugueses.
    </p>
    <p>
      Las observaciones de <a href="https://www.naturalista.mx/">Naturalista</a>, de México, alimentan el Sistema Nacional de Información sobre la Biodiversidad (en CONABIO, la Organización Nacional de la Biodiversidad) junto con los registros de eBird. Se pueden buscar tanto registros científicos como de ciencia ciudadana en <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a> alimenta la Base Nacional de Datos de Biodiversidad del Ecuador – BNDB – un gran repositorio de datos de registros científicos y de ciencia ciudadana. Cuyo objetivo es integrar datos que ayuden a fortalecer el conocimiento de la flora y fauna del Ecuador.
    </p>
    <h3><a name="About">Más información sobre la Red</a></h3>

    <p>
      Si tu organización está interesada en unirse a la Red iNaturalist, puedes encontrar más detalles <a href="/pages/network-join">aquí</a>.
    </p>
  </div>
</div>
