<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Learn More About Network Affiliation</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/1659-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Přehled</a></li>
      <li><a href="#Examples">Příklady využití dat členy sítě</a></li>
      <li><a href="#About">O síti</a></li>
    </ul>
    <h3><a name="Overview">Přehled</a></h3>
    <p>
      The <a href="/sites/network">iNaturalist Network</a> is a collection of localized websites in the <a href="https://www.inaturalist.org">global iNaturalist community</a>. Network sites are supported by local institutions that promote local participation and facilitate the use of data from iNaturalist to benefit local biodiversity.
    </p>
    <p>
      Twice per year, iNaturalist shares some hidden coordinates (i.e. coordinates publicly obscured or private) with the iNaturalist Network Members to facilitate the use of iNaturalist data for research, conservation, and management in their respective countries. The two ways that coordinates can be hidden are shared differently, as described below.
    </p>
    <p>
      <br><i>Automatically hidden coordinates (obscured or private due to “taxon geoprivacy”)</i></br>
      iNaturalist automatically hides the coordinates for some species to protect them from disturbance, collection, or poaching. If the observation coordinates have only been hidden automatically to protect species, iNaturalist shares  the true coordinates of all observations from their respective countries with Network Members.
    </p>
    <p>
      <br><i>User-hidden coordinates (obscured or private due to “geoprivacy” setting)</i></br>
      Observations with hidden coordinates due to individual user's choices are shared in a much more limited and specific way.  By affiliating with a Network site, iNaturalist will share with that site’s administrators the precise coordinates of observations with geoprivacy that you have set to obscured or private, in addition to those which are publicly obscured or private due to taxon geoprivacy. This allows your observations to become more valuable to local conservation efforts.
    </p>
    <p>
      Pokud žijete nebo často navštěvujete zemi, která je členem sítě, jste vyzýváni, abyste si ji zvolili jako svou příslušnost, která usnadní sdílení údajů. Své přidružení můžete zkontrolovat nebo změnit v <a href="/users/edit">nastavení účtu</a>.
    </p>
    <p>
      You can see the current member list for the <a href="/sites/network">iNaturalist Network</a>.
    </p>
    <h3><a name="Examples">Příklady</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> enables data from iNaturalist to be incorporated into secure, provincial-level systems managed by Conservation Data Centers (CDCs). These systems are  used when assessments are carried out (twice per year) to determine the at-risk status of species, as well in determining the critical habitat of threatened and endangered species.   As a result, it has also been possible to locate and mitigate hotspots of road mortality for species at risk; delineate and eventually protect Key Biodiversity Areas, and; reconfirm the presence of species that had not been reported for decades.
    </p>
    <p>
      Portugal’s iNaturalist network member <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> shared records data for the Portuguese atlas of migratory birds, for the atlas of mammals, as well as several other Portuguese scientific research papers.
    </p>
    <h3><a name="About">More about the Network</a></h3>

    <p>
      If your organization is interested in joining the iNaturalist Network, you can find more details <a href="/pages/network-join">here</a>.
    </p>
  </div>
</div>
