<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Scopri di più sul Network di Affiliazione</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Panoramica</a></li>
      <li><a href="#More">Maggiori Informazioni Sulla Condivisione</a></li>
      <li><a href="#Examples">Esempi di Uso dei Dati da parte dei Membri del Network</a></li>
      <li><a href="#About">Riguardo al Network</a></li>
    </ul>
    <h3><a name="Overview">Panoramica</a></h3>
    <p>
      L'<a href="/sites/network">iNaturalist Network</a> è una raccolta di siti web localizzati nella <a href="https://www.inaturalist.org">comunità globale di iNaturalist</a>. I siti del Network sono supportati dalle istituzioni locali che promuovono la partecipazione locale e facilitano l'uso dei dati da iNaturalist a beneficio della biodiversità locale.
    </p>
    <p>
      Quando sei affiliato a un membro del Network iNaturalist, il tuo indirizzo email e la vera posizione delle tue osservazioni oscurate e private sono condivisi con il membro del Network. Ciò consente alle tue osservazioni di diventare più preziose per gli sforzi locali di conservazione. Se vivi o visiti frequentemente un paese che è membro del Network, sei incoraggiato a scegliere quello come tua affiliazione per facilitare la condivisione dei dati. 
    </p>
    <p>
      Puoi continuare ad accedere tramite iNaturalist.org o tramite il tuo specifico sito web del Network. Non importa la tua affiliazione, tutti i tuoi dati saranno ospitati nello stesso luogo e continuerai a essere in grado di interagire con la più ampia comunità internazionale iNaturalist. Ogni account iNaturalist può essere affiliato con un solo membro del Network. Puoi revisionare o modificare la tua affiliazione nelle tue <a href="/users/edit">impostazioni del profilo</a>.
    </p>
    <p>
      Al fine di promuovere la ricerca e la conservazione nei rispettivi paesi, i membri del Network possono condividere i dati di iNaturalist. Essi hanno la responsabilità di valutare la validità e l'adeguatezza delle richieste di dati e i loro potenziali risultati; comunicare per iscritto la responsabilità di garantire la riservatezza di tali dati e di non esporli pubblicamente, o condividerli o utilizzarli al di là dei loro scopi originari; documentare tutte le istanze di condivisione insieme ai risultati associati, gli sviluppi o gli usi previsti; e riferire annualmente ad iNaturalist.
    </p>
    <p>
      Puoi vedere l'elenco dei membri correnti del <a href="/sites/network">Network di iNaturalist</a>.
    </p>
    <h3><a name="More">Maggiori Informazioni Sulla Condivisione</a></h3>
    <p>
      Due volte l'anno, iNaturalist condivide gli indirizzi email degli account affiliati ed alcune coordinate nascoste (es. le coordinate pubblicamente oscurate o private) con i Membri del Network di iNaturalist per facilitare l'uso dei dati iNaturalist per la ricerca, per la conservazione e la gestione nei loro rispettivi paesi. I due modi in cui le coordinate possono essere nascoste sono condivisi in maniera diversa, come descritto sotto.
    </p>
    <p>
      <i>Le coordinate nascoste automaticamente (oscurate o private per la "geoprivacy del taxon")</i><br/>      iNaturalist nasconde automaticamente le coordinate per alcune specie sensibili per proteggerle dal disturbo, dalla cattura o dal bracconaggio. Se le coordinate dell'osservazione sono state nascoste automaticamente solo per proteggere le specie, iNaturalist condivide le vere coordinate di tutte le osservazioni con i Membri del Network solo per i loro rispettivi paesi.
    </p>
    <p>
      <i>Coordinate nascoste dall'utente (oscurate o private per impostazione della "geoprivacy")</i><br/>      Osservazioni con coordinate nascoste per le scelte individuali dell'utente sono condivise in un modo molto più limitato e specifico.  Associandosi ad un sito del Network, iNaturalist condividerà con gli amministratori del sito le coordinate precise delle osservazioni con la geoprivacy che hai impostato come oscurate o private, oltre a quelle che sono pubblicamente oscurate o private per la geoprivacy tassonomica. Ciò consente alle tue osservazioni di diventare più preziose per gli sforzi locali di conservazione.
    </p>
    <p>
      Gli indirizzi email sono condivisi con i membri del Network esclusivamente per le comunicazioni relative al sito.
    </p>
    <h3><a name="Examples">Esempi</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> permette che i dati di iNaturalist siano incorporati in sistemi sicuri a livello provinciale gestiti dai Conservation Data Center (CDC). Questi sistemi sono usati quando sono effettuate le valutazioni (due volte l'anno) per determinare lo stato di rischio delle specie, così come nella determinazione dell'habitat critico delle specie minacciate e in pericolo.   Come risultato, è anche stato possibile localizzare e attenuare gli hotspot di mortalità stradale per le specie a rischio; delineare ed eventualmente proteggere le Aree Chiave per la Biodiversità, e riconfermare la presenza di specie che non erano state segnalate per decenni.
    </p>
    <p>
      Il membro <a href="https://www.biodiversity4all.org/">BioDiversity4All</a> del Network di iNaturalist del Portogallo ha condiviso i dati per l'atlante portoghese degli uccelli migratori, per l'atlante dei mammiferi, così come per molti altri articoli scientifici portoghesi.
    </p>
    <p>
      Le osservazioni <a href="https://www.naturalista.mx/">naturalistiche</a> del Messico alimentano il Sistema Nazionale di Informazione sulla Biodiversità (CONABIO, la Commissione Nazionale della Biodiversità) insieme ai record di eBird. Le persone possono trovare sia i dati scientifici che quelli derivanti dalla citizen science in <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a> si inserisce nel Database Nazionale della Biodiversità dell'Ecuador – BNDB – un ampio archivio di dati provenienti dai database scientifici e dalla citizen science. Lo scopo è quello di integrare le conoscenze e i dati che contribuiscono a rafforzare la comprensione ambientale relativa alla flora e alla fauna dell'Ecuador.
    </p>
    <h3><a name="About">Altro riguardo il Network</a></h3>

    <p>
      Se la tua organizzazione è interessata ad unirsi al Network di iNaturalist, puoi trovare altri dettagli <a href="/pages/network-join">qui</a>.
    </p>
  </div>
</div>
