<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Få mere at vide om netværkstilknytning</h2>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2193-original.png" style="width:100%" class="img-thumbnail stacked" />
    <ul>
      <li><a href="#Overview">Overblik</a></li>
      <li><a href="#More">More About Sharing</a></li>
      <li><a href="#Examples">Examples of Data Use by Network Members</a></li>
      <li><a href="#About">Om netværket</a></li>
    </ul>
    <h3><a name="Overview">Overblik</a></h3>
    <p>
      <a href="/sites/network">iNaturalist-netværket</a> er en samling af lokaliserede websteder i det <a href="https://www.inaturalist.org">globale iNaturalist-fællesskab</a>. Netværkswebsteder understøttes af lokale institutioner, som fremmer lokalt brug og faciliterer anvendelsen af data fra iNaturalist mhp. at gavne lokal biodiversitet.
    </p>
    <p>
      When you affiliate with an iNaturalist Network Member, your email address and the true locations of your obscured and private locations are shared with the Network Member. This allows your observations to become more valuable to local conservation efforts. Bor du i eller gæster hyppigt et land, der er medlem af netværket, opfordres du til at vælge dette som din tilknytning for at gøre datadeling mere relevant. 
    </p>
    <p>
      You can continue to log in through iNaturalist.org or through your network-specific website. No matter your affiliation, all your data will be hosted in the same place and you’ll continue to be able to interact with the broader international iNaturalist community. Hver iNaturalist-konto kan kun tilknyttes ét netværksmedlem. Du kan tjekke eller ændre din tilknytning i dine <a href="/users/edit">kontoindstillinger</a>.
    </p>
    <p>
      In order to advance research and conservation in their respective countries, Network Members may share data from iNaturalist. They have a responsibility to assess the validity and appropriateness of data requests and their potential outcomes; convey in writing the responsibility to also ensure the security of such data and not to expose it publicly in any way, or share or use it beyond its original intended purpose; to document all instances of sharing along with the associated results, outcomes, or intended uses; and to report annually to iNaturalist.
    </p>
    <p>
      Du kan se den aktuelle medlemsliste for <a href="/sites/network">Naturalist-netværket</a>.
    </p>
    <h3><a name="More">More About Sharing</a></h3>
    <p>
      To gange årligt deler iNaturalist e-mailadresser på tilknyttede konti og nogle skjulte koordinater (dvs. offentligt skjulte eller fortrolige koordinater) med iNaturalist Network-medlemmer mhp. at faciliterer anvendelsen af iNaturalist-data til forskning, bevarelse samt håndtering i deres respektive lande. De to måder, hvorpå koordinater kan skjules, deles forskelligt, som beskrevet nedenfor.
    </p>
    <p>
      <i>Automatically hidden coordinates (obscured or private due to “taxon geoprivacy”)</i><br/>
      iNaturalist automatically hides the coordinates for some species to protect them from disturbance, collection, or poaching. If the observation coordinates have only been hidden automatically to protect species, iNaturalist shares  the true coordinates of all observations from their respective countries with Network Members.
    </p>
    <p>
      <i>Bruger-skjulte koordinater (skjulte eller fortrolige grundet indstillingen "geofortrolighed"</i><br/>
        Observationer med skjulte koordinater grundet den enkelte brugers valg deles på en meget mere begrænset og bestemt vis.  Ved at tilknytte et netværkswebsted vil iNaturalist dele de nøjagtige koordinater for observationer med geofortrolighed, som du har indstillet til skjulte eller fortrolige, ud over dem, som er offentligt skjulte eller fortrolige grundet takson-geofortrolighed, med dette websteds administratorer. Dette tilfører dine observationer større værdi ift. lokale bevaringsindsatser.
    </p>
    <p>
      Email addresses are shared with Network Members solely for the purposes of communications related to the site.
    </p>
    <h3><a name="Examples">Examples</a></h3>
    <p>
      <a href="https://inaturalist.ca/">iNaturalist Canada</a> muliggør integration af data fra iNaturalist i sikre systemer på provinsniveau administreret af Conservation Data Centers (CDC). Disse systemer benyttes, når der udføres vurderinger (to gange årligt) mhp. bestemmelse af arters risikoforhold, såvel som til bestemmelse af det kritiske levested for truede arter.   Som et resultat heraf har det også været muligt at lokalisere og afbøde hotspots for vejdødelighed for arter, som er i fare; afgrænse og i yderste instans beskytte centrale Nøglebiodiversitetsområder, samt genbekræfte tilstedeværelsen af arter, som ikke er indrapporteret i årtier.
    </p>
    <p>
      Portugals iNaturalist-netværksmedlem, <a href="https://www.biodiversity4all.org/">BioDiversity4All</a>, har delt optegnelsesdata for det portugisiske atlas over trækfugle, for atlas over pattedyr samt flere andre portugisiske videnskabelige forskningsartikler.
    </p>
    <p>
      Mexicos Naturalista observationer føder National Biodiversity Information System (ved CONABIO, National Biodiversity Commision) sammen med optegnelser fra eBird. Folk kan finde både videnskabelige og borgervidenskabelige optegnelser i <a href="www.enciclovida.mx">Enciclovida</a>. 
      </p>
    <p>
      iNaturalist Ecuador føder den Nationale Database for Biodiversitet i Ecuador – BNDB – et stort arkiv over data fra videnskabelige optegnelser såvel som borgervidenskab. Formålet er at integrere viden og data, som er med til at styrke miljøforståelsen for Ecuadors flora og fauna.
    </p>
    <h3><a name="About">Mere om netværket</a></h3>

    <p>
      Er din organisation interesseret i at tage del i iNaturalist-netværket, kan du finde yderligere oplysninger <a href="/pages/network-join">hér</a>.
    </p>
  </div>
</div>
