<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Rede iNaturalist</h2>

    <p class="lead">
      A Rede iNaturalist é uma coleção de sites localizados que estão totalmente conectados à comunidade global iNaturalist. Os sites da rede são apoiados por instituições locais que promovem a participação local e facilitam a utilização de dados do iNaturalist para beneficiar a biodiversidade local. Têm acesso a verdadeiras coordenadas dos seus países que são automaticamente obscurecidas do ponto de vista público, a fim de melhor proteger as espécies ameaçadas.
    </p>
    <p>
      O seu nome de utilizador e senha funcionam em todos os sites que fazem parte da Rede iNaturalist. Se optar por se afiliar a um site da Rede, as instituições locais que apoiam cada site terão acesso ao seu endereço de e-mail (apenas para comunicar consigo sobre atividades do site) e acesso às coordenadas verdadeiras das observações que você escolheu tornar publicamente obscurecidas ou privadas.
    </p>
    <p>
      A <a href="https://www.inaturalist.org/pages/about">Academia de Ciências da Califórnia</a> e a <a href="https://www.inaturalist.org/pages/about">Sociedade Geográfica Nacional</a> têm acordos formais com organizações de cada um desses países para apoiar o uso da plataforma iNaturalist. <strong>Se a sua organização estiver interessada em participar na rede iNaturalist, você poderá encontrar mais detalhes <a href="https://www.inaturalist.org/pages/network-join">aqui</a>.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      A Rede iNaturalist consiste em várias organizações:
    </p>
    <ul>
      <li>
        <p>
          o Departamento de iNaturalist da <a href="https://www.calacademy.org/">Academia de Ciências da Califórnia</a> e <a href="https://www.nationalgeographic.org/">National Geographic Society</a> operando o iNaturalist.org e toda a infraestrutura subjacente para a Rede
        </p>
      </li>
      <li>
        <p>
           A <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodiversidad</a> que apoia o <a href="http://www.naturalista.mx/">NaturaLista</a> no México
        </p>
      </li>
      <li>
        <p>
           a <a href="http://www.nzbrn.org.nz/">New Zealand Biodiversity Recording Network</a> suportando <a href="https://inaturalist.nz/">iNaturalist NZ - Ma^\\taki Taiao</a> (anteriormente NatureWatch NZ) na Nova Zelândia
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.cwf-fcf.org/">Federação Canadense de Vida Selvagem (CWF)</a> junto com <a href="http://www.pc.gc.ca/">Parks Canada</a>, 
          <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada</a>, e o <a href="http://www.rom.on.ca/en">Museu Real Ontario (ROM) </a> que suportam <a href="http://www.inaturalist.ca">iNaturalist Canada</a> no Canadá
        </p>
      </li>
      <li>
        <p>
           o <a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a> apoiando <a href="https://colombia.inaturalist.org/">Naturalista</a> na Colômbia
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.biodiversity4all.org/">Biodiversity4All</a> em Portugal
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a> que suportam <a href="https://panama.inaturalist.org/">iNaturalist Panamá</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a> apoiando <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>
        </p>
      </li>
      <li>
        <p>
           o <a href="https://www.ala.org.au/">Atlas of Living Australia</a> que apoia <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina</a> apoiando <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.haifa.ac.il/index.php/he/">Universidade de Haifa</a> apoiando <a href="http://israel.inaturalist.org/">iNaturalist Israel</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://laji.fi/en">Instituto Finlandês de Informações sobre Biodiversidade</a> que suporta <a href="https://inaturalist.laji.fi/">iNaturalist Finlandês</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://mma.gob.cl/">Ministerio del Medio Ambiente</a> suportando <a href="https://inaturalist.mma.gob.cl/">iNaturalist Chile</a>
        </p>
      </li>
              <p>
          <a href="https://isea.com.gr/">iSea</a> e <a href="https://www.gnhm.gr/">Goulandris Museum of Natural History</a>  apoiando o <a href="http://greece.inaturalist.org/">iNaturalist Grécia</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.mnhn.lu/">Museu Nacional de História Natural luxemburguesa (MnhnL)</a> apoiando <a href="https://inaturalist.lu/">iNaturalist Luxembourg</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://nbn.org.uk/">National Biodiversity Network Trust</a>, <a href="https://www.mba.ac.uk/">Marine Biological Association</a>, e <a href="https://www.brc.ac.uk//">Biological Records Centre</a> que suportam o <a href="https://uk.inaturalist.org/">iNaturalist Reino Unido</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.conagebio.go.cr/Conagebio/public/">Comisión Nacional para la Gestión de la Biodiversidad (CONAGEBIO)</a> que apoia o <a href="https://costarica.inaturalist.org/">Naturalista Costa Rica</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://conap.gob.gt/">Consejo Nacional de Áreas Protegidas (CONAP)</a> que apoia o <a href="https://guatemala.inaturalist.org/">iNaturalist Guatemala</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.artdatabanken.se/">SLU Swedish Species Information Centre</a> que apoia o <a href="https://www.inaturalist.se/">iNaturalist Sweden</a>
        </p>
      </li>
    </p>
  </div>
</div>
