<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Síť iNaturalist</h2>

    <p class="lead">
      Síť iNaturalist je kolekce lokálně-zaměřených webů, které jsou plně propojeny s globální komunitou iNaturalist. Stránky sítě jsou podporovány místními institucemi, které podněcují místní využití a usnadňují využívání údajů z iNaturalist ve prospěch místní biologické rozmanitosti. Ve svých zemích mají přístup k přesným souřadnicím, které jsou automaticky skryty před veřejností za účelem vyšší ochrany ohrožených druhů.
    </p>
    <p>
      Vaše uživatelské jméno a heslo fungují na všech stránkách, které jsou součástí sítě iNaturalist. If you choose to affiliate with a Network site, the local institutions that support each site will also have access to your email address (only to communicate with you about site activities) and access to the true coordinates for observations that you have chosen to make publicly obscured or private.
    </p>
    <p>
      <a href="https://www.inaturalist.org/pages/about">Kalifornská akademie věd </a> a <a href="https://www.inaturalist.org/pages/about">Společnost National Geographic</a> mají dohody s organizacemi v každé z těchto zemí na podporu používání platformy iNaturalist. <strong>Pokud má vaše organizace zájem o připojení se k síti iNaturalist, můžete najít další podrobnosti <a href="https://www.inaturalist.org/pages/network-join">zde</a>.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/1659-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      Síť iNaturalist sestává z několika organizací:
    </p>
    <ul>
      <li>
        <p>
          Oddělení iNaturalist na <a href="https://www.calacademy.org/">Kalifornské akademii věd</a> a <a href="https://www.nationalgeographic.org/">Společnost National Geographic</a> provozují globální iNaturalist.org a veškerou související infrastrukturu Sítě
        </p>
      </li>
      <li>
        <p>
          the <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodiversidad</a> supporting <a href="http://www.naturalista.mx/">NaturaLista</a> in Mexico
        </p>
      </li>
      <li>
        <p>
          the <a href="http://www.nzbrn.org.nz/">New Zealand Biodiversity Recording Network</a> supporting <a href="https://inaturalist.nz/">iNaturalist NZ — Mātaki Taiao</a> (formerly NatureWatch NZ) in New Zealand
        </p>
      </li>
      <li>
        <p>
          the <a href="http://www.cwf-fcf.org/">Canadian Wildlife Federation (CWF)</a> along with <a href="http://www.pc.gc.ca/">Parks Canada</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada</a> and the <a href="http://www.rom.on.ca/en">Royal Ontario Museum (ROM) </a> supporting <a href="http://www.inaturalist.ca">iNaturalist Canada</a> in Canada
        </p>
      </li>
      <li>
        <p>
          the <a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a> supporting <a href="https://colombia.inaturalist.org/">Naturalista</a> in Colombia
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.biodiversity4all.org/">Biodiversity4All</a> v Portugalsku
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a> supporting <a href="https://panama.inaturalist.org/">iNaturalist Panamá</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a> supporting <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>
        </p>
      </li>
      <li>
        <p>
          the <a href="https://www.ala.org.au/">Atlas of Living Australia</a> supporting <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina</a> supporting <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.haifa.ac.il/index.php/he/">University of Haifa</a> supporting <a href="http://israel.inaturalist.org/">iNaturalist Israel</a>
        </p>
      </li>
      <li>
        <p>
          the <a href="https://laji.fi/en">Finnish Biodiversity Information Facility</a> supporting <a href="https://inaturalist.laji.fi/">iNaturalist Finland</a>
        </p>
      </li>
    </p>
  </div>
</div>
