<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Síť iNaturalist</h2>

    <p class="lead">
      Síť iNaturalist je kolekce lokálně-zaměřených webů, které jsou plně propojeny s globální komunitou iNaturalist. Stránky sítě jsou podporovány místními institucemi, které podněcují místní využití a usnadňují využívání údajů z iNaturalist ve prospěch místní biologické rozmanitosti. Ve svých zemích mají přístup k přesným souřadnicím, které jsou automaticky pro veřejnost přibližné za účelem vyšší ochrany ohrožených druhů.
    </p>
    <p>
      Vaše uživatelské jméno a heslo fungují na všech stránkách, které jsou součástí sítě iNaturalist. Pokud se rozhodnete připojit k Členské síti, pak místní instituce, které podporují daného člena, budou mít také přístup k vaší e-mailové adrese (pouze pro komunikaci s vámi o aktivitách v rámci sítě) a přístup ke skutečným souřadnicím pozorování, které jste označili jako pro veřejnost přibližné nebo soukromé.
    </p>
    <p>
      <a href="https://www.inaturalist.org/pages/about">Kalifornská akademie věd </a> a <a href="https://www.inaturalist.org/pages/about">Společnost National Geographic</a> mají dohody s organizacemi v každé z těchto zemí na podporu používání platformy iNaturalist. <strong>Pokud má vaše organizace zájem o připojení se k síti iNaturalist, můžete najít další podrobnosti <a href="https://www.inaturalist.org/pages/network-join">zde</a>.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      Síť iNaturalist sestává z několika organizací:
    </p>
    <ul>
      <li>
        <p>
          Oddělení iNaturalist na <a href="https://www.calacademy.org/">Kalifornské akademii věd</a> a <a href="https://www.nationalgeographic.org/">Společnost National Geographic</a> provozují globální iNaturalist.org a veškerou související infrastrukturu Sítě
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodiversidad (CONABIO)</a> podporující <a href="http://www.naturalista.mx/">NaturaLista</a> v Mexiku
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.nzbrn.org.nz/">New Zealand Biodiversity Recording Network</a> podporující <a href="https://inaturalist.nz/">iNaturalist NZ – Mātaki Taiao</a> (dříve NatureWatch NZ) na Novém Zélandu
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.cwf-fcf.org/">Canadian Wildlife Federation (CWF)</a> spolu s <a href="http://www.pc.gc.ca/">Parks Canada</a> 
          <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Kanada</a>a <a href="http://www.rom.on.ca/en">Královské muzeum Ontario (ROM) </a> podporující <a href="http://www.inaturalist.ca">iNaturalist Kanada</a> v Kanadě
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a> podporující <a href="https://colombia.inaturalist.org/">Naturalista</a> v Kolumbii
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.biodiversity4all.org/">Biodiversity4All</a> v Portugalsku
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a> podporující <a href="https://panama.inaturalist.org/">iNaturalist Panama™</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a> podporující <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.ala.org.au/">Atlas of Living Australia</a> podporující <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina</a> podporující <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.haifa.ac.il/index.php/he/">Haifská univerzita</a> podporující <a href="http://israel.inaturalist.org/">iNaturalist Israel</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://laji.fi/en">Finské Zařízení pro informace o biologické rozmanitosti</a> podporující <a href="https://inaturalist.laji.fi/">iNaturalist Finland</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://mma.gob.cl/">Ministerstvo životního prostředí</a> podporující <a href="https://inaturalist.mma.gob.cl/">iNaturalist Chile</a>
        </p>
      </li>
              <p>
          <a href="https://isea.com.gr/">iSea</a> a <a href="https://www.gnhm.gr/">Goulandris  Museum of Natural History</a>  podporující <a href="http://greece.inaturalist.org/">iNaturalist Řecko</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.mnhn.lu/">Luxembourg National Museum of Natural History (MnhnL)</a> podporující <a href="https://inaturalist.lu/">iNaturalist Luxembourg</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://nbn.org.uk/">National Biodiversity Network Trust</a>, <a href="https://www.mba.ac.uk/">Marine Biological Association</a>a <a href="https://www.brc.ac.uk//">Biological Records Centre</a> podporující <a href="https://uk.inaturalist.org/">iNaturalist Spojené království</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.conagebio.go.cr/Conagebio/public/">Comisión Nacional para la Gestión de la Biodiversidad (CONAGEBIO)</a> podporující <a href="https://costarica.inaturalist.org/">Naturalista Costa Rica</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://conap.gob.gt/">Consejo Nacional de Áreas Protegidas (CONAP)</a> podporující <a href="https://guatemala.inaturalist.org/">iNaturalist Guatemala</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.artdatabanken.se/">SLU Swedish Species Information Centre</a> podporující <a href="https://www.inaturalist.se/">iNaturalist Sweden</a>
        </p>
      </li>
    </p>
  </div>
</div>
