<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Réseau iNaturalist</h2>

    <p class="lead">
      Le réseau iNaturalist est un ensemble de sites web au niveau local qui sont entièrement connectés à la communauté mondiale iNaturalist. Les sites du réseau sont soutenus par des institutions locales qui promeuvent la participation du public et facilitent l'utilisation des données d'iNaturalist au profit de la biodiversité locale. Ils ont accès aux coordonnées exactes de leur pays qui sont automatiquement masquées à la vue du public afin de mieux protéger les espèces menacées.
    </p>
    <p>
      Votre nom d'utilisateur et votre mot de passe fonctionnent sur tous les sites qui font partie du réseau iNaturalist. Si vous choisissez de vous affilier avec un site du réseau, les institutions locales qui gèrent chaque site auront également accès à votre adresse mail (uniquement pour communiquer avec vous au sujet des activités du site) et aux coordonnées réelles pour les observations que vous avez choisies de rendre publiques ou privées.
    </p>
    <p>
      La <a href="https://www.inaturalist.org/pages/about">California Academy of Sciences</a> et la <a href="https://www.inaturalist.org/pages/about">National Geographic Society</a> ont des accords officiels avec des organisations dans chacun de ces pays pour soutenir l'utilisation de la plateforme iNaturalist. <strong>Si votre organisation souhaite rejoindre le réseau iNaturalist, vous pouvez trouver plus de détails <a href="https://www.inaturalist.org/pages/network-join">ici</a>.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      Le réseau iNaturalist est composé de plusieurs organisations :
    </p>
    <ul>
      <li>
        <p>
          le département iNaturalist de la <a href="https://www.calacademy.org/">California Academy of Sciences</a> et la <a href="https://www.nationalgeographic.org/">National Geographic Society</a> qui gèrent iNaturalist.org au niveau mondial et toute l'infrastructure sous-jacente du réseau
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.gob.mx/conabio">La commission nationale pour la connaissance et l'utilisation de la biodiversité (CONABIO)</a> qui gère <a href="http://www.naturalista.mx/">NaturaLista</a> au Mexique
        </p>
      </li>
      <li>
        <p>
           le <a href="http://www.nzbrn.org.nz/">New Zealand Biodiversity Recording Network</a> qui gère <a href="https://inaturalist.nz/">iNaturalist NZ — Mātaki Taiao</a> (anciennement NatureWatch NZ) en Nouvelle-Zélande
        </p>
      </li>
      <li>
        <p>
           la <a href="http://www.cwf-fcf.org/">Fédération canadienne de la faune</a>  qui gère <a href="http://www.inaturalist.ca">iNaturalist Canada</a> avec <a href="http://www.pc.gc.ca/">Parcs Canada</a>, <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada</a>, et le <a href="http://www.rom.on.ca/en">Musée royal de l'Ontario</a> au Canada
        </p>
      </li>
      <li>
        <p>
           l'<a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a> qui gère <a href="https://colombia.inaturalist.org/">Naturalista</a> en Colombie
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.biodiversity4all.org/">Biodiversity4All</a> au Portugal
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a> qui gère <a href="https://panama.inaturalist.org/">iNaturalist Panamá</a>
        </p>
      </li>
      <li>
        <p>
          l'<a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a> qui gère <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.ala.org.au/">Atlas of Living Australia</a> qui gère <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>
        </p>
      </li>
      <li>
        <p>
          la <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina</a> qui gère <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
          l'<a href="https://www.haifa.ac.il/index.php/he/">université de Haïfa</a> qui gère <a href="http://israel.inaturalist.org/">iNaturalist Israel</a>
        </p>
      </li>
      <li>
        <p>
           le centre finlandais d'information sur les espèces <a href="https://laji.fi/en">Suomen Lajitietokeskus</a> qui gère <a href="https://inaturalist.laji.fi/">iNaturalist Finlande</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://mma.gob.cl/">Ministerio del Medio Ambiente</a> qui gère <a href="https://inaturalist.mma.gob.cl/">iNaturalist Chili</a>
        </p>
      </li>
              <p>
          <a href="https://isea.com.gr/">iSea</a> et le <a href="https://www.gnhm.gr/">musée Goulandris d'histoire naturelle</a>  qui gèrent <a href="http://greece.inaturalist.org/">iNaturalist Grèce</a>;
        </p>
      </li>
      <li>
        <p>
           le <a href="https://www.mnhn.lu/">Musée national de l'histoire naturelle du Luxembourg (MnhnL)</a> qui gère <a href="https://inaturalist.lu/">iNaturalist Luxembourg</a>
        </p>
      </li>
      <li>
        <p>
          la <a href="https://nbn.org.uk/">National Biodiversity Network Trust</a>, la <a href="https://www.mba.ac.uk/">Marine Biological Association</a>et le <a href="https://www.brc.ac.uk//">Biological Records Centre</a> qui gèrent <a href="https://uk.inaturalist.org/">iNaturalist Royaume-Uni</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.conagebio.go.cr/Conagebio/public/">Commission nationale pour la gestion de la biodiversité (CONAGEBIO)</a> qui gère <a href="https://costarica.inaturalist.org/">Naturalista Costa Rica</a>
        </p>
      </li>
      <li>
        <p>
          le <a href="https://conap.gob.gt/">Conseil national des aires protégées (CONAP)</a> qui gère <a href="https://guatemala.inaturalist.org/">iNaturalist Guatemala</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.artdatabanken.se/">SLU centre d'information sur les espèces suédoises</a> qui gère <a href="https://www.inaturalist.se/">iNaturalist Suède</a>
        </p>
      </li>
    </p>
  </div>
</div>
