<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>iNaturalist Network</h2>

    <p class="lead">
      iNaturalist Network adalah kumpulan situs web dilokalkan yang terhubung dengan komunitas iNaturalist secara global. Jaringan situs didukung oleh institusi lokal yang mempromosikan penggunaan lokal dan memberikan fasilitas penggunaan data dari iNaturalist untuk kebaikan keaneka ragaman hayati lokal. Mereka memiliki akses ke koordinat yang tepat dari negara masing-masing yang terkaburkan secara otomatis dari publik untuk melindungi spesies yang terancam punah dengan baik.
    </p>
    <p>
      Nama pengguna dan kata sandi anda dapat digunakan ke dalam seluruh situs yang merupakan bagian dari iNaturalist Network. Jika anda memilih untuk mengafiliasikan dengan situs Network, institusi lokal yang mendukung situs terkait juga akan memiliki akses ke surel anda (hanya untuk berkomunikasi dengan anda mengenai aktivitas situs) dan mengakses koordinat yang teoat untuk pengamatan yang anda pilih untuk dikaburkan atau diprivasikan.
    </p>
    <p>
      <a href="https://www.inaturalist.org/pages/about">California Academy of Sciences</a> dan <a href="https://www.inaturalist.org/pages/about">National Geographic Society</a> memiliki perjanjian formal dengan organisasi pada tiap-tiap negara untuk mendukung penggunaan platform iNaturalist. <strong>Jika organisasi anda tertarik untuk bergabung dengan iNaturalist Network, anda dapat menemukan detail lainnya di <a href="https://www.inaturalist.org/pages/network-join">sini</a>.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      iNaturalist Network terdiri dari beberapa organisasi:
    </p>
    <ul>
      <li>
        <p>
          Departemen iNaturalist dari <a href="https://www.calacademy.org/">California Academy of Sciences</a> dan <a href="https://www.nationalgeographic.org/">National Geographic Society</a> yang mengoperasikan iNaturalist.org secara global dan seluruh infrastruktur dasar untuk Network ini
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodiversidad (CONABIO)</a> supporting <a href="http://www.naturalista.mx/">NaturaLista</a> in Mexico
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.nzbrn.org.nz/">New Zealand Biodiversity Recording Network</a> yang mendukung <a href="https://inaturalist.nz/">iNaturalist NZ — Mātaki Taiao</a> (sebelumnya NatureWatch NZ) di Selandia Baru
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.cwf-fcf.org/">Canadian Wildlife Federation (CWF)</a> bersama dengan <a href="http://www.pc.gc.ca/">Parks Canada</a>
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada</a> dan <a href="http://www.rom.on.ca/en">Royal Ontario Museum (ROM) </a> yang mendukung <a href="http://www.inaturalist.ca">iNaturalist Canada</a> di Kanada
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a> yang mendukung <a href="https://colombia.inaturalist.org/">Naturalista</a> di Kolombia
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.biodiversity4all.org/">Biodiversity4All</a> di Portugal
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a> yang mendukung <a href="https://panama.inaturalist.org/">iNaturalist Panamá</a>
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a> yang mendukung <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.ala.org.au/">Atlas of Living Australia</a> yang mendukung <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina</a> yang mendukung <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.haifa.ac.il/index.php/he/">University of Haifa</a> yang mendukung <a href="http://israel.inaturalist.org/">iNaturalist Israel</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://laji.fi/en">Finnish Biodiversity Information Facility</a> yang mendukung <a href="https://inaturalist.laji.fi/">iNaturalist Finland</a>
        </p>
      </li>
              <p>
          <a href="https://isea.com.gr/">iSea</a> and <a href="https://www.gnhm.gr/">Goulandris Museum of Natural History</a>  supporting <a href="http://greece.inaturalist.org/">iNaturalist Greece</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.mnhn.lu/">Luxembourg National Museum of Natural History (MnhnL)</a> supporting <a href="https://inaturalist.lu/">iNaturalist Luxembourg</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://nbn.org.uk/">National Biodiversity Network Trust</a>, <a href="https://www.mba.ac.uk/">Marine Biological Association</a>, and <a href="https://www.brc.ac.uk//">Biological Records Centre</a> supporting <a href="https://uk.inaturalist.org/">iNaturalist United Kingdom</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.conagebio.go.cr/Conagebio/public/">Comisión Nacional para la Gestión de la Biodiversidad (CONAGEBIO)</a> supporting <a href="https://costarica.inaturalist.org/">Naturalista Costa Rica</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://conap.gob.gt/">Consejo Nacional de Áreas Protegidas (CONAP)</a> supporting <a href="https://guatemala.inaturalist.org/">iNaturalist Guatemala</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.artdatabanken.se/">SLU Swedish Species Information Centre</a> supporting <a href="https://www.inaturalist.se/">iNaturalist Sweden</a>
        </p>
      </li>
    </p>
  </div>
</div>
