<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Réseau iNaturalist</h2>

    <p class="lead">
      Le réseau iNaturalist est un ensemble de sites web au niveau local qui sont entièrement connectés à la communauté mondiale iNaturalist. Les sites du réseau sont soutenus par des institutions locales qui promeuvent la participation du public et facilitent l'utilisation des données d'iNaturalist au profit de la biodiversité locale. Ils ont accès aux coordonnées exactes de leur pays qui sont automatiquement masquées à la vue du public afin de mieux protéger les espèces menacées.
    </p>
    <p>
      Votre nom d'utilisateur et votre mot de passe fonctionnent sur tous les sites qui font partie du réseau iNaturalist. Si vous choisissez de vous affilier avec un site du réseau, les institutions locales qui gèrent chaque site auront également accès à votre adresse mail (uniquement pour communiquer avec vous au sujet des activités du site) et aux coordonnées réelles pour les observations que vous avez choisies de rendre publiques ou privées.
    </p>
    <p>
      L'<a href="https://www.inaturalist.org/pages/about">Académie des Sciences de Californie</a> et la <a href="https://www.inaturalist.org/pages/about">National Geographic Society</a> ont des accords officiels avec des organisations dans chacun de ces pays pour soutenir l'utilisation de la plateforme iNaturalist. <strong>Si votre organisation souhaite rejoindre le réseau iNaturalist, vous pouvez trouver plus de détails <a href="https://www.inaturalist.org/pages/network-join">ici</a>.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2549-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      Le réseau iNaturalist est composé de plusieurs organisations :
    </p>
    <ul>
      <li>
        <p>
          le département iNaturalist de <a href="https://www.calacademy.org/">l'Académie des Sciences de Californie</a> et la <a href="https://www.nationalgeographic.org/">National Geographic Society</a> qui gèrent iNaturalist.org au niveau mondial et toute l'infrastructure sous-jacente du réseau
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodiversidad</a> supporting <a href="http://www.naturalista.mx/">NaturaLista</a> in Mexico
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.nzbrn.org.nz/">New Zealand Biodiversity Recording Network</a> supporting <a href="https://inaturalist.nz/">iNaturalist NZ — Mātaki Taiao</a> (formerly NatureWatch NZ) in New Zealand
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.cwf-fcf.org/">Canadian Wildlife Federation (CWF)</a> along with <a href="http://www.pc.gc.ca/">Parks Canada</a>, 
          <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada</a>, and the <a href="http://www.rom.on.ca/en">Royal Ontario Museum (ROM) </a> supporting <a href="http://www.inaturalist.ca">iNaturalist Canada</a> in Canada
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a> supporting <a href="https://colombia.inaturalist.org/">Naturalista</a> in Colombia
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.biodiversity4all.org/">Biodiversity4All</a> in Portugal
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a> supporting <a href="https://panama.inaturalist.org/">iNaturalist Panamá</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a> supporting <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.ala.org.au/">Atlas of Living Australia</a> supporting <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina</a> supporting <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.haifa.ac.il/index.php/he/">University of Haifa</a> supporting <a href="http://israel.inaturalist.org/">iNaturalist Israel</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://laji.fi/en">Finnish Biodiversity Information Facility</a> supporting <a href="https://inaturalist.laji.fi/">iNaturalist Finland</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://mma.gob.cl/">Ministerio del Medio Ambiente</a> supporting <a href="https://inaturalist.mma.gob.cl/">iNaturalist Chile</a>
        </p>
      </li>
      
              <p>
          <a href="https://isea.com.gr/">iSea</a> and <a href="https://www.gnhm.gr/">Goulandris Museum of Natural History</a>  supporting <a href="http://greece.inaturalist.org/">iNaturalist Greece</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.mnhn.lu/">Luxembourg National Museum of Natural History (MnhnL)</a> supporting <a href="https://inaturalist.lu/">iNaturalist Luxembourg</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://nbn.org.uk/">National Biodiversity Network Trust</a>, <a href="https://www.mba.ac.uk/">Marine Biological Association</a>, and <a href="https://www.brc.ac.uk//">Biological Records Centre</a> supporting <a href="https://inaturalist.mma.gob.cl/">iNaturalist Chile</a>
        </p>
      </li>
    </p>
  </div>
</div>
