= content_for(:extracss) do
  :css
    #network-content .img-thumbnail { width: 100%; }
    #network-orgs img { max-width: 200px; }
    #network-orgs td { vertical-align: middle; }
    #network-orgs ul { padding-left: 1em; }

#network-content.row
  .col-xs-10.col-xs-offset-1
    %h2=t :inaturalist_network
    %p.lead=t :sites_network_inaturalist_network_collection
    %p=t :sites_network_your_username
    %p=t :sites_network_cas_and_nat_geo_html,
      start_tag_cas: '<a href="https://www.inaturalist.org/pages/about">'.html_safe,
      end_tag_cas: "</a>".html_safe,
      start_tag_nat_geo: '<a href="https://www.inaturalist.org/pages/about">'.html_safe,
      end_tag_nat_geo: "</a>".html_safe,
      start_tag_join: '<a href="https://www.inaturalist.org/pages/network-join">'.html_safe,
      end_tag_join: "</a>".html_safe
    %img.img-thumbnail.stacked{ src: "https://static.inaturalist.org/wiki_page_attachments/3354-original.png" }
    %p=t :sites_network_consists_of
    %table#network-orgs.table
      %thead
        %tr
          %th=t :network_member
          %th=t :affiliated_organizations
      %tbody
        - @sites.each do |site|
          %tr
            %td
              = link_to site.url do
                = image_tag site.logo.url
            %td=raw site.affiliated_organizations
