<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Red de iNaturalist</h2>

    <p class="lead">
      La Red de iNaturalist es una colección de sitios web localizados que están totalmente conectados a la comunidad global de iNaturalist. Los sitios de red son apoyados por instituciones locales que promueven el uso local y facilitan el uso de datos de iNaturalist para beneficiar a la biodiversidad local. Tienen acceso a las coordenadas reales en sus países que se han ocultado automáticamente al público con el objetivo de proteger mejor las especies amenazadas.
    </p>
    <p>
      Tu nombre de usuario y contraseña funcionan en todos los sitios que forman parte de la Red iNaturalist. Si decides por afiliarte a un sitio de red, las instituciones locales que apoyan cada sitio también tendrán acceso a tu dirección de correo electrónico (sólo para comunicarse contigo sobre las actividades del sitio) y el acceso a las coordenadas reales de las observaciones que has decidido ocultarlas para el público o hacerlas privadas.
    </p>
    <p>
      La <a href="https://www.inaturalist.org/pages/about">California Academy of Sciences</a> y la <a href="https://www.inaturalist.org/pages/about">National Geographic Society</a> tienen acuerdos formales con organizaciones en cada uno de estos países para apoyar el uso de la plataforma iNaturalist. <strong>Si a tu organización le interesa unirse a la Red iNaturalist, podrán encontrar más información 
 <a href="https://www.inaturalist.org/pages/network-join">aquí</a>.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      La red iNaturalist está formada por varias organizaciones:
    </p>
    <ul>
      <li>
        <p>
          el Departamento iNaturalist de la <a href="https://www.calacademy.org/">California Academy of Sciences</a> y <a href="https://www.nationalgeographic.org/">National Geographic Society</a> que operan iNaturalist.org global y toda la infraestructura subyacente de la Red
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodiversidad (CONABIO)</a> supporting <a href="http://www.naturalista.mx/">NaturaLista</a> in Mexico
        </p>
      </li>
      <li>
        <p>
           la <a href="http://www.nzbrn.org.nz/">New Zealand Biodiversity Recording Network</a> apoya a <a href="https://inaturalist.nz/">iNaturalist NZ — Mātaki Taiao</a> (antes llamada NatureWatch NZ) en Nueva Zelanda
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.cwf-fcf.org/">Canadian Wildlife Federation (CWF)</a> along with <a href="http://www.pc.gc.ca/">Parks Canada</a>, 
          <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada</a>, and the <a href="http://www.rom.on.ca/en">Royal Ontario Museum (ROM) </a> supporting <a href="http://www.inaturalist.ca">iNaturalist Canada</a> in Canada
        </p>
      </li>
      <li>
        <p>
           el <a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a> apoya a <a href="https://colombia.inaturalist.org/">Naturalista</a> en Colombia
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.biodiversity4all.org/">Biodiversidad</a> en Portugal
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a> apoya <a href="https://panama.inaturalist.org/">iNaturalist Panamá</a>
        </p>
      </li>
      <li>
        <p>
          el <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a> apoya a <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>
        </p>
      </li>
      <li>
        <p>
           el <a href="https://www.ala.org.au/">Atlas of Living Australia</a> apoya a <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>
        </p>
      </li>
      <li>
        <p>
          la <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina</a> apoya a <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.haifa.ac.il/index.php/he/">Universidad de Haifa</a> apoya a <a href="http://israel.inaturalist.org/">iNaturalist</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://laji.fi/en">Finnish Biodiversity Information Facility</a> apoya <a href="https://inaturalist.laji.fi/">iNaturalist Finland</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://mma.gob.cl/">Ministerio del Medio Ambiente</a> apoya <a href="https://inaturalist.mma.gob.cl/">iNaturalist Chile</a>
        </p>
      </li>
              <p>
          <a href="https://isea.com.gr/">iSea</a> y el <a href="https://www.gnhm.gr/">Museo de Historia Natural de Goulandris</a>  apoyan <a href="http://greece.inaturalist.org/">iNaturalist Grecia</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.mnhn.lu/">Luxembourg National Museum of Natural History (MnhnL)</a> apoya <a href="https://inaturalist.lu/">iNaturalist Luxemburgo</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://nbn.org.uk/">National Biodiversity Network Trust</a>, <a href="https://www.mba.ac.uk/">Marine Biological Association</a>, and <a href="https://www.brc.ac.uk//">Biological Records Centre</a> supporting <a href="https://uk.inaturalist.org/">iNaturalist United Kingdom</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.conagebio.go.cr/Conagebio/public/">Comisión Nacional para la Gestión de la Biodiversidad (CONAGEBIO)</a> supporting <a href="https://costarica.inaturalist.org/">Naturalista Costa Rica</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://conap.gob.gt/">Consejo Nacional de Áreas Protegidas (CONAP)</a> supporting <a href="https://guatemala.inaturalist.org/">iNaturalist Guatemala</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.artdatabanken.se/">SLU Swedish Species Information Centre</a> supporting <a href="https://www.inaturalist.se/">iNaturalist Sweden</a>
        </p>
      </li>
    </p>
  </div>
</div>
