<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Red iNaturalist</h2>

    <p class="lead">
      La Red iNaturalist es una colección de sitios web localizados que están totalmente conectados a la comunidad global de iNaturalist. Los sitios web afiliados son administrados por instituciones locales que promueven la participación local y facilitan el uso de datos de iNaturalist para beneficiar la biodiversidad local. Tienen acceso a las coordenadas reales en sus países que se han ocultado automáticamente al público con el objetivo de proteger mejor las especies amenazadas.
    </p>
    <p>
      Tu nombre de usuario y contraseña funcionan en todos los sitios que forman parte de la Red iNaturalist. Si elegís afiliarte a un sitio de la red, las instituciones locales que apoyan a cada sitio también tendrán acceso a tu dirección de correo electrónico (sólo para comunicarse contigo acerca de las actividades del sitio) y acceso a las verdaderas coordenadas de observaciones que has escogido hacer privadas u ocultar al público.
    </p>
    <p>
      La <a href="https://www.inaturalist.org/pages/about">Academia de Ciencias de California</a> y la <a href="https://www.inaturalist.org/pages/about">National Geographic Society</a> tienen acuerdos formales con organizaciones en cada uno de estos países para apoyar el uso de la plataforma iNaturalista. <strong>Si tu organización está interesada en unirse a la Red iNaturalist podés encontrar más detalles <a href="https://www.inaturalist.org/pages/network-join">aquí</a>.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      La red iNaturalist está formada por varias organizaciones:
    </p>
    <ul>
      <li>
        <p>
          el Departamento iNaturalist de la <a href="https://www.calacademy.org/">Academia de Ciencias de California</a> y <a href="https://www.nationalgeographic.org/">la Sociedad National Geographic</a> que operan iNaturalist.org global y toda la infraestructura subyacente de la Red
        </p>
      </li>
      <li>
        <p>
           la <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodiversidad</a> apoya <a href="http://www.naturalista.mx/">NaturaLista</a> en México
        </p>
      </li>
      <li>
        <p>
           la <a href="http://www.nzbrn.org.nz/">Red de Registro de Biodiversidad de Nueva Zelanda</a> apoya a <a href="https://inaturalist.nz/">iNaturalist NZ — Mātaki Taiao</a> (antes NatureWatch NZ) en Nueva Zelanda
        </p>
      </li>
      <li>
        <p>
           La <a href="http://www.cwf-fcf.org/">Federación Canadiense de Vida Silvestre (CWF)</a> junto a <a href="http://www.pc.gc.ca/">Parques de Canadá</a>, <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada</a> y el <a href="http://www.rom.on.ca/en">Museo Real del Ontario (ROM) </a> apoyan a <a href="http://www.inaturalist.ca">iNaturalist Canadá</a> en Canadá
        </p>
      </li>
      <li>
        <p>
           el <a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a> apoya a <a href="https://colombia.inaturalist.org/">Naturalista</a> en Colombia
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.biodiversity4all.org/">Biodiversidty4All</a> en Portugal
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a> apoya <a href="https://panama.inaturalist.org/">iNaturalist Panamá</a>
        </p>
      </li>
      <li>
        <p>
          el <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a> apoya a <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>
        </p>
      </li>
      <li>
        <p>
           el <a href="https://www.ala.org.au/">Atlas of Living Australia</a> apoya <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina</a> apoyando <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.haifa.ac.il/index.php/he/">Universidad de Haifa</a> apoyando a <a href="http://israel.inaturalist.org/">iNaturalist Israel</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://laji.fi/en">Infraestructura Finlandesa de Información sobre Biodiversidad</a> apoyando <a href="https://inaturalist.laji.fi/">iNaturalist Finlandia</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://mma.gob.cl/">Ministerio del Medio Ambiente</a> apoyando <a href="https://inaturalist.mma.gob.cl/">iNaturalist Chile</a>
        </p>
      </li>
              <p>
          <a href="https://isea.com.gr/">iSea</a> y el <a href="https://www.gnhm.gr/">Museo de Historia Natural de Goulandris</a>  apoyan <a href="http://greece.inaturalist.org/">iNaturalist Grecia</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.mnhn.lu/">Museo Nacional de Historia Natural de Luxemburgo (MnhnL)</a> apoyando <a href="https://inaturalist.lu/">iNaturalist Luxemburgo</a>
        </p>
      </li>
      <li>
        <p>
          el <a href="https://nbn.org.uk/">Fideicomiso de la Red Nacional de Biodiversidad</a>, la <a href="https://www.mba.ac.uk/">Asociacion de Biología Marina</a> y el <a href="https://www.brc.ac.uk//">Centro de Registros Biológicos</a> apoyan <a href="https://uk.inaturalist.org/">iNaturalist Reino Unido</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.conagebio.go.cr/Conagebio/public/">Comisión Nacional para la Gestión de la Biodiversidad (CONAGEBI)</a> apoyando <a href="https://costarica.inaturalist.org/">Naturalista Costa Rica</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://conap.gob.gt/">Consejo Nacional de Áreas Protegidas (CONAP)</a> apoyando <a href="https://guatemala.inaturalist.org/">iNaturalist Guatemala</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.artdatabanken.se/">Centro de Información sobre Especies Suecas SLU</a> apoyando <a href="https://www.inaturalist.se/">iNaturalist Suecia</a>
        </p>
      </li>
    </p>
  </div>
</div>
