<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>iNaturalist Ağı</h2>

    <p class="lead">
      iNaturalist Ağı, küresel iNaturalist topluluğuna tamamen bağlı yerelleştirilmiş web sitelerinden oluşan bir ağdır. Ağ siteleri, yerel kullanımı özendiren ve yerel biyoçeşitliliğe yarar sağlamak için iNaturalist'ten gelen verilerin kullanımını kolaylaştıran yerel kurumlar tarafından desteklenmektedir. Tehdit altındaki türleri daha iyi korumak için ülkelerinden otomatik olarak kamuya açık görünümden gizlenen gerçek koordinatlara erişebilirler.
    </p>
    <p>
      Kullanıcı adınız ve şifreniz iNaturalist Ağı'nın bir parçası olan tüm sitelerde çalışır. Bir Ağ sitesine bağlı olmayı seçerseniz, her bir siteyi destekleyen yerel kurumlar, e-posta adresinize (yalnızca site etkinlikleriyle ilgili sizinle iletişim kurmak için) ve genel olarak gizlenmiş veya özel yapmayı seçtiğiniz gözlemler için gerçek koordinatlara erişebilir.
    </p>
    <p>
      <a href="https://www.inaturalist.org/pages/about">Kaliforniya Bilimler Akademisi</a> ve <a href="https://www.inaturalist.org/pages/about">National Geographic Society</a>, bu ülkelerin her birinde iNaturalist platformunun kullanımını desteklemek için örgütlerle resmi anlaşmalara sahiptir. <strong>Kuruluşunuz iNaturalist Ağı'na katılmakla ilgileniyorsa, daha çok bilgiyi <a href="https://www.inaturalist.org/pages/network-join">burada</a> bulabilirsiniz.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2193-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      iNaturalist Ağı çeşitli kuruluşlardan oluşur:
    </p>
    <ul>
      <li>
        <p>
          <a href="https://www.calacademy.org/">Kaliforniya Bilimler Akademisi</a> iNaturalist Bölümü ve <a href="https://www.nationalgeographic.org/">National Geographic Society</a> iNaturalist.org ve onun Ağ için olan bütün altyapısını işletmektedir.
        </p>
      </li>
      <li>
        <p>
          Meksika'da <a href="http://www.naturalista.mx/">NaturaLista</a>'yı destekleyen <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodiversidad</a>
        </p>
      </li>
      <li>
        <p>
          Yeni Zelanda'da <a href="https://inaturalist.nz/">iNaturalist NZ — Mātaki Taiao</a>'yu (eski adıyla NatureWatch NZ) destekleyen <a href="http://www.nzbrn.org.nz/">New Zealand Biodiversity Recording Network</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.pc.gc.ca/">Parks Canada</a> ile birlikte <a href="http://www.cwf-fcf.org/">Canadian Wildlife Federation (CWF)</a>
        </p>
      </li>
      <li>
        <p>
          Kanada'da <a href="http://www.inaturalist.ca">iNaturalist Canada</a>'yı destekleyen <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada</a> ve <a href="http://www.rom.on.ca/en">Royal Ontario Museum (ROM)</a>
        </p>
      </li>
      <li>
        <p>
          Kolombiya'da <a href="https://colombia.inaturalist.org/">Naturalista</a>'yı destekleyen <a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a>
        </p>
      </li>
      <li>
        <p>
          Portekiz'de <a href="https://www.biodiversity4all.org/">Biodiversity4All</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a>, <a href="https://panama.inaturalist.org/">iNaturalist Panamá</a>'yı destekliyor
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a>, <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>'u destekliyor
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.ala.org.au/">Atlas of Living Australia</a>, <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>'yı destekliyor
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina</a>, <a href="https://www.argentinat.org/home">ArgentiNat</a>'ı destekliyor
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.haifa.ac.il/index.php/he/">University of Haifa</a>, <a href="http://israel.inaturalist.org/">iNaturalist Israel</a>'i destekliyor
        </p>
      </li>
      <li>
        <p>
          <a href="https://laji.fi/en">Finnish Biodiversity Information Facility</a>, <a href="https://inaturalist.laji.fi/">iNaturalist Finland</a>'ı destekliyor
        </p>
      </li>
    </p>
  </div>
</div>
