<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>iNaturalist netwerk</h2>

    <p class="lead">
      Het iNaturalist netwerk is een verzameling van gelokaliseerde websites die volledig zijn verbonden met de wereldwijde iNaturalist community. Netwerksites worden ondersteund door lokale instellingen die lokaal gebruik bevorderen en het gebruik van gegevens van iNaturalist vergemakkelijken ten behoeve van de lokale biodiversiteit. Zij hebben toegang tot echte coördinaten vanuit hun land die automatisch uit de publieke opinie worden weggewuifd om bedreigde soorten beter te beschermen.
    </p>
    <p>
      Uw gebruikersnaam en wachtwoord werkt op alle websites die deel uitmaken van het iNaturalist netwerk. Als u kiest om mee te doen met een netwerksite de lokale instellingen die elke site ondersteunen zullen ook toegang hebben tot uw e-mailadres (alleen om met u te communiceren over siteactiviteiten) en toegang tot de echte coördinaten voor waarnemingen die u hebt gekozen om openbaar verborgen of privé te maken.
    </p>
    <p>
      De <a href="https://www.inaturalist.org/pages/about">California Academy of Sciences</a> en de <a href="https://www.inaturalist.org/pages/about">National Geographic Society</a> hebben formele overeenkomsten met organisaties in elk van deze landen om het gebruik van het iNaturalist platform te ondersteunen. <strong>Als uw organisatie geïnteresseerd is in het toetreden tot het iNaturalist Netwerk, kan u meer details vinden <a href="https://www.inaturalist.org/pages/network-join">hier</a>.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/1659-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      Het iNaturalist netwerk bestaat uit verschillende organisaties:
    </p>
    <ul>
      <li>
        <p>
          het iNaturalist Department van het California Academy of Sciences en National Geographic Society beheert de global iNaturalist. rg en alle onderliggende infrastructuur voor het netwerk
        </p>
      </li>
      <li>
        <p>
          de <a href="https://www.gob.mx/conabio">Comisioľn nacional para el conocimiento y uso de la biodiversidad</a> support <a href="http://www.naturalista.mx/">NaturaLista</a> in Mexico
        </p>
      </li>
      <li>
        <p>
          de <a href="http://www.nzbrn.org.nz/">Nieuw-Zeeland Biodiversity Recording Network</a> Steun <a href="https://inaturalist.nz/">iNaturalist NZ — Ma.pltaki Taiao</a> (voorheen NatureWatch NZ) in Nieuw-Zeeland
        </p>
      </li>
      <li>
        <p>
          de <a href="http://www.cwf-fcf.org/">Canadian Wildlife Federation (CWF)</a> samen met <a href="http://www.pc.gc.ca/">Parks Canada</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada</a> en het <a href="http://www.rom.on.ca/en">Royal Ontario Museum (ROM) </a> ondersteuning voor <a href="http://www.inaturalist.ca">iNaturalist Canada</a> in Canada
        </p>
      </li>
      <li>
        <p>
          de <a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a> support <a href="https://colombia.inaturalist.org/">Naturalista</a> in Colombia
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.biodiversity4all.org/">Biodiversity4All</a> in Portugal
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a> steunt <a href="https://panama.inaturalist.org/">iNaturalist Panama~</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a> Steun <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>
        </p>
      </li>
      <li>
        <p>
          de <a href="https://www.ala.org.au/">Atlas of Living Australia</a> support <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.vidasilvestre.org.ar/">Fundaciofting n Vida Silvestre Argentina</a> Steun <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.haifa.ac.il/index.php/he/">Universiteit van Haifa</a> steunt <a href="http://israel.inaturalist.org/">iNaturalist van Israël</a>
        </p>
      </li>
      <li>
        <p>
          de <a href="https://laji.fi/en">Fins Biodiversity Information Facility</a> steunt <a href="https://inaturalist.laji.fi/">iNaturalist Finland</a>
        </p>
      </li>
    </p>
  </div>
</div>
