<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Мережа iNaturalist</h2>

    <p class="lead">
      Мережа iNaturalist - це збірка локалізованих веб-сайтів, які повністю пов'язані із глобальною спільнотою iNaturalist. Сайти мережі підтримуються місцевими установами, які заохочують місцеві ініціативи та полегшують використання даних з iNaturalist задля збереження місцевого біорізноманіття. Вони мають доступ до точних координат з їхніх країн, які автоматично розмиваються для загального прегляду, щоб убезпечити захист загрожуваних видів.
    </p>
    <p>
      Ваше ім'я користувача та пароль працюватимуть на всіх сайтах, які є частиною мережі iNaturalist. Якщо ви вирішите стати приналежним до одного з сайтів Мережі, місцеві установи, які підтримують кожен сайт, також матимуть доступ до вашої адреси електронної пошти (лише для спілкування з вами про активність на сайті), а також доступ до точних координат ваших спостережень, позначених як публічно розмиті або як приватні.
    </p>
    <p>
      У <a href="https://www.inaturalist.org/pages/about">Каліфорнійській академії наук</a> та в <a href="https://www.inaturalist.org/pages/about">Національному Географічному Товаристві</a> є формальні угоди з організаціями в кожній з цих країн щодо підтримки використання платформи iNaturalist. <strong>Якщо ваша організація зацікавлена у приєднанні до мережі iNaturalist, більш детальну інформацію можна знайти <a href="https://www.inaturalist.org/pages/network-join">за посиланням</a>.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      Мережа iNaturalist складається з кількох організацій:
    </p>
    <ul>
      <li>
        <p>
          Відділення iNaturalist <a href="https://www.calacademy.org/">Каліфорнійської академії наук</a> та <a href="https://www.nationalgeographic.org/">Національне географічне товариство</a> , що керують глобальним iNaturalist.org та всією базовою інфраструктурою мережі
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodisidad (CONABIO)</a> підтримує <a href="http://www.naturalista.mx/">NaturaLista</a> у Мексиці
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.nzbrn.org.nz/">Мережа документування біорізноманіття Нової Зеландії</a>, що підтримує <a href="https://inaturalist.nz/">iNaturalist NZ - Mātaki Taiao</a> (раніше NatureWatch NZ) у Новій Зеландії
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.cwf-fcf.org/">Канадська федерація дикої природи (CWF)</a> разом із організацією <a href="http://www.pc.gc.ca/">Парки Канади</a>
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada</a> та <a href="http://www.rom.on.ca/en">Королівський музей Онтаріо</a>, що підтримують <a href="http://www.inaturalist.ca">iNaturalist Canada</a> в Канаді
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.humboldt.org.co/es/">Інститут Гумбольда</a>, що підтримує <a href="https://colombia.inaturalist.org/">Naturalista</a> в Колумбії
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.biodiversity4all.org/">Biodiversity4All</a> в Португалії
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a>, що підтримує <a href="https://panama.inaturalist.org/">iNaturalist Panamá</a>
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a>, що підтримує <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.ala.org.au/">Atlas of Living Australia</a>, що підтримує <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina</a>, що підтримує <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.haifa.ac.il/index.php/he/">Університет Хайфи</a>, що підтримує <a href="http://israel.inaturalist.org/">iNaturalist Israel</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://laji.fi/en">Finnish Biodiversity Information Facility</a>, що підтримує <a href="https://inaturalist.laji.fi/">iNaturalist Finland</a>
        </p>
      </li>
              <p>
          <a href="https://isea.com.gr/">iSea</a> та <a href="https://www.gnhm.gr/">Природничий музей імені Гуландріса</a> , що підтримує <a href="http://greece.inaturalist.org/">iNaturalist Greece</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.mnhn.lu/">Національний природничий музей Люксембургу (MnhnL)</a> , що підтримує <a href="https://inaturalist.lu/">iNaturalist Luxembourg</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://nbn.org.uk/">Національний фонд мережі з біорізноманіття</a>, <a href="https://www.mba.ac.uk/">Морська біологічна асоціація</a> та <a href="https://www.brc.ac.uk//">Центр біологічних спостережень</a>, що підтримують <a href="https://uk.inaturalist.org/">iNaturalist United Kingdom</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.conagebio.go.cr/Conagebio/public/">Comisión Nacional para la Gestión de la Biodisidad (CONAGEBIO)</a> підтримує <a href="https://costarica.inaturalist.org/">Naturalista Costa Rica</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://conap.gob.gt/">Consejo Nacional de Áreas Protegidas (CONAP)</a> підтримує <a href="https://guatemala.inaturalist.org/">iNaturalist Guatemala</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.artdatabanken.se/">SLU Шведський інформаційний центр за видами</a> підтримує <a href="https://www.inaturalist.se/">iNaturalist Sweden</a>
        </p>
      </li>
    </p>
  </div>
</div>
