<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>iNaturalist Ağı</h2>

    <p class="lead">
      iNaturalist Ağı; küresel iNaturalist topluluğuna tamamen bağlı olan yerelleştirilmiş web sitelerinin bir araya gelerek oluşturduğu bir ağdır. Ağ siteleri, yerel kullanımı özendiren ve yerel biyoçeşitliliğe yarar sağlamak için iNaturalist'ten gelen verilerin kullanımını kolaylaştıran yerel kurumlar tarafından desteklenmektedir. Bu kurumlar, tehdit altındaki türleri daha iyi korumak amacıyla, ülkelerinden otomatik olarak kamuya açık görünümden gizlenen gerçek koordinatlara erişim iznine sahiptir.
    </p>
    <p>
      Kullanıcı adınız ve parolanızla iNaturalist Ağı'na bağlı tüm sitelere giriş yapabilirsiniz. Bir Ağ sitesine bağlı olmayı seçerseniz; her bir siteyi destekleyen yerel kurumlar, eposta adresinize (sizinle yalnızca site etkinlikleriyle ilgili iletişim kurma amacıyla) ve genel olarak gizlenmiş veya özel olarak işaretlenmiş gözlemlerinizin gerçek koordinatlarına erişebilir.
    </p>
    <p>
      <a href="https://www.inaturalist.org/pages/about">Kaliforniya Bilimler Akademisi</a> ve <a href="https://www.inaturalist.org/pages/about">National Geographic Society</a>, iNaturalist platformunun kullanımının desteklenmesi için, bu ülkelerin her birindeki kuruluşlarla resmi olarak anlaşmalıdır. <strong>Kuruluşunuz iNaturalist Ağı'na katılmakla ilgileniyorsa, daha ayrıntılı bilgiye <a href="https://www.inaturalist.org/pages/network-join">buradan</a> ulaşabilirsiniz.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      iNaturalist Ağı çeşitli kuruluşlardan oluşur:
    </p>
    <ul>
      <li>
        <p>
          <a href="https://www.calacademy.org/">Kaliforniya Bilimler Akademisi</a> iNaturalist Bölümü ve <a href="https://www.nationalgeographic.org/">National Geographic Society</a>, küresel iNaturalist.org ve temelinde bulunan buna bağlı bütün altyapıları yürütmektedir.
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodiversidad (CONABIO)</a>: Meksika'da <a href="http://www.naturalista.mx/">NaturaLista</a>'yı destekliyor
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.nzbrn.org.nz/">New Zealand Biodiversity Recording Network</a>: Yeni Zelanda'da <a href="https://inaturalist.nz/">iNaturalist NZ — Mātaki Taiao</a>'yu (eski adıyla NatureWatch NZ) destekliyor
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.cwf-fcf.org/">Kanada Yabani Yaşam Federasyonu (CWF)</a>; <a href="http://www.pc.gc.ca/">Parks Canada</a>, <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada</a> ve <a href="http://www.rom.on.ca/en">Royal Ontario Museum (ROM)</a> ile birlikte Kanada'daki <a href="http://www.inaturalist.ca">iNaturalist Kanada</a>'yı destekliyor
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a>: Kolombiya'da <a href="https://colombia.inaturalist.org/">Naturalista</a>'yı destekliyor
        </p>
      </li>
      <li>
        <p>
          Portekiz'de <a href="https://www.biodiversity4all.org/">Biodiversity4All</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a>: <a href="https://panama.inaturalist.org/">iNaturalist Panamá</a>'yı destekliyor
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a>: <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>'u destekliyor
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.ala.org.au/">Atlas of Living Australia</a>: <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>'yı destekliyor
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina</a>: <a href="https://www.argentinat.org/home">ArgentiNat</a>'ı destekliyor
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.haifa.ac.il/index.php/he/">University of Haifa</a>: <a href="http://israel.inaturalist.org/">iNaturalist Israel</a>'i destekliyor
        </p>
      </li>
      <li>
        <p>
           <a href="https://laji.fi/en">Finnish Biodiversity Information Facility</a>: <a href="https://inaturalist.laji.fi/">iNaturalist Finland</a>'ı destekliyor
        </p>
      </li>
      <li>
        <p>
          <a href="https://mma.gob.cl/">Ministerio del Medio Ambiente</a>: <a href="https://inaturalist.mma.gob.cl/">iNaturalist Şili</a>'yi destekliyor
        </p>
      </li>
              <p>
          <a href="https://isea.com.gr/">iSea</a> ve <a href="https://www.gnhm.gr/">Goulandris Doğa Tarihi Müzesi</a>, <a href="http://greece.inaturalist.org/">iNaturalist Yunanistan</a>'ı destekliyor
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.mnhn.lu/">Lüksemburg Doğa Tarihi Ulusal Müzesi (MnhnL)</a>, <a href="https://inaturalist.lu/">iNaturalist Lüksemburg</a>'u destekliyor
        </p>
      </li>
      <li>
        <p>
          <a href="https://nbn.org.uk/">National Biodiversity Network Trust</a>,<a href="https://www.mba.ac.uk/">Marine Biological Association</a>, ve <a href="https://www.brc.ac.uk//">Biyolojik Kayıt Merkezi</a>, <a href="https://uk.inaturalist.org/">iNaturalist Birleşik Krallık</a>'ı destekliyor
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.conagebio.go.cr/Conagebio/public/">Comisión Nacional para la Gestión de la Biodiversidad (CONAGEBIO)</a>: <a href="https://costarica.inaturalist.org/">Naturalista Kosta Rika</a>'yı destekliyor
        </p>
      </li>
      <li>
        <p>
          <a href="https://conap.gob.gt/">Consejo Nacional de Áreas Protegidas (CONAP)</a>: <a href="https://guatemala.inaturalist.org/">iNaturalist Guatemala</a>'yı destekliyor
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.artdatabanken.se/">SLU İsveç Tür Bilgi Merkezi</a>: <a href="https://www.inaturalist.se/">iNaturalist İsveç</a>'i destekliyor
        </p>
      </li>
    </p>
  </div>
</div>
