<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Xarxa iNaturalist</h2>

    <p class="lead">
      La Xarxa iNaturalist és un conjunt de llocs web locals que estan totalment connectats a la comunitat global d'iNaturalist Els llocs de la xarxa són sostinguts per institucions locals que promouen la seva utilització local i faciliten l'ús de les dades d'iNaturalist per beneficiar la diversitat local. Tenen accés a les coordenades reals als seus països, ocultes automàticament al públic per protegir millor les espècies protegides.
    </p>
    <p>
      El seu nom d'usuari i contrasenya funcionen a tots els llocs que formen part de la Xarxa iNaturalist. Si escull afiliar-se a un lloc de la xarxa, les institucions locals que donen suport a cada un dels llocs també tindran accés a la vostra adreça de correu electrònic (només per comunicar-se amb tu sobre les activitats del lloc) i a les coordenades reals de les observacions que hàgiu seleccionat per ocultar-les al públic o fer privades.
    </p>
    <p>
      La <a href="https://www.inaturalist.org/pages/about">California Academy of Sciences</a> i la <a href="https://www.inaturalist.org/pages/about">National Geographic Society</a> tenen acords formals amb organitzacions de cada un d'aquests països per donar suport a l'ús de la plataforma iNaturalist. <strong>Si la vostra organització està interessada a unir-se a la Xarxa iNaturalist podeu trobar més detalls <a href="https://www.inaturalist.org/pages/network-join">ací</a>.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      La Xarxa iNaturalist està formada per moltes organitzacions:
    </p>
    <ul>
      <li>
        <p>
          El Departament d'iNaturalist de la <a href="https://www.calacademy.org/">California Academy of Sciences</a> i <a href="https://www.nationalgeographic.org/">National Geographic Society</a> operen la xarxa global d'iNaturalist.org i tota la infraestructura necessària pel manteniment d'aquesta xarxa.
        </p>
      </li>
      <li>
        <p>
           La <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodiversidad</a> dona suport a <a href="http://www.naturalista.mx/">NaturaLista</a> a Mèxic
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.nzbrn.org.nz/">New Zealand Biodiversity Recording Network</a> dona suport a <a href="https://inaturalist.nz/">iNaturalist NZ — Mātaki Taiao</a> (antes NatureWatch NZ) a Nova Zelanda
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.cwf-fcf.org/">Canadian Wildlife Federation (CWF)</a> amb <a href="http://www.pc.gc.ca/">Parks Canadá</a>, <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada</a>, i el <a href="http://www.rom.on.ca/en">Royal Ontario Museum (ROM) </a> donen suport a <a href="http://www.inaturalist.ca">iNaturalist Canada</a> a Canada
        </p>
      </li>
      <li>
        <p>
           L'<a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a> dona suport a <a href="https://colombia.inaturalist.org/">Naturalista</a> a Colòmbia
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.biodiversity4all.org/">Biodiversity4All</a> a Portugal
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a> dona suport a <a href="https://panama.inaturalist.org/">iNaturalist Panamà</a>
        </p>
      </li>
      <li>
        <p>
          L'<a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a> dona suport a <a href="https://ecuador.inaturalist.org/">iNaturalist Equador</a>
        </p>
      </li>
      <li>
        <p>
           L'<a href="https://www.ala.org.au/">Atlas of Living Koalia</a> dona suport a <a href="https://inaturalist.ala.org.au/">iNaturalist Austràlia</a>
        </p>
      </li>
      <li>
        <p>
          La <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina</a> dona suport a <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
          La <a href="https://www.haifa.ac.il/index.php/he/">Universitat de Haifa</a> dona suport a <a href="http://israel.inaturalist.org/">iNaturalist Israel</a>
        </p>
      </li>
      <li>
        <p>
           La <a href="https://laji.fi/en">Finnish Biodiversity Information Facility</a> dona suport a <a href="https://inaturalist.laji.fi/">iNaturalist Finlàndia</a>
        </p>
      </li>
      <li>
        <p>
          El <a href="https://mma.gob.cl/">Ministerio del Medio Ambiente</a>dona suport a <a href="https://inaturalist.mma.gob.cl/">iNaturalist Chile</a>
        </p>
      </li>
              <p>
          L'<a href="https://isea.com.gr/">iSea</a> i el <a href="https://www.gnhm.gr/">Goulandris Museum of Natural History</a>  donen suport a <a href="http://greece.inaturalist.org/">iNaturalist Grècia</a>
        </p>
      </li>
      <li>
        <p>
           El <a href="https://www.mnhn.lu/">Luxembourg National Museum of Natural History (MnhnL)</a> dona suport a<a href="https://inaturalist.lu/"> iNaturalist Luxemburg</a>
        </p>
      </li>
      <li>
        <p>
          El <a href="https://nbn.org.uk/">National Biodiversity Network Trust</a>, la <a href="https://www.mba.ac.uk/">Marine Biological Association</a> i el <a href="https://www.brc.ac.uk//">Biological Records Centre</a> donen suport a <a href="https://uk.inaturalist.org/">iNaturalist Regne Unit</a>
        </p>
      </li>
      <li>
        <p>
          La <a href="https://www.conagebio.go.cr/Conagebio/public/">Comisión Nacional para la Gestión de la Biodiversidad (CONAGEBIO)</a> dona suport a <a href="https://costarica.inaturalist.org/">Naturalista Costa Rica</a>
        </p>
      </li>
      <li>
        <p>
          El <a href="https://conap.gob.gt/">Consejo Nacional de Áreas Protegidas (CONAP)</a> dona suport a <a href="https://guatemala.inaturalist.org/">iNaturalist Guatemala</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.artdatabanken.se/">SLU Swedish Species Information Centre</a> dona suport a <a href="https://www.inaturalist.se/">iNaturalist Suècia</a>
        </p>
      </li>
    </p>
  </div>
</div>
