<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>iNaturalist 國際網路</h2>

    <p class="lead">
      iNaturalist 國際網路是連結至 iNaturalist 全球社群之在地化的網站。 國際網路的網站是由當地的相關單位所支持，旨在推廣在地群眾的參與，和促進使用 iNaturalist 資料來對當地的生物多樣性有所助益。 他們能取得來自他們國家中，為了更加保護受脅物種而自動隱藏的真實座標。
    </p>
    <p>
      您的使用者名稱和密碼可以在所有的 iNaturalist 國際網路成員之中的網站登入使用。 如果您選擇附屬於某個國際網路下，當地的支援機構將會有權限得知您的電子郵件位址(僅限於和您溝通網站的相關運作)，並能存取您選擇遮蔽或私有的觀察紀錄之真實座標。
    </p>
    <p>
      <a href="https://www.inaturalist.org/pages/about">加州科學院(California Academy of Sciences)</a>和<a href="https://www.inaturalist.org/pages/about">國家地理學會</a>和這些個別國家的組織都具有正式簽署的協議來支援使用 iNaturalist 平台。 <strong>如果您的組織對於加入 iNaturalist 國際網路有興趣，您可以在<a href="https://www.inaturalist.org/pages/network-join">此</a>找到更多相關的細節。</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      iNaturalist 國際網路包含以下許多組織單位：
    </p>
    <ul>
      <li>
        <p>
          <a href="https://www.calacademy.org/">加州科學館(California Academy of Sciences)</a>和<a href="https://www.nationalgeographic.org/">國家地理學會(National Geographic Society)</a>的 iNaturalist 部門營運全球的 iNaturalist.org 網站和所有國際網路的底層基礎架構
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodiversidad (CONABIO; 國家生物多樣性使用及知識委員會)</a> 支援墨西哥的<a href="http://www.naturalista.mx/">NaturaLista</a>
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.nzbrn.org.nz/">New Zealand Biodiversity Recording Network (紐西蘭生物多樣性錄音網路</a>支援紐西蘭的 <a href="https://inaturalist.nz/">iNaturalist NZ — Mātaki Taiao</a> (NatureWatch NZ 前身)
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.cwf-fcf.org/">Canadian Wildlife Federation (CWF; 加拿大野生動物聯盟)</a>以及<a href="http://www.pc.gc.ca/">Parks Canada(加拿大公園局)</a>、<a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada (加拿大公益自然)</a>，和<a href="http://www.rom.on.ca/en">Royal Ontario Museum (ROM; 安大略皇家博物館)</a> 支援加拿大的<a href="http://www.inaturalist.ca">iNaturalist Canada</a>
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.humboldt.org.co/es/">Instituto Humboldt (洪堡德研究所)</a>支援哥倫比亞的<a href="https://colombia.inaturalist.org/"> Naturalista</a>
        </p>
      </li>
      <li>
        <p>
          葡萄牙的<a href="https://www.biodiversity4all.org/">Biodiversity4All</a> 
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente (巴拿馬環境部)</a>支援<a href="https://panama.inaturalist.org/">iNaturalist Panamá</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO; 國家生物多樣性機構)</a>支援<a href="https://ecuador.inaturalist.org/"> iNaturalist Ecuador</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.ala.org.au/">Atlas of Living Australia (澳洲生命地圖)</a>支援<a href="https://inaturalist.ala.org.au/"> iNaturalist Australia</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina (阿根廷野生動物保護基金會)</a> 支援 <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.haifa.ac.il/index.php/he/">University of Haifa (海法大學)</a>支援<a href="http://israel.inaturalist.org/">iNaturalist Israel</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://laji.fi/en">Finnish Biodiversity Information Facility (芬蘭生物多樣性資訊機構)</a>支援<a href="https://inaturalist.laji.fi/">iNaturalist Finland</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://mma.gob.cl/">Ministerio del Medio Ambiente (智利環境部)</a>支援<a href="https://inaturalist.mma.gob.cl/">iNaturalist Chile</a>
        </p>
      </li>
              <p>
          <a href="https://isea.com.gr/">iSea</a>和 <a href="https://www.gnhm.gr/">Goulandris Museum of Natural History (古蘭德里斯自然史博物館) </a>支援<a href="http://greece.inaturalist.org/">iNaturalist Greece</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.mnhn.lu/">Luxembourg National Museum of Natural History (MnhnL; 盧森堡國家自然史博物館)</a>支援<a href="https://inaturalist.lu/">iNaturalist Luxembourg</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://nbn.org.uk/">National Biodiversity Network Trust (國家生物多樣性網路信託)</a>, <a href="https://www.mba.ac.uk/">Marine Biological Association (海洋生物協會)</a>, and <a href="https://www.brc.ac.uk//">Biological Records Centre (生物記錄中心)</a>支援 <a href="https://uk.inaturalist.org/">iNaturalist United Kingdom</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.conagebio.go.cr/Conagebio/public/">Comisión Nacional para la Gestión de la Biodiversidad (CONAGEBIO; 國家生物多樣性管理委員會))</a>支援<a href="https://costarica.inaturalist.org/">Naturalista Costa Rica</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://conap.gob.gt/">Consejo Nacional de Áreas Protegidas (CONAP; 國家保護區委員會)</a>支援<a href="https://guatemala.inaturalist.org/">iNaturalist Guatemala</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.artdatabanken.se/">SLU Swedish Species Information Centre (SLU 瑞典物種資訊中心)</a>支援<a href="https://www.inaturalist.se/">iNaturalist Sweden</a>
        </p>
      </li>
    </p>
  </div>
</div>
