<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>เครือข่าย iNaturalist</h2>

    <p class="lead">
      เครือข่าย iNaturalist เป็นการรวบรวมเว็บไซต์ที่เกี่ยวข้องกับ iNaturalist จากแต่ละแห่งในท้องที่ต่าง ๆ มารวมเป็น iNaturalist community ระดับโลก ซึ่ง Network sites ได้รับการสนับสนุนโดยสถาบันในท้องถิ่นที่ส่งเสริมการใช้ข้อมูลจาก iNaturalist เพื่อประโยชน์แก่ความหลากหลายชีวภาพในท้องถิ่น ผู้ใช้สามารถเข้าถึงพิกัดที่แท้จริงจากประเทศของตน โดยมีระบบปกปิดพิกัดที่แท้จริงอัตโนมัติจากสาธารณะเพื่อปกป้องสิ่งมีชีวิตที่มีความเสี่ยงต่อการสูญพันธุ์
    </p>
    <p>
      สามารถใช้ชื่อผู้ใช้งานและรหัสผ่านเดียวกับบนทุกเว็บไซต์ที่เป็นเครือข่าย iNaturalist ถ้าชื่อผู้ใช้งานเลือกที่จะมีส่วนเกี่ยวข้องกับไซต์ของเครือข่าย สถาบันในท้องถิ่นที่สนับสนุนไซต์นั้นจะทราบอีเมล์ของผู้ใช้ (ทั้งนี้ เพื่อใช้สื่อสารกับผู้ใช้ถึงกิจกรรมที่เกี่ยวข้องกับไซต์เท่านั้น) และเข้าถึงพิกัดที่แท้จริงที่ผู้ใช้บันทึกสิ่งที่สังเกต (observations) เพื่อช่วยปิดบังหรือทำให้เป็นส่วนตัว
    </p>
    <p>
      สถาบันวิทยาศาสตร์แคลิฟอร์เนีย <a href="https://www.inaturalist.org/pages/about">(California Academy of Sciences)</a> และ สมาคมเนชั่นแนล จีโอกราฟิก <a href="https://www.inaturalist.org/pages/about">(National Geographic Society) </a> มีการทำข้อตกลงอย่างเป็นทางการกับองค์กรที่เกี่ยวข้องในแต่ละประเทศที่สนับสนุนการใช้ฐานบริการ iNaturalist <strong>หากหน่วยงานหรือองค์กรของท่านสนใจเข้าร่วมเป็นเครือข่าย iNaturalist ท่านสามารถเข้าไปดูรายละเอียดเพิ่มเติมได้ <a href="https://www.inaturalist.org/pages/network-join">ที่นี่ </a></strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      หน่วยงานต่าง ๆ ที่เข้าร่วมเป็นเครือข่าย iNaturalist ได้แก่
    </p>
    <ul>
      <li>
        <p>
          ฝ่าย iNaturalist ของ สถาบันวิทยาศาสตร์แคลิฟอร์เนีย <a href="https://www.calacademy.org/">(California Academy of Sciences)</a> และ สมาคมเนชั่นแนล จีโอกราฟิก <a href="https://www.nationalgeographic.org/">(National Geographic Society) </a> ซึ่งเป็นผู้ดำเนินการ iNaturalist.org ระดับโลกและโครงสร้างอื่น ๆ ภายใต้เครือข่าย
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodiversidad (CONABIO)</a> สนับสนุน<a href="http://www.naturalista.mx/">NaturaLista</a>ในแม็กซิโก
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.nzbrn.org.nz/">เครือข่ายบันทึกความหลากหลายทางชีวภาพของนิวซีแลนด์</a> สนับสนุน <a href="https://inaturalist.nz/">iNaturalist NZ — Mātaki Taiao</a> (formerly NatureWatch NZ)ในนิวซีแลนด์
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.cwf-fcf.org/">สหพันธ์สัตว์ป่าแคนาดา (CWF)</a> ร่วมกับ <a href="http://www.pc.gc.ca/">อุทยานในแคนาดา</a>, 
          <a href="http://www.natureserve.org/natureserve-network/canada">แหล่งอนุรักษ์ทางธรรมชาติแคนาดา</a> และ <a href="http://www.rom.on.ca/en">พิพิธภัณฑ์รอยัล ออนตาริโอ (ROM) </a> สนับสนุน<a href="http://www.inaturalist.ca">iNaturalist Canada</a> ในแคนาดา
        </p>
      </li>
      <li>
        <p>
           the <a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a> สนับสนุน <a href="https://colombia.inaturalist.org/">Naturalista</a> ในสาธารณรัฐโคลอมเบีย
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.biodiversity4all.org/">Biodiversity4All</a> ในประเทศโปรตุเกส
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a> สนับสนุน<a href="https://panama.inaturalist.org/">iNaturalist Panamá</a> ประเทศปานามา
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a> สนับสนุน <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a> สาธารณรัฐเอกวาดอร์
        </p>
      </li>
      <li>
        <p>
           the <a href="https://www.ala.org.au/">Atlas of Living Australia</a> สนับสนุน <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a> ประเทศออสเตรเลีย
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina</a> สนับสนุน <a href="https://www.argentinat.org/home">ArgentiNat</a> ในอาร์เจนตินา
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.haifa.ac.il/index.php/he/">University of Haifa</a> สนับสนุน <a href="http://israel.inaturalist.org/">iNaturalist Israel</a> อิสราเอล
        </p>
      </li>
      <li>
        <p>
           <a href="https://laji.fi/en">Finnish Biodiversity Information Facility</a> สนับสนุน <a href="https://inaturalist.laji.fi/">iNaturalist ฟินแลนด์</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://mma.gob.cl/">Ministerio del Medio Ambiente</a> สนับสนุน <a href="https://inaturalist.mma.gob.cl/">iNaturalist ชิลี</a>
        </p>
      </li>
              <p>
          <a href="https://isea.com.gr/">iSea</a> and <a href="https://www.gnhm.gr/">พิพิธภัณฑ์ประวัติศาสตร์ธรรมชาติ Goulandris</a>  สนับสนุน <a href="http://greece.inaturalist.org/">iNaturalist กรีซ</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.mnhn.lu/"> พิพิธภัณฑ์ประวัติศาสตร์ธรรมชาติแห่งชาติลักเซมเบิร์ก (MnhnL)</a> สนับสนุน <a href="https://inaturalist.lu/">iNaturalist ลักเซมเบิร์ก </a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://nbn.org.uk/">National Biodiversity Network Trust</a>, <a href="https://www.mba.ac.uk/">สมาคมชีววิทยาทางทะเล</a>, and <a href="https://www.brc.ac.uk//">ศูนย์บันทึกข้อมูลทางชีวภาพ</a> สนับสนุน <a href="https://uk.inaturalist.org/">iNaturalist สหราชอาณาจักร</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.conagebio.go.cr/Conagebio/public/">Comisión Nacional para la Gestión de la Biodiversidad (CONAGEBIO)</a> สนับสนุน <a href="https://costarica.inaturalist.org/">Naturalista คอสตาริกา</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://conap.gob.gt/">Consejo Nacional de Áreas Protegidas (CONAP)</a> สนับสนุน <a href="https://guatemala.inaturalist.org/">iNaturalist กัวเตมาลา</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.artdatabanken.se/">SLU Swedish Species Information Centre</a> สนับสนุน <a href="https://www.inaturalist.se/">iNaturalist สวีเดน</a>
        </p>
      </li>
    </p>
  </div>
</div>
