<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Сеть iNaturalist</h2>

    <p class="lead">
      Сеть iNaturalist - это набор локализованных веб-сайтов, которые полностью связаны с глобальным сообществом iNaturalist. Сетевые сайты поддерживаются местными учреждениями, которые подписали соглашение с iNaturalist о том, чтобы пропагандировать местное биоразнообразие и приносить ему пользу. Они имеют доступ к истинным координатам, относящимся к своим странам, которые автоматически скрываются от общественности в целях защиты находящихся под угрозой видов.
    </p>
    <p>
      Ваши имя пользователя и пароль работают на всех сайтах, входящих в сеть iNaturalist. Если вы решите присоединиться к сетевому сайту, местные учреждения, которые управляют каждым сайтом, также будут иметь доступ к вашему адресу электронной почты (только для связи с вами о деятельности сайта) и доступ к истинным координатам наблюдений, которые публично скрыты или являются конфиденциальными.
    </p>
    <p>
      <a href="https://www.inaturalist.org/pages/about">Калифорнийская Академия наук</a> и <a href="https://www.inaturalist.org/pages/about">Национальное Географическое общество</a> заключили официальные соглашения с организациями в каждой из этих стран в поддержку использования платформы iNaturalist. <strong>Если ваша организация заинтересована в присоединении к сети iNaturalist, вы можете найти более подробную информацию <a href="https://www.inaturalist.org/pages/network-join">здесь</a>.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      В сеть iNaturalist Network входят следующие организации:
    </p>
    <ul>
      <li>
        <p>
          Отделение iNaturalist <a href="https://www.calacademy.org/">Калифорнийской академии наук</a> и <a href="https://www.nationalgeographic.org/">Национальное Географическое общество</a> управляющие глобальным iNaturalist.org и всей базовой инфраструктурой сети
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.gob.mx/conabio">Национальная комиссия по знаниям и использованию биоразнообразия (CONABIO)</a> поддерживает <a href="http://www.naturalista.mx/">NaturaLista</a> в Мексике
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.nzbrn.org.nz/">Сеть учета биоразнообразия Новой Зеландии New Zealand Biological Recording Network (NZBRN)</a> поддерживает<a href="https://inaturalist.nz/">iNaturalist NZ — Mātaki Taiao</a> (прежнее название NatureWatch NZ) в Новой Зеландии
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.cwf-fcf.org/">Канадская федерация дикой природы (CWF)</a> наряду с <a href="http://www.pc.gc.ca/">Парками Канады</a>, 
          <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Канады</a> и <a href="http://www.rom.on.ca/en">Королевским музеем Онтарио (ROM) </a> поддерживают <a href="http://www.inaturalist.ca">iNaturalist Canada</a> в Канаде
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.humboldt.org.co/es/">Институт Гумбольдта Instituto Humboldt</a> поддерживает <a href="https://colombia.inaturalist.org/">Naturalista</a> в Колумбии
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.biodiversity4all.org/">сеть Biodiversity4All</a> в Португалии
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">сеть MiAmbiente</a> поддерживает <a href="https://panama.inaturalist.org/">iNaturalist Panamá</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.biodiversidad.gob.ec">Национальный институт биоразнообразия Instituto Nacional de Biodiversidad (INABIO)</a> поддерживает <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>
        </p>
      </li>
      <li>
        <p>
           the <a href="https://www.ala.org.au/">Атлас живой природы Atlas of Living Australia (ALA)</a> поддерживает <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.vidasilvestre.org.ar/">Ассоциация Fundación Vida Silvestre Argentina</a> поддерживает <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.haifa.ac.il/index.php/he/">Хайфский университет University of Haifa</a> поддерживает <a href="http://israel.inaturalist.org/">iNaturalist Israel</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://laji.fi/en">Финская информационная система о биоразнообразии Finnish Biodiversity Information Facility</a> поддерживает <a href="https://inaturalist.laji.fi/">iNaturalist Finland</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://mma.gob.cl/">Министерство окружающей среды</a> поддерживает <a href="https://inaturalist.mma.gob.cl/">iNaturalist Chile</a>
        </p>
      </li>
              <p>
          <a href="https://isea.com.gr/">iSea</a> и <a href="https://www.gnhm.gr/"> Музей естественной истории Goulandris</a>  поддерживает <a href="http://greece.inaturalist.org/">iNaturalist Greece</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.mnhn.lu/">Национальный музей естественной истории Люксембурга (MnhnL)</a> поддерживает <a href="https://inaturalist.lu/">iNaturalist Luxembourg</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://nbn.org.uk/">Фонд национальной сети по биоразнообразию</a>, <a href="https://www.mba.ac.uk/">Ассоциация морской биологии</a> and <a href="https://www.brc.ac.uk//">Центр регистрации биологических данных</a> поддерживают <a href="https://uk.inaturalist.org/">iNaturalist United Kingdom</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.conagebio.go.cr/Conagebio/public/">Национальная комиссия по управлению биоразнообразием (CONAGEBIO)</a> поддерживает <a href="https://costarica.inaturalist.org/">Naturalista Costa Rica</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://conap.gob.gt/">Национальный совет охраняемых территорий (CONAP)</a> поддерживает <a href="https://guatemala.inaturalist.org/">iNaturalist Guatemala</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.artdatabanken.se/">SLU Шведский информационный центр по видам</a> поддерживает <a href="https://www.inaturalist.se/">iNaturalist Sweden</a>
        </p>
      </li>
    </p>
  </div>
</div>
