<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>iNaturalist Network</h2>

    <p class="lead">
      iNaturalist-netværket er en samling af lokaliserede websteder, som er fuldt forbundne til det globale iNaturalist-fællesskab. Netværkswebsteder understøttes af lokale institutioner, som fremmer lokalt brug og letter brugen af data fra iNaturalist til fordel for lokal biodiversitet. De har adgang til reelle koordinater fra deres lande, som ellers automatisk skjules i offentlige visninger mhp. bedre beskyttelse af truede arter.
    </p>
    <p>
      Dit brugernavn og adgangskode virker på alle websteder, som udgør en del af iNaturalist-netværket. Vælger du tilknytning til et netværkswebsted, har de lokale institutioner, som understøtter hvert websted, også adgang til din e-mailadresse (kun mhp. at kommunikere med dig om webstedsaktiviteter) samt adgang til de reelle koordinater for observationer, som du har valgt at skjule i offentligt visninger eller gøre fortrolige.
    </p>
    <p>
      <a href="https://www.inaturalist.org/pages/about">California Academy of Sciences</a> og <a href="https://www.inaturalist.org/pages/about">National Geographic Society</a> har formelle aftaler med organisationer i hvert af disse lande om at understøtte brugen af iNaturalist-platformen. <strong>Er din organisation interesseret i at deltage i iNaturalist Network, kan du finde yderligere detaljer<a href="https://www.inaturalist.org/pages/network-join">hér</a>.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      iNaturalist-netværket består af adskillige organisationer:
    </p>
    <ul>
      <li>
        <p>
          iNaturalist-afdelingen af <a href="https://www.calacademy.org/">California Academy of Sciences</a> og <a href="https://www.nationalgeographic.org/">National Geographic Society</a>, som driver det globale iNaturalist.org samt al underliggende infrastruktur for netværket
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodiversidad (CONABIO)</a> understøtter <a href="http://www.naturalista.mx/">NaturaLista</a> i Mexico
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.nzbrn.org.nz/">New Zealand Biodiversity Recording Network</a> understøtter <a href="https://inaturalist.nz/">iNaturalist NZ — Mātaki Taiao</a> (tidligere NatureWatch NZ) i New Zealand
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.cwf-fcf.org/">Canadian Wildlife Federation (CWF)</a> sammen med <a href="http://www.pc.gc.ca/">Parks Canada</a>, 
          <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada</a>, og <a href="http://www.rom.on.ca/en">Royal Ontario Museum (ROM)</a> understøtter <a href="http://www.inaturalist.ca">iNaturalist Canada</a> i Canada
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a> understøtter <a href="https://colombia.inaturalist.org/">Naturalista</a> i Colombia
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.biodiversity4all.org/">Biodiversity4All</a> i Portugal
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a> understøtter <a href="https://panama.inaturalist.org/">iNaturalist Panamá</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a> understøtter <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.ala.org.au/">Atlas of Living Australia</a> understøtter <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina</a> understøtter <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.haifa.ac.il/index.php/he/">University of Haifa</a> understøtter <a href="http://israel.inaturalist.org/">iNaturalist Israel</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://laji.fi/en">Finnish Biodiversity Information Facility</a> understøtter <a href="https://inaturalist.laji.fi/">iNaturalist Finland</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://mma.gob.cl/">Ministerio del Medio Ambiente</a> understøtter <a href="https://inaturalist.mma.gob.cl/">iNaturalist Chile</a>
        </p>
      </li>
              <p>
          <a href="https://isea.com.gr/">iSea</a> og <a href="https://www.gnhm.gr/">Goulandris Museum of Natural History</a>  understøtter <a href="http://greece.inaturalist.org/">iNaturalist Grækenland</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.mnhn.lu/">Luxembourg National Museum of Natural History (MnhnL)</a> understøtter <a href="https://inaturalist.lu/">iNaturalist Luxembourg</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://nbn.org.uk/">National Biodiversity Network Trust</a>, <a href="https://www.mba.ac.uk/">Marine Biological Association</a>og <a href="https://www.brc.ac.uk//">Biological Records Centre</a> understøtter <a href="https://uk.inaturalist.org/">iNaturalist Storbritannien</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.conagebio.go.cr/Conagebio/public/">Comisiośn Nacional para la Gestiośn de la Biodiversidad (CONAGEBIO)</a> understøtter <a href="https://costarica.inaturalist.org/">Naturalista Costa Rica</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://conap.gob.gt/">Consejo Nacional de Áreas Protegidas (CONAP)</a> understøtter <a href="https://guatemala.inaturalist.org/">iNaturalist Guatemala</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.artdatabanken.se/">SLU Svensk Arts Informations Center</a> understøtter <a href="https://www.inaturalist.se/">iNaturalist Sverige</a>
        </p>
      </li>
    </p>
  </div>
</div>
