<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>iNaturalist-Netzwerk</h2>

    <p class="lead">
      Das iNaturalist-Netzwerk ist ein Zusammenschluss von regionalen Websites, die vollständig mit der globalen iNaturalist-Community verbunden sind. Netzwerk-Websites werden von lokalen Institutionen unterstützt, die die regionale Nutzung fördern und die erleichterte Nutzung der Daten von iNaturalist ermöglichen, um die örtliche biologischen Vielfalt zu unterstützen. Sie haben Zugang zu echten Koordinaten aus ihren Ländern, die automatisch vor der Öffentlichkeit verborgen werden, um bedrohte Arten besser zu schützen.
    </p>
    <p>
      Dein Benutzername und Passwort funktionieren auf allen Seiten, die Teil des iNaturalist-Netzwerks sind. Wenn du dich für eine Netzwerk-Webseite entscheidest, haben die lokalen Institutionen, die die jeweilige Webseite unterstützen, auch Zugriff auf deine E-Mail-Adresse (nur um mit dir über die Aktivitäten der Website zu kommunizieren) und Zugriff auf die wahren Koordinaten für Beobachtungen, die du als öffentlich verdeckt oder privat eingestellt hast.
    </p>
    <p>
      Die <a href="https://www.inaturalist.org/pages/about">California Academy of Sciences</a> und die <a href="https://www.inaturalist.org/pages/about">National Geographic Society</a> haben offizielle Vereinbarungen mit Organisationen in jedem dieser Länder geschlossen, um die Nutzung der iNaturalist Plattform zu unterstützen. <strong>Wenn Ihre Organisation daran interessiert ist, dem iNaturalist-Netzwerk beizutreten, finden Sie weitere Details <a href="https://www.inaturalist.org/pages/network-join">hier</a>.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      Das iNaturalist-Netzwerk besteht aus mehreren Organisationen:
    </p>
    <ul>
      <li>
        <p>
          die iNaturalist-Abteilung der <a href="https://www.calacademy.org/">California Academy of Sciences</a> und <a href="https://www.nationalgeographic.org/">National Geographic Society</a>, zuständig für das globale iNaturalist.org und alle zugrunde liegende Infrastruktur für das Netzwerk
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodiversidad (CONABIO)</a> unterstützt <a href="http://www.naturalista.mx/">NaturaLista</a> in Mexiko
        </p>
      </li>
      <li>
        <p>
           das <a href="http://www.nzbrn.org.nz/">New Zealand Biodiversity Recording Network</a> unterstützt <a href="https://inaturalist.nz/">iNaturalist NZ — Mātaki Taiao</a> (ehemals NatureWatch NZ) in Neuseeland
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.cwf-fcf.org/">Canadian Wildlife Federation (CWF)</a> zusammen mit <a href="http://www.pc.gc.ca/">Parks Canada</a>, 
          <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada</a> und das <a href="http://www.rom.on.ca/en">Royal Ontario Museum (ROM) </a> unterstützen <a href="http://www.inaturalist.ca">iNaturalist Canada</a> in Canada
        </p>
      </li>
      <li>
        <p>
           das <a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a> unterstützt <a href="https://colombia.inaturalist.org/">Naturalista</a> in Kolumbien
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.biodiversity4all.org/">Biodiversity4All</a> in Portugal
        </p>
      </li>
      <li>
        <p>
          <a href="https://miambiente.gob.pa/">MiAmbiente</a> unterstützt <a href="https://panama.inaturalist.org/">iNaturalist Panamá</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a> unterstützt <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>
        </p>
      </li>
      <li>
        <p>
           der <a href="https://www.ala.org.au/">Atlas of Living Australia</a> unterstützt <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentinien</a> unterstützt <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.haifa.ac.il/index.php/he/">University of Haifa</a> unterstützt <a href="http://israel.inaturalist.org/">iNaturalist Israel</a>
        </p>
      </li>
      <li>
        <p>
           die <a href="https://laji.fi/en">Finnish Biodiversity Information Facility</a> unterstützt <a href="https://inaturalist.laji.fi/">iNaturalist Finland</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://mma.gob.cl/">Ministerio del Medio Ambiente</a> unterstützt <a href="https://inaturalist.mma.gob.cl/">iNaturalist Chile</a>
        </p>
      </li>
              <p>
          <a href="https://isea.com.gr/">iSea</a> und <a href="https://www.gnhm.gr/">Goulandris Museum of Natural History</a> unterstützen <a href="http://greece.inaturalist.org/">iNaturalist Griechenland</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.mnhn.lu/">Luxemburgisches Nationalmuseum für Naturgeschichte (MnhnL)</a> unterstützt <a href="https://inaturalist.lu/">iNaturalist Luxemburg</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://nbn.org.uk/">Vertrauen des Nationalen Netzes für biologische Vielfalt</a>, <a href="https://www.mba.ac.uk/">Marine Biological Association</a>und <a href="https://www.brc.ac.uk//">Biological Records Centre</a> Unterstützung <a href="https://uk.inaturalist.org/">iNaturalist Großbritannien</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.conagebio.go.cr/Conagebio/public/">Comisión Nacional para la Gestión de la Biodiversidad (CONAGEBIO)</a> unterstützt <a href="https://costarica.inaturalist.org/">Naturalista Costa Rica</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://conap.gob.gt/">Consejo Nacional de Áreas Protegidas (CONAP)</a> unterstützt <a href="https://guatemala.inaturalist.org/">iNaturalist Guatemala</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.artdatabanken.se/">SLU Swedish Species Information Centre</a> unterstützt <a href="https://www.inaturalist.se/">iNaturalist Schweden</a>
        </p>
      </li>
    </p>
  </div>
</div>
