<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Δίκτυο iNaturalist</h2>

    <p class="lead">
      Το Δίκτυο iNaturalist είναι μια συλλογή από τοπικούς ιστότοπους που είναι πλήρως συνδεδεμένοι με τη διεθνή κοινότητα του iNaturalist. Οι ιστότοποι του Δικτύου υποστηρίζονται από τοπικούς φορείς που προωθούν την τοπική συμμετοχή και διευκολύνουν τη χρήση δεδομένων από το iNaturalist για να ωφελήσουν την τοπική βιοποικιλότητα. Έχουν πρόσβαση σε πραγματικές συντεταγμένες από τις χώρες τους, οι οποίες αυτομάτως αποκρύπτονται από τη δημόσια προβολή, προκειμένου να προστατευθούν καλύτερα τα απειλούμενα είδη.
    </p>
    <p>
      Το όνομα χρήστη και ο κωδικός πρόσβασής σας λειτουργούν σε όλους τους ιστότοπους που αποτελούν μέρος του Δικτύου iNaturalist. Εάν επιλέξετε να συσχετιστείτε με έναν ιστότοπο του Δικτύου, οι τοπικοί φορείς που υποστηρίζουν κάθε ιστότοπο θα έχουν επίσης πρόσβαση στη διεύθυνση email σας (μόνο για να επικοινωνούν μαζί σας σχετικά με τις δραστηριότητες του ιστότοπου) και πρόσβαση στις πραγματικές συντεταγμένες για παρατηρήσεις που έχετε επιλέξει να κάνετε δημοσίως σκιαγραφημένες ή ιδιωτικές.
    </p>
    <p>
      Το <a href="https://www.inaturalist.org/pages/about">California Academy of Sciences</a> και το <a href="https://www.inaturalist.org/pages/about">National Geographic Society</a> έχουν συνάψει επίσημες συμφωνίες με οργανισμούς σε κάθε μία από αυτές τις χώρες για να υποστηρίξουν τη χρήση της πλατφόρμας iNaturalist. <strong>Αν ο οργανισμός σας ενδιαφέρεται να ενταχθεί στο Δίκτυο iNaturalist, μπορείτε να βρείτε περισσότερες λεπτομέρειες <a href="https://www.inaturalist.org/pages/network-join">εδώ</a>.</strong>
    </p>
    <img src="https://static.inaturalist.org/wiki_page_attachments/2647-original.png" style="width:100%" class="img-thumbnail stacked" />
    <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px">
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.naturalista.mx/">
        <img src="https://static.inaturalist.org/sites/2-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.argentinat.org/">
        <img src="https://static.inaturalist.org/sites/16-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://israel.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/15-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://ecuador.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/14-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://panama.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/13-logo.png" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.ala.org.au">
        <img src="https://static.inaturalist.org/sites/9-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.biodiversity4all.org/">
        <img src="https://static.inaturalist.org/sites/8-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://colombia.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/6-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.ca/">
        <img src="https://static.inaturalist.org/sites/5-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://www.inaturalist.nz/">
        <img src="https://static.inaturalist.org/sites/3-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.laji.fi/">
        <img src="https://static.inaturalist.org/sites/20-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.mma.gob.cl/">
        <img src="https://static.inaturalist.org/sites/18-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://greece.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/23-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://inaturalist.lu/">
        <img src="https://static.inaturalist.org/sites/26-logo.svg" width="100%"/>
      </a>
      <a style="width: 33%; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box;" href="https://uk.inaturalist.org/">
        <img src="https://static.inaturalist.org/sites/25-logo.svg" width="100%"/>
      </a>
    </div>

    <p>
      Το Δίκτυο iNaturalist αποτελείται από διάφορους οργανισμούς:
    </p>
    <ul>
      <li>
        <p>
          το Τμήμα iNaturalist του <a href="https://www.calacademy.org/">California Academy of Sciences</a> και το <a href="https://www.nationalgeographic.org/">National Geographic Society</a> που λειτουργεί το διεθνές iNaturalist.org και ολόκληρη την υποκείμενη υποδομή για το Δίκτυο
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.gob.mx/conabio">Comisión nacional para el conocimiento y uso de la biodiversidad (CONABIO)</a> supporting <a href="http://www.naturalista.mx/">NaturaLista</a> in Mexico
        </p>
      </li>
      <li>
        <p>
           το <a href="http://www.nzbrn.org.nz/">New Zealand Biodiversity Recording Network</a> που υποστηρίζει το <a href="https://inaturalist.nz/">iNaturalist NZ — MaŞtaki Taiao</a> (πρώην NatureWatch NZ) στη Νέα Ζηλανδία
        </p>
      </li>
      <li>
        <p>
           <a href="http://www.cwf-fcf.org/">Canadian Wildlife Federation (CWF)</a> along with <a href="http://www.pc.gc.ca/">Parks Canada</a>, 
          <a href="http://www.natureserve.org/natureserve-network/canada">NatureServe Canada</a>, and the <a href="http://www.rom.on.ca/en">Royal Ontario Museum (ROM) </a> supporting <a href="http://www.inaturalist.ca">iNaturalist Canada</a> in Canada
        </p>
      </li>
      <li>
        <p>
           το <a href="http://www.humboldt.org.co/es/">Instituto Humboldt</a> που υποστηρίζει to <a href="https://colombia.inaturalist.org/">Naturalista</a> στην Κολομβία
        </p>
      </li>
      <li>
        <p>
          το <a href="https://www.biodiversity4all.org/">Biodiversity4All</a> στην Πορτογαλία
        </p>
      </li>
      <li>
        <p>
          το <a href="https://miambiente.gob.pa/">MiAmbiente</a> που υποστηρίζει το <a href="https://panama.inaturalist.org/">iNaturalist Panamá</a>
        </p>
      </li>
      <li>
        <p>
          το <a href="http://www.biodiversidad.gob.ec">Instituto Nacional de Biodiversidad (INABIO)</a> που υποστηρίζει το <a href="https://ecuador.inaturalist.org/">iNaturalist Ecuador</a>
        </p>
      </li>
      <li>
        <p>
           το <a href="https://www.ala.org.au/">Atlas of Living Australia</a> που υποστηρίζει το <a href="https://inaturalist.ala.org.au/">iNaturalist Australia</a>
        </p>
      </li>
      <li>
        <p>
          το <a href="https://www.vidasilvestre.org.ar/">Fundación Vida Silvestre Argentina</a> που υποστηρίζει το <a href="https://www.argentinat.org/home">ArgentiNat</a>
        </p>
      </li>
      <li>
        <p>
          το <a href="https://www.haifa.ac.il/index.php/he/">University of Haifa</a> που υποστηρίζει το <a href="http://israel.inaturalist.org/">iNaturalist Israel</a>
        </p>
      </li>
      <li>
        <p>
           το <a href="https://laji.fi/en">Finnish Biodiversity Information Facility</a> που υποστηρίζει το <a href="https://inaturalist.laji.fi/">Naturalist Finland</a>
        </p>
      </li>
      <li>
        <p>
          το <a href="https://mma.gob.cl/">Ministerio del Medio Ambiente</a> που υποστηρίζει το <a href="https://inaturalist.mma.gob.cl/">iNaturalist Chile</a>
        </p>
      </li>
              <p>
          <a href="https://isea.com.gr/">iSea</a> and <a href="https://www.gnhm.gr/">Goulandris Museum of Natural History</a>  supporting <a href="http://greece.inaturalist.org/">iNaturalist Greece</a>
        </p>
      </li>
      <li>
        <p>
           <a href="https://www.mnhn.lu/">Εθνικό Μουσείο Φυσικής Ιστορίας του Λουξεμβούργου (MnhnL)</a> που υποστηρίζει <a href="https://inaturalist.lu/">iNaturalist Λουξεμβούργο</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://nbn.org.uk/">National Biodiversity Network Trust</a>, <a href="https://www.mba.ac.uk/">Marine Biological Association</a>, and <a href="https://www.brc.ac.uk//">Biological Records Centre</a> supporting <a href="https://uk.inaturalist.org/">iNaturalist United Kingdom</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.conagebio.go.cr/Conagebio/public/">Comisión Nacional para la Gestión de la Biodiversidad (CONAGEBIO)</a> supporting <a href="https://costarica.inaturalist.org/">Naturalista Costa Rica</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://conap.gob.gt/">Consejo Nacional de Áreas Protegidas (CONAP)</a> supporting <a href="https://guatemala.inaturalist.org/">iNaturalist Guatemala</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.artdatabanken.se/">SLU Swedish Species Information Centre</a> supporting <a href="https://www.inaturalist.se/">iNaturalist Sweden</a>
        </p>
      </li>
    </p>
  </div>
</div>
