<style type="text/css">
  /*@font-face { 
    font-family: Lato; 
    src: url("https://www.inaturalist.org/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: bold;
  }*/
</style>
<div style="
  border-top: 4px solid #228A22;
  border-bottom: 4px solid #228A22;
">
<a href="https://giving.inaturalist.org/login?form=supportinaturalist&segment=renmobile26&utm_campaign=2026ren&utm_medium=mobile&utm_source=iosandroid&utm_content=button&utm_term=2389&redirectTo=/" style="
  display: block;
  text-decoration: none;
  font-family: Lato, sans-serif;
  font-size: 100%;
  text-align: center;
  padding: 1rem 1rem 0.5rem 1rem; 
  background-color: white;
  color: black; 
">
  <h2 style="margin: .25rem 0 0.25rem 0; font-weight: bold;">To our supporters:</h2>

  <p style="margin: 0.25rem 0 1rem 0; font-weight: bold;">
    You're part of the exceptional 1% of iNaturalist users who also donate. Thank you! If you're enjoying iNaturalist this <span class="dayofweek"></span>, would you consider giving once more?  We wouldn’t need to ask if everyone who downloaded this app also donated, but it's important iNaturalist remains free and our nonprofit staff is only about 20 people. Thank you again!
  </p>


  <div>
    <img src="https://static.inaturalist.org/wiki_page_attachments/4699-original.png" style="width: 185px; height: 25px; vertical-align: bottom; margin-top: 0px; margin-bottom: 0px;"/> 
  </div>
</a>

<div style="display: flex; justify-content: center;">
<a href="#XKPLXUHB" style="display: none"></a>
</div>
</div>

<script>
const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
const d = new Date();
let day = weekday[d.getDay()];
Array.prototype.forEach.call( document.getElementsByClassName( "dayofweek" ), function( element ) { element.innerHTML = day; } )
</script>
