- content_for(:extracss) do
  = stylesheet_link_tag "admin/stats"
  :css
    .spark { width: 100%; height: 40px;}
    .spark path {
      stroke: deeppink;
      stroke-width: 1;
      fill: none;
    }
    .sparks label {
      text-align: center;
      font-size: smaller;
      color: #777;
    }
- content_for(:extrajs) do
  = javascript_include_tag "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart','annotationchart']}]}"
  = javascript_include_tag "admin/stats", "d3.min"
  :javascript
    var STATS_JSON = #{ @stats.to_json };
.container
  %h2 Stats
  .row.sparks
    .col-md-12
      %h3 100 Day Trends
    .col-md-2
      #obsspark.spark
      %label Observations
    .col-md-2
      #percentidspark.spark
      %label % ID'd
    .col-md-2
      #percentcidtogenusspark.spark
      %label CID'd to genus
    .col-md-2
      #activeusersspark.spark
      %label Active users
    .col-md-2
      #newusersspark.spark
      %label New users
    .col-md-2
      #new7obsusersspark.spark
      %label New users w/ 7 obs
  .row
    .col-md-12
      %h3 Observations (1 week moving window)
      #obs_7.stacked.vis
        .loading.status=t :loading
    .col-md-6
      %dl.meta
        %dt=t :obs
        %dd Created in prev 7 days
        %dt Obs ID'd
        %dd Created in prev 7 days and have an ID (could be observer's)
        %dt Obs CID'd
        %dd Created in prev 7 days and have a community ID
    .col-md-6
      %dl.meta
        %dt Obs CID'd to genus
        %dd Created in prev 7 days and have a community ID at or below genus-level
        %dt Active Users
        %dd Created an ID, obs, comment, or post in the previous 30 days
  .row
    .col-md-12
      %h3 Time to ID (hours, 1 week moving window)
      #ttid.stacked.vis
        .loading.status=t :loading
      %p.meta
        %strong TTID
        is time to receive an identification from someone else, and 
        %strong TTCID
        is time to receive an identification from someone else that matches the community taxon.
        These stats are made for observations created for a week prior, which means it will miss identifications added to observations after more than a week, and thus make the stats look lower than they would if you computed them again in the present, but they should still provide a decent measure for how fast the community is at identifying within 1 week windows.
      %p.meta
        Note that these stats are only for observations with photos.
  .row
    .col-md-12
      %h3=t :users
      #users.stacked.vis
        .loading.status=t :loading
    .col-md-6
      %dl.meta
        %dt=t :active
        %dd Created an ID, obs, comment, or post in the previous 30 days
        %dt=t :new
        %dd Signed up on this day
        %dt=t :identifiers
        %dd Added an ID to someone else's obs on this day
    .col-md-6
      %dl.meta
        %dt Recent
        %dd Signed up in prev 7 days
        %dt Recent w/ >= 5 obs
        %dd Signed up in prev 7 days and added >= 7 obs
        %dt Recent w/ 0 obs
        %dd Signed up in prev 7 days and added 0 obs
  .row
    .col-md-6
      %h3 Observations (cumulative)
      #observations.stacked.vis
        .loading.status=t :loading
    .col-md-6
      %h3 Observations By Rank
      #ranks.stacked.vis
        .loading.status=t :loading
  .row
    .col-md-6
      %h3=t :cumulative_users
      #cumulative-users.stacked.vis
        .loading.status=t :loading
    .col-md-6
      %h3 Projects
      #projects.stacked.vis
        .loading.status=t :loading
      
  #ranks_pie.stacked
    .loading.status=t :loading
