- content_for(:extracss) do
  = stylesheet_link_tag "admin/stats"
- content_for(:extrajs) do
  = javascript_include_tag "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart','annotationchart']}]}"
  = javascript_include_tag "admin/stats"
  :javascript
    var STATS_JSON = #{ @stats };
%h2 Stats
%h3 Observations and Identifications in last 7 days
#obs_7.stacked.vis
  .loading.status=t :loading
%h3 Observations
#observations.stacked.vis
  .loading.status=t :loading
%h3 Users
#users.stacked.vis
  .loading.status=t :loading
%h3 Projects
#projects.stacked.vis
  .loading.status=t :loading
%h3 Observations By Rank
#ranks.stacked.vis
  .loading.status=t :loading
#ranks_pie.stacked
  .loading.status=t :loading
