name: Pre Build

on:
  workflow_call:

jobs:
  pre-build:
    name: Pre-build
    runs-on: ubuntu-22.04
    steps:
    - uses: fkirc/skip-duplicate-actions@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        cancel_others: true
