name: Rails CI/CD Main Branch

on:
  push:
    branches:
      - main

jobs:
  pre-build:
    uses: ./.github/workflows/CI-pre-build.yml

  build-and-test:
    needs: pre-build
    uses: ./.github/workflows/CI-build-test.yml

  build-and-push-main-docker-image:
    name: Build/Push Main Docker Image
    needs: pre-build
    runs-on: ubuntu-20.04
    steps:    
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}  
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Build/Push Main inaturalist
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/inaturalist:${{ github.sha }}
          ${{ secrets.DOCKERHUB_USERNAME }}/inaturalist:latest

  refresh-main-staging-deployment:
    name: Refresh Main Staging Deployment
    needs: build-and-push-main-docker-image
    runs-on: ubuntu-20.04
    steps:
    - name: Refresh Main inaturalist
      uses: actions/github-script@v6
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |-
          await github.rest.actions.createWorkflowDispatch({
              owner: "inaturalist",
              repo: "staging-deployment",
              workflow_id: "CD-workflow-dispatch.yml",
              ref: "main",
              inputs: {
                "service-type": "rails",
                "service-version": "latest"
              },
          }).catch(error => error).then(response => {
            core.debug(response);
            if (response.status !== 204) {
              core.setFailed(`create workflow_dispatch received status code ${response.status}`);
            }
          });
     
  notify-slack:
    name: Notify Slack
    needs: build-and-push-main-docker-image
    if: ${{ success() || failure() }}
    runs-on: ubuntu-20.04
    steps:
    - uses: iRoachie/slack-github-actions@v2.3.2
      if: env.SLACK_WEBHOOK_URL != null
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_BUILDS_WEBHOOK_URL }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
