<%- place ||= autocomplete_item || @place -%>
<%= place.display_name %> <span class="small meta"><%= t("place_geo.geo_planet_place_types." + place.place_type_name.gsub(' ','_'), :default=>place.place_type_name) %></span>
