<%- 
  place ||= create_external_place_link || @place
  i ||= 0
-%>
<%= link_to 'import', places_path(:woeid => place.woeid), :method => :post, :style => 'width: 20%', :class => 'button' %>
<%= link_to_function "#{'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[(i % 26)..(i % 26)]}. #{place.name}", 
  "importMap.panTo(new GLatLng(#{place.latitude}, #{place.longitude}))",
  :class => 'namelink' %>
<% if place.geoplanet_response -%>
  <span class="small description">
    <%= place.geoplanet_response.placetype %> in 
    <%= [place.geoplanet_response.admin1, place.geoplanet_response.country].delete_if(&:blank?).join(', ') %>
  </span>
<% end -%>
