<% if @taxa.blank? -%>
  <div class="noresults meta">
    <% if @filter_params.blank? -%>
      No species have been listed for this place yet!
    <% else %>
      No matching species.
    <% end -%>
  </div>
<% else %>
  <% for taxon in @taxa %>
    <%= render :partial => "listed_taxa/guide_taxon", :locals => { :listed_taxon => @listed_taxa_by_taxon_id[taxon.id], :taxon => taxon } %>
  <% end %>
  <%= will_paginate @taxa %>
<% end -%>
<script type="text/javascript" charset="utf-8">
  var taxa = <%= @taxa_by_taxon_id.to_json(:methods => [:common_name]) %>
</script>
