<div class="identotron_taxa <%= 'comprehensive' if @comprehensive %>">
  <% if @taxa.total_pages == 0 -%>
    <div class="noresults meta">
      <% if @filter_params.blank? -%>
        No species have been listed for this place yet!
      <% else %>
        No matching species.
      <% end -%>
    </div>
  <% else %>
    <% for taxon in @taxa %>
      <%-
        listed_taxon = @listed_taxa_by_taxon_id[taxon.id] if @listed_taxa_by_taxon_id
        # cache_key = listed_taxon.guide_taxon_cache_key
      -%>
      <%= render :partial => "places/identotron", :locals => { :listed_taxon => listed_taxon, :taxon => taxon } %>
    <% end %>
    <%= will_paginate @taxa, :params => {:action => 'guide'} %>
  <% end -%>
</div>