<%- 
  place ||= place_li ||= @place
  extra ||= nil
-%>
<li class="clear">
  <%= link_to h(place.display_name), place, :class => 'namelink' %>
  <span class="small description">
    <%= place.place_type_name %>
  </span>
  <%= extra %>
</li>
