<%-
  place = object || resource
  updates ||= []
  observations = if @update_cache && @update_cache[:observations]
    updates.map{|u| @update_cache[:observations][u.notifier_id]}
  else
    updates.map{|u| u.notifier}
  end
  default_observation = observations.first
  columns ||= @observation_columns || 6
-%>

<table border="0" cellspacing="0" cellpadding="0">
  <% for obs_group in observations.in_groups_of(columns) %>
    <tr>
      <% obs_group.compact.each_with_index do |o, i| %>
        <td width="75" align="center" valign="top" style="<%= 'padding-right: 10px;' if i < columns-1 %> padding-bottom: 10px; max-width:75px;">
          <%= link_to observation_image(o, :style => "max-width: 75px; max-height: 75px;"), observation_url(o), :only_path => false %>
          <br/>
          <%= link_to o.species_guess || "Something", observation_url(o), :style => "font-size:smaller;" %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>