<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="<%= I18n.locale %>">
  <head>
    <title>iNaturalist is Catching Some Zs</title>
    <style type="text/css" media="screen">
      body {
        margin: 0;
        padding: 0;
        font-family: "Trebuchet MS", Arial, sans-serif;
        color: #333;
      }
     
     .datetime {
       color: #65A12B;
     }
    </style>
  </head>
  <body>
    <center>
      <h1>
        iNaturalist is Catching Some Zs
      </h1>
      <p>
        We're currently down for <%= reason ? reason : "maintenance" %> as of
        <span class="datetime"><%= Time.now.strftime("%H:%M %Z") %></span>.
      </p>
      <p>
        iNat will be back on its feet/wings/fins/tentacles/pseudopodia
        <span class="datetime"><%= deadline ? "by #{deadline}" : "shortly" %></span>.
      </p>
    </center><!-- rock on, center tag! -->
  </body>
</html>
