#licensing.form-group.checkbox
  %label
    %input#license-all{ type: "checkbox", checked: true }
    #license-fields
      = f.check_box :preferred_observation_license, { checked: true }, Observation::CC_BY_NC
      = f.check_box :preferred_photo_license, { checked: true }, Observation::CC_BY_NC
      = f.check_box :preferred_sound_license, { checked: true }, Observation::CC_BY_NC
    %span
      - if child
        =t :yes_license_my_childs_observations
      - else 
        =t :yes_license_my_observations_so_scientists_can_use
      %button#licensing-button.btn.btn-nostyle{ type: "button", data: { toggle: "modal", target: "#licensing-modal" } }
        =t :learn_more
  #licensing-modal.modal.fade{ tabindex: -1, aria: { labelledby: "licensing-button" }}
    .modal-dialog{role: "document"}
      .modal-content
        .modal-header
          %button.close{:type => "button", "data-dismiss" => "modal"} &times;
          =t :about_licenses
        .modal-body=t :check_this_box_if_html
