<%- content_for(:title) do -%>
  <%= @title = t(:join_inat, :site_name => CONFIG.site_name) %>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.time_zone_select').selectLocalTimeZone();
    })
  </script>
<%- end -%>
<h2><%= @title %></h2>
<div class="stacked">
  <%= render_in_format :html, :partial => 'users/new_form' %>
</div>
